---
import GlobalStyles from "../../../components/GlobalStyles.astro";
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card.astro";
import Navbar from "../../../components/Navbar.astro";
import Footer from "../../../components/Footer.astro";
---

<Layout
  title="Rumpel Stiltskin | Books and Stories - Published Works"
  description="Published books and stories by Rumpel Stiltskin"
  image="/images/logo.png"
>
  <Navbar />
  <main>
    <div>
      <br />
      <br />
      <br />
    </div>
    <div class="grid">
      <div class="big-cover">
        <img src="/images/authors/solumender.jpg" />
      </div>
      <div class="book-description">
        <p class="emp grey">AUTHOR</p>
        <div class="book-title-container">
          <div class="title">Solum Ender</div>
        </div>

        <div class="bigger">
          <p>
            Solum Ender is a storyteller forged in the fires of war and the
            shadows of myth. A former special forces operative, he spent decades
            navigating the battlefields of reality before turning to the page,
            writing dark, apocalyptic fiction that explores humanity at its most
            primal. Drawing on his experiences with violence, loss, and
            survival, Solum crafts gritty, myth-inspired worlds where legends
            bleed, heroes are flawed, and the line between reality and fable
            blurs.
          </p><p>
            His novels fuse the rawness of war with the haunting beauty of
            ancient myths and fairy tales, offering stark, introspective
            journeys through shattered civilizations and fractured souls. Brutal
            and emotionally charged, his work brings timeless themes to life
            with visceral detail, inviting readers to confront the collapse of
            worlds, the fragility of the human spirit, and the struggle for
            meaning amidst chaos.
          </p><p>
            When he’s not writing, Solum lives a quiet, reflective life off the
            grid, surrounded by wild nature, old books, and the memories of a
            past that’s both haunted and inspiring. Unflinchingly honest, his
            stories dig beneath the surface, exposing the darkness—and
            sometimes, the light—that lies within us all.
          </p>
        </div>
      </div>
    </div>

    <div class="monster">
      <div class="center">
        <p class="emp grey">BROWSE BOOKS</p>
        <h1>Upcoming Releases</h1>

        <br /><br />
      </div>
      <div class="grid">
        <div class="book-item">
          <div class="cover">
            <a href="/books/the-virus/" class="small-cover shadowbox">
              <img src="/images/covers/biodome.jpg" />
            </a>
          </div>
          <div class="author emp grey">SOLUM ENDER</div>
          <div class="book-title">Biodome</div>
        </div>

        <div class="book-item">
          <div class="cover">
            <a href="/books/the-virus/" class="small-cover shadowbox">
              <img src="/images/covers/willow.jpg" />
            </a>
          </div>
          <div class="author emp grey">SOLUM ENDER</div>
          <div class="book-title">Willow</div>
        </div>

        <div class="book-item">
          <div class="cover">
            <a href="/books/the-virus/" class="small-cover shadowbox">
              <img src="/images/covers/end-of-days.jpg" />
            </a>
          </div>
          <div class="author emp grey">SOLUM ENDER</div>
          <div class="book-title">End of Days</div>
        </div>

        <div class="book-item">
          <div class="cover">
            <a href="/books/the-virus/" class="small-cover shadowbox">
              <img src="/images/covers/the-wish.jpg" />
            </a>
          </div>
          <div class="author emp grey">SOLUM ENDER</div>
          <div class="book-title">The Wish</div>
        </div>

        <div class="book-item">
          <div class="cover">
            <a href="/books/the-virus/" class="small-cover shadowbox">
              <img src="/images/covers/winter.jpg" />
            </a>
          </div>
          <div class="author emp grey">SOLUM ENDER</div>
          <div class="book-title">Winter</div>
        </div>

        <div class="book-item">
          <div class="cover">
            <a href="/books/the-virus/" class="small-cover shadowbox">
              <img src="/images/covers/the-virus.jpg" />
            </a>
          </div>
          <div class="author emp grey">SOLUM ENDER</div>
          <div class="book-title">The Book of Lies</div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang="scss"></style>
