---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Greg | Chapter 1 - Champagne and roses'
  description='Greg novel by Rumpel Stiltskin'
  image='/images/greg.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <p class='emp grey'>GREG</p>
          <h1>Chapter 1 - Champagne and roses</h1>
          <div class='biggest'>
            <p>
              The car drove fast through the streets of New York, soft classical music playing through speakers. I
              clicked on the digital control panel, and a tray with champagne flutes came out. I filled the two with
              Dom, giving Lucy one and clinking our glasses. We drank in silence. Lucy’s eyes were everywhere. Her hands
              explored the soft ostrich leather of the car seats, the fine finishing, everything she could touch. She
              found the whole situation surreal and went with it. There was nothing to lose. Ending up in an exquisite
              car of an obviously wealthy, handsome stranger was a perfect way to end a bizarre night; indeed, a
              memorable eighteenth birthday.
            </p>

            <p>
              I must have dozed off, listening to Nocturnes, spacing out in memories, stirring when I felt the car stop
              and pass multi-level security access. The driver used access cards, clearing the visual and biometric
              checks before entering the codes for the ramps and electric traffic barriers to let us through into a
              private underground garage. Most of the cars had allocated parking bays. I, however, had a whole dedicated
              section with a separate internal access gate and added security. Dozens of vehicles were parked there, all
              of them mine.
            </p>

            <p>
              The driver stayed by the car while an armed security guy walked us to the elevator, where I pressed my
              floor and typed in the code. Most people owned apartments on their levels, some bigger, some smaller,
              depending on their needs and financial status. When I first saw the place, I bought the whole floor and
              had it remodelled as one large apartment. I like spacious homes with lots of light. Since my apartment
              took the entire highrise building level, I had windows on all four sides. The elevator came out of the
              central load-bearing shaft in the middle, and since I owned the whole floor, it was code locked to prevent
              unwelcome guests from accessing my place.
            </p>

            <p>
              A few wealthy people lived in the building. I was told that all six floors above me were owned by a single
              guy that I had never met. Nobody would reveal who he was, no matter how much money I offered in bribes.
              The rest of the building was made with apartments for the rich and powerful, a veritable who’s who of New
              York’s elite. A good proportion of them were the crash-pads for men, where they brought their various
              consorts for a night or a weekend before going back home to their families and wives.
            </p>

            <p>
              “Hello Greg, welcome home. It’s been seven hundred and twelve days since your last visit”, a house
              computer chimed as I got in, and the facial recognition system identified me. Lucy followed inside, not
              knowing where to look first. The place looked exquisite. Polished modern furniture, beautiful decor, and
              expensive artwork hanging on the walls were carefully arranged to radiate simplicity and opulence.
            </p>

            <p>
              Lucy was drawn to the glass wall and panoramic view of the city at night, visible from all sides. The
              building was in one of the most sought-after areas of Manhattan. Its height ensured a breathtaking view of
              the cityscape wherever one looked. It was the deciding factor when I chose to live here.
            </p>

            <p>
              “Make yourself at home”, I told Lucy before heading to the central shower. It was a custom-made, sizeable
              rectangular glass enclosure in the middle of the apartment touching the ceiling. It featured a set of
              nozzles, delivering perfect water temperature at various pressures. All of it was voice-controlled with a
              digital display on the floor for manual corrections if needed. The nozzles in the ceiling controlled the
              delivery of designer shampoo, body wash and conditioner, while the state of the art quiet air extractors
              and ventilation system ensured no misting on the glass walls. The shower booth itself was large enough to
              comfortably fit ten people at a time.
            </p>

            <p>
              I let the high-pressure jets of hot water remove all the mud and caked dirt from my body, massaging my
              skin before asking for soap. The jets paused, and body wash dripped. I scrubbed and rinsed my head two
              times before applying the conditioner and washing it out. I always loved the water. That’s why the place
              had so many custom water features, which was strange because I hated rivers, always afraid of drowning in
              them.
            </p>

            <p>
              I took some time for Lucy to finish inspecting the apartment, finding it hard to peel herself away from
              the windows and the sight of the city below. The place was built following modern design principles. The
              kitchen, bathroom, washroom and such were centrally located, adjoining the elevator. They opened out to
              living and dining areas with the building’s glass walls on the far side. The rooms could be accessed
              following windows or using the hallway through the central section. It created a sense of endless open
              space. I hired the best architects and interior designers to make a masterpiece of modern living without
              compromising on the view from any side. The place was vast and uncluttered in a deliberate balance of
              usability and aesthetics. All rooms were fitted with exquisite custom-made furniture, following “feng
              shui”, traditional eastern geomancy principles. I flew over a Chinese specialist from Beijing just for
              that.
            </p>

            <p>
              Lucy finally sat on the sofa, seeing the stranger shower through the glass wall. She found the sight so
              decadent and erotic that she couldn’t stop herself from watching. While observing the stranger shower,
              ignoring her presence, Lucy felt entranced, flushed, and turned on more than ever before in her whole
              life.
            </p>

            <p>
              For some reason, Lucy couldn&#39;t stop staring at the man’s muscular six-foot-four body, chiselled
              features, and impressive manhood. There was something almost enchanting about him. Ever since she first
              saw the stranger, she was excited and aroused, finding herself drawn to him. He had an almost surreal pull
              she couldn’t explain. Whether it was his body or eyes, the way he spoke or touched her, she found him
              irresistible, and for the first time in her life, she tasted a deep, profound desire. Unlike simple sexual
              arousal when conjuring up images of random men like when she masturbated or watched internet porn, this
              was something different. It was profound and primal, something that doesn’t nudge or suggest but demands,
              something stomping its foot, screaming “now” like a petulant child that won&#39;t be denied.
            </p>

            <p>
              At length, I finished and got out of the shower, heading to the bathroom, emerging fifteen minutes later
              dry and nice smelling with clean teeth and fresh breath. I smiled at Lucy, seeing her stare at me with
              thinly veiled lust. They say that lust is a deadly sin. It was the sin I loved the most.
            </p>

            <p>
              Her face flushed a deep shade of red, and she smiled back. She knew that I was aware of her desperate
              state. Turning around, I walked into the bedroom. It really was one centrally placed wall with a large
              custom made bed and perfect mattress pointing at the glass wall and the panoramic view of New York. I lay
              on the bed, enjoying the feel of high thread count linen and the soft smoothness of thick satin covers.
            </p>

            <p>
              I must have dozed off. The next thing I felt was a smooth, warm naked body rubbing against mine. Lucy
              wrapped herself around me, her head on my chest, inhaling my scent in long, deep breaths. Her gentle hand
              explored my body, twirling my chest hairs slowly on its inevitable journey to my privates. I felt her
              long, feminine fingers wrap around my growing erection, squeezing my cock, testing the length, measuring
              its girth. I pretended to sleep, letting her explore my body and get comfortable with it. The burning heat
              emanated from between Lucy’s legs. The desperate need on her stuttering breath and the rapid heartbeat in
              her chest gave her away. Lucy was turned on like never before.
            </p>

            <p>
              She started unconsciously gyrating her hips, rubbing her pussy against my leg. I judged it was time, so I
              turned my head, and our lips met. First slowly, then with the growing intensity, we kissed, then kissed
              harder. She stopped in panic as I climbed on top of her, then whispered, “I’ve never done it,” as if I
              didn’t know already. Like a big bad wolf, I could smell a virgin a mile away. She closed her eyes, feeling
              my lips on hers. Kissing her gently, I made my way to her neck. She made a hissing sound inhaling a deep
              breath, feeling my teeth on her skin. My hands explored her small but beautifully shaped feminine breasts,
              gently rolling her peaking, erect nipples between my fingers.
            </p>

            <p>
              Lucy was beyond caring about what happened next. Her neurones fired, lighting her up like a Christmas
              tree. Little involuntary moans came out of her lips between gasps, her neck and chest flushed red from
              incredible arousal while her skin was covered in goosebumps.
            </p>

            <p>
              I kissed her body, slowly making my way to her exquisite virgin pussy. Her hips gyrated in sweet, endless
              torment. She wanted to be taken, fucked in the most primal of ways. Every inch of her body responded to my
              touch, sending her higher but never closer to her ultimate release. I always had a thing for the virgins.
              Their desperate eagerness, the need, the fear in their eyes, internal struggle and ultimate surrender. The
              look in their eyes as they were made a woman, their first peak, the wave of emotions surging through their
              whole being, made me feel connected to that one moment of intense bliss. It felt like they gave their soul
              to their first man when done the right way, binding them together. I never understood men who rushed that
              moment, seeking their own release instead. It would be like eating fine chocolate together with the
              wrapping, ruining both texture and taste with impatience.
            </p>

            <p>
              My lips reached Lucy’s quivering pussy. She gave out a little yelp turning quickly into wanton moans as
              she felt my tongue penetrate her folds. I licked her, sucking her perfect nub like a connoisseur of virgin
              flesh. It was a rare thing these days, and I took my time. For this one time, she was a virgin, and
              she&#39;ll be just a woman for the rest of her life. I was in no rush. I licked and sucked, careful not to
              take her too far. I didn’t want her to cum just yet. Selfishly I tortured her for as long as her young
              body could endure; until every atom screamed “cum” until the slightest touch could push her over.
            </p>

            <p>
              Her eyes opened wide when she felt my cock pass the entrance of her overexcited orifice. In ultimate need,
              she pleaded for me to fuck her, to make her a woman, while her eyes betrayed fear. I slowly pumped the tip
              of my cock in and out, gently just touching her hymen. She started to pant and roll her head, her hips
              moving up and down, trying to impale her pussy on my rigid member.
            </p>

            <p>
              I forced my cock inside her in one swift, brutal motion, ripping away her hymen, ending her childhood. I
              made her a woman in one powerful stroke. She screamed and howled and screamed some more. Her muscles
              tensed, and I heard her joints crackling. She gasped and growled, fighting for air. Her first orgasm as a
              woman was more intense than anything she had felt in her life. It took over her body, her mind and soul.
              Nothing mattered anymore, just that fierce deep feeling. Even in a not fully lucid state, Lucy knew deep
              down inside her that nothing else mattered; nothing ever would. She was addicted to cumming like that and
              wanted more, no matter how she got it.
            </p>

            <p>
              Seeing her orgasm ebb, I started to pump with all of my power. I’d pull out slow till only the tip
              remained inside, then rammed my cock back into her as if I was trying to hurt her. Harder and faster, I
              fucked her; blood and her juices frothing outside. She cried and screamed, “fuck me”, losing her mind in
              desperate need. Her second orgasm, chained to the last one, hit her like a freight train. She gurgled and
              moaned, pleaded and begged. I sucked her nipples and squeezed her breasts. Her long nails dug deep into my
              back, scratching me all over.
            </p>

            <p>
              I rode her without mercy, even after she begged me to stop, shouting, “no more, please, can’t take it, I
              beg you”. I slapped her face, then kissed her hard, and she was back in the game. After two hours of
              merciless pounding, I felt my orgasm surge from deep inside. She felt something was going to happen and
              sensed that I was about to cum and fill her pussy with sperm for the first time. She tried to beg, “no,
              please don’t, I’m not on a pill”, but all that came out was a quiet whimper. Her body climbed to a new
              high as I jackhammered her hard. At one moment, my orgasm exploded. An endless blast of hot fresh sperm
              erupted from my throbbing cock, hosing her insides with burning hot semen.
            </p>

            <p>
              The feeling of being seeded for the first time in her life set Lucy off in the most intense orgasm. She
              screamed, flapped and hissed, her teeth biting my hand, drawing blood from the intense unstoppable
              feeling. Lucy felt like a volcano erupted inside her, her heart pounding like it would explode. She fought
              for air, gulped and gasped, her hands throwing pillows, pulling on the sheets. The world turned black,
              then white and sparked. She gasped and howled then she was gone. She passed out, her mouth drooling.
              Finally, her brain couldn’t take anymore. It checked out to keep her sane.
            </p>

            <p>
              I moved her gently to her side, then carefully got behind her, spooning her wrapped in my arms, leaving my
              cock buried inside her. With the soft, warm body of a no-longer virgin snuggled tightly, I closed my eyes
              and fell asleep.
            </p>

            <hr />

            <p>
              “What is this?” Ana said, gasping in terror, seeing her husband bring in the same quilted scarf she used
              to wrap her stillborn son in and send Yefim to bury him like the others. She couldn’t take it anymore, and
              her tears had long since dried out. It was their eighth child that died, but the married couple kept
              trying and praying to the Lord our God to no avail.
            </p>

            <p>
              It was a hard life being a peasant in the early nineteenth century. There was never enough, but the couple
              fared better than others. Yefim was strong and enterprising. He had a second job as a courier for the
              government, a stable income offsetting fickle weather, allowing the couple to live a reasonable life and
              afford a few luxuries compared to some neighbours in the village.
            </p>

            <p>
              Yefim was smart, strong and virile, but he was cursed. At least, that was what others said. They had seven
              children, and seven of them died. Seven little souls were sent to God to live in his kingdom, forever,
              eternal, but it took a terrible toll on their mother. Yefim just steeled himself as he took seven of his
              dead daughters, wrapped in a scarf and took them to the edge of the forest where he dug up seven little
              graves, laying them to rest one next to another.
            </p>

            <p>
              Yefim kneeled at the graves seven times, looking up at the endless sky and asking, “why? What have I done
              to deserve it? Didn’t I pray enough?” But heaven never responded, other than its tears falling on Yefim’s
              face. He didn’t need the answer; he knew what he had done. Life for life; it was the old law. One would
              think that seven would be enough to pay for the two he took.
            </p>

            <p>
              Secretly, at least once a week, Yefim would go to the forest, kneel by the graves and pray for his dead
              daughters. He lived a life of quiet desperation, always wearing a smile and straight face in front of his
              wife or other people, lest they shamed him as a man.
            </p>

            <p>
              He prayed to God, Jesus, Mary and Joseph. He brought gifts to the forest to beg the old gods of the
              legends, the nameless, even Veles himself, but nothing helped. What was born dead could not be made alive.
              It was the law older than time. The child couldn’t be born out of death. The light of a candle could never
              be stolen.
            </p>

            <p>
              Seven times Yefim left the house, carrying the burden of a father burying his children. He was a strong
              man, but after the seven, his strength failed. With his eighth child dead in his hands, the man finally
              broke. As soon as he cleared the house, the father burst into tears. They dripped down on his dead son,
              looking so peaceful, forgiven by God.
            </p>

            <p>
              Like in a dream, Yefim walked, passing houses and fields, passing the graves of his children. He walked
              deep into the forest, lost in his grief, in his pain and desperation. It was the punishment he deserved,
              to feel like she did once. He walked for hours, wondering without care, till he came to a clearing with
              only one white tree. It was massive, alight with fireflies, as if it was on fire, immediately reminding
              him of a story he once heard but never believed.
            </p>

            <hr />

            <p>
              Lucy woke up almost at eleven, stretching her supple teenage body over soft satin sheets. She slept so
              well, feeling rested and carefree, breathing-in purified, lightly scented air. Life was good; it was a
              great time to live. Suddenly her eyes popped open as the memories of last night flooded. “Omg, I didn’t
              dream it”, she whispered, sitting up on the bed with a start, looking around, Manhattan bowing at her
              feet. She quickly got up and tiptoed to the toilet, sat down, whispering to herself, “Omg, Omg, What have
              I done? I slept with a random guy” She checked her pussy. It was still sore from last night’s relentless
              sex. “Omg, I’m not a virgin anymore. He fucked me” She felt enormous shame, her face blushing a deep shade
              of red. The memories of her incredible endless orgasms replayed in her head, turning her on. “I am such a
              slut. I don’t even know his name. Oh, wait; he said, Greg”. She sat on a toilet for some fifteen minutes,
              slowly emerging outside, lightly trembling.
            </p>

            <p>
              Lucy was flushed in her face, her nipples extended, her pussy was wet, feeling deeply embarrassed. She
              made her way to the kitchen, where she smelled the intoxicating scent of freshly brewed coffee. In a
              futile attempt to hide her naked body behind open-plan furniture, Lucy watched Greg prepare breakfast,
              still in the nude. Her pussy felt hotter seeing his body “he fucked me”. She shook her head, trying to
              clear it from thoughts of last night; how he penetrated her and mercilessly fucked her, made her cum and
              cum more and how she “stop it” Lucy admonished herself, trying to focus.
            </p>

            <p>
              Sensing Lucy’s eyes on me, I ignored her, letting her work things out in her head. Done with cooking, I
              served two plates, took them in my hands and smiled at her “please bring the coffee”, I said with a smile,
              our eyes making contact. I watched her follow me, red as a lobster, carrying two mugs of fresh brew as I
              sat down at the table and ate.
            </p>

            <p>
              Lucy couldn’t bear my lecherous grin. She lowered her head, avoiding my eyes, as they focused on her perky
              extended nipples. It was apparent that she was aroused, even without paying attention to her flushed face,
              neck and chest. We ate in silence. Occasionally, Lucy would give me a shy glance to find me still leering.
              She slowly relaxed, sipping her coffee and making little “mmm” sounds. “What’s funny?” She asked, giving
              me a look after hearing my chuckle. “You are just so cute”. Lucy blushed a deeper shade of red. “Come
              here”, I called. Despite her deep embarrassment, she got up, took her mug and sat on my lap, goosebumps
              breaking out all over her skin, responding to my touch. I pulled her closer and kissed her lips. She
              exhaled loudly, kissing me back with some force, moaning passionately into my mouth when I squeezed her
              breast and pinched her nipple.
            </p>

            <p>
              Lucy’s shyness quickly evaporated, replaced by need. We kept playing like that, drinking coffee until
              nothing remained. I got up, slapped her ass and told her, “go, take a shower, you sexy thing”. She giggled
              and ran to the glass shower box while I made another cup for myself and sat on a sofa, watching her bathe.
              As soon as Lucy figured out she’s got an audience, she started acting, slowing down, moving sensually like
              she saw strippers do on film.
            </p>

            <p>
              Never before did Lucy even think of doing something like that. She knew she was cute, but all that
              bullying in the past made her feel very self-conscious and modest around people. Nobody had ever seen Lucy
              naked before, let alone performing in a glass shower for a man she knew less than a day. A man whom she
              let take her virginity and literally fuck her unconscious. It turned Lucy on to no end to be watched like
              this, to perform for a man who deflowered her, who clearly wanted to fuck her again, unapologetic about
              it. For the first time, she felt truly desired.
            </p>

            <p>
              Many boys at school wanted to stick their little peckers inside her, etch another notch on a headboard and
              high-five their friends. All pretty girls went through that experiences, some ugly ones as well. Greg,
              however, wanted to fuck her because she tasted good and because she was a good lay. There was no doubt he
              wanted to fuck her for the pleasure of sex itself, his and hers alike. Greg had no other motive, no hidden
              agenda, no headboard. He desired to take her as a woman, stick his cock in her, make her cum and cum
              again, fill her up with his hot spunk, and then fuck her some more because it felt great.
            </p>

            <p>
              Never before did Lucy see such primal hunger in a man. It made her feel beautiful, sexy and desired. It
              made her think she had something of enormous value, and she wanted to give it to him. Her body tingled,
              her pussy burned, her tits ached, nipples begged to be touched. Her gyrating turned to touches. She rubbed
              her breasts, squashing them against the wet glass. Her hand slithered between her legs, rubbing her pussy,
              fingering it, squeezing her tit, pulling her nipple. She lost control of her own body. The only thing that
              mattered was her next fix.
            </p>

            <p>
              Slowly she sat down on the floor facing me, her back resting against the glass, punching her fingers into
              her sopping pussy, her eyes locked onto mine. A strong water jet sprayed right at Lucy’s clit while she
              rubbed it with her other hand, intermittently kneading her breasts. She felt her arousal climb, moaning
              and panting like a dog, getting ever closer. Losing the rhythm of her pussy fingering, she concentrated
              all efforts on her clit. A blast of water hit the right place. She arched her body to meet it, using both
              hands to spread her pussy like a common whore in a cheap porn flick. At that moment, the orgasm hit her.
              She moaned and screamed, never breaking her eye contact. It took her a few minutes to come down from her
              post-orgasmic cloud. Lucy breathed heavily, feeling like an exhibitionist slut, wondering what was wrong
              with her to act this way.
            </p>

            <p>
              Just as the deep feeling of shame started to set back in, I got up, clapping. This made Lucy blush even
              more, yet somehow, it turned her on; this sense of humiliation made her hot. The feeling of being a slut
              excited her; it made her pussy tingle and her nipples itch. She caught her hand subconsciously rubbing
              gently against her clit and got up, starting cold water to cool herself down. A high-speed ceiling fan
              kicked in as she finished, air-drying her instead of using towels. She spread her arms and legs, feeling
              the warm air remove every drop of water from her body, drying her hair in the process. She thought,
              amazed, that this was the best shower she’s ever experienced, wondering how she could have lived her whole
              life without one.
            </p>

            <p>
              “Where are my clothes?” Lucy asked when she got out of the shower, looking around. “I threw them into the
              trash. Wait there, I’ll get you something to wear”. I could see her eyes tearing up at what I said. I
              assumed those were her better clothes, and I just tossed them down the garbage chute. While she was frozen
              in shock, I pulled out a soft, pink Juicy Couture cargo jogger with a matching hoodie and handed it to
              her. It was a perfect fit for her five-foot-six slim frame. After putting it on, Lucy already looked a
              million times better. I saw that she wanted to curse me for what I’d done, but she caught herself in a
              mirror, and the words got stuck in her mouth. She looked gorgeous, all the clothes fitting her petite
              extra-small frame perfectly. Lucy really liked her new looks, not to mention that it was probably worth
              twice all her clothes combined.
            </p>

            <p>
              While she imitated a cockatoo in front of a mirror. I quickly changed into my limited edition Evisu jeans.
              Put on soft Prada shoes, a Versace t-shirt popping on top, and a smart-casual jacket handmade for me by
              the good tailors of Saville Row. I took her hand into mine and led her barefoot to the lift and the
              garage. The driver waited for us with the doors open and drove us to a new exclusive fashion mall not far
              from the apartment.
            </p>

            <p>
              Everyone inside stared at a tall, well-dressed man pulling a barefoot girl by her hand. It made me chuckle
              and made Lucy blush. The whole situation was humiliating; she was turned on to no end. She tried to keep a
              straight face, which forced her to focus on what was going on, and that made her even hotter. It was a
              vicious circle and so much fun. The mall wasn’t packed as there wasn’t a single item that cost less than a
              hundred bucks. A bunch of gorgeous tall girls browsed around, spending their daddy’s money, looking for
              something soft to wear for him later that night. They looked at Lucy with a frown, turning towards me with
              a big, knowing smile.
            </p>

            <p>
              I led Lucy straight to the beauty salon right across the hall. A pretty woman in her mid-thirties
              approached me. I twirled Lucy around, saying, “everything”. Immediately two personal shoppers appeared out
              of nowhere, offering their services to help me find something for Lucy to wear. The beauticians led lucy
              into a treatment room, quickly stripping her down. They didn’t even flinch, seeing she wore no underwear.
              The first beautician pointed at Lucy’s pussy, noticing light stubble, asking me, “what do you want to do
              with this?” I just said, “get rid of it.”
            </p>

            <p>
              Lucy was so flushed in her face, like a ripe tomato ready to be eaten. Everyone treated her like a rich
              man’s fuck toy, especially the rich man who brought her in. She felt her pussy get wet from the turn-on,
              making her blush even more. The two assistants took their tape measures, and in a few quick minutes, they
              had Lucy’s exact numbers. They even made her stand on a device measuring the correct shoe size.
            </p>

            <p>
              I waved Lucy goodbye while the two personal shoppers led me to the centre aisle, sensing they would make
              their monthly sales quotas that day. There was no secret why girls were hired, one sexy blonde and willowy
              brunette, both tall and slender, prime specimens of femininity oozing with sex appeal. We started with
              shoes; I always loved the sexy high-heels. Both salesgirls were about the same shoe size as Lucy, so I
              made them wear and parade the selection for me. Judging by their ear-to-ear smiles, that’s precisely why
              they got into this business. As employees, they weren’t allowed to try the expensive merchandise. Still,
              they were excited to oblige since the customer asked them.
            </p>

            <p>
              They wore the heels up and down the room, circling around me, enjoying the fun. I chose six pairs of shoes
              and put them to the side; the girls loaded them into a trolley with jealous looks in their eyes. Next were
              the purses, bags and apparel, moving on to jeans, shorts, t-shirts, jackets and casual dresses. I saw the
              girls lose the motivation to sell stuff; instead, they just had great fun. Pretending to be able to wear
              all these lovely clothes allowed them to fantasise about a different life.
            </p>

            <p>
              I stopped them there for a while, asking for coffee. The girls immediately brought a tray with drinks. I
              forced them to join me, so they took a few sodas, thankful that I insisted. It didn’t take a genius to
              figure it out; in this shop, a rich customer was a god. We sat there, taking a quick break, which somehow
              gave the girls a signal to talk. They poured out their whole life and ambitions, the long story of how
              they ended up there. In broad strokes, they were models. They always dreamt of wearing designer clothes.
              The girls had the looks and curves in the right places; they just struggled to find well-paying
              assignments.
            </p>

            <p>
              New York is hard to live in, with too much competition. They had to find some alternative work, so they
              worked part-time in stores for minimal pay plus the commission. Working there, however, was tantalean
              punishment. Being so close to all the clothes they dreamed of wearing, not being allowed to touch them. To
              always see them bought for others, neither one of them able to afford even a single piece for themselves.
            </p>

            <p>
              “I tell you what”, I said, smiling. “It will be a while before the salon is done with Lucy. How about you
              go nuts and have a play. Dress up how you like, try what you want, and if I like it, I will buy that.” The
              girls looked at each other, then back at me, their lips showing a wicked smile. I just gave them their
              dream, if just for a few hours and they were resolved to make it count.
            </p>

            <p>
              The girls raided the store like Mongol pillagers, pulling out everything they wanted to wear, even the
              stuff from the back storage, pulling out the things to be shipped and returned orders. I sat comfortably
              in a plush chair, watching the changing rooms and the girls parading in and out. They smiled and giggled,
              strutting towards me, posing like on a runway, then walking back, wagging their tails seductively at me.
            </p>

            <p>
              It all started as fun and a game, but soon the excitement of the situation took over. The salesgirls
              weren’t just trying the clothes but teasing. They would walk up, with eyes locked on mine, giving me
              seductive smiles, then pose just for a second before walking back, turning around, making sure I was
              checking out their sexy behinds.
            </p>

            <p>
              At first, the girls kept closing the changing-room doors, then they left them ajar, giving me little
              peaks. Before long, they didn’t bother closing them at all. The girls would get into the changing room
              with the doors wide open and pretend they don’t see it, undress and change. I was happy we left lingerie
              last. They started with Agent Provocateur, then riskier brands.
            </p>

            <p>
              The girls didn’t bother perpetuating the charade anymore. They would undress each other, both giving me
              looks full of promise. They made sure I saw them naked, straight and bent over, front and their backs. As
              they strutted towards me, their eyes fell on a massive erection pushing against my pants, watching me
              crudely rub my hand against it. I could see that clearly the girls were as turned on as me.
            </p>

            <p>
              On the final set of underwear, I stood up and followed, a few steps behind. As soon as I got into the
              changing room and locked the doors, the girls quickly turned around, pulling on the strings of their lace
              nothings that fooled nobody.
            </p>

            <p>
              Their flimsy outfits dropped to the floor, and the girls stood in front of me naked in full glory, wearing
              only smiles and lust in their eyes. I nuzzled their backs against the wall, then kissed one, fingering
              another. The two responded, moaning like eating marzipan. I kept it up, switching them around. Four hands
              undressed me quickly, working together and focused on my rock-solid erection.
            </p>

            <p>
              I spun them around, making them kneel with their asses towards me, high up in the air. Pulling their hair,
              I made them kiss each other, and they took to that like a duck does to water. Without any ceremony or
              pomp, I stuck my cock into one, pumping her hard while she moaned for a few minutes, then switched around
              to fuck her friend.
            </p>

            <p>
              I kept changing holes, pumping the girls hard. Their tongues never left one another. Since their first
              kiss, the girls were hot and heavy for each other, their hands playing with each other&#39;s breasts as if
              competing who could make another cum faster. I felt the girl I was fucking starting to cum, so I grabbed a
              fistful of her dark hair and pulled it backwards hard, so she arched her back, then rode her like a
              bucking bronco, rodeo style. Her friend latched on her neck with her mouth and teeth like a limpet,
              squeezing her breasts, painfully pulling on her nipples to extend her friend&#39;s orgasm even for a
              moment and make it last longer.
            </p>

            <p>
              I jackhammered the brunette like a quarterback on a prom night. It didn’t take long for her pussy to
              detonate. Her friend kissed her hard to muffle the job-ending screams while I kept pumping at her until
              she collapsed on the floor.
            </p>

            <p>
              “I want to try something”, her blonde friend said, jumping into my arms. I lifted her up, inserting my
              cock inside and helped her bounce up and down. She screamed in my mouth as I fucked her as hard as I
              could, her tits rubbing against my chest, my tiny hairs prickling her sensitive skin.
            </p>

            <p>
              Her dark-haired friend on the floor got to her senses. She lifted her head up with mischief in her eyes,
              then moved her head between my legs and licked my balls, her tongue brushing against her friend’s pussy
              and asshole on each downstroke. That sent the blonde over the top. She came hard, twitching and trembling
              in my arms. I used all my strength to pump her as hard as I could, filling her pussy with freshly squeezed
              hot cum, holding her quietly moaning, trembling, limp body in my arms.
            </p>

            <p>
              My cock popped out, and sperm gushed out of the blonde’s well fucked hole, right into the mouth of the
              brunette on the floor. The brown-haired angel lapped it up like some sort of nectar of gods while I gently
              lowered her blonde friend right on her face. The brunette&#39;s tongue immediately darted inside her
              friend’s freshly fucked hole, slurping up as much sperm and pussy juice as she could swallow. She got up
              with a mouthful pressing it against her friend’s lips. I watched them cum-swap, kissing till all was
              eaten. In almost surprise, they looked at me before getting on their knees with a big smile, sucking my
              cock clean of each other’s juices before we got dressed and returned to the store.
            </p>

            <p>
              The first thing I noticed was the manager nervously tapping her foot outside. She stood guard lest other
              customers see what we were doing. “I must congratulate you on your sales staff. You need more like that if
              you want to keep me spending my money here”, I said shamelessly with a big smile, watching her swallow
              whatever she was about to say and stomp away. “I hope I didn’t get you into trouble”. The girls giggled,
              “as long as you make a sizeable purchase, nobody will care. Cash is king here”.
            </p>

            <p>
              “Both of you look nice in that pink lingerie set. Let me buy it for you”, I said, pointing to the flimsy
              costume hanging on the wall. The girls yelped and gave me a big hug and a kiss on each cheek. The rest of
              the shopping was anticlimactic. The only things left were the fancy dresses. The girls preened and took
              selfies, giving me wanton looks, leaving little to the imagination about what was possible if just for the
              asking. I chose an extraordinary bright red Cavalli dress, a black dress for evening functions and a few
              less ostentatious ones for just a quiet night out. We topped it all with a pile of casual clothes,
              including several sports shoes popular with the ladies.
            </p>

            <p>
              When a beauty salon assistant finally fetched me, we were done, and so was Lucy. She sat on a chair in a
              treatment room, completely naked. Her crotch and armpits were inflamed from the laser hair removal but not
              as red as her face.
            </p>

            <p>
              Lucy was always a very private person. Her sudden discovery of sex opened pandora’s box, letting out all
              sorts of unexpected feelings. When beauty salon professionals started working on her, she felt a deep
              sense of humiliation as they looked at and touched her most intimate places. This turned her on to no end,
              her pussy getting wet, drooling on the table as they worked.
            </p>

            <p>
              The girls in their surgical gloves kept wiping the juices off with a wet wipe, moving her labia around,
              zapping the hair with a laser, one square inch at a time. All this drooling, wiping and moving pushed Lucy
              over the edge, and she came hard in front of everyone.
            </p>

            <p>
              She prayed for the earthquake, for the ground to open up and swallow them. Such deep humiliation, such
              deep arousal. She squeezed a quiet “I’m sorry”, and the primary technician giggled, “don’t worry, It
              happens a lot. More than you think”. To ease her discomfort, the technician worked faster. The faster she
              worked, the quicker Lucy would cum.
            </p>

            <p>
              She had orgasmed four times by the time her pussy was completely hairless. She watched in abject misery
              the technician pack up and leave. The other specialists used different tools to remove the rest of her
              body&#39;s hair, everywhere below her eyelashes. A bunch of them worked on Lucy. Some took care of her
              skin, others of her hair. It took four hours of hard teamwork, ending with a makeup specialist adding
              final touches. While all of them worked, Lucy felt deeply ashamed, which kept her intensely aroused all
              that time.
            </p>

            <p>
              In the end, everyone left and let her cool down for a while and dress. This was just moments before I
              entered the room, adding to the existing embarrassment she felt. I almost whistled when I saw her. The
              team did nothing short of a miracle. Gone was a cute goth, and there sat a gorgeous blonde with an
              unbelievably pretty, freckled face, big, deep-blue eyes, and sensual lips begging to be kissed.
            </p>

            <p>
              Lucy looked slim with a tiny waist and smallish, perfectly-formed breasts. Her hips flared out in feminine
              curves, finishing in long slim, incredible legs. Her fingers and toenails were exquisitely painted in
              matching colours and custom designs. Lucy could easily be a model looking like this, certainly a
              head-turner, clean, innocent and sexy, almost virginal wrapped in refinement and class. Whoever looked at
              her would instantly think, “someone is taking good care of this darling”, and I was proud to be that guy.
            </p>

            <p>
              I helped Lucy get up and dress into her pink clothes before leading her barefoot to personal shoppers. I
              sent her to the changing room, leaving the doors open and making her try everything I selected all over
              again. Lucy almost cried, seeing herself in a mirror for the first time. She couldn’t believe it was her;
              she looked classy, gorgeous, and beautiful. Lucy ran out of adjectives to describe herself.
            </p>

            <p>
              For the first time in her life, she saw a swan and not the ugly duckling she thought she was. Her soul
              screamed in happiness from deep inside. Like in a dream, she kept changing clothes, not really paying
              attention to what she wore. She was so mesmerised by her new style she couldn’t get enough of cloud nine.
            </p>

            <p>
              The two personal shoppers looked at her with green envy. Throwing desperate glances and smiles in my
              direction. I was too busy, though, looking at Lucy. With most clothes that I chose, she looked like an
              angel, and with the rest, she looked like an expensive high-class prostitute.
            </p>

            <p>
              It took almost two hours to go through the whole selection. I decided to buy nearly all of it, sending
              Lucy away with the dresses to get them fitted by the shop seamstress on call. While she did that, the
              girls rang it all up, swallowing big when they saw my black card go through. I spent over a hundred
              thousand dollars on clothes, including their two pink lingerie sets. Their token gift felt insignificant
              now. I tipped them five hundred bucks each, giving them my card with the address “can you have it
              delivered to my place?” I asked. They perked up with a mischievous smile and chimed in, “we’ll take care
              of it personally”, giggling and discretely squeezing my arm.
            </p>

            <p>
              I watched Lucy come out, wearing a stunning Burberry set. She was dressed in a signature yellow tartan
              jacket with a matching mini skirt, offset by black-rimmed light-grey boots paired with a handbag in the
              same tone. She looked like a million bucks; refined, classy and desirable. The shoppers that once looked
              at her with disdain watched her with a deep sense of envy, especially as she took my hand and I led her
              out. The two personal shoppers followed us to the exit. Their jaws dropped, seeing the Karlman King
              waiting outside with a well-dressed driver holding the door open.
            </p>

            <p>
              While waiting for Lucy to be done, I made a reservation for the best table at a fancy restaurant
              frequented by rich people and their young lovers. We fit in perfectly, most people wondering who we were
              and how we managed to get that table. The waiter brought us rose champagne, pouring it into two flutes.
              “May I have your phone?” I asked Lucy. She unlocked it and handed it over, and I tapped a bit leaving it
              on the table. By the time the food arrived, I had taken out the sim card and asked the waiter to throw the
              old phone into the trash. Lucy was just about to protest before I handed her a brand new top of the range
              iPhone, with all her data transferred from the old one. She wanted to say something but shut her mouth,
              staring at me with her crystal-blue eyes.
            </p>

            <p>
              The restaurant took care of us; we got a selection of their best dishes to try. I had fun watching Lucy
              mmm and ahh through the meal. She finally let go of all her artificial social barriers, accepting things
              as they were, even if they made no sense. She went with it, laughed and giggled, babbling like a brook
              after winter. I was in and out, sometimes listening, then drifting away. Lucy didn’t mind; she just wanted
              to talk, to let out what had been bottled inside. Her thoughts, fears, plans and dreams. She kept talking
              about all of that with a smile on her face.
            </p>

            <p>
              I found her adorable. She kept telling me stuff long after we finished our dinner. I paid and tipped well,
              and we walked out, arm in arm, escorted by curious looks of patrons and staff. I took her to a nearby mall
              where we just walked around, looking through the windows, checking out stuff. She noticed people staring
              at us, turning their heads as we passed. It turned her on. Lucy enjoyed the newfound attention, walking
              with arms wrapped tightly around mine to keep herself stable on her new fancy high-heeled Louboutins.
            </p>

            <p>
              The girls sized her up. The boys didn’t just lust after her but wanted to introduce her to their moms. She
              used every opportunity to check herself out in a mirror or reflective surface. To her surprise and delight
              of others, she was hot. Not just the “look at my tits, and ass bursting out of my clothes” not, like a lot
              of girls at her school, imitating porn actresses whoring for attention then snubbing the boys to relish
              the fake sense of confidence. Lucy was really “wow, she’s so sweet and gorgeous without trying” kind of
              smoking.
            </p>

            <p>
              For the first time in her life, she noticed the guys looking at her like they desired to keep her instead
              of just wanting a joyride. The only guy looking at her with a deep desire to fuck her hard was me, and she
              shared that sentiment. We walked for hours, just aimlessly wandering from store to store, picking up a few
              silly trinkets as we passed along. At one time, Lucy stopped talking. She looked deep into my eyes and
              said, “thank you&quot;, followed by a soft kiss.
            </p>

            <p>
              “Ta, ta, ta, don’t cry now. You’ll ruin your makeup”, I said, seeing her eyes water. She burst into
              laughter, hugging me tight, the same way one squeezes an empty toothpaste container, kissing me all over,
              ending in a long sensual frencher. Jealous people watched with indignation at our public display of
              affection they secretly wished for themselves.
            </p>

            <p>
              Lucy noticed her phone had a bunch of messages and missed calls. I sat us in Starbucks, ordering two
              lattes in venti takeaway cups, and we sat down until she finished reporting that she was well and still
              alive with her kidneys and other marketable organs still attached. She seemed engrossed in the
              conversation. I spaced out, looking at the people chatting, drinking coffee, and passing by. When Lucy
              finally finished, she excitedly told me her happy news.
            </p>

            <p>
              Her dad told her about an overnight hostile takeover of the company he worked for. A large consortium
              bought out the controlling packet of shares as soon as the stock exchange opened and sent their management
              team there the very same day. They went through his company with a fine-tooth comb, promoting and sacking
              people. As a result, Luther was promoted to chief of security. It was the role paying more than triple his
              current salary and a relocation package out of Bronx. They wanted him to be closer to the head office so
              he could respond to emergencies without having to travel halfway across the city.
            </p>

            <p>
              Apparently, the new bosses liked some of his ideas on improving corporate security, so they promoted him
              to give him a chance to implement them. Lucy’s whole family celebrated. It was the lucky break everyone
              prayed for, a sudden jerk from near poverty into a modestly middle-class life. I was happy for her,
              excited about her great news. Of course, I knew that long before her. I got a text when the takeover was
              completed.
            </p>

            <p>
              Lucy still licked her chunky monkey, washing it down with coffee, sharing the taste with me every few
              minutes by kissing me happily until we got home. The first thing we noticed was a massive pile of fancy
              bags and boxes lying on the floor. Seeing it piled up like that, Lucy realised how much I had bought. It
              was more clothes than all her family’s stuff put together, a dozen boxes with shoes alone.
            </p>

            <p>
              Loud greetings and clinking of glasses came from the side. I saw two models-cum-personal-shoppers
              discovered hidden under-floor hot tub I had built just by the glass wall. It was long and rectangular,
              large enough to fit twenty people inside. It looked more like a pool than a hot tub and featured state of
              the art jets and cleverly hidden vapour extractors to avoid any misting on the glass.
            </p>

            <p>
              I loved to lay inside the hot bath, massaged by strong jets of water while resting my elbows on the heated
              marble floor surface, looking through the glass wall at the city outside while drinking champagne. The hot
              tub was a unique piece of engineering and a masterpiece of design. A large slab of marble would depress
              and roll under the floor at a press of a button, revealing an opening filled with hot bubbling water and
              soft, soothing blue-and-purple lights.
            </p>

            <p>
              The salesgirls must have spent a long time inspecting the place to find that hidden gem. Lucy watched in
              confusion as I took off my clothes and got two empty champagne flutes joining the naked ladies inside. In
              just a flash, Lucy undressed and jumped in, pulling me to the other end, accepting a glass of champagne as
              she did that, eying the two women with a frown on her face.
            </p>

            <p>
              I sat inside warm water, resting my back against the side, a drink in my hand with Lucy’s back resting
              against my chest. She absentmindedly sipped her champagne, biting her lip as she watched the two girls
              kissing on the other side.
            </p>

            <p>
              Bianca was a pale-skinned, dark-haired beauty with a perfect face and soulful emerald-green eyes. Her
              perfect lips beckoned kisses, and her friend Vicky was glad to oblige. She was, in contrast, a dirty
              blonde, not just in colour but in her whole presence. Vicky just radiated that fuck-me quality offset by
              the untouchable haughty bitch stance. She oozed that urgent sex appeal, pressing all the primal buttons in
              men, signalling availability just out of reach.
            </p>

            <p>
              The two girls were so different and so similar at the same time. Bianca was of Mediterranean stock, with
              supple soft curves and incredible poise, a poster child for the madonna-whore complex in men. In contrast
              to her, Vicky was of Slavic descent, with a sharply defined body. She was unapologetically beautiful in a
              sort of superior “I am here” way. There was no subtlety, just raw, steaming red-hot sexuality offset by
              the beautiful blue-grey eyes of a pit bull, giving her that man-eater look.
            </p>

            <p>
              Both girls were tall, about five feet ten, slim and curvy in just the right places. Their long feminine
              necks and fingers added some ethereal quality to the way they moved, reminiscent of elves from fairy
              tales. Both had perfectly shaped breasts and clean-shaven slits, almost like barbie dolls from the
              eighties, before body-positive activists made them anatomically correct to look more like overweight
              middle-aged transvestites.
            </p>

            <p>
              Lucy watched the two girls kiss and fondle, for the moment ignoring us, lost in their world. Yielding to
              her profound protective nature, she stood between the girls and me, ensuring they didn’t steal me away.
            </p>

            <p>
              Lucy knew I didn’t belong to her; we never had the talk, never defined our relationship, but that was all
              just logic. Her feminine reflex was to keep me to herself, fight tooth and nail for what she felt was
              hers. It was endearing to watch. I kissed her for that, sensing some relief in her stress level.
            </p>

            <p>
              The two models were oblivious to all that. Their friendship started before they were born. Their two
              mothers met in a hospital, sitting bed-to-bed about to give birth. Bianca was first and Vicky second, the
              tone that set their relationship to date. Bianca was always the first to do something, always the one with
              a crazy scheme. Vicky was happy to follow, no matter how dumb an idea would sound, often piling up till it
              reached absurd proportions.
            </p>

            <p>
              The girls did everything together. They went to the same school, had the same classes, and shared the same
              dreams. They even lost their virginity the same night, laying on two beds, holding each other’s hands
              while high-school jocks pumped away. The girls had a few close calls between them, and their sexual
              chemistry was intense. They fooled around and kissed a little in the past but just for fun, mainly to
              arouse the boys watching them scrounge to buy them drinks, hoping for a threesome.
            </p>

            <p>
              That changing room adventure pushed them over. Being fucked together, forced to kiss, sucking my cock, and
              swapping my cum evolved their relationship to a whole new level. It burst the bubble of deep erotic
              tensions and unleashed them on each other with incredible force. Since I left the store, the girls
              couldn’t keep their hands off each other. Even the colleagues had to tell them to cool it. They kissed all
              the way to my place, delivering packages in a shop’s van. The driver almost crashed it, running a red
              light, completely distracted by two horny babes at the back.
            </p>

            <p>
              Despite her insecurities and jealousy, Lucy couldn’t help but get turned on by the sight of two girls
              kissing, fondling and rubbing. I don’t even know if she was aware of my hand playing with her breasts,
              stroking her tummy, brushing against her clit. By the time she turned to give me a kiss, she was ready to
              pop. Her breathing was laboured, little shivers going through each time I touched her skin. I turned her
              around again, her butt rubbing against my hardening cock. She stared at the girls with a hungry look,
              closing her eyes only one time in response to my cock penetrating her pussy from behind.
            </p>

            <p>
              I held Lucy by her neck while my other hand explored her body, mashing her breasts, rolling her nipples.
              She gasped in arousal, eyes locked onto the kissing girls in front. I held her firmly against my chest to
              limit her movements, which she used to gyrate her hips and fuck herself on my cock only an inch at a time.
              There was no way for her to make herself cum that way. Her whole body trembled in urgent need. She wanted
              to say something, but all that came out were desperate gasps for more pleasure and deeper penetration.
            </p>

            <p>
              The two models noticed Lucy’s terrible state. Detaching from each other, they floated towards her. She
              looked at them with frightened blue eyes, and then, one after another, they gave her a kiss. At first, she
              tried to protest, but feeling soft feminine lips and tongue in her mouth, she quickly relaxed, giving up
              the struggle, accepting her fate.
            </p>

            <p>
              I released my grip, and the girls took over. Insanely horny, Lucy kissed, touched and fondled the models,
              sucking their nipples like a starving infant. She lost control of all her senses; all that mattered was
              her orgasm. This newfound freedom of movement allowed her to bounce further, impale herself deeper on my
              rock-hard member.
            </p>

            <p>
              Her first orgasm hit with her face against Bianca’s chest. She squealed, meowed, panted and sniffled. Her
              whole body shook, and a little tear came out of her eye. Bianca pulled Lucy’s hair lightly, inserting an
              erect nipple into her mouth. Senseless from overwhelming emotions, Lucy closed her eyes, sucking like a
              toddler, reverting to pure instinct in the absence of a critical judgment.
            </p>

            <p>
              I pulled her hips and pounded into her with all my strength. Mindless, Lucy could only moan and pant, her
              mind blank from rolling orgasms. The models helped by sucking and fondling, pulling on her nipples, making
              them hurt good. In her heightened sense of arousal, any physical touch, even pain, just got her higher.
              Finally, I felt my balls tighten. My cock pulsed, spraying cum deep inside, following a loud sigh out of
              my mouth. It took a while for me to come down. I kept cumming, filling her young pussy with all that I’ve
              got. My balls felt empty when I was done, like someone sucked them dry, leaving only a void inside.
            </p>

            <p>
              The models quickly lifted Lucy up out of the tub and laid her on a warm marble floor with legs spread wide
              apart, feet dangling, still dipped in the hot bath. Two models tag-teamed Lucy, licking her pussy one
              after another, sucking out fresh sperm, then kissing each other, cum swapping. Their newfound taste for
              pussy made the two girls insatiable. They kept licking poor Lucy long after she’s had enough. The models
              loved the way she would orgasm, competing at who could make her cum harder. Lucy looked at me, pleading
              with her blue eyes. I smiled at her and held her hand. Every ten minutes, she’d squeeze hard with a
              groaning sound, her body would tense, and she’d start to shake and bounce.
            </p>

            <p>
              Feeling a little pruney for my taste, I got out, took a cool shower, dried myself, and then sat on a sofa
              watching the girls play. The models had enough of torturing Lucy. They pulled her in and propped her up.
              When she got to her senses, the three girls kept kissing each other, enjoying the taste of each other’s
              soft mouths. Bianca lay on the floor in the same position as Lucy before. Vicki led Lucy, and the two
              intermittently kissed and licked Bianca’s pussy, making her cum. She was a loud one, moaning and
              screaming, buckling in orgasm like she was attached to an electric chair.
            </p>

            <p>
              Bianca begged the girls to stop, but they ignored her until they counted her cum five times. The girls
              later ganged up on Vicky. She screamed for more instead of begging them to stop. She was one insatiable
              slut, made for marathon fucking and football team gang bangs. No matter what the girls did to her, she
              took it in stride. She swore and begged, shouted and cursed, shivering and bouncing on the marble floor.
              After some time, the girls had to stop; Vicky managed to wear them both out.
            </p>

            <p>
              I watched the three discover the shower. Lucy finally figured out why it was so large. It was more like a
              stage designed for performance than just a place to have a quick rinse. They saw me watch them pleasure
              each other, gently stroking my hardening cock. There was no doubt in the girls&#39; minds; I was a
              hedonist of the worst kind. They were performing for me like a Shakespearian company. &quot;Once more unto
              the breach, dear friends&quot;, I imagined, watching the girls tongue each other like perfectly
              synchronised method actors.
            </p>

            <p>
              It turned the girls on to be observed, fucking each other on display like actors in a play. They played it
              up, improvising new ways to turn me on more. At length, the girls exhausted themselves, stopped the water,
              dried and got out. Lucy and Bianca plopped on the sofa, one to each side of me, laying their heads on my
              shoulder. Insatiable Vicky sat right into my lap, spearing her pussy with the length of my cock. She
              rubbed her tits against my face, forcing her nipples into my mouth one after another and back. The other
              two girls watched us, exhausted. Occasionally they found the strength to kiss me, Vicky or each other.
              They tried to help Vicky cum by rubbing her tits, but they had no energy left and just sat and watched.
            </p>

            <p>
              Vicky rode me for almost two hours, eight of her orgasms to one of mine. When she felt my cock jerk, hot
              sperm jetting out, she bounced with all her strength, eliciting one last orgasm of her own, her
              contracting pussy sucking the sperm out of my cock like a pump. She finally collapsed against me and was
              instantly asleep.
            </p>

            <p>
              I staggered to the bedroom, carrying Vicky attached to me like a Koala, Lucy and Bianca in tow. Vicky held
              on to me for dear life. She wouldn’t detach, and I had no strength left, so I lay her on her back on a
              clean-smelling bed, then lay on top of her, crushing her with my weight. She didn’t seem to mind that, so
              I decided to sleep this way. Lucy and Bianca lay on each side, snuggling against us. The last thing I
              remember was them covering us with a satin sheet, and I was out.
            </p>

            <p>
              I woke up at night with a fantastic feeling. Vicky was awake, using her trained pussy to suck my cock.
              I’ve never been given a blowjob using pussy, but that was the closest I could get to describe the feeling.
              She squeezed and moved her pussy muscles, creating almost a sucking effect. I kissed her, and she
              responded in kind before I closed my eyes again, enjoying the sensation. It didn’t take her long to make
              me cum. I felt her shudder and exhale air in an orgasm of her own as she sensed my seed fill her insides
              one more time. Seeing she was awake, I tried getting off her. She dug her long, sharp nails into my back,
              shaking her head. She was one weird cookie with many talents. I just learned to appreciate one.
            </p>

            <p>
              We woke up late, the girls rolling on the bed, bothered by the sun. I was starving, wanting to eat, but
              they wouldn’t let me get up until they taught Lucy how to eat cock. Three girls pushed me on my back,
              gathering between my legs, stroking and kissing my morning erection. They didn’t seem to mind that I spent
              the night with my cock inside Vicky’s pussy; if anything, it turned the horny sluts that much more. What
              Vicky did with her pussy at night, Bianca more than reproduced with her talented mouth. Her oral skills
              were beyond praise. If flesh-flute was a musical instrument, she’d be a star soloist of a national
              philharmonic orchestra.
            </p>

            <p>
              Bianca suckled on my cock, passing it on to Lucy, teaching her what to do, how to lick, tease and swallow,
              deep throat without choking and breathe. Vicky kneeled beside them, begging for the taste, so Lucy gave
              her a few quick slurps. With Bianca’s mad cocksucking skills and Lucy’s aroused eagerness to please, it
              didn’t take me too long to throw in the towel and paint their tonsils the colour of surrender. Bianca had
              Lucy swallow my cock, capturing the first long blasts of erupting sperm in her throat, pulling out slowly,
              catching the rest of the load in her mouth. When I was done twitching, Lucy kissed the girls sharing the
              spoils. Vicky swallowed my flaccid cock, milking out the last of the dribbling sperm before rejoining the
              kissing girls.
            </p>

            <p>
              We ended up kissing in a shower, washing each other, squeezing and fondling. All of us wanted to fuck
              badly, but we were too hungry. After drying off quickly, the girls attacked the kitchen, cooking up a
              storm in the nude just the way I like it. I watched them chirp like a flock of canaries. I drank my
              coffee, smiling at them. After eating our fill, the girls dressed up to go out. Lucy magnanimously shared
              some clothes with her two new friends. I especially liked all the Agent Provocateur stuff. The girls
              dressed up like they came out straight off the runway, all three of them getting high on their looks. I
              let them preen in front of the mirror, boosting their egos for a bit before dragging them to the lift
              going down.
            </p>

            <p>
              Bianca and Vicky slobbered all over the black custom, tinted Rolls-Royce Wraith that my driver brought up
              for me. He quickly got into a gunmetal-black custom-made Rezvani Tank, a military edition SUV to follow my
              car with a security guy. Bianca and Vicky loved the Rolls and everything in it, exploring every luxury it
              offered. The two of them sat in the back seat while Lucy rode, smiling in the front beside me. Models’
              excitement for the car was infectious, but Lucy she still preferred sports cars herself.
            </p>

            <p>
              The girls looked at me in wonder as I parked the car in front of the Columbia university admin building.
              They followed me in, looking around. Neither of them had a university education, Lucy being the only one
              dreaming of it. I walked into the chairman’s office, and he quickly offered us a seat. He typed something
              on a computer, then called a secretary who brought a whole bunch of documents.
            </p>

            <p>
              I made Lucy sign them without reading, then the secretary gave her a thick envelope full of papers,
              keycards and keys. I shook the chairman’s hand, and he thanked me greatly before the secretary escorted us
              out. A cute young assistant in her mid-twenties introduced herself as Janet before asking us to follow.
              She led us to another building, then upstairs through corridors to a hallway with many doors. Pulling out
              a key from Lucy’s envelope, she opened the door, leading us into a student dorm room with four sparsely
              furnished but clean bedrooms. “This will be your room for the foreseeable future”, she said, handing the
              keys back to Lucy.
            </p>

            <p>
              With jaw dropped and eyes tearing up, Lucy kept looking from me to the assistant before asking in a
              shaking voice, “What is this? What does it mean?”. The assistant studied Lucy&#39;s face, confused.
              Surely, she must have been missing something. “What do you mean? You are a student here for grad and
              postgrad studies. This is your dorm room, where you’ll sleep and live until you graduate.”
            </p>

            <p>
              Lucy started to cry, “what? What?” was the only thing she managed to say before flying into my arms,
              sobbing like an insane person, her whole body shaking. I thanked the assistant, sending her away just
              moments before Lucy collapsed on the floor as she fainted. The girls laid her on a sofa and sat waiting
              for her to wake up. Lucy opened her eyes, confused. She started to bawl like a toddler right after
              dropping a pacifier. I had to sit beside her, hold her hand and explain slowly. Repeating myself many
              times, I told her that all of this was a “thank you” for her taking care of me in the graveyard the other
              night.
            </p>

            <p>
              It took an hour of crying and wailing for her to calm down enough to get up. She kept kissing my hands,
              thanking me for everything I did for her, promising me she’ll be the perfect girl for me, do anything and
              pay me back. I had to slap her ass to get her going and fix her makeup with the models’ help. She clutched
              the envelope like her life depended on it on the way down. I drove us to a fine restaurant where we had
              one of the best steaks money can buy. We sat after in a fine Italian street-front cafe, enjoying a latte
              and fresh air. Lucy couldn’t stop looking at me, giving me puppy eyes, her hand squeezing mine so tight I
              thought she’d dislocate my joints.
            </p>

            <p>
              The models looked at Lucy, giving me strange looks as if waiting for some sort of verdict, perhaps waiting
              for me to decide what to do with them. “You’ll have to start moving your stuff to the dorm, buy the books,
              and the rest of school stuff”. Lucy nodded like crazy, hanging onto my every word. She really wanted this;
              it was her dream. She was afraid to let go as if all of it would somehow disappear.
            </p>

            <p>
              My driver came by after running an errand as we drank coffee, leaving a large paper bag next to me and
              disappearing again. I reached inside, pulling out a brand new golden MacBook and a matching watch, “you’ll
              need this for your studies and keep up with your schedule”. Lucy burst into tears again, the models
              looking at me a little dejected. So much for Lucy and nothing for them. I pulled the rest of the boxes out
              of the bag, giving Bianca and Vicky brand new iPhones and watches as well. They jumped up, hugging me
              hard, fighting the tears, not wishing to ruin their makeup.
            </p>

            <p>
              I sipped my coffee, watching the girls go through their gifts, setting them up, comparing, and ensuring
              they had the same apps. It was getting late in the afternoon by the time they were done. Lucy had to get
              home to get her stuff for the move as the University classes started the following Monday. She had no clue
              how I pulled this off; no letters, no transcripts, no quotas. It didn’t matter. Lucy was so thankful that
              she didn’t care how it just happened. She looked around, asking the girls where was the closest
              underground station. They laughed, telling her she’d get mugged dressed like this, carrying a brand new
              laptop under her arm. When she told them where she was going, they called her insane. They had a valid
              point.
            </p>

            <p>
              We packed back into the car and drove a few miles away to a large Audi dealership. When salespeople saw
              Rolls-Royce stop in their yard, they had a little fight about who would serve me. Two guys approached the
              car, but when they saw three gorgeous girls come out, they waved to a small group of assistants who came
              running to offer us refreshments and snacks.
            </p>

            <p>
              I walked up to a brand-new white cabriolet Audi R8 Spyder, fully loaded with all the trimmings. “I like
              the feel of soft leather”, I said, touching the seats. The sales guy informed me that the car was fresh
              off the truck, pitching a quick sale discount. Sitting Lucy in a passenger seat, I took the car for a
              quick spin around the block, pressing the pedal, making it roar. She loved the sound and the handling,
              finally getting excited about something on four wheels.
            </p>

            <p>
              I followed the salesman into the office, leaving Lucy with the girls outside. Sitting at his desk, I
              handed over her driver&#39;s license and my black credit card. He tapped on his computer, entering the
              data, registering and insuring the car. The assistant brought me a cup of decent coffee and a portable
              card machine to type in my pin. Ten minutes later, she handed me a large envelope with lots of printouts,
              brochures, papers and keys.
            </p>

            <p>
              “Please, no, this is too much”, Lucy sobbed when I handed her all that. The two models were also crying,
              seeing me blow over two hundred grand. “Too late, darling; it’s all in your name. Besides, It will be
              easier for you to come by from school”. She hugged me tight, kissing me all over, promising she’ll be the
              best woman for me that I had ever met, do anything I asked of her. I saw in her eyes that she really meant
              that.
            </p>

            <p>
              The models and I watched Lucy sit in her car and drive off slowly, petrified of making a scratch. I
              signalled to my guys parked in the distance to follow her and make sure she got home safe. She lived in a
              rough neighbourhood. Driving a car like hers was asking for trouble and an easy target for getting
              hijacked.
            </p>

            <p>
              I sat in my Rolls with models settling in the back. The salespeople came out to wave us off. They all
              wanted to see the hot babes and the rich guy buying them cars. I took the scenic route through the city,
              listening to fine music from the best sound system available to men. We stopped to admire a new city
              landmark, some sort of a futuristic crystal-looking egg-shaped skyscraper. It was a temple or a monument
              to some new-age religion or a movement. I didn’t care; it looked beautiful, reflecting the light in a
              million sparkles, like a pot of diamonds at the end of the rainbow. It was visible right from my highrise
              apartment window, easily the most beautiful building around. I just had to check it out.
            </p>

            <p>
              The models loved the Rolls. They almost purred, feeling the soft seats, touching the interior, not knowing
              if this was the last time they rode with me. They were so excited about the car that they didn’t even
              touch each other, which was a minor miracle since their sexual awakening.
            </p>

            <p>
              One of my security guards waited in the parking. He opened the private gate for me as it drove in and
              stopped. The models have never seen my garage. They went from car to car, oohing and aahing at my
              collection. I have always admired cars and fine engineering ever since I landed in my first one, butt
              naked. Over time, I bought some pretty rare ones, including the expensive one-off concepts from major car
              manufacturers. After having a good look at them, the girls came up to me quiet, looking very small. Vicky
              asked me redundantly, “are all those yours” I just smiled at her, giving her my hand.
            </p>

            <p>
              When we got back home, the girls quickly undressed. They grabbed a fresh champagne bottle, glasses, and
              snacks before heading back to the hot tub, immersing themselves in bubbling water and looking through the
              window at the cityscape at night. I looked around, noticing my place was clean and spotless. The cleaners
              did a good job when I was away. The towels were changed, and so was the bed linen; everything was
              restocked just the way I liked.
            </p>

            <p>
              I sat on a sofa, checking my phone, distracted by two gorgeous butts waving at me from the hot tub. Vicky
              and Bianca were softly kissing, propping their elbows next to the glass wall, watching the Manhattan
              lights and drinking champagne. I noticed Lucy texted me a million messages, telling me just about every
              detail of her arrival home. She said she’s never been so happy and couldn’t wait to see me soon.
            </p>

            <p>
              I caught up with my other messages, texting back and sharing ideas before I saw the girls come out,
              walking seductively towards me. They took away my phone and put it on the coffee table, undressing me in
              seconds before dragging me to the hot bath, where they snuggled to me, one on each side. They soon started
              to kiss me and play with my cock as I squeezed their firm perky tits. We’d play like that for a while,
              drinking champagne, nibbling on snacks, kissing and fondling, not trying to make each other cum.
            </p>

            <p>
              By the time we killed the bottle, we were starving. Bianca jumped out for a moment to bring me my phone. I
              ordered us a lovely meal from the building’s private gourmet kitchen, another reason why I bought this
              place. I stopped Bianca from getting into the water and made her sit on the edge of the hot tub, spreading
              her legs wide, going for my starters. I dove between her legs, helped by Vicky, enjoying the fresh musky
              taste of a fine shaved pussy, begging to get fucked. Since our first encounter, Vicky developed a bit of
              an acquired taste for wet, dripping holes. She and I had a competition who got to make Bianca cum harder.
            </p>

            <p>
              The loudmouth vixen shouted and screamed, bouncing like popcorn in an oven as she orgasmed. I pulled her
              back into hot, bubbly water while Vicky jumped into her place, chirping happily, “my turn now”. I took my
              time pleasing the little nympho. She umm-ed and aah-ed to several big orgasms, never getting enough. After
              Vicky’s last in a series of spasms, I heard the lift chime, so I pulled horny minx back into the water,
              instructing the waitress to lay the food on the dining table. As soon as she left, we ran out to the
              shower and hot air-dry set to the max before sitting at the table enjoying the food they brought. Vicky
              ran to the champagne fridge, pulling out another bottle. The girls loved varied tastes; they would get a
              spoon of this and that and shove it into each other’s mouths, saying things like, “Omg, you’ve got to try
              this. It is great”.
            </p>

            <p>
              We had plenty of leftovers. Vicky made sure to pack them into a spare fridge for later before joining
              Bianca and me on the large sofa. Feeling full and satisfied, the girls just stretched across, putting
              their heads on my lap, facing each other. I pet their pretty faces, gently stroking their hair. Within
              minutes they cuddled up to me, wanting more touch. They closed their eyes, thoroughly enjoying my gentle
              stroking. There wasn’t anything sexual about it, despite my cock laying between them, touching their lips.
            </p>

            <p>
              Within minutes the girls checked out, falling asleep like babies, holding onto me tight, feeling safe and
              cared for like never before. I loved petting them; they felt so warm and soft. The feeling was intimate,
              almost loving if I could ever feel love again. In moments like this, I’d drift away to memories past of
              other places, some other times.
            </p>

            <p>
              I felt the girl stir, digging themselves deeper into my body, making cute soft moans, trying to get more
              touch. I watched them breathe; they looked like angels. Sure they were sluts, but they had good hearts.
              Deep down in all people exists at least the potential of great light. It is a spark of whom they could be
              if it was nurtured instead of squeezed, squashed and chewed by life.
            </p>

            <p>
              The key to paradise is not seeking heaven; there’s nothing there but a sea of regret. Heaven could be
              found here on earth inside all of us. If you treat others like they are worthy, if you believe in them and
              help them stand up. If you lift them up instead of dragging them down, tell them they can rather than
              can’t. Such people will take your hand, borrow your strength, believe they are worthy and know you’ve got
              their back. It only takes one drop of kindness to set in motion events that change lives. What you put out
              comes back three times. That was a law of nature.
            </p>

            <p>
              I shook my head, breaking the acute onset of melancholy prompted by memories of things long passed. That
              kind of thinking never ends well. Happiness could be found here at this moment, in the now, and I was as
              far away from a saint as one could get.
            </p>

            <p>
              It was getting late. I slowly got up and carried Bianca to bed, returning for Vicky and laying her on her
              back. I tried to lay beside her, but she woke up, pulling me on top with one hand and stroking my cock
              hard with the other. She guided my erection inside her, wiggling a little to make a good fit before
              pulling me down to lay on top of her so she could massage the cum out of my cock during sleep. I lay
              without moving, her pussy, squeezing and sucking, causing my cock to erupt. She increased the rhythm and
              pressure, felt my cock twitch inside her, sucking out every last drop of my cum, then kissed me gently,
              whispering “thank you” in my ear, and quickly, she was out.
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Greg-Rumpel-Stiltskin-ebook/dp/B0B298962T'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3y7XejC'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Greg?id=8TNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>
            </div>

            <br />
   
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
