---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout title='Greg | Prologue' description='Greg novel by Rumpel Stiltskin' image='/images/greg.jpg'>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <img src='/images/covers/greg.jpg' />
          <p class='emp grey'>GREG</p>
          <h1>Prologue</h1>
          <div class='biggest'>
            <p>
              “I hate it when this happens,” I spat dirt into the moonlight reflected in a puddle, swaying on my feet
              and trying to wipe the mud from my naked body. “Fuck,” I cursed, feeling tiny grains of dirt between my
              teeth, staggering from grave to grave as I made my way to the group of people with black hair and white
              make-up, tattoos and piercings.
            </p>

            <p>
              They wore unfashionable black gothic clothes and looked like a gaggle of geeks pretending to be vampires,
              laughing loudly, drinking and talking, leaning against old gravestones surrounding a tall oak tree.
            </p>

            <p>
              My head was spinning, and a raging headache clouded my vision. I could barely make out their faces as I
              approached in the light rain.
            </p>

            <p>
              “What the fuck happened to you, man?” asked a tall, muscular black guy, and the girls giggled at the sight
              of a naked stranger covered in dirt.
            </p>

            <p>“I need a drink,” I said, still spitting out mud. I was a mess.</p>

            <p>
              “I think you’ve had one too many already, buddy,” another guy added, chuckling. I wrestled the half-empty
              bottle of Jack from the big guy, drank it down in one go and dropped onto my face. The world spun and all
              the little sounds of the world rang like church bells in my head.
            </p>

            <p>
              “Woah, man, slow down. You’ll die of alcohol poisoning and we’ll have to bury you again,” the big guy
              joked and laughed.
            </p>

            <p>
              Dark-haired girls with pale faces, wearing a lot of silver jewellery, chains, skulls and crosses, eyed me
              with interest.
            </p>

            <p>
              “Why are you naked?” asked the blue-eyed one as she knelt over me and checked me out. Our eyes met, and I
              saw her shy smile.
            </p>

            <p>
              “Let him go, Lucy. Can’t you see he’s drunk as a skunk?” said the big guy, loving his clichés, throwing an
              empty bottle at me that missed my head by mere inches.
            </p>

            <p>“Quit it, Mike,” Lucy shouted, staring daggers, “why must you be such an asshole?”.</p>

            <p>She turned to me and smiled. I squeezed her hand and looked straight into her eyes.</p>

            <p>“Thank you for your kindness.” Her gaze lowered.</p>

            <p>
              “You’re welcome,” she replied shyly, almost in a whisper, without letting go of my hand. This didn’t
              surprise me. I often had that effect on women. Most men found me likable, friendly, and trustworthy,
              except for the ones who wanted to kill me. Still, the effect I had on women was nothing short of
              extraordinary.
            </p>

            <p>
              Women often felt mesmerised, entranced, sometimes even aroused, telltale signs that Lucy began to exhibit.
              Within minutes of meeting me, women would develop a sense of familiarity, as if we’d known each other for
              an eternity in some other life. They felt they could trust me and tell me the secrets they wouldn’t even
              share with their best friends or family. Sometimes it only took women a few minutes to fall in love with
              me. It wasn’t something I actively did, but I knew that my touches only amplified the effect, like their
              personal Jesus Christ or a brand of heroin. If they opened themselves up to it, they experienced bliss,
              and those who didn’t began to fear me for their own lack of control around me.
            </p>

            <p>
              Lucy and I remained connected for what felt like an eternity. I breathed in the air that smelled of
              freshly cut grass, while light rain washed the dirt from my body. The rest of the group left us alone,
              laughing at something, pointing fingers at me. I noticed their measuring glances, knowing they saw a tall,
              well-built, handsome stranger in his mid-thirties, muscular, with strong, masculine features and a stern
              but kind face. My thick dark hair, now matted, enhanced the impression made by my piercing green eyes.
              People often said they looked captivating, sometimes sinister, and always intense. I didn’t look like your
              typical drunk you find passed out on park benches at night.
            </p>

            <p>
              The cawing of a jet-black raven landing on a nearby tombstone interrupted my trance. I tried
              unsuccessfully to get up twice before giving up and dropping back into the mud. It was too hard.
            </p>

            <p>
              “Can I borrow your phone?” I asked her. Lucy pulled out an old Samsung with a smashed screen and unlocked
              it for me. “It’s me. I need a pickup. I am in Tremont.” It was one of New York’s lower-income
              neighbourhoods, but it wasn’t always that way. The city is constantly reinventing itself; some
              neighbourhoods rise, others go down the drain.
            </p>

            <p>
              I looked at the phone and sent a text message with my location. “I’ll send someone to pick you up. They’ll
              be there within the hour,” the voice came from the other side before I hung up. For the first time, I
              noticed the ethnic diversity in Lucy’s group. Only she and one other girl seemed to be Caucasian. It was
              hard to tell because they were all made up and looked like vampires on a vegetarian diet.
            </p>

            <p>
              With some effort and Lucy’s help, I sat up and leaned my back against a tombstone. Her hand never leaving
              mine.
            </p>

            <p>
              “Tell me, Lucy, how did a white girl end up living in a neighbourhood that’s predominantly Hispanic and
              black?” She lowered her gaze and murmured, “I’m adopted.” I guessed there was more to tell and waited.
              After a few minutes of silence, Lucy told me about her life with a faraway look in her eyes.
            </p>

            <p>
              Her family came from Jackson, Mississippi. Her father was a policeman, as was Luther, her adopted father.
              The two families had lived side by side since before she was born. Luther and Lucy’s dad used to be
              partners and best friends. They joined the police force together after going through thick and thin in the
              army.
            </p>

            <p>
              Lucy’s birth parents died in a car accident when she was four years old. The neighbours were watching over
              her in their house when it happened, and that’s why she was still alive. After all the legal procedures,
              she was finally adopted. The big guy, Mike, Luther’s son, and Lucy grew up together as brother and sister.
            </p>

            <p>
              They moved to New York after the city underwent budget rebalancing and staff cuts. There was nothing like
              reducing the police&#39;s presence to combat violence. Luther moved his family to the Bronx, near his
              brother, whose wife had recently died of cancer and who needed help with his two young children.
            </p>

            <p>
              Lucy was only eight years old when they moved. They’ve lived in Tremont ever since, and Mike became her
              relentless protector and best friend. It was a tough time for the young girl. She was one of the few white
              people at the school, which made her a target for bullying and constant unwanted attention. Wherever she
              went, she stood out like a white crow. Mike played the role of hero and ended up in all kinds of trouble,
              both suspensions and detention alike, not to mention the endless scrapes and bruises he got defending his
              adopted sister’s honour.
            </p>

            <p>
              Lucy gravitated to the fringe, to the odd people, the outcasts, trying to make herself invisible. Painted,
              pierced and tattooed cared little about pedestrian stuff like wealth or race, and so she made herself
              disappear. Lately, however, life was getting more complicated as money dried out. Mike was twenty-one and
              worked at a local warehouse. It was a minimum wage job, but every little helped. Lucy was unemployed and
              actively looking for work. This graveyard outing was the belated celebration of her eighteenth birthday
              with her former high school friends.
            </p>

            <p>
              Lucy and her stepbrother dreamed of going to college and learning, getting a good job and decent
              opportunities. Both were smart and hardworking, but trapped in the working class paycheck away from
              poverty life. Lucy tried for months to find a job, but the doors closed quickly, sometimes right in her
              face. She was either inexperienced, the wrong type of person, or the wrong skin colour for the job. She
              was a sensitive type, taking it to heart and feeling useless, unwanted and just a burden to her family.
              Most nights, she cried herself to sleep. As a shy goth with an acute low self-esteem meant she wasn’t
              getting much further in life. It was a trap from which she couldn’t get out.
            </p>

            <p>
              Luther and his wife loved their children. They loved Lucy as if she were their own. Luther kept saying,
              “kids, do what you must. Run if you can. Escape, and don’t look back. We love you to death, but nothing
              awaits you here, only more of the same, until your time runs out. Take your chance and gamble. The worst
              that can happen is that you fail and end up where you’re now, right here with me, at the bottom of the
              ladder.”
            </p>

            <p>
              That was some heavy stuff to saddle a complete stranger with, especially one who was naked and covered in
              mud after downing half a bottle of cheap spirit in a graveyard. I felt that Lucy really needed to tell
              this to someone and get rid of her emotional baggage. Not knowing what to say, I squeezed her hand and
              watched her big blue eyes tear up.
            </p>

            <p>
              “I’m sorry about that,” she said, waking from her melancholic trance and realising she had over shared.
            </p>

            <p>
              “It’s all right,” I said with a smile. “I’ve heard worse,” stroking the hair from her cheek as I felt the
              warmth of her skin. The whole situation was a little surreal, even for me, though it wasn’t my first
              graveyard party. I noticed Lucy’s friends giving us some space, perhaps out of embarrassment at my state
              of undress or because they were used to her pathological empathy for the less fortunate. Maybe they
              noticed the intense way she looked at me. Whatever the reason, they stayed out of it.
            </p>

            <p>
              A deep rumbling sound of a powerful engine echoed from the road lit by a few remaining unbroken street
              lamps. A black sport utility vehicle with unique, sharp, angular lines, the likes of which nobody saw on
              the streets of Tremont, stopped at the curb across from the cemetery. Seconds later, a man looking like a
              bouncer wearing an expensive black suit approached me.
            </p>

            <p>
              “I’m afraid I’ve to go now, Lucy. This is my ride” She got up, pulled my arm and helped me stand up. Still
              unsteady on my feet, I leaned heavily on Lucy. She helped me walk to the car. The man came up to us and
              partially covered my nakedness with his jacket before talking with the group, watching us under the tree.
              He handed them a hundred-dollar bill with the words, “This is for your drink.” Mike stared at the money,
              then approached me and said, “Thanks man, I really appreciate it. Sorry for being a dick” before following
              us out into the street.
            </p>

            <p>
              When he saw the car, Mike drooled over it with his jaw dropped and googly eyes. “Seriously? This car is a
              Karlman King. I’ve only seen it in pictures. I didn’t even know they were available for sale yet. Holy
              fuck, man.”
            </p>

            <p>
              Unlike Lucy, he was clearly a petrolhead. She just said, “it looks nice, but I prefer sports cars”. Mike
              almost fell on the floor, laughing.
            </p>

            <p>
              “It’s a sports car, silly. It costs over a million dollars. Hey man, how much did you pay?” I shrugged and
              said, “about one-five”. Mike whistled. The siblings stared at each other in disbelief. Spending that much
              money on a car was unthinkable. It was undeniable that I was completely out of place, lost in the Bronx.
            </p>

            <p>
              Mike felt we bonded over our love of cars. I saw Lucy was about to say something about it being a waste of
              cash because it was just a car when I opened the back door. “Oh, wow, Omg,” she said in surprise. I let
              the siblings examine the interior. The exquisite upholstery, gilded trim, modern lines, gold-tinted
              windows and cleverly placed lights illuminated the interior in a subtle play of colour. The opulent design
              looked like some sort of spaceship outfitted for the emperor of a distant planet.
            </p>

            <p>
              The siblings stared at the interior, soaking up every little detail, knowing they would never see another
              car like it. Lucy looked at me expectantly with her big blue eyes and tried to say something, but she
              couldn’t get the words out. I looked at her with a smile, held out my hand, and asked, “Are you coming?” I
              saw the confusion on her face. She looked at her brother, who nodded, urging her to take the risk and go
              for it.
            </p>

            <p>
              What better chance could there have been for Lucy, jobless and desperate, trapped in a cul-de-sac of
              misery? On the other side of the door waited a man who, at the minimum, reached out to her for an
              adventure. When you’re at the bottom, the only way is up, and Lucy lived at the bottom for a very long
              time.
            </p>

            <p>
              Mike gently nudged his sister forward. She was eighteen years old now, an adult, offered a hand by a rich
              man. Thousands of thoughts flooded into her mind at once. Horrible stories of what could happen to young
              women with strange men tempered the old hopes and dreams she used to scribble down in her diary.
            </p>

            <p>
              Lucy knew nothing about the stranger, but if she refused, she’d simply return to her daily existence, and
              that moment would become Sunday at the stroke of midnight, turning the car into a pumpkin and the prince
              into a shattered glass slipper. Lucy was absolutely sure that she didn’t want that. As if in a dream, she
              sat down in the car, took my hand and squeezed it with a look of a deer in headlights in her eyes.
            </p>

            <p>
              Mike gave me a serious look and said matter-of-factly, “I’ll kill you if anything happens to her.” I shook
              his hand and acknowledged his words with all the gravity they deserved. “Be good to her,” Mike said,
              before closing the door. Then, as if he’d forgotten something important, he signalled me to roll down the
              window.
            </p>

            <p>
              “What’s your name, man?” I heard him ask. The car drove away, leaving Mike in the street with only one
              word echoing in his head. It was “Greg.”
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Greg-Rumpel-Stiltskin-ebook/dp/B0B298962T'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3y7XejC'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Greg?id=8TNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>

              <a href='/books/greg/preview/chapter-1-champagne-and-roses' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 1 - Champagne and roses >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
