---
import Layout from '../../../layouts/Layout.astro';
import Navbar from '../../../components/Navbar.astro';
import Footer from '../../../components/Footer.astro';
import Subscribe from '../../../components/Subscribe.astro';
---

<Layout
  title='Rumpel Stiltskin | Behind the Glass Door'
  description='Behind the Glass Door novel by Rumpel Stiltskin'
  image='/images/behind.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <div class='big-cover'>
          <img src='/images/covers/behind.jpg' />
        </div>
        <div class='book-description'>
          <p class='emp grey'>BY RUMPEL STILTSKIN</p>
          <div class='book-title-container'>
            <div class='title'>Behind the glass door</div>
            <div>
              <a href='preview/prologue' class='preview-button'>Preview</a>
            </div><br />
          </div>

          <div class='bigger'>
            <p>
              Bored rich sociopath develops an obsession with a girl he accidentally met on a train from London. He uses
              all his power and money to destroy the young student's life so she would become his willing sex slave.
              This is a tale of sex, violence and obsession.
            </p>
            <p>
              Hidden behind a mask of smiles of an English gentleman is a dangerous sociopath. Liam's disdain for life,
              the world and the people in it leads him on a journey to America to intentionally ruin a young girl's
              life. On his way, he comes across people he manipulates or extorts into terrible situations while posing
              as their saviour and friend. Liam knows what he does is wrong, and he is okay with it. He just doesn't
              care. His utter contempt for life combined with brainwashing infects other people so they too will spread
              his poison to others. He wants to see the world burn for his own amusement.
            </p>
            <p>
              This book contains strong language, graphic descriptions of sex between adults, prostitution, drug use and
              psychological powerplay.
            </p>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/gp/product/B098FFXDK2'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3HIjuUk'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a
                href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Behind_the_Glass_Door?id=6TNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>
              <!-- <a href="" class="retailer preview-button" style="margin-top: 10px">Preview</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br /><br />
            <Subscribe />
            <!-- <div id='disqus_thread' class='disqus'></div> -->
            <br /><br />
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
