---
import Layout from '../../../layouts/Layout.astro';
import Navbar from '../../../components/Navbar.astro';
import Footer from '../../../components/Footer.astro';
import Subscribe from '../../../components/Subscribe.astro';
---

<Layout
  title='Rumpel Stiltskin | King of New York'
  description='King of New York novel by Rumpel Stiltskin'
  image='/images/king-of-new-york.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <div class='big-cover'>
          <img src='/images/covers/king-of-new-york.jpg' />
        </div>
        <div class='book-description'>
          <p class='emp grey'>BY RUMPEL STILTSKIN</p>
          <div class='book-title-container'>
            <div class='title'>King of New York</div>
            <div>
              <br /><br />

              <!-- <a href='preview/' class='preview-button'>Preview</a> -->
            </div><br />
          </div>

          <div class='bigger'>
            <p>This is the followup book to "the inheritance"/ The full description is coming soon</p>
            <p>This book contains strong language and a graphic description of consensual sex between adults.</p>

            <br /><br />
            <Subscribe />
            <!-- <div id='disqus_thread' class='disqus'></div> -->
            <br /><br />
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
