---
import GlobalStyles from "../../../components/GlobalStyles.astro";
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card.astro";
import Navbar from "../../../components/Navbar.astro";
import Footer from "../../../components/Footer.astro";
---

<Layout
  title="Rumpel Stiltskin | Books and Stories - Published Works"
  description="Published books and stories by Rumpel Stiltskin"
  image="/images/logo.png"
>
  <Navbar />
  <main>
    <div>
      <br />
      <br />
      <br />
    </div>
    <div class="grid">
      <div class="big-cover">
        <img src="/images/authors/miltonmaru.jpg" />
      </div>
      <div class="book-description">
        <p class="emp grey">AUTHOR</p>
        <div class="book-title-container">
          <div class="title">Milton Maru</div>
        </div>

        <div class="bigger">
          <p>
            Milton Maru is a writer of expansive, imaginative space operas that
            explore the farthest reaches of both galaxies and the human soul. A
            former seminary student with a degree in divinity, he walked away
            from the path of priesthood to find deeper truths in the stars. Now,
            his novels blend epic space adventures with philosophical
            reflections on humanity’s place in the cosmos.
          </p><p>
            A devoted fan of sci-fi greats like Isaac Asimov and Frank Herbert,
            Milton is a self-proclaimed geek who’s as passionate about starship
            designs as he is about existential debates. He infuses his love for
            science fiction, theology, and the boundless possibilities of the
            universe into his writing, creating worlds that are rich, layered,
            and infinitely vast. When he’s not crafting new intergalactic
            civilizations or exploring deep moral questions through alien
            cultures, you can find him gaming, collecting vintage sci-fi
            memorabilia, or debating the finer points of Star Trek vs. Star Wars
            with friends.
          </p><p>
            Milton Maru’s work invites readers to think big, dream wide, and
            question everything—because, in his worlds, the universe is as much
            a mystery as it is a story waiting to be told.
          </p>
        </div>
      </div>
    </div>

    <div class="monster">
      <div class="center">
        <p class="emp grey">BROWSE BOOKS</p>
        <h1>Upcoming Releases</h1>

        <br /><br />
      </div>
      <div class="grid">
        <div class="book-item">
          <div class="cover">
            <a href="/books/the-virus/" class="small-cover shadowbox">
              <img src="/images/covers/the-virus.jpg" />
            </a>
          </div>
          <div class="author emp grey">MILTON MARU</div>
          <div class="book-title">Once Upon a Time</div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang="scss"></style>
