---
import Layout from '../../../layouts/Layout.astro';
import Navbar from '../../../components/Navbar.astro';
import Footer from '../../../components/Footer.astro';
import Subscribe from '../../../components/Subscribe.astro';
---

<Layout title='Rumpel Stiltskin | Traded' description='Traded story by Rumpel Stiltskin' image='/images/traded.jpg'>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <div class='big-cover'>
          <img src='/images/covers/traded.jpg' />
        </div>
        <div class='book-description'>
          <p class='emp grey'>BY RUMPEL STILTSKIN</p>
          <div class='book-title-container'>
            <div class='title'>Traded<br /></div>
            <div>
              <br /><br />
            </div><br />
          </div>

          <div class='bigger'>
            <p>
              A rich man offers Liam money to use his talents to train a sex slave for him, and everyone has a price.
              The problem is, what happens when you accept? Be careful whom you lay in bed with, or you might lose
              everything.
            </p>

            <p>
              Liam is faced with a dilemma. He needs the money to finance his lifestyle, but he worries about making a
              mistake. Once dealing with the rich and connected, you must learn how to play a different game.
            </p>

            <p>
              This is the story in the same universe as Behind the Glass Door. It follows Liam’s exploits as he turns
              his slave-training knowledge into a profitable business.
            </p>
            <br />
          </div>
          <div class='retailers'>
            <a href='preview/prologue' class='preview-button'>Start reading</a>
            <br /><br /><br />
            <Subscribe />
            <!-- <div id='disqus_thread' class='disqus'></div> -->
            <br /><br />
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
