---
import GlobalStyles from "../../../components/GlobalStyles.astro";
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card.astro";
import Navbar from "../../../components/Navbar.astro";
import Footer from "../../../components/Footer.astro";
---

<Layout
  title="Rumpel Stiltskin | Books and Stories - Published Works"
  description="Published books and stories by Rumpel Stiltskin"
  image="/images/logo.png"
>
  <Navbar />
  <main>
    <div>
      <br />
      <br />
      <br />
    </div>
    <div class="grid">
      <div class="big-cover">
        <img src="/images/authors/augustfolly.jpg" />
      </div>
      <div class="book-description">
        <p class="emp grey">AUTHOR</p>
        <div class="book-title-container">
          <div class="title">August Folly</div>
        </div>

        <div class="bigger">
          <p>
            August Folly is a novelist, literary activist, and self-styled
            provocateur who has never met a convention he didn’t want to break.
            Oxford-educated but fiercely anti-establishment, August coined the
            term “punk fiction” to describe his brash, stripped-down style that
            aims to unsettle, awaken, and dismantle society’s most comfortable
            lies. With novels that attack everything from systemic corruption to
            the commodification of art, he writes with clinical precision and
            furious urgency—skewering hypocrisy, questioning morality, and
            peeling back the polite veneers that hide society’s darkest truths.
          </p><p>
            Far from mere fiction, August’s work is a form of social activism.
            Uncompromising and confrontational, he tackles themes like human
            trafficking, the abuse of power, and media sensationalism, demanding
            readers confront the unsettling realities often ignored. His prose,
            emotionally detached yet brutally vivid, builds visceral tension
            while forcing readers to grapple with their own biases and
            assumptions. For August, writing is not about comfort or
            escapism—it’s about provoking thought, igniting action, and pushing
            the boundaries of what storytelling can do.
          </p><p>
            August Folly doesn’t believe in heroes, happy endings, or playing
            nice. But beneath his rebellious style lies a profound love for
            humanity and a relentless belief in ethical responsibility. His
            books are literary hand grenades: blunt, raw, and designed to make
            you think—and rethink—the world around you.
          </p>
        </div>
      </div>
    </div>

    <div class="monster">
      <div class="center">
        <p class="emp grey">BROWSE BOOKS</p>
        <h1>Published books</h1>

        <br /><br />
      </div>
      <div class="grid">
        <div class="book-item">
          <div class="cover">
            <a href="/books/jacks-island/" class="small-cover shadowbox">
              <img src="/images/covers/murderous-intent.jpg" />
            </a>
          </div>
          <div class="author emp grey">AUGUST FOLLY</div>
          <div class="book-title">Murderous Intent</div>
        </div>

        <div class="book-item">
          <div class="cover">
            <a href="/books/jacks-island/" class="small-cover shadowbox">
              <img src="/images/covers/the-last-of-the-assassins.jpg" />
            </a>
          </div>
          <div class="author emp grey">AUGUST FOLLY</div>
          <div class="book-title">The Last of the Assassins</div>
        </div>

        <div class="book-item">
          <div class="cover">
            <a href="/books/jacks-island/" class="small-cover shadowbox">
              <img src="/images/covers/kingmaker.jpg" />
            </a>
          </div>
          <div class="author emp grey">AUGUST FOLLY</div>
          <div class="book-title">Ace of Spades: Kingmaker</div>
        </div>

        <div></div>
      </div>
      <div class="center">
        <p class="emp grey">BROWSE BOOKS</p>
        <h1>Upcoming Releases</h1>

        <br /><br />
      </div>
      <div class="grid">
        <div class="book-item">
          <div class="cover">
            <a href="/books/jacks-island/" class="small-cover shadowbox">
              <img src="/images/covers/till-death-do-us-part.jpg" />
            </a>
          </div>
          <div class="author emp grey">AUGUST FOLLY</div>
          <div class="book-title">Till Death Do Us Part</div>
        </div>

        <div class="book-item">
          <div class="cover">
            <a href="/books/big/" class="small-cover shadowbox">
              <img src="/images/covers/big.jpg" />
            </a>
          </div>
          <div class="author emp grey">AUGUST FOLLY</div>
          <div class="book-title">Big</div>
        </div>

        <div class="book-item">
          <div class="cover">
            <a href="/books/magnificent/" class="small-cover shadowbox">
              <img src="/images/covers/magnificent.jpg" />
            </a>
          </div>
          <div class="author emp grey">AUGUST FOLLY</div>
          <div class="book-title">Magnificent</div>
        </div>

        <div class="book-item">
          <div class="cover">
            <a href="/books/magnificent/" class="small-cover shadowbox">
              <img src="/images/covers/beautiful-boy.jpg" />
            </a>
          </div>
          <div class="author emp grey">AUGUST FOLLY</div>
          <div class="book-title">Beautiful Boy</div>
        </div>

        <div class="book-item">
          <div class="cover">
            <a href="/books/magnificent/" class="small-cover shadowbox">
              <img src="/images/covers/hunting-game.jpg" />
            </a>
          </div>
          <div class="author emp grey">AUGUST FOLLY</div>
          <div class="book-title">Hunting Game</div>
        </div>

        <div class="book-item">
          <div class="cover">
            <a href="/books/magnificent/" class="small-cover shadowbox">
              <img src="/images/covers/punk-fiction.jpg" />
            </a>
          </div>
          <div class="author emp grey">AUGUST FOLLY</div>
          <div class="book-title">Punk Fiction</div>
        </div>

        <div class="book-item">
          <div class="cover">
            <a href="/books/magnificent/" class="small-cover shadowbox">
              <img src="/images/covers/magnificent.jpg" />
            </a>
          </div>
          <div class="author emp grey">AUGUST FOLLY</div>
          <div class="book-title">Method Writing</div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang="scss"></style>
