---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Big Fish | Chapter 8 - Long haul'
  description='Big Fish novel by Rumpel Stiltskin'
  image='/images/big-fish.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/big-fish.jpg' class="big-cover-img" /> -->
          <p class='emp grey'>BIG FISH</p>
          <h1>Chapter 8 - Long haul</h1>
          <div class='biggest'>
            <p>
              It is strange how life turns out in the end. I was alive, and I knew that, but little else. Days passed,
              and the mysterious woman would come at night. She would serve me food and fine wine. All my repressed
              memories bubbled to the surface. I was living out the last days of my life in a fantasy world, my
              imagination created fed by the stories I read mixed with memories. Still no rain. The ship and I remained
              frozen in time. Every day I would wake up in worse pain. I would talk to the big fish and tell her about
              my life. At night, she would turn into a beautiful mermaid who came out of the sea to dance with me in the
              moonlight until I fell asleep in her arms.
            </p>

            <p>
              My heart was broken for so long that I got used to the pain. This was something different. I was alone in
              the ocean with a figment of my imagination, with nobody to hear me scream in pain. All of it came out now
              in volume. All the loss and shame, all my hurt and disappointment.
            </p>

            <p>
              I wanted to be different and do something great with my life, but in the end, I failed. I compromised too
              many times and made a dog’s dinner of it. Now, in the end, looking back, I missed what counted. The plan I
              made as a teenager worked. I became a respected, affluent man who climbed the ladder and lived my life as
              I wanted, or at least that’s what I used to tell myself.
            </p>

            <p>
              Alone, now, in the arms of a beautiful imaginary princess, I broke down. Decades have passed. Who said
              that men shouldn’t cry? It didn’t matter anymore. I was dead already; It was my time. I had no control
              over anything, least of all my life, but I still had some influence over what I imagined. The girl with
              Naya’s eyes looked so similar, like a grown-up version of the teenager I once loved, so I called her that
              and imagined I was with her back at that pier.
            </p>

            <p>“I waited for you all summer.”</p>

            <p>“I am here now.”</p>

            <p>
              “I never stopped loving you; You have my heart.” Crocodile tears run down my face as I embraced my love.
              Instantly I was back in a park, lying in the grass field with Naya in my arms. We kissed and held hands
              like we used to, counting stars, imagining our future someday.
            </p>

            <p>
              I wanted to ask her what happened, but it would be pointless; I would just be asking myself. That’s the
              problem with imaginary people. They exist only in our heads. I hoped she would tell me how this story
              ended. I guessed not well, judging by my pain.
            </p>

            <p>
              “Come with me.” She smiled, pulling my hand towards the water. I couldn’t say anything, just looked at her
              in wonder. She jumped in, and I followed. We dived in together, and she pulled me in deeper.
            </p>

            <p>
              “It is too deep. I’m going to drown.” Inside myself, I screamed as the darkness enveloped me. Maybe in
              real life, I was dying, lying somewhere on the ship. Perhaps I died when I opened the safe room door, and
              all this was just one eternal moment.
            </p>

            <p>
              The stars appeared, and Naya still pulled me deeper, and I realised those were not the stars, but millions
              of creatures. They swam around us like fireflies, guiding us into the dark nothingness of the deep water.
              I tried to keep my breath but failed, and my body inhaled water out of reflex. Imagine my surprise to
              learn I could breathe. I saw little sparkling bubbles of air coming somewhere from the depths. They
              contained oxygen.
            </p>

            <p>
              This was a dream; I knew it. People can’t breathe water. It was all my imagination, in which Naya was a
              mermaid, and she was taking me somewhere. I let go of my fear and allowed the moment to pass, watching
              Naya with a beautiful long tail reflecting the lights in white, gold and blue colours. She held my hand as
              she pulled me towards the bottom of the ocean. It was endless. The only light came from the creatures
              guiding us to the abyss.
            </p>

            <p>
              She smiled at me, following the bubbles. It was a wonderful dream; I would follow her anywhere. In the
              end, like in the beginning, my heart was whole, and I was ready. It didn’t matter anymore that I was going
              to die. What better way than with the one you love? I realised as we descended into incredible depths that
              I would follow Naya anywhere, even to my death.
            </p>

            <p>
              All this work and struggle, all the compromises of my life, came to nothing. Maybe none of that happened,
              and I was still waiting for Naya at the pier. Perhaps I died back then from the exposure, and everything
              else was a nightmare except Kelsey, my only daughter, the only trace of my family, the only proof I ever
              lived.
            </p>

            <p>
              So simple, so complicated, that thing we call life. I was finally happy, descending to the bottom of the
              sea. “What is this?” I wanted to say, noticing the water getting brighter. We were going down, away from
              the moon and the stars. What could be so bright below miles of water?
            </p>

            <p>
              Millions of little invisible creatures, krill, molluscs and such, all had their lights on, illuminating
              the waters in a pale shade of blue. I looked around as we touched the ground, and it looked surreal, like
              some other planet. I saw carved rocks and stones abandoned and forgotten. The sand would lift and float,
              disturbed wherever I stepped to reveal a cobbled pathway. It led towards the ancient pillars and broken
              arches even deeper towards some gap.
            </p>

            <p>
              “This shouldn’t be here. What is this place?” I wondered in amazement. The things a mind can create out of
              thin air. It was clearly a manmade pathway, looking like a collapsed stone bridge. It would be impossible;
              there was no land around here. There was no way anything could have existed there that would sink after an
              earthquake. It would take an immense catastrophe, like breaking off tectonic plates to push something so
              deep underwater. They say that our civilisation existed only about six thousand years. Something like that
              would cause an incredible flood.
            </p>

            <p>
              Naya led me to a crevice between the heap of rocks into a cave. Great vines of light illuminated the
              entrance, making it appear like the throat of some mythical monster, maybe a turtle of some kind. I looked
              around in amazement, almost forgetting it was all an invention of my injured brain. Still, one could enjoy
              it. Anything was better than my reality.
            </p>

            <p>
              We swam through the cave for the longest time, turning left and right, navigating a maze of pathways,
              always going down, going deeper, until I saw a bright light at the end of the tunnel. I had to close my
              eyes and open them slowly. It was much brighter than in broad daylight on the surface.
            </p>

            <p>
              “What is this place?” I asked, crossing the invisible barrier between the cave and the wide open space. It
              was miles long and high, and there was air. Grass grew, and the trees. Birds came up to us and looked at
              me curiously. I looked up to see the top of the cave, but it was too bright to focus my eyes. “How is this
              possible?”
            </p>

            <p>
              Naya smiled at me and took my hand again, giggled and pulled me along a little polished stone path in the
              grass. “This is my home”, she said, pointing at the shiny oval pillars in the distance. I was too shocked
              to notice them before, still looking at all the grass, trees, and flowers. The place looked like some
              secret garden with all sorts of fantastic creatures. She picked a peach for me as we walked by an orchard.
              Oh, what a pleasure sinking my teeth into it. I felt its sweet juicy taste explosion in my mouth. I never
              ate a peach like that, so tasty and ripe.
            </p>

            <p>
              I almost jumped seeing a woman in the distance and another yet. One after another, more women appeared.
              They were all young, tall and beautiful with long flowing hair, almost touching the ground and naked. I
              saw them study me with the greatest curiosity. All of them looked different, but each had Naya’s eyes, and
              there were no men. Only women. They walked behind us, observing me walk as Naya led me through the gardens
              into the city limits surrounded by circular stone streets.
            </p>

            <p>
              “Incredible!” I said, looking at white polished surfaces of tall multi-storey buildings made of some
              material that looked like polished ivory but felt sturdy like steel. Each floor had a cut-in balcony
              seeping water into a canal surrounding the building. All of it intermixed with wines of flowers and
              leaves, the type I never seen before.
            </p>

            <p>
              Naya led me between the buildings, followed by more and more women, till we got to some sort of round
              central square. The buildings were laid out in a circular pattern. The same material as the buildings
              covered the grounds of the courtyard. I gasped. In the middle of it stood a large, smooth golden pyramid
              at least ten stories high, reflecting light in a multitude of colours, but not off its sides, which were
              uniformly brushed to give a softer appearance. The light reflected from the etched, polished gold letters
              in a script I never saw before.
            </p>

            <p>
              It looked a little like cuneiform but softer, clearly placed there by a practised hand. Each cut would end
              in a fine line, out of which vines and branches would flower. It was the most beautiful script anyone
              could imagine, each letter or symbol looking like a unique flower, starting with a petal and growing
              leaves.
            </p>

            <p>“This is the hall of truth. It contains everything that is.” I barely noticed what Naya said.</p>

            <p>“What does it say?” I said, pointing at the seemingly endless text covering the pyramid.</p>

            <p>
              “They are the names of my family, all the way to the beginning.” It was an equivalent of a family tree,
              which looked like it kept going for millennia.
            </p>

            <p>
              It was too much for me to process. Three women came out from the front of the pyramid. One wore some sort
              of gold covering looking like a simple long-flowing silk scarf with white embroidering. The two women
              behind her wore the same, only blue and burgundy. Everyone stopped to look at them, including me.
            </p>

            <p>
              The woman with a golden scarf approached me and studied my eyes before smiling and walking away. That’s
              when I noticed something my mind failed to process. Hundreds of women surrounded us, but none of them said
              a word. They were all silent. All of them were tall and slim and beautiful, almost identical to Naya, and
              naked.
            </p>

            <p>
              “Who are you? What is this place? Who are these people?” I had a million questions. They flooded out like
              a stream, making Naya giggle. Everyone else smiled as if they could hear what I said. She took me by the
              hand and led me to the pyramid. That’s when I noticed a rectangular carving in a shape of a door with a
              symbol of an eye in the middle. Naya smiled at me, placing one hand on the door, and I mimicked.
            </p>

            <p>
              Instantly, the world turned dark. I turned around to realise we were on the other side, inside the
              pyramid, in some sort of dark hallway made of gold, ten stories tall. I touched the etched writing, and it
              reacted by illuminating the symbol and the vines coming out of it, exciting the attached symbols to the
              infinity. The bright light on the other end beckoned. Naya led me there, and as soon as we got out, the
              hallway disappeared, leaving us alone in an immense white place. There wasn’t a single shadow or sense of
              depth. The place could be miles tall and wide. It felt like I was alone with Naya inside of a bright
              nothingness.
            </p>

            <p>
              “My people are Altyrian”, she said, and the world changed. We were on some island, somewhere full of
              tropical trees. I could smell the salty air on a fresh summer breeze. It was all too much, and I had to
              sit down. The psychological pressure was too heavy for me to bear. She sat next to me and watched,
              allowing me to collect my thoughts and get to my senses.
            </p>

            <p>
              After a few minutes of restarting my brain, I noticed sand in my hand. I picked it from the ground. “Is
              this real?”
            </p>

            <p>“What is real?” Naya reminded me of Evgeny. She talked in riddles.</p>

            <p>“Where are we?”</p>

            <p>
              “On the island.” She pointed with her hand, and I looked behind me to notice an immense tree in the
              centre. It was so tall that it touched the sky. I’ve never seen a tree this large in my life.
            </p>

            <p>
              “It is called Buyan, the home of three winds, the Alatyr stone and the tree of life.” They said that the
              ancients granted an immortality to a turtle at the dawn of time, so it could live forever and wait for
              their return. It grew so big that trees grew on it, turning it into an island. I sat quietly, listening to
              Naya’s stories.
            </p>

            <p>
              “Are you some kind of alien?” I saw too many science-fiction movies as a teenager. This made her giggle.
              It was a pleasure to hear her laughter that rang like Christmas bells and felt like echoes of happiness.
            </p>

            <p>
              “This is our home, Jim.” She saw the confusion on my face, squeezed my hand and told me a story. When
              Earth was young, in the beginning, an ancient race decided to leave. They were like gods; some called them
              titans. The ancients created an immortal race in their own image and gave them a small part of ultimate
              power. They called them the firstborn.
            </p>

            <p>
              “Everything has a beginning and an end. The only constant in the universe is the change.” The firstborn
              knew that, even the ancients left, so they created twelve races of men to share the planet with a race of
              gods to look after them and guide them. “I am one of those twelve races, and you are another. The
              firstborns called you Antari.” Antari, Antari, what a strange name. The story seemed unbelievable, yet
              somehow it made sense.
            </p>

            <p>
              “Why Antari?” I had so many questions, yet I was afraid to ask them lest I learn something else I wouldn’t
              know how to process.
            </p>

            <p>
              “The ancients called this planet Taar, so the firstborns called your people An. An-Taar, Antari. This is
              why my people are called Altyrian or Al-Taar in the ancient tongue.” I watched Naya in fascination as she
              told me the stories and legends of her people. I could sit for eternity, lost in her voice, holding her
              hands in mine and feel at home.
            </p>

            <p>
              “Why didn’t you come?” I summed up enough courage to ask what I dreaded. I asked myself the same a million
              times, never close to the answer. That moment on the pier when she didn’t arrive shaped my life. I was who
              I was because of that one summer. I left my heart on that pier, loving a girl that wasn’t there. Naya’s
              face turned to a shade, and her eyes glistened. I saw deep pain in her, and I winced.
            </p>

            <p>
              She looked down for a few moments, playing with my fingers for a while before squeezing them and telling
              me a story. “The one you met is gone, but I remain. She gave you her heart and died from the pain, but she
              left me behind and I stayed.” I felt this trembling deep inside me, all the pain and anguish surfacing.
              Naya held my hands as I cried, gasping for air. Everything I have experienced so far was insignificant
              compared to having your heart ripped apart, facing the end. I buried and repressed all my emotions since
              that day. Three decades of accumulated pain, left to fester and infect everything I touched, came out in
              gasps for air. “Men don’t cry, boy.” I didn’t care. Grasping for my sanity, I followed Naya’s tale,
              letting her tell me the story of the only woman I loved.
            </p>

            <p>
              “Altyrians bond with one person for life. It is the most powerful feeling bar none.” Their race of people
              was given the gift of the oceans and three hundred years of life, but there were no males born to them,
              only women. When the time comes, the Altyrian takes a genetic sample and goes to sleep at the bottom of
              the sea. She turns into a shell, some six feet in diameter, looking like Pectinidae, resembling a Chinese
              hand fan, gold, white, and blue.
            </p>

            <p>
              “It takes twenty years to create a pearl egg, which gestates for another ten before it hatches only in
              deep water.” This instantly clicked.
            </p>

            <p>“Rusalochka,” I almost shouted, remembering the pearl egg I released into the ocean.</p>

            <p>
              “Yes,” the girl smiled, rubbing my hand. All of it suddenly made so much sense. The ship, the egg, and the
              obsession of the old Russian man.
            </p>

            <p>“If that is true, you are only a few days old. How can that be possible?”</p>

            <p>
              “My people are born with all the knowledge of the ones before.” It was a strange kind of living. Altyrians
              shared each other’s thoughts and memories, all the way to the beginning of time since the firstborns
              walked the planet. It all made sense, the lights, the cave, the golden pyramid and the island atop a
              turtle. Their civilisation was incredibly old and advanced. Compared to them, we were little children. It
              also explained why mermaids were only legends.
            </p>

            <p>
              I still loved Naya after all those years. She took my heart and kept it. For all those years, I thought of
              my pain and my mistakes. Altyrians were born innocent without a capacity for subterfuge, and when they
              loved, it was all they felt. A day without Naya was like an eternity for her, and after a few months, she
              couldn’t take it anymore. She ended it and turned herself into a shell, using my DNA for an egg.
            </p>

            <p>
              She did it for her love, and when I released the egg, it hatched. All the memories flooded, and the new
              person emerged. She came to me at first to observe, but when I refused to kill the big fish, she found
              what Naya loved. I was still that kid in love after all this time.
            </p>

            <p>
              “Am I going to die?” She frowned and nodded. “We may not talk with your people or influence them. Naya
              broke the most important rule, loving you more than you can imagine.” It made sense. I couldn’t even
              imagine what would happen if humans learned we shared a planet with another race, significantly more
              advanced. All the envy and greed would spill, not to mention all the fear. We’d happily destroy the planet
              to make sure nobody threatened our dominance. I read somewhere, it happened before.
            </p>

            <p>
              We were the masters of the land, but not the oceans. The big blue waters hid untold secrets. We looked up
              into space to find life. We should have looked elsewhere and developed a civilisation that would invite
              Altyrians to reveal themselves. I was caught in the middle, unwitting collateral in a game I didn’t know
              played.
            </p>

            <p>
              I felt tired, so tired, exhausted. Millions of thoughts swirled in my head. Right there, for a moment, I
              almost forgot who I was and where. Reality? What a thing. I walked the knife’s edge between a beautiful
              dream and a life ending. Naya took me into her arms and let me lay my head on her lap while she brushed my
              hair gently with her long nails. She hummed a song that soothed me. It was too much for my mind to
              process, but I smiled. She didn’t betray me. She carried my genes and added them to her people, at least
              in my dreams. Fantasy is a powerful thing when all you can do is sleep and imagine atop a half-sunken
              ship, lost in the ocean, far from everything, separated from reality. Maybe I wasn’t real; maybe I was an
              actor in someone’s dream. The sun started to set, and I could hear the hum of the world and the song of
              the sirens. So soothing, so sweet, like a dream within a dream.
            </p>

            <p class="center">***</p>

            <p>
              The morning came, and I barely moved. “What a dream.” I was in pain, and the light hurt my eyes like
              red-hot needles, so I closed them. The end was near. I could feel it in my bones, but I was wrong before.
              It would bring me a release, not so much from the pain as much as heartache. I’ve never been alone like
              this before; I never coped well with solitude, and the thoughts I had kept coming, making it better for
              the moment but worse in the end. They reminded me of my reality, and it sucked. There comes a time when a
              man doesn’t want to wake up and stay in the land of dreams.
            </p>

            <p>
              I closed my eyes and, in just a few moments, drifted back to sleep in the world of dreams. It was better
              there; I could do what I wanted. It is strange how the mind conjures up images. In dreams, anything could
              happen, but only when I slept. I dreamt of Naya when we were young. It was my secret recurring dream. I
              told no one that I dreamt of her for years.
            </p>

            <p>
              For a brief time in my life, the dreams quieted when I was with Irma and raising my daughter. I loved them
              both and would die for them, but I wasn’t in love with my wife like I was with Naya when we were
              teenagers.
            </p>

            <p>
              The sound of waves entered my dream, and I opened my eyes. I was on a beach. It was a bright day with a
              blue sky and the sun high in the air. My hands felt the fine white coral sand; it felt good to touch solid
              ground. The beach went on as far as I could see, sloping up to a grassy field, trees and bushes with a
              path leading to an orchard with ripe apples, plums, apricots, and pears. My mouth watered, imagining the
              taste. I never thought I would miss fruits before I saw them. “Where am I? What is this place?”
            </p>

            <p>
              “You are on Buyan.” I turned around, and there she was, Naya, as I remembered her. She didn’t age a single
              day. Then I remembered and looked at myself. This was a dream, and we were both teenagers. My dream from
              the last night continued, mixed with the memories and desires I carried hidden. I realised then that I was
              back on the island. Did I ever leave?
            </p>

            <p>
              I surrendered myself to it, preferring the world of dreams. Naya took my hand with a smile. “Come, I want
              to show you my home.” She led me uphill through the orchard to a neatly trimmed garden.
            </p>

            <p>“You live alone here?”</p>

            <p>
              “Oh, no. There are many others, but you can’t see them.” She kissed my confused face and giggled. On the
              other side of the garden was a white castle reflecting the sunlight surrounded by a tall white wall and a
              golden gate. All of it shone in a million colours as the sunshine bounced from one surface to another. I
              looked up and smiled. The castle was right at the end of the rainbow.
            </p>

            <p>
              Naya smiled, pulling my hand, perhaps amused by my expression. This was the most beautiful place I’ve seen
              in my life. It was all made of that same white material with golden accents and writings in the same
              language I saw on the pyramid walls.
            </p>

            <p>
              “How do you read this? How does it sound?” I pointed at a grouping of symbols, curious about them. She
              giggled like a child. “You ears can’t hear that. To you, it would sound quite unpleasant.” She read a
              little, and it was terrible. I felt dizzy and nauseous for a moment. It sounded like the howls of the
              storm.
            </p>

            <p>
              She saw my face and stopped. “We are the people of water. Ours is an old language going back to the
              ancients.” I did not know what she was talking about, but it made sense. The water is much denser than
              air. Sound travel at different speeds through liquids. I remembered the fundamental physics of my school
              days.
            </p>

            <p>
              We passed by the wall and into the forest. Naya led me under the trees to a small river and a lake. I
              almost jumped in surprise at seeing about a dozen beautiful naked women bathing under a waterfall,
              splashing each other and giggling like children. As soon as they noticed us, they dived and vanished. All
              of them had a beautiful blue and gold fishtails.
            </p>

            <p>
              Naya led me to the spot under the great tree, where we sat down and watched the mermaids emerge again and
              continue their play. There I was, a teenager again, holding hands with the love of my life. The time
              stopped, and the world might have ended. I found my true love and boundless happiness.
            </p>

            <p>
              “Naya, I love you; I missed you so much.” For the first time in decades, I let go of all my emotions and
              spoke the words that weighed my heart. “Men are strong, boy. They suffer in silence. Life is suffering and
              endless struggle.” The words of my father shaped me and turned me into stone. My heart was breaking, but I
              couldn’t tell anyone.
            </p>

            <p>
              Stiff upper lip and keeping my feelings behind an eightfold fence in a dark drawer somewhere in a maze. I
              was alive, not living. The time passed and stood still. It trapped me inside my own thoughts and
              inadequacies, my personal hell that, over the years, got perfected. The feelings would come in, but
              nothing came out. I was a black hole of emotions, giving nothing away. Yes, I was a monster.
            </p>

            <p>
              Naya’s incredible eyes were like sunshine. What froze me and kept me buried now went away. I wanted to
              tell her so much, but I only felt love. I loved her more than I loved life. I loved her and my daughter. I
              wanted to scream, but cried instead. I found my happiness in the end. Surely, now I would die. It was
              time.
            </p>

            <p>
              She held me in her arms, loving me like always. I remembered that face, those hands. I saw the love she
              felt for me again. The time went away. The pictures of life wasted melted, turning into fine white
              chocolate with little glimmering bits inside. I didn’t care. The world was right again. I was with one I
              loved, my soulmate. Somewhere in the heavens, gods laughed, watching the melodrama of my life. I didn’t
              care. Life was good again. I was with Naya and I would never let her leave.
            </p>

            <p>
              “Aaaah,” my scream echoed across the water. Incredible pain shot through my body, pulling me out of my
              dream and forcing me awake. “This is it.” I knew it. “Time to die, Jim.” It would be funny if I wasn’t
              dying. It finally happened. Whatever was wrong with me and getting worse culminated.
            </p>

            <p>
              I squirmed in pain, flapping my hands. The pain was too much to ignore, yet not strong enough to faint. I
              wanted to stand up and jump into the water, drowning myself to die quicker, but I couldn’t move. My whole
              body seized, my heart going a mile a minute. I gasped for air, hissing for breath, screaming and howling
              in immense pain.
            </p>

            <p>
              “God, help me, please. Naya, come back, take me with you, help.” I lost my mind, pleading for anyone. The
              pain was immense, almost exquisite. It was hard to breathe, so I panted like a dog when excited.
            </p>

            <p>
              “What is this?” I felt a gust of wind. “Am I just imagining things?” I imagined too many. Who knows what
              reality is? The only thing I was sure about was that I wasn’t dead yet. The death would be a release. “So
              much pain! Oh, god, it hurts.” And I hissed, growling in pain as my fingers contracted, smacking my fist
              against the hard surface. I wanted to feel something else, even if it was a different kind of pain.
            </p>

            <p>
              “You will die soon, Jim, but look; there is rain.” I watched in wonder as the weather changed. Out of
              nowhere, the clouds appeared, and I tasted a few drops of rain. I didn’t imagine it; the rain was real. So
              was the wind that rose, and I heard waves drumming against the sides.
            </p>

            <p>
              “That’s just my luck.” I laughed while biting my fingers. The rains came at the end of my life. I was free
              to die. I only wished for less pain, but was happy to see Naya again. My time had come, and I was ready.
              My heart was open, and my soul released. I could love again, even for a moment. It was worth everything to
              me, even my death.
            </p>

            <p>
              If I had a choice, I’d still do it the same way. A man lives until his destiny is revealed. I was meant to
              love Naya, and she kept me alive. In the end, I said what I wanted, that I loved her and missed her. I
              should have died at that pier. In fact, I think I did. A part of me died waiting for her. The rest of my
              life was going through the motions. That’s what happens to those that were lost.
            </p>

            <p>
              The waves rose, swaying Rusalochka from side to side. Heavy rain fell, soaking my body that lay still on
              its side, curled up in a foetal position, hyperventilating. It was a fitting end for me. In the end, I
              won’t die alone. There is Naya, Rusalochka and other mermaids. There was an entire nation of Altyrians
              watching me die, escorting me into the great beyond, where who knows what happens. Maybe I’ll get to be
              with Naya again or be reborn as a mermaid. I didn’t care anymore. It was my time.
            </p>

            <p>
              “Goodby Kelsey; goodbye, Naya, my love.” I closed my eyes, and my breathing slowed. The heavy drops of
              rain drummed around my head. No big fish this time, no mermaids or dances in the moonlight, only darkness
              without pain, but I die with love. The sounds got quieter from far away, and peaceful darkness enveloped
              me with no pain. I smiled and exhaled.
            </p>

            <p class="center">***</p>

            <p>
              “He is alive.” The words broke through the haze, mixed with heavy footsteps and the murmur of other
              voices.
            </p>

            <p>
              “We found him; we found the ship,” someone said to another. I opened my eyes and closed them again, unable
              to focus, and the intense light just made it worse.
            </p>

            <p>
              “Please, please, leave me. Let me stay here.” I said in a hoarse whisper, unable to do anything more than
              that. Powerful hands lifted me up and placed me on a stretcher, then carried me somewhere cold and dark. I
              felt so alone.
            </p>

            <p>
              “Come, come, place him here.” Another voice came, this time a female. Someone prodded and poked me with
              syringes before the bleeping sounds of medical machines filled the silence. I didn’t want to go; I wanted
              to stay. I found what I had been looking for all my life. My love and happiness; I found them here.
              “Please don’t take me away. Please let me die in peace.” My lips kept moving, mouthing the words, but
              nobody paid attention. I felt like drifting into a dreamless state. My muscles relaxed, and the pain went
              away moments before the darkness arrived.
            </p>

            <p>“Yes, sir, yes.”</p>

            <p>“He is in critical condition but still alive.”</p>

            <p>“No, sir, about eleven hours if we pushed the engines.”</p>

            <p>“Wake island.”</p>

            <p>
              “I understand. Thank you, sir.” The captain hung up his satellite phone, barking orders to the pilot and
              maxing out the engines. The deep sea search and rescue vessel jumped, eating the miles. In about eleven
              hours, if the weather held, they would reach Wake island, a US military base. The navigator was already on
              the radio declaring an emergency. The soldiers would dispatch a cruiser that was in the vicinity. They had
              a helicopter on board, which would shorten the trip.
            </p>

            <p>
              Tatum stood in silence, focused on her lover. Kelsey held the phone to her ear and quietly cried. She hung
              up and turned to Tatum. “They found him. They found my dad.” In an instance, the two girls embraced, and
              both cried. It was a dream, a hope beyond hope. Nobody could even imagine the happy ending of the
              adventure.
            </p>

            <p>
              A distant passing commercial vessel noticed and floating carcass of a yacht and radioed it ahead.
              Immediately the group of students who hacked into the naval emergency systems found it of interest and let
              Tatum know of a potential hit. She told Kelsey, and they called Demeter, who used the company’s resources
              to find his friend. Hundreds of people were awakened in just a few hours and sent to search for a lost
              vessel.
            </p>

            <p>
              “I lost all hope. It is a miracle.” Kelsey said, embracing her lover. “Demeter told me that dad is in
              critical condition but alive. They will stabilise him and airlift him to the hospital in Hawaii.” There
              was nothing else to do but wait. In some ways, it was worse than not knowing. Over a month passed since
              the storm. A lot of things have happened since then. Kelsey was forced to stay in London and meet Monique
              face to face. She barely suppressed an urge to claw out her eyes each time.
            </p>

            <p>
              A day passed, and another. The news were scarce and silence harder. Kelsey sat in a chair, looking at the
              phone, willing it to ring, but it remained silent. Every little noise would make her jump despite all the
              valium she drank. Her nerves were at their very ends. All she wanted was to see her father and know he was
              okay.
            </p>

            <p>
              “Come on, get dressed. I can’t see you like this anymore.” Tatum suffered almost as much, seeing her
              partner going out of her mind. “Come, let’s have a shower. I already packed our bags.” Kelsey shook her
              head as if to wake up, looking up at Tatum to see if she heard right.
            </p>

            <p>
              “I spoke with my dad. He pulled some strings. I’ve got us the tickets; we’re flying out at six.” This was
              the right message. Kelsey jumped and kissed her lover. Like a bullet, she got into a shower, getting clean
              and ready for the trip. While she dried herself, Tatum explained that they’ll be flying to San Diego
              direct and staying at a house of a family friend who kept a residence in one of the hillside gated
              communities overlooking the ocean. He even left a car.
            </p>

            <p>
              Dalton spoke to some buddies high in the military structure to fly Jim straight to a San Diego military
              base. He would be picked up from there by an ambulance and taken to Scripps Memorial Hospital in La Jolla,
              a short driving distance from the house.
            </p>

            <p>
              To see her dad meant everything to Kelsey. She only knew he was okay but kept in a medically induced coma
              for pain. Nobody would tell her anything else, but it was enough to know that he would be okay. The girls
              took a cab and a fast train to London, then a tube to Heathrow, all just in time to board the plane,
              first-class tickets, courtesy of Tatum’s dad. He had the miles and platinum membership for most of the
              airlines.
            </p>

            <p>
              It was the longest trip of Kelsey’s life. All she could do was tap her foot as time passed. She turned on
              the real-time map on the entertainment system, watching the plane’s altitude and counting miles.
            </p>

            <p>
              Twelve hours, eight bags of peanuts and six little bottles of wine later, the plane finally descended.
              Kelsey wanted to run; it was illogical. Her dad was still on that military base so near and far away, but
              she felt closer. It was an irrational urge to do something of substance and see her father. It took an
              hour to get their bags and find the transport to the house. The security guard at the gate checked their
              documents before issuing keys and verifying security codes. He drove them up to the top of the hill where
              an imposing house made of glass and concrete stood, waiting for them.
            </p>

            <p>
              The building had a front garden and double gate, a path leading to entrance, another to a separate
              building containing a garage. Before they entered, the girls took a look around to find three layers of
              terrace sloping downhill in front of the house. Each had an infinity pool with cascading water from one
              level above. All of it faced the bay and the city on the other side.
            </p>

            <p>
              The girls gasped, inhaling hot Californian air. Such brazen opulence and such excess could only be seen on
              programs about places where celebrities lived. Tatum remembered her father saying that the owner was some
              tech millionaire. It didn’t quite click until they stopped there, and saw the marvel he created.
            </p>

            <p>
              Tatum disabled the security system, and the entire house looked like Bethlehem bathed in light. The owner
              spent most of his time in the bay area, coming to San Diego to rest and enjoy life. The business was
              booming, and he hadn’t visited in over two years. The house was theirs to use as they pleased thanks to a
              venture money invested in the owner’s business by Tatum’s dad. It was a loud reminder that reach people
              don’t live in vacuum. They know each other and do little favours for each other. This is what keeps them
              in power.
            </p>

            <p>
              Once inside, the house didn’t disappoint them. It was clearly designed to awe anyone who entered. The
              interior decorator was a miracle worker, putting everything it the right place to enhance the space. The
              light came in and reflected of things, polished grand white Steinway, paintings and chandelier. It was a
              mix of elegance verging on perverse decadence purposely organised in such a way as to elicit gasps from
              anyone who entered.
            </p>

            <p>
              It took the girls some time to figure out where’s what until Tatum discovered the bath. The owner was a
              hedonist, building a hot spa right on a balcony. It was made of glass and cost him a bomb. The owners
              placed the bath on the cliff side with no nosy neighbours to see him naked. By the time the girls settled
              in, the sun was going down, and the world had turned red. Two lovers undressed and jumped into the hot spa
              naked, holding two glasses of red wine next to each other, mesmerised by the magnificent sunset.
            </p>

            <p>
              “I love you, Kelsey, with all my heart.” Tatum clinked the glass, resting her body against her lover. The
              two girls kissed, sharing their wine; they were soulmates, made for each another. Neither wanted to spend
              a second apart. Once you find true love, you know it inside your heart.
            </p>

            <p>
              “Would you marry me?” Tatum asked casually, but Kelsey felt her body tremble and muscles tense for a
              second.
            </p>

            <p>
              “Of course, I will marry you. You are my life.” The two girls kissed again, loving each other. Tatum
              wanted to pop the question forever. She even had an elaborate thing planned, but being together naked in a
              bubble bath and drinking wine during sunset just seemed like the right time. Nothing she could think of
              could make it better. Sometimes a perfect opportunity presents itself.
            </p>

            <p>
              Kelsey reached over to start the bubbles while Tatum ran out and returned with a champagne bottle and two
              flutes. “To us,” she said, and the girls celebrated. It was the best thing they could do with their time,
              and for the moment, Kelsey’s attention moved away from her father.
            </p>

            <p>
              It was a propitious time, and the two made love for the first time in over a month unencumbered.
              “Everything will be fine; you’ll see.” Tatum kept stroking Kelsey’s hair, whispering, long after she fell
              asleep with her head resting on Tatum’s chest. It was a new age, new hope and opportunity. The world
              seemed right again, only to get better. When two people find each other and fall in love, they call it
              destiny, a kind that was meant to be. Surely some higher power put one and one together, resulting in
              something more than the sum of its parts.
            </p>

            <p class="center">***</p>

            <p>
              The morning came with the fresh smell of salty air, enhanced by the squawking of birds. The two lovers
              lazily stretched on white linen with windows open, breathing the fresh air. One prodded another to move
              and get up, giggling as they did it, ending up tickling. Two smiling women throwing pillows at each other
              before ending up in an embrace broke the silence.
            </p>

            <p>
              “Come, let’s have a shower and get breakfast.” Tatum pulled Kelsey to a large bath. With all the tickling
              and play, it took them an hour to wash each other, then another to get dressed, find the car keys and get
              outside. Tatum was the one behind the wheel, as Kelsey never got used to driving on the wrong side.
            </p>

            <p>“Where should we go?”</p>

            <p>“I don’t know; you are the navigator.”</p>

            <p>
              “The trip advisor recommends this place called La Jolla. It’s next to the beach with lots of cafes and
              restaurants.” Tatum burst into laughter.
            </p>

            <p>
              “It is pronounced, La Hoya, you dimwit.” She was finally on familiar ground, paying Kelsey back for all
              the times she teased her for pronouncing Worcester as warchester instead of wooster or shopping for
              cilantro instead of coriander.
            </p>

            <p>
              Kelsey protested, but Tatum was having none of that. She showed her tongue and sang below voice, Living in
              America, by James Brown. Tatum was in a great mood. She popped the big question and fixed the relationship
              with her dad. Jim was alive and coming. There were so many reasons to keep living. Her luck was looking
              up.
            </p>

            <p>
              She parked next to a restaurant. The girls got in and ordered fruit salad and pancakes, nicely topped up
              with orange sorbet and Italian espresso coffee. Life could be great when things are alright. Kelsey
              relaxed and stopped obsessing about her dad. No matter what, he was coming home. Everyone she talked to
              swore on their life that he would be fine.
            </p>

            <p>
              Dalton organised everything with the best hospital in the city, the best doctors, and the best care for no
              charge. It’s good to be a wealthy banker sometimes, owning controlling packets of various enterprises.
            </p>

            <p>“What do you want to do?” Tatum asked.</p>

            <p>
              “I have no idea. Let’s go for a walk and see.” It was a lovely southern California day. The girls walked
              hand-in-hand, looking at this and that.
            </p>

            <p>
              “What is this?” Kelsey asked, coming closer to a white metal container. A white bird with a large yellow
              beak perched itself on top and rested in the sunshine. “Oh, god, it is a pelican.” She never saw one
              alive. Kelsey looked around and saw a few dozen. It was incredible to see this fantastic creature in
              nature.
            </p>

            <p>
              “Are you nuts?” Tatum pulled her hand. Kelsey cooed, offering her fingers to a confused bird. “You can’t
              pet them. They are wild creatures. It would most likely take your fingers away.” The girls burst into
              laughter, attracting the gaze of a few sunbathers. A guy in his speedos lay on the grass, keeping a grey
              cat on a leash, enjoying the sunshine.
            </p>

            <p>
              Kelsey enjoyed heartfelt laughter. This place was such a change compared to home. As strange and exciting
              Tatum felt in Cambridge, Kelsey felt the same here. “I like America. It seems fun.” They walked up to a
              bench and sat next to an old woman. She talked with them, intrigued by Kelsey’s accent. She shared a story
              of her first love, a german soldier who ran away after Germany capitulated.
            </p>

            <p>
              Thirsty for local knowledge, the girls bombarded her with questions, learning about Balboa park, the zoo
              and wildlife reserve, the Gaslamp district, SeaWorld and the aquarium.
            </p>

            <p>
              “I want to swim with the dolphins,” Tatum said more for herself. Both girls wanted everything and to
              experience life. The old woman laughed, remembering the days when she was their age and how she wanted to
              try, taste and touch everything and live her life.
            </p>

            <p>
              Mind is a strange thing when left alone. It craves constant stimulation. Luckily the city provided enough
              of distraction. The girls had a late lunch in all-you-can-eat Souplantation and spent the rest of the day
              walking around Balboa park, eating ice cream and enjoying the weather. In the evening the girls headed
              downtown, having a nice Mexican dinner in Gaslamp before parking in front of a live-music bar and ordering
              a couple of fancy non-alcoholic cocktails.
            </p>

            <p>
              At first the guys approached them, but after seeing them kiss, they relented. Instead, a few girls came
              over to make friends; some were lesbian, others curious about their lifestyle. It was still a bit of a
              novelty to see two girls kissing. It tickled Tatum’s fancy; she loved the controversy.
            </p>

            <p>
              The bars kicked them out around one in the morning. It was closing time. By then, they had made a bunch of
              new friends. Some of them lived in posh houses and they invited the rest for an afterparty. That was the
              thing in California. Since the curfew laws introduced by an Austrian, everyone went out to warm up and
              gather the crowd before dragging the group to a private venue.
            </p>

            <p>
              “Let’s go. What’s the worst thing that could happen?” Tatum was always ready for an adventure. They stayed
              up late drinking alcoholic beverages, gossiping and dancing with each other. Some girls had a bong, others
              got sloshed; some paired up with guys and went somewhere private. Tatum and Kelsey were used to this, not
              much different from student living.
            </p>

            <p>
              The girls left around five, feeling hungry and exhausted. They headed straight to Denny’s, an all-night
              diner that served coffee and bottomless pancakes.
            </p>

            <p>
              “Mmm, I missed that,” Tatum said, gorging on her early breakfast. Kelsey shook her head, watching her
              lover devour the food soaked in maple syrup. She never understood why they called them pancakes. Her dad
              would always make crepes. The best ones were just with sugar and crushed walnuts with a touch of cinnamon.
              Kelsey loved that.
            </p>

            <p>
              Her thoughts involuntarily drifted to her father, and her mood changed. She shook it off and forced a
              smile, determined to not allow the dark thoughts to ruin a perfect day.
            </p>

            <p>
              “Come, let’s go to a beach. I want to see the sunrise.” The girls packed up a few pancakes in takeaway
              boxes and paid.
            </p>

            <p>
              “Let me try,” Kelsey said, sitting behind the wheel. Nobody was on the street, so she felt more confident
              driving. The girls giggled all the way to La Jolla, taking it slow, navigating the junctions. At one
              point, Kelsey made a left turn just to realise she was going the wrong way some hundred yards later. She
              panicked when seeing the oncoming traffic and ran a red light to get away.
            </p>

            <p>
              She noticed flashing lights and a siren, panicked and pulled over on the left before getting out of the
              car, lifting her hands up and cursing. Her hands were shaking from the adrenaline. “Screw this. I’m not
              driving here.” The police car stopped some ten yards away, and carefully the policemen got out and
              approached her.
            </p>

            <p>“What seems to be the problem, miss?”</p>

            <p>
              “I am petrified. I made a wrong turn and realised too late, then I had to run the light to avoid oncoming
              traffic.” The man smiled, looking at an upset blonde.
            </p>

            <p>“Have you been drinking?”</p>

            <p>“No, sir, you can breathalyse me,” she said, handing over her license.</p>

            <p>
              “Ah, you’re from England? I’ve been there once; a terrible place. Everyone drives on the wrong side of the
              road.” The officer smiled, handing back her documents. “Try to calm down, miss. Get your bearings and
              drive off safely.” He nodded and made his way back to the police vehicle.
            </p>

            <p>
              “I will not drive anymore. You take the wheel.” It took Tatum some ten minutes to stop laughing at her
              lover and best friend. It was funny; she was enjoying it. Back in England, Kelsey always rubbed minor
              mistakes into her nose, but Tatum had the upper hand here.
            </p>

            <p>
              Twenty minutes later, the girls parked by the beach, took off their shoes, and walked on the sand, holding
              hands. It was getting brighter. Sunrise wasn’t too far away, and they wanted to see it.
            </p>

            <p>
              “The water is nice. Let’s go for a swim.” Tatum was clearly in her element. She was bursting with joy and
              excitement. It made Kelsey understand how much her lover sacrificed to be with her in a strange place.
              Tatum always said that a home is where you hang your hat. Kelsey never thought about it until now. It was
              another proof of her love.
            </p>

            <p>
              Out in the distance, Tatum spotted a group of people. They stood close together in darkness, almost
              touching the waves.
            </p>

            <p>
              “Let’s see what’s happening.” The two girls increased their pace until they could recognise the shapes. It
              was a group of women, all naked. They stood in a semicircle, watching the waves, and then something
              strange happened. The girls hummed for a few seconds and lifted their hands as the sun came out.
            </p>

            <p>
              As soon as they did that, a young woman walked out of the ocean. She was tall with long hair, more
              beautiful than any they had seen before. The woman was perfect, looking like a goddess. She strolled to
              the others, and some of them fell to their knees. The woman said something, and all of them shook as if
              plugged into electricity.
            </p>

            <p>
              It was a bizarre sight, almost crazy, reminiscent of those lunatic cultists you sometimes read about in
              the news. If they weren’t all so young and beautiful, Kelsey and Tatum would think it was true, but their
              curiosity prevailed, and the two approached them.
            </p>

            <p>“What are you doing?” Tatum asked. The beautiful woman looked straight into their eyes.</p>

            <p>
              “We’re giving thanks.” That made it more confusing. “Come, sit with us. I’ll tell you a story.” The girls
              shrugged and were about to sit, but the beautiful woman stopped them. “No clothes, please.”
            </p>

            <p>
              Strange, weird and bizarre. The words failed to express what happened. Not the one to run from the
              challenge, Tatum lost her clothes in two seconds, closely followed by Kelsey. The girls sat next to the
              others, forming a perfect semicircle.
            </p>

            <p>
              “In the beginning, there was void, neither darkness nor light, wind or rain, human or god.” The woman
              started her story from the beginning. It was like Genesis in the Bible. Kelsey knew it by heart, as the
              school she attended was a part of a convent.
            </p>

            <p>
              It sounded like holy scripture, but it was something else. The stories changed to include real people and
              how they found hope and freedom in their faith.
            </p>

            <p>
              “Blessed is the gift of life. Blessed is the Origin.” The beautiful goddess would say and the rest of them
              would repeat.
            </p>

            <p>
              “What is the Origin?” Kelsey asked. Everyone looked at her, surprised. The gorgeous woman took her hand.
            </p>

            <p>“Come with me. Let’s go for a swim.”</p>

            <p>
              The morning came, and everyone left; only Kelsey and Tatum remained. Meeting the strange group was the
              weirdest thing that happened to them in a very long time. Tatum was right. It was some sort of cult, but
              it intrigued them and the stories they heard sounded almost unbelievable.
            </p>

            <p>
              “We stumbled on something crazy or some big secret,” Tatum tried to get her own thoughts in order. Not
              every day do you meet a group of naked women standing on a beach waiting for sunrise.
            </p>

            <p>“They seemed nice,” Kelsey said.</p>

            <p>
              “They seemed demented.” Tatum was always suspicious of groups like that. The beautiful woman introduced
              herself as Arla of the dawn, the first voice of Origin. She had this incredibly charismatic personality.
            </p>

            <p>
              “Join us for sunrise if you lose your way.” She said it with a smile before dressing up and leaving, then
              she turned around and placed her hands on Kelsey’s shoulders. Their eyes met, and something profound
              happened. “Blessed is the gift of life. Blessed is the gift of love.” Arla smiled for the last time and
              walked away.
            </p>

            <p>“I am exhausted,” Tatum said, stretching her hands and yawning.</p>

            <p>
              “I feel fine, full of energy. Let’s go home so you can sleep.” Something indeed happened when she swam
              with Arla. Kelsey was fine, not sleepy or tired, and feeling okay. That she was awake all night didn’t
              bother her the least bit. She couldn’t even remember the last time she went so long without sleep.
            </p>

            <p>
              She shook her head as if to clear it, took Tatum’s hand and led her across the beach. It was a lovely,
              sunny San Diego morning and the first strollers and joggers appeared. Kelsey felt better and centred. She
              had a craving for ice cream, and she was full of hope. Perhaps it was a fact that Tatum proposed. Her life
              suddenly looked brighter.
            </p>

            <p>
              Tatum was in no condition to drive, so Kelsey carefully took the steering wheel again. An hour later,
              moving at a snail’s pace, she parked the car safely at home. She had to slap Tatum a few times before
              half-carrying her upstairs, and they fell into bed. Tatum had no will or strength to deal with a shower.
            </p>

            <p>
              Kelsey tucked her in, peeled an ice cream, undressed and sat in the hot spa outside, watching the ocean
              and cloudless skies with the city in the distance. This city was indeed one strange place. She licked the
              cone, her thoughts miles away, sorting out the day’s events.
            </p>

            <p>
              She could barely remember a day like this, where she had so many impressions and saw so many new things.
              Life is an adventure. It is full of strangeness and pleasure, too short to waste on struggle and hate.
              Perhaps that was what her dad was trying to tell her. In the end, he deserved a life too, but Kelsey acted
              like a brat, punishing him for her mom’s death.
            </p>

            <p>
              “It wasn’t your fault, dad.” She understood that. She understood much more than Jim knew or would notice.
              Kelsey was a smart cookie, mischievous and nosy. She saw his papers and his diagnosis. Irma’s death broke
              him, and he couldn’t sleep. Her dad was wasting away before Monique came.
            </p>

            <p>
              Somehow that woman saved her dad. Kelsey was jealous that she wasn’t the one. She wanted to be there for
              her father, care for him and give him love, but he sent her away.
            </p>

            <p>
              “I know why you did it. You wanted to save me.” Jim was that kind of man, always in control, focused on
              the result. He took care of everyone, especially her mom. Even now, after the divorce, he orchestrated
              everything to benefit the others. “I know your secrets, dad. I’ve known for a long time.” Jim never told
              her about it, but Kelsey was a curious kid.
            </p>

            <p>
              Apple doesn’t fall far from the tree. She inherited her dad’s stubbornness. She schemed, wheeled and
              dealed; she bribed and threatened. One after another, little puzzle pieces came into their places. As much
              as Irma’s death hurt her dad, it was just the icing on the cake. There were stories and secrets about
              Jim’s early life.
            </p>

            <p>
              Jim never talked about his past. It was as if his life began when he married Kelsey’s mom. Anything before
              that was erased, even Demeter refused to tell, but where is a will, there’s always a way. Kelsey was
              desperate to help her father and wanted him only for herself. It hurt her to see him marry Monique. Of
              course, Jim was entitled to his own happiness, but Kelsey didn’t want it this way. Jim was her dad, and
              she wanted to help.
            </p>

            <p>
              Their relationship slowly deteriorated. Kelsey’s every attempt to make some progress was met with Jim’s
              stony face. Her dad would rather die than pass on his problems to someone. It was like talking to a wall.
              The man’s face was frozen, his emotions tucked away and buried. The only person who got some response was
              Monique. Somehow she kept him stable. She saved Jim’s life, but Kelsey hated her regardless.
            </p>

            <p>
              Monique didn’t love her father. She liked him, and they used each other. He deserved more, a family and
              love. Their marriage was a bandage over a broken hand. Jim needed professional help. It was he who should
              have been committed. Instead, he built an intricate web to hide his thoughts and emotions even from
              himself.
            </p>

            <p>
              Kelsey saw the papers in Jim’s hidden man cave. She saw what the doctors said, the prescriptions and
              opinions. Jim pretended everything was okay, and everyone played his game. There was no telling what would
              happen if someone would change Jim’s carefully orchestrated maze he used to survive. He was the creator of
              his own misery, and everyone around him enabled it. Jim used money and intricate games to keep everyone in
              their place. He was a chess master extraordinaire.
            </p>

            <p>
              Kelsey was lost in her own thoughts. The ice cream was long gone, and so was the wine bottle. It was sunny
              and bright outside. Tatum still slept like the bride of the dead, so Kelsey reached over, switching on the
              bubbles. The jets sprung into action, giving her a wonderful massage. Her thoughts drifted away to things
              that could be and the things that are.
            </p>

            <p>
              The buzzing of the phone made her jump. Being so suddenly yanked from her world seemed almost rude.
              Partially disoriented, she quickly grabbed the phone. It slipped, ending up deep in the water.
            </p>

            <p>
              “Bloody hell,” she dived for it, thankful for modern technology. Back in the day, getting a phone wet
              would be the end. “What? Who? I’m sorry. Who is this?”
            </p>

            <p>
              “Yes, it is me. Yes. That’s great, thank you. I will wait for your call.” She jumped up and slipped,
              ending back in water.
            </p>

            <p>
              “Tatum, Tatum, my dad is here. Come quick, wake up.” Tatum opened her eyes. It took her a moment to
              understand what her lover said, then she jumped.
            </p>

            <p>“Why are you wet?”</p>

            <p>
              “Come, let’s take a shower and go for breakfast. My dad just will be transported to the hospital today.”
              It took the girls an hour for a quick shower to get dried and dressed, putting on makeup and clothes.
            </p>

            <p>“Let’s find a restaurant somewhere near the hospital and wait for the call.”</p>

            <p>
              “I am not hungry, but I need coffee; lots and lots of coffee.” They sat in a car and drove away. For the
              first time in a while, Kelsey felt now everything would be okay.
            </p>

            <p>
              “Turn it up, please,” Kelsey asked. The radio played an old song by Carpenters. It struck a right chord at
              the moment.
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Big-Fish-Rumpel-Stiltskin-ebook/dp/B0BHJKVZ31'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <!-- <a href='https://apple.co/3zSPgfs'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a> -->

              <!-- Google -->
              <!-- <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Montana?id=ftFBEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a> -->

              <a href='/books/big-fish/preview/chapter-9-finding-faith' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 9 - Finding faith >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
        
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
