---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Big Fish | Chapter 1 - Bloody big ship'
  description='Big Fish novel by Rumpel Stiltskin'
  image='/images/big-fish.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/big-fish.jpg' class="big-cover-img" /> -->
          <p class='emp grey'>BIG FISH</p>
          <h1>Chapter 1 - Bloody big ship</h1>
          <div class='biggest'>
            <p>
              “It’s a bloody big ship,” Jim said, looking at the custom-built superyacht moored in Southampton. “Built
              by Sunseeker, one hundred and fifty-five feet, taking twelve passengers and ten crew. Brand new.” The
              lawyer read from a printout. Jim barely heard him, for his eyes were focused on the ship. Touching her
              side felt almost electric.
            </p>

            <p>
              Jim whispered the words of an old French song, Belle, appropriate in the moment. The lawyer continued to
              read the details. He told the story of the ship’s origin and all the modifications the previous owner had
              requested, but Jim wasn’t listening.
            </p>

            <p>
              It was the end of an odious journey that lasted over a year. Every moment of it was distasteful to Jim.
              There was just one more task left to do before it would all be over. A year ago, old man Orlov suddenly
              died in his sleep. He left Jim in quite a predicament that nearly bankrupted him.
            </p>

            <p>
              Evgeny’s death left his business rudderless. It exposed Jim’s company to creditors, suppliers, and banks
              alike, as he invested all the money in a massive commercial construction project joint venture. The old
              man trusted very few people and had no apparent heirs to inherit his fortune. He left nobody in charge of
              taking over the reins. In fact, nobody knew where the old man kept his money, and the secret died together
              with him.
            </p>

            <p>
              Jim negotiated a line of credit to pay back with interest by liquidating Evgeny’s company assets, awarded
              to Jim by the court in a set of complex legal proceedings. This was neither easy nor cheap. The old
              Russian’s empire had hundreds of tentacles, with many partners left scrounging for their payments after
              his death. Evgeny owned a lot of property in England, under the legal jurisdiction of the United Kingdom.
              As Jim was the only local partner owed money, the process was much simpler than what it could have been.
              Jim was lucky. The entire process could have taken a decade. He would be bankrupt and maybe even homeless
              by then. There was just this one more thing left to do, and it would all be over.
            </p>

            <p>
              Southampton is a vibrant coastal city, about a three-hour drive from London, exciting and picturesque,
              attracting tourists from all over. The city was a great urban centre in the south of England. The city
              teemed with life. Even if not as flamboyant as Brighton, it stood proud, offering a slightly less
              cosmopolitan but certainly vibrant life to its nearly three hundred thousand inhabitants. A huge harbour
              and shipyard dominated the town, often visited by building-sized cruise liners. Many soldiers went off
              from there to fight in the wars. Even bands like Pink Floyd wrote songs in memory of the Southampton
              docks.
            </p>

            <p>
              It seemed to Jim that this trip to Southampton took a whole year of his life and strained his already
              difficult personal relationships. He just wanted it to end. It felt like a bad dream that Jim was
              desperate to wake up from. The old man’s death wrought havoc on his personal life. Jim worked hard day and
              night to save the company at the expense of his family.
            </p>

            <p>
              Jim decided to take the train to get there instead of driving. He was met by an executive class, black
              Mercedes Benz and the greed of lawyers on the other side. He didn’t trust them to carry out the final
              title transfer without his presence. No one buys anything for twenty-five million pounds without seeing it
              in person. So Jim sacrificed yet another weekend to check out the ship, moored in an isolated section of
              the marina. If he accepted it, the story would be over and the Russian’s debt would be paid.
            </p>

            <p>
              Ahead of his visit, Jim sent an army of specialists to examine the ship. He wanted to know the exact
              condition and whether he was buying a pig in a poke. They all sent their reports. The ship was brand new
              and perfect, never sailed before, but he just had to see it first with his own two eyes. “The valuation
              places it at thirty-five million pounds. But there are no takers for that amount. The construction cost
              alone was close to fifty million. You get it at half price,” the lawyer droned on, saying his piece. He
              told Jim things he knew already. Jim did his homework and knew everything there was to know about the
              ship, except that everything changed now that he saw it in person. It was real.
            </p>

            <p>
              Jim met the old Russian many times; he was impressed by the man. Yevgeny was tall and well-built, with a
              thick, long, black beard reaching his navel. He was always dressed in black, making him look in some ways
              like an Orthodox monk. Although the man was well in his sixties, he didn’t have a single white hair on his
              head or in his beard. Yevgeny projected a far younger image of vitality and health. Dressed in an unusual
              suit, clearly not of western design. Evgeny shook Jim’s hand firmly when they first met. His emerald green
              eyes bored a hole into Jim’s soul, trying to find out if he could trust him.
            </p>

            <p>
              No one looked at Jim like that. He was advised against trusting the Russian because his dealings weren’t
              transparent on paper. He dealt mainly in cash and often paid in gold. Nobody knew much about Yevgeny; the
              old man loved his privacy. Jim found it strange for his own integrity to be questioned. He came from
              humble beginnings and built his business on keeping his promises and only dealing with people who knew
              what a handshake meant.
            </p>

            <p>
              Jim was only forty when the two met, yet he looked older than Yevgeny. It told a tale of struggle and
              adversity. Over the years, the two men worked together and became much more than just business partners.
            </p>

            <p>“You must have a purpose in your life,” the Russian said.</p>

            <p>“I do. It is to provide for myself and my family.”</p>

            <p>
              “Balderdash.” Yevgeny grunted with laughter in his deep baritone voice that sounded like a bear, with his
              strong Russian accent.
            </p>

            <p>“You want to win the game, yes? Be a powerful man? You don’t live your life, don’t love anyone.”</p>

            <p>
              “I’m married.” Jim was uncomfortable talking about his personal life. It was never easy, but since the
              death of his first wife, Jim withdrew emotionally and buried himself in his work. It wasn’t something Jim
              wanted to discuss with anyone.
            </p>

            <p>
              “Ah, we all have a woman like that, son. Yesterday it was one, tomorrow it’s another, and today you’re
              drinking vodka with old Yevgeny. I’m talking about love.”
            </p>

            <p>“I could say the same about you.” The old man laughed.</p>

            <p>“I’ll wait for my woman, then sail her home, my Rusalochka.”</p>

            <p>
              “It is just a ship,” Jim said with a sigh, starting the endless debate again. The two men became friends
              and agreed on most things, but loving a ship like a family member was far beyond Jim’s understanding.
            </p>

            <p>
              “To you, she is a ship, but to me, she is my love”. Drinking vodka was always hard with Yevgeny. The old
              man could drink a lot and never wobbled on his feet. Jim would get into endless discussions with the man
              who somehow took on the role of Jim’s surrogate father, at least when it came to practical wisdom about
              life. Old man Orlov was the king of platitudes. He liked Jim and meant well, using his Russian fatalism to
              inspire hope.
            </p>

            <p>
              “You are going to die soon, but look, there is no rain”, Yevgeny used to say before downing a shot with a
              chuckle and pouring himself another. Strangely, most of it made sense to Jim; a kind of “carpe diem”
              message delivered by an incorrigible pessimist. It got Jim thinking about life and its meaning. He had an
              estranged daughter and a young, beautiful wife he seduced with the promise of a better life. They all
              lived carefree lives, except Jim. He took all the responsibilities and worries and buried them deep
              inside, never to see the light of day behind a fixed smile. “Men must be strong and suffer in silence,”
              the words of Jim’s dad rang in his ears whenever he felt overwhelmed.
            </p>

            <p>
              It was hard to process Yevgeny’s passing. The two men did business for almost five years. During that
              time, they got close, becoming good friends. Jim knew that the old man cared little about wealth. The only
              things important to Yevgeny were respect and his bloody ship, not always in that order.
            </p>

            <p>
              Jim never heard the old man talk about women with fondness. If there was something Yevgeny loved, it was
              that damn vessel. Every time he would speak of it, his eyes would glisten. Jim saw no man loving anything
              more than Yevgeny did that ship. This is perhaps why it took five years to build it. The old man wanted
              control of every detail, rejecting ideas and plans until he got everything right, just as he imagined.
              Then he died in peace without ever seeing it in real life.
            </p>

            <p>
              Jim had little trouble getting control of the old man’s assets and selling them off to pay his debts. He
              knew Yevgeny wouldn’t care about that. It was just business, but when it came to his ship, it was another
              story. Jim tried everything he could to raise enough money from other sources. However, his company was
              still twenty-five million in the hole, and there was nothing he could do to fix that. Jim resisted taking
              possession of the old man’s treasure for the longest time. No matter how much he needed the money, he
              couldn’t bring himself to take something this intimate, yet there was no other way.
            </p>

            <p>
              “To you, she is a ship,” Jim remembered the old man saying, and he was right. It was just a ship, and Jim
              steeled himself. He knew it was worth much more, but there was no way the conservators could get the
              estimated price on the open market. Items like that take a long time to sell, especially ones so
              personalised.
            </p>

            <p>
              To end the entire process, Jim made a deal with a bank, putting his company as collateral to pay off the
              creditors and keep the ship for a few years. He planned to sell it at a higher price later, thus making
              some profit in the end. It was a good plan, as he was getting the ship for half its price. The only risk
              was the time it would take to sell, but now with the loan, he could manage to serve it out of the
              company’s profits. Jim was a good businessman, and this was nothing personal. At least he told himself
              that.
            </p>

            <p>
              All of it changed the moment Jim laid his eyes on Rusalochka. It looked big, white and sleek, with three
              decks of modern lines. She glistened on the water like it belonged there, like some kind of sea princess
              to rule the waves, demanding to be taken into open water where she could be free. Jim understood in the
              end what the old man meant. He thought no one could feel impassioned with an inanimate object until he saw
              Rusalochka swaying on waves, reflecting the sun in a million sparkles.
            </p>

            <p>
              “This way, sir”, a slim weather-worn man with a wrinkled face, still full of energy in his mid-sixties,
              waved him over from the deck. Like in an altered state, Jim climbed the gangway, just to be greeted by a
              man introducing himself as Vadim. In his wisdom, Evgeny left the old sailor with the ship from the moment
              they started to build it.
            </p>

            <p>
              Vadim was a soldier on great navy vessels for twenty years, but more importantly, he had the old man’s
              trust. “Evgeny would be happy you bought Rusalochka.” Vadim walked through the decks, showing Jim around.
              With only a few words, Jim followed, trying to absorb the sheer opulence, the exquisite craftsmanship and
              luxurious fittings with fine golden trimmings.
            </p>

            <p>
              Jim was an educated man and well travelled. It’s hard to miss museums and castles when you live in
              England. The ship was on par with the best of them. It was an exquisitely arranged show of excessive
              wealth, so it didn’t appear gauche right in one’s face. Every element, every curve, or a piece of
              furniture was placed there with foresight and deliberate intent.
            </p>

            <p>
              What was supposed to be a quick thirty minutes to check out the ship and give his endorsement turned into
              two hours of detailed inspection to nervous displeasure of a greed of lawyers standing together looking
              like vultures. They were paid by the hour and waited on shore, exercising patience until Jim emerged on
              the main deck, waving them over. Together they spent an hour going through a thick document before Vadim
              offered Jim Evgeny’s collectable golden fountain pen.
            </p>

            <p>
              With a few quick strokes of his hand and a bunch of initials, Jim signed off on the twenty-three pages of
              the deal, and it was done. All the lawyers signed in relief, countersigning, notarising, and certifying
              copies. Twenty-five million pounds down the drain for a ship that cost fifty to build. A year of waiting
              and aggressive negotiations ended, and after the clinking of champagne flutes, the lawyers vanished.
            </p>

            <p>
              “Why don’t you sleep over?” Vadim said after he saw Jim trying to book a hotel for a night. He planned to
              return in the evening, but everything took longer than expected. He used up all his strength, needing to
              sit down in the end and catch his breath. Signing off on the deal felt like an enormous burden came off
              his back. Until the moment the lawyers left, he didn’t grasp the fact that it was done.
            </p>

            <p>“What do you mean?”</p>

            <p>
              “Well, it is your ship now; you might as well spend the night.” It never occurred to Jim that he now owned
              a ship. All of it started just as a business arrangement to get out of a problem caused by Yevgeny’s
              death. Still, after seeing the magnificent floating work of art, Jim couldn’t stay ambivalent. He didn’t
              even imagine spending a night on the water. At that very moment, it hit him; he owned Rusalochka, this
              great ship.
            </p>

            <p>
              Lost in a maze of decks and passageways, Jim followed Vadim to the master bedroom. Whatever he expected
              wasn’t that. Jim was used to some luxury, spending his fair share of time in five-star accommodation on
              business trips. He planned to spend a night at Southampton Harbour hotel, a five-star right on the water,
              before catching an early train back to London. The hotel was nice and clean, with great service, and the
              food was excellent. He remembered spending a few nights there when going to a conference.
            </p>

            <p>
              Now that Jim saw the master bedroom, though, all his plans changed. Nothing in the entire city came close
              to this level of luxury. The bulkheads were covered with fine mahogany, fitting in perfectly with subtle
              lights and handcrafted fittings. The furniture was custom made with rosewood and only the most exclusive
              materials available, all with golden accents, like in a palace.
            </p>

            <p>
              Vadim enjoyed watching Jim’s face after pressing a button to part the drapes. Behind a sizeable
              triple-glazed glass wall was a balcony overlooking the harbour. A custom metal coffee table and cushioned
              outdoor chairs awaited for just those moments when one wants to enjoy a quiet natural moment. The bedroom
              was pristine, never used before.
            </p>

            <p>“Would you like a cup of coffee, master? Or something stronger?”</p>

            <p>
              “I wouldn’t mind both, to be honest”, Jim found it hard to swallow or take a deep breath. The ship took
              his breath away. With deliberate slow movements, Vadim opened a cabinet with drinks, a fridge, and a wine
              cooler, pouring Jim a quarter of a crystal glass and handing it to him.
            </p>

            <p>
              “This smells excellent,” Jim said, twirling it and taking a big whiff before taking a sip. “Mmm, so nice,
              cherry and fruity with a hint of tobacco and cedar,” he said, smacking his tongue like a true connoisseur
              of spirits, and Vadim laughed. “I understand why the master liked you so much. You are more alike than you
              imagine. Both of you have good taste for finer things in life.”
            </p>

            <p>“What is this scotch? I must have more.”</p>

            <p>
              “I am sorry, master, but there are only six bottles left in the storage. It is Macallan’s Lalique Cire
              Perdue”. Jim coughed, some of the drink going down the wrong way. To most people, it would mean nothing,
              but Jim was a bit of a connoisseur. This scotch was from the early twenties and auctioned at almost half a
              million dollars a bottle.
            </p>

            <p>
              His mind quickly switched the gear, calculating in seconds that six bottles times the price comes to three
              million bucks just on whiskey alone. Maybe if he stripped down the ship and sold all the collectable
              items, he could repay his loans earlier and maximise his profits. Vadim observed Jim struggle inside
              before his muscles slumped and he raised an empty glass. “Give me another shot, and pour one for
              yourself.”
            </p>

            <p>
              This made Vadim laugh, taking two glasses and the men raised them. “To Evgeny. I miss you, my friend”, Jim
              called the toast. “Za lyubov”, the old Russian sailor said before clinking the glasses. Vadim drank it all
              and threw the glass overboard into the sea. “Why did you do this?”
            </p>

            <p>
              “It is bad luck to drink from the same glass after drinking to love”. Jim looked at his drink and downed
              it, sending a glass after Vadim’s. “For love”, he said, slipping into deep thoughts and memories of some
              other times. Not wishing to intrude, Vadim backtracked, leaving Jim alone with his memories returning half
              an hour later with a pot of fresh brew and milk on a tray.
            </p>

            <p>
              Jim barely noticed, deep in his thoughts, remembering the old man and a friend whose boat he now owned. It
              was an old wound from childhood. Jim’s mother died when he was a child, leaving him wishing for a loving
              family, alone with his dad. His father was a tyrant who worked hard and thought all the boy needed was
              discipline enforced by a belt.
            </p>

            <p>
              The sins of the father become the sins of the son. The past doesn’t repeat itself, but it rhymes. Jim
              wanted so much to do better, be better, but he messed it all up, ending up just like his dad. At least he
              didn’t beat his kid. Jim fooled himself, sometimes wondering if what he did wasn’t worse than using the
              belt.
            </p>

            <p>
              “This is some great coffee,” Jim said, having a taste, sitting on a balcony on a luxurious outdoor chair,
              looking at the city nightlights, smelling salt on a fresh breeze. He was lulled to sleep with the gentle
              sway of the ship like some sort of giant, luxurious cradle. This trip turned into a long-deserved break,
              catching Jim by surprise. He racked his brain and came empty. Jim couldn’t remember the last time he felt
              so present. All his worries and problems seemed to fade, leaving him drifting off with the whisper of the
              ocean lullaby, caressed gently by the waves in Rusalochka’s warm embrace.
            </p>

            <p>
              He sighed, laying naked on thick satin sheets after taking a long shower under pressurised jets massaging
              his skin. Never did Jim sleep naked on a bed, but now he wondered what else he missed. A perfect mattress
              invited the rest, and Jim drifted away. All his worries, plans, and problems melted away in one perfect
              moment, lasting forever.
            </p>

            <p class="center">***</p>

            <p>
              The morning floated in on a gentle sea breeze. Jim stretched his body, feeling refreshed, as if he slept
              for a century, thinking how a good night’s sleep could change one’s outlook on life. It was the first time
              since his early childhood that Jim slept so well, attributing that to the luxurious handcrafted mattress
              with a smile.
            </p>

            <p>
              Somehow all his life came into focus, perhaps because he pulled off an incredible feat or maybe because he
              slept without stress for the first time in a year. Jim had a clear picture of what he wanted, and now that
              the Damocles’ sword was gone, he would fix everything and focus all his energy on those he neglected. Jim
              felt like he got a new lease on life and grasped at that straw with his teeth and both hands.
            </p>

            <p>
              “Come in.” Vadim appeared at the door, wearing a white sailor’s uniform, carrying a silver tray with hot
              coffee, milk, and sugar together with fresh croissants next to a plate with omelette and folded financial
              gazette.
            </p>

            <p>
              “Good morning, master. I trust you slept well”. Vadim didn’t expect a response. He left the room, leaving
              Jim with his breakfast alone. As soon as the doors closed, Jim jumped out of the bed and stretched, then
              for the first time, he walked out in public naked. There was just something decadent about the ship and
              the situation he found himself in. Jim sat on a cushy chair on the balcony and poured his coffee. It
              smelled perfect.
            </p>

            <p>
              As soon as he picked up a fork and knife, their weight surprised him. “But of course, what did I expect?”
              Jim said to himself, inspecting a tiny insignia confirmed the cutlery was indeed sterling silver and, from
              the looks of them, antique and quite valuable. The old man Orlov did nothing half-measure. This entire
              ship was a monument to Yevgeny’s life. He loaded it up with everything he loved, went to bed, and died.
            </p>

            <p>
              The coffee was excellent, and the eggs were perfect. Jim smiled, having breakfast, watching the waves and
              the city in the distance, enjoying himself more than ever before. Perhaps he indulged longer than planned,
              but “fuck it. It’s Saturday. I deserve a day of rest.” He thought of the past year with some contempt,
              pouring another cup, feeling decadent.
            </p>

            <p>
              It took just one night, an excellent breakfast, and a perfect morning shower to put Jim’s mind into
              action. He felt energetic and his mind bubbled with hundreds of ideas about the future. Jim got lost on
              purpose, exploring the vessel, imagining he was a kid again, playing explorer. This time, he went to
              almost every room and touched everything, surprised and perplexed by everything the ship contained.
            </p>

            <p>
              “To you, it’s a ship, but for me, it is my love”, the old man’s words echoed like church bells in Jim’s
              head. There was indeed something special about the vessel. It seemed to only distract from something
              meaningful with all the luxury and excess. What it was, only Yevgeny knew, and he was long dead and
              buried, together with his secrets.
            </p>

            <p>
              Time flies when having fun, and Jim had a blast, going from room to room, exploring every nook, stopping
              only afternoon, and collapsing in the library. He sat on a comfortable armchair, rubbing his hands against
              the handcrafted wooden armrest. It was all too much, but Jim had fun, stopping only when he couldn’t stand
              on his legs anymore.
            </p>

            <p>
              “Too bad I can’t read you”, he said to the hundreds of hardcovers neatly stacked on custom made shelves.
              Only a few books were in English, all first edition collectables; Byron, Shakespeare, Wilde and alike,
              each worth a small fortune. Jim developed a passion for reading while still a kid. He would visit a book
              store where a kind owner sat down and told stories. He showed Jim his private collection, similar to the
              one on Rusalochka. All sorts of books, some of them ancient, most of them valuable.
            </p>

            <p>
              “Lunch is ready, master.” Vadim’s voice brought Jim down to the ground from calculating how much ship’s
              treasure he had to sell to pay off the debts. He estimated at least ten million in stuff he could sell,
              covering over a third of his loan. Jim shook his head as if to clear it. Somehow, it seemed a sacrilege to
              cannibalise the ship. “It’s just a ship”, his own words rang through his head, believing them less each
              time. It was as if Jim was getting possessed by this beautiful vessel.
            </p>

            <p>
              “This is incredible. How did you do that?” Vadim surprised Jim with the banquet served on the table. The
              dining room was another incredible feature, with a long table and a dozen chairs in an exquisitely
              decorated room with a view of the harbour. Like with everything else on the ship, Yevgeny didn’t spare
              expense.
            </p>

            <p>
              “This is Giancarlo”, Vadim introduced the chef who flew in from Verona the day before. Jim shook the hand
              of a tall, dark-haired Italian man with a pleasant accent, praising him for the food, which looked
              incredible. Both men waited for Jim to sit down and have a taste, nodding in satisfaction, seeing him
              smile.
            </p>

            <p>
              As Jim ate, Vadim explained that Yevgeny had an arrangement to hire the man as the ship’s chef. Now that
              Rusalochka had a new owner, Giancarlo flew over to offer his services and make good on his promise.
            </p>

            <p>
              Jim’s first instinct was to tell the man it was impossible. He was trying to cut costs, not hire people,
              but it was too late. He already had a spoonful of the tomato soup Giancarlo had prepared, and it was the
              best he had ever tasted. Such a simple dish is like scrambled eggs, easy to make but very hard to get
              perfect.
            </p>

            <p>
              Giancarlo nailed it; the soup was divine. Jim wished to have another plate, but there wouldn’t be room for
              the rest. Next was the roast guinea fowl with honeyed vegetables. Jim had never tried the bird before. It
              was the size of a small chicken, but the taste was incredible, hitting every spot on Jim’s pallet. He
              wanted to say something and praise the chef, but he was too busy stuffing his face.
            </p>

            <p>
              Only after he finished the second serving was he able to speak. The food was better than any he had
              before. Jim travelled a lot and tried many top-rated restaurants. None of them could hold a candle to the
              Verona man.
            </p>

            <p>
              Vadim cleaned the table, bringing a pot of fresh coffee and Tiramisu in a round glass with a little,
              elongated silver spoon on the side. Just having a taste, Jim smiled. He expected it to be perfect, and it
              was better. How does one get rid of such a treasure? How do you reject a man who travelled far to prepare
              the best meal of your life?
            </p>

            <p>
              What started as a simple financial transaction turned out into the best experience Jim could remember.
              “God damn you, Yevgeny,” he cursed quietly, remembering his friend. No matter how much he wanted to raise
              money, Jim found it hard to get rid of the ship. “What am I going to do?” Jim was deep in his thoughts,
              wrought with worries. Last year almost destroyed him. It tested the limits of his relationship with his
              family, and now this. This great ship he took on as an investment to buy and sell turned out to be more
              than just a hunk of metal, but something with almost a life of its own.
            </p>

            <p>
              Deep in thought, Jim wandered off to the bedroom. He poured a glass of the finest scotch in the world, sat
              on a balcony and had a sip, enjoying the taste for as long as it lasted. “It is just a ship,” Jim
              remembered the words he said to Yevgeny and the expression on the old man’s face. Jim thought his friend
              was an eccentric old man, but it turned out he knew something Jim couldn’t understand.
            </p>

            <p>
              He stood up and took a big breath, almost tasting the salty air, before packing his stuff and finding a
              way out. He found Vadim in the cockpit, cleaning it. Jim shook his hand, thanking the man for all his
              help.
            </p>

            <p>“Did you decide what to do with the chef, master?”</p>

            <p>
              “Tell him he is hired. Now, please show me the way out and call me a cab.” Fifteen minutes later, a black
              executive class Mercedes awaited to take Jim to the station and make his way home. He wanted to protest,
              spending too much on luxury like that when just any taxi would suffice, but he kept his mouth shut. He
              just drank scotch from a bottle worth half a million bucks. The year of struggling tightened Jim’s belt,
              turning him into an outright miser. Somehow, it reminded him of the time when he was a child, scraping by
              with his dad.
            </p>

            <p>
              “It is over. I can breathe again,” Jim said to himself, still processing what happened in his head,
              turning his thoughts towards the future and the bridges he had to mend. Jim checked his phone and found
              several texts, all business related, but no missed calls or personal messages. He remembered the times
              when he had two phones, one for business and the other for family and friends.
            </p>

            <p>
              Even before Yevgeny died, life wasn’t all roses, but he kept appearances and took part in social events.
              All of it vanished when he forced himself to work night and day to save the company he had built from
              bankruptcy. Something had to give, and that was his friends and family.
            </p>

            <p>
              Jim dialled again from the train, leaving another message before drifting off into the melancholy of his
              memories. There was nothing else to do for an hour and twenty minutes that it took the express train to
              get to London. It was those moments of solitude that were the hardest.
            </p>

            <p>
              Jim’s daughter wasn’t answering his attempts to connect. She took Jim’s second marriage as a slap in her
              face, and their relationship has deteriorated since. It would be funny if it wasn’t sad how the two women
              in his life were similar. Both could be spoiled brats at a time, and that’s just for starters, but Jim
              didn’t fool himself. He knew all of that was his fault. If he kept some work-life balance, perhaps things
              would be different. Instead, he spoiled them with gifts, buying off his lack of attention with presents.
            </p>

            <p>
              To love your daughter and care for your wife is not the same as being in love. Once upon a time, Jim was
              in love, but never since he was a teenager. It was something he avoided remembering, the Sandbanks and
              Naya, one perfect summer. He ended up married to Irma instead, a rich girl from a different world. Irma
              was the best-looking girl in the school. She fancied Jim, and he was heartbroken.
            </p>

            <p>
              Infatuation, naivety, and lack of experience, combined with the raging hormones of a teenager, had a
              natural and very predictable outcome. By the time high school ended, Irma was pregnant. Jim was excited
              and petrified; only eighteen and going to be a father. Irma’s family insisted on an abortion, but Jim was
              adamant and convinced her. Both of them were legal adults. Jim used all his savings for a small wedding,
              and only a few months later, the couple moved into a starter apartment as Mr and Mrs James Price.
            </p>

            <p>
              Those were the hard times, and Jim willingly made the sacrifice, forgetting Naya for a moment and any hope
              of true love. He was a married man now, with the responsibilities of a father. “Life is sacrifice, my
              boy,” his dad used to say. Jim worked as an administrative assistant for Irma’s dad while studying nights
              for his degree in business management. It was a condition made by Irma’s parents to agree to the marriage
              and accept the child. Irma came from an upper-class family and was used to little luxuries, making sure
              Jim remembered to give her the good life she expected.
            </p>

            <p>
              Jim had a lucky break a week before Kelsey was born. It was another reason to celebrate, having bought his
              first property and becoming a father. To have a child, a mouth to feed, scared him, but it also inspired
              him greatly. Jim invested all his money plus half a million in bank loans into an old, dilapidated house.
            </p>

            <p>
              After six months of tireless efforts dealing with workers, suppliers, and contractors, Jim flipped the
              renovated house, paying off the bank and pocketing just over a million. This was a recipe for success, and
              Jim invested everything into another project, getting three banks to finance it. A year later, he had a
              viable company.
            </p>

            <p>
              After moving to a larger apartment, it thrilled Irma to be a wife and a mother, focusing on the child she
              adored. In just five years of tireless effort, Jim got his graduate degree. He owned a sizeable company
              with over twenty construction sites, working with investors directly, bankrolling smaller projects by
              himself, and cutting out banks and middlemen.
            </p>

            <p>
              For their tenth anniversary, he showed Irma a brand new house. His company bought six rundown properties,
              knocked them down and built one magnificent palatial estate. It cost him five million to build and
              furnish, but after ten long years of effort, Jim made good on his promise. Irma and Kelsey lived like
              princesses in the two-storey, six-bedroom house with a detached garage and all the amenities one could
              imagine.
            </p>

            <p>
              Jim worked hard every day, not trusting anyone to manage the company for him. The weekends were sacred,
              reserved for his family alone. Jim took Irma and Kelsey somewhere most weekends; Thorpe Park, Somerset,
              Beachy Head, or any place they liked. As an owner and a manager of a medium-sized company, he could allow
              himself the luxury of having junior assistants researching everything, offloading repetitive work for the
              sake of his family.
            </p>

            <p>
              Twice a year, Jim would take a two-week holiday and fly around the world with his wife and daughter to see
              new places and experience different cultures. Jim might not have been in love with his wife, but it was a
              good life, and he loved his daughter. It had to be enough for Jim, and he accepted it. All thoughts of
              Naya and the burning love he felt for her faded, becoming just a dull pain in his chest.
            </p>

            <p>
              To be an honourable, decent man who stuck to his promises always felt important. It was just how he was
              raised. “The only thing a man has is his word, kid.” Jim would remember his dad repeating the same
              sentence like a mantra. Those were different, more honest times when people shook hands instead of
              involving the lawyers. Trust was a special bond between two men when honour and reputation meant
              everything to them.
            </p>

            <p>
              Maybe a little old-fashioned, but Jim built his business on those principles. People often disliked what
              he told them, but they got over it soon after the emotions passed. Jim never lied, never exaggerated, and
              never oversold his services. He built a reputation in his circles as a dependable, honest man. This is why
              Yevgeny contacted him in the first place, refusing to deal with anyone else. Just like Jim, Evgeny valued
              trust more than profit.
            </p>

            <p>
              Kelsey grew like a weed into a natural beauty. She used to be a scrawny little thing all her childhood,
              but after hitting puberty, she blossomed, turning into a gorgeous young lady like her mother.
            </p>

            <p>
              It was at that time that problems started. Irma was unwell for months before getting diagnosed with breast
              cancer. It metastasised, attacking her heart and liver. This came as a massive blow to Jim and devastated
              his daughter. Irma and Jim tried to shield Kelsey from reality for as long as they could, even telling her
              that Irma had shaved her head to try a new look.
            </p>

            <p>
              This little lie held water only for a few months before Irma got worse and started vomiting, losing
              weight. Her eyes looked sunken eyes on her ashen face. Jim tried to be more available, delegating some of
              his work to a small group of well-paid managers. He hired a nurse and paid specialists from all over the
              planet. Nobody could help and about a year later, Irma died.
            </p>

            <p>
              Jim might not have been in love, but he knew love and loss all too well. Kelsey fell apart, and Jim froze.
              He buried all his emotions, and his face turned into stone. It was the worst thing that could happen when
              Kelsey needed him most. The father and daughter grieved in their own ways. Jim spent more time in the
              office while Kelsey cut herself with a razor blade.
            </p>

            <p>
              The housekeeper first noticed the problem, finding bloody streaks on fresh white linen. This got Jim
              worried, and he took Kelsey to a specialist, resulting in her being institutionalised and missing a school
              year.
            </p>

            <p>
              Everyone processes grief differently. For Kelsey, it was screaming in pain; for Jim, it was silence. It
              was easier this way, shutting down emotions and focusing on business. Someone had to pay the bills in the
              end. The doctors told him it would be better for Jim to stay away while Kelsey was in specialist care.
            </p>

            <p>
              Jim felt like he had lost both his wife and daughter. The house they lived in echoed with distant
              laughter, all of it ringing in his head as memories of the life he once had. “This wasn’t supposed to
              happen”, Jim said to himself, looking at the mirror reflecting someone he didn’t recognise. Fifteen years
              passed since Kelsey was born and Jim aged. He tried to smile and make faces, but nothing, the kid he
              remembered, was gone. All that remained was a well-dressed man in his thirties, looking tall and
              attractive, with blue eyes and dark brown hair.
            </p>

            <p>
              “Hello”, he said, waving at the reflection, and it waved back. He understood logically it was him, but the
              man in the mirror was a stranger. “How did I get this way? What happened?” The canyons are made with
              slow-running water and time. Every day for the past fifteen years, Jim lost a bit of himself every day
              until only a faded memory remained. This is when blackouts started. He would fall asleep and lose days or
              space out in time without remembering what happened. Grief manifests itself in many ways. For Jim, it was
              the periods of darkness, then waking up disoriented, not knowing where he’s been, for how long or what
              happened.
            </p>

            <p>
              He hated hearing the echo of his feet on granite. The house became a mausoleum of what he once had, a
              sculpture in memory of better times, now long gone. No words or laughter, only a luxurious silence, like a
              crypt for once happy memories. Even sitting in his favourite white leather armchair, watching the telly,
              irritated Jim.
            </p>

            <p>
              He took a bottle, then another, getting drunk, and he slept, just to wake up the next day with a massive
              headache. Jim welcomed something different, but alcohol wasn’t the answer. It is hard to grieve with your
              emotions frozen. He needed professional help to deal with the problem, but his workload was too demanding.
              Jim required all his faculties at the peak of his abilities to stay in control and manage. He remained
              stuck between a rock and a hard place, suffering inside with a smile on his frozen face.
            </p>

            <p>
              The situation only got worse when Kelsey returned. She wasn’t the daughter Jim remembered anymore. Be it
              the medication, therapy or forced maturity, her tantrums were gone, but Jim could barely recognise his
              daughter.
            </p>

            <p>
              “I can’t live in this house”, Kelsey said, stomping her foot in anger, and Jim understood all too well
              what she meant. Everything stayed the same as when her mother died; every little detail reminded Kelsey of
              what she had lost. Irma and her daughter had a tight relationship, and every memory of it sent Kelsey
              spiralling.
            </p>

            <p>
              In hindsight, it was a terrible plan, but Jim was out of options, caught in a trap he had built for
              himself. He did what he knew how to do best and paid his way out of the problem. It took only a couple of
              weeks to find the best private boarding school in the country, sending Kelsey there to learn and prepare
              for her future life. It was an easy fix that Kelsey never forgave him.
            </p>

            <p>
              Two months later, it happened. Jim woke up deep at night feeling unease. His fingers tingled, and cold
              sweat covered his forehead. He got up to get a cup of cold water and calm himself, but he ended up on the
              floor, clutching his chest, gasping for breath, with trembling fingers dialling emergency services.
            </p>

            <p>
              “It was just a panic attack. Your heart is fine.” The doctor calmed him, prescribing Valium and grief
              concealing. Who would have guessed that unresolved emotional issues had a way of building up and eating
              slowly at your mental health?
            </p>

            <p>
              Jim popped his Valium and called a psychiatrist, opting for a more personalised session. Talking about his
              problems with a group of strangers was much harder than he could bear. So much shame and feeling like
              failure. Jim wasn’t ready to face the others, so he used his money again to seek specialist help. It was
              the right call this time, and a few days later, the sessions started.
            </p>

            <p>
              The therapy started slow with building trust, but two months in, Jim had a breakdown. The bubble burst,
              and he cried, monitored and guided by a trained professional. Regression therapy could do magic sometimes.
              In Jim’s case, it worked, allowing him to accept the things that happened and grieve for his wife and
              daughter in the end. He cried for Naya as well, in secret, never telling the story of a woman he loved. It
              scarred him for life and made him unable to love again. She was the one he wanted, his dream girl, his
              angel.
            </p>

            <p>
              Six months in, and Kelsey wasn’t coming. She stayed in the boarding school over the summer, preferring it
              to returning home. Jim understood why and brought in the best interior decorator money could buy. The lady
              was a genius Jim could trust. He hired her for a few projects before and she impressed him.
            </p>

            <p>
              After months of carrying things in and out and mild reconstruction work, removing partitions, Jim found
              himself in a brand new remodelled home. Even the outside looked different. The stone paths were replaced,
              ground turfed, and new trees, bushes, and flowers planted. The designer had a landscape artist friend who
              installed a pond and few other water features.
            </p>

            <p>
              She turned the house into a work of art, replacing the windows with larger ones, repainting the walls with
              modern colours, and dressing some in fancy Italian cotton wallpaper. All the old furniture disappeared,
              and all the appliances changed. The only thing that remained similar was the layout, but even that was
              altered. The workers remade the place to have more open space, much more light coming in, and a
              conservatory was added in the back garden.
            </p>

            <p>
              Jim got lost in his own house, which was a good sign of a complete remodel. He thanked the designer,
              giving her a bonus payment. She understood well why all the change and removed all the traces of the life
              Jim once had. He didn’t want to sell the house and move elsewhere, which meant the house had to be
              completely reinvented.
            </p>

            <p>
              On his doctor’s advice, Jim exercised. He joined the best gym the money could buy. It was modern and
              fancy, with expensive membership, and they gave substantial discounts to pretty ladies. The owner was a
              former fashion model whose primary income came as an influencer. She had over two million Instagram
              followers, her own YouTube channel, website, online courses, and a twice a year Ayurvedic retreat
              somewhere in the mountains.
            </p>

            <p>
              The owner was one smart cookie who knew how to do business, surrounding herself with the best experts she
              could find. She used her fame to stock the gym up with gorgeous women and fleece the guys training there
              with extortionate membership prices. The health club was a meeting place for affluent gentlemen and
              attractive ladies, biassed towards female members in three to one ratio compared to men.
            </p>

            <p>
              It wasn’t hard to entice the girls to come. Because of the owner’s connections and reputation, many
              models, actresses, or wannabe somethings exercised there. She turned the place into a money press, selling
              healthy juices at cocktail prices, but the place was top-notch, clean, modern and upmarket.
            </p>

            <p>
              Joining this gym wasn’t an accident. His secretary, who was a member recommended it. Both she and Jim’s
              doctor thought he should date, and what better place to start than the proverbial exclusive meat market?
            </p>

            <p>
              Jim didn’t take long to figure out what went on in the gym. A lot of members found partners there. In
              fact, the whole gym setup encouraged that. Rich guys and pretty girls were hardly a novel concept. Rumours
              said this was the matchmaking place, which just boosted the sales, and the guys were all too happy to pay
              the extortionate membership prices.
            </p>

            <p>
              At least one thing Jim was told was correct. The exercise did wonders for his mental health. To go to a
              place for a couple of hours a day and exhaust himself was godsent. His favourite moments were just after
              rigorous exercise when he stood in the shower, letting hot water jets massage his skin. It was at that
              moment that his mind quieted. He thought of nothing, the absolute silence. If only he could find his
              centre like that when he needed it.
            </p>

            <p>
              For a couple of months, Jim just exercised, painstakingly avoiding objectifying women lest they labelled
              him that leering geezer. He shouldn’t have worried. While he employed the ostrich routine, burying his
              head in the sand, the girls looked and appraised.
            </p>

            <p>
              Jim always thought of himself as an ordinary-looking man, and now in his mid-thirties, he wasn’t a spring
              chicken. What other people saw was slightly different. The girls saw a proportional six-foot man with good
              masculine features and a brilliant smile. Jim’s hair was dark, his eyes were blue, he had masculine hands
              and dressed well.
            </p>

            <p>
              Presentation is essential in business, and so is hygiene. This was the first lesson Jim learned and
              followed like a gospel. As money increased, he got his suits tailored. Hello, Saville Row and goodbye,
              Marks &amp; Spencer. He bought his shoes in Harrods instead of Clarks, and he wore Rolex instead of cheap
              Chinese brands. Jim traded his Audi for a black Bentley Continental GT, all of it adding to his successful
              image. Even his language changed. While born and raised a London boy with an unmistakable twang, he went
              to school and learned how to speak like a gentleman. He started using the words “correct” instead of
              “right”, like the less fortunate Saxon commoner that he was, but not as much as to sound like had a stick
              up his arse.
            </p>

            <p>
              The first thing in sales is to sell yourself. You never know when you could bump into clients. Jim’s
              company sold an aspirational brand, a luxury life in the heart of London. People spending millions wanted
              to see success, and Jim played a key part in that image. He didn’t realise that the gym girls also saw it
              and knew the score. Nobody came to that gym just to exercise. The place was an open market for beauty and
              wealth.
            </p>

            <p>
              “How do you start this?” A female voice interrupted Jim’s meditation. He liked to get on a treadmill and
              jog, forgetting about the past and present. It took him a second to figure out what the girl next to him
              was talking about.
            </p>

            <p>
              She was a gorgeous, tall blonde dressed in tight multicoloured spandex, enhancing all her attributes,
              especially her heavy breasts. She was a rare beauty with a perfect face and pearly teeth stretched in a
              thousand-watt smile.
            </p>

            <p>
              “Let me show you. Here, you press this and this, and by the way, my name is James, Jim for my friends”.
              Monique shook his hand with a giggle. She was part French with just the slightest hint of an accent.
            </p>

            <p>
              It was an obvious play but done with finesse. Monique was clearly a gym bunny in perfect shape. She and
              Jim ran a treadmill marathon, competing who could last longer. Monique let him win, but not without a
              serious challenge. An hour later, after the showers, Jim treated her with a cleansing cocktail, cucumber,
              and ginger blend, a highway robbery for thirty quid.
            </p>

            <p>
              They chatted for a long time about mundane things like travel and weather as well as personal tastes. Jim
              didn’t feel alone and abandoned for the first time since Irma died. It was apparent to everyone, and
              Monique used it to seduce a much older man. She was too young for him, barely eighteen, but Jim was
              desperately lonely and charmed by her presence.
            </p>

            <p>
              What man doesn’t feel an ego boost by talking to a pretty girl? At first, Jim just smiled in beautiful
              company. It’s been years since someone this young and beautiful showed any interest, a pure pleasure
              breathing in fresh female pheromones.
            </p>

            <p>
              “Thank you for a lovely evening, Jim.” Monique leaned in and kissed him on his lips. “See you at the gym
              next time?” she asked before playfully making her way home, swaying her perfect curves. She knew Jim
              noticed.
            </p>

            <p>
              That night Jim popped his Valium and went to bed, drifting off to dreams thinking of Monique. It was
              nothing as pedestrian as her physical charms. She reminded him of Naya in some way, opening an old wound
              that just wouldn’t heal. Jim imagined spooning Monique’s body while hugging a pillow. To hold another
              person in his arms, feel her breath, and listen to her heartbeat would feel so good, warm and soft, like
              he was home. At that moment, Jim cried, feeling the full weight of loneliness. Everyone wants to be loved
              and hugged, told that he matters. Every man needs someone to love him, give him warmth and purpose if not
              love. Jim lived in a mansion, cold as a grave, alone with his thoughts and the ghosts that haunted him.
              The image of Naya smiling was as real as anything.
            </p>

            <p>
              For almost a week, Jim went to a gym, but no Monique. On the following Wednesday, Jim spotted her straight
              away. He felt a pang of jealousy, seeing her and some young guy talking and laughing. It reminded him of
              the time he was this age. Life seemed simpler, with fewer responsibilities. His time had passed, and he
              was a middle-aged man trying to get his life together after his wife’s death.
            </p>

            <p>
              Monique ran up to him, seeing him run on a treadmill. “I thought you wouldn’t come today”, she said with a
              question on her face. Just looking at her made Jim smile. That one moment told him he more than liked the
              girl. She was so young and pretty, so sweet and seductive, so gentle. It made him feel like he was young
              again and somehow went back into the past to live his life again.
            </p>

            <p>“Would you like to go out with me after?” Jim asked, remembering how much fun he had the last time.</p>

            <p>
              “You mean like on a date?” Jim was trapped. He didn’t mean it that way, just wishing to spend some
              pleasant time with a beauty two years older than his daughter. What kind of pervert would date a girl that
              could easily be a sister to his underage daughter? Monique smiled, seeing him flush and fumble for an
              answer.
            </p>

            <p>
              “Yes, I’d love to go on a date with you”, and just like that, the unimaginable happened. Jim had a date
              with a teenager.
            </p>

            <p>
              Never did Jim even consider anyone age-inappropriate. Sure, he didn’t live under a rock all this time. He
              had plenty of examples of wealthy men with younger women, just look at Rod Stewart and Penny Lancaster,
              twenty-seven years of difference and doing well. Does one have to be a rocker to have such success? Jim
              remembered reading in Harper’s Bazaar left on his dentist’s waiting room table about celebrities with
              significant age differences from their partners.
            </p>

            <p>
              Being a businessman with a sexy young girl on your arm was a cliche, giving rise to the popular, unkind
              term gold digger. Some say many of those girls had daddy complexes. Others defend them, explaining that
              they want more mentally mature men with settled lives and other priorities apart from just sex. Jim didn’t
              know the truth, but was sure that soon enough, he would find out.
            </p>

            <p>
              If you are dancing already, why not make it a ball? He smiled at her on a treadmill and ran fast. His mind
              was a million miles away, thinking about a gorgeous beauty actually considering some sort of relationship
              with him, a nervous wreck, widower has-been. Just the idea of it made him imagine the impossible. To be
              cared for, maybe even being loved again, especially by someone whose whole life was in front of them, was
              an ego boost, a vote of confidence.
            </p>

            <p>
              The two got married a year later. It was as if someone had turned on the light, and Jim could see again.
              It turned out Monique liked him enough and wanted the easy life. Jim didn’t mind. It was realistic, a kind
              of trade of needs between two people. He needed to feel happy and cared for again, to have his own purpose
              while she needed to feel secure, being awarded life’s few little pleasures. She traded her looks and youth
              for security, giving Jim emotional support and taking care of his needs.
            </p>

            <p>
              It worked. Monique saved him in more ways than Jim could imagine, and the two were, at minimum, best
              friends. They never loved each other but shared a friendship. Both liked intimacy, resulting in a marriage
              of convenience that neither of them regretted. It was fun and exciting, and Jim got to feel like
              everything would be okay. That was until Monique met his daughter.
            </p>

            <p>
              Kelsey took it as a slap on her face, learning that her father was getting married just two and a half
              years after her mother’s death. She called him a monster and accused him of a range of things. Jim didn’t
              take it to heart, blaming himself for not being there enough to explain himself.
            </p>

            <p>
              Things got terrible on the wedding day when Kelsey saw the gorgeous, tall, buxom teenager. Monique was
              only nineteen when she got married, and Kelsey lost it, got drunk and made a scene. She called her father
              a pervert, a monster, screaming that she never wanted to see him again. It took her a year to speak to
              Jim, but as time passed and this seemed to be a genuine marriage, Kelsey loosened a little.
            </p>

            <p>
              The years went by, and Kelsey graduated with top grades and got into university. She chose Cambridge, as
              far as one could get away from London, to use as a plausible excuse for not visiting more often. She
              learned to tolerate Monique as she matured, realising that she was a little unfair to her dad, but there
              was no love lost between the two women. One openly despised the other, while the other wisely kept her
              thoughts to herself.
            </p>

            <p>
              In many ways, Monique outclassed Kelsey, or she had a better sense of decorum. Whatever it was, it
              resulted in the status quo, and everyone got used to the new normal until the death of the old Russian.
            </p>

            <p>
              Jim made a mistake; it was an easy one to make. Yevgeny and Jim worked together on multiple projects with
              absolute success. Over the years, they took on more ambitious projects. Yevgeny had ideas and a seemingly
              inexhaustible pot of cash, while Jim was the brains and the hands, delivering on projects within the
              allotted time and budget. He had almost two-hundred-fifty employees, working hard on providing value and
              class. It was a business arrangement that worked.
            </p>

            <p>
              For the first time in his life, Jim found himself in real trouble after Yevgeny died. He was
              over-committed without his only financial backer. If Jim failed, the creditors would sit on his assets,
              and he would have to file for bankruptcy. That wouldn’t be so bad if it wasn’t for all the workers and
              their families with little kids. It petrified Jim to ruin their lives, so he fought tooth and nail to
              survive, spending most of his time at the office, including the weekends.
            </p>

            <p>
              This reflected in his personal relationships, which were never great to start with. In one year, he
              managed to alienate both Kelsey and Monique. Both understood the trouble Jim was in, but how does the
              brain tell the heart how to feel?
            </p>

            <p>
              Monique grew distant, and Kelsey stopped answering his calls. In his effort to save everyone, Jim
              sacrificed what had the most personal value. He hoped, now that all was over, that he could mend the
              bridges and go back to what was before. Monique was twenty-five, and Kelsey had just started the last year
              of her masters. Jim swore he would pull back and let others manage, dedicating most of his time to the
              people he loved. All he wanted now was to be a husband and a father, maybe have another child.
            </p>

            <p>
              “Excuse me, sir. We have arrived”. Jim almost jumped, seeing the taxi driver’s face. He couldn’t remember
              how he got into a cab at the station. His thoughts were far away, sifting through memories and plans for
              the future.
            </p>

            <p>“I’m sorry. I spaced out.”</p>

            <p>
              “Don’t worry about it. It happens all the time. That’ll be thirty-eight pounds. Would you like a receipt
              with that?” As Jim looked for his wallet, he noticed something strange, a sports car in his yard, behind
              the gate. It was a Porsche.
            </p>

            <p>“I’m sorry. Would you mind waiting for a while? Just keep the metre running, and I’ll pay double.”</p>

            <p>
              “You’re the boss, guv’nor”, the cabbie said, shrugging his shoulders. Jim waited in trepidation, staring
              through the window, never noticing how time passed. Some forty minutes later, he noticed a young, tall guy
              in his early thirties come out of the house. Monique followed him with wet hair running after him, dressed
              only in a bath towel. They kissed passionately for a minute before the guy patted her butt, sending her
              back into the house and sat in his car, revving the engine and driving away.
            </p>

            <p>
              Jim tried to speak and say something, having to clear his throat a few times before ordering a driver.
              “Take me to Paddington station, please.” He barely noticed the traffic, cars, and buses, hundreds of
              people walking about, minding their own business, having a life.
            </p>

            <p>
              In a deep haze, Jim paid the driver, tipping him well. While having an out-of-body experience, he watched
              himself check in, get into a room, shower, and then collapse on the bed.
            </p>

            <p>
              He stared naked at the ceiling. Jim’s whole life was crushing. It was a terrible joke, a cruel punishment.
              Never before did Jim feel cheated. He always believed that if you are honest, do your best and treat
              everyone with respect, you will get the same back.
            </p>

            <p>
              For the first time in years, Jim cried, falling apart in tears and misery of his life. He blamed himself
              for all the mistakes he made. In his struggle to keep everyone comfortable, he forgot what was important.
              How could things have gone so wrong in his life? It was no secret, a day at a time. People talk about
              priorities and work-life balance, but that’s easy to say when you’re a nine-to-five employee.
            </p>

            <p>
              Running a company, building something of substance, and having the responsibility for millions invested
              and the lives of two hundred families puts a different perspective on life. One could criticise and offer
              solutions like building a management structure and having a board. Jim tried that and got burned. He even
              paid for a life coach to get some answers. Nobody ran the business as god as Jim. Even with eighty per
              cent of performance would be acceptable, but who could be trusted these days? Honour was gone, and the
              shake of the hand meant nothing. Like it or hate it, Jim had to run his own business. He built a perfect
              trap for himself, ending up as the hamster running the engine.
            </p>

            <p>
              In sheer desperation, Jim howled. His tears, in free flow, ran down his face. There was nobody to blame
              but himself. Hindsight is a curse, and love is a cruel mistress. He grew up to be strong and show no
              weakness, but everyone breaks eventually. We just show our brave faces to hide the embarrassment. His bad
              luck started that one summer when his heart broke waiting by the pier. He could have had a different life.
              Screw money and power, all he needed was love, but the gods had other plans. They wanted to torture him
              and test his tolerance to pain.
            </p>

            <p>
              Some people fall and stay down. Others get up, dust off and rise up to the challenge. Jim never knew how
              to stop; he wasn’t a quitter. It was easy to understand why his wife cheated. She was young, needing
              physical attention, and for the last year, he wasn’t always present. Again it was all Jim’s fault. He
              tried to provide everyone with a good life, forgetting there was more in it than luxury. Sometimes time is
              the most precious gift.
            </p>

            <p>
              It was unfortunate for Jim to think this way. He came from a poor family who never had enough money for
              anything nice. His mom passed away, and his dad was a labourer. His grandparents were gone, only a few
              distant cousins Jim never met, some of them imprisoned.
            </p>

            <p>
              If one asked any social worker, rising from poverty into middle-class-life is a tall order. One of the
              greatest challenges for the social services department was getting homeless people off the street and into
              everyday life where they have jobs, pay rent and live. Once at the bottom, people stay down. “What’s your
              current address?” employees asked. “Just make it out to the homeless shelter around the corner” and see if
              you get a job. It all works in theory but seldom in practice. Nobody gives a chance to the great unwashed.
            </p>

            <p>
              Jim knew the struggles of working-class people. When he met Irma, he made a promise. She was a lovely girl
              and beautiful from a rich family. Just dating a boy with barely any money and ripped jeans was lucky. She
              trusted Jim to give her the life she wanted, and he kept his promise. Jim’s life would be charmed if Irma
              survived. He wanted them to grow old together and retire somewhere nice. One man, one woman, one family,
              one life. Maybe he would even learn how to love again.
            </p>

            <p>
              Jim cursed cancer and terrible fortune, blaming himself for everything that happened. He should have been
              smarter, known better, and put in more effort. Instead, he fostered and enabled everything that followed
              Irma’s death.
            </p>

            <p>
              “I can fix it. I will fix everything.” He said his quiet promise into the air. His company was saved, and
              the debts cleared. He got Rusalochka, and it was over. He could focus all his time on his family, fix
              everything and pretend he didn’t know his wife cheated. Jim would be there for them, giving them all the
              needed attention and love. Tomorrow is Monday, a new day in life, new chances, new opportunities and
              everything will be better.
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Big-Fish-Rumpel-Stiltskin-ebook/dp/B0BHJKVZ31'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <!-- <a href='https://apple.co/3zSPgfs'
               ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
             </a> -->

              <!-- Google -->
              <!-- <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Montana?id=ftFBEAAAQBAJ'
               ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
             </a> -->

              <a href='/books/big-fish/preview/chapter-2-missing' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 2 - Missing >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
          
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
