---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Big Fish | Chapter 5 - Big fish'
  description='Big Fish novel by Rumpel Stiltskin'
  image='/images/big-fish.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/big-fish.jpg' class="big-cover-img" /> -->
          <p class='emp grey'>BIG FISH</p>
          <h1>Chapter 5 - Big fish</h1>
          <div class='biggest'>
            <p>
              It hurt to open my eyes. The sun was bright, reflecting off the water, making it look like it was covered
              with gold dust, while little waves gently caressed the ship, creating an almost hypnotic, rhythmic sound,
              clack-clack. Two days had passed, sitting in the shadow, waiting for a miracle. The sky was bright blue
              without a single cloud. If only it would rain so I could drink.
            </p>

            <p>
              I tried to say something and failed. Only a croaking whimper came out. My throat hurt, and my lips were
              dry and split. My mouth felt coated with fine coral sand. I considered drinking seawater for a moment, but
              I remembered my school science and a girl beside me raising her hand to ask that question. Oh, how I
              wished that saltwater wasn’t poison. I felt like drinking the entire ocean. In a half-haze, I remembered
              my childhood and the Greek legends I read in a book. I was Tantalus, punished by gods, standing in the
              water, unable to drink.
            </p>

            <p>
              It hurt everywhere, and I forced myself to move a little, flopping into the water where stairs to lower
              decks were to cool down. It felt better for a moment to get a reprieve from the endless pain. In and out,
              I would go to preserve body moisture. I theorised that I’ll sweat less if I cooled myself. It was a stupid
              idea, but the fools needed something to believe.
            </p>

            <p>
              The fact was, as always, soon I would die. In the end, nothing much changed except that I won’t suffocate
              or drown. I will dehydrate and starve, then have a painful death. Of course, if something else didn’t kill
              me before. Something was wrong with my body. I might have injured myself more than I thought during the
              ship’s tumbling. The headaches never went away, and it hurt to look into the sunshine.
            </p>

            <p>
              “That’s it, my darling. It won’t be long now.” Talking to an egg became my pastime. It was a silly thing,
              but when you are lonely and scared, even an inanimate object can become a friend.
            </p>

            <p>
              “I wait for my woman, then I will sail her home, my Rusalochka”. Yevgeny’s voice popped into my head
              again. I almost forgot about the man. The auditory hallucinations disappeared for a few days, but they
              returned with a vengeance. I missed him. At least I won’t die alone.
            </p>

            <p>
              “You’re not sailing it anywhere, old man. Look at the ship. It is dead in the water.” His laughter came
              staggered in rhythm with little waves drumming against the ship’s side. The old man mocked me. Maybe he
              planned it this way, and I was a patsy, his human sacrifice to the gods of chance.
            </p>

            <p>
              It was fun to think that the old Russian had some sort of magical power. He thought and acted different to
              everyone I had met before, making it easy to assign him mystical qualities. The fact was, both of us were
              dead. They buried him in the ground while I will end up on the bottom of the sea once the ship finally
              sank. All it would take is one little storm.
            </p>

            <p>
              “We had a fun ride, you and I.” Still, more laughter came with the waves, reminding me of an old bearded
              man.
            </p>

            <p>
              “You are going to die soon, but look, there is no rain.” I burst into a dry cough, trying not to laugh. It
              was so right; the day was perfect, and the sun was killing me. All of us have our limits, and I crossed
              mine a few days ago, even before I opened the door.
            </p>

            <p>“You acted on impulse, like a man. I am proud of you, Jim.”</p>

            <p>“It was a calculated risk, the balance of probabilities.”</p>

            <p>“Here you go with more nonsense. Why can’t you be happy with your life?”</p>

            <p>
              “Because I’m going to die, you old fool. Can’t you understand?” I was glad Yevgeny was back. It is a
              terrible thought to die alone. “Maybe he is right,” I said to the egg. “This ship is home. In the middle
              of the ocean, where it always belonged.”
            </p>

            <p>
              The problem with inanimate objects is that they don’t talk back very often. Yevgeny always said that he
              would sail his love home. Was he referring to the ship or the egg? Does it even matter? They made one for
              the deep ocean, and another came from it. If indeed the egg was a pearl, and I wasn’t a jeweller, to be
              sure. It must have come from somewhere, some large seashell from the bottom of the sea. Perhaps that’s why
              the old man kept the two together. They both belonged in deep waters.
            </p>

            <p>
              I don’t know why I did that. It would be easy to explain it as being mad. I crawled in scorching sunshine
              to the ship’s side and looked down. “There is no bottom here, is there?” I could as well be on a planet
              made only of water. The sea was dark blue, and I couldn’t see anything further than a few feet. There
              could be an entire world below, with millions of creatures living their lives, oblivious to the ship and a
              dying man above them.
            </p>

            <p>
              Almost in reverence, I stroke the egg’s smooth surface before kissing it, “Thank you for giving me hope.
              Now it is time for you to return home.” I released the egg into the water, seeing it slip from my hand and
              sink deeper before it disappeared from sight, and I was alone again.
            </p>

            <p>
              Years in therapy couldn’t explain why I did this. Perhaps it was out of love for the old man. I made dog’s
              dinner out of my life, running everything I built, and now I would die alone. Sure, I would be missed and
              mourned, but I was a shitty husband and terrible father. It was likely they would quickly forget me as
              people moved on with their lives.
            </p>

            <p>
              I bonded with Yevgeny, perhaps because he cared for me. Who knows why would a Russian oligarch take an
              interest in a random guy. We had different mindsets and different values, yet every time he came by
              London, the old man would find time to sit down and have a drink and chat with me like a father.
            </p>

            <p>
              As much as I hated admitting it, I cared for the geezer. Back in the day, I had many friends. I kept a few
              like Demeter, but it was different. We had different lives and different interests. Demeter always acted
              like my older brother. With Yevgeny, I had something deeper. He was just glad to sit down with me, drink
              vodka, and talk about life. He acted like more than just my friend, more like a father.
            </p>

            <p>
              “I did it for you, you know? I fulfilled your promise. We are here now, alone together.” Nobody answered.
              It was as if the magic of the moment was broken, and the voices in my head disappeared. Unable to stand on
              my feet, I crawled back into the water to cool myself down. It won’t be long now; I felt it in my bones.
            </p>

            <p>
              “You must have faith, my friend.” The voice returned, but somehow distant and blurred. Faith in what? I
              didn’t believe in god. Faith in myself? My life was a royal mess. Given my situation, I would have gladly
              believed in something, but there was nothing, and I was dying. That was the reality.
            </p>

            <p>
              I was too tired, exhausted. My strength evaporated together with water, and only pain remained. Pain,
              inside out, one hurt my body, another hurt my mind. It was hard to tell which one hurt more, but I would
              suffer one for the sake of another. My mind drifted to a special place I kept hidden for the times when I
              wanted to torture myself. I saw in it two unforgettable eyes and a smile. “Naya,” I said with my last
              breath before the world of dreams carried me away.
            </p>

            <p class="center">***</p>

            <p>
              It took some convincing to have both Kelsey and Monique begrudgingly agree to the trip. My life looked
              better, and I was almost obsessed. It took a month, with Vadim’s help, to find the crew and the captain.
              We sat down and plotted a two-month-long cruise. We would visit Europe and Africa, then through south Asia
              before we reached Australia, from where we would circumnavigate the globe and return home.
            </p>

            <p>
              It was a good plan, and I was excited. I always dreamed of visiting all those places, but this was better.
              Sometime during the trip, my wife and daughter would be pressed to find a common language. It would be a
              catalyst for good things to come. At least, I hoped it would help. Nobody goes on holiday to hate it. With
              so many beautiful places and adventures, I hoped the girls would give each other a chance and develop some
              new equilibrium, turning a new leaf of all of our lives. Now that I saved the company and secured the
              finances, I put all my energy into saving my family.
            </p>

            <p>
              They say no plan survives contact with the enemy, and mine was fate. With only a few days before the trip,
              both of them cancelled. Monique was first, and Kelsey right after. They gave me their reasons. They were
              transparent, and I was a fool who hoped for the light at the end of a tunnel. Last year was a test, and I
              failed. I’ve been failing for a long time.
            </p>

            <p>
              It became apparent that it wasn’t the girls. The women hated each other, but that wasn’t the real problem.
              It was me. I ruined everything, and as much as I wished it or whatever I did, nothing would get better. I
              couldn’t fix it. It wasn’t them that needed to change. I was deaf, dumb and blind, tapping in darkness,
              not knowing where to start. One thing was clear. I needed to leave, get a new perspective on life, and
              find myself again. Many times Yevgeny hinted at it, pouring vodka and sharing his Russian pearls of
              wisdom. They were hard to understand, perhaps because I wasn’t nearly drunk enough for his words to make
              sense.
            </p>

            <p>
              Since Irma’s death, I wasn’t a man. I patched my problems, one on top of another. It was an easy fix, good
              enough for the moment, but doomed to fail. “Balderdash.” His words came in a thick Russian accent,
              followed by laughter. Old man Orlov loved to laugh, and my misfortune amused him.
            </p>

            <p>“Why do you make fun of my life?” I often asked.</p>

            <p>
              “It’s all about perspective, son. You never lived, never pursued your happiness. Come now, drink vodka, to
              love and adventure.” Evgeny’s bursts of genius were short-lived. He drank a lot and spoke in riddles. It
              only made sense when I was inebriated.
            </p>

            <p>
              “For a man to live, the boy must die. He who finds his life will lose it, and he who loses his life for
              love will find it.” Sometimes the old man sounded demented, mixing his words with Christian scriptures.
              Straight out of the bible, he twisted their meaning to something different, supporting his own view of the
              world, and making himself sound like a prophet. He certainly looked the part, like an orthodox priest,
              dressed in black with a thick black beard, resembling a dwarf from The Lord of the Rings. He often wore a
              thick silver chain with a pendant, always covered by his beard. Sometimes I wanted to pull it and strangle
              him with it. Old man Orlov could be infuriating.
            </p>

            <p>
              Yevgeny raised his hand, holding a shot glass, “za lyubov, for love,” and drank it all. I followed in
              step, and he poured us more. Between the two of us, we would kill a large bottle of vodka each time. I
              would lie on my back, clutching the floor, afraid to fall down, and he would laugh.
            </p>

            <p>
              Alcohol barely affected Yevgeny. It cheered him up and made him chatty. As the world spun, he sat down,
              took my hand in his and talked. I was in and out, trying to process his pearls of wisdom, but I was drunk
              like a swine. It was hard to follow the thread, but somehow all of it fell into its place.
            </p>

            <p>
              Alone on his ship, ready to depart, I missed the Yevgeny more than ever. “It is you and me, old man, going
              on an adventure.” I was fulfilling his great wish and a promise. I did not know where Yevgeny wanted to
              sail his ship, but it didn’t matter. Rusalochka, the jewel of the sea, detached from the mooring and
              floated away, helped by its powerful engines.
            </p>

            <p>
              I couldn’t just cancel all the planning and all the bookings and fire the people I paid. One thing was
              true that came from the subtext. The women in my life screamed loudly that I had to change. I just
              couldn’t hear them.
            </p>

            <p>
              The hardest thing in life is looking at yourself, reflecting, introspecting, and being objective. I always
              chose the path of lesser resistance, did what was easy to me, and followed others. I suppressed who I was
              for way too long, so much that I couldn’t even recognise myself. Perhaps that was the person Yevgeny
              talked to, but I wouldn’t listen.
            </p>

            <p>
              As soon as the girls said they won’t be coming, I wanted to try something else and cancel everything, but
              this time, I decided against it. If I needed to change, become someone else, find and discover myself, I
              needed some space. Just before boarding Rusalochka, I met my lawyer and signed the divorce papers. In the
              end, I had to choose between Kelsey and Monique. The two would never be friends, and I would always be the
              catalyst for their unhappiness. This way, they would be forced to work it out alone.
            </p>

            <p>
              I didn’t hate Monique for cheating on me. It only hurt me, but I was a big boy used to pain. Nobody could
              have hurt me more than I was hurt before. Once you tried an ultimate pain, everything else seems like a
              slow episode of Friends. I cared for my wife and wanted her to have a good life. Part of it included
              pursuing her own happiness. We married when she was still a teenager. People change with time and develop
              their interests. What worked for her then didn’t anymore. I had to set both of us free so we could live.
              “If you love something, set it free.” I loved in my own way both Kelsey and Monique.
            </p>

            <p>
              “They are not coming; let’s make our way.” Vadim looked at me with surprise, smiled and signalled to the
              others, and the ship started moving. I felt the first little shudder as Rusalochka was released. It sent
              tingles all over my skin. I was going on an adventure. A few minutes later, I felt her engines as she
              manoeuvred herself free from other ships.
            </p>

            <p>
              The captain sailed her with a practised hand. I wondered a few times if we would crash into this or that,
              but we cleared the port without a problem and sailed. I had to sit down, feeling Rusalochka wake up from
              her slumber. Her powerful engines developed speed and a little bounce as she effortlessly cut waves eating
              the miles. I felt the wind on my face and my hair. Taking a deep breath, it felt like all my troubles were
              washing away.
            </p>

            <p>
              Yevgeny’s laughter came from a distance. I imagined the old man standing next to me with a big smile.
              Vadim noticed me and brought a little tray, serving scotch into two glasses. I drank mine after clinking
              another. “For love, my friend.” We drank and threw both into the water.
            </p>

            <p>
              Doubt is a terrible thing. Lately, I doubted everything, but as soon as the ship reached full speed, it
              felt like all such thoughts had disappeared, and I could breathe. For the longest time, I kept myself
              sane, pushing forward, always the one with a vision, and always responsible. That’s how they raised me.
              “Life is suffering, boyo,” my dad would say. I never questioned it. That’s how I was raised. Stiff upper
              lip and all that malarkey.
            </p>

            <p>
              My father had a terrible temper, even for years on his deathbed. I cared for him. It was my duty. There
              was little time for pleasantries. “You have to be smart. You must have a plan.” My old man would
              regurgitate the same mantra for life even as he lay in bed waiting to expire. The workplace insurance paid
              out well, half of which was taken by lawyers and experts. Still, neither one of us said a word in protest.
              “Life is what you get. Keep your head down and mind your own business.”
            </p>

            <p>
              They say the hardest thing in life is changing your destiny. We were lowborn working people with a gutter
              accent. The only bright star in my dad’s life was his wife, and she died. Sometimes I felt he blamed me
              for that, but my dad wasn’t one of those that would show any emotion except anger.
            </p>

            <p>
              I didn’t know what I wanted to be when I grew up, but I knew precisely the life I didn’t want. It was the
              one I lived with my dad. The worst thing in life was to live like my father. I feared that and spent every
              waking moment working on my grand escape. Each day, I dedicated myself to my goal and brought it closer,
              so I worked and saved and learned. I even married a girl from a middle-class family, so she could teach me
              what it meant and give me kids that wouldn’t end up like I did.
            </p>

            <p>
              Irma was a clever girl and beautiful. She was also brilliant and recognised my hunger. Most other kids at
              school were born with a silver spoon. Some planned to become lawyers, and others wanted to study medicine,
              following in their parent’s footsteps. I didn’t care what I did. I knew how I wanted to live, and I was
              ready to do without shame anything they asked me to. This was my most attractive trait in Irma’s eyes. She
              was an exceptional judge of character.
            </p>

            <p>
              It got dark. I breathed in the salty air and reminisced about my past. With every mile, all the anxiety
              and pain just melted away. All the thoughts and memories seemed to fade away with the wind. It was like
              natural Valium, and for the first time in my life, I unclenched my muscles. I wasn’t even aware of how
              tense I was all this time. This ship, in its natural element, somehow healed my soul. It was irrational,
              but I just let go for the first time in my life. I could only remember one summer when I was on holiday
              with my father and dropped my guard after seeing him relax.
            </p>

            <p>
              Vadim called for dinner, and I made my way inside. The chef outdid himself by preparing spaghetti Pomodoro
              with a fine glass of wine. I ate in silence, loving the taste. Such a simple dish, so light and pleasant.
              Everyone gave me space, probably noticing that my thoughts were far away.
            </p>

            <p>
              After taking a shower, I sat naked on the balcony watching the waves sparkle in the moonlight, reflecting
              millions of stars. Vadim tiptoed around me, placing a tray with hot camomile tea mix before excusing
              himself, leaving me to my existence. The air smelled perfect. With every deep breath, I felt the stress
              and pain melt and get away as I exhaled.
            </p>

            <p>
              The gorgeous room beckoned. I finished my tea and lay on the perfect bed, leaving the balcony door open.
              The goosebumps all over my skin exploded. I tried to focus my mind on something, but it washed away as if
              Rusalochka had made me forget my pain. This remarkable ship, so beautiful, warm and welcoming, took care
              of me. It cradled and nestled me inside her like some mother. I stroke the fresh high thread count linen
              with my fingers, smelling a faint odour of perfect fabric softener. The room looked like a fancy hotel,
              but it felt like home.
            </p>

            <p>
              “You were right, old man. She is something special.” I said in a whisper, remembering my friend. His
              laughter came through the darkness from the depths of my memories. “It is just a ship. Don’t forget it,
              Jim.” The mocking tone he used made me wonder. What else was he right about? I wished I was paying more
              attention. I yawned and closed my eyes, feeling tucked-in, warm and safe. “Good night, Rusalochka.” She
              said nothing back. The hum of engines and cutting waves resumed rhythmic and enchanting, drawing me deeper
              into my sleep. Maybe I’ll see her again in my dreams.
            </p>

            <p class="center">***</p>

            <p>
              I coughed when I woke up, feeling like sand in my throat and my eyes. I must have passed out again. The
              sun was up, but it wasn’t noon yet, which meant I slept a whole night and a part of the day. My body hurt
              like hell; my head was ringing. It felt surreal touching anything; strangely, I wasn’t thirsty or hungry.
              Perhaps I was too exhausted to feel it. Just to make sure, I pinched myself, and it hurt. “I am still
              alive.”
            </p>

            <p>
              There was nothing more to do than sit in a shadow and watch the ocean. Maybe soon the weather would
              change, and the rain would fall, but I’d probably be dead by that time, so it won’t matter. Having too
              much time for myself was terrible to relive my mistakes over and again. All I could do was think of my
              death if only the waves weren’t so annoying.
            </p>

            <p>
              The wind must have changed or something. This relentless knocking noise kept coming from the side of the
              ship. I closed my eyes, trying to concentrate, but it was the same as sitting in a corner trying to not
              think about a pink elephant. All I could think of was that infernal noise.
            </p>

            <p>
              “Will you stop it? Let me be. Let me die in peace.” Nothing changed. The sea ignored me, so I pouted,
              hoping it would end. It was a battle of stubbornness and patience. After some time, the noise and my
              pounding headache synchronised. Whenever a rhythmic thud came, I felt like someone smacked my head with a
              sledgehammer.
            </p>

            <p>
              “For fuck’s sake, would you stop that?” Apparently, the ocean wasn’t scared of me the least bit. “Okay,
              okay, you’ve won”. It took the whole of my strength to get up and crawl to the side to see what was
              causing the infernal noise.
            </p>

            <p>
              As I leaned over, I almost jumped, sitting on the other side. I felt my heart pump like an African drum.
              Behind me, in the water, floated a bunch of ropes and cables and a pile of debris clumped together and
              washed over before getting caught on the ship’s side.
            </p>

            <p>
              This wasn’t what scared me. I saw floating rubbish several times. It probably came from the ship when the
              upper decks snapped off, but this one had two big eyes and what looked like a sword for a nose. I looked
              again in trepidation, almost screaming in surprise and excitement. There was a large fish of some kind
              entangled with garbage, attached to the side.
            </p>

            <p>
              I was not a fisherman, and I’ve had no interest in marine life. The closest I got to any fish ever was
              when they served me a steak in a restaurant. This wasn’t a tuna, but something similar. It was huge, at
              least a hundred pounds. It had a colourful blue back and golden belly, a sharp nose like a swordfish, and
              two prominent eyes that looked at me in fear.
            </p>

            <p>
              “Yes, you are caught now.” I thanked god for a stroke of luck. This wasn’t water I needed more, but I
              could drag it over and eat it, storing it in the darkness. Maybe some of its flesh would contain enough
              moisture to keep me alive. It was stupid, but I was desperate.
            </p>

            <p>
              As quickly as my muscles allowed, I crawled to the stairs and dived. It took me a few minutes to find a
              sharp piece of metal, then a few more to snap it off. I used a door frame and some sunken furniture to
              bend it and make a makeshift hook at one end while the top remained sharp, so I could fashion it into a
              spear.
            </p>

            <p>
              I planned to spear the fish through its eye, so it dies, then use a hook to lift it over. It was just
              about a foot between deck and water, so it would be possible, even with my failing strength. I haven’t
              been this excited since I saw the light in the darkness. My muscles protested, but I forced them to be
              quiet. I would live; I could survive. There was hope for me in the end. If I ate enough and stuffed myself
              with raw fish, maybe I could even get more energy.
            </p>

            <p>
              I made plans for what to do and how to survive. This was a sign from god that maybe there is hope and I
              would live. I crawled back to the ship’s side and saw the fish staring at me with its impressive eyes. I
              lifted myself up and pointed the sharp metal rod towards it, aiming carefully to kill it quickly without
              suffering or causing it to escape in its mortal thrashing.
            </p>

            <p>
              The fish just looked at me, and we connected. I imagined seeing fear in its eyes. It just lay there,
              expecting its death, accepting its fate. With all my power, I swung hard, using all my strength to deliver
              a mortal blow, but something inside me broke, and I stopped, falling to my knees and crying. No tears came
              out, just incredible sadness and guilty feeling. Was I so lonely to identify with this fish? “It is just a
              fish, Jim.” No matter what I told myself, no matter I was trying to survive. I couldn’t bring myself to
              kill someone else in a similar predicament, just wanting to live.
            </p>

            <p>
              They call it the survival of the fittest, the law of the jungle, dog eats dog, big fish, small pond.
              Whatever euphemism I applied, I just couldn’t kill that magnificent creature. If only it didn’t look at me
              this way. I took several big breaths, trying to find the strength to kill and eat the fish. I needed it to
              survive, but I failed.
            </p>

            <p>
              When I lifted myself to look at it again. The creature stared at me, asking for help. “Oh, god,” what was
              I going to do? The fish looked strong and undamaged. I extended my arm and touched its body. It didn’t
              flinch or try anything, allowing me to feel it. What a strange sensation. I’ve never touched a live fish
              before. They all looked slimy to me, just laying inertly in supermarkets, but not this. It felt exciting
              and alive, full of energy and the will to survive.
            </p>

            <p>
              Perhaps I imagined all this or projected it. Still, I couldn’t kill this magnificent creature any more
              than I could kill myself. “Shhh, it’s okay. It will be fine.” I was pretty sure the fish understood
              nothing I said. I didn’t even know if fish could hear. We were from two different worlds, the one of earth
              and the other of water.
            </p>

            <p>
              Ever so gently, I tugged on the ropes, careful not to injure her fins. It was slow going as the fish was
              terribly entangled. She must have thrashed for hours to free herself until getting exhausted. It surprised
              me that no predators attacked it this way.
            </p>

            <p>
              It was hard to tell how much time had passed. At least a few hours as my skin burned. I feared stopping
              once I started, so I forced myself to complete what I intended. All the while, I talked to the creature,
              telling the big fish about my life and my problems. It was nice to talk to someone since I dropped the
              egg. At least this one was alive. “You’re moving up in a world, Jim”.
            </p>

            <p>
              I couldn’t laugh; it hurt to do that. At one moment, I saw the last piece of garbage detach itself. In
              sheer excitement, I used the rod again, but this time to push the debris away from the creature. The big
              fish just floated there, looking into my eyes, without moving or doing anything, playing dead. I kneeled
              close again and touched it with my hand. “Go on. You’re free again. Live your life. Be a mother and
              procreate.” I pushed it a little, then more, and it slowly floated away.
            </p>

            <p>
              As soon as the big fish realised she was free to move, it shuddered, then swam away further. Just as I
              thought it was gone, it jumped out of the ocean and dived deep into the blue water. I saved a life.
              Granted, not mine, but I felt I did something meaningful, at least one good deed in my life. Sure, I was
              thirsty, hungry and exhausted, but I didn’t kill this magnificent creature. Perhaps it was stupid, but
              what did I lose? A few days of hope before dying alone? Chances were, the big fish would outlive me by
              years, and in my mental state, it counted.
            </p>

            <p>
              Somehow I dragged myself to the stairs to collapse into cold water, floating peacefully, looking at the
              sky. “At least there is no rain.” I wished for some rain just about now. If it rained, I would open my
              mouth and drink all of it, dive into the darkness and find makeshift containers to collect it and drink it
              until I drowned. Fantasies, fantasies, one after another, all of them pointless. There was no rain; I was
              alone. With the last of my strength, I lifted myself from the water, curling up in the shadows and closing
              my eyes. The rhythmic sound of waves played a tune for me; one, two, three, they came, like counting
              sheep.
            </p>

            <p class="center">***</p>

            <p>
              I woke up refreshed, having slept better than ever in my life. The humming of engines stopped, only the
              sound of the waves coming from the outside and the salty scent carried on a fine morning breeze. I
              stretched on the bed and got up. One good night and all my troubles seemed so irrelevant. Wherever I
              looked after getting out on my balcony, all I could see was water. The sea looked still, almost polished.
              It was nice and bright, shallow, with a lot of sand. It beckoned.
            </p>

            <p>
              Without thinking, for the first time in my adult life, I did something reckless. I climbed the railing and
              just let go, dropping like a rock, breaking the stillness of nature.
            </p>

            <p>
              “Aaah, it is so cold,” but refreshing. I spat some water out, tasting it. “This is a good life.” I giggled
              like a teenager before diving a little and swimming to the other side. We were anchored in a beautiful
              cove somewhere in France or Spain. It didn’t matter. The beauty of the moment overwhelmed me. The smell
              and taste of it seduced me. I wasted my life being alive instead of living. For the first time in my life,
              I lived in the moment.
            </p>

            <p>
              Carpe diem, seize the day. I swam to the shore and laid down on the sand naked. Nobody was around to see
              me or take an offence. There was nothing to worry about. Life without a care. Something changed while I
              slept. I felt stronger and centred. Yesterday, I was distraught by my plan’s failure and having to sail
              out alone. Not anymore; a new day. I felt like just discovering rain, attributing all the good feelings to
              a fantastic sleep. It was Rusalochka, this great ship of luxury and excess. Never in my wildest dreams
              could I even imagine owning something so grandiose. Deep down inside, I wondered. Can a person really own
              a ship like this? Maybe I was just her keeper for a while. As it glistened on the water, the vessel seemed
              alive, and little by little, I was falling in love. How strange.
            </p>

            <p>
              The chuckling of an old man, long dead, came into my mind from afar. “This is just a ship for you, but to
              me, she is my great love.” I was getting caught by the same insanity as Yevgeny, and I knew why. This ship
              was the key to a different life. The sense of freedom and detachment I experienced was unexpected. It
              started as just a cruise, but it became so much more. I took a deep breath and exhaled, then another. I
              was one with the world, the sand, the sea, and nature. For the first time, I stopped living in the future,
              informed by the past and my old mistakes. I lived in the now, right in the moment, seizing my day.
            </p>

            <p>
              I saw Vadim waving me over around lunchtime. Lazily, I got into the water, and he met me on the other side
              with a fresh towel. A quick shower later, I sat at the dining table on the deck, looking at a large fish
              someone caught with a speargun and my chef prepared. He grilled it nicely with new potatoes, salt and
              spinach with a touch of dill, lemongrass and tartar sauce. It melted in my mouth, and I closed my eyes,
              focusing on all my senses. I wasn’t hungry until then, until I tasted and smelled this gift of the sea.
              What could a man want more than this? What kind of life would one desire that offers more satisfaction and
              happiness?
            </p>

            <p>
              The engines started just as the coffee arrived, and we sailed onwards. I didn’t even care where. It was
              all so beautiful, living in nature, cradled by Rusalochka, the queen of the ocean. She was taking me to
              her kingdom, where she belonged, cutting the waves, swaying gently, slow-dancing.
            </p>

            <p>
              We visited Porto, Lisbon, Tangier and Algiers, spending a day or two in each. The time would pass by, days
              one after another. It was all a blur with a fresh breath of air. I wished the women came as well, but
              something wouldn’t let me focus on that. I would not ruin my once-in-a-lifetime trip thinking what may
              have been. They were all grown people and adults able to make sensible decisions for themselves. I only
              made it worse, but it forced me to move forward. The answers would come in time.
            </p>

            <p>
              The ship changed course, and I visited Palma, Barcelona, Marseille, Rome and Naples. I spent a few days in
              Athens, posting hundreds of images on my new Instagram page. I don’t know why I did that. It seemed easier
              than having a polaroid camera, perhaps as a digital keepsake of all the fantastic places I visited.
            </p>

            <p>
              I stopped at Cyprus and Alexandria to spend a few days in Egypt and see the pyramids before going through
              Suez into the Red Sea, then the gulf of Aden into the Arabian Sea. Wherever we went, Rusalochka ruled the
              waves. It felt like she has been there before, the beautiful ivory queen of the waters.
            </p>

            <p>
              A brief detour took us to Dubai, where I watched from the deck a few local sheikhs studying Rusalochka
              with envy. At least they were a friendly lot and invited me to their boats, offering to show me around.
              That’s how we made unplanned stops at Abu Dhabi and Doha, going our own ways as friends. I heard that the
              Arabs’ hospitality was legendary and was glad to experience it. I paid them back with a dinner on
              Rusalochka, asking my chef to impress them with taste. They joked and offered camels to take him away.
            </p>

            <p>
              After days of entertainment, I craved the deep ocean again. The captain turned us around, and we didn’t
              stop until Mumbai and proceeded to Colombo, around Sri Lanka and across the Bay of Bengal till the Andaman
              sea and the island of Phuket in Thailand. This is where we stopped for a few days, rested and restocked. I
              rented a car with a guide and checked out the sights, beautiful beaches and swam with the elephants. It
              was a dream.
            </p>

            <p class="center">***</p>

            <p>
              I jumped from a sudden sound, still half asleep. My eyes hurt, and there was a persistent throb in my
              head. It felt like a police siren except with pain instead of noise and slower. It was hard to focus as
              the world spun, making me want to vomit on an empty stomach. After a minute of searching for the source, I
              saw a foot-long fish flapping on the deck. “How did you get here?” It looked like a red snapper.
            </p>

            <p>
              With all my strength focused on one action, I got up from my hiding place, feeling incredible pain surging
              through my muscles as I crawled. Without thinking, I pulled the fish back into the shade and used my nails
              to remove its scales before sinking my teeth into it. “Oh, god”, what a pleasure to feel its juiciness on
              my lips.
            </p>

            <p>
              With lots of care, I chewed it, feeling pain in my gums. I didn’t know if it was from dehydration or if my
              nerves were gone. If my whole body was hurting, it’s every inch, then why not the teeth? Without thought
              or worry, I chewed my fish, never questioning how it ended up there for a minute.
            </p>

            <p>
              The raw fish had some moisture. It helped me chew and swallow while my mind drifted away to a Japanese
              restaurant I liked to frequent. It was the best sushi place I knew of, and the image of eating sashimi,
              dipping it into soya sauce and wasabi, added all the flavour to everything. With all the imaginary
              condiments, the raw fish I ate made it feel like the best food in ages. For a brief second, I wondered if
              this was the last meal I was going to have.
            </p>

            <p>
              My stomach protested with sharp stabs of pain. Who knew what else I damaged inside as I rattled around the
              room unconscious while the ship bounced. Still, I ate like possessed, feeling an almost immediate return
              of my strength. Even the fog in front of my eyes lifted enough for my thoughts to clear for a moment.
            </p>

            <p>
              I sat back and breathed next to the fish leftovers. Just for the moment, my hunger stopped while my body
              worked hard to extract the nutrients. This would only make me thirst more, but baby steps. Some entity
              high in heaven didn’t want me to die just yet. Perhaps it might even rain. I heard a splash, then another.
              Curious, I crawled to the ship’s side to see what made it.
            </p>

            <p>
              At that moment, the big ship jumped and circled, then jumped in and dived into the depths. “Oh, god,” I
              was surprised, instantly recognising the fish I saved. “You didn’t forget me.” It was lunacy, but I was
              glad to see the fish, imagining she returned for me.
            </p>

            <p>
              Out of nowhere, the big fish jumped up, throwing another one onto the ship, before disappearing into the
              deep. I caught myself staring in disbelief. “Am I dreaming?” But it was real. The fish I saved fed me,
              returning the favour if one could attribute that level of intelligence to a non-mammalian sea creature. I
              doubted that even the dolphins or orcas would be smart enough to pay off their debt this way.
            </p>

            <p>
              Whatever the reason or an accident, I took the fresh fish again. I carried it to the shadows where I ate,
              but this time slower, savouring the taste. So much for god and the angles. As hard as it was to believe,
              it was the fish that fed me and postponed my death. In all fairness, I might have hallucinated. How does
              one know if he is sane? When the mind goes, all bets are off. What is the reality anyway?
            </p>

            <p>
              I watched the sunset in the distance, counting the stars as they spread around the heavens with the big
              Luna, the moon above. It seemed closer, like a round of Emmental cheese dangling off a fishing rod held by
              a little prince standing on some faraway planet. My mind was gone, and it saw what it wanted, an elephant
              eaten by a snake instead of a dusty old hat in the middle of nowhere. It made me giggle.
            </p>

            <p>
              “You old fool.” I laughed, remembering my friend. He lived his life the way he imagined. He saw what he
              wanted to see rather than what was true. “What’s the truth, anyway?”
            </p>

            <p>
              “Ah, you’re finally starting to live, Jim.” I heard Yevgeny say. His deep baritone voice came with vibrato
              as if from a great distance.
            </p>

            <p>“Why me? Why do I have to die?”</p>

            <p>
              “If life is an illusion, the death is awakening.” The old Russian bastard loved his riddles, but if it
              wasn’t for him, I would never have had this dream.
            </p>

            <p>
              “Thank you for the moon and stars, my friend.” He didn’t answer, and I didn’t expect him to. It was all
              just perfect, alone in the world under the canopy of a shiny universe, like stardust falling instead of
              snowflakes. Who knows, somewhere far away around one of the stars was another planet, just like this one
              with someone looking up at me at this time. I waved to him, mouthing a greeting, imagining a man in a
              small boat waving back.
            </p>

            <p>
              Sometimes life is so beautiful, like a precious gem. Some look for that moment all their life and never
              find it. I looked at the moon’s reflection on the placid ocean, and it made me happy. It almost felt like
              I could step onto the water and follow the path into heaven. “Is there any air on the moon?” They say it
              was barren, but how do they know? Did anyone go there?
            </p>

            <p>
              All my life I fought for goals and plans, but at this moment, I finally found meaning in surrender. If I
              was going to die, it was okay. Mistakes were made, but I did my best. Nobody dies without regrets, and I
              had plenty. It would be a fool who hopes to be saved in the middle of nowhere. The ocean carried me
              somewhere without a transponder. I was a ship lost in the universe. Instead of mourning my death, I
              celebrated my life. Instead of focusing on my mistakes, I thought of the things that mattered.
            </p>

            <p>
              Monique didn’t even cross my mind. Most of my thoughts went to my daughter. I was once in love. At least I
              loved someone, turned out to be a terrible father, but I tried my best and failed, bent over backwards,
              believing my lies. I didn’t lie to her, but lied to myself. So scared of life that I had never lived. If I
              could roll back time, I’d let my business fail. I would never get married the second time, and I would let
              it all burn and be with my daughter. How silly it is to know what’s right in the end.
            </p>

            <p>
              A splash came, then another, and I crawled towards the edge. There, in the moonlight, the big fish jumped.
              She refused to let me die alone. I cried, feeling dry tears in my eyes. One act of kindness, like a
              butterfly effect, can set off a tsunami that reshapes the face of the planet. Could it make the rain?
            </p>

            <p>
              I never feared death, but I feared dying. The one thing that terrified me was being alone when it
              happened. I imagined waking up at night, taking my last breath with nobody next to me, nobody to hold my
              hand as I passed into the darkness.
            </p>

            <p>
              “Thank you,” I said, touching the water. I imagined the fish knew how I felt. She dived and emerged near
              me, rubbing my hand with her fin. She circled and jumped up and dived again. The night was magical, and I
              was ready to pass. Perhaps it all happened this way because it was my time. I felt immense gratitude for
              not dying alone. It is strange how in the time of death, one could find succour in anyone, even a fish,
              free in the ocean, paying me back for saving her life.
            </p>

            <p>
              I had no way of knowing her sex, but somehow my mind made her female, wearing a blue and gold dress made
              of scales. Perhaps it was because she cared or felt obliged to see me off into the darkness as some
              nurturing sea mother. I smiled, and the stars flickered. For a moment I thought it would snow, but the sky
              was clear, perfectly transparent. If anything it seemed like a great magnifying lens bringing the moon,
              the stars, and the whole universe closer. Maybe there is life after death in the end. I closed my eyes
              with my hand next to the water, whispering, “thank you for not abandoning me in the end”.
            </p>

            <p class="center">***</p>

            <p>
              The local fishermen watched Rusalochka in wonder, squeezing between Malaysia and Indonesia. We sailed by
              Brunei across the South China Sea, reaching the Philippines, where we planned to spend a week sailing from
              island to island, exploring local culture and delicacies. It is strange how some things are acceptable in
              one place but terrible in another. Playing pranks with me, the local people offered me to try Balut. I
              almost vomited, ending up apologising to the man. He laughed in the end, admitting he did it on purpose.
              Later he explained Balut is a fertilised egg containing an unhatched embryo inside, beak and nails
              included, boiled and served as a local speciality. He chuckled, seeing me turn green as he was explaining
              it. In the end, I tipped him well to go away. He threatened to serve me fried rat brains next. I was sure
              he was joking, but I played it safe.
            </p>

            <p>
              One thing I learned about the Philippines, it is best to just eat the food and not ask what it was. I
              liked Sisig. It was hot and spicy until, of course, someone explained it was fried pig’s fat with
              chillies. After that, I stayed with the fish or at least the parts of meat I could recognise. The locals
              were entertaining and welcoming people, ready to talk and provide a fun experience. They saw Rusalochka
              and commented, offering suggestions on where to take her next. Most of them suggested Boracay, and the
              photos looked incredible. After I finished exploring, Rusalochka took us there.
            </p>

            <p>
              It was a great tourist spot with white sands, hotels and all a range of entertainment. Despite my plan, I
              stayed a few more days to see the place and enjoy myself there. The entire trip so far was incredible, and
              I loved South Asia the best. The food, sights, culture and smells. I could see myself retiring there,
              sometimes in the distant future. It was the land of contrasts, old and new cultures and magnificent
              temples erected in the worship of something greater, not god but the human spirit itself.
            </p>

            <p>
              All good things eventually end, and so did this part of our journey there. The next part involved deep
              water, heading for Hawaii. We planned to reach the island and restock there again before going to the
              United States proper, San Diego and Los Angeles, then down Mexico way. After that, we would sail to
              Panama, through the channel into North Atlantic.
            </p>

            <p>
              Jamaica, Bahamas, Miami and New York were on our way before we would cross the ocean, going straight back
              to the UK. After that, I could say that I did something incredible with my life, circumnavigating the
              globe and having a once-in-the-lifetime adventure. Who, in complete honesty, could say that they’ve done
              this or anything similar. I dreamed as a child of being an explorer, reading books and maps, and playing
              with a globe I got for my birthday. Fate, it seems, had different plans for me, and yet, by coincidence, I
              made it happen anyway.
            </p>

            <p>
              We took it slow with no hurry. Rusalochka purred, sailing the deep. A few days passed without us seeing an
              island or a ship. Alone in the solitude of the deep dark sea, one starts to think. I forced myself to stay
              in the moment, sailing, watching the dark blue waters. This became my metaphor for life. We’re born alone,
              and alone we die. I always feared loneliness. I didn’t cope well without other people present. It would be
              easy to just blame my father or even myself for the death of my mother, which likely caused more than my
              fair share of problems.
            </p>

            <p>
              The truth is, I was alone. I tried my best and did what everyone said, following the path and did
              everything right, but life is unpredictable like that. As I sat on the deck, looking at the sunset, I had
              a long sip of scotch, and breathed the air. There is something almost spiritual, being alone and
              surrounded by water. The echoes of your mind, everything that matters, swirled around my head. In such a
              moment of clarity, everything seemed simpler. We are all just people trying to live.
            </p>

            <p>
              All the worries and problems of the past seemed so banal and distant. Why are we here? What is our
              purpose? I thought I knew mine, but I was mistaken. I learnt one thing on my incredible journey. Forget
              the plans, go out and live. Live your life, breathe the air, or jump from the ship and swim naked. With
              every moment, your life gets shorter. I only wasted it following the river. Find your bliss, whatever that
              may be, and love completely without reservation. I’ve missed so many things in my life. I only had a taste
              of true love. It was all too short and haunted me forever.
            </p>

            <p>
              “Life is a struggle,” my old man said. He was wrong. This is why his life turned out the way it was. Life
              is grand, amazing and beautiful. Flowers literally grow in the garden. What good is looking at them
              through the window when you only want to lay on the grass and smell them. Life is whatever you make of it
              as long as you let go of fear.
            </p>

            <p>
              I was getting used to deep thinking, sitting on a comfortable sofa every evening. The sun was setting far
              into the sea, spilling a magnificent glow of red, yellow and orange. It was at that moment that I would
              hear the hum, not with my ears but my whole being. If you stop for a moment and halt your breath, just
              listen to the sound of the world going to sleep.
            </p>

            <p>
              Captain approached me as I was going to bed. “We’ve got a report of three tropical storms some hundred
              miles ahead.”
            </p>

            <p>“What does it mean? Should we turn around?”</p>

            <p>
              “No, sir. It will be okay. It might just get a little bumpy. The projection shows that the storms would
              miss us, but we can get some strong wind and waves.” I never experienced a storm at sea, but the captain
              seemed confident and knew what he was doing. He came with excellent references and I had them checked. He
              was one of the best the money could get.
            </p>

            <p>“Should I do something to prepare?”</p>

            <p>
              “No, sir. You will be fine. I will send someone to wake you up if anything changes. Have a good night.” I
              thanked him and made my way, took a quick shower and laid in bed. “You will take care of me, won’t you?” I
              stroke clean linen. I trusted the ship more than I did the sailors. Over the past weeks, I grew pretty
              attached to Rusalochka. I kept telling myself that I would sell her one day, but deep down inside, I knew
              it was a lie. This wasn’t just a ship, some inanimate object. It slowly became my great love.
            </p>

            <p>
              The ship hummed at me and warmed me. It nestled and caressed me to sleep. Somewhere in the distance, I
              heard Yevgeny’s laughter. “Oh, look how tables have turned.”
            </p>

            <p>
              “Shut up, old man. As always, you were right. Is this why you come to haunt my dreams?” I would often have
              internal debates. It was impossible to avoid them with something so personalised. Rusalochka, the entire
              ship, was the embodiment of Yevgeny’s will. He carefully planned every nook and cranny, every screw and
              fitting, meticulously executed by the builders. Yevgeny was a perfectionist extraordinaire who didn’t care
              about the expense.
            </p>

            <p>
              Rusalochka was Yevgeny’s child, but she was more than just his daughter. She was the love of the old man’s
              life. As luck would have it, the old man died in his sleep, but the sea princess chose me. She was mine
              now, and I was hers. She captured my heart, becoming my love. How could a man love an object? My eyes were
              closing, drifting asleep.
            </p>

            <p>
              I heard the wind change and carry a fine mist with it. It smelled like saltwater, but Rusalochka purred.
              She kept strong, going forward into the deep ocean, unafraid of god or devil alike. “Good night,” I said,
              mumbling in a whisper, hearing a wave crash into the ship’s side. My eyes closed, and I was gone.
            </p>

            <p class="center">***</p>

            <p>
              A loud splash of water made me jump. The sun just came out, and it was already scorching. It took me a few
              minutes to focus. I dreamt of grass, being a child and running barefoot in it, climbing the cherry trees.
              I didn’t want to wake up to the reality of my life. If I had just died last night, it would be perfect.
            </p>

            <p>
              A sharp pain in my stomach made me wince. I shouldn’t have eaten that fish without water. My mouth was dry
              and chafed, peeling in places, and my eyes burned, feeling like I had sand in them. The big fish jumped
              and splashed again as if to wake me up and tell me to go into the shade.
            </p>

            <p>
              “What’s the point?” I asked myself. How hard is it to kill a man? When I was a teenager, I read somewhere
              that humans could only last a couple of days without water. I lost track of time, but it felt like it’s
              been almost a week, and I was still alive.
            </p>

            <p>
              “Yes, I’m going,” I said, seeing the fish splash in and out of the water. “What would I do without you?”
              My whole body was in pain with little trembles and shakes, and I couldn’t stand up, so I crawled back to
              the shade and closed my eyes. I was exhausted. Just a little more sleep, just a bit of rest. I closed my
              eyes and instantly passed out.
            </p>

            <p>
              “What now? Why are you doing this?” I woke up again when the sun was high in the sky. The fish jumped and
              splashed, forcing me awake. I imagined she tried to save me the way I had saved her before, but unlike
              her, I couldn’t drink the sea. I didn’t belong in the ocean.
            </p>

            <p>
              To think a fish would have this level of consciousness, let alone intellect, was laughable, and so was my
              predicament. I was dying alone in pain, and there was nobody else, so I projected and anthropomorphised to
              make it easier. Even Yevgeny’s voice was quiet, a blessing and a curse at the same time. Perhaps my
              psyche, survival instinct, my will to live manifested themselves in a way to make it palatable.
            </p>

            <p>
              I rolled to the stairs and dropped into the water. It was nice and cool, and I took a deep breath. All
              thoughts of the future disappeared, and the past was too painful. Only the endless now remained. I wished
              it was at that beach in Spain or any other place. I guessed there was no perfect way to die. Mine was slow
              and painful, but not as cancer. I laughed, almost choking. Yevgeny’s words finally made sense. “You will
              die soon, but look, there is no rain.” I would have a lovely death.
            </p>

            <p>
              “Enough of morbidity.” I shook my head and crawled out of the water. “What’s the point in thinking about
              something inevitable?” Nobody answered. I lifted myself a little and saw the fish was still there. “I bet
              you could tell me some stories.” It jumped and splashed.
            </p>

            <p>
              “Once upon a time, a miller died. He had three sons. The eldest one inherited the mill, the middle one a
              mule with a cart and the third, the youngest inherited the cat”. I laughed hard, but only a raspy hissing
              came out. It was Kelsey’s favourite bedtime story. I would read it to her every evening. “Puss in boots,
              please, daddy, puss in boots.” She looked like an angel dressed in her little white pyjamas with pink
              accents. I’d tuck her in and switch on the night lamp, then read her a story while she held my hand.
            </p>

            <p>
              Sometimes I would change a topic and tell her about my life when I was a prince or explorer, inventing it
              along the way. By then, Kelsey was long asleep, smiling and listening to my voice. What happened to me?
              What happened to us? Where did all of this go, and why couldn’t I get it back? I felt the tears well in my
              eyes, but there was nothing. I was parched.
            </p>

            <p>
              “Maybe, I’ll just turn into a mummy.” The fish splashed, enjoying my comedy. Of course, I wanted to live
              and survive. Who knows, maybe someone would come this way, just didn’t want false hope to mess with my
              judgment any more than it had already been clouded, but the big fish was right. I had to keep myself
              awake.
            </p>

            <p>
              I kept telling stories as I remembered them. The fish would swim by, jump up and dive. She kept me company
              and kept me alive even when I ran out of things to say. Somewhere along the way, I told her how I felt. It
              was something so personal that I wouldn’t say it aloud, even to myself.
            </p>

            <p>
              Sometimes the truth is hard to take from shame or embarrassment. Sometimes your whole life, you pretend to
              be somebody else. I envied people like Johnny Rotten, who always said what was on his mind and lived his
              life regardless of others. This was perhaps why I was so taken by my old Russian friend. He was the first
              person in my life that I honestly admired.
            </p>

            <p>
              Yevgeny Orlov, an old Russian oligarch, was a man greased and painted by many paints. He was well known
              and respected, but nobody would tell me anything more. I knew that by myself but always wondered why did
              he choose me as his friend. For some unknown reason, he took me to his liking and confidence. He wouldn’t
              miss a single opportunity in five years to come and talk with me, drink vodka and share his wisdom. The
              last part was what I admired the most. I would resist him and argue, but the old man always carried the
              right message. I wouldn’t understand it at the time, but it came to me. This is how I imagined a proper
              parent would be.
            </p>

            <p>
              My throat was sore and my lips hurt, my tongue was swollen, and my eyes felt infected. I knew I was at the
              end of my strength, but I talked in a raspy voice, sounding more like a snake. At first, it was fun and
              the means to keep awake, but as the times passed, it became my will and testament. I was telling the fish
              the story of my life, opening my heart, pouring out all my secrets.
            </p>

            <p>
              It felt great to unburden and let it all out. If I had any tears left, I would have cried. The fish swam
              nearby, hearing my voice, and I talked until I could talk no more. They say that one enters heaven
              unburdened. I knew little about that, but I said it all. I laid bare all my thoughts and my secrets,
              thankful to the merciful universe for sending me a listener. Perhaps it was better that she was a fish. I
              doubt I would be strong enough to say it to a human. “Always keep your cards close to your chest, son.
              Don’t trust anyone.” That was my dad. He trusted no one.
            </p>

            <p>
              The sun fell, and the world changed. It looked so magical, like visiting a candy shop. The sea was still
              like glass, reflecting heaven. It was like this thin barrier one could pass to live in another universe.
              It was just there, at the reach of my hand. I only wished it was true. I could dive in and live on the
              other side instead of dying on mine without water. So close and so far, floating in an endless ocean. The
              irony would make me chuckle if the sunset didn’t take my breath away.
            </p>

            <p>
              I crawled to the side of the ship in incredible pain, feeling cold and shivered with a laboured breath. It
              was a mystery how I survived last night, but I was convinced I would die now. I said my piece and told the
              story of my life. There was nothing to tell, no more secrets. I played the best hand I could with my
              cards, but now was the time to leave.
            </p>

            <p>
              “Thank you for listening and giving me this one last sunset.” I felt indebted to the big fish for giving
              me such riches. In the end, it is the small things that are priceless. A kingdom for a horse, a world for
              a drop of water. I gently stroke the ship, saying goodbye to it. She was mostly submerged and ruined, but
              she kept me alive. Everyone else died except me. She kept me living. If only she could feed me like she
              once did.
            </p>

            <p>
              The sun was almost gone and I could see the darkness. The moon and the stars appeared, brighter than ever.
              They all waited for me and my inevitable demise. I had no regrets; it was my time. With the last of my
              strength, I stretched my hand and dipped my fingers into the water. I wanted to touch the fish for one
              last time, to thank it and say my last goodbye.
            </p>

            <p>
              The light played tricks on me. I could barely see. My eyes were dry and swollen, and I couldn’t clear
              them. Everything started to shut down, and all the shadows looked grotesque. So tired, in so much pain, I
              wanted to sleep and go away.
            </p>

            <p>
              I felt the gentlest of touches right on my arm, and with the strength that I couldn’t imagine having, I
              looked up. At first, it was a shadow I couldn’t make out, and then I saw a hand touching mine. It was soft
              and feminine with long, slim fingers. I smiled, sure it was an angel. She came to take me, fly me to
              heaven, but as my eyes focused, I saw she was naked.
            </p>

            <p>
              She was the most beautiful woman I had seen in my life, tall and willowy with incredible blue-green eyes.
              Her long-wavy hair fell to her knees. She looked like some statue, the queen of high seas, just perfect.
              She smiled at me, and I smiled back, thinking it was a perfect way to die.
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Big-Fish-Rumpel-Stiltskin-ebook/dp/B0BHJKVZ31'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <!-- <a href='https://apple.co/3zSPgfs'
               ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
             </a> -->

              <!-- Google -->
              <!-- <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Montana?id=ftFBEAAAQBAJ'
               ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
             </a> -->

              <a href='/books/big-fish/preview/chapter-6-sirens-call' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 6 - Siren's call >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
           
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
