---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Big Fish | Chapter 7 - Little secrets'
  description='Big Fish novel by Rumpel Stiltskin'
  image='/images/big-fish.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/big-fish.jpg' class="big-cover-img" /> -->
          <p class='emp grey'>BIG FISH</p>
          <h1>Chapter 7 - Little secrets</h1>
          <div class='biggest'>
            <p>
              I used to run up and down the beach well into my teenage years. Every summer, my dad took a holiday. It
              was mandated by his union contract. This meant less overtime and lower pay, which meant the days with him
              sometimes got unbearable. He would sit in his chair watching the telly, drinking cheap beer and bitch
              about everything. It was the tories or the price of fags, the cost of the tube fare or bloody immigrants.
            </p>

            <p>
              Our neighbour Margaret from two doors down insisted on taking me away with her for at least a month. She
              was friends with my mother, growing up and attending school together. Margaret also had a son who treated
              me like his younger brother. He was just a few months older than me, but Demeter made sure I never forgot
              it.
            </p>

            <p>
              He was the reliable one while I was the kid, causing all the trouble. One time, my dad beat me so hard
              that Margaret threatened to call the police and have him arrested. Since then, she made sure to take me
              away during my dad’s mandatory break.
            </p>

            <p>
              Every year since I could remember, Margaret would take the family to her sister. She lived in
              Christchurch, a small town in the southwest where we would spend our summer holidays. The town was only a
              bus ride from Sandbanks, where posh people spent their summers. It was aptly named for its long sandy
              beaches with plenty of small shops selling candy by the ounce.
            </p>

            <p>
              Nobody was rich back in the day, at least none of us Londoners, apart from those working in the city,
              keeping the poor poor and making the rich richer. They lived in fancy cottages, rolling in every morning
              in their black cars and first-class carriages. I didn’t mind; to Caesar Caesar’s. We were young and
              capable and had our own fortunes to make with sound minds and two strong hands.
            </p>

            <p>
              Every other day, I would offer to help with one of the small candy shops in town, working for food or,
              more like a sugar rush. I’d stand there, greet customers, clean floors or chase petty thieves and beat
              them. Hitting a child is a big no-no for an adult, but having one of their age slug them a few times
              didn’t even attract onlookers, let alone the police. The candy shop owners knew that, of course. It was
              the graft they readily paid.
            </p>

            <p>
              On the other side of the street, opposite the candy store, was a little alcove with a small colourful shop
              selling herbs, books, and candles. Mr Sable, an old man who liked to tell stories, owned it. I would visit
              him often to bribe him with gummy bears and pink marshmallows to take one of his books and read it to me.
              He was a curious character with a mischievous smile, always haggling for another candy as he flipped the
              page.
            </p>

            <p>
              I knew from the first moment I stepped into his store I would remember it for the rest of my life. The
              exquisite scent of lilac wafted in the air, mixing with the musky odour of sandalwood and wax. A golden
              figurine of Buddha sat on the top shelf with the bible and Quran on each side. My eyes were drawn to more
              exotic items, black candles, and symbols of winged dogs and such, hanging like pendants next to the star
              of David with an eye inside. Immediately I noticed the black book of dreams and wondered, could it explain
              mine? I rarely dreamed, but when I did, I was often someone else in them.
            </p>

            <p>
              “This is not for you, kid.” It was too high to reach. “Do you like stories?” I saw Mr Sable’s eyes smile
              and nodded. “Come, I’ll tell you one; I know you will like it.” This is how our friendship started. We had
              a deal, stories for sweets. It was an unfair exchange. I got more than I paid.
            </p>

            <p>
              It was a cosy reading room with Persian carpet and handmade antique furniture. Mr Sable would choose a
              book, light a red candle and get comfortable. “Once upon a time,” he usually began, instantly capturing my
              mind, creating images of faraway places with magical creatures that lived in them. I would space out for
              hours and listen to his voice, absorbing his emotive voice, making me feel I was part of the stories. I
              always lost track of time, listening to Mr Sable. The days didn’t have enough hours in them to hear all
              the stories he would tell, and there was not enough candy in the world to pay to hear all of them till the
              end.
            </p>

            <p>
              I would come to Sandbanks with Demeter and his mother. Those were the happiest days of my life. Everyone
              did their best to make me feel comfortable. They might have overdone it a little after seeing my bruises.
              One time Margaret had me talk to a nice lady from social services. “I am clumsy and fall a lot,” I said,
              and she wrote down something shaking her head. I knew what they wanted, but I would not rat out my father.
              “Men suffer in silence, boy; now bring me that belt.” He did the best he could; he was raised the same
              way.
            </p>

            <p>
              By the age of fourteen, I knew everyone in town. Mr Mortimer, the candy man, Mr Sable, the book shop
              owner, Mr Jones, the jeweller and every other Mr and Mrs up and down the street, and boy did they know me.
              I was the curious kid, the kind that doesn’t quit; I got in trouble and got myself out. I was a sturdy
              kid, unafraid of pain, and smart. My grades were perfect. I never wanted to give my dad a reason to keep
              me at home during the summer.
            </p>

            <p>
              “I’ll whip you into shape, boy. Don’t cry now.” I stopped crying when I was twelve. I learned the hard way
              that tears cause pain. My dad was an honest man, hard on me, hard on himself. He never forgave me for
              killing my mother. That’s how he put it when drunk, apportioning blame. Sometimes I would wish that I was
              the one that died, but we play with only the cards that we are dealt. In the end, it wasn’t so bad. I knew
              the rules, and as long as I followed them, my dad and I lived our quiet existence. No tears, no feelings
              whatsoever. Just do what you’re told and follow the rules.
            </p>

            <p>
              By the time I turned fifteen, my dad and I could see face to face. I grew like a weed; I was a tall kid.
              At first slim and gangly, but soon I filled in nicely muscles and fists. I could even throw a good swing.
              Perhaps that was the reason dad spared the belt. He would say that my eyes look insolent. I would never
              raise my hand; he was my dad.
            </p>

            <p>
              I had a pretty average childhood with lots of studies and hard work. I wanted to excel and please my dad.
              If not the admiration, I wanted to earn his respect. Often I’d watch him sleep. He looked so tired, worn
              out, and weak. Sometimes he would shake and speak, mumbling something unintelligible. I thought he was
              afraid.
            </p>

            <p>
              He gave me all he could; food, a roof, education and discipline. The rest was on me. I was a clever kid. I
              watched the large man stomp in every evening and collapse into a sofa like a lump of coal. There was no
              joy or happiness in my dad’s life. He only knew duty and pain. A man suffers in silence, and he suffered
              every day to put food on the table and keep me comfortable. The neighbours didn’t understand that. When he
              beat me, he was saying, don’t be like me, don’t make the same mistakes I made. Be better and make smarter
              choices. The pain I got was a reminder of the pain he suffered. He couldn’t explain it or make me listen.
              He could only make me obey.
            </p>

            <p>
              Looking back in hindsight, my dad was broken. It sometimes happens to the best of us. The more lonely and
              isolated he was, the more unpredictable he got. The years of misery, self-doubt, and spirit shaped him
              into a creature of violence. He punished himself as much as the others, using mental and physical torture.
              Sometimes when he slept, the man reminded me of a character in Tolkien’s stories. The sad part was that he
              was blind. I’m sure he loved me in his own way, but he dragged me down, creating a copy of himself, just
              like he was a copy of his dad.
            </p>

            <p>
              Kind people who knew me told me how I changed from a kid to a man. Just like my dad, I shut down. I didn’t
              allow any emotion to come out. I didn’t love anyone by the time I was a high schooler. I didn’t know how.
              The girls didn’t interest me, or boys, for that matter. I couldn’t sleep much, suffering from insomnia, so
              I would walk at night and think about life. Sometimes the coppers would pass by the benches. They never
              gave me trouble. Everyone knew everyone back in the day. They just assumed some trouble at home, never
              believing me when I told them I just wanted to be alone.
            </p>

            <p>
              Sometimes I felt like bursting inside. Like something wanted to come out from deep within my being. I
              wanted to live and laugh and end up in a fight. I wanted to join the army and travel to have the life of
              my dreams. You hear of people living like that, but I never met someone who had such a life. For us the
              street kids, that wasn’t our destiny. We would go to school, start working, get married and have children.
            </p>

            <p>
              Someone has to keep the world running, serve food or make it, and drive a bus or a locomotive. Someone
              must work the factory line, put things into boxes, and move them around warehouses. I wanted more than
              that, a life worth living. I could feel that desire bursting out of me, transforming me into something
              different. As I walked the empty streets at night, I thought that my dad was right. This was my life, and
              all I could do was survive it.
            </p>

            <p>
              Everything changed one summer day. I was just fourteen, too young to know what love is, but there I was,
              falling head over heels for an angel. At least, she seemed to me that way for all my youthful exuberance.
              It was none of the usual boy-pulls-girl comedy but a real meet-cute, just like in the movies.
            </p>

            <p>
              The summers in Sandbanks were the best times in my life. So many sweets and chocolates, so many stories. I
              wanted to live it and experience every waking moment. I knew someday this would all end; just about the
              time when we stopped being children. I didn’t want to grow up and get a job. As hard as life was, it was
              great without adult responsibilities.
            </p>

            <p>
              I would use every opportunity to swim by the beach or do the flips straight off the pier. I was a fearless
              teenager, stubborn and relentless. Sometimes I would scare even Demeter with my craziness.
            </p>

            <p>
              “Do you want to die?” He would ask, pointing the finger at his head and twirling it around as if to
              suggest I had a hole in mine. I knew it was dumb, but when, if not then? You live once and grow up to be a
              man or die trying. That was my philosophy. Sometimes I dreamed I was a daredevil doing stunts to the awe
              of others because when I got home, the summer would end, and it was back to the bleak existence of
              everyday struggle. That was the reality, and Sandbanks was only a beautiful memory, an intermezzo, a brief
              break between the acts of a Shakespearian tragedy.
            </p>

            <p>
              Demeter was running a chore for Margaret, so I went to the pier. The weather was stunning, cloudless and
              sunny, so after my stroll, I went for a swim. The rules were simple; no swimming alone. I looked at the
              people; hundreds of them were there. There were barely any waves, and the water felt magnificent.
            </p>

            <p>
              “What’s the worst thing that could happen?” I wasn’t expecting a storm, rip current or massive waves that
              sometimes surprised the bathers. If everything fails, I could always shout for help. Plenty of people were
              around to hear my cries, so I felt pretty confident. God bless the naivety of the mentally undeveloped.
            </p>

            <p>
              I swam for a while, dived and enjoyed myself, losing track of time and the people going away. Soon enough,
              I was alone, apart from a few other guys in the distance. I’ve been at it for a while, and nothing
              terrible happened. There was no magic earthquake or a storm from hell to make me reconsider. Floating
              alone in the sea felt quiet and relaxing. It gave me a different perspective, looking at the town and the
              people from a distance. So many dreams and lives, each following their own path, living oblivious of each
              other, focused on themselves and their own problems. It felt like I had discovered a secret.
            </p>

            <p>
              As I moved towards the shore, I felt some tingling in my leg. At first, I dismissed it, but then the pain
              came. I swam faster, but my legs were burning, and I felt paralysed. The pain spread, and I gasped and
              screamed for help, but nobody was there. In a moment’s panic, I flapped my arms, trying to get someone to
              notice, but I was too far away.
            </p>

            <p>
              The pain was strange and terrible. The more I moved, the worse it burned. I couldn’t understand what was
              happening. Was there something in the water with me? The images of sharks and pirañas crossed my mind,
              eating me from the waist down. The sheer horror of the moment consumed me when I realised I was too far
              for anyone to help. I yelled and screamed, flapping like mad, too young to die, too stupid to survive.
            </p>

            <p>
              “This is how it ends.” The voice in my head said, drumming in the inevitability of drowning. I wanted to
              cry, but the men didn’t do that. I was an idiot for ignoring the advice. Sometimes the rules are there to
              help, not just to keep grownups in power.
            </p>

            <p>
              “Come, come, give me your hand,” I heard the voice echoing in my head. A girl about my age showed up out
              of nowhere. She pulled my arm while I screamed, embarrassed and relieved to be saved by someone half my
              size and a girl on top of that. She was an incredible swimmer, fast and confident, pulling me easily
              through the water.
            </p>

            <p>Before I knew what had happened, she said something. “What?”</p>

            <p>
              “Are you okay? Can you stand?” She had a foreign accent and sounded pleasant. Thanking God for the water
              to hide my face. I felt like an idiot, embarrassed more than ever for drowning just a few moments away
              from a place where I could stand.
            </p>

            <p>
              My legs hurt me a lot, but they were there, not eaten or burned off alive. Suddenly, the pain didn’t seem
              so bad. “What was it? What happened to me?”
            </p>

            <p>
              “A jellyfish stung you.” She shrugged with a smile and dived to look at my legs. When she came up, she
              said something, but I wasn’t listening. This was the first time I really saw her, and nothing mattered. I
              never saw a girl this beautiful, and her eyes. I was mesmerised. She couldn’t have been over fourteen, but
              she looked incredible with long wavy hair and a face of an angel. She laughed at me and smiled, showing
              her pearly whites. Her lips and face, her nose and everything so perfect.
            </p>

            <p>
              It would be hard to explain to those who never met someone like that. It wasn’t the good looks, charm or
              pure radiance. There was something deeper, almost spiritual, indescribable that pulled me towards her like
              a magnet does another. I never knew a feeling like that. It was like magic from one of Mr Sable’s stories.
              I couldn’t explain it or put the finger on that, but I knew in every atom of my being that we were meant
              to meet in this life or another. Mr Sable said that when two souls are one, neither space nor time can
              stand in their way. This was the ultimate law of nature and the source of all the power of the angels. I
              love thee, so I created thee, God said to creation.
            </p>

            <p>“Why do you stare at me?”</p>

            <p>
              “Because you are the most beautiful girl I ever saw.” It was her turn to blush, which only made her look
              prettier.
            </p>

            <p>“You think I am beautiful?”</p>

            <p>
              “What is your name?” She shook my hand, introducing herself, and I examined her beautiful fingers. Naya
              was in a league of her own, and she saved my life.
            </p>

            <p>
              “Please don’t leave. I want to see you again.” I never begged and took it like a man, but this time
              something grabbed my insides and squeezed. Love at first sight; I thought it was crap. The idea that I
              might not see her again made me feel strange. Those who never had something like that happen to them
              cannot understand.
            </p>

            <p>
              I saw her study me for the longest time as if questioning if it was a lie, but I persisted, and her gaze
              softened. Those fantastic eyes smiled at me as much as her lips.
            </p>

            <p>“I must see my parents, but we could meet later.”</p>

            <p>“How about six at the pier entrance?”</p>

            <p>
              “How about nine? After dark? I always wanted to see the Ferris wheel.” It was a date, and I limped out
              while she swam away. The first thing I looked for was my legs. They were red and swollen with something
              like blisters. I knew that aunt Margaret would force me to see a doctor. Going out at night would be
              impossible after that.
            </p>

            <p>
              One last time I looked at the water, but Naya swam away, and I couldn’t find her anywhere. I was worried
              about jellyfish for a moment, but she was a much better swimmer. No doubt she would make it home without a
              problem, so I dressed and made it to Boots. The pharmacist said I should go to the hospital, but I
              convinced him it wasn’t so bad. He sold me painkillers, creams, and anti-inflammatory medicine.
            </p>

            <p>
              I called home from a public telephone, knowing nobody would be there, and left a message that I was okay
              on the answering machine before finding a bench in the shade and waiting there. I had just the pills and
              the bottle of water, replaying over and over, meeting Naya in my head.
            </p>

            <p>
              Before the sunset, I sat on the sand, watching the red, blue and orange cocktail of light as the world
              turned darker and the day turned to night. The lights were switched on in all the shops and amusement
              places. It looked like a Christmas celebration reflected in waves. A light summer breeze flowed from the
              sea, and people paired up, boys holding their girlfriends’ hands. I saw it all the time but never really
              noticed. The only thing I wanted now was to be one of them.
            </p>

            <p>“Patience is a virtue.”</p>

            <p>
              “She is a fool,” my dad would often respond to anything Margaret said. I wished to have had more patience
              waiting for my date. Quarter to nine, I stood next to the entrance and waited, scanning everyone, always
              disappointed. Nine passed, and so did nine-ten. Deep inside myself, I felt a vast gaping emptiness. If
              only I said something else, if I was more persuasive, if I was more experienced with girls, if I looked
              better.
            </p>

            <p>
              Out of the darkness, she came into the light, wearing a frilly yellow summer dress with white flowers, and
              tied her chestnut hair into a bun with a ponytail. I had to swallow my heart before saying hello. Naya
              looked incredible in the light of flashing neon mixing with moonlight. She smiled without words while I
              did the talking. I led her to the pier, and we walked there quietly.
            </p>

            <p>
              An hour later, we shared cotton candy, holding hands, and around midnight, we had our first kiss. I kept
              buying rides just to see her giggle and smile. Naya was so full of life and positive. I had never met
              anyone like her before in my whole life. Whatever she wanted to talk about, I was interested, most of all,
              in her insatiable curiosity about me and my life.
            </p>

            <p>
              We walked barefoot on the sand towards a bar. The music was loud, and we danced outside. Neither of us
              knew how to do it, but it was beside the point. We just needed an excuse to hold each other. Never did I
              know happiness like that. In just one night, my life changed; she gave me hope.
            </p>

            <p>
              One could dissect it to death, say it was puberty or the fact I had no mother, and I was lovesick for the
              soft gentleness only women can give. We could analyse and try to understand it forever, saying Naya gave
              me something I never experienced, and they would be right. I was instantly hooked on my personal brand of
              heroin Naya gave me. It was love.
            </p>

            <p>
              It is strange how women can affect men. I was just a kid, living my life, walking the path when Naya
              filled my dreams. She made anything seem possible. I felt like I had a goal, desire, and purpose. By
              snapping her fingers, she changed my life. I wasn’t a child anymore; I suddenly matured.
            </p>

            <p>
              Lethargy should be a sin. I wanted nothing, just followed the path and kept my dad proud. After just a few
              hours with Naya, I felt alive. I wanted her more than I ever wanted anything in my life. For the first
              time, I could see the future, and she was in it. She was my sunrise and sunset, the parts I always missed.
              I would happily live out my life, get married and have children. After meeting Naya, I wanted more. I
              wanted to live.
            </p>

            <p>
              “I have to go. My parents are waiting,” she said as the sky turned brighter. I wanted her to rebel and
              never leave me again, but life is not a fairy tale. We all live by the rules.
            </p>

            <p>“I want to see you again. How about later today for lunch?”</p>

            <p>
              “I can only get out in the evening when my parents sleep.” We made a plan to meet at nine at the same
              place. She hugged me for the last time, and we kissed for an eternity before she ran away towards the
              pier.
            </p>

            <p class="center">***</p>

            <p>
              The rest of the summer went the same way. We would sneak out at night to spend it together. Naya’s parents
              were the strict kind. They would never allow her to see a boy, so we snuck around, kissing, holding hands,
              lying on the grass and counting the stars. It was the happiest I have been in my life. The night we
              danced, they played the song by Foreigner, and I really listened to the words for the first time. It said
              what I meant.
            </p>

            <p>
              Time flies when you’re in love. The days passed like cars on a race track, and before I noticed, the
              summer was over. I dreaded this moment.
            </p>

            <p>“Can I call you? Give me your number.”</p>

            <p>
              “My parents never let me pick up the phone.” I tried everything, including the plan to elope. I wasn’t
              ready to leave Naya at the end of the summer. We spent the entire night kissing, embracing and promising
              eternal love for each other.
            </p>

            <p>
              “The winter will pass, and I’ll meet you here as always.” She swore on her life. People would tell me,
              “you’re just fourteen. You have a life ahead of you,” but I wasn’t listening. Sometimes you know what you
              know, and you are sure. It is that quiet moment that lasts a second or an eternity. I knew there and then
              that my life was changed. I cried for the first time in years, and Naya kissed away my tears.
            </p>

            <p>
              They call it puppy love; I guess mine burned stronger. She was dawn, my sunshine, my saviour and friend.
              She made me dream even when awake. From the first moment I saw her, I was hers forever. I wasn’t aware I
              had any love to give, but I gave it all freely. “Life is pain, boy,” my dad would say, but I knew better.
              Life can be beautiful to those that dare to dream. I spent the entire trip back to London in silence. All
              my mind, my whole being focused on seeing Naya again. Margaret looked at me with a curious smile, knowing
              the woes of a boy in love.
            </p>

            <p>
              “When it hits you, there is no defence,” she said with a giggle. I barely noticed, but obligatorily rolled
              my eyes in the disagreement. She kept in touch with my dad, keeping him abreast of everything that had
              happened. It often focused on our day-to-day challenges, but I imagined it was hard being a parent to a
              teenager.
            </p>

            <p>
              Somehow puberty seemed to pass me when it came to troublemaking and similar insanity. Growing like a weed
              was my first sign of it, and now love. I wondered what was next. The hormones sometimes made me snappy and
              irritable; far be it from me to try that with my dad. In matters of order and discipline, one would find
              Mr Price entirely humourless.
            </p>

            <p>
              It felt strange being back at the house. Dad welcomed me by nodding his head, not even a smile. The whole
              place seemed surreal. For the first time, I noticed how bleak it looked, how grey the wallpaper was. The
              little beige floral pattern looked so much out of place.
            </p>

            <p>
              All my posters on the walls looked strange. Kiss and Alice Cooper suddenly seemed so infantile. I took
              them all down, including Iron Maiden, leaving only the British flag with a black-and-white picture of the
              monarch with superimposed letters reading “God save the queen” across her eyes and Sex Pistols across her
              lips. Somehow, it felt appropriate. That’s how I felt about life. “God save the queen, the fascist regime.
              They made you a moron, a potential H bomb.” Yep, that’s how I felt, being back in London alone with my
              dad.
            </p>

            <p>
              It took me a weekend to get back to my senses. When I got back to school, everything was the same and
              different. Unconsciously, my eyes followed girls wherever they went, but all I saw was Naya, sometimes on
              their lips, hands, even hair and faces, but never in her eyes. They were unique. She was unique, and she
              was mine. Deep inside my heart, my doubt gnawed at me. I trusted her completely, but she wasn’t the master
              of her destiny. Something could happen, and that would be the end. I felt my breath skip every time I
              thought of that.
            </p>

            <p>
              One could spend the year dreaming, and it wouldn’t be wasted, but I felt the opposite, energised and
              motivated. I redoubled my efforts, studying and learning, scheming for my future. I would be fifteen soon,
              then sixteen and more. I wanted to have a life. No longer would living with my father be sufficient
              destiny for me. I wanted more than that, a life of my own and a family someday.
            </p>

            <p>
              Insomnia returned with a vengeance, but this time, different. Before, I would walk at night or lie in bed,
              trying to get myself to sleep, but not this time. I used that time to learn something different, scheme
              and plan. Sometimes it felt surreal, like the world was split and I wasn’t myself. Like walking the line
              between two lives; one that I lived and the other that I wanted.
            </p>

            <p>
              They say moderation is the key to everything, and I said, “screw this. Let’s see what happens.” I was
              young and foolish, full of enthusiasm, hungry for years, and starving now. I wanted everything, the world
              and all. The dreams of a child wanting to be an adult. I could almost taste the impatience to grow up and
              be my own man.
            </p>

            <p>
              There were options for kids like me. If I was smart and hardworking, I could get a scholarship. I thought
              of that, and it was a waste of time. I didn’t see myself sitting in a classroom for five more years
              playing a student. Everything I could ever need was at the public library. I sought knowledge, not a
              degree. I saw my dad toiling for others. They promised raises and paid him a pittance. All of my
              neighbours were the same. I struggled to remember a single person I’ve met that had a life different to
              the rest. The only ones I knew had their own business. They might not have been rich, but they were in
              control of their own life, where you could do great things if you worked hard and didn’t sell yourself for
              a paycheck at the end of the month.
            </p>

            <p>
              Working for someone seemed to me worse than being a prostitute. At least they sold their minds and bodies
              for themselves, not for some man dressed in a suit, waving his finger, dispensing the rules. You did well,
              my little minions, but more is needed, another drop of sweat and blood, another year of your life. All the
              sheep follow the leader unthinkingly right off the cliff. They watch the laughing faces spend their
              pensions and vote for the entitled liars to enslave their children. Every year you’re a little poorer,
              every generation a little unhappier. That’s why the old people say, reminiscing, “it used to be better
              back in my time.” I knew the end of that story. I saw it on my dad. I didn’t want to live that life.
              Anarchy in the UK.
            </p>

            <p>
              I read about communism at school. It was the best type of governing system available if it wasn’t for the
              pigs that were more equal than the other animals. The pigs in our system didn’t even try. They give us an
              illusion of choice between someone who’s going to kill your son and another who’s going to kill your
              daughter, then point the finger at us and smile, saying, “what’s the problem? You voted for this,” with
              their forked tongues. They were all in someone’s pocket. Unfortunately, not mine.
            </p>

            <p>
              That was right. I was a regular chip off the old block, a regular Che with a red star on my cap and a fat
              cigar in my mouth. I was going to change the world, but only mine. Playing by the rules is made for fools
              because the house wrote them, so next time you put all your chips on eleven, think. What do they say about
              gambling at the casino table?
            </p>

            <p>
              Many dreams of grandeur and success went through my mind as I imagined, but I was just a kid with a humble
              beginning, with an overworked father, borderline alcoholic. You couldn’t get a hundred pounds on the
              street if I took all the neighbours and hanged them by their feet. We were all skint, barely making ends
              meet. The rich wanted it that way. They were the ones directing the play. The only way to win that game
              was to say no or join them.
            </p>

            <p>
              Good jobs, good money, a good future and good opportunities. I could find none of that on my street. There
              is an invisible divide between them and us, those that lived in Kensington or Mayfair and those from the
              ends. The worst were those that lived in Sussex, on their little farms and quaint cottages, those that
              travelled to London hating the smell, talking like French with shit up their nose and stick up their arse.
            </p>

            <p>
              Of course, I was jealous as hell. We all were, but we all grew in the system that put us there. Someone
              has to polish the shoes of the gentlemen. This is what Naya did to me; she dared me to dream. I dreamt of
              having a woman like her, and she deserved better than living with my father. The idea of having nothing to
              give terrified me. I swore a silent oath then that I would die before doing this to my children. My father
              loved me in his own way, between the moments of anguish and pain. Sometimes it was okay for him to lash
              out and reach for the belt if it meant he would feel better and sleep the night without choking from
              anger. It was just him and me; we were in it together.
            </p>

            <p>
              I didn’t want this for my wife and kids. I didn’t want them to know true misery. Even God found the poor
              people exhausting. In the end, it was about the future. I had none; neither had anyone. The poor stay
              poor, and the rich stay rich. Crossing the class divide is mostly a dream. I didn’t want to bring someone
              into my own personal hell or raise a family that would perpetuate the misery. I wanted to give a world to
              them and raise children with their eyes open. The world should be their oyster.
            </p>

            <p>
              Time passed quickly with all this studying. I’d wake up early and take a shower, then study or work out,
              clean the house, and help my dad in any way I could. I saw him look at me one day as I lay on the dusty
              old carpet, exhausted. He smiled and nodded; he raised a man. I finally understood what he meant. Only
              after I gave it every bit of energy till I collapsed, he saw me as the man he admired. He knew it was a
              shit life living like that, but it was a life, nonetheless. He had one lesson to teach; how to be a man.
              Men suffer in silence, do what they must, and never complain.
            </p>

            <p>
              We celebrated the new year with the Martins. Demeter and his mom Margaret invited a few other neighbours
              and us to share a glass of sparkling wine together. She got it on sale, and with her staff discount, it
              was a bargain. Four months have passed since I saw Naya. I thought about her every day. My love for her
              grew stronger. Six long months to wait still before the holidays.
            </p>

            <p>
              It would be too easy to allow this gnawing doubt to spoil my love, but I made a promise. I knew what I
              wanted and dedicated everything to that one intent. They say love is blind, but not for me. All I could
              see when I closed my eyes was her long hair and beautiful face. I could almost feel her hand in mine. True
              love transcends space and time.
            </p>

            <p>
              Most of the kids have already turned fifteen. The girls showed an increased interest in me. The word on
              the street was that I had a girlfriend. Demeter helped me spread it everywhere. I didn’t want people to
              get the wrong idea or get me into trouble. One woman for life; I gave Naya all my love. Without her, there
              was no point in living. I knew I could love no one like this, anyway.
            </p>

            <p>
              It turns out rumours are double-edged swords. Learning that I was taken became a challenge to some other
              girls. They would follow me everywhere and wouldn’t give me peace. I was like catnip to them, and they
              hissed like cats, fighting among themselves about which one gets to take me. It was Irma who claimed the
              victory. She was the most beautiful girl in the school and from an affluent family. They were rich and
              connected with a lot of influence and power.
            </p>

            <p>
              Little miss spoiled got it into her head I would be willing to upgrade. She stalked me for days, brushing
              off my excuses as just shyness on account of my lack of experience with socialites. She wasn’t used to
              taking no for an answer. It almost came to a fistfight that one time. Irma forced herself on me, demanding
              a kiss. I had to push her away, and she lost balance, landing right on her arse. That sobered her a
              little; enough to not try it again.
            </p>

            <p>
              The spring came one day, and the parks bloomed in flowers. It was lovely to walk there, with my head in
              the clouds, smelling the fresh air, daydreaming about summer. Together with leaves grew my impatience. I
              forced myself to stop counting the days, but no power in the universe could stop me from staring at the
              clock counting minutes. Patience is a virtue, and I had none. I waited for Naya my whole life. I could
              almost taste it, her kisses on my lips. Perhaps my puberty finally hit full swing. It was hard to
              concentrate and think of anything else. I felt like a bull ready to charge, maybe even a tad obsessive.
            </p>

            <p>
              I learned something about myself in those days. It turns out I had this forceful character. When I got
              something into my mind, it stayed there, a whole new level of stubbornness. Persistence could be a
              positive trait as long as it makes sense in some way. This was more than that, bordering on pathological.
              When I wanted something so much, my will be done. In many ways, I was my father. It took the strength I
              didn’t know I had to go through the day, then another, then a week and one more.
            </p>

            <p class="center">***</p>

            <p>
              The day floated in on a warm summer breeze. I tapped my foot all the way to Christchurch and grazed my
              food like a cactus salad. “May I be excused?” Everyone gave me a nod with serious expressions on their
              faces, but I heard them burst into laughter as soon as I closed the door behind me. “Fukem.”
            </p>

            <p>
              I ran towards the bus station and made my way to Sandbanks, then ran again to the pier. I stood next to
              the entrance looking like a mushroom in drizzling rain except for a silly grin on my face. I bet some
              people who saw it thought I was an imbecile. “Fukem as well.” I felt in my element, empowered, waiting for
              my girlfriend two hours before the time, “Fukit,” I had waited for a year.
            </p>

            <p>
              The time came and went. I still waited, and nobody came. All the little doubts roosting for a year hatched
              and poke-poke-poked inside my mind, telling me I was dumb. It’s a big world full of lies, and I got
              dumped. I slapped myself to stop thinking this way. Naya wouldn’t do this to me. I was sure she loved me.
              It was the recipe for desperation and madness, but I was stubborn and committed. I knew how this story
              ended, so the night came and passed, and with the first bus, I returned home and slept.
            </p>

            <p>
              Crying is not an answer, and I steeled myself. A million things could have happened, and I wasn’t ready to
              just walk away. If one could only imagine the state of my mind with all the ghosts arguing. I laid on my
              back in a small guest room, looking at ancient pale-green paint, squeaky dark-brown wardrobe and cheap
              plastic chandelier. The place smelled of mould and disuse. Someone used to sleep there. Long after their
              death, I could still smell them.
            </p>

            <p>
              I woke up for dinner and ate before going out and making my way. I was back at the pier at nine, right at
              the entrance, sitting on the ground, resting my back against the fence pole, looking like a beggar. It was
              true. I was begging destiny to bring Naya here. If only I believed in God, I’d go to church and light a
              candle, but of all mythical creatures, God was my least favourite, right after the goat on two legs that
              allegedly ruled hell or something. I didn’t keep up with my fantasy reading.
            </p>

            <p>
              Tiny laughter came from behind me, and I almost jumped. I spun around to see a mother with a daughter of
              about five. She happily squealed, licking her ice cream, vanilla and chocolate as seen from my vantage. I
              wanted some to share with the one I loved, but Naya wasn’t coming. It was apparent. Still, I made a
              promise, not just to her but to myself, and I would wait till the singing of the fat lady forced me away.
            </p>

            <p>
              I waited and waited, like a faithful dog, for his master, but she never came. I waited the whole summer,
              every day. For years I was that curious kid who walked around town as if he owned it, but now, not even
              candy would make me smile. I lost something big; It broke me inside. Deep in my heart, I was certain that
              I would never love again. Some people can fall in love over and over. I wasn’t built like that.
            </p>

            <p>
              There could have been a million reasons for Naya’s absence. Sometimes the world is set against the
              best-laid plans. I’d sit in a bookshop like always, waiting for the evening and listening to Mr Sable’s
              stories. He tried and failed to cheer me up even a little. I had a one-track mind, always too focused.
            </p>

            <p>
              “Come with me, Jimmy.” He waved me over and led me to the back through the doors that were always locked.
              “Sit down. I want to show you something.” He reached up and pulled out an ancient book with many drawings.
              It was in a language I couldn’t recognise. He smiled, flipping the pages.
            </p>

            <p>
              I looked around, studying the room for the first time. It was dark and full of ancient literature with a
              small wooden desk, a lamp, a pen and a bunch of papers. The air felt different inside, so clean and
              refined without any scent apart from the old printed paper. It was clearly, a private place.
            </p>

            <p>
              “This here is the book of the Feywen. It is very rare; only three copies were ever made.” He turned it
              around and showed me the text, neatly handwritten by a practised hand. It had many pictures of plants and
              solar charts, human organs and women taking a bath. Immediately my mind perked up. I saw something
              special.
            </p>

            <p>“What? What is this? Can you read it?”</p>

            <p>
              “I’m sorry, I can’t. The secrets of this language were lost to time.” It was a challenge. He could see in
              my eyes that it enthralled me.
            </p>

            <p>
              “People have spent their lives trying to understand this, geniuses, cryptographers, languages specialists,
              even spies. All of them failed.” I knew what he was doing, and it worked. He used my curiosity to stop me
              from being self-destructive. I did not know whether he chose the book because he thought it would be a
              good challenge or because he saw the same as I did when looking inside. It intrigued me.
            </p>

            <p>
              Anything is better than sulking and moping in despair. I always expected Naya to show up, brushing away a
              niggling doubt somewhere in the back of my mind. I refused to listen to it. As they say, it is better to
              have loved and lost than to have never loved at all, so I gave it my everything.
            </p>

            <p>
              I was thankful for Naya with everything I had. She lifted me up at a critical time of my life. She
              inspired me and showed me what could be, and I gave her my heart. I knew I would never love another woman,
              never like that. Still, all the pain was worth the trade. I learned how to live and saw a glimpse of my
              future. Now I knew what I wanted.
            </p>

            <p>
              Another part of me was heartbroken. A man takes his hits and suffers in silence. I learned well and
              suppressed that part by burying it deep inside. There would be a price to pay someday, but I was okay for
              now. It took me days to put my thoughts into a carefully constructed maze inside my mind and
              compartmentalise. I locked my emotions, one in each drawer. Margaret said it was better to deal with it,
              but I liked this pain. There was nothing to deal with. I needed it to inspire me and move me forward. It
              hurt badly, but I didn’t want it to go away. I was used to it. “The measure of a man is how he deals with
              pain,” my dad would often say.
            </p>

            <p>
              It felt so strange to be so cold inside. I actively blocked any thought of what happened. “This is not
              healthy,” Margaret said. I agreed with her, but it was the only way I knew how to live. In the emotional
              void of my mind, I found clarity and focus, a mission now, a goal. I was going to get that life I dreamt
              of for a year, but it wouldn’t include loving another woman again. I will always love Naya for the rest of
              my life. People find a way to live with bigger problems, and I would survive.
            </p>

            <p>
              My personal drama went on for the entire summer. I was torn between hope and disappointment. On one side,
              I tried to appear strong and fight off all the pain throbbing in my chest. Another side of me wanted to go
              crazy. Secretly I fantasised about turning the world over, going door to door, and finding Naya. In my
              imagination, someone captured and kept her in chains. I wanted to save her and save myself. I was in love
              that burned hotter than ever. It drove me crazy.
            </p>

            <p>
              Everyone knew what had happened to me and looked at me with pity. Margaret prepared my favourite food, and
              Demeter acted brotherly, assuring me he would always be there. I was grateful to have one good friend that
              I could trust, but I didn’t want to talk. I was eager to continue my life, but how does someone do that
              when he is split open inside.
            </p>

            <p>
              For days I couldn’t sleep or stand still. Moving helped, so I had to do something, feeling like a frog
              inside a pot of water and someone slowly increasing the heat. I was boiling without realising it. They say
              that a woman can inspire a man, but she can also destroy him. In my case, I was both inspired and
              destroyed.
            </p>

            <p>
              “You never forget your first love,” the elders said. Why is that? I wondered. Could it be because you love
              no one this much again? At least, in my case, I didn’t want that. I was the kid of absolutes. That’s how I
              was raised. I didn’t want someone to love just a little. I didn’t want to compromise. Once you taste true
              love, nothing less will suffice.
            </p>

            <p>
              “Aaah,” I screamed into the pillow over and again. It smelled of lavender. My insomnia got worse. All I
              could think was about Naya and our love. During the day, it would get a little better when I would focus
              on trying to find answers together with Mr Sable. He set me on the path of understanding that book he had,
              knowing that it was impossible. Still, I stuck with it, obsessed with it and thanked him for giving me
              something else to occupy my brain with.
            </p>

            <p>
              This went on for days; they blurred together. The jug goes to water until it breaks. It’s the same with
              the human mind. One day while riding on a bus, I just collapsed and woke up in a hospital bed three days
              later. The end of the summer was marked by taking pills and regular visits to the psychologist.
            </p>

            <p>
              I had a couple more blackouts before everything returned to normal. The doctors told Margaret some mumbo
              jumbo I didn’t understand. After a week of good food and enough rest, I felt better, and the memories of
              Naya seemed less intense. Perhaps it was the pills or reaching a culmination of some kind, but I could
              breathe again and focus on my life.
            </p>

            <p>
              All that remained was the sense of exceptional clarity and heartache, hurting me deep inside with a dull
              pain. It was over; it was the end. Naya was gone with all my love. All that remained was the maze of my
              mind and carefully locked emotions, never to be shown to anyone again. It is the price men pay for
              greatness.
            </p>

            <p>
              Everything in my life led me to this point. I had a plan and a good analytical mind. Without the emotions
              to stand in my way, I could scheme and calculate, make it happen, but never love again. It was okay; it
              made sense. Love is a great distracter, anyway. I could get so much done, not be bogged down with
              feelings, be more effective and logical, and be more calculated. Dark clouds often have a silver lining,
              they say.
            </p>

            <p class="center">***</p>

            <p>
              School started, and I was a changed man. At least, I felt that way looking at other students. We were all
              in high school, on our last stretch. In a few more years, we would be legal adults and able to tailor our
              own life to whatever we learned or believed. Some would go to university, and others join the workforce.
              One thing was evident, it would be too late.
            </p>

            <p>
              Following the program was an obvious trap. They designed the system to produce workers and geared it
              towards the slowest of students, the lowest common denominator to put us all in a box and farm us out. The
              companies, large multinationals, the city, or even the small shops didn’t need free thinkers. They wanted
              to employ obedient competent workers sufficiently broken to the hand to do what they were told and not
              rebel.
            </p>

            <p>
              I looked at my dad, and he was precisely that way, sacrificing his life and health for the meat grinder
              and a proverbial gold watch, except that such luxuries are only for office employees. When someone comes
              to the company right out of university and wastes his life pouring hollow into empty, they give him a cake
              in the end and a pat on his back, calling it life.
            </p>

            <p>
              “You did great, Jim. Enjoy your retirement.” No thanks. I didn’t want a life like that. Unfortunately, the
              education system is also capitalist. I looked at the other students, oblivious to their future. Guys ran
              around sucking in their stomachs and lifting their shoulders. The girls dressed in colourful dresses,
              stuffing bras with socks and sitting up straight, a mating ritual of humanoid bipeds. It was a zoo and a
              jail for the mind. All of them learned how to be useful to someone.
            </p>

            <p>
              No wonder the world was ruled by a handful of men, raised and bred in private schools and colleges,
              blending in with the rest of the commoners. It was a joke, and a farce, as Johnny Rotten would say.
              Sometimes I wished for anarchy in the UK.
            </p>

            <p>
              A smart man is not one who proves himself smart to others but one that works in silence for his own
              interest. They built a web of lies to keep them in power. If anyone said any different, they called it our
              culture. It was illegal to steal unless you were the government. It was immoral to cheat unless you were
              the one in power. We all knew that, but we were brainwashed, just shrugging it off with words, “nothing
              could be done. It was always like that.” They lied to our faces with condescending smiles, and we lapped
              it up, pretending it was true because we voted for them in a rigged system where the musicians change, but
              the songs stay the same.
            </p>

            <p>
              No self-respecting Londoner has a deep love for the French, but one had to admit and respect their
              best-ever invention, the guillotine. I could think of a few who could make the world a better place by
              sticking their head inside and pulling the rope.
            </p>

            <p>
              When I left school in the summer, I carried hope. When I returned, all I had was bitter resentment coupled
              with calculating coldness. It made me think and wonder how did that happen. In the end, I realised I was
              always like that to some degree or another. No man is an island; nobody lives alone. We are surrounded by
              people and their social mores.
            </p>

            <p>
              What really happened when my heart was broken was that it forced me to lock my childish emotions away. The
              only thing left was a cold intellect combined with some bitterness. This had nothing to do with Naya; I
              was bitter for a long time. It finally matured and bubbled to the surface without all those gentle
              emotions confusing me.
            </p>

            <p>
              I wanted to live; I wanted everything. I wanted a good life and a loving family. I was finally able to
              admit to my own jealousy when looking at mothers and fathers together with their kids. I wanted that, not
              what I had with my dad. I wanted a lovely house and cars, a beautiful wife and a child. I wanted to leave
              this street where I grew up and say goodbye to my neighbours. I wanted good food and travel, long
              holidays, and to work for myself. I hated the idea of having a boss. It was a means to an end but not the
              life I wanted.
            </p>

            <p>
              “May I sit with you?” I asked at lunch break, noticing Irma sitting alone at the table, eating a sandwich
              her mom prepared. Her eyebrows rose, and her blue eyes were like saucers. She tried to say something, but
              her mouth was full of bread, so she mumbled, pointing at an empty chair with her hand. I looked around,
              and it was noticed. Two girls carrying trays stopped in their tracks, staring at us for a few seconds
              before finding another table. Irma’s and my little debacle was public knowledge. I felt a dozen pairs of
              eyes discretely looking at my back.
            </p>

            <p>
              “I wanted to apologise again for being so rude last time.” Her eyes watered while she forced her face into
              a smile, waving it off as nothing, mumbling something about the water and a bridge.
            </p>

            <p>“There is a new ice cream shop in the west end. They say you could make your own sundae.”</p>

            <p>
              “Why are you telling me this?” Her face looked precious, a mixture of shock and excitement, curiosity
              mixed in. At that moment, she looked incredibly likeable, like a kid in a candy store, and I should know
              all about that.
            </p>

            <p>“I would like to take you there on Saturday.”</p>

            <p>“You mean like on a date?” Do or die, pretty ladies like brave men.</p>

            <p>
              “Yes, on a date.” Her face resembled a tomato a little, more dark pink than red. Her lips suddenly looked
              bigger, probably because she was biting them. I could see cogs turning in her head, her eyes were big, and
              she wanted to say something but bit her tongue and nodded two times before saying yes, first quietly, then
              clearing her throat and repeating louder.
            </p>

            <p>
              “I’ll meet you at midday by the cat.” She smiled. Everyone used to meet at the same place for the dates.
              It was the lion statue at Trafalgar Square. I got up and left before it got awkward. Immediately, three
              girls ran up to Irma and leaned into each other, whispering like revolutionaries conspiring. “Remember,
              remember the fifth of November.” I chuckled, amused with my wit. Ironically it was November already.
            </p>

            <p>
              The week went on quickly, and before noticing, Saturday rolled in. It was dark and moody with a little
              drizzle, the kind that doesn’t really fall but floats in the air like tiny needles penetrating the skin
              without a trace. The endless cloud of depression set the scene as I walked toward the square, watching the
              people carrying black umbrellas stomping through little puddles, unaware. Their minds, like mine, were
              probably miles away.
            </p>

            <p>
              As I approached the square and saw the lion in the distance, a familiar pinch in my chest almost took my
              breath. In my mind, I stood there waiting in a drizzle for Irma to show up for the rest of the day. It
              made me want to run away. Months passed since Sandbanks. I thought I was ready, but I was not.
            </p>

            <p>
              I was just about to turn around when I spotted a purple umbrella with white stripes. It was her, Irma,
              looking around. She came early, and her eyes were everywhere. It hit me then; it was her first date. No
              matter how I felt about a girl or if I wanted to date her. After my experience, I couldn’t break someone
              else’s innocence. I’d sooner die than let her wait, so I whistled and waved and saw her smile.
            </p>

            <p>
              She ran up to me and gave me a kiss, a quick peck on my cheek before putting her arm into mine. I led us
              to a stop, and we took a bus. Her eyes followed me while I looked around. People stared at us, smiling. In
              their minds, we were a young couple with so much promise. I wish I was as enthusiastic as them.
            </p>

            <p>
              “Mmm, this is excellent,” she said with a smile, having an ice cream cone with chocolate, nuts and frozen
              berries.
            </p>

            <p>
              “Can I have some?” She gave me a wicked smile before stuffing it in my face and bursting into giggles. I
              was about to protest, but she placed her lips on mine and licked it off before giving me a snog. This girl
              was aggressive and confident but playful and full of life. I couldn’t help comparing her with Naya. The
              two were similar in so many ways but very different.
            </p>

            <p>
              Irma was gorgeous, tall and attractive. She had soft feminine curves and the face of a teenage goddess. I
              knew that all the guys at school wanted her badly, but for some inexplicable reason, she wanted only me. I
              could understand that; we all want what we want. I wanted someone else, but that ship has sailed.
            </p>

            <p>
              “What about your girlfriend?” Irma asked, staring at me intently as if looking for lies. I’m sure a dark
              shadow made her look away.
            </p>

            <p>
              “She is no more. Can we talk about something else?” She was quick on her feet, changing the subject to
              weather, the conversational refuge for true Englishmen.
            </p>

            <p>
              “Ghastly indeed. Would you like some more ice cream? I’d like to try the green sorbet. Is it Kiwi or
              something else?” The moment of drama passed, and so did the rain. After an hour together, we felt pretty
              comfortable. We hopped on a bus again, ending at Piccadilly Circus, then walked across Leicester Square,
              browsing the shops and buying cinema tickets. We had plenty of time to walk hand in hand through the
              theatre district and Strand to St Giles, where we sat on a bench in a park opposite a homeless guy and
              kissed.
            </p>

            <p>
              “I don’t think I could ever love anyone anymore.” She looked at me and nodded. She heard the rumours, and
              the void filled with all the things left unsaid, real and imagined. Irma pulled my face towards her and
              kissed me again. Life is rarely perfect. She got what she wanted and who is to say what happens next.
            </p>

            <p>
              I had this great expectation of endless love in my mind, but not everyone perceives love the same way.
              Some people are more practical, taking what they can. As long as it fits their view of life, it’s good
              enough. Irma was raised with plenty of love, a big stable family and both parents alive. She didn’t crave
              as much emotional substance as a teenage boy growing up without a mother.
            </p>

            <p>
              Irma was an excellent judge of character. I never knew if that was genetic or something she had learned.
              She knew I was dedicated, kind, loyal to a fault, hardworking and smart. This worked for her and fit her
              vision of the future. It is strange how sometimes one and one come together. Maybe she was right; maybe
              for a successful relationship, you need more than just love.
            </p>

            <p>
              The weather spoiled as the days passed. Every day it would get darker and worse. At school, Irma and I
              became a wildcard, holding hands and sneaking around. She was my girlfriend, and she wasn’t running away.
              I didn’t love her, but I liked her immensely. She wormed herself into my heart with her big smile and
              endless positivity. Irma was a serious kind, taught by her parents and raised by the sharks. She always
              got what she wanted in the end.
            </p>

            <p>
              This suited me, suited my plans. I had no intention of waiting for school to finish to start. Irma was an
              excellent partner from an upper-class family. She was that girl from a different class of society. I
              didn’t know how to live like that. I was raised as a guttersnipe who spoke cockney with me dad on me ones
              and twos on my way to school. All the geezers on the field did the same. It would be almost impossible for
              someone like me to get to the next level, but not for Irma. She had a nice posh accent, rolling her ares
              and using words like marvellous and splendid. If I wanted to get there, Irma was my ticket.
            </p>

            <p>
              Everything settled outside. I went to school, had a girlfriend, and had good grades. Inside, the void just
              got bigger. I couldn’t forget the love I had. It was a complicated matter. I abhorred lies, or maybe it
              was my father who taught me to be this way, loyal and responsible, keeping my promises no matter how hard
              they were.
            </p>

            <p>
              As the days got shorter and we neared the holidays, the radio blared Christmas songs by the Pogues. The
              words always made me laugh, the fairytale of New York. “Life is not a fairy tale, boy,” dad would always
              say. I was learning that on my own back. The beatings had stopped, and I knew why. After you pass a
              certain age, life beats you down enough. No belt could cause such damage as having your heart broken and
              your dreams shattered.
            </p>

            <p>
              “Ah, distinctly I remember it was in the bleak December, and each separate dying ember wrought its ghost
              upon the floor.” December came, and early snow. Sometimes I would sit in my room alone, reading depressive
              literature. Lately, I have developed a taste for Poe. “Eagerly I wished the morrow; vainly I had sought to
              borrow from my books surcease of sorrow; sorrow for the lost Lenore.” I recited the words of his poems in
              a quiet breath, thinking of what could have been. If only. The good thing about the past is that we are
              done with it, but sometimes the past isn’t done with us.
            </p>

            <p>
              Irma spent the holidays with her family. Christmas dinners, gifts and carols. I wished I could feel the
              Christmas cheer. I got new socks for my father, and he bought me new shoes. We had an old plastic
              Christmas tree which I decorated one evening. We sat down, and he shared a beer with me, looking at it.
              This was the extent of our father-son intimacy.
            </p>

            <p>
              I walked around town on Boxing Day, feeling alone and unloved. The painful memories assaulted my senses.
              It was hard to deal with them. Down the dark alley was a cheap pub for old drunks, smelling of urine,
              vomit, and cigarettes, overpowering senses. It was a place where locals would come on the bender, getting
              pissed and carried away. It was getting dark outside, and I hated being alone. They served me a beer and a
              glass of cheap sparkling wine. I was underage, but nobody cared. Police never come to the place like that,
              and even if they did, my age would be the least of their worries.
            </p>

            <p>
              “Can you turn this up, please?” I asked the waiter, and he increased the volume of the radio. R.E.M.
              played their famous song, which aptly expressed how I felt. I drank my wine and took a swig from the
              bottle, thinking this one was for the one I love. My eyes watered and glazed over. I was miles away in my
              thoughts, somewhere in a different life I imagined. As the music played, I said my farewell.
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Big-Fish-Rumpel-Stiltskin-ebook/dp/B0BHJKVZ31'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <!-- <a href='https://apple.co/3zSPgfs'
               ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
             </a> -->

              <!-- Google -->
              <!-- <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Montana?id=ftFBEAAAQBAJ'
               ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
             </a> -->

              <a href='/books/big-fish/preview/chapter-8-long-haul' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 8 - Long haul >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
       
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
