---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Big Fish | Chapter 3 - Rusalochka'
  description='Big Fish novel by Rumpel Stiltskin'
  image='/images/big-fish.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/big-fish.jpg' class="big-cover-img" /> -->
          <p class='emp grey'>BIG FISH</p>
          <h1>Chapter 3 - Rusalochka</h1>
          <div class='biggest'>
            <p>
              “The pain”, my screams echoed around the thick metal chamber. All I could feel was blinding pain. I had a
              splitting headache. It hurt so much that it drowned the pain signals from the rest of my body. My shoulder
              and ankle throbbed in the background, demanding urgent attention, but nothing as urgent as my head.
            </p>

            <p>
              When feeling around my skull, I noticed it was sticky. Unable to see in complete darkness, I licked my
              fingers and tasted blood. I got hurt pretty badly, but it looked like I was okay, as most of the blood was
              already dry and coagulated. With the greatest effort, I sat up, resting my back against the wall. Shooting
              pains from my left shoulder told me something was very much out of order.
            </p>

            <p>
              I tried to stand up and failed. My left ankle couldn’t take my weight. I almost fainted from the pain,
              just trying to put some pressure on it. My head hurt so much, and I felt dizzy and disoriented. A sense of
              nausea overcame me, and I vomited before passing out.
            </p>

            <p>
              The next time I woke up, I felt better despite the sharp pain every time I took a big breath. I must have
              broken a few ribs or at least cracked them as I tumbled around unconscious, hitting the walls and the
              furniture.
            </p>

            <p>
              The pain in my head turned to a dull ache, about the same as the pain coming from elsewhere. “Where am I?”
              I tried to remember, hearing the dull resonance of a small confined space. It was all so confusing and
              hard to think. The last thing I remembered was the ship tilting, and I slid down the hallway. In utter
              panic, filled with adrenaline, I opened the sliding safe room door and locked myself inside, latching it
              shut, then up became down, and I tumbled.
            </p>

            <p>
              “Oh, God, we capsized”. The terror consumed me again. I was inside a capsized ship, possibly sunken as
              well. “I am going to die”. The realisation hit me like a bullet train. “Oh god, oh god”, I cried,
              hyperventilating; then I remembered I was using too much oxygen and screamed. I was going to drown or
              suffocate. I couldn’t decide which one was worse. The world spun, and I cried for help; darkness got
              darker, and I was gone.
            </p>

            <p>
              I don’t know how much time has passed since I passed out. When I opened my eyes, I was still alive,
              breathing, feeling cold. “So cold.” At least the sharp pain was almost gone, and my head cleared a little,
              so I could think. “Okay, Jim. Easy now”, I said to nobody, feeling comforted by the sound of my voice. I
              had to take it one step at a time. The most important thing was that I was alive.
            </p>

            <p>
              As I went through the events of what I thought was last night, I played them back in my head,
              concentrating on every detail. I reacted to imminent danger. My mind went a mile a minute with clarity and
              precision. I remembered all the details of the ship, its construction, and the room I locked myself in.
              This saved my life, at least for a while, replacing an imminent death with dying the slow way.
            </p>

            <p>
              What was it that Vadim said when he showed me the safe room during the tour? “The room is hermetically
              sealed with its own power and air supply to last a week”. Old man Orlov was a perfectionist. He put this
              room in case of emergencies, like if pirates took the ship over. He wanted to store his most valuable
              treasure there. It was like a vault, but the only thing he brought was an old wooden matryoshka. It was a
              Russian nesting doll crafted from a linden tree with an exquisite handmade painting of a beautiful blonde
              girl with red roses in her hair. She wore green and white with two horsed knights, one black and another
              golden, embroidered on her shoulders.
            </p>

            <p>
              I meant to have it appraised, but never got around to it. The doll didn’t look like one of those cheap
              souvenirs one buys at the airport when visiting Moscow. Jim could feel the delicate carvings under his
              fingers.
            </p>

            <p>
              Inside the doll was another one featuring the same young woman holding a large hare and the doll in it had
              the girl holding a duck. The final container housed a large white egg made of some material looking like a
              pearl with no markings. Vadim waved his hand when asked about the doll, dismissing it as one of Evgeny’s
              eccentricities. “This matryoshka is called Rusalochka, just like the ship.” The old man thought it fitting
              for them to be together.
            </p>

            <p>
              I chuckled, feeling a sharp pain going through my head. All of it started with Evgeny, and now I was going
              to die, trapped inside a dead man’s ship. I could see the irony. It came almost like poetic justice for
              taking the one thing Evgeny loved and calling it mine. A superstitious man would think I was cursed.
            </p>

            <p>
              I examined the walls by touching around in complete darkness, until finding the switch and, with some
              trepidation, pressed it. A brilliant white light came on with shooting pain in my head. I switched it off
              and tried again, getting used to the brightness. I examined myself, and from what I could see, I didn’t
              break anything. My left shoulder seemed dislocated, and my left ankle was purple and swollen, but it
              seemed like no permanent damage. There was no way to tell if I had any internal bleeding or other
              injuries. I was all banged up and bruised, covered with smeared blood in places.
            </p>

            <p>
              The most surprising was that the ship wasn’t upside down but in its upright position. Given all my
              injuries, I supposed that the waves that hit us bounced Rusalochka left and right. My survivability odds
              increased, but the question remained. Were we afloat or submerged? Either way, the ship would likely be
              full of water, and I would have to either risk suffocating or drowning to survive. It was an impossible
              choice in terrible circumstances. I wasn’t some hero of legends, and this was a real-life situation, not
              something one sees on film.
            </p>

            <p>
              With the light switched off, I sat with my back against the wall, feeling so tired from the thumping in my
              head, making me nauseous. The dull ache from all over my body pressed on relentlessly. I wished for an
              aspirin, or water for that matter. I wished I had food and drinks and that I was on some tropical island
              or travelling in the sunshine. “So cold. So much pain.” I wished I wasn’t alone. I wished I had made
              different life choices. I wished I had told my daughter that I loved her more often. I wished I had stayed
              by the pier longer, waiting for Naya to fulfil her promise. So many wishes; so many regrets.
            </p>

            <p>
              When I opened my eyes again, I felt better. The pain was still there and even greater, but at least I
              could think, and the thumping in my subsided. It was replaced with persistent pressure. I must have dozed
              off again or passed out. Who knows? Did it matter?
            </p>

            <p>
              It hurt to move, but not as much as the red-hot poker going through my head when I switched on the light.
              The light was painful and made me want to vomit. I switched it off and tried to calm down, taking deep
              breaths before inspecting my body with my fingers again.
            </p>

            <p>
              Everywhere I touched, I felt some pain, but pressing some places made me want to scream. My shoulder was
              killing me, and my ankle felt swollen. Just moving my foot around caused incredible pain. My stomach hurt
              badly when I touched it, and poking my chest made me scream. It felt like someone took a knitting needle
              and stuck it in me. The pain went through and through, making me gasp for breath.
            </p>

            <p>
              By the time I finished examining myself, I was shaking with cold sweat on my forehead. It looked like I
              was still in one piece, but I wasn’t well. An image of a cement mixer with me inside it popped into my
              mind, and I laughed. “The pain”
            </p>

            <p>
              “Don’t do that, Jim. Don’t laugh.” It made me almost chuckle, hearing my whisper. “Why am I whispering? I
              should be shouting. Help, help, someone, can you hear me?” Only a muted echo of my voice came back at me.
              It was silly. Of course, nobody could hear me. I was dead and buried.
            </p>

            <p>
              “Cold. So cold”. I was clearly in shock. With considerable effort, I brought my knees together, putting my
              arms around them, screaming in pain. My body shivered, and my teeth clattered. I could feel my jaw tremble
              in an involuntary shake. “I am in shock”. There couldn’t be another explanation. The panting sound of my
              rapid breath bounced off the walls as if I had a dog.
            </p>

            <p>
              “I always wanted a dog”. It is funny how random shit comes into one’s mind at the most inappropriate time.
              “Oh, God. Please, someone help me. Please. Anyone out there?” The darkness remained silent. I could hear
              the thumping of the heart in my chest. Dah, Ta-dah, Ta-dah, dah. It was getting slower. “So cold”.
            </p>

            <p>
              It was hard to tell how long I was out this time. When I woke up again, I felt frozen and couldn’t feel my
              hands entwining my fingers, keeping my knees against my chest. I tried to cough, and it hurt like hell, so
              I tentatively tried taking a few deeper breaths. It was painful but bearable as long as I did it slow,
              taking great care.
            </p>

            <p>
              The feeling returned to my extremities after a few minutes. I stretched them one by one, experiencing
              pain, pins and needles, working up an agony by the time I got up. After covering my eyes with a hand, I
              switched on the light. Then, little by little, I spread the fingers to allow more of it to enter so I
              could get used to the brightness. This was a painful process, but nothing even close to what happened the
              first time. The sharp pain followed my heartbeat, but I could see. I was alive.
            </p>

            <p>
              A heavy metal table and two chairs strewn around the room as it tumbled were the only furniture left
              inside. Undoubtedly I hit some of it, or it landed on me, hence such terrible injuries. The walls
              contained built-in drawers. It surprised me they remained secured. Props to the builders who made this
              place a perfect cave for surviving disasters.
            </p>

            <p>
              With ultimate power of will, panting and screaming, I turned the table back up and pulled up two chairs. I
              had to sit down and rest after that, gasping for air, waiting till my vision cleared, not passing out this
              time.
            </p>

            <p>
              After all this effort, it felt a little warmer. It encouraged me to move more. I got up and swooned,
              miraculously able to keep my balance. I opened one drawer and looked; nothing inside, not that I expected
              anything else. I had plenty of opportunities to examine the ship. The panic room was empty, as I didn’t
              see the need for it.
            </p>

            <p>
              “You fool”. It felt good to speak, even if my words sounded hollow. The only thing left inside was what
              the original owner put there. In some ways, the room became a shrine to a Russian nesting doll containing
              an egg. Regardless, I checked it all again, hoping I missed something the first time I looked. No such
              luck. I was always pedantic, paying attention to details.
            </p>

            <p>
              A little treasure hunt exhausted me, so I sat on the ground and fell asleep. I didn’t want to doze off on
              a chair lest I slip and fall, aggravating my injuries. Despite burning curiosity about their extent, I
              feared looking. I hoped that somehow, after I woke up, all of it would just go away like a bad dream in a
              soft, cushy bed.
            </p>

            <p>
              I almost laughed, hearing my stomach growl. It was so loud that it woke me up. “Here we go,” I said, like
              talking to someone else. If it wasn’t for the ocean, it would be the cold, hunger, or lack of air or
              water. I was inside an all-you-can-eat buffet of death. Everything in this place was trying to kill me;
              just a matter of time and which one gets to me first.
            </p>

            <p>
              It took a lot of effort to get to my feet again. I almost vomited, but nothing came out. I just dry
              heaved. “That’s it,” the food was digested, and my lips felt dry. “I think it will be the thirst,” I said
              like a betting man. It would be funny if it wasn’t morbid and sad. “Do people in my situation lose their
              minds?”
            </p>

            <p>
              Locked in a small room, awaiting death, I felt the reality slipping away. “Does it matter?” It was like
              the next stage, past fear, bargaining and acceptance. I was dead already and buried, entombed in a ship of
              my friend.
            </p>

            <p>
              With some effort, I opened a drawer and removed the nesting doll from its red, soft, satin-clad cradle. I
              sat back on the chair and placed it on the table, looking into her blue painted eyes. “At least you and I
              won’t die alone. We’ll stay together till the end.”
            </p>

            <p>
              The expression on Rusalochka’s face remained unchanged, but I imagined she tried to say something, comfort
              me and tell me it was going to be okay. It is strange how little things seem important at the time of
              one’s death. I didn’t want to die alone, and the doll gave me the strength to accept my end. “Is this how
              it is for the cancer patients when you know there is no hope and you’re just waiting to expire?”
            </p>

            <p>
              At least in my case, I’ve got no more than ten days. Nobody was coming. The storm blew us off course, the
              transponder was dead, and we were a speck in the ocean. That’s how much I surmised by not being already
              saved. “How small we are, how insignificant”. The majesty of creation becomes apparent when you are
              humbled. They say that one’s life flashes in front of your eyes. At least in my case, it happened at a
              snail’s pace. Facing a certain death, you look back and remember all the bad things you’ve done, all the
              people that hurt you, and you hurt them. You beg for forgiveness, and you forgive them, wishing them
              health, happiness and a long life. You remember the people you love and wish you loved them more, at least
              told them how much and listened to what they said. At the time of death, you feel unburdened, stripped
              bare. The only emotion remaining is not hate or regret, but love.
            </p>

            <p class="center">***</p>

            <p>“I love you, Kelsey. I want to change things.”</p>

            <p>
              “Well, you can’t, and you should stop trying. What did you think would happen? You’d just come over and be
              a dad again?” Her words dug deep, right into an open wound. It hurt, and I flinched, seeing her beautiful
              deep blue eyes. “You are so much like your mother,” I said, sitting down on a chair, feeling deflated. Why
              is it that every time I talked to my daughter, I only found the words to make it worse?
            </p>

            <p>
              I wanted to scream, “I love you, you fucking imbecile, don’t you understand?” but that would backfire
              spectacularly. I felt like an idiot not being able to express myself. Kelsey and I lost the connection we
              had shared for years. When she was a child, I would just wink, and she would smile. Whatever I said now
              had the opposite effect, like sawing the branch I sat on faster.
            </p>

            <p>“I didn’t come here to fight.”</p>

            <p>
              “Why did you come, anyway? You abandoned me, married a slut, and now you came here to lecture me about my
              life.” All I did was make a comment that her roommate seemed okay. That was enough for her to go
              ballistic, as if I accused her of something. I wished to find the words to tell her that it was fine with
              me. Probably any father at some point considered how much better his daughter would be if she were gay,
              considering the choice of young men today.
            </p>

            <p>
              I wanted to tell Kelsey I knew she was a lesbian, and that girl she was with, Tatum, seemed lovely. She
              seemed wild and abrasive, but I watched her eyes. They followed Kelsey with every move she made. The two
              weren’t just in love but obsessed with each other. What kind of monster would want to step in and break up
              something this beautiful? I experienced nothing comparable, except maybe once, and it stayed with me for
              the rest of my life.
            </p>

            <p>
              Last year passed like a bullet. I focused all my energy on saving my company and building a future for my
              daughter, so she never had to make the compromises I made. Maybe that was silly and naive, a typical
              dissonant dad move, but nobody is born perfect. Perhaps it would be better if I was just a working-class
              man, and we had plenty of time and love to share. It’s a trap only a few recognise, usually after it’s too
              late. There was no point looking back, asking yourself questions about what would have happened if I chose
              another girl, not Irma, not a princess, and lived an ordinary life. Coulda, woulda shoulda; evergreen hits
              of those who made mistakes.
            </p>

            <p>
              “Sit down, please, and listen to me.” Despite her fuming, she did what I asked, crossing her arms and
              staring into my eyes with a smirk. “How do I begin?” Do I start with an apology? At what point do I tell
              her about the ship? I feared saying the wrong thing. Perhaps it would be better to put all this in
              writing.
            </p>

            <p>
              “You think I am a monster, and I don’t blame you, Kelsey. I’ve done terrible things to you, and I’m
              sorry.” She shifted uncomfortably, chewing her lip. It took her enormous restraint to stop herself from
              lashing out again. “There is so much I could tell you, but you wouldn’t believe it. Like it or not,
              darling, I want a relationship. I’m not here to make excuses or ask for your forgiveness, but propose to
              put the past to the side and start over.”
            </p>

            <p>
              I don’t know what I was thinking. This was the last thing Kelsey wanted to hear. Goosebumps on her arms
              broke out like a rash. If eyes could kill, I would die. It would be easier to take the bite of a
              rattlesnake than to deal with her venomous curses. It would appear she hated me immensely, but I knew my
              Kelsey. She loved me and was hurting, lashing out at me. I could take that and deal with it like a man, so
              I froze my face and swallowed hard. Why do we hurt those we love? Is it some sort of self-punishment
              fetish?
            </p>

            <p>
              “Monique is cheating”. I said, blurting out the most painful thing, thinking it would interrupt Kelsey’s
              rant. She laughed mockingly, rolling her eyes.
            </p>

            <p>
              “No shit, dad. You just discovered water. I’ve been telling you this for years; she is a gold-digging
              bitch. What did you think was going to happen? Live happily ever after?”
            </p>

            <p>
              “You’ll learn someday that nothing is this black and white. I saved the company, and there is this ship. I
              wanted us to start over and find common ground. Please, let’s try that, and if it fails, I won’t bother
              you again.” She was about to say something, but changed her mind, shaking her head and squeezing her
              fists.
            </p>

            <p>
              “I’m too stressed right now. I can’t think. Can we talk about it next week?” I leaned in and kissed her
              cheek. “Sure, honey, whatever you need. Maybe we could have dinner together and bring your friend. She
              seems to be nice.”
            </p>

            <p>
              Kelsey jerked like I stabbed her with a knife, but kept her teeth clenched. She shrugged and nodded.
              “Okay, let’s meet next Sunday,” she said. I got up slowly, looking around her apartment. “I like what you
              did with the place. You have great taste”. She saw me out and waited, watching my Bentley drive away. “It
              never gets easier,” I said, mumbling as I drove. The rain started, turning on the wipers, enveloping the
              car in loneliness.
            </p>

            <p class="center">***</p>

            <p>
              I jumped a little, inhaling loudly. The headache returned, probably from the stress caused by the dream I
              had. For some reason, my mind replayed the events before the voyage. I begged Kelsey and Monique to come
              and felt betrayed when they refused. Looking back, it was a stroke of luck, and I was thankful to God they
              let me go alone. I don’t know if I could survive the worry of them being dead like me in a few days.
            </p>

            <p>
              Someone positive would nourish the hope that help would come. Hollywood builds those unrealistic dreams
              where the hero defuses a bomb at the very last minute, the bad guy dies, and everyone else lives happily
              ever after, having learned something valuable. It is high on a list of fantasies, like the American dream.
              That’s probably why they call it an American ending on film.
            </p>

            <p>
              So many things become simple at the end of one’s life with no pretence. The closeness of death focuses the
              mind. Everything you do could be the last time. “Have I given up? Am I ready to die?” It was the question,
              the only one that mattered.
            </p>

            <p>
              With precise new clarity, I looked at things, evaluated my past, and disliked what I found there. “What
              would you do?” I turned to the doll as if expecting an answer. The painted girl’s face looked like she
              smiled, happy to not be entombed alone.
            </p>

            <p>
              An image of an old Russian man popped into my head. He wore his usual spotless black suit and a smile
              above a perfectly trimmed jet-black beard. In his hands, he had a glass that smelled of vodka. “You are
              going to die soon, but look, there is no rain”. Evgeny’s voice echoed in my head.
            </p>

            <p>
              It hurt to laugh, but I finally understood the man. It was as if the old bastard knew what would happen
              and was having the time of his life. “Everything that begins must end, my friend”. The Russian wisdom; I
              wish I had listened. In his bizarre, convoluted way, he told me that life is worth more. It wasn’t just a
              balance of wonderful memories and the other kind. It is more than building a business or having a child.
            </p>

            <p>
              Life had its own value that lucky ones grasp and understand. I walked like a blind man, acting like my
              life would never end. Now at its sunset, I haven’t lived. What is the purpose of it if not to live it?
            </p>

            <p>
              “We all have a woman like that, son. Yesterday it is one, tomorrow it is another, and today you drink
              vodka with old Yevgeny. I am talking about love”. “Have I ever loved?” My wife, my daughter, even Monique,
              who saved me from the depths of hell. I loved them in a meaningful and comfortable way, but now, as chips
              fell, only the truth counted.
            </p>

            <p>
              I only ever loved once, the way Yevgeny described. Every time he talked about the ship, his eyes would
              sparkle. It was love beyond love, something eternal, intangible, like holding the stars with your hands
              and laying them on a pillow beside you.
            </p>

            <p>
              Nothing else mattered to Yevgeny than this bloody ship. Rusalochka this and that. It was the only thing on
              his mind. Forget the business and the riches; forget opportunities. The old man loved only one thing in
              his life; now, it was dead in the water.
            </p>

            <p>
              “It is just you and me now; you know that.” The doll looked like it was about to cry, like she could feel
              the loss and love. “I am sorry little beauty, to be trapped with me here”. It was so strange and fitting
              to have a nesting doll stored on the ship.
            </p>

            <p>
              It was like the ship was also a part of the doll, like an outer layer. If one peeled it off, they would
              find another with a girl holding a hare. With trembling fingers, I turned the pieces in a circle, and
              another doll was inside, holding a goose and the next one holding a needle and a thread.
            </p>

            <p>
              I took the large pearl in the shape and size of an egg and held it in my hand. “Oh, Jesus. The warmth.”
              Perhaps my mind played tricks on me again, but the reality is overrated after you cross the threshold of
              life. I couldn’t explain why it was freezing below, and the egg seemed to be the only source of warmth. I
              couldn’t fathom how that would be possible. There isn’t any physical process I was aware of that would
              allow for that. “God bless insanity.” It helps us cope with our mortality.
            </p>

            <p>
              The dolls looked so similar, yet different, unique and exquisite, made by a master craftsman. I
              reassembled them with care and put them on the table. “Look here now. We’ve got a party.” I said, laughing
              at my wit, a telltale sign of the mind going bye-bye, of course. Some men face their death screaming,
              others laughing. The lucky ones meet it in their sleep. “I miss you, my friend.” The thoughts of Evgeny
              returned to my head, his sparkling green eyes and mischievous smile. Who would have guessed when we first
              met that we would join in death over something as trivial and important as true love?
            </p>

            <p>
              Here I was, in the belly of the ship the old man adored. I, of all people who missed the boat on true
              love. “Oh, how I envy you, old man.” He was right. I wasted my life chasing the gold chest at the
              rainbow’s end. “It is a fool’s errand, my boy,” Evgeny would say. That silly, silly man, it turned out he
              was right. I sailed out like an oligarch atop a luxury superyacht, just to die like a bum who never lived
              his life.
            </p>

            <p>
              So many truths, so clear and sensible. One has to let go of life to fully understand. “What is it they
              say?” Detachment is a precursor to faith. It is ironic for it to happen now, locked in a panic room on a
              sunk ship, about to die.
            </p>

            <p>
              The dolls stared at me as if to laugh. It would be silly, but I thanked god for their company. “Which one
              of you is Rusalochka? You can’t all have the same name.” It hit me. It wasn’t the dolls but the egg. That
              was the precious thing inside well-crafted wooden containers.
            </p>

            <p>
              “What are you?” I examined the egg. It felt smooth, like a pearl from a giant seashell. “What are you made
              of?” I rubbed it against my lips. It felt warm and polished. I had never heard of a pearl of that size.
              What kind of monster seashell would make a pearl like that? It would be massive, bigger than a car, like a
              small house. There are no such shells in existence. “Are there?” If this was indeed a pearl, it would be
              priceless.
            </p>

            <p>
              I burst into laughter. Everything made sense. That damn Russian and his endless riddles. I figured it out
              in the end. When he talked about the ship, he was talking about the egg inside. It would be just like him
              to build a vast ship and place the most valuable thing into an empty, drab room. If one would assume it
              was indeed a pearl that was valuable, then it would be priceless. It made sense. This would explain why
              Yevgeny never visited the ship. He wasn’t interested in it.
            </p>

            <p>
              “The best place to hide something is in plain sight.” It was something the old Russian loved to say.
              “People see what they want to see. They don’t think about subtlety.” I remembered his words well and his
              penetrating eyes examining me as we spoke. What a fool I was, thinking we were just having a talk. The old
              man was teaching me through riddles, grooming me for the future. “To what end, old man?” That’s one thing
              I couldn’t understand. Why go through all this and lead to nothing?
            </p>

            <p>
              It is strange what the mind would imagine under stress. Anything is preferable to the thoughts of death.
              It was easy to imagine an old friend as a wizard or some other creature of legends. He looked the part
              with his long black beard and sparkling green eyes, dressed in black, always with a smile. It was like the
              entire world was his playground, there to amuse him.
            </p>

            <p>
              Yevgeny and I talked about life all the time. It bored the man to talk about business. “I trust you to
              deal with it,” and that was the end. It took me a year just to figure out he meant that. The old man would
              say what he wanted and delegate, trusting people to do what he said.
            </p>

            <p>“Aren’t you worried about unscrupulous people taking advantage of you?” Yevgeny would laugh.</p>

            <p>
              “Who would want to do that? I love you, Jim, like a son, but you worry too much. Relax, drink vodka and
              enjoy life. Look at the big picture.” None of it made any sense then, but it did now. Hidden deep inside a
              ship with the same name was Rusalochka, a precious pearl he loved.
            </p>

            <p>
              I brought it closer to examine it, every inch. There was nothing to be found. The bloody thing was just a
              pearl. I knew little about jewellery, any more than buying it as gifts. A pearl like that would be
              expensive, but I couldn’t imagine it as priceless. It must have held sentimental value to the old man. “Is
              that what I’m missing? The big picture?” I guessed it would remain a mystery at the bottom of the ocean
              soon enough.
            </p>

            <p>
              None of it mattered in the end, as Yevgeny would say. I was here and going to die this way or another, but
              look, at least there is no rain. I burst into laughter, which made my head throb and chest ache. It was
              funny how messed up I was, and the predicament was ironic. Letting go of my fears and inhibitions and
              letting it rip. My body protested in pain as I giggled like a kid.
            </p>

            <p>
              I laughed so much that I fell on the floor and cried. One good thing about the situation I was in; nobody
              to see the indignity of my insanity. “Oh, how I wish you were here.” Yevgeny never left; always there,
              part of my memories like a second voice, making smart-ass comments.
            </p>

            <p>
              As I lay on the floor, the egg felt so warm in my hands and getting warmer. Imagination is a great thing,
              and at the moment, I didn’t care. It wasn’t real. It was real enough for me to stop shivering and feel
              pleasant warmth envelop me. One can get used to anything. With a little comfort in life, even death seems
              palatable. “No regrets, my friend,” the old man would say. “Live each day like it was your last because,
              soon enough, it will be”. That old prick. I missed him.
            </p>

            <p class="center">***</p>

            <p>
              The ceiling spun when I looked at it, lying on a soft bed. They always took care of me at Hilton hotels,
              giving me a free upgrade. My company was one of their valuable customers, booking meeting rooms and using
              them as our accommodation partner.
            </p>

            <p>
              I knew Monique cheated on me, but seeing it with my eyes made it a million times worse. This is the
              problem with being calculated, always controlling my emotions with eyes on the prize. It is the price the
              driven pay for alienating everyone to reach success.
            </p>

            <p>
              Life sometimes can be like a Joseph Heller novel. Monique was young and needed attention, but I’d lose her
              anyway without money. In the same way, I lost my daughter. It is easy to be noble and dedicate yourself to
              higher standards when you’re not hungry or stuck in a trap of mediocre life. I watched my dad work himself
              to death and slowly deteriorate into a shadow of a man.
            </p>

            <p>
              The path to mediocrity is cobbled with compromise. You make one, then another, until you can’t recognise
              yourself anymore. I knew that process all too well. The world is not a friendly place despite what our
              town criers would like us to believe. I spent my life shielding my family from the reality of it and
              failed.
            </p>

            <p>
              At school, they ask the kids, “what would you like to be?” Imagine you say “a chef,” and you become one
              later because they encouraged you. Would you feel motivated if they explained that for the next forty
              years, every day, you will spend eight to ten hours stirring pots and cutting meat and vegetables? I
              learned this by watching my dad, watching him wear himself out. It made me understand exactly what I
              wanted.
            </p>

            <p>
              When my turn came and they asked me what I wanted to be, I said, “I don’t care. I’ll tell you how I want
              to live”. It was that attitude that got me, my wife, despite the vehement protests of her family. Irma
              believed in me. She understood everything. She never complained and always had my back, keeping a tight
              rein, so things didn’t slip away while I worked night and day to give her the lifestyle I promised.
            </p>

            <p>
              There was little love between us but a lot of respect. She was a pretty girl, and I was available. She
              knew herself well and made a good choice. Irma saw the hunger in my eyes and determination. I was the only
              one of the kids who wanted it more.
            </p>

            <p>
              Monique wanted a life but wasn’t ready to pay the price. One wife was a gambler and the other a parasite.
              Kelsey got hurt in a crossfire, too young to understand and more than a little entitled. How does one
              explain that without the company it’s back to the beginning? Who did the girls think bought all those
              sculptures Tatum made through networks of galleries and donated to hospitals and museums. A world is a
              complicated place, hard to navigate. The soft message coming from the progressive government supported the
              weak and helpless by making them dependent. Fewer people stood up and fought for what they wanted and I
              feared what would happen if my business failed. What would happen to my wife and daughter?
            </p>

            <p>
              It was hard to digest the idea of being cuckolded. It was a concern from the start, and I didn’t fool
              myself about whom I married. Monique helped me come out of a terrible state. It wasn’t just sex, but the
              connection and the ability to feel close. She was there to hold my hand when I screamed.
            </p>

            <p>
              She loved to cuddle, and when we did that, I could close my eyes and imagine everything was fine. Just for
              that, she deserved a reward, so I married her and hoped she would grow up and realise that there is
              nothing at the end of that road she chose for herself. They say that women marry men in the hope they
              would change, but they never do, and men marry women hoping they would stay the same, but they always
              change. Perhaps I was hoping for that change to happen in Monique, and somewhere deep inside, she realises
              some truths about life. I was wrong and naive, but what’s life without faith in other people?
            </p>

            <p>
              I spent the entire night replaying her kissing that guy in my head. It was easier to digest than letting
              my imagination loose and thinking of what happened before, how often and with how many men. Cheating was
              always distasteful to me. It wasn’t the physical part so much as breaking the trust. I had more respect
              for swingers who would agree to change partners as a part of a play than those that go behind others’
              backs and outright lie.
            </p>

            <p>
              The price people pay is something more than they can bear. This shook me to the core, but it was a price I
              paid for my business. The people who created nothing like this often are born as children of such men.
              They can’t appreciate what it is to come from nothing, work hard and create a life for their family.
            </p>

            <p>
              “I never asked you to do this for me. I never needed it.” Kelsey would often repeat, and it made me smile.
              She never needed it because I gave her everything. Try eating cabbage stew for six months straight or
              having nothing else but the stale bread for a week, and priorities change. You appreciate the tangible
              things much more. Irma understood that and married me because she was a realist who knew that betting on
              someone hungry is better than someone born with a silver spoon like she was.
            </p>

            <p>
              Excuses, excuses, I could think of many. The bottom line was that I knew what I was doing. As always, the
              buck stopped with me, and I allowed it to happen because it was more important to keep business going. It
              was foolish to expect my wife or my daughter to be the same as Irma. She was one of a kind.
            </p>

            <p>
              I got out on a terrace as the night fell and sat on a chair overlooking the Paddington station, watching
              people come and go, rushing or strolling, each in their thoughts. It always calmed me to see them. So many
              plans, worries and opportunities. Somehow it grounded me and told me I wasn’t alone. Even late at night
              people would walk around. Sulking was pointless, and I needed a plan. It was the same one I had thought of
              before. I was going to use Rusalochka to bring the family together.
            </p>

            <p>
              I got my wife and daughter together for almost all the Christmas holidays, staying for a few days. Sure
              they fought and argued, but if it lasted a few days more, they would get it out of their system and, in
              some small way, find something they shared. That’s all it would take, and there would be plenty of that.
              The two girls were so different, but their commonalities outweighed their differences.
            </p>

            <p>
              If I could get them to commit to a cruise, see the world and explore the cities, there would be adventures
              and opportunities for them to bridge the gap and start building tolerance if not respect for each other.
              It is hard to be ambivalent about a luxury superyacht and far away places. It was a good plan, the only
              plan. If that failed, then I was out. Survival of my company took the last strength out of me. I didn’t
              have it in me to continue fighting. I made a firm commitment inside my heart that I would divorce Monique
              if our cruise failed. This way, I might save one relationship, giving it a hundred per cent and time to
              heal.
            </p>

            <p>
              I saved my business and appointed managers. I bought my best friend’s furniture company, giving him
              much-needed financial backing in return for accepting the deal; a general manager role and running the
              company with the help of the board.
            </p>

            <p>
              Out and done, I was happy to take dividends, step down and take an advisory role, leaving the rest to
              Demeter. He wasn’t a brilliant businessman, but he had my trust. That’s why I offset him with a group of
              sharks who have been angling for management roles. Together they could run it, even if not as effective as
              me. I wanted to have a good time with my wife and daughter, travel around the world, and enjoy myself.
              Still, in my forties, I was ready to retire.
            </p>

            <p>
              That last part came overnight. I couldn’t take Rusalochka off my mind. I wanted to sell it and make some
              profit, but after spending a night there I realised she is worth more to me than the money I’d get. It
              would be a poetic ending. Taking over the one thing Yevgeny loved and looking after it. There was nice
              symmetry in it, honouring the old Russian’s wishes.
            </p>

            <p>
              It would be easy to give up and leave, but the Americans said it best. When going gets tough, the tough
              get going. It wasn’t just a cliche, but a lesson in life. Since I was a child, I have faced a growing
              problem. My dad wasn’t as eloquent, “get off your knees, dust them off. Be a man.” That’s what I have
              tried to do my whole life. I married the best-looking girl and built a solid business, taking risks, all
              with my two bare hands and the connections of Irma’s dad.
            </p>

            <p>
              Everyone told me it couldn’t be done. Bankers shook their heads and told me in not so many words to screw
              myself. My business was deep in a hole, and my principal source of investment died. I wouldn’t take no for
              an answer and schemed, negotiated my way out and made it whole.
            </p>

            <p>
              Seeing the incredible feat I achieved, the wankers lined up, offering me the loans now, and I took them,
              pitting one against another for a reduced interest rate. It was enough to digest the twenty-five-million
              pound losses I traded for Rusalochka. The conservators wanted more, but that’s all I had, not a penny
              more. I even threatened to take them to court if they didn’t meet me my way.
            </p>

            <p>
              “You must be ruthless sometimes to get respect.” The words of my Russian friend rang in my head. I was a
              good businessman and even got a few awards. I built a company, and I saved it. “Respect is earned, my boy,
              and you earned mine. Now let’s drink vodka and celebrate,” the last words he said.
            </p>

            <p class="center">***</p>

            <p>
              I jerked up and screamed, gasping for air. It took me a moment to figure out where I was, and then it all
              came back. “Bloody hell.” It was the first time I wished for a nightmare.
            </p>

            <p>
              It took me some time to get to my feet and stretch my muscles. Everything hurt like hell, and my head
              pounded like the bells of Notre Dame. At least I wasn’t cold, thanks to the egg I held. It must have been
              some psychosomatic placebo effect. In reality, I probably had a fever, and my wounds were getting
              infected, but I felt warm for the moment, and I was thankful for that.
            </p>

            <p>
              Getting back to the chair felt easier. Despite the dull pain, I felt better and rested. “Thank you for
              keeping me warm”, I said to Rusalochka in my hands, almost chuckling, imagining a psychiatrist reaching
              for a pad to prescribe pills. I wasn’t irrational, not that it mattered at all. I’d welcome a group of
              people barging through the door and taking me away to a cushy padded cell. Anywhere but this confined
              place.
            </p>

            <p>
              Nobody was coming, and I was dying. That was the reality. The only choice I had was how I go out. I
              couldn’t just aim the gun and pull the trigger. All the options available involved a slow, terrifying
              death.
            </p>

            <p>
              I always thought it would scare me when my time came, and I was too, but different to what I expected.
              Somehow I accepted my fate, moved forward and just waited to expire. Was this the surrender to the
              inevitable? Was I a fool? I had no clue what was on the other side of the heavy metal doors. The ship
              might have been fine, happily cruising in the sunshine. There was only one way to be sure, and that
              involved drowning in seawater.
            </p>

            <p>
              “What would you do?” The dolls just stared as if I had all the answers. What would my father say at this
              moment? He’d probably come up with some line about not giving up and what a chicken I am. “Real man must
              make hard choices, keep his head high and face the consequences.” Like that would help. A real man tries
              to save himself; then what? Drown in the ocean?
            </p>

            <p>
              Sitting on a steel chair doesn’t help; holding a pearl egg, waiting for death. To be or not to be, that is
              the question. Die now quick or painfully later? I guess my situation complicated the answer because the
              pain wasn’t unbearable yet. By the time I dehydrate, starve or suffocate, I might beg for a quick death,
              but it would be too late.
            </p>

            <p>
              It seems so easy in the movies. A hero always knows how to save his life or at least end his suffering
              fast. That’s the thing about art versus reality. How do I decide to kill myself? How would that even be
              possible? “What would you do? Give me a sign.” The egg just remained warm in my hands. It was as strange
              as funny how lucky I was to have the dolls and the egg. Without them, I would probably go insane, or
              perhaps more insane than a man talking to inanimate objects.
            </p>

            <p>
              Out of nowhere, a thought popped into my head. Everything made sense. I had no reason to live. It was
              insidious, going on for a decade. I never got over Irma’s death. Thinking about it, all of it started even
              before. An image of Naya assaulted my senses. I was an infatuated teenager, falling in love for the first
              time.
            </p>

            <p>
              When Irma died, I lost a guide. I went through the world rudderless. I fought for others so long that I
              forgot what I wanted for myself. Finding Monique gave me my focus back, and I found the strength to follow
              Irma’s wishes. It was important to me to keep the company and ensure my daughter’s future. I made a
              promise.
            </p>

            <p>
              I wished at that moment that I had a mirror somewhere. My face must have looked incredible. Only at the
              time of my death did I truly understand what I made of my life.
            </p>

            <p>
              “You must have a purpose in your life.” The words of my old Russian friend came out of nowhere. He always
              had a way of stating the obvious that I could never see or understand.
            </p>

            <p>
              “I do. It is to provide for myself and my family.” And there it was, in that one sentence. Without
              thinking or analysing, I just responded. The Russian smiled, pouring vodka into glasses, saying,
              “Balderdash.” I was this transparent.
            </p>

            <p>
              Like a little crack in a big damn, once I understood one thing, everything collapsed. All Yevgeny said to
              me over the years was subtle. He stated nothing outright but talked in riddles. My biggest mistake was to
              take it at face value.
            </p>

            <p>
              “The best place to hide something is in plain sight.” He even gave me the keys to interpret his words. “It
              is hard to see when you are blind.” Everything he said echoed in my head. Why is it that one gets such
              clarity when it is too late? “You are going to die soon, but look, there is no rain.” I burst into
              laughter, shaking my head. I was indeed going to die soon, and there was no rain. In fact, for the first
              time, I understood.
            </p>

            <p>
              “I wait for my woman, then I will sail her home, my Rusalochka”. The bloody Russian never explained how.
              The man died, and I was grief stricken. It never occurred to me to check. Who fakes their own death and
              why? Who treats someone like a son and leaves him to die?
            </p>

            <p>
              Was Yevgeny dead? Am I just going insane? It would be more believable if what he said didn’t happen. I
              took the ship and sailed her into the ocean, and now she was home, where the big ships belonged. From the
              moment I laid my eyes on her, she enchanted me. After our first night together, I was in love. Since I
              first stepped on the ship, I felt an urge to sail. It wasn’t me; it was the ship. She wanted to go into
              the waters and return home.
            </p>

            <p>
              “What are you?” The egg remained silent, warming my hands. “You are Rusalochka, not this pile of junk. You
              are home, wherever this place is, but what happens to me?” I felt like running around, pulling my hair.
              Isn’t that what crazy people do? When the ship tumbled, I hit my head and got a nasty gash, certainly a
              concussion, headaches and hallucinations. “Why is it that all of it seems so real? What is reality but
              what we can perceive”. Who was to say if I was crazy or not. With no one to compare myself to, I was
              perfectly sane.
            </p>

            <p>
              I laughed like a crazy person, finding another way to die. My mind would probably snap in this room and I
              would die hitting my head against the wall or something. “Wait, what are the symptoms of running out of
              oxygen?” Maybe that was it. There was no way to tell how long I was unconscious. It could have been
              minutes or days. Perhaps I used up all my spare oxygen.
            </p>

            <p>
              “You must have a purpose in your life.” The old Russian man’s words just popped into my head. “What the
              fuck do you want from me?” That was it. I screamed. “What do you want for yourself?” I was talking with a
              memory of someone long dead.
            </p>

            <p>“I want nothing. Can’t you see I’m dying?”</p>

            <p>“You are like your father. Just words and no spine.”</p>

            <p>“Please, for God’s sake. Stop it. Let me die in peace.”</p>

            <p>“Tell me what you want. I want to know. Say it.”</p>

            <p>“Just leave me alone; I want you to leave me alone.”</p>

            <p>“Not until you tell me. What do you want, Jim? Say it.”</p>

            <p>
              “I want to live”. I burst into tears clutching the egg, falling on the floor, curled into a foetal
              position. “Oh god. Please. I want to live.” There it was, I said it. I screamed my secret. I didn’t want
              to just survive or see another day. I wanted to live, love and feel loved. To experience life without
              guilt, without mouths to feed or crises to fix. I wanted to be a child again before losing my innocence. I
              wanted to open myself to the world and feel unburdened.
            </p>

            <p>
              There is just so much a man can endure before snapping away with a gun in hand, shooting randomly at
              everyone to share his pain. In the depths of some ocean, somewhere at the end of my life, I found a
              clarity of epiphany or mental breakdown. Which one? It didn’t matter. What mattered was that I was finally
              honest and said what I wouldn’t admit to myself. There is a reason I stopped my therapy. I feared telling
              my secrets.
            </p>

            <p>
              Thoughts become sounds, and sounds become actions. This is how the world turned, by manifesting ideas and
              giving them life. It couldn’t have happened any other way. I found my clarity and detachment in the depths
              of the nothingness, utterly alone.
            </p>

            <p>
              They say that detachment is a precursor to faith. Maybe I was already insane, but there was nobody to
              judge. I could let my mask drop and be just myself for the first time. That was the face I didn’t want to
              show anyone. There was nobody to see me here.
            </p>

            <p>
              If I looked far enough and tried to remember, it would still be impossible to say when it all started. The
              sins of the father become the sins of a son, or so they say. He was a heavy-handed man who didn’t spare
              the belt. “I’ll teach you how to be a man, boy.” He had only one lesson. Absolute obedience and adherence
              to his code of life.
            </p>

            <p>“Don’t talk back to me, kid.”</p>

            <p>
              “But, dad, I said nothing”. Insanity is hereditary. You get it from your kids. I thought it was a cute
              aphorism; certainly got my dad mad. It was impossible for me to understand it until I got my own kid. In
              our overwhelming fear and need to protect them, we force ourselves on people we love like we hated them.
            </p>

            <p>
              “I didn’t ask for your help, dad.” That’s what Kelsey said. I couldn’t understand it; couldn’t even hear
              it, so I became a tyrant. Sometimes in our love, we forget to let people fail. A child needs to fall a few
              times before learning how to walk. I wanted everything to be different. I feared repeating my mistakes. It
              turns out that despite my best intentions, I became my father.
            </p>

            <p>
              Steeling myself, I got up and, like entranced, put an egg onto a table. With all the strength and
              determination I could muster, I ran into the metal door with my shoulder.
            </p>

            <p>
              Thank God, I blacked out. My whole body trembled when I woke up. “This was so stupid,” but it worked. As I
              touched around with my fingers, it hurt like hell, but it felt better. “I can’t believe this actually
              worked.” My giggles echoed around the chamber. I saw it once in a Mel Gibson film. He had a dislocated
              shoulder and used a wall to pop it back in.
            </p>

            <p>
              “Life imitates art.” I said, laughing aloud, pretty sure that doctors would cringe. What would be the
              worst thing that could happen? I die sooner in excruciating pain? It was funny how the mind works. When
              all the good options are gone, one opts for a quicker end. There might be heroism in death but not in
              dying. No dignity in agony.
            </p>

            <p>
              Yevgeny would be proud. I acted on an impulse. Despite it being painful as hell, it was also strangely
              liberating. To do something out of instinct, without calculating and evaluating it, felt so natural but
              out of my character. I needed that to break the paralysis of my mind. “Sometimes you have to act, son.
              Damn the consequences.” The old Russian’s words came out from nowhere.
            </p>

            <p>
              Auditory hallucinations, the doctors would say, pumping me with all sorts of medicine. Hitting the door
              with all my force injured me more, but I also returned the shoulder back into its socket. Every time I
              moved, my arm felt like someone pushed a red-hot poker into my head, but I had a full range of motion,
              which could be the difference between life and death.
            </p>

            <p>
              I would need my arm to make an insane attempt. What does a trapped wolf do? Chews off his leg. When all
              rational paths lead to the same outcome then instinct prevails. I didn’t want to suffer a slow death.
              Drowning is worse, but it is quicker.
            </p>

            <p>
              Before passing out, I heard the sound. This is why I ran into doors and not into the wall. The thud of my
              body was dull and subdued. There was water on the other side. The ship was submerged. That was the worst
              thing I feared, but unsurprising. Nobody ever accused me of being lucky.
            </p>

            <p>
              “Thank you for keeping me warm,” I anthropomorphised the egg into a companion for my mental state. It took
              time to take off my clothes. My muscles rejected doing what I wanted. I ripped my shirt to threads and
              wrapped it around my ankle, securing the egg inside a makeshift bandaid. The clothes would just hinder me
              in what would happen next, but before that, I laid down to rest. I would need all my fortitude and
              strength.
            </p>

            <p>
              This time it took a while to fall asleep. I tried to push away my memories and pick from them what I
              needed. I visualised every detail of the ship with almost vivid clarity. Every turn, every curve, every
              potential obstacle. Chances are that I would drown, but there was that one slim chance that I would
              survive, probably to suffer more. It amused the gods to watch me in pain.
            </p>

            <p>
              I woke up feeling hot, like burning. Sweat gathered like beads on my forehead. I took a taste, and it was
              salty as hell, a clear sign of dehydration. It was the perfect timing for a swim in absolute darkness.
              “What’s the worst thing that could happen?”
            </p>

            <p>
              They say hysteria is a sign of insanity. I laughed like a madman at my wit. It was high time to act before
              I lost it; before I couldn’t concentrate from losing my mind. They raised me as a Christian but I properly
              lapsed. The events of my life taught me there is no god, or if there was, he was a vengeful sod. Even the
              priests say, “god helps those that help themselves.” What a load of crap. Save yourself, then thank God
              for his help? Still, it would help to believe in something a moment before I killed myself.
            </p>

            <p>
              Is it a suicide if you die trying to survive but knowing there is no chance? Do I go to hell for that?
              Should I have just meekly waited for my death? I pondered such conundrums when I was younger and realised
              that religion paralyses. And the sheep will inherit the earth so wolves can rule unopposed. That’s how I
              read the bible, and it made more sense; now let me into your house, and I’ll tell you why shit happens.
            </p>

            <p>
              I unlocked the hatch and turned the manual mechanism. The water surged in with high pressure. I laughed
              like mad. “Here we go; here it comes”. I felt the spray of cold water hose me down. It was hard to breathe
              from how hard my heart was beating. My hands shook like mad, and I screamed. It was too late to change my
              mind.
            </p>

            <p>
              The water rose rapidly in a small chamber. I couldn’t think, with adrenaline surging through my veins.
              Never have I felt like this concentrate, so calculated, so stupid. I was about to meet the inevitability
              petrified but laser-focused. I will save myself or die trying. The stupidity of it almost made me laugh.
              Why is it that at the last moments of one’s life, people think of stupid things? Is it like some sort of
              self-preservation, turning to humour to avoid the thoughts of dying?
            </p>

            <p>
              It was hard to stand as the water filled. It lifted me up all the way to the ceiling. I tried to
              concentrate on repeating over and again the exact steps I had to make in the darkness. I breathed with
              full lungs to saturate my body with oxygen before taking a last, big breath and submerging myself.
            </p>

            <p>
              With no effort, I turned the mechanism to fully open the doors. The pressure balanced, and I was out of
              the room. Thank God I was an excellent swimmer and even competed in school, ending in last place. “It is
              important to take part,” the coach would say. He and my dad had different opinions, which he communicated
              clearly with his belt.
            </p>

            <p>
              I turned left, enjoying a little light coming from the room. It helped me find my bearing, and I swam like
              mad, focused on conserving my strength and making the oxygen last for as long as possible. It was a stupid
              idea. I had no way to know whether it was a night or day outside. Even if I swam up to the surface, what
              would I do? Fight the waves, possibly suffering from decompression sickness? How long could I take that
              before my muscles gave out, and I drowned?
            </p>

            <p>
              I turned right into a hallway, and it was dark. I just swam, keeping one hand in front, feeling the way.
              The hallway ended, and I was in a room, but it looked brighter. “It is day, it is day, it is day, it is
              day,” my mind raced. It was day and not night outside.
            </p>

            <p>
              Summoning all my strength, now that I had hope, I swam the course of my life. My mind worked overtime,
              orienting myself, diving between debris like a fish, and I reached another hallway on the other side. One
              level up, and it was light. I saw it like a doorway to heaven on the other side.
            </p>

            <p>
              My lungs burned, and my muscles convulsed, but I had too much hope to care about that. With all my focus,
              strength and power, ignoring the thumping in my head and pain in my muscles, I swam for my life. I reached
              the hallway and the doors, pushing myself against them with my legs and reached the stairs.
            </p>

            <p>
              “Aaah.” What a blessed pleasure, what a blessed relief. I gulped the air and collapsed on the deck.
              Nothing mattered anymore. I was alive. I rolled on my stomach and kissed the dry wood. The sun was
              scorching, and it felt great. “I am alive.” God helps those that help themselves.
            </p>

            <p>
              I breathed like never before, smelling the air. It was like a drug, and it calmed me down. Whatever
              happens next wouldn’t matter. I saved myself from dying inside. Even if I died now, that was okay. Seeing
              the sky and breathing the air was all I wanted. I felt around my leg for an egg, and it was still there.
              “Thank you, my love.” It gave me strength.
            </p>

            <p>
              When I woke up, I was burning up. I passed out in the scorching sun. My back felt like it was on fire, so
              I slid back into the hallway that was submerged. The cold water suddenly felt great, soothing my skin. “It
              never ends, does it?” I laughed at being alive, still stuck but the problem changed.
            </p>

            <p>
              When I felt better, I crawled on the deck and had a good look at the ship, leaning over the edge. I
              couldn’t figure out how was the ship still afloat, even with all but the main deck submerged. The storm
              ripped away the upper decks, leaving just a flat surface, inches above the water and a little shadow area
              where the lower deck stairs came out of the water. Everything else was gone, the captain’s cabin,
              communications array, lifeboats, all of it disappeared. It felt like standing alone atop an enormous
              surfboard with a slight bump where the passageway to lower decks was.
            </p>

            <p>
              “How did I survive this? How is it still floating?” There was no doubt; it was a miracle. I didn’t even
              know it was possible, but here I was on top of a wreck in the middle of nowhere, surrounded by big blue
              nothingness.
            </p>

            <p>
              Using the last of my strength, I walked the distance, inspecting every detail of the wreckage, finding
              nothing there. For some inexplicable reason, the ship still floated, most of it submerged with nobody
              there. Everyone was gone, including the captain and all the crew members. Looking at the scale of the
              damage, I was sure they were dead.
            </p>

            <p>
              With great concentration, I looked into the distance, trying to make out any object, finding nothing. The
              ocean surrounded me, with endless calm water for as far as my eyes could see. I was alone.
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Big-Fish-Rumpel-Stiltskin-ebook/dp/B0BHJKVZ31'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <!-- <a href='https://apple.co/3zSPgfs'
             ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
           </a> -->

              <!-- Google -->
              <!-- <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Montana?id=ftFBEAAAQBAJ'
             ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
           </a> -->

              <a href='/books/big-fish/preview/chapter-4-family-values' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 4 - Family values >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
        
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
