---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Big Fish | Chapter 4 - Family values'
  description='Big Fish novel by Rumpel Stiltskin'
  image='/images/big-fish.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/big-fish.jpg' class="big-cover-img" /> -->
          <p class='emp grey'>BIG FISH</p>
          <h1>Chapter 4 - Family values</h1>
          <div class='biggest'>
            <p>Everyone quieted down, watching a middle-aged man behind the desk go through a pile of papers.</p>

            <p>“And where is Mr Price?”</p>

            <p>
              “He is missing, judge,” Jim’s lawyer said, standing up and bringing him a folder. “This is my power of
              attorney to represent him.” The judge nodded, examining the paper. He knew what happened, having been
              briefed by the lawyers earlier. The whole case stank to high heavens, but didn’t surprise him. Plenty of
              middle-aged men married young women just to divorce them a few years later. The question always is, what
              is the just way to do it?
            </p>

            <p>
              Monique claimed half of Jim’s assets, but he was clever. Most affluent men are, and even the dumbest have
              enough sense not to get married before protecting themselves. That’s always the thing with the rich. They
              have enough money to pay someone for the heavy lifting and hard thinking. However, it wasn’t all as
              clear-cut as usual in this case. Jim was missing, possibly dead, and his wife wanted her cut. She knew it
              could take years to declare him dead, followed by years of court appearances and challenges by Jim’s
              daughter, who clearly loathed the blonde. She might do it out of spite, preferring to see everything burn
              into the ground before giving her anything.
            </p>

            <p>
              The best way was for Monique to divorce Jim and sue for half of everything. She came armed with two
              lawyers and a good-looking guy supporting her from a distance. It was a story as old as a bible. Judge
              harrumphed, putting down the papers.
            </p>

            <p>
              “Excuse me, judge. We would like to propose a settlement.” A lawyer representing Jim’s interest stood up,
              looking at the other side. The man was in his late fifties, a senior partner in a reputable firm. He
              represented Jim and his company for years. Next to him were two well-dressed lawyers with clean-cut and
              American accents. There was something else at play. The judge thought about it, knowing it could escalate.
            </p>

            <p>
              “One hour recess for lunch. I suggest you use it sensibly.” The judge got up and walked away, happy that
              he didn’t have to get into it just yet. There were a lot of shenanigans before the trial started. Someone
              powerful was pulling strings somewhere. It usually takes months to get a court appointment, but they got
              it in days. It was a family court. Not a typical place where you want the process rushed. The judge shook
              his head, not wishing to know anything about that.
            </p>

            <p>“Please sit here,” the lawyer offered, leading the group into a small meeting room.</p>

            <p>
              “What is it? Let me have it.” Monique said, taking a seat, sounding so confident and self-assured. She
              would have been a brilliant actress. Those who knew her would notice how she rubbed her palms against each
              other, trying to remove the traces of nervous sweat.
            </p>

            <p>
              “This could go on for years, Ms Price. Jim authorised me to offer a no-contest divorce if you accept the
              terms.” A lawyer slid over a piece of paper with bullet points outlining the split of assets, bank
              accounts, current and savings, shares and investments.
            </p>

            <p>“What about the house?”</p>

            <p>
              “The house is neither yours nor Jim’s; it is in Kelsey’s name.” Jim made it this way when Kelsey was born,
              starting a trust and putting a house in it. For years, the house was rented out to Jim’s company, which
              gave it as a perk to Jim while filling the trust with substantial rental income. Twenty grand each month
              for a large six-bedroom house in central London since when Kelsey was born.
            </p>

            <p>
              Monique almost fainted, doing quick maths in her head. Twenty grand times Kelsey’s age; That little bitch
              was a millionaire. She was worth at least six million pounds if one just kept it in a savings account, but
              Monique knew Kelsey was smarter. Over that number of years, the amount probably doubled. Monique always
              viewed her as this psycho brat who spent half of her life institutionalised.
            </p>

            <p>
              She sat in silence, going through papers, pulling out a spreadsheet printout, and showing it to her
              lawyer. Their joint savings and current accounts, including some shares and gold, came to about three
              million pounds. The lawyer was offering her half of that. It was peanuts compared to what Kelsey had. The
              old jealousy burned hot. Monique realised that there was no rivalry from the beginning. She was what
              Kelsey always called her, a bimbo bitch, and now they were throwing her a bone to go away.
            </p>

            <p>
              Her lawyer cleared his throat, seeing Monique freeze. He pointed at another paper, and she was offered
              forty-eight per cent of shares of Jim’s company and a seat at the table, same as Kelsey. The remaining
              four per cent was owned by Demeter. The job came with a salary of a hundred thousand pounds a year before
              tax.
            </p>

            <p>
              She turned to her lawyer and whispered, “could I sell my shares?” The man raised his finger while studying
              the papers. He shook his head after a few minutes.
            </p>

            <p>“The company isn’t publicly traded. Any share transfer must be approved by the majority vote.”</p>

            <p>“This means I am screwed.”</p>

            <p>
              “I wouldn’t say that. They are offering you a directorship position and a monthly income. Still, you would
              have to work and come into the office.” Monique felt leashed, and Jim jerked it from his watery grave.
            </p>

            <p>“Can I just take the money and not the shares?”</p>

            <p>
              “You can, but you would throw away millions in value.” Those were the words Monique needed to hear. Until
              that moment, she didn’t understand. She would be a millionaire like Kelsey, but her money would be locked
              inside the business. Maybe over time, if she made some changes, she could get out of the bylaws by taking
              the company to the stock market. It was a smart move.
            </p>

            <p>“Do you think I could get more?”</p>

            <p>
              “I am surprised they offered you this much. Just look at them. They are itching to fight and feel
              confident.” Jim’s lawyer and the Americans sat on the other side and smiled. They knew exactly what was
              happening, even though Monique and her lawyer were whispering. They could make this case go on for ages
              and make it so hard for Monique that she would lose the will to live. It was clean this way. She signs the
              paper and walks away, a millionaire, to live a new life the way she wanted. She wouldn’t depend on any man
              or have to tolerate anything she didn’t like. It was a good deal, and everyone knew that.
            </p>

            <p>
              “May I have a few moments in private?” Everyone nodded and left the room in silence, leaving Monique
              alone. She read the papers and reread them. Deep inside her head, she knew it was a trap she couldn’t
              escape.
            </p>

            <p>
              “You did it to me,” she said to the ghost of Jim. It was all his plan to get back at her for cheating. “He
              knew. I don’t know how, but he knew.” If Monique was good with anything, it was her social and emotional
              intelligence. Her intuition was off the charts, and she was convinced that Jim knew. The thing she hated
              the most about Jim was that he didn’t love her. He didn’t put her first and did it all for her. Jim cared
              for her and loved her as a friend. The sex was good, but never great. It lacked the emotional component
              that makes the desire feel sweet.
            </p>

            <p>
              Monique hated that she was the last one on the list. She was his wife, but everything came before her,
              even his business. For the last year, as Jim worked hard, Monique spent hours crying alone. She was
              envious of Kelsey, who was smart and beautiful, but she dealt with it. Kelsey was Jim’s daughter.
            </p>

            <p>
              To be jealous of a company was a unique feeling. It wasn’t fair, and it wasn’t right. Monique was young,
              beautiful, sexy and smart, but she was like a beautiful bird in a gilded cage, being taken out for a walk,
              dressed up and paraded. At night, Jim would have sex with her, and she loved that, but there was never
              enough. It wasn’t the sex but intimacy. Monique needed to feel it. She knew what she bargained for in the
              beginning, but she wasn’t an eighteen-year-old kid anymore.
            </p>

            <p class="center">***</p>

            <p>“What happens now?” The lawyer sat Kelsey down and held her hand.</p>

            <p>
              “It is over. Monique is out, but you will still see her around the office.” Jim wasn’t there to manage his
              business, and Kelsey owned forty-eight per cent of the shares. She was never interested in her dad’s
              company except at the times Jim took her to the office as a little kid.
            </p>

            <p>
              Everything changed so suddenly. One day she was free, in control of her future, and now she was back,
              entangled in the web of someone else’s making. She couldn’t blame her father for setting it up this way.
              It was the only sensible move. Jim valued trust more than competence. Despite the years of ill will and
              loud arguments, whom do you trust more than your own daughter? In the end, it is the children who inherit
              everything, minus the half going to the evil witch.
            </p>

            <p>
              Kelsey would gladly sell her part of the company, but in the state that it was at the moment, it would
              sell at pennies to the pound. Besides, just letting go of it would go a long way to accepting the idea
              that her father was dead. She wasn’t ready to do that now or ever, still carrying a lot of anger and
              blame. All of it focused now on the one person she hated. Kelsey’s mother died, and it was terrible, but
              all the bad things that happened started when Monique entered Jim’s life. She seduced him and used him.
            </p>

            <p>
              “Men are weak. They only think with their dick.” Kelsey said to Tatum in a bout of anger, thinking how
              easy it was for Monique to manipulate a desperate man struggling with the loss of his wife. Deep down
              inside, Kelsey felt ashamed for how she acted, all the little fights and tantrums she threw, forcing Jim
              to send her away. “He needed me, and I abandoned him. I was a selfish bitch.”
            </p>

            <p>
              Tatum would hug Kelsey and stroke her hair every time she lost it like that. Lately, it has been happening
              all the time. Despite her stoic exterior, Kelsey was a nervous wreck, bursting at the seams, about to
              explode. The smallest thing would trigger her, so Tatum walked on eggshells.
            </p>

            <p>
              During the court appearance and the agreement, Kelsey had a fit of rage, breaking the meeting room
              furniture. After calming down, she resolved, despite her better judgment, to take the job and keep coming
              to the office, if for no other reason than to make Monique’s life miserable. The divorce was done and
              settled. Now she held her own cards and would come for a pint of blood, no matter how long it took, to pay
              Monique back for all the pain she caused.
            </p>

            <p>
              Tatum shook her head, trying to convince Kelsey to give it a rest, but it was pointless. Kelsey would get
              her revenge. Maybe not today or soon, but eventually, Monique will slip and make a mistake. Kelsey would
              be there waiting, ready to take advantage of it.
            </p>

            <p>
              She always had this deep-seated, vengeful streak. Tatum was direct. She would scream, spit, scratch and
              bite, but an hour later, she got it out of her system, and life was good again. Kelsey was a brooding
              type, holding it in, waiting to explode until the day when the whole hell broke loose.
            </p>

            <p>
              If you can’t fight them, join them. Tatum was a pragmatic type. There was nothing in the world more
              important to her than Kelsey, and she had her back even when Kelsey was dead wrong.
            </p>

            <p>
              “You are right, but I chose my side,” Tatum explained to others when Kelsey did something unjustified.
              Everyone knew it, but Tatum didn’t care. She would support Kelsey to the bitter end.
            </p>

            <p>
              “Oh, fuck.” Kelsey jumped at the sound of the alarm clock she set for six. As she sat up, looking around,
              feeling disoriented, two arms wrapped around her from behind, and a soft, warm, feminine body rested
              against her back.
            </p>

            <p>
              “Good morning, love,” Tatum said, whispering into her ear before kissing her neck. “Bad dreams?” Kelsey
              just nodded. She stressed for days about her first day in the office.
            </p>

            <p>
              She never thought about what to do once the university finished. Kelsey planned on popping a question and
              marrying her lover. That’s as far as the plan went. Thanks to her trust fund and investments, neither
              would have to work a day in her life, but that’s not the way to live. People need a purpose. Just sitting
              on a beach, drinking Mai Tai and watching the sunset seems like heaven for a week, but hell if it’s for
              life. Tatum had her art and sculptures, but Kelsey had nothing.
            </p>

            <p>
              Never in a million years would she guess that the events of her life would bring her to where she worked
              for her father. Of all the things she could imagine, this would be the last. Kelsey would sooner be an air
              stewardess than a director in her dad’s company. She hated it. That company was the source of misery that
              kept her father distant.
            </p>

            <p>
              It was childish and illogical, but the brain always loses the fight with the human heart. We feel how we
              feel, and the brain is there to justify it. To put on clothes and have breakfast, all of it, apart from
              taking a shower with her lover, felt unnatural to Kelsey today. It was just another day, but she was
              forced to get up in the morning and go to the office.
            </p>

            <p>
              Some people would say this was life. “Welcome to the real world, honey.” Some would find it hard to
              sympathise with a trust fund kid who just inherited half of a profitable multimillion company and
              complained about it. Eventually, everyone matures from carefree youth into adulthood. For most people, it
              is a gradual process. The kids learn and are taught to get a job and accept more responsibilities as time
              passes.
            </p>

            <p>
              For Kelsey, the change was sudden. It happened during one of the worst moments in her life. She lost her
              father and could barely think about anything else. Insult to injury, Monique divorced him, and Kelsey
              ended up with responsibilities she had never had before. Until now, her life was like a river. It raced
              and slowed down, curved and turned. She let herself go in it, happy to float, not swim it.
            </p>

            <p>
              “My name is Nora,” a middle-aged woman dressed in a drab business suit introduced herself, interrupting
              Kelsey’s musings. “I will be your personal assistant.” She met Kelsey in the lobby, checking her in and
              sorting her out with an access card before taking her to the top floor and leading her to her office.
            </p>

            <p>
              “This is your assigned office.” There were three more like that, one assigned to Monique and another to
              Demeter. They used the fourth one as a conference room with a large elongated table, a dozen seats, a big
              screen, and a projector.
            </p>

            <p>
              Kelsey sat in a cushy, leather office swivel chair behind a heavy desk and switched on her computer,
              logging in with a temporary password handwritten on a yellow post-it attached. Nora excused herself and
              left to bring the latte Kelsey wanted.
            </p>

            <p>“What now?” She asked with a takeaway Starbucks, slumping into a chair opposite Demeter.</p>

            <p>
              “What do you mean, what now?” You get your tasks from the team and deal with them like everyone else.
              Demeter stared at Kelsey, rubbing his reading glasses with a grey microfiber cloth and wearing a smile.
            </p>

            <p>
              “You are enjoying this?” He shook his head in more of a dismissal of an argument than disagreement. All of
              it looked surreal to Kelsey. She felt like a kid in the principal’s office. None of it sat right with her
              the least bit, especially when she turned around and saw Monique hunched over some papers, trying to
              figure out what was what.
            </p>

            <p>
              Kelsey chuckled involuntarily. “The bitch didn’t study a day in her life. She probably struggles to read.”
            </p>

            <p>
              “What was that?” Demeter jumped right on what Kelsey had said. She shook her head, mumbling something. He
              wasn’t having it. Kelsey had known Demeter since she was a kid, and the man always scared her. Jim often
              said that Demeter was born with no sense of humour, which got worse as he got older.
            </p>

            <p>
              So much has changed since her dad disappeared. Kelsey sat and sulked for days, calling everyone who might
              help. It made her feel worse, hearing for the hundredth time how chances were low and her dad probably
              died. Every time she heard that, Kelsey wanted to explode and get into a fight, or at least an argument.
              Who were those people? What gives them the right to talk this way about her dad?
            </p>

            <p>
              The divorce came as an excellent diversion. She was so furious with Monique that she almost forgot her
              sadness. Some say that one pain replaces another, and at least in Kelsey’s case, it was true. She had a
              choice to think about her missing father or to imagine pouring a canister of gasoline all over Monique and
              setting her ablaze. She wanted to hurt her so badly.
            </p>

            <p>
              “I don’t want to go to jail for the cunt,” Kelsey said in a long rant to the love of her life. Tatum just
              nodded, offering little. She knew her girlfriend well, and she needed to vent. It wasn’t the first time
              Kelsey went on for an hour throwing expletives at everyone to mask her guilt and pain. More than anyone,
              Kelsey blamed herself.
            </p>

            <p>
              Demeter wasn’t amused. “You better get some manners quickly. I am not your dad. The next time I hear you
              speak like that, I’ll throw you out on your ass faster than you can apologise.” Kelsey’s eyes got big, and
              her face red as the boiling anger rose. Her eyes locked with Demeter’s, but seconds later, she looked down
              and mumbled an apology.
            </p>

            <p>“What’s that? I couldn’t hear it.”</p>

            <p>
              “I am sorry. It will never happen again.” Demeter smiled, nodding at her, pointing his finger out. Kelsey
              almost bowed and left to hide in her own office. A paper cup of coffee awaited on her desk. She took a
              quick sip, then broke down and cried. Nobody ever talked to Kelsey like that, at least not without a
              fight. It was a bitter pill to swallow, and she wanted to run out and never come back, but her strength
              failed. Too many bad things had happened in such a short time, and she cried.
            </p>

            <p class="center">***</p>

            <p>
              “It was terrible. I felt so humiliated.” Kelsey ranted for a long time after coming back home. Tatum just
              held her tight and kissed away her tears. The two worked like that. One would support another with
              everything they got. Those were Kelsey’s bad days, and she needed all the love. Supporting one another
              made their relationship balanced.
            </p>

            <p>
              The girls met at a psychiatric institution and knew the worst things about each other. This truth and
              openness formed a great basis for trust and a long-lasting relationship. Never in a million years would
              they feel comfortable sharing the most intimate secrets with a stranger, which included the psychiatrists,
              but they shared them with each other.
            </p>

            <p>
              Love trumps everything. At least, that’s what people say. The two girls were similar and different in just
              the right ways, and they loved each other. Neither was lesbian; their first kiss surprised them both.
              Since then, they got intimate. It was sexuality that came out of love. Neither girl saw it as sex but as
              sharing their intimacy further. Both of them were attracted to men, but they only needed each other.
            </p>

            <p>
              Anything was a distraction these days. Even the humiliation in front of Demeter was better than worrying
              about Jim. “I wish my dad was here,” Kelsey said as Tatum hugged her tight. Since Dalton came to England,
              the father and daughter had plenty of time to sit down and talk.
            </p>

            <p>
              Tatum broke down in the end, sat on her daddy’s lap and cried, telling him how sorry she was to be such a
              terrible monster.
            </p>

            <p>
              “I am proud of you, sweetie. Don’t forget that. Everything happens for a reason, and I understand now.
              Just know that you have a family who loves you and visit sometimes.” The two expressed their love with
              tears and hugs. Dalton hoped to reconnect with his daughter when she called him with a problem. This was a
              catalyst, allowing them to express their thoughts clearly. In the end, when you remove all the anger, the
              only thing left is love. Dalton loved his daughter, and she loved her dad.
            </p>

            <p>
              The day before the court, Tatum had a video call with her family. Dalton spoke with them already, laughing
              like crazy, taking a screenshot of his wife’s face when she learned about Kelsey.
            </p>

            <p>
              Later that evening, Tatum introduced her and warm welcomes to the family ensued. They made Kelsey promise
              to come for a visit, and they promised back to visit the girls in England.
            </p>

            <p>
              “I don’t know if I can deal with all that. It is such an emotional rollercoaster.” Kelsey cried into her
              lover’s chest while Tatum hugged her tighter. Too many things happening all at once. Luckily, Dalton went
              back, so the young couple was left alone. No need to suppress emotions anymore.
            </p>

            <p>
              “We need to talk about the practicalities.” Tatum began, hoping to divert the subject. It worked. Kelsey
              preferred anything to think about Jim missing. “I don’t want to sleep alone. I think we should live in
              London instead of Cambridge.” It was a conversation both girls postponed forever. Moving into Jim’s home
              brought too many memories. Still, it was impossible for Kelsey to give it away. It was her home, a place
              where she grew up, and her parents lived.
            </p>

            <p>“I hate this place, and I love it. I hate the memory of Monique defiling it.”</p>

            <p>
              “Let’s change it then. Let’s erase Monique from your life like she erased herself from your father’s.”
              That was the right idea, and Kelsey smiled. Immediately, the two lovers changed the subject to what they
              would change.
            </p>

            <p>
              “Let’s surprise my dad when he comes back.” Kelsey preferred the irrational hope to accepting her dad’s
              death. Ever since Tatum played the film by Tom Hanks about a man stuck alone on a tropical island, both
              girls decided that Jim was still alive, maybe on a ship or on a tropical island. Kelsey felt it deep
              inside her heart that Jim was out there somewhere. It was that hope that promoted sanity, moved her
              forward, and kept her motivated.
            </p>

            <p>
              “I am hope,” the Sandman said, and the clouds of nothingness melted away. As all the evils and pestilence
              escaped to ravage the hearts and minds of men, Pandora closed the box in time to keep the hope inside. It
              was that hope that kept Kelsey alive. To kill it by accepting what others said would be a slow death,
              eating her from deep inside. In the end, it is the hope that remains.
            </p>

            <p>
              Tatum shared the same hope by closing her heart and mind to anything everyone else said. It is better to
              live a lie that keeps you sane than cold facts and truth that ruin your life. One of her ubergeek friends
              explained it well using maths and a whiteboard. He was the smartest guy Tatum had met.
            </p>

            <p>
              “There are no facts for either mutually exclusive theory. Jim is either dead or alive. You could believe
              one or another, and they could be both seen as true, just not together, so you choose to believe the
              useful one. It is that simple.” It took the girls a few moments to work it out in their heads. Eric often
              spoke in riddles. His mind was so far advanced that it often required some thinking to digest everything
              he said.
            </p>

            <p>
              Eric was only twenty years old and had two doctorates, mathematics and biochemistry, which was an
              achievement unlike any. He was from California, like Tatum, and they bonded over it. Eric worked as an
              assistant mathematics professor and researcher. He was one smart cookie who seldom talked about nonsense,
              so when he said something, people listened.
            </p>

            <p>
              The days passed like express trains with everything the girls could throw at themselves, working,
              remodelling the house and organising search efforts for Kelsey’s dad. It only took a couple of days to
              collect all the artwork from Tatum’s place and transport it around the country, placing the better pieces
              in museums and galleries. The girls hired a construction firm to split the studio into four small rooms to
              rent out to students at fifteen hundred apiece, adding six grand to their monthly income once the works
              were completed.
            </p>

            <p>
              Tatum had more courses to follow than Kelsey before they moved to London forever. Until such time, some
              commuting would be required, but the university administration said it would be okay to follow the
              lectures online and come in from time to time. After all, they almost graduated. Both of them took a break
              before applying for their doctorates. By that time, Jim would have returned, and Kelsey could give him
              back all her shares.
            </p>

            <p>
              The girls made plans with Jim being alive. They would refuse to listen to anything contrary to that.
              Everything comes to a natural end, and so does living in one place. Tatum was always a social kind, making
              oodles of friends left, right, and centre. All of them promised to visit London and stay as their guests.
              The big moves and caused by significant events. What could be bigger than losing your parents?
            </p>

            <p>
              Despite her endless distaste for Monique, Kelsey came to work every day. It was a strange challenge. She
              didn’t belong there. The people milled about, busy with their tasks, while Kelsey read the documents,
              trying to figure out where she could help. Without a word, her respect for Jim grew. So much to learn and
              so many questions. How could a single man be in control of that? Even Demeter seemed overwhelmed. He
              wasn’t joking when saying he needed help. A pile of folders containing problems just grew bigger and
              taller. He would come early and leave late every day.
            </p>

            <p>
              The worst was the daily meetings where she, Demeter and Monique would sit in a meeting room at ten, going
              through daily tasks and burning problems. Demeter would assign some tasks, all of which went above
              Kelsey’s head. She felt demoralised that after getting her bachelor’s degree with honours, about to
              graduate master’s, she couldn’t help. She’d give everyone a look of a deer in the headlights, and every
              day, Demeter would assign her something easier.
            </p>

            <p>
              What hurt the most was the superior look Monique gave her from across the desk. Kelsey expected her to
              bitch and complain, but she kept quiet and just said, “yes, boss,” and went away. Whenever Kelsey came to
              the office, Monique was already there and still in her office after Kelsey left.
            </p>

            <p>
              “You girls should work together,” Demeter said at the end of the first week. Immediately, Monique shook
              her head, and Kelsey’s eyes rolled. The two didn’t speak a word to each other since the divorce.
            </p>

            <p>
              “If you worked as a team, we could get from red into black, pay off the cunts. Then, Bob’s your uncle and
              Fanny is your aunt, plenty of money for everyone.”
            </p>

            <p>
              “Did her really say that?” Tatum burst into laughter. Kelsey was giving her a fine example of English
              phrases and fable. Both girls found it funny, especially Kelsey, who never even imagined Demeter would be
              anything else but a humourless machine. “I was surprised as you are.” Kelsey’s thoughts wandered away,
              contemplating how there is much more to everyone and everything than meets the eye. So easy to just assume
              to know someone’s life by observing them in one environment. Demeter wasn’t this straight-and-narrow guy
              who only cared about his work. There was an entire dimension Kelsey missed, something dangerous,
              suppressed inside.
            </p>

            <p>
              “How much do you really know about your dad?” Since Jim disappeared, small things here and there popped
              out of the woodwork, little signals that got Kelsey stumped. All of them painted a different picture of
              the man she had known all her life. Little incongruences or strange things someone said made her quiet
              down and think.
            </p>

            <p>
              They say that birds of a feather flock together, and only by learning more about Demeter, was Kelsey able
              to get a better picture of her dad. That gentle, soft-spoken man who would never raise his voice or do
              anything untoward employed and trusted a man of a steel character.
            </p>

            <p>
              Clearly, Demeter looked up to Jim, respected him immensely, and even loved him. What kind of man commands
              that kind of strength? What kind of person keeps almost three hundred lives in his hands, and they follow
              him blindly, never questioning? All the employees Kelsey met, for the lack of a better word, worshipped
              her dad. Jim, this and that. Everyone had something good to say, even the interns. What kind of man
              marries a nineteen-year-old girl with supermodel looks, forgives her indiscretion, and even rewards her?
            </p>

            <p>
              Kelsey thought many times that all the cheating and divorce business was well within the control of a man
              Demeter befriended. Not her dad. Not the man she knew him to be. The only way Kelsey could explain any of
              this was that Jim knew what was happening. He had reasons to allow it, which would make him some sort of
              mastermind, a white-gloved hand pulling the strings beyond curtains.
            </p>

            <p>
              “What was it he said? I want you to work this out between yourself.” Kelsey remembered Jim’s last attempt
              to make peace between his wife and daughter. He wanted to bring them on the cruise, locked on a ship
              together, forced to communicate, even argue, but how long can someone keep that up? The trip was supposed
              to be for two months. During that time, many things could happen.
            </p>

            <p>
              “You got what you wanted, dad,” Kelsey mumbled, deep in her thoughts. Both she and Monique were locked
              together in a company they owned, and Jim’s best friend acted like a referee. This threw Kelsey off the
              most. Her dad, the man she knew, would not have the foresight or ruthless determination required to
              sacrifice his company to get his way. A person who could do that would be a monster that single-mindedly
              focuses on one outcome and bends the world to that.
            </p>

            <p>
              Tatum’s giggling brought Kelsey back from the world of dreams. It was hard to know what was right anymore.
              The past, the present and the future all blended into a whirlwind of confusion, doubt and inconsistency,
              but first things first. Kelsey had to find her dad.
            </p>

            <p class="center">***</p>

            <p>
              “Did you say James Price?” The clerk shook her head, typing something at her computer and getting an error
              noise back. “I am sorry, but there is nobody in the system with such a name and date of birth.” Kelsey
              made an appointment with the General Register Office. She needed Jim’s birth certificate to gain access to
              a variety of his personal documents.
            </p>

            <p>
              “How is that possible? Jim had a passport and driving license, a business in his own name, but not a birth
              certificate?” The woman shrugged. The policies prohibited getting into speculation and offering
              unsolicited opinions or advice.
            </p>

            <p>
              “Can you please look one more time?” The clerk took the copies of Jim’s documents again and tried a
              different combination, expanding the search.
            </p>

            <p>
              “See, nothing. The only James Price on historic addresses is this one, but he was born in
              nineteen-fifty-five.” She turned the monitor around, showing Kelsey the details. She gasped, absorbing
              everything before nodding and thanking the clerk for her efforts.
            </p>

            <p>
              “What happened? Did you learn something?” Tatum asked as soon as Kelsey got into the car. She waited for
              her outside in a no-parking zone, keeping alert for the traffic warden.
            </p>

            <p>
              “Nothing, no record of my dad, but I think I found my grandfather.” The two girls looked at each other for
              a minute, perplexed.
            </p>

            <p>“Screw it. Let’s check it out.”</p>

            <p>
              “We better take the tube. The address is in Tower Hamlets.” Kelsey said after checking the map on her
              phone. Twenty minutes later, Tatum parked in the NCP garage next to a tube station and walked across the
              street, using their Oyster card to pay for the trip. Soon after, the girls walked out at Mile End.
            </p>

            <p>“This doesn’t look so bad,” Tatum commented.</p>

            <p>
              “It seems like the gentrification reached the east end.” The girls walked around looking at large blocks
              of converted council flats, most of them with double-glazed energy-efficient windows. Occasionally they
              would come across construction work where the buildings were renovated, or delapidated houses knocked down
              to make spaces for the apartments.
            </p>

            <p>
              The deeper they got into the old areas, the more rundown terraced houses they saw, with old drab clothes
              drying on the line in front yards and under the windows.
            </p>

            <p>
              “Are you sure this is safe?” Tatum asked, taking her girlfriend’s hand. The whole vibe changed to a more
              sombre one. The people on the street looked poorer, and the kids grouped into little gangs. Some older
              guys sized them up, a few whistled, and some cat called.
            </p>

            <p>
              The eerie feeling increased when they got into a street with a rundown pub, Tesco and Job Centre Plus. The
              people walked outside carrying plastic bags with groceries. Some unseen presence watched the girls behind
              the curtains of their dark homes. This wasn’t the London Tatum knew, and she squeezed Kelsey’s hand
              tighter.
            </p>

            <p>
              “Oi, where are you posh birds off to? You lost?” The words came from a small group of guys dressed in
              tracksuits, loitering next to the off-license, sitting on the backrest of the bench, smiling, poking each
              other to say something.
            </p>

            <p>
              Tatum froze, her palms broke out in a sweat, but Kelsey came over. “I’m looking for my dad’s old place.”
              The guys laughed, making comments. “You’re lost, babe.” The guy who initially spoke looked them up and
              down in an appraising way before spitting on the street, “Lemme see.” He took Kelsey’s phone in his hand
              to look at the map and admired it for a minute before putting it into his pockets.
            </p>

            <p>
              “Thanks for the gift; now, you two fuck off.” Kelsey felt Tatum tugging her backwards, but it was too
              late. Her face turned red, and she felt the all too familiar tingles rise, tunnelling her vision. It was a
              culmination of days of worry and stress into a little dragon about to emerge and burn the earth with its
              rage.
            </p>

            <p>
              “What are you little fucks doing acting like road men?” A big man in his mid-fifties stepped out of the
              shop. He was well over six feet tall and built like a bull with bulging muscles, all of them tattooed from
              his neck to his knuckles. “What’s yer name, luv?”
            </p>

            <p>
              “I’m Kelsey Price.” She said, stopping in her track, staring at an imposing monster of a man. Sometimes
              you see people who look enormous; other times, you meet those who scream danger. This man was both, and he
              scared her the way he looked through her.
            </p>

            <p>
              “Right, you’re looking for yer old man, innit?” Kelsey just nodded and swallowed, watching the big man
              turn to the group of guys that suddenly looked smaller, as if collapsing into themselves.
            </p>

            <p>
              “Come on, let’s have it.” The leader pulled out Kelsey’s phone and handed it to a man. “What did I tell
              you, little cunts, about sitting like tramps around my shop? Now, feck off.” The guys looked at each other
              and disappeared. The man returned Kelsey’s phone, lighting a cigarette. “Wanna fag?” Kelsey shook her
              head, stumped, feeling shocked and relieved.
            </p>

            <p>
              “Don’t mind the twats. They won’t bother you anymore. Yer lookin’ fir old Jimbo, a? He’s gone, nuffin left
              there, luv. Little Jimmy ‘asn’t been round for donkeys. Talk to the barkeep in Spotted Dick over there.
              He’ll tell ya, right.” The man pointed down the street to the grotty little pub looking like a condemned
              building. It was a footie pub for locals on the piss, serving cheap cod and chips and even cheaper beer.
            </p>

            <p>Kelsey thanked the strange man, offering her hand. “What is your name?”</p>

            <p>
              “Tell ’em, Little John sent ya. You’ll be all right, luv.” He flicked the cigarette bud onto a passing
              car’s windshield before turning his back to the girls and getting back into his shop. The girls shook
              their heads in bewilderment.
            </p>

            <p>
              “What just happened?” Tatum couldn’t suppress her emotions anymore. Kelsey shrugged, raising her eyebrows
              as if to say, “beats me, I don’t know” before, hand in hand, the two made their way to the Spotted Dick to
              have a pint and a chat with the barkeep over a bowl of cheesy chips.
            </p>

            <p>
              “I still can’t believe it.” Kelsey shook her head, sipping a cup of fresh cocoa with marshmallow chunks,
              back in the safety of her dad’s home. They spent the better part of the afternoon talking about Jim and
              his past. Terrence, the barkeep, was happy to talk. It turns out he knew Jim very well. They were the same
              age and used to play footie in the closes.
            </p>

            <p>“It’s hard to digest the idea that my dad lived there.”</p>

            <p>
              “Why? Because he’s so proper and speaks with a posh accent?” The two girls were at it for hours, not
              getting closer to an answer. In fact, the plot thickened like fine gravy.
            </p>

            <p>
              “Where was he for the first twelve years?” It seemed like everyone’s memory of Jim goes only that far.
              Nobody remembers him as a toddler or a little child. He was twelve, and boom, all of it began. One thing
              was evident, everyone who knew Jim liked him and feared his dad.
            </p>

            <p>“I wonder why my dad never spoke of his father.”</p>

            <p>
              “From what I gathered, he must have been an abusive asshole. Remember what Terrence said. Jim’s dad was a
              regular at the pub, and he was a mean drunk.” Both girls sipped their chocolate drinks, lost in their
              thoughts, wondering.
            </p>

            <p>
              Trying to trace Jim’s roots was a fiasco, but it led them to a rabbit hole than only grew darker the
              deeper they went. By the evening, the pub filled up mostly with guys. All of them eyed the two pretty
              young ladies behind their pints.
            </p>

            <p>
              “I’ll have Dickey here escort you to the tube. It’s not safe for two totties like you on the field at
              night.” Kelsey nodded, thanking the man, while Tatum shrugged, missing half of that. This was London
              proper. Most of what was said was skewed in chewed-up slang that was hard to follow, let alone understand.
            </p>

            <p>
              The boys down the pub had a good laugh at Tatum’s expense, joking with her, pulling her leg, and trying to
              teach her the basics.
            </p>

            <p>“How does a Londoner say, excuse me please, would you be so kind as to repeat what you just said?”</p>

            <p>“I don’t know. How?” Tatum shrugged her shoulders.</p>

            <p>
              “A?” It took a second for a joke to register before the entire group burst into hearty laughter. Even the
              bunch of tracksuit guys that gave the girls grief earlier today came to the pub in the evening. They sat
              two tables down, whispering something, staring at two young women.
            </p>

            <p>
              “Who? Those guys? Nah, just a bunch of chavs, sitting home on the doll, picking their noses bloody,
              pretending they were gangsters.” The guys heard the speaker, but they sat without a response. They knew
              that in a pecking order, they were just below a guy cleaning the toilets.
            </p>

            <p>“It was a fun night. I enjoyed myself,” Tatum finally spoke with a big smile and a little giggle.</p>

            <p>“I didn’t enjoy getting robbed.”</p>

            <p>“Come on. All is well that ends well.”</p>

            <p class="center">***</p>

            <p>
              Monique looked at Fred, sprawled naked on her lush bed, watching her with a winning smile. She hated him
              now.
            </p>

            <p>
              “Come on, let’s just stay here, babe.” All he wanted was to stay inside and have sex over and again. In
              Monique’s eyes, this was one of Fred’s best qualities, high libido and unquenchable desire. It made her
              feel wanted, but little more than that. Sometimes a woman needs more than just sex; a bit more substance
              would go a long way.
            </p>

            <p>
              She often sat on her sofa chair, placed by the window, watching the people milling around like little
              ants, busy bees running their lives, chasing their luck. Monique was stuck, daydreaming about someone
              else, a man who would embrace her from behind and kiss her neck, whisper stories about magical creatures
              until her eyes closed and she fell asleep, feeling safe.
            </p>

            <p>
              “Where are you, Jim?” She divorced him, but only to keep herself safe. Nobody cared to ask her about how
              she felt, not her lawyer, her friends, Kelsey or Fred. Nobody seemed to be interested in what was in her
              head, let alone her heart. It was the story of her life.
            </p>

            <p>
              Only one person cared, and he was likely dead. Jim was the only one who didn’t have to be asked or
              reminded. He remembered all the anniversaries and gave her all his weekends. When Jim was around, it was a
              hundred per cent. His mind wouldn’t drift away, and he wouldn’t tap his foot on a date, impatient to get
              her back into his bed.
            </p>

            <p>
              Jim was the only man who wanted her for what she was, who listened and asked questions without giving
              advice or making it all about himself. In fact, Jim hated talking about himself or answering questions.
              He’d rather sit and listen to what she had to say. He was far from passive but always reserved. Jim knew
              all about Monique, but the inverse was not the case. A picture of Jim was a patchwork of conflicting
              stories sewn together using her intuition.
            </p>

            <p>
              Monique jumped, feeling a man’s hand massaging her shoulders. She wanted it to be Jim and not Fred for a
              split second. It took her only two days to pack and hire movers to carry the boxes. She was back where it
              started, with four white walls, no pictures and a window to watch others live while she died inside. The
              emptiness, the silence inside, screamed a deafening note.
            </p>

            <p>
              “I was just kidding, babe. Come on. I’ll take you somewhere nice.” Male insecurity; Fred oozed with it.
              She shook her head, “that’s okay. Let’s just stay here.” A scene played out in Monique’s head of a Chinese
              restaurant, watching Fred stuffing his face using a fork to eat noodles.
            </p>

            <p>
              “It is okay if you don’t know how to use chopsticks, but don’t take me out to a fancy Asian restaurant and
              use a fork and knife. Take me to a steakhouse instead.” Fred burst into a story about how he was the
              customer, and this was England. He was confident enough to break the rules and blah, blah, blah. Ooze.
            </p>

            <p>
              Monique admonished herself for taking a one-dimensional man outside his comfort zone. Fred was no mystery,
              unlike Jim. Just when she thought she figured him out, Jim would throw her a curveball, making her fall
              flat on her arse in surprise. After years of marriage, Jim still surprised her as ever.
            </p>

            <p>
              This quiet, soft-spoken man she married was like an Agatha Christie book with plain beige covers. It was
              as if Jim wore himself as a mask to hide what was inside. Monique always found it frustrating to not know
              her man, changing her mind after she started going out with Fred. She took him to Cats, and he spaced out.
              Monique had to elbow him once to prevent him from causing a scene and snoring during the play.
            </p>

            <p>
              The sex was great, excellent even, but everything else oozed. One day during lunch, Monique felt like an
              old man who married a young bimbo slut to show around, except that Fred was best left at home. He always
              found a way to embarrass himself, laughing it out as being confident. “Confident man can withstand social
              pressure to conform and act like the others.” Fred was full of such psycho babble. It took only a week
              before Monique realised he was best left at home, in bed, where he shined.
            </p>

            <p>“I miss you, Jim.” She brushed away her tear.</p>

            <p>“What was that?”</p>

            <p>
              “Nothing,” she smiled, “let’s get dressed and go out. I know a nice salad bar.” Fred’s face fell. Salad,
              the enemy of men. Men eat red meat in great quantities, chew it like lions and crush the bones. Monique
              giggled, imagining Fred as a caveman, a metrosexual troglodyte with Clarins moisturiser and soft hands
              with manicured nails. Even Jim would make a better cave dweller. Sometimes, in rare moments, Monique saw a
              spark of something terrible in Jim’s eyes, a man that took what he wanted during sex, but it quickly went
              away. Still, she loved him in that moments, feeling safe and protected, wrapped tight in his arms. He was
              her man.
            </p>

            <p>
              “Come on, I’ll take you to KFC after.” She saw Fred’s eyes sparkle. It was his favourite. Fred was a
              grown-up kid, socially inept and weird. There was no substance to Fred after scratching the surface.
              Monique expected little. Fred was just another guy with a great body and attractive swagger, capturing
              girls’ imagination until he opened his mouth. It was all downhill from there. Still, Fred was liked. His
              raw, relentless sexuality and almost endless endurance in bed made him popular with the ladies.
            </p>

            <p>
              Monique detested the stench of deep-fried chicken cooked by sweaty low-paid immigrant workers and served
              by pimply teenagers with greasy hair. Even the tables felt greasy to the touch. She imagined the masses
              slobbering around, holding a fat-dripping chicken in their hands, dipped in ketchup or hot sauce, then
              rubbing them off against their trousers and desks. The whole place reeked of grease and sweat, and a
              pungent odour wafted from the direction of the toilets. In a million years of begging, Monique couldn’t
              convince Jim to step foot in it, let alone get something to eat there.
            </p>

            <p>
              Jim was a snob, but for the better. His words were well-crafted, and his accent pleasant, speaking with
              received pronunciation or queen’s English. He always frowned when Monique made mistakes, even though she
              was sure Jim could speak colloquially. Jim stuck to Westminster and avoided the ends, adding to the
              mystery Monique wanted to solve.
            </p>

            <p>
              Fred had no mystery left in him, and that was fine. Monique enjoyed all that the man had to offer.
              Sometimes she wanted more and admonished herself. It hurt her to admit to a mistake. It was easier to
              double down than to apologise, admit she was wrong and accept her punishment. People lie to themselves as
              easy as to others. It is a coping process so you can look at yourself in the mirror every day.
            </p>

            <p>
              Monique knew what she did, and it hurt her to the core. She divorced her husband when he needed her
              prayers. It happened so quickly, but the truth is in the pudding. She still loved him. No matter how hard
              you try to justify it, the truth is one, always undeniable. It burrowed deep under her skin and made her
              shudder, thinking about the man she cheated on repeatedly and finally divorced.
            </p>

            <p>“You deserve better.”</p>

            <p>“What was that?”</p>

            <p>
              “Nothing, Fred. I was just thinking aloud. Eat your chicken.” Men are sometimes like children; strong,
              powerful and independent, all of them looking for their mother in women. Madonna-whore complex, as Mr
              Freud explained. What happens when one becomes another? Looking at Fred, licking his fingers, picking up
              with his teeth little bits of chicken that got stuck under his nails, Monique knew the process was
              underway.
            </p>

            <p>
              “Let me get this for you,” she took a paper napkin and licked a corner before wiping Fred’s lips from
              ketchup and crusts.
            </p>

            <p>
              “Thanks, babe.” He smiled. Yep, the process started. It was just a matter of time before his whore turned
              into an angel, and the sex stopped; he fell in love with her and started sleeping with other women. It was
              a lose-lose, Monique sighed. Her thoughts were far away, with another man.
            </p>

            <p>“I am sorry,” she whispered.</p>

            <p>“What did you say?”</p>

            <p>“I am sorry for being in a bad mood today.”</p>

            <p>
              “Don’t worry about it, babe. We all have those days.” Fred waved it off, sinking his teeth into another
              piece of chicken. Monique was mesmerised, focused on a few drops of yellow fat running down Fred’s chin
              while her thoughts were miles away, somewhere far, where the ocean meets the sky.
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Big-Fish-Rumpel-Stiltskin-ebook/dp/B0BHJKVZ31'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <!-- <a href='https://apple.co/3zSPgfs'
               ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
             </a> -->

              <!-- Google -->
              <!-- <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Montana?id=ftFBEAAAQBAJ'
               ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
             </a> -->

              <a href='/books/big-fish/preview/chapter-5-big-fish' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 5 - Big fish >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
         
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
