---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title="Big Fish | Chapter 6 - Siren's call"
  description='Big Fish novel by Rumpel Stiltskin'
  image='/images/big-fish.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/big-fish.jpg' class="big-cover-img" /> -->
          <p class='emp grey'>BIG FISH</p>
          <h1>Chapter 6 - Siren's call</h1>
          <div class='biggest'>
            <p>
              Radio bleeped incessantly with distress signals calling. The winds rose a little, and the waves got
              bigger, but nothing Rusalochka wouldn’t be able to handle. Everyone knew that. They observed the satellite
              imagery; three storm systems were converging.
            </p>

            <p>
              “It will be like threading the needle, but we should be fine.” Everyone trusted the captain, all seasoned
              sailors, and judging by all the signs, they saw much worse and pulled through unscratched. The calls for
              help came from distant cargo vessels caught right in the path of individual storms. There would be some
              damage, but everything would likely be okay. Despite popular belief, it is hard to sink a ship. They stay
              afloat, even in the worst storms. Just imagine a walnut shell in a bucket of water. Shake it all you like;
              the shell always comes on top. It was the same principle. The most common reason for sinking came down to
              human error.
            </p>

            <p>
              “It’s going to be a long night. I’m going to close my eyes for a few hours. Wake me up if anything
              changes.” The captain went to his room and collapsed on the bed. Everyone knew nothing was perfect.
              Proceeding on their given course was a risky enterprise, but so was changing it. The winds could turn. All
              anyone could do was to wait and see what happened. It was the deep waters with no harbour in sight for
              hundreds of miles, and outrunning the storm would be a fool’s enterprise. Everyone was committed and ready
              for whatever happened next.
            </p>

            <p>
              Darkness fell, and stars disappeared. Only a bright smudge in the sky where the moon should be was getting
              dimmer. The waves were choppy and getting bigger yet, but nothing the ship of this size couldn’t take. The
              plan was simple, pass quietly between the storms, and it would be smooth waters thereon. It was the only
              option outside of turning around, hoping to outrun the storm.
            </p>

            <p>
              Sailing is a risky business. Everything is perfect when everything is perfect, but when things go wrong,
              sometimes it is a disaster only offset by an experienced crew and masterful captain. Jim hired the best,
              and the crew had enough time to learn each other’s strengths. It was a well-oiled machine, and the sailors
              felt confident. After all, how bad could the storms get? They piloted a state-of-the-art superyacht with
              more doodads and fandangle than ever before. If one ship on the planet could survive a storm, it would be
              Rusalochka, the ocean princess, the queen of the seas.
            </p>

            <p>
              The wind steadily increased, and the waves got bigger still. It was expected, and nobody said anything
              contrary. Later that night, the ship swayed, and the captain woke up, feeling the change, and walked up to
              the cockpit where all the crew gathered.
            </p>

            <p>
              “What’s going on? Give me the update.” The static on the radio increased to where it was hard to tell what
              other people said. The satellite navigation still worked, but the connection was too unstable for calling
              by phone; they were cut off from the internet. The latest weather charts showed a slight change in wind
              patterns. The three storms were now about to converge on each other faster to create a mother of all
              superstorms. They were so rare that nobody knew what would happen then. They were only certain that it
              would be bad, but not for the ship. The projected path should blow the storm further from Rusalochka,
              faster.
            </p>

            <p>
              The captain poured himself a cup of strong coffee and sat in his chair, studying the instruments. “We are
              too far from any land. If the wind turns, we’ll have a problem.” Those were sobering words, but he just
              voiced what everyone knew already. “Run a check of all the emergency equipment. Seal all the hatches to
              lower decks.” The sailors ran out to follow the captain’s command while he took another sip and peered
              into the darkness.
            </p>

            <p>
              “This is Rusalochka. We’re heading eastwards,” the captain said into the radio, leaving a record, giving
              out the ship’s location, speed and direction. It was better to be safe than sorry, he reasoned. The
              sailors returned within an hour, reporting they sealed the ship from flooding and all the pumps working on
              standby. There was nothing more to do than wait and pray. The engines were already at almost full speed.
              Captain didn’t want to push them, thinking he might need them later if things worsened.
            </p>

            <p>
              Everyone sat in silence, watching the clock count minutes while the winds increased. Around two at night,
              the pandemonium began. The three storms merged, but their entanglement shifted the trajectory off the
              projected, and the new superstorm headed straight for the ship. It began with increasing wind and waves,
              and then the rain started. Everyone held tight as mounting waves lifted Rusalochka like a feather and
              dropped her down.
            </p>

            <p>
              “What’s that?” Someone asked. Out there in the dark distance, they could hear a voice. It sounded like a
              wind at first, turning into a drawn-out howl like the wolves, growing in pitch and strength until it
              became a terrible whistle. Vadim crossed himself, mumbling something in Russian.
            </p>

            <p>
              “What did you say?” Nobody cared for an answer. They all knew what it was; the call of the sirens. Nobody
              had ever heard it before, but all knew the legends. Only a few of the sailors in history heard that sound
              and lived. The myth lost some of its potency in the early twenty-first century. It was the age of the
              internet, space and science; nobody expected to meet Santa Claus or see a mermaid. There were millions of
              reasonable explanations why a wind would make such a terrible noise, but the sailors spent all their lives
              at sea and never heard one like that.
            </p>

            <p>
              The sound was somewhere between a whistle and a child’s scream in a pattern, as if trying to sing a slow
              melody and failing. Just slightly similar to the whale song, only many times louder, dissonant with
              half-note tones. It scared and irritated, confused and seduced. The legends say that those who heard it
              would go insane and change course, following the call, crashing the ship into sharp rocks. Some believed
              that the sirens would sing during the storms, others that the singing caused the storms. None of it
              mattered to the crew at the moment. Whatever it was, it was coming for them.
            </p>

            <p>
              Captain shouted something at Vadim. It was so loud, hard to hear anything. Some sailors covered their
              ears. “Move,” the captain pushed a man from his seat and took the radio microphone into his hands.
              “Mayday, mayday, this is Rusalochka.” Only the static came back.
            </p>

            <p>
              “Oh, god,” some of them gasped, seeing the hungry monster in the distance heading for them. It was vast
              from one horizon to another, with huge teeth made of rain and a thousand eyes made of lightning. Colossal
              storm moved fast, catching up to them without hope of escape. Everyone knew the storm would hit at any
              moment.
            </p>

            <p>
              Captain shouted the orders, but nobody listened. Everyone stood, still mesmerised by sight and swooning in
              tune with the song. It was a strange tune. The louder it got, the clearer it became, almost like a lullaby
              sung by a mother. It swirled and echoed inside the mind, promising everything would be just fine, but it
              wasn’t. The beast was coming, bearing gigantic waves. Inside the clouds came the apocalypse; it was death
              itself, riding a pale horse. Whenever its hooves touched the clouds, the sparks would fly in an electrical
              discharge, connecting the dark shadows with darker water.
            </p>

            <p>
              It was hard to breathe, like the storm sucked out all the oxygen from the air, replacing it with moisture.
              From a distance, the words came. It took the crew a few seconds to realise it was the captain barking
              orders.
            </p>

            <p>
              “To stations. Get ready. It’s going to hit. Mayday, mayday. This is Rusalochka. Can anyone hear me?”
              Nobody was there. They were all alone, lost with the beast in open waters. The younger crewmen trembled,
              unlike hardened sailors who worked on container ships and military vessels. All of them knew the score. It
              was going to be a hard battle with likely losses of human life.
            </p>

            <p>
              “What’s going on? What’s happening?” Jim burst into the cockpit, looking dishevelled and scared. He woke
              up a while ago as the ship bounced. He could see the rain and the waves, but the sound scared him. It
              didn’t seem like something that should be there.
            </p>

            <p>
              “Please, sir, get inside and keep safe. A storm is coming our way.” A storm was already here, Jim thought
              to himself. How much worse could it get? Are they in danger? Could the boat sink? Nobody was listening.
              The howl increased, and a burst of water blasted the ship’s side.
            </p>

            <p>
              “Take him in and secure the ship.” The captain barked an order, and one of the younger crew members
              escorted Jim inside, sat him on a sofa and poured a glass of scotch for him and took a swig.
            </p>

            <p>
              “Please, sir, sit down. I have to secure everything.” He locked all the drawers, closed all the openings,
              and secured all the furniture. The entire ship shuddered as a sudden blow came from its side. Jim didn’t
              need an additional narrative to explain what had happened. He saw the storm coming, and now it had
              arrived.
            </p>

            <p class="center">***</p>

            <p>
              “Evgeny Orlov,” the old man said, extending his hand. His eyes bore into Jim’s soul. The two men sat down
              at a fancy restaurant. The Russian insisted that their first meeting would be in neutral territory, as he
              called it. “I never do business with people I don’t know.” Jim shrugged it off. There were many types of
              people in the world, and Yevgeny checked out. His firm did the homework, and it turned out the old Russian
              was richer than god, owning mines worldwide.
            </p>

            <p>
              Yevgeny was an eclectic man, tall, about six-foot-five, and slim, but well built. What made the man
              imposing were his penetrating green eyes. Nobody could hold his gaze for more than a few seconds. Yevgeny,
              dressed impeccably in a long black suit of unusual origin. It looked more like a long coat, something the
              monks would wear, but more stylish and plain. Almost like a uniform. The thing that made him stand out
              from afar was his thick, neatly trimmed black beard without a single strand of grey. It dropped straight
              down in a conical style, all the way to his navel.
            </p>

            <p>
              Jim had never seen a man like this before. Yevgeny was his own master. He didn’t fall for fashion or style
              while maintaining the aura of authority and uniqueness. When he spoke, Yevgeny’s eyes smiled. He had a
              deep baritone voice with a pleasant timbre, and his English was perfect, although heavily accented.
              Something told Jim that the man could speak better, but he chose not to because it pleased him to talk
              with an accent. The old man Orlov was the law to himself, doing what he wanted, ambivalent to the rules of
              others.
            </p>

            <p>
              Unlike most Russian oligarchs, Yevgeny refused to deal with energy and power. He shunned oil and coal and
              snorted at gas. Mining for gold, iron, copper, uranium or any precious metals didn’t interest him at all
              to where he would sell the mines if they found any of the things he didn’t like there.
            </p>

            <p>
              Yevgeny liked diamonds and other gems. He invested in the world’s largest mine, right in his home in
              Yakutia, one of the coldest places in Siberia, and nobody knew how much wealth the man had, just that mine
              produced yearly over four thousand pounds of diamonds.
            </p>

            <p>
              Some said the old man owned much more than that and bought up mines all over Africa or anywhere they found
              diamonds, but never put his name on that. Yevgeny valued discretion, preferring to remain anonymous. This
              was, in fact, one condition he told Jim about doing business with him.
            </p>

            <p>
              The three-course dinner went by in a pleasant chitchat, eating the delicacies of London’s top restaurant.
              Jim didn’t know how Yevgeny even got a reservation at such short notice. People waited weeks to be seated,
              sometimes for months, for busy dates. Booking the place for Christmas was like meeting Santa Claus and
              sitting on his lap.
            </p>

            <p>
              “Why don’t you come to my office tomorrow, and I could show you some investment opportunities we have
              available?” Jim was eager to steer the conversation towards business. Yevgeny smiled, waved at the waiter,
              and ordered a bottle of Beluga and two glasses. He raised his cup, checking the liquid, and smiled. “Za
              strechu, for a friendly meeting”, he said and drank it. Jim followed, coughing a little. He wasn’t used to
              drinking strong spirits straight. It made Yevgeny laugh. He poured another round and raised his glass.
            </p>

            <p>
              People told Jim to expect something like that. The old man was famous for doing his business over a bottle
              of vodka. Jim told Monique not to wait for him as there was no telling how the evening would end or at
              what time he would return home.
            </p>

            <p>
              “I want to ask you something, Yevgeny. Why the United Kingdom? Why me?” The old man smiled at Jim. After
              the two killed the bottle, the younger man lost his composure and guard, saying what he meant straight
              from his heart.
            </p>

            <p>
              “I’m going to spend a lot of time here. I’m building a ship, you see.” Jim saw nothing. The world was
              swirling. His mind couldn’t connect what Yevgeny said, struggling to put two and two together. “How does
              one predicate the other?”
            </p>

            <p>
              “I think you’ve had enough for one day, son. I’ll come to your office on Monday, and we’ll talk about the
              investments then.” Jim needed help to get up from the chair. Two well-dressed bouncers appeared out of
              nowhere and, with the greatest care and serious faces, helped him into a private hire.
            </p>

            <p>
              He fell asleep on the way home, waking up just in time to thank the driver and stagger inside. Monique was
              fast asleep, so he tiptoed to the bathroom downstairs, took a shower, and went to the spare room. He
              rinsed his mouth twice with Listerine, but he could still smell alcohol on his breath. Monique and he
              argued a lot lately, and Jim didn’t want to add another reason for it. All of it started with an impromptu
              visit from Kelsey a few weeks back and escalated as always.
            </p>

            <p>
              Kelsey was right, but not for the arguments she put forward. Just because Monique was almost her age
              wasn’t a reason enough. People say that love is blind, which is open to debate, but one thing is certain;
              love doesn’t ask for age. After all, Kelsey and Jim had problems which didn’t involve Monique. She was
              entangled in someone else’s game, like a benched football player that gets thrown in at a critical moment
              as a replacement.
            </p>

            <p>
              All this was obvious to everyone involved. Nobody had any illusions, even if the arguments were sometimes
              over-egged and overplayed. Kelsey was away in school or therapy, living her own life. It was a luxury Jim
              couldn’t afford, or at least convinced himself of that. Monique came in at the right moment when Jim was
              bursting at the seams, threatening to explode. She offered him something he needed the most, care and
              companionship and grounded him. The couple used each other for mutual survival. Kelsey didn’t see that;
              she didn’t see her father’s bad days. As terrible a father as he was, he kept her away from all that. He
              didn’t want to ruin her daughter the same way his dad devastated Jim.
            </p>

            <p>
              The weekend came, and everything returned to its usual routine. Nothing resolved, nothing gained, but the
              level of civility was maintained. Jim took Monique to the west end for a pleasant stroll, shopping, and
              watching Cats. It was her favourite musical; she had seen it four times. It was crazy in the office lately
              with too many projects and insufficient staff. Jim hoped that bringing in a Russian oligarch would allow
              him to expand, hire new people, and be able to do larger projects.
            </p>

            <p>
              Monday, late, just as the people left, Jim led Yevgeny in; he didn’t want to be seen. The two men shook
              hands, and Jim showed him into a meeting room, offering coffee, tea and biscuits.
            </p>

            <p>
              “I wanted to show you some of our projects. What level of investment were you thinking about?” Yevgeny
              shrugged. He was more interested in what it was and how it looked than in how much money it would cost.
              Jim started with his favourite one. It was also the biggest investment in a magnificent plot of land taken
              from the hand of the British Conservation Society. Through lengthily legal proceedings, the judge ruled
              Jim’s company could develop the land for mixed-use, residential and commercial as long as no heavy
              industry was involved.
            </p>

            <p>
              Jim got the land on a long lease, looking for money to buy it outright and make it private. He wanted to
              build a village with over two hundred houses, several apartment blocks, shops, a cinema and everything
              else that should go to a place like that. It was a massive investment he could execute by selling property
              off plan, promising to build it in one or two years. Building one or two houses at the time would not be
              economically viable. Jim needed someone to step in with the cash and get all of it built, reclaiming money
              from customers at massive profits. It was a good plan; good for Jim and good for everyone.
            </p>

            <p>
              The old man looked at the brochures before studying the spreadsheet with estimated numbers. Jim sat in
              silence, sipping his tea, observing Yevgeny calculate everything quickly in his head. At that very moment,
              Jim learned something important. For all his outward ease and charm, Yevgeny was a ruthless businessman.
              He invested money at whim, but when he got down to it, he wanted the detail. He studied everything for
              over an hour, stopping a few times to ask Jim about a specific number.
            </p>

            <p>
              Jim’s respect for the man went up a few notches. It was clear he used a Precision Questioning technique.
              It came out of Stanford and was used by some high-powered executives like the ones in technology
              conglomerates. There was even a legend of one of them questioning the specifics of the cost of monthly
              toilet paper for all of their worldwide offices. He threw the printout at the presenter’s head, shouting
              at him, “get back to me when you know the answer.”
            </p>

            <p>
              Yevgeny closed the folder and smiled. Jim knew his numbers by heart; he had all the answers, and they were
              right. “I will buy it,” Yevgeny said just like that, talking like he was referring to groceries. Jim’s
              heart leapt, almost stuck in his throat. The amount of money required went into hundreds of millions.
            </p>

            <p>“How much are you interested in? What percentage are you comfortable with?”</p>

            <p>
              “I said, I will buy it. Now it is getting late. Tomorrow I will come again to look at your other projects”
              Jim sat in his chair, looking at the door. The old man Orlov left with a commitment to invest and was
              coming for more. Nobody Jim ever worked with acted this way. Yevgeny just promised to spend an enormous
              amount of cash, as if he did it every day, and wanted more.
            </p>

            <p>
              The old man kept coming the whole week, going through the proposals and financial details. In the end, he
              chose three developments to invest in and finance a hundred per cent. It was a partnership unlike any Jim
              had experienced. His job was to organise and build it, and Evgeny would finance all of it. The old man had
              a great sense of business. He would walk away, almost doubling the money in a couple of years. Jim would
              make crumbs in comparison, which was more than enough for him to double the size of his company on top of
              putting a few million into his pocket.
            </p>

            <p>
              It was Jim’s ticket and Evgeny, a golden goose. When all of it was finished, Jim would be secure. He could
              float the company on the stock market. With such a growth record, he would speculate and sell his shares,
              living a life he always dreamt of, ensuring the future for his daughter.
            </p>

            <p>
              Life was looking up with a stroke of luck, all thanks to an eccentric billionaire who trusted Jim enough
              to invest in his business. It took a couple of months for all the contracts to be prepared, read, and
              signed by both parties. New subsidiaries were created and staffed, money was poured into them from both
              partners, and Jim was in business.
            </p>

            <p>
              During this time, Yevgeny and Jim met each other almost every day, often for nothing more than a meal and
              an occasional piss-up, resulting in Jim returning home drunk. Halfway through their outings, the
              conversation veered away from the business. Yevgeny disliked shop talk during his free time, preferring to
              learn more about Jim without judgment. Yevgeny supported Jim’s thinking, offering occasional advice. He
              was more excited about Jim’s exit plan than hearing about the success of their joint enterprise.
            </p>

            <p>
              “The purpose of life is to live it, Jim. You are here, then you are not. It is all too short. You must
              always follow your heart because there is nothing else in life but love.”
            </p>

            <p class="center">***</p>

            <p>
              I jumped, hearing a loud splash. The sun was scorching outside. “How did I get here? How am I still
              alive?” I was comfortably nestled in my usual place in a shadow, looking around, trying to make sense of
              what had happened. The last thing I remember was a gorgeous young woman, prettier than any I’ve seen
              before, came out of the ocean and held my hand. Then there was the dream. It was so vivid and real, like
              it really happened. So many things have been going wrong with me lately; why not my mind as well?
            </p>

            <p>
              My headaches never stopped, but pain signals from other body parts drowned them. Even my fingers would get
              numb sometimes, which had never happened before. Maybe it was nerve damage or maybe something with my
              brain. When the ship spun and tilted, it rattled me well, bouncing like a rag doll inside a dryer.
              Luckily, I was unconscious for that part. I don’t think I could have survived the pain.
            </p>

            <p>
              The woman was in my dream as well. She held my head in her lap and gently touched my forehead. I felt
              moisture on her skin. She cupped her hand and brought it to my lips. I drank what she gave me, and it was
              water, better tasting than any. I lapped it up like a greedy old dog, and it was gone.
            </p>

            <p>
              Just a little water revived my senses. I could feel my body react, and my lips felt alive. I could feel my
              tongue again and not just a mouth full of sand. The woman smiled at me, touching my lips with her finger,
              and they healed.
            </p>

            <p>
              She didn’t talk or say a word. All she did was hold me and give me more water. With each gulp, I felt
              stronger, like some chains that held on my limbs broke, and I could move and feel again. I could breathe
              and think. I wanted to thank her, but words wouldn’t come out, so I looked deep into her eyes. They
              reminded me of someone I used to know a long time ago in some other life when I was just a teenager.
            </p>

            <p>
              Her name was Naya, my first love. I could never have forgotten her deep blue-green eyes with a golden rim
              around the iris, making them stand out more than any. The woman in my dream had the same. She remained
              silent, happy to sit there, hold me, and nurse me to health.
            </p>

            <p>
              I looked up and saw the moon. It was so big and close, almost touching the water. It made me feel that if
              I jumped into the sea, I could swim there and touch a foreign planet. From somewhere far, a melody came,
              sang by a chorus of a dozen. It was a moon song sent to the stars, and fine crystals began falling down,
              each reflecting the moonlight. I opened my palms and caught a few. They looked like fine brushed diamonds
              and felt that way, too.
            </p>

            <p>
              “It’s all a dream, or I am dead.” The girl smiled at me, brushing the hair off my forehead. I don’t think
              I ever had a dream like that. It was weird and strange but also wonderful. A new parallel world opened to
              me, where the sea turned to glass reflecting the stars, and the universe’s music vibrated everywhere.
            </p>

            <p>
              One good thing about being close to death is that the mind wonders, creating what it likes. It was the
              highest form of detachment. In the end, what is real? How do we know we are alive? We see, hear, and taste
              the world, creating the pictures inside our minds. Who is to say those are real? Why couldn’t the moon be
              made of cheese? In the last breath of my life, I imagined a girl I dreamt of sometimes. She came out of
              the ocean to give me water and showed me the world she imagined.
            </p>

            <p>
              A feeling of deep love and gratitude washed over me. No wonder dying people saw the angels coming for
              them. I had one right there, stroking my head and giving me water right from her hand. She had no wings
              but a great long tail. The woman of my dream was a fish and not an angel.
            </p>

            <p>
              “So weird”, I said to myself, massaging my head as the pain returned. “How am I alive?” It made little
              sense. Somehow, delirious, I crawled back to the shade, but how, I couldn’t remember. The only thing I
              could think about was the big fish from last night, turning into a princess to save my life.
            </p>

            <p>
              Eyes see what they want to see, and the mind interprets it. I didn’t know what happened to me and that was
              the truth. Why I was not thirsty? They say mind over a matter like a placebo effect, but is it possible
              for someone to be dying of thirst, then drink the water, he imagined? Rational thinking wasn’t my forte.
              My head was badly injured, affecting my reality.
            </p>

            <p>
              “This is the key,” I argued with myself. As long as I kept dreaming of food and water, I might survive. It
              was a desperate ploy when all else failed. Maybe I could fool myself into thinking I was healthy as well.
            </p>

            <p>
              The splash came, and another. I crawled to the side of the ship and looked into the sea. The big fish came
              as soon as I put my hand into the water. She let me touch her gently, feeling the smoothness of her skin.
              “Am I still dreaming?” I couldn’t imagine that a marine creature would show this level of intelligence or
              some sort of moral obligation to save the one who saved her.
            </p>

            <p>
              It forced me to consider not being all there in my head. The concussion probably gave me auditory and
              visual hallucinations. It was likely that there was no fish at all. A real question was, am I atop of the
              ship or still trapped in darkness, imagining all that? A mind can sometimes fool people and create more
              palatable things to escape a terrible fate. I was aware of myself, thus still alive, but couldn’t trust
              anything I experienced.
            </p>

            <p>
              “Life is an illusion,” Yevgeny would say. I never imagined it in such a literal sense. I lived in the
              world created inside my head where big fish became my friend. Of course, she came out of the water looking
              like a mermaid. That is what I would imagine, dying from thirst, hoping for rain. Even the diamonds that
              fell were a metaphor for ice. I was dying and dreaming of saving myself. In reality, I was probably
              sleeping or passed out, but my consciousness created this dream to keep me alive.
            </p>

            <p>
              It is hard to accept your own lunacy. How could I trust anything I saw? I could spend all my time doubting
              the reality, or accept it as it was, let myself embrace it. What is the worst thing that could happen? I
              die? I was dying anyway, so what’s the harm in sprinkling some fantasy and magic into my life? It would
              make my passing less scary and more worthwhile.
            </p>

            <p>
              What if I could just let go of everything, all my regrets, fear, and guilt? What if I could go back to
              being a child before I learned the hard lessons in life? Where would I start? I had no one to guide me
              through life. My father was disinterested, filled with rage and blame, intent on making me into a copy of
              himself, but even he relented one day. In my dad’s last moments, his tears fell, and he begged me. “Son,
              don’t make my mistake.” It was too late for regret and wishing to do things differently. We have one
              chance in life to live it right, and when it’s gone, you are no more, but you leave the world better or
              worse for your presence.
            </p>

            <p>
              “Life is a dream, son. Make sure you dream yours right.” Yevgeny’s voice came from nowhere. He was the
              exact opposite of my father. I always resisted the old Russian’s advice, dismissing it as babbling
              nonsense. Old man Orlov talked like that only when drinking. His eyes would defocus and become haunting,
              looking far away as if trying to see something elusive.
            </p>

            <p>
              I dreamed the wrong dreams; the dreams they told me to dream. At least I did one thing right by messing up
              my daughter differently. I didn’t know if her hate for me would ever wane, but I raised her to seize the
              day and look beyond the horizon I feared to climb. She would never have to live a compromise that ruled my
              existence.
            </p>

            <p>
              Now, looking back, everything became crystal clear, like diamonds falling from the sky. For the first time
              in my life, I choose to have faith and believe. I was a sheep in wolf’s clothing, but I would die the
              death of my choosing. It was time to bury my father, wife, and everyone who told me how to live. All bar
              one.
            </p>

            <p>
              Yevgeny lived a rich life. He did what he wanted, running naked through a field of nettle. He was raw and
              unbridled, lived his own way, and now he was dead, but his stories lived. They lived in me; I remembered
              them. He lived his life and died without regret. Even his greatest wish and the biggest dream came true. I
              took Rusalochka into the deep ocean and got her home. She was his love, and now she was mine. From the
              first moment we shook our hands, our destinies intertwined. I couldn’t see that before, but I see it now.
              I tapped the water, and the big fish came. “Let me tell you a story about my friend.”
            </p>

            <p class="center">***</p>

            <p>
              The bell rang, and Monique ran downstairs to open the door. She was excited to meet the wealthiest person
              in her life. Reaching the foyer, she stopped and composed herself, having a quick look at the full-length
              mirror next to the wardrobe. “I still have it,” she said quietly, admiring her dress and style. Earlier,
              she went to the spa and hairdresser and spent an hour making her makeup perfect.
            </p>

            <p>
              Monique was an embodiment of beauty and class, putting on the best clothes and jewellery the money could
              buy. It was a subconscious effort; she wanted to be liked. Her psychiatrist mentioned something about her
              having an external locus of identity, but she didn’t care or understand it. The arrangement she had with
              her husband was a good one. He cared for her and gave her a good life; she looked stunning, impressing his
              friends and colleagues. Monique knew she was a unique collector’s item for those with refined taste where
              only the best would do and nothing less.
            </p>

            <p>
              She might not be academically bright, or so inclined, but she more than made up for it with social and
              emotional intelligence. The world of science and commerce had little use for the socially minded. Monique
              could read people as easy as someone reading adventure novels. If she studied hard and worked half her
              life, she could have a career in care or even as a psychologist, but that would be a waste of her
              god-given talents and beauty. No matter how hard she worked, she could never get herself the life she
              dreamed of. Eventually, she’d get married anyway, probably to some loser she found irresistible. It was
              better this way, marrying an older gentleman who couldn’t do any better and be his arm candy and a lovely
              wife. He could parade her and show her off to his rich friends. Jim and Monique often role played. She
              liked such games.
            </p>

            <p>
              Monique’s eyes popped like two saucers seeing her guest immaculately dressed. One look into his eyes, and
              she felt smaller than ever. Yevgeny radiated immense authority and inner strength. She saw no one looking
              at her like that before.
            </p>

            <p>
              “Welcome, please come in.” Her breath felt heavy to where she almost wheezed as she spoke. The guest shook
              her hand, saying something in a voice that made her tremble like an autumn leaf in the wind. As she
              walked, she felt his gaze on her back, sizing her up, measuring her curves like something to eat and
              devour. There was no mistake in Monique’s mind. He took what he wanted using his terrible presence. The
              question was, what did he want here?
            </p>

            <p>
              By the time they sat down, she had Yevgeny all sussed out. He was the type of man everyone should avoid.
              There was something cold, almost beastly, in him. He looked through her like one looked at a perfectly
              seasoned, medium-rare piece of prime Angus steak. Monique never saw a look like that. Most men desired
              her, but not Yevgeny. He wanted her with no desire in his eyes, only endless ambivalence, like when you
              want something but don’t need it in your life.
            </p>

            <p>
              Yevgeny handed her a crystal bottle without a label, asking her to “please put this in your fridge.” She
              felt little tingles hearing his voice. Little hairs on her skin rose as her goosebumps spread.
              Immediately, Monique’s thoughts went to sex. Her whole being, not just imagination, sparked.
            </p>

            <p>
              “Stop it,” she said in a whisper, admonishing herself. Since her puberty, she knew that she’s got a
              problem. Sex was a big thing for Monique, all she could think of, but she kept herself chaste with
              enormous effort. This strange man just shattered her composure. It was something in his appearance, but
              more in his voice. She knew deep inside that she couldn’t resist this man. He was used to taking what he
              wanted this way or another.
            </p>

            <p>
              “Welcome to my home. I am glad you found time.” A big friendly smile on Jim was deep and genuine. The two
              men shook hands, and Monique saw Jim give her a smile. She sat quietly, eating her meal, watching her
              husband eat his dinner.
            </p>

            <p>
              The deserts arrived served by the caterers Jim sometimes hired. Usually, the couple would eat out in fancy
              restaurants or bring in a chef to make their meals. Monique was anti-talent for cooking, and Jim was too
              busy for it, so they compromised. It seemed like that was all the two did in their life, one compromise
              after another. Is this what life is? Monique wondered quietly. Her whole life and her family’s life were a
              long string of compromises. What would life look like if people did what they wanted? Imagine the silence
              if everyone said only what they meant.
            </p>

            <p>
              She looked at Yevgeny and shuddered, seeing the man that clearly never compromised. It was the way he
              looked at everything and spoke with so much authority. To her, it looked like the man was trying hard to
              pull back and diminish himself, so his bright light or hungry darkness doesn’t consume the others. Even
              that was a mystery to Monique. She couldn’t get a good sense of whether Yevgeny was good or bad. The man
              rejected classification, existing in his own way, transcending the concepts of good or evil, a cross
              between a demon and an angel, yet neither of them. Yevgeny refused to play that game. So banal yet so much
              truth when one stops to think.
            </p>

            <p>
              The evening dragged on, and Monique served the liquid Yevgeny brought. She tried it and laughed, feeling
              the familiar burn in her gullet, but it was nice. It was the best vodka she had tasted, turning her face
              and neck into a lovely shade of red. Yevgeny commented, and she blushed more, giggling like when she was a
              teenager.
            </p>

            <p>
              After a couple more shots, Monique had to call it a night. Her liver was young and untrained, unlike older
              men. She shook Yevgeny’s hand, feeling tingles, then bit her husband’s ear and whispered, “don’t be too
              long. I want you.” Jim kissed her lips and patted her perfectly shaped behind, a result of everyday yoga
              and squats, promising to be with her soon.
            </p>

            <p>
              Monique didn’t see Yevgeny again till next year, January sixth. This time Kelsey was there, and the two
              women were arguing as always, one spoiled brat and another gold-digging whore as they called each other.
              All of it stopped at the ring of the bell, and Yevgeny walked in, bringing vodka and presents. The women
              immediately quieted down, staring at the man like seeing god. His powerful charisma pulled them in,
              capturing their imagination and leading it.
            </p>

            <p>
              “Happy Epiphany,” Yevgeny said, and the girls looked at him, sure they missed something. As the food was
              prepared, the man sipped champagne, telling a story, keeping the ladies mesmerised. “They say that
              mysterious events preceded the birth of the king in Bethlehem. Three magi Caspar, Melchior, and Balthasar
              travelled far with gifts of gold, frankincense, and myrrh for a child.” It was the story of Christ, and
              this day was celebrated as the three kings day. It was also an orthodox Christmas according to the Julian
              calendar, which was thirteen days after the Gregorian one used now as a de facto standard around the world
              for measuring time.
            </p>

            <p>
              Yevgeny was Russian, and they used the old calendar to celebrate religious events. Jim knew the old man
              would be in England so he wanted to give him a celebration like the one at home. He even hired a Russian
              chef to make a range of delicacies. Yevgeny and Jim got really close working together on joint projects,
              almost like father and son, and Jim wanted to thank him for that.
            </p>

            <p>
              The girls squealed like piglets when opening their presents. Each got a gorgeous diamond necklace with a
              pendant, one with opal, the other with jade. Jim raised his eyebrow at the extravagant gift, but the old
              man laughed, waving his hands to forget it. The precious stones came from his mines, costing him a
              pittance. It was a lesson in perspective on how people attribute different values to what they consider
              priceless.
            </p>

            <p>
              Jim watched with interest and surprise. For the first time, the two mortal enemies seemed to have put
              their differences aside. They helped each other to put on their necklaces, comparing stones and preening
              in front of a mirror like a pair of rainbow lorikeets. They looked beautiful. Jim sucked in a deep breath
              expecting the moment to pass and an explosion to happen, but everything was fine. Somehow Yevgeny’s
              presence seemed to affect the ladies and stop them from jumping at the throat of each other. It felt
              strange and pleasant, almost like having a family again.
            </p>

            <p>
              He turned to Yevgeny and saw him smile after the girls left. The old man poured more vodka and raised his
              hand. “Za lyubov, for love.” The two men drank and threw their glasses into an open fire, pouring another
              round into fresh ones. “Thank you for inviting me to your house, Jim and offering this meal.”
            </p>

            <p class="center">***</p>

            <p>
              My eyes opened just in time for sunset. I had this vivid dream I didn’t want to leave. I sat somewhere
              surrounded by water. The moon and the stars were so bright and so near. Entire planet reverberated by a
              soft tremolo going up and down the notes contrasting the soft tune sung by little children in a language I
              couldn’t understand.
            </p>

            <p>
              All sounds morphed into a soft whistle merging with the lightest of soprano notes. It was dark and
              uplifting, sad and cheering, taking me on an emotional rollercoaster journey from the deepest of darkness
              to the brightest of lights. I felt every atom of my being reverberate and change, transforming into
              something else. The water felt so smooth, warm and inviting. All I wanted to do was to swim in it,
              imagining I was a fish. Oh, how I envied them. To swim without drowning, explore the depths and secrets of
              the oceans, and connect with the waters on some profound level.
            </p>

            <p>
              “I wish, I wish I was a fish.” I caught myself chanting. Trapped in the ocean of dreams was a blessing. If
              only I could grow a tail and fins like the big fish and drink the waters without dying. What if I had
              guilds? I could live in the sea, free from worldly problems. It all felt so soft and magic, terribly
              inviting. If only, if only.
            </p>

            <p>
              It took a few moments to get used to the sunlight. I understood why people sail their boats. There is no
              sight like that; you can’t tire of it. It was something natural, primal, baked into our genes. I didn’t
              know if we evolved from sea creatures or were created by a higher intelligence. Regardless of how we ended
              up on this planet, it was made for us, or we were made for it. The sunset over the ocean spread from one
              eternity to another. I felt tears well in my eyes, looking at the majesty of our existence. At that very
              moment, all we achieved as a race seemed silly. The planet provided enough, and we didn’t need more.
            </p>

            <p>
              The quiet sounds filled the air. “Am I still dreaming?” It didn’t matter. What is life but a fleeting
              moment, a dream within a dream? It made me smile. I sounded like my old Russian friend. Slowly I was
              transforming into him. Maybe that was the plan. In the end, he promised to take Rusalochka into the ocean.
              Did he even exist? Was my life a dream? It didn’t matter, either. I was too far, too connected with this
              moment to care.
            </p>

            <p>
              The sky turned from blue into black, like someone pulling the curtain to reveal the universe behind it. I
              smiled and waved to millions of planets, imagining someone waving back. It didn’t feel so alone. A splash
              came, then another, and I crawled towards the side. I don’t know how, but I knew she would come again
              later at night.
            </p>

            <p>
              Like last time I placed my hand into the water and waited. My mind was far away, listening to the sound of
              an organ vibrating between the waves. It was the sound of sunset, which now that I heard it seemed like I
              had listened to it all my life, yet somehow it slipped my mind.
            </p>

            <p>
              Her gentle fingers touched my hand, and I squeezed, pulling her out. The woman from last night appeared,
              but this time I was ready and saw her clearly. Her hair was like I remembered it, only much longer than I
              assumed. It almost touched the ground when she walked on her two long slender legs, beautifully shaped.
              She was by far the most beautiful woman in the world, or at least I haven’t seen any more beautiful than
              her. She couldn’t have been older than twenty. Her skin was ivory white and porcelain smooth. She had
              incredible curves. The way she moved was like in slow-motion films, mesmerising, seductive, enchanting.
            </p>

            <p>
              When she smiled at me, I saw two rows of pearly white teeth, surrounded by lips, so red and juicy, made
              for the kisses, but her eyes took the prize. Her two windows to the soul were like a quiet ocean
              reflecting the stars, and I gasped. Her hand touched my face, and I took it into mine, looking at her
              long, thin, feminine fingers. The woman looked exquisite, about five feet ten, with every inch of her
              perfect.
            </p>

            <p>
              I don’t know how long I stared at her. The time stopped, frozen in the moment. It could have been an
              eternity. None of it was real. When she turned me around I saw a table and chairs set on the deck with a
              soft white tablecloth, plates, glasses and wine, and a covered silver tray. She smiled, looking at my
              mouth water and led me there, then watched me eat. I was starved and parched and ate like a monster,
              savouring every morsel, enjoying every taste.
            </p>

            <p>
              The lady of the sea fed me with delicacies, and I ate far more than I could digest. Out there, the sound
              got louder, and a melody formed, so she danced with me, and I felt like dancing on clouds. Deep in my
              mind, I knew it was all a product of my imagination, but I surrendered to the magical world of the moment.
              What is there to lose? “You live only once.” The words of my Russian friend came in waves. There was no
              point in worry or fear. The mind makes curious things out of thin air.
            </p>

            <p>
              I lost track of time. It could be moments or hours dancing the night away. The next time I looked around,
              the table was gone, and the two of us sat on the ship, looking at the moonlight reflecting on the water.
              It was a full moon again, going for days. That’s how I knew none of it was real. The time passed, but
              nothing changed, only me, slowly dying, losing my mind.
            </p>

            <p>
              There are worse ways to go, I would imagine. Whatever I experienced was a beautiful product of my
              fantasies, wishing for something I couldn’t verbalise. How does a crazy person know he was insane? Is a
              sane person in a lunatic asylum the crazy one? It is all relative. I knew I wanted to live, not the life I
              lived but the little life I had left. I surrendered myself to the fantasy for as long as it lasted,
              ignoring the fourth wall between me and the audience.
            </p>

            <p>“What is your name?” I said, wishing to know how to address my imaginary saviour.</p>

            <p>
              “You know.” She smiled at me, playing with my hair gently, wrapping it around her fingers and letting it
              go. The strange thing was I knew indeed but couldn’t believe it, even in the fantasy my mind was creating.
              It was crazy, but it made sense. The old man Orlov promised to take her home. He spoke of her like
              someone. “For you, she’s just a ship. For me, she is love.” I always dismissed it as something impossible.
            </p>

            <p>
              The stars dimmed, and the moon left the sky. I closed my eyes in her warm embrace as she hummed a lullaby.
              “Will I see you again?” I said in a sleepy whisper, and she stroked my hair. I rested my head on her
              bosoms, listening to her heartbeat. One, two, three, I counted for a minute before the world melted away.
              My last words were, “I waited for you, like I promised.”
            </p>

            <p class="center">***</p>

            <p>
              The loud drumming of waves resonated in my head as sharp, hot pokers of pain shot through my eyes, ending
              somewhere in my gut each time my heart ticked or tocked. I sighed from intensity, inhaling the cool breath
              of the morning. It was hard to tell what time it was, but the sun was still close to the water.
            </p>

            <p>
              “Ahhh, please stop,” I said with a cry that quickly got lost in the vastness of the open sky. My body
              hurt, and my head was pounding. “I would kill for morphine,” thinking the regular pills wouldn’t help.
              Over the last several days, my pain got worse, almost intolerable. Too much to ignore and not enough to
              faint. It was torture.
            </p>

            <p>
              My vision blurred every few seconds as the terrible pain worked through, and then I would have a minute or
              two to breathe before the cycle started again. I couldn’t imagine what was wrong with me. Perhaps some
              internal damage beyond what I could touch, prod and poke with my hands. The only good side was that I
              didn’t feel like drinking or eating, still full from my imaginary banquet.
            </p>

            <p>
              It was quite convenient to dream of a woman coming out of the sea to feed and dance with me, then hold me
              in her arms till I fell asleep. If only the reality could be like this. If only we could have all our
              dreams fulfilled. It worked for some people, but not for me. Yevgeny lived a charmed life and had
              everything he wanted except this one thing I took from him. His love.
            </p>

            <p>
              Over a year had passed since the old man’s death. I still couldn’t get him out of my head. I half-expected
              him to come out of nowhere with a bottle of vodka and call me over. “Fine mess you got yourself in, son.
              Soon you will die, but look, no rain.” It hurt me to laugh, but it was funny. I could imagine him saying
              something like this. He lived a full life by his own rules. It is hard to feel sorry for a man who lived
              his life without regrets.
            </p>

            <p>
              Somewhere deep, I suspected Yevgeny knew he was going to die. Why build a ship, then? Why procrastinate
              and take five years to finish it? He had more than enough cash to buy the entire company. It was as if he
              was building a dream like mine, in which he didn’t intend to participate. Out of all things he could bring
              there, why did he choose the egg? Why was the ship named after it? Was it real? What was it? Did it belong
              to the sea? Was it a pearl or something else?
            </p>

            <p>
              “Ooooh, the headache. My bloody head.” I writhed in a shadow for a while in terrible pain. “Thinking is
              bullshit.” I wished for scotch or any strong spirit. I’d love to get some of the old man’s vodka right now
              to kill the stupid brain cells. “Thinking is bad.” The hardest thing for me was letting go of thoughts,
              letting chips fall where they may. I ended up a control freak, just like my father.
            </p>

            <p>
              He was the man who had to have everyone under his thumb. Words or physical strength made no difference.
              His will be done; that was the rule. I couldn’t imagine anyone marrying such a man. In some ways, my
              mother was lucky to die and never experience the misery that followed, all the pain.
            </p>

            <p>
              “Let it go, Jim. Let it go.” My mind kept going back to the old life. I did not know how long I had and
              didn’t want to spend a second remembering that. Perhaps that’s why my mind invented the woman as a sort of
              self-preservation mechanism. “It won’t be long now.” It surprised me to last even this much without food
              and water, laying in a shadow on the deck of a half-sunken vessel.
            </p>

            <p>
              I forced myself to crawl to the edge despite shooting pain. As soon as I touched the water, the big fish
              appeared. “Good morning, my darling,” I touched her skin. She felt strong and cool to me.
            </p>

            <p>
              “You are so beautiful. I’ll miss you after I die,” assuming there is that other place people call heaven.
              I didn’t believe in any of that or anything else. No tarot or magic, no tea leaves or palmistry. We are
              born, and we die. That is the great circle of life. I failed to see anything more than intellect, without
              soul or something greater. It was like the biology books said. We are nothing more than clever monkeys, no
              god, no magic.
            </p>

            <p>
              It is hard having faith, praying every night, kneeling next to bed. Empty wishes for gullible people so
              they could go on from day to day without killing themselves and cause trouble to their employers looking
              to replace them. There is no life, no fate. There is nothing to believe or pray to forever. Only this and
              now, the life we have. There is no love.
            </p>

            <p>“Your heart is empty, son. You need someone to love.”</p>

            <p>“I am married.”</p>

            <p>
              “We all have a woman like that. Today one, tomorrow another. I am talking about love”. As always, the old
              man was right. I was married two times, two women I didn’t love. I loved no one except for that one time.
              Back then I was just a kid, and it ended with a disaster. I burned the exact moment when my heart broke in
              my mind, and I buried my love deep inside. The only other person I loved after was Kelsey, my beautiful
              daughter, but it was a different love, more like loving yourself. I never again felt my heart on fire. I
              never again felt that kind of desire, and here I am.
            </p>

            <p>
              “What does the victim get from all of it?” I imagined Yevgeny asking. “Your whole life is a compromise.
              You worked yourself to the bone for others, but what did you get in return. Did any of this make you
              happy? Do you feel loved?”
            </p>

            <p>
              “I will not dignify this with an answer.” I imagined the old man’s grimace before he laughed and slapped
              his knee, pouring another round of fine vodka, clinking our glasses for love and throwing them overboard.
              He would be right; I was still petrified. Three decades had passed since Naya disappeared, and it still
              scared me to return to that moment. I held her in my arms, and she vanished like a dream. Was she even
              real?
            </p>

            <p>
              The fish jumped up and dived, splashing me with a few water droplets. It was getting hot outside, so I
              crawled back to the shadow. So strange. Still feeling no thirst or hunger. My pain subsided a little,
              still throbbing like hot poker but less. It turned into a dull ache, almost like my stomach and chest. I
              pumped my hands into fists to get the blood flowing and tried to stretch my leg until a sharp pain
              dissuaded me from that.
            </p>

            <p>
              Yevgeny was right. He was likely right all his life; life is wasted without love. I loved once, just for a
              moment, before locking myself brokenhearted afraid to love again, afraid to live, living out the
              compromise, I called existence. It has been hard to organise my thoughts lately. They all came jumbled
              from one moment to another. I lost track of time. I didn’t know if I was awake or dreaming. It was hard to
              differentiate between fantasy and reality. “Confusion, thy name is Jim.”
            </p>

            <p class="center">***</p>

            <p>
              This time I watched as the curtains fell and the stars emerged from the endless ocean of the universe. The
              full moon stood high in the sky and the man in the moon winked at all of us with a smile. The sea was
              placid, like glass, like a thin line between two worlds up and down. This time I sat on my own listening
              to the song, the tones equally happy as they were sad. They drew me in, called to me, pulling my heart’s
              strings, but I sat wide-eyed, waiting for my princess.
            </p>

            <p>
              I saw a fin, and then a big fish jumped, creating a few ripples, making small waves. A hand appeared, and
              another before the beauty of ages climbed out naked. She stood there in the moonlight, offering love. I
              raised my arms, and she knelt next to me and let me play with her hair. Those eyes, long lost and
              forgotten of a girl I once loved, same but different. She smiled when I touched her face. She touched mine
              and rubbed my stubble.
            </p>

            <p>
              It amused her to study my wrinkles and my lips, touching me gently, and then I licked her fingers. I was
              past caring, past my self-consciousness. I just spent a day torturing myself with what could have been if
              life had been different. The more I planned my life, the more control I exerted, the faster it slipped out
              of my hands like sand, and the worse it turned.
            </p>

            <p>
              I touched her nose, and she giggled before gently biting my finger. I played with her soft lips, imagining
              kissing them. Her face was close to mine, and I was mesmerised. Real or imagined, it made no difference.
              She saved my life, took care of me and offered love.
            </p>

            <p>
              She put her hand into mine, and our fingers entwined. I felt her hot breath along my neck as she hugged me
              tightly. Nobody hugged me this way for decades, and nobody did it naked. I hugged her back and inhaled her
              scent; she smelled salty and feminine.
            </p>

            <p>
              When I looked up, the table was set like last night, and she sat on the other side, watching me eat and
              drink wine. Her eyes were big like planets and her lips mimicked how I chewed. I found it funny and
              chuckled. She giggled from the other side. I had so many questions to ask her, but they were all
              irrelevant. She was the figment of my imagination, and I knew all the answers already. Even if I didn’t,
              what would it change? This was as perfect as I could imagine.
            </p>

            <p>
              Like last night she took my hands, and we danced in the moonlight until before dawn. I was still full of
              energy, and I walked her to the side of the ship. She climbed the railing turned, and smiled before
              jumping off it and dived. The next moment big fish jumped out and dived back into the ocean. I put my hand
              in the water to say goodbye. She came to me and rubbed her head before jumping one more time and
              disappearing into deep water.
            </p>

            <p>
              I stood on the other side, watching dawn for the first time. I could feel the eerie stillness in the air
              and watch morning mist rise from the water. The world vibrated with a different note before the fiery
              curtain started turning blue. The moon went away, yielding the sky to the day, sprinkling little waves
              with yellow-red diamonds and a breeze blew.
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Big-Fish-Rumpel-Stiltskin-ebook/dp/B0BHJKVZ31'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <!-- <a href='https://apple.co/3zSPgfs'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a> -->

              <!-- Google -->
              <!-- <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Montana?id=ftFBEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a> -->
              <a href='/books/big-fish/preview/chapter-7-little-secrets' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 7 - Little secrets >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
     
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
