---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Big Fish | Chapter 10 - Silver girl'
  description='Big Fish novel by Rumpel Stiltskin'
  image='/images/big-fish.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/big-fish.jpg' class="big-cover-img" /> -->
          <p class='emp grey'>BIG FISH</p>
          <h1>Chapter 10 - Silver girl</h1>
          <div class='biggest'>
            <p>
              The group stood up, repeating the words of a middle-aged woman dressed in all white, wearing a delicate
              gold necklace with an oval pearl attached. Kelsey and Tatum kissed each other. It was a lovely ceremony
              and proclamation of undying love. They were a married couple now, as witnessed by almost a hundred friends
              standing up, reciting the verses. “Through my eyes, my mind and my soul, I feel your love is strong, and
              your words are true. I recognise this marriage as a gift of Origin and testify to that in front of all.”
            </p>

            <p>
              Six months had passed since the girls returned from America, bringing with them a range of impressions. It
              wasn’t the only thing they carried. They brought the Origin with them; the girls found faith. In the
              darkness of worry and doubt, sunrise showed them their path. Arla lifted her hands and welcomed the Origin
              into their lives, awash with joy and the gift of light. “Blessed are the gifts the Origin gives.”
            </p>

            <p>
              The girls stayed three weeks in San Diego, visiting Jim every day. Sometimes he was lucid, but mostly
              slept. During that time, they made friends, listening to the stories of Origin from Dara and meeting the
              others. By the time they returned to England, they had no doubts, spreading the word and inviting their
              friends to the top of the buildings at dawn to welcome the new day.
            </p>

            <p>
              It took Jim four months of therapy to recover from everything. The girls booked him a first-class ticket
              and picked him up at the airport in London. It took him a while to recognise his house. After Monique
              left, Kelsey hired interior decorators to remove any trace of Monique, like she was just a bad dream and
              never existed. The team did such a thorough job that Jim had trouble figuring out where’s what.
            </p>

            <p>
              After the girls retired, Jim made his way down to his man cave and sat on a chair. It was as he remembered
              it, but it looked different, like he was out of place. “It must be the meds.” He got six little white
              plastic containers full of colourful chemicals. One suppressed this, another enhanced that into a careful
              balance some people call normal. It made him feel dull, living a life he didn’t recognise.
            </p>

            <p>
              He checked the Shakespeare on the shelf, and it was still there, the latch behind King Lear that led to
              another place. A secret room behind a man cave. Jim saw it once in the movies when still a kid. He
              couldn’t remember if it was Dracula, Frankenstein, or something else. Thinking of the early days made him
              chuckle. One of the original houses they knocked down had a double basement. Jim didn’t know what they
              used it for, but he adapted the design to create a little hideaway. It was going to be his own personal
              hideaway.
            </p>

            <p>
              Jim looked through the library and found a well-used book with colourful covers. It was Kelsey’s favourite
              when she was little. Jim locked up and went upstairs to take a shower and lay in bed. The room looked
              pleasant and unfamiliar. It was hard to remember the previous life. He looked through the window, no stars
              outside, switched on the night lamp and read to the ghosts in the night. “Once upon a time, a Miller died.
              He had three sons.” This he remembered.
            </p>

            <p>
              What is life other than a series of beautiful moments you carry in your heart? Jim had a few of those. One
              could say he had his fill. He learned that there was no light without darkness and always moved forward
              toward the end of a tunnel. More-better is a dangerous mindset. Once you reach one goal, you make another.
              Sometimes one has to stop and take in the moment, live in the now, and seize the day.
            </p>

            <p>
              It felt strange to him to be home again, in his own room, in his own bed. He felt much older, like someone
              had sucked away his life. Kelsey didn’t need him; neither did Monique. He had enough for himself to live
              out his days. He could wake up in the morning, have a healthy breakfast, exercise a bit, and go for a
              walk. The days would pass, one after another, while his hair got grey. Today is Monday, and tomorrow is
              another. It made no difference when you’re not moving forward, just sitting static, watching hands turn
              from twelve to midnight, occasionally meeting family and friends, watching your grandchildren grow,
              sometimes reading stories to them.
            </p>

            <p>
              Jim recited a song by Visage that seemed so apt at the moment, echoing how he felt. At the end of the day,
              we all fade to grey. Dr Shipman was right. Jim spoke more than one language, eleven to be exact. They call
              a person who speaks two languages bilingual, three, trilingual, five, a polyglot. How do they call a man
              who speaks only one language? Englishman. None of it applied to Jim.
            </p>

            <p>
              Thanks to advanced pharmaceutical science, falling asleep was a doddle. Jim closed his eyes, and darkness
              swept him away; no demons, no angels, no mermaids. He might have as well been dead. How would he know? How
              could he tell? He asked the same of his psychiatrist, and he had no answers either. How do you know you’re
              alive in the world instead of creating the world yourself in your head?
            </p>

            <p>
              Jim preferred it the other way because the world he lived in sucked. He wanted to live; he wanted to love.
              He wanted to be together with the woman he had chosen. It comes down to love. Does it matter if it was
              real? It was real to him; that was the point.
            </p>

            <p>
              The girls woke up early and tiptoed around the house. Jim thought they assumed he was still sleeping. He
              followed them quietly, sticking to shadows as they climbed the stair to get onto the terrace, a recent
              addition to the house. The girls turned eastwards, disrobing beforehand. They raised their arms, and the
              sun came out. Jim saw them shiver and hum. They could hear the dawn, but he couldn’t anymore. It was
              beyond his dulled senses to connect with the universe, to feel the tremolo of stars and planets and hear
              the call of the sirens. For him, nothing, just bitter silence.
            </p>

            <p>
              Tears rolled softly down Jim’s face as he compared what he lost with what he gained. It wasn’t fair to
              live this way. This so-called reality, with no magic. “Would you stop with this nonsense? There is no
              magic, Jim. Stop fooling yourself.”
            </p>

            <p>“No, dad, please don’t,” he begged him not to take his books and drawings.</p>

            <p>
              “This is a waste of time; now bring me that belt. I’ll teach you something.” Jim was only twelve. He
              wanted to believe, he wanted to escape. There is no escaping yourself except in a world you created, where
              you don’t have to hide under the bed, listening to heavy footsteps going upstairs.
            </p>

            <p>
              Time passes, and life changes. You sow the wind and reap the whirlwind. That is at least what some people
              say. Jim grew bigger and stronger; his dad got sick and helpless, still controlling Jim’s life.
            </p>

            <p>
              “No, Jim. What are you doing with that pillow?” Life. Such a fragile concept. The jug goes to the well
              until it breaks. The story of Humpty Dumpty reminded Jim of something. Four score men and four score more
              could not make Humpty Dumpty where he was before.
            </p>

            <p>
              How would Jim explain what he saw there? How would he tell them about the egg? Dr Shipman was smart, but
              he wouldn’t understand. She did; his big fish. Jim couldn’t see her, even in his dreams. He talked, she
              listened, and then after the sunset, she would come out as a beautiful mermaid, his Naya, the love of
              Jim’s life.
            </p>

            <p>
              The girls came down for breakfast. Jim cooked up a storm in the now remodelled kitchen. Kelsey bought all
              the new, fancy appliances. He made eggs florentine, pancakes with maple syrup like Tatum liked, coffee and
              Ovaltine, Kelsey’s favourite. Both girls hugged Jim tight, happy to see him alive and about.
            </p>

            <p>
              They still had classes and assignments put to the side so they could babysit him instead. It wasn’t fair
              to them, but neither said a word nor made any gesture suggesting this was the case. The girls were glad to
              see Jim back, nursed to health. When he brought it up once, they felt insulted.
            </p>

            <p>
              “I have responsibilities now, back in the office,” Kelsey said. A song by Harry Chapin popped into Jim’s
              mind. It was all a little before Kelsey’s time. She looked at her father, hugged him tight and said, “I
              love you, dad.”
            </p>

            <p>
              Jim hugged her back and kissed her forehead. “I love you too, Kelsey. You know that.” She smiled. They
              were a family again, but now she had a wife, or whatever the same-sex couples call each other after they
              get married. In modern times, kids grow up to be a disappointment to their parents as much as when Jim was
              a kid, but not Kelsey. He was proud of her. She forged her own destiny and didn’t grow up to be just like
              him. Take that Harry Chapin.
            </p>

            <p class="center">***</p>

            <p>
              Two months passed, and I was finally off suicide watch, still popping psychotropics like a tic-tac, but it
              meant I proved stable enough to stay home alone for a few days, provided I kept up my weekly consultations
              with a specialist, delving deeper into my psyche. I was sure they found my psychosis entertaining.
            </p>

            <p>
              One day, Kelsey was away. I heard the bell ring and let a suited man in. He carried a briefcase, looking
              like a lawyer. He sat in a reception room and opened it up, fishing out a yellow manila folder with a
              bunch of documents.
            </p>

            <p>
              “I have some good news, sir. We finished our assessment and found that everything was as you said.” They
              cut me a cheque for fifty-two million pounds, the total insured value of the ship that sank. I bet Lloyd’s
              underwriters were having a bad day. This kind of cash is anything but loose change.
            </p>

            <p>
              The man had me read and sign a bunch of documents. After he left, I put on my clothes and made my way to
              Lloyds across the street.
            </p>

            <p>“I would like to open a personal bank account and deposit a cheque.”</p>

            <p>
              “Please, sir, fill in this form, and I’ll help you do that. I need your driver’s license and proof of
              address; any utility bill would do with your name there.” I handed him everything, including the cheque.
              He looked at it and made a double take.
            </p>

            <p>“Excuse me, sir, for a minute.” Moments later, a well-dressed lady appeared, all smiles.</p>

            <p>
              “I am a branch manager. Please come with me. Would you like a cup of coffee?” I guessed not every day a
              man walks in from the street and deposits millions of pounds. She told me I qualified for their
              super-duper accounts, not in those words exactly.
            </p>

            <p>
              It took us an hour and some minutes to get everything done. Claire typed on her computer like a maniac,
              making sure I had access to everything, anything I wanted, a chocolate cake on my birthday. The cheque
              cleared straight away since the same bank issued it, and I walked out as a wealthy man; no need to work,
              no future, no plans. I wandered around London, to King’s cross, then took a bus and another, watching the
              world go by from the above.
            </p>

            <p>
              At Piccadilly Circus, I hopped off and cut through SOHO to have a meal. Then through Oxford street,
              looking at shops, Marble Arch, into Hyde park, where I sat down, throwing seeds and breadcrumbs to pigeons
              and squirrels. There was nothing else to do with my life. I felt melancholia consume me. The memories spun
              like a peg-top with pictures glued on its side. When I focused on one, the film would play. How did I get
              here? I was a young man just yesterday.
            </p>

            <p>
              I almost jumped, hearing the pinging of my Apple device. Kelsey bought me a watch and set it up to tell me
              when I should take medicine. I reached for the plastic container in my pocket and saw them, poisons to
              keep me sane, not to me, but to them. The people on the street were the arbiters of my life. I tilted the
              bottle, and the pills spilt on the pavement. Pigeons took them in their beaks and spat them out.
            </p>

            <p>
              “That’s right. You know what is good for you and what is not.” I smiled, looking at the animals. They
              didn’t need anyone telling them who they were. What they had was enough, and they lived a full life. One
              needs pills to survive big cities. Nothing natural in them. Sometimes I thought aliens built them to study
              humanity in its worst and best, like one does with an ant farm glowing at night.
            </p>

            <p>
              With a long sigh, I stood up and cut across the grass into a candy shop. They had sweets of all shapes and
              sizes. I bought a few bags and refilled my medicine bottle before taking a stroll down Queensway to Pret a
              Manger and sitting down, ordering Bangers and Mash and paying for it with my new debit card. I could
              afford it. I was a multimillionaire now. It made me chuckle.
            </p>

            <p>
              Sated and relaxed, I made my way, strolling through Westbourne Grove, turning into the Eastbourne terrace,
              past Craven street and Dylan Dog’s place into Praed Street toward Edgware. So many memories. I remembered
              everything. I was there when they opened a Lebanese kitchen on London street next to the Dickens Tavern.
            </p>

            <p>
              A hundred yards down, I saw a homeless man. His name was Mike. He had sat at this spot since I could
              remember. I sat next to him, and he offered me a drink. I needed that. The city looks so big when sitting
              on the ground.
            </p>

            <p>
              “I have a job for you,” and Mike nodded. He packed his stuff and followed me to Marks and Sparks at the
              Edgware corner. He used their disabled bathroom to take a shower and make himself presentable. By the time
              he was done, I had bought him a brand new suit and shirt, even socks and underwear. A quarter mile down
              was a used car shop, and I bought a Mercedes for a good price, putting it in Mike’s name.
            </p>

            <p>“Where to guv’nor?” He smiled.</p>

            <p>“What happened to your bacon pal, mate?”</p>

            <p>
              “That bender is barney. He and him lemon took me for bees. I’ll serve him a punch up north next time I see
              him.” It made me laugh. Mike and Ifty were always in some sort of quarrel.
            </p>

            <p>
              “We better be off on the frog; just get us to Poole on the bird.” Mike nodded and put the car into gear. I
              closed my eyes and fell asleep. The pain started again, and so did the ringing in my ears. You can lead a
              horse to water, but you can’t make it drink.
            </p>

            <p>
              A good thing about homeless people is they require little maintenance. Mike reached Bournemouth in the
              middle of the night, parked up, and slept. We woke up just after seven and stopped at Britannia hotels.
              They made a good buffet breakfast. I laughed, watching mike stuff his face with fried sausages and hash
              browns before loading up his plate with fried eggs and ham.
            </p>

            <p>
              “What? Protein. I’m on a Keto diet.” He always cracked me up. It was a little-known thing to us city kids.
              Mike was the King of Praed Street. He’d get a kickback from all the shops for keeping their windows whole.
              Even the police had a deal with him. If beggars showed up in the area, he would sort them out and send
              them away. That’s why they called him Big Mike. He had his ear to the ground and knew everything that
              happened in Paddington and Edgware.
            </p>

            <p>
              Little known to everyone, Mike had a sizeable account and owned a dozen luxury rental properties around
              London. All of them were corporate assets of a company he owned, registered in the British Virgin Islands.
              Mike never paid tax in his life, and because of who he was, the taxman looked the other way. He even got a
              disability pension and a homeless allowance. When someone needed him, Mike was always there, a resident
              problem solver at a rate of a grand a day plus expenses, no phone, no address, and no bills to pay. Not a
              single crime happened on Praed Street since he sat there. Every week the shop owners would donate hundreds
              into his worn-out Heinz baked beans can before locking up and going home.
            </p>

            <p>
              I paid up while Mike brought the car around. Half an hour later, we stopped at the Sunseeker yard. The
              assistant manager ran out to greet me. Mike waited in the car while they offered me tea and biscuits.
            </p>

            <p>
              “I am sorry for what happened, but glad to see you alive. We have an entire team analysing the report.
              That must have been one terrible storm.” Everyone was nice, cosying up to one of their customers. They
              knew the story of Rusalochka. The ship was in their yard for five years.
            </p>

            <p>
              When all the excitement passed, and I was alone with the manager, he looked at me, all business and
              concentrated. “How can we help, sir?”
            </p>

            <p>
              “I need a ship.” The man swallowed, looked at my face, and nodded. He buzzed his secretary, and she walked
              in. Together we walked out, and the manager led me to another hall.
            </p>

            <p>
              “This is our showroom unit. Sunseeker Predator, sixty feet with all the kit. We weren’t planning on
              selling it, but make us a good offer, and you can have it.” They watched me climb inside. This wasn’t
              Rusalochka, not even close. The ship had all the bells and whistles, but not on the same level. It was one
              of Sunseeker’s flagship vessels, a little bland in comparison, not at all personalised.
            </p>

            <p>
              They watched me sit in silence, taking a deep breath. My mind was miles away. An hour later, we were back
              in the office, drinking coffee and looking at numbers. The manager smiled; I was an easy target.
            </p>

            <p>“I could let you have it for three million easy.”</p>

            <p>
              “Only if you deliver it.” He thought about it, playing with a calculator. We shook hands, and the
              secretaries brought the papers. The entire office gathered to watch me log into online banking, and a few
              clicks later, I was three million poorer.
            </p>

            <p>
              The manager threw in the mooring fees and all the training and licenses with their preferred partner. He
              shook my hand, pleased with himself for ensuring the Christmas bonuses.
            </p>

            <p>
              “Once you get your sea legs, a?” He joked, assuming that now we had become friends. I nodded goodbye and
              pointed at my watch. Time’s got wings, Tick-Tock, Tick-Tock. He got the message right back to business.
              Daylight’s burning, no time to waste. A lot had to be done in a short time, but he was right. The sense of
              freedom and open waters gets under your skin, into your bones. The memories of my first morning waking up
              by a beach and eating freshly caught fish were on repeat. I missed that, the smell of the sea and the sway
              of the waves. Most of all, I missed the sunset and waving to people on other planets.
            </p>

            <p>
              The trip back to London was predictably uneventful. Mike dropped me home. “You know where to find me.” He
              winked and sped away. Kelsey was right; the house needed a terrace. I made a cup of coffee and sat on a
              heavy garden chair. The sky was dark, with no stars in sight. That was normal for this time of year. I
              closed my eyes and heard the hum. It was back; it just slept for a while.
            </p>

            <p>
              “I missed you,” I said; nobody answered. I didn’t expect it, but I smiled anyway. Sometimes life can be
              full of surprises. Sometimes we make mistakes, but we get up on our feet, dust off our knees and live to
              fight another day.
            </p>

            <p>“Life is pain, kid.”</p>

            <p>“No, dad. Life is what you make of it.”</p>

            <p class="center">***</p>

            <p>
              Alba watched Monique tap her feet at the table while absent-mindedly nibbling on Parmesan puffy pastry
              breadstick, pulling off little seeds with the tip of her pink tongue. Alba never enjoyed a company as
              refined as that, feeling perhaps a little star struck. Working as a personal assistant was for someone so
              rich and beautiful was a lifetime chance and she held on to it with her teeth and both hands, ready to do
              anything she was asked, no matter what. Monique dressed to impress, resembling a man-eater on a prowl with
              her long red velvet dress and high Louboutins. Occasionally she would dab her forehead with folded scented
              tissue before drying the palms of her hands.
            </p>

            <p>
              It’s been almost a year since she last saw Jim. Kelsey told her he’s changed, how much remained to be
              seen. Their anniversary was coming up, and she felt depressed until a few days ago when she got a
              handwritten letter. It was just like Jim, to write in delicate cursive. She still remembered asking him
              about his weird hobby, calligraphy.
            </p>

            <p>
              Jim could draw beautiful letters in English, Arabic and Chinese, the languages he was fluent in, and a few
              more she had never seen before. Monique and Jim couldn’t be more different, sharing a small subset of
              common interests. Still, there was a bond, a deep emotional something that bound them together. It wasn’t
              the love but something else, equally meaningful and intense.
            </p>

            <p>
              Monique saw a man with a shaved head and grey beard enter the restaurant, and her heart skipped a beat.
              She could barely recognise the man. So much has changed. A long, healed scar on the top of his skull made
              him look mysterious, even frightening, but it wasn’t just that. Jim’s body language has changed. He wore
              all black; black trousers, a black jacket, black shirt. The only things reflecting the light were his
              polished black shoes, the opal buttons on his black shirt and his sparkling blue eyes, looking a little
              like polished tanzanite.
            </p>

            <p>
              She swallowed, feeling aroused. There was something catlike in her ex-husband’s moves. Gone was the
              predictable businessman, replaced by someone with an enormous sense of command. He smiled and sat down at
              the table, waving the waiter over. Monique saw Jim acting like this only two times before.
            </p>

            <p>
              “Domaine Leroy Musigny Grand Cru, please.” Monique gasped. Jim that she knew would never pay twenty grand
              a bottle. Alba looked at the two, confused. Her eyes popped wide open when Monique leaned in and explained
              what Jim had just ordered.
            </p>

            <p>
              The two girls were inseparable from the first day. Alba became Monique’s confidant and best friend. The
              two girls shared a lot in common, and over time, their friendship blossomed. Monique had no dalliance with
              a single man since she got rid of Fred. She wanted to work on herself. Alba helped her with that, checking
              Monique into a support group for sexual addiction, making sure she went there and learned to live a more
              rewarding life.
            </p>

            <p>
              “We are not in a relationship anymore, but here is to our friendship.” Jim raised a glass, and Monique
              cried.
            </p>

            <p>
              “I’m sorry, Jim, so sorry about everything. I was a stupid bitch.” He took her hand in his. “Water under
              the bridge.” She jumped from her chair and landed on his lap, hugging him tightly and burying her face
              into his neck.
            </p>

            <p>
              Monique burst into tears, hearing Jim quietly singing Simon and Garfunkel’s song. It was over. This was
              one of Jim’s oddities that Monique appreciated so little. He used to sing his thoughts using old songs,
              leaving room for interpretation until she heard the music and the feelings it carried.
            </p>

            <p>
              There was something final about what Jim said. Never again would the two of them be together again. The
              jug went to the water too many times. They would remain good friends forever, but they would never be
              together. That ship has sailed. Like Jim said; water under the bridge, leaving fading memories.
            </p>

            <p>
              The other guests were shaking their heads and rolling their eyes, disapproving of the public display of
              emotions. “Fukem,” Jim said, making the two women giggle. There was something firm and commanding,
              something resolute in his voice. Monique found him attractive more than ever. He even smelled like someone
              else.
            </p>

            <p>
              The food arrived; lamb shank, grilled fish and oysters. Monique was about to remind Jim she was vegan, but
              saw him smile. He knew that. He wasn’t offering; Jim was telling. Out of the sheer strength of his
              character, Monique took a piece and ate. The taste explosion took her over, like an orgasm.
            </p>

            <p>
              “This tastes amazing. Here, try this.” She took a piece of lamb from her plate with a fork and stuffed it
              into Alba’s mouth. Both girls smiled and moaned, and the other guests heard them. The girls would care,
              but Jim said, “fukem.” There was something liberating in feeling his power.
            </p>

            <p>
              One bottle went; so did another. It was easy to drink expensive wine. The girls were quite tipsy by the
              dessert, tiramisu and fine chocolate mousse, paired nicely with ice cream and sliced strawberries.
            </p>

            <p>
              “Are you trying to seduce me?” Those were Monique’s favourites. Everything in life has a beginning and an
              end. If you love something, set it free. Monique hated her newfound freedom. She wanted to go back,
              bending over backwards. It took the reality of loneliness for her to sort out her priorities, but water
              under the bridge, as Jim said. Relationships are one-way trains.
            </p>

            <p>
              The girls were quite tipsy getting out. Jim was virtually untouched by all the alcohol. It was like he was
              drinking grape juice while the rest of them drank wine. He even had a couple of glasses of mature scotch,
              clicking the tongue to clear his pallet.
            </p>

            <p>
              “Who are you? What did you do with my husband?” Monique said, slurring her words. Both girls wobbled on
              their feet, clutching Jim’s arms not to fall down. A black Mercedes came out of nowhere. Jim opened the
              back doors and helped the women in.
            </p>

            <p>
              “Take them home, Mike. Make sure they are safe.” The car took off, and tires screeched. Jim took a deep
              breath and whistled a tune, walking through the streets of London, sitting on a bench for a moment before
              heading home.
            </p>

            <p>
              The two friends giggled like children getting into Monique’s central London apartment. Mike offered to
              drive Alba home, but Monique insisted she slept at her place. “It’s too far a drive to Hammersmith,
              anyway.” She had a look at Mike and instantly disliked him. He looked like a bum, put into a suit and a
              fancy car.
            </p>

            <p>
              “Can I say something without you getting upset?” Alba asked, dropping onto a king sized bed. Monique made
              a face and nodded, dropping next to her, holding her hand.
            </p>

            <p>
              “I am turned on by your husband. I like dominant men. He seems like someone who doesn’t take no for an
              answer.” It was a surprise to Monique. She felt the same way and tried to work out what had happened and
              what had changed. Getting no response from Monique, Alba continued.
            </p>

            <p>
              “From what you told me about him, I imagined him to be different. At first, I assumed it was some other
              man. Did you see the scar on his head? Did you see the way he looked at everyone? It was like the other
              guests were irrelevant, like he owned the place and others were just tapestry for his own enjoyment. Oh
              god, I am so. Ahem. it Doesn’t matter.”
            </p>

            <p>
              Monique saw Alba’s face and neck were flushed. She chewed her lip and rubbed her thighs together.
              Something happened, maybe from alcohol or maybe because Monique knew exactly how Alba felt at the moment.
              She leaned in and gave her a kiss. Alba gasped and rolled on top of Monique, kissing her like mad.
            </p>

            <p>“Wait! We shouldn’t do this. I am your boss.”</p>

            <p>
              “Remember what I said when you hired me? I am prepared to do anything.” Monique’s face fell and with it,
              her resistance. Alba was like a forest fire, burning hot, consuming everything in its way.
            </p>

            <p class="center">***</p>

            <p>
              “You are such an asshole,” Alba said to Kelsey, almost screaming in the privacy of Kelsey’s office.
              Kelsey’s face turned almost purple. “Haven’t you done enough damage? Grow up, you imbecile and smell the
              roses.” She didn’t give Kelsey a chance to respond before getting out and slamming the glass door so hard
              it cracked. “Take it out of my paycheck, bitch,” she shouted without looking back.
            </p>

            <p>
              It all started like usual. Monique was late for the board meeting first thing in the morning, and Kelsey
              let it rip. She would gladly hand over the business or sell it to someone if the estimated value didn’t go
              into hundreds of millions after they paid off the loans and sorted out all the problems. Everyone has a
              price. There was a chest with gold at the end of the rainbow as soon as the company went public.
            </p>

            <p>
              This was just about the only thing Monique and Kelsey could agree on. It bothered Kelsey that Demeter was
              hard to manipulate. He didn’t take sides and demanded commitment, regardless of how many shares anyone
              had. Being almost an even split, it was Demeter with the smallest piece that got to dictate the company’s
              direction, leaning either left or right. Both Kelsey and Monique knew that. The only way to neutralise him
              was to work together, but this would never happen.
            </p>

            <p>
              Kelsey wanted to jump at Alba’s throat and claw her eyes out. Something changed and went sideways when she
              was away. While Kelsey was in America, Monique built some respect in the office. Demeter loaded her with
              problems, and she took care of them, which was more than Kelsey ever managed.
            </p>

            <p>
              “Is it me? Am I the bitch?” Kelsey wondered, asking herself the same questions for years. Deep down
              inside, she blamed herself for all the nasty things she said to Monique over time. It wasn’t fair; she was
              lashing out. Kelsey felt hurt after her dad chose Monique over her to lean on and help him through a
              difficult time.
            </p>

            <p>
              Truth be told, love doesn’t know age. We can’t choose whom we love or whom we feel comfortable asking for
              help. Kelsey knew that for a fact. She’s been to too many group meetings and heard too many stories to
              think otherwise. Even though Tatum and Kelsey loved each other beyond measure, they never publicly
              declared their sexual orientation or relationship. It was nobody’s business. Neither girl wanted to be put
              in a box and labelled, then compared and measured, lectured on how to act and what to say. She did to
              Monique what she herself would never tolerate. It was below the belt.
            </p>

            <p>Kelsey walked into Demeter’s office and slumped in a chair. “I need to talk to you.”</p>

            <p>
              “No, you need to talk to her,” he said, pointing the finger at the opposite office without lifting his
              gaze. Kelsey sat staring for a minute. Demeter told her how things were. He wasn’t there to babysit
              anyone. She was a grown woman, capable of winning her own battles.
            </p>

            <p>
              Sometimes people say something hurtful, then realise they were wrong, but double down, so they don’t have
              to be the fools and apologise. This was Kelsey weakness. It was the thing separating boys from men, or in
              her case girls from women. Kelsey sensed she crossed the line, not today, but it was a cumulative effect.
              Today she was right, Monique was late and irresponsible, but Kelsey didn’t even give her a chance to
              explain.
            </p>

            <p>
              Knock-knock, “May I enter?” Monique lifted her head up from a bunch of documents. She allowed her
              annoyance to be clearly displayed all over her face. “I’m busy and don’t have time to argue.”
            </p>

            <p>
              “I came here to apologise.” Monique sighed, feeling exasperated, dropping a manilla folder on her desk.
            </p>

            <p>
              “I don’t need your apologies. We’ve tried that in the past. Just leave, please.” Kelsey ignored her and
              sat in a chair.
            </p>

            <p>
              “Here we go again. The princess does whatever she wants. How may I be of service? How can I make you feel
              better about yourself today? That’s pretty much why everyone is here, isn’t it?” Kelsey felt her hands
              tremble. Being talked to like this made her vision tunnel. She felt a volcano rising from inside, red-hot
              lava about to spill from her every pore.
            </p>

            <p>
              “Please, Monique, can we start over?” Monique burst into laughter. She leaned back so far that she almost
              slipped and fell off her chair, catching herself at the last moment and sitting closer to the desk.
            </p>

            <p>
              “You and I are done. I’ve divorced your father, we are not in any way related, but we work together, so
              please respect that. I don’t care what you think of me, but show me at least due courtesy as you would any
              other colleague.”
            </p>

            <p>“You took half of my dad’s company.” Kelsey exploded.</p>

            <p>
              “I was married to him, you cretin. He gave it to me. He was my best friend, and now I am alone.” Kelsey
              stopped in shock, seeing tears welling in Monique’s eyes. This wasn’t acting; it wasn’t fake. She was in
              genuine pain, and Kelsey made it worse.
            </p>

            <p>“Why would he do it if you didn’t ask for that?”</p>

            <p>
              “You don’t know your father, Kelsey. Nobody tells Jim anything.” It made little sense. Kelsey knew her dad
              well. He was kind and soft-spoken, always putting the needs of others in front of his own. Jim was a
              perfect provider and protector, a family man. He was as one-dimensional as they come. Jim’s life had no
              substance apart from being a hard worker. That much she learned from Irma, her mother. She had him wrapped
              right around her finger.
            </p>

            <p>
              “I saw him last night, just as friends. He changed a lot; he is a different man.” It made sense to Kelsey
              with all the pills he was taking. “He is finally getting the help he needed. Of course, he is feeling
              better.” Monique laughed again, shaking her head, waving her hand to signal the change of subject, but
              Kelsey went on, kept going and persisted until she got on Monique’s nerves again.
            </p>

            <p>
              “He’s not taking the pills,” she said, certain it was a fact. There was no way the man she met yesterday
              was on any kind of psychotropic medicine. He was sharp and collected, in control and self-assured. The way
              he looked at everyone was like an owl looking at mice.
            </p>

            <p>“I wanted to ask you but never found the courage. Why do you hate me so much?”</p>

            <p>
              “I don’t hate you, Kelsey, never did. I knew what you went through, and it was terrible. Just because
              you’re in pain, it doesn’t give you the right to hurt others. Even now. You sit in your office thinking
              about revenge. See this here? It is a pile of problems. I am working my ass off, trying to solve them, to
              prove to myself that I am capable and to earn money and respect of everyone here.”
            </p>

            <p>
              It was a bitter pill to swallow, and it hurt Kelsey’s ego, but for the first time since she met Monique,
              she really listened. Usually, she would just wave it off as bullshit and cover her ears, but this time
              Monique had a point. She already got everything she could want. Why not take it easy and enjoy her luck.
              Instead, Monique went far out of her way to work hard and put in insane hours, even on weekends.
            </p>

            <p>
              Kelsey was the one just sitting there, playing a victim, a wounded deer in headlights, and it didn’t sit
              right. She noticed over the past weeks the way other employees look at her and give respect to Monique.
              When Kelsey asked for something, it might go on a pile, but when Monique did the same, people would run,
              her will be done.
            </p>

            <p>
              With determination on her face and steely eyes, Kelsey reached across the table and took a bunch of yellow
              manila folders from the pile. She looked Monique straight into her eyes, turned around and walked into her
              office.
            </p>

            <p>
              The first file contained a problem with an unpleasant customer. He bought fourteen apartments through a
              financing model, rented them out and stopped paying his debt. It’s been going on for almost two years now.
              The guy was good, a lawyer by trade who knew he would lose the apartments sooner or later, but because of
              the inertia of the British judicial system, the case was postponed and rescheduled six times. Meanwhile,
              the guy was creaming it, pocketing all the profits his renters were paying.
            </p>

            <p>
              Since they paid their bills on time, it just complicated matters. Jim’s company wasn’t into evicting
              innocent people. The damages of bad press it would bring were incalculable. Jim always dealt in white
              gloves with his kind of stuff, but Kelsey wasn’t her dad.
            </p>

            <p>
              Later that night, when Tatum arrived from Cambridge, the girls put on their makeup and frilly clothes.
              They jumped into a car and drove straight to the east end, where they parked next to a boozer for footie
              fans.
            </p>

            <p>
              It took only seconds before four rough guys at one table offered them a drink to sit down with them and
              enjoy their company.
            </p>

            <p>
              “What brings you two posh birds to the ends?” Tatum smiled, telling them she wanted to check out local
              pubs to get a real taste of England. The guys liked that, clinking their pints, calling cheers.
            </p>

            <p>
              “Look at the ballrooms on the American,” said one guy to his friend. “I couldn’t keep me jazz bands of
              em.” The guys laughed.
            </p>

            <p>
              “Not so sure, mate. I think the birds are west end.” That’s where Tatum jumped in, hearing something
              making sense. “Yes, we live in the west end. How did you know that?” The guys burst into laughter,
              tweeting the foreigners. Tatum laughed with them.
            </p>

            <p>
              “Why are you laughing? He just said we were gay.” Tatum looked at Kelsey confused. “You know the west end,
              like the west end thespian? Lesbian.” Tatum made an evil face, punching the guy hard in the shoulder.
              “Dick! You’re buying the next round.” Everyone burst into laughter again.
            </p>

            <p>
              “Busted,” someone teased him. It was a fun outing, and the guys loved good banter and female companionship
              even from thespians. On their second drink, Kelsey asked if they could point out someone to talk to about
              the bee’s knees.
            </p>

            <p>“Looking for Mickey?”</p>

            <p>
              “I’ve got a problem with a rat that ate my bread. I’m looking for someone to talk with him before he
              catches a cold.” The guys got it, pointing at a big black guy in his mid-forties, dressed in a grey suit
              with a big gold watch on his left hand, a black shirt and polished brown shoes. Next to him were two
              blondes with too much makeup dressed in revealing clothes. He watched the footie on the telly in the
              corner, drinking beer, while his girls nursed champagne.
            </p>

            <p>
              “That’s Ackers over there. You should talk to him.” The girls thanked the lot and made it over. Kelsey
              knocked on his table, and Ackers smiled at them. “I hear you’re the guy to talk to. I’ve got a pest
              problem.” The man smiled, pointing magnanimously to the chairs.
            </p>

            <p>
              “Please, step into my office.” A waiter appeared, bringing two more flutes and pouring champagne. Ackers
              waited for the girls to get comfortable and have a quick sip. They measured up and down each other,
              getting their impressions straight.
            </p>

            <p>
              Kelsey reached into her handbag and pulled out a yellow folder with all the information the guy needed. He
              read carefully for a while before turning to Kelsey and sizing her up and down again.
            </p>

            <p>
              “You’re Jim’s girl, right?” Kelsey almost fell to the floor from surprise. She tried to gather her wits
              and make a comeback. Ackers just waved his hand in dismissal. “I recognised the company name. Why doesn’t
              Jim take care of it? Why come to me?” That loosed Kelsey’s tongue. In one long breath, she told him what
              had happened and that her dad wasn’t involved with the company anymore.
            </p>

            <p>Ackers chuckled, waving at the waiter for another round before checking the file again.</p>

            <p>
              “My standard fee is twenty per cent. For you, I’ll get it off the top of what you’re owed as interest if
              you bring me in for your other deals.” Ackers was a businessman. He knew exactly the scale of the problem.
              People played games and exploited the system, and large developers like Jim had a massive cash flow
              problem. People made commitments that down the line, they couldn’t service. That’s when courts got
              involved, blocking your real estate for months, if not years. Getting in on the racket meant signing up an
              important corporate client. Jim would never stand for it, but since he was out, this was a great
              opportunity.
            </p>

            <p>
              The girls stood up and shook his hands before leaving the pub and driving away. Two weeks later, Kelsey
              walked into Monique’s office, landing a yellow manila folder on her desk. The papers inside were stamped
              paid. Monique read it twice, looked into Kelsey’s eyes and smiled.
            </p>

            <p>
              A week later, three more folders were closed and resting on Monique’s desk. Kelsey turned to leave, but
              Monique stopped her, “please, stay. I want to talk to you about something.” The company had a massive
              development project and bought up all the land except one house. A guy there wouldn’t move. He wouldn’t
              sell without getting four times the price.
            </p>

            <p>
              Monique tried everything, but the guy saw the opportunity and dug in his heels. She visited him four
              times, and he was nice and polite but no joy. He wouldn’t budge, not for an inch. He had his price.
            </p>

            <p>
              “I was thinking. If we worked on it together, we might get it done.” Kelsey looked into the file, asking
              questions, and throwing suggestions. On the other side, Demeter watched. Secretly he smiled, mumbling
              quietly. “You are a bloody genius.” Demeter knew his best friend very well. Jim was always a headstrong
              type. Damn the torpedos, full steam ahead.
            </p>

            <p>
              Jim beat the odds and not for the first time. Demeter remembered when the two were kids and Jim ended up
              in a hospital from severe dehydration and sunstroke. All doctors said that he would die, but the damn kid
              just refused. He always did things his own way. God save the queen and the anarchy in the UK. Jim always
              had a problem inside his head. Nobody knew if it was from the beatings or if he was born that way. He was
              always the smartest and the scariest of them. He would walk around town at night arguing with himself.
              Some thought he was crazy, but the gangs avoided him. You never knew with a kid like that what he was
              capable of or when he could snap.
            </p>

            <p>
              Their friendships started when Jim arrived. Both mothers encouraged the boys to be friends because they
              were practically the same age with Demeter being a little older. Even then, Jim was strange, sneaking out
              at night and walking around, until one day that changed everything, making Demeter look after Jim like an
              older brother.
            </p>

            <p>
              One night Demeter’s younger sister didn’t come back from her evening clarinet practice. Kyra was a
              precious girl, incredibly cute and talented, in love with her instrument. Margaret called the police, and
              they promised to look, but everyone knew back then, nothing would happen.
            </p>

            <p>
              “Where are you going?” Demeter asked, seeing Jim sneak out through the window. He froze, feeling instant
              goosebumps, seeing Jim’s eyes. There was something terrible in them. Demeter made as split-second decision
              and followed. They walked at night from one alley to another, visiting all rundown places until they came
              to abandoned garages.
            </p>

            <p>
              Jim raised his hand, hearing faint cries coming from darkness. The boys ran towards the condemned
              buildings, to find a group of four older teenagers abusing Demeter’s sister.
            </p>

            <p>
              “What the fuck are you doing here, twats?” the gang leather said. He was undressed waist down, standing
              between Kyra’s legs. As if by magic, a foot-long steel pipe appeared in Jim’s hands. He smacked the guy so
              hard he almost took off his jaw. Like a fury, Jim kept beating the other kids, breaking their faces, arms
              and knees, anything he could reach. None of them managed to run away. Jim beat them with all the strength
              he got. The boys couldn’t escape with broken legs, just screamed in pain and begged.<br />
            </p>

            <p>
              “Stop! Stop it Jim. Stop, please,” Demeter screamed watching him smack with a steel pipe between the
              screaming ringleader’s legs, utterly crushing into a red pulp and destroying forever whatever he had
              there. Kyra was passed out and Demeter put her clothes back on before the boys ran out, carrying her back
              home together.
            </p>

            <p>
              Later that night, the ambulance picked up the gang. The local newspapers said all of them sustained heavy
              injuries, while the leader died. He was seventeen, the oldest. None of them would say who attacked them.
              Confessing the truth would get all of them convicted for sexual assault and sent to Belmarsh. After a few
              days everyone knew the truth anyway, but nobody would say a word to police, afraid of being labelled a
              rat.
            </p>

            <p>
              From that day the gangs avoided Jim and everyone else showed him an enormous respect. Even the shopkeepers
              would give him free food or anything else they could spare. Kyra went to psychiatrists with Margaret and
              gradually got better while Demeter swore his life for a debt that couldn’t be repaid. From that moment on
              he became Jim’s older brother, looking after him and kept him safe.
            </p>

            <p>
              Demeter read through Jim’s medical papers after he came from America. They thought the hit on his head
              messed with his mind, but it was nonsense. Jim was always this way. The medical records Americans received
              used to be very much thicker. Jim had them all expunged and erased, but Demeter knew exactly what was
              there. He helped Jim get rid of everything. There was a legendary fire that burned down Brixton’s medical
              archive. Nobody ever knew what happened. The official record said that someone threw in a Molotov cocktail
              in a protest against some racially motivated nonsense.
            </p>

            <p>
              Monique and Kelsey sat together, looking at the folders, searching on the internet, pointing with their
              fingers at this and that. Demeter smiled. Jim always believed the two would eventually mend their bridges.
              They were much more similar than either would admit. All they needed was a good problem to solve.
            </p>

            <p class="center">***</p>

            <p>
              “Dad, dad, come quick. The carollers are here.” Kelsey shouted from the house entrance. The snow was
              falling outside. I hurried up from the dining room, followed by Tatum and Monique, followed by Dalton and
              the rest of Tatum’s family and all our friends. Almost fifty people gathered to celebrate Christmas
              together at my place.
            </p>

            <p>
              It was the first time in ages since I saw so many people here. Not since Irma died. To see everyone like
              this together brought me happiness. A new generation of people, my blood, making a leap into a bright
              future.
            </p>

            <p>
              I knew whatever would happen, the people gathered here would stick together even when I was gone. There
              are good stories and bad ones, stories with happy endings. There are stories unwritten yet, and those you
              hear around a campfire as cautionary tales. One thing common with all of them is that they have an end.
            </p>

            <p>
              My story was ending. I felt it deep inside every atom of my being. Since they brought me back, I have
              lived on borrowed time. I was glad to see my daughter marry and start her own family with her lover. In
              the end, Monique and Kelsey became friends. It took a long time, but now they were inseparable.
            </p>

            <p>
              Demeter decided to keep going for a few more years and get the company public before selling his shares.
              He would teach the girls how to do business, all the knowledge I taught him once and more. Dalton got his
              wish to explore London, Oxford and Cambridge. He loved it so much that he approached the board, and they
              extended their reach by buying a sizeable British venture capitalist. It gave the whole family excuse to
              spend a few months a year in Europe, close to Tatum, his favourite daughter.
            </p>

            <p>
              Kelsey hugged me from the side, watching the Christmas tree, all the lights and the presents. She wiped
              the tears from her eyes before hugging me tightly. “I love you, daddy.”
            </p>

            <p>
              There was nothing left to say. It was the end of the year, the time for joy and new beginnings. “Please
              stay,” she begged again, knowing it was to no avail. Life is pain if we just live it day to day.
            </p>

            <p>
              “Look darling, outside. The city is white.” Cars moving on the streets created a magical collage of red,
              amber and white lights, blending like a watercolour painting as the frost on the windows melted. “Look,
              honey, the frosted rain.”
            </p>

            <p>
              “Remember what I told you, darling. Life is what you make of it. Each day is another life, and every dream
              is another hope. Don’t let yourself live in a box; don’t let anyone tell you who you are. Live each day
              like it is your last because one day, there will be no days left. No regrets.” Kelsey buried her face into
              my chest and cried. I hugged her tight. Deep down inside, she sensed this would be our last goodbye.
            </p>

            <p>
              Elephants follow the moonlight into the place of rest, beyond mountains and grasslands where they are
              awaited by their ancestors. All of us hear that call of the wild, that high-pitched sound when we close
              our eyes or the sound of waves when listening to seashells. Some of us hear more because we listen. We see
              something that others can’t.
            </p>

            <p>
              Kelsey tried for months to convince me to stay, but she failed. She knew we all had our destiny. I waited
              for mine for thirty years. For over three decades, I came to the same spot every summer and waited, even
              after the pier was closed and collapsed into the water dilapidated.
            </p>

            <p>
              I found my life, and I found my love, my Rusalochka of the sea, my big fish. I heard her calling to me,
              shedding her tears. Sometimes I would imagine sitting on the deck of the ship, watching the sunset,
              listening to the song of the sirens as they sent the sun to its rest. They welcomed the moon, the stars,
              and the entire universe by lifting the blanket of the day so we could wave to other planets.
            </p>

            <p>
              The party was great, and good wishes exchanged. I left Kelsey, Monique and Tatum a small box as a present
              under a big, Christmas tree adorned with crystals and lights like little diamonds sparkling in the light
              of stars. Dozens of boxes awaited underneath for tomorrow, one for everyone.
            </p>

            <p>
              Dalton clinked his glass, pointing at me, asking for speech since this was my house and I was the oldest.
              I stopped shaving months ago and now had a long grey beard that almost made me look like a sage, a man
              with great wisdom to share with the others.
            </p>

            <p>
              “I wish you all love and happiness, great joy and little disappointment. I wish you a hundred years of
              health and a hundred more.” The clinking of glasses ensued, and everyone had a word, wishing something
              different.
            </p>

            <p>
              It was a late at night when everyone retired. I kissed Monique’s forehead, wishing her well. She was
              asleep and stirred a little, so I tiptoed out and into Kelsey’s room. She couldn’t fall asleep from all
              the crying. Her heart was breaking for losing me. Kelsey didn’t want to close her eyes because she feared
              I would leave without saying goodbye.
            </p>

            <p>
              She hugged me tightly as I sat on the bed next to her. “I love you, dad and will love you forever.” I
              hugged her to me and kissed her hair. She smelled like I remembered, like the first time I held her in my
              arms. She cried then too, announcing herself to the world. Naya broke my heart and took the pieces. Kelsey
              took all that was left.
            </p>

            <p>
              I sang quietly a song by George Gershwin. Kelsey always liked that one when she was upset as a child. I
              reached across to the night table, pulled a book and read. “Once upon a time lived a miller. He had three
              sons. It was the first edition of collected fairy tales. Puss in boots was always Kelsey’s favourite. She
              liked to imagine she was the princess. She never cared much for the prince, but a black cat was her
              favourite.
            </p>

            <p>“Why do you like the cat so much, darling?”</p>

            <p>“He is the same as you, daddy.” That story would always put her to sleep.</p>

            <p>
              The car waited outside; it was a frosty night. Mike took it slow, all the way to Heathrow. I started to
              shake his hand, but he hugged me instead. “Look after my family,” I said, and he nodded. Promises are
              irrelevant to real men.
            </p>

            <p>
              Twenty minutes later, I passed the security gates. No luggage, no laptop, no telephone, no keys. I didn’t
              even take my wallet, only a passport and five hundred in cash. “Would you like something to drink,” the
              stewardess asked. I opted for some scotch and a glass of soda water with ice. It was a long flight to the
              Philippines. I closed my eyes, and the world melted away. The pain was back, and so were the voices, all
              saying the same thing. I was coming home.
            </p>

            <p>
              I jumped, feeling a hand on my shoulder. “Please, sir, put your backrest up; we’re landing in thirty
              minutes.” What a surprise, I slept through everything like dead, with no dreams, no pain. I just wasn’t
              there. Soon enough, I was out in Manila, catching a connecting plane to Capalonga, remembering how I told
              myself I would come back and retire there. I loved the Philippines, the food, the weather and the friendly
              people.
            </p>

            <p>
              By the time I reached my hotel, I was ready for bed. Although I slept well, jet lag kicked me hard. I had
              a quick meal at the restaurant across the road, and in two shakes of lamb’s tail, I was gone to la la
              land.
            </p>

            <p>
              The following day, I was right as rain, up before dawn. I walked to the pier. The waves caressed the shore
              in a slow rhythm. It was already hot outside, thanks to the tropical climate. I watched the sunrise,
              listening to its song, breathing with full lungs the perfume of the world. This is one thing about
              tropical places I will remember forever. It was the smell. This sweet, fruity, exotic fragrance. The air
              you could imagine drinking a cup of instead of tea. To learn how to drink tea from an empty cup is the
              first sign of developing wisdom.
            </p>

            <p>
              Little cafes opened, and I had my morning coffee, followed by pancakes and jam. I had a craving for that.
              There will be no jam where I was going. Just before ten, I made my way to the marina, looking left and
              right, enjoying the sights. This would be a nice place to live. I wish I had been born there. So close to
              water, so close to everything I loved.
            </p>

            <p>
              I looked up, and there it was, my new ship glistening on the sea. A deep sense of excitement coursed
              through my veins as I approached the man that waited for me at the pier. He made me check the ship and all
              of its content before I signed the document, and he shook my hand. That was it; I was alone. I went inside
              and made another cup of coffee, then sat on the deck, taking a deep breath. So close now. I could almost
              taste it.
            </p>

            <p>
              Her name was Silver Girl, and it was apt. She was sleek, curvy and sharp. I knew she would take care of me
              like Rusalochka once did, but this time I was going home. I heard the call and just like the elephants, I
              made my way.
            </p>

            <p>
              It took me just over six months to learn how to sail and get all my licenses, certificates and insurance.
              The Sunseeker guys delivered everything as promised. It was three million pounds well spent. Just before
              lunchtime, I waved the marina goodbye and turned around into Lemon Bay, then east, always east, past Luzon
              Plateau into the Philippine basin, where the sea is deep.
            </p>

            <p>
              There was nothing more to do than wait. Electronic navigation and satellite positioning took care of
              everything. Once I crossed the shipping lanes, I was on my own with endless water. One after another, the
              hours passed, and I spaced out a little, enjoying myself. To be back on the water, back where I lost
              everything and found even more.
            </p>

            <p>
              Silver Girl slowed down, and I had an early dinner accompanied by the soft hum of engines and water
              splashing. Everything stopped for the sunset, watching the universe reveal itself to my presence. I smiled
              and waved at the little prince fishing the moon, standing on another planet before saying hello to the
              sailors somewhere out here, waving at me at this very moment.
            </p>

            <p>
              I closed my eyes, listening to the song, the vibration of the universe as the sun disappeared. That deep
              feeling we all feel inside, welcoming of the night and goodbye to the sunshine. So peaceful, so still. The
              world and me. I saw the reflection of the full moon on the surface and adjusted the course to follow the
              light, then sang aloud the Simon and Garfunkel song to my ship, encouraging her to follow the light of my
              dream.
            </p>

            <p>
              It was just like the stories said, in the middle of the ocean, past the mermaids, the Buyan island
              awaited, the home of three winds and the tree of life, known by a thousand names. From it, the world
              emerged, every creature and plant, every blade of grass. It grew atop Alatyr stone, the navel of the
              world, the source of knowledge, the philosopher stone.
            </p>

            <p>
              All the stories missed a critical component, how to get there. Only those that have been there once knew
              how to return, following the moon. I let the moonlight be my guide, correcting course as the reflection
              changed. It is so simple when you have all the answers.
            </p>

            <p>
              I stopped the engines before dawn came and lifted my hands up, mimicking women. They welcomed Origin; I
              welcomed sunrise, closing my eyes, listening to the world awake. The hum of the world, the song of the
              universe, echoed through my being as I trembled. Letting the waves take me where they wanted, I made a cup
              of coffee and had my breakfast.
            </p>

            <p>
              Out of curiosity or hope, I touched the water, but nobody came. Just before the sun got high in the sky, I
              heard a splash, then another. I jumped in happiness, getting close to the edge, just to see a pod of
              dolphins swimming around the ship, jumping in the air.
            </p>

            <p>
              “Faith is all it takes,” her voice came, and I smiled. Running into the cockpit, I started the engines and
              followed the dolphins, matching their speed. They swam in a straight line, leading me to deeper water.
              This was the way; I knew it in my heart. She sent them to greet me and show me the path.
            </p>

            <p>
              In the late afternoon, the dolphins vanished. I stopped the engines and had my dinner. Another splash,
              this time it was a blue marlin. “I must be getting closer,” and I followed. Compass is garbage. I switched
              off all the electronics, keeping just the engines, following the fish jumping ahead, always forward,
              always in a straight line.
            </p>

            <p>
              Another evening, another sunset, so I stopped everything to welcome the universe. I did not know where I
              was and didn’t care. I was exactly where I was supposed to be, making my journey alone. When they found
              Rusalochka, she quickly sank, almost as if she had waited for me to get saved.
            </p>

            <p>
              I looked at the map after, and it was impossible for the storm to take Rusalochka all the way there. Where
              the storm hit us and where I was found must have been entirely different locations. Following the wreckage
              would be pointless, so I trusted the moonlight and the sea creatures.
            </p>

            <p>
              The moon was out again, and I switched on the engines, following the reflected light in a straight line.
              Soon enough, I lost the sense of time. Was it two, three or four days that I sailed forward? None of it
              mattered. I had more than enough diesel.
            </p>

            <p>
              Along the way, during the day, I saw the whales. All of them travelled the same way. I waved to them,
              wishing them health, and they splashed me with water in response. They say humans started in oceans. Maybe
              the whales remembered those days. I should have asked Altyrians in my dreams. They would have remembered.
            </p>

            <p>
              On the morning of the fifth day, everything stopped, no dolphins, no marlin, no whales. I just sat there,
              drifting on the water, not knowing in which direction to travel. That night as the moon came out, it
              looked bigger and closer. Deep inside my chest, I heard my heart drum in excitement. I was here, I have
              arrived.
            </p>

            <p>
              Quickly I went inside, locked the ship and secured everything. I took my notebook and wrote my final
              notes, giving my love to Kelsey as a sort of message in the bottle. By the time I got out on the deck, the
              stars had dimmed, and the waves began to rise.
            </p>

            <p>
              “Rusalochka,” I called with the full strength of my voice. “Rusalochka, Rusalochka,” one after another,
              until the wind answered. I heard the whistle, its piercing cry, so loud and enchanting, the siren’s call.
            </p>

            <p>
              In the distance, I saw an electric discharge. There was a big storm alright coming my way. I set the
              engine to full power and turned the ship towards the monster. The waves started, lifting the ship like a
              walnut shell, but I kept pressing forward towards the rain.
            </p>

            <p>
              The whistles turned into terrible screams, howling and squealing, hurting my ears. I smiled, locking the
              steering to the course and ran onto the deck. The water and wind blasted me from every side.
            </p>

            <p>
              “Rusalochka,” I shouted again, and in the distance, I saw a vast tree touching the sky. I couldn’t feel
              the tears running down my face. My heart was open, and all I could feel was love.
            </p>

            <p>
              What is life but a series of wonderful memories you take with you when the time comes? Those who never
              loved have never lived. I have loved one time, and it was enough. I saw a huge wave coming toward me and
              closed my eyes with a big smile.
            </p>

            <p>
              My whole life flattened in front of my eyes and the memories came, so vivid, so crystal clear. I could
              almost touch them and taste them. Life, in its wonderful essence, like a flash of a dying lightbulb comes
              to one thing, love, then it is dark. You give your last copper to a ferryman and the only riches you may
              carry are the ones in your heart.
            </p>

            <p>
              Far away from the distance of my memory the music came, it was one of my favourite song by the Styx and I
              thought, how apt. I smiled.
            </p>

            <p>I have arrived.</p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Big-Fish-Rumpel-Stiltskin-ebook/dp/B0BHJKVZ31'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <!-- <a href='https://apple.co/3zSPgfs'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a> -->

              <!-- Google -->
              <!-- <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Montana?id=ftFBEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a> -->
              <a href='/books/big-fish/preview/epilogue' class='retailer preview-button' style='margin-top: 10px'>Epilogue >></a>

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
       
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
