---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Big Fish | Chapter 2 - Missing'
  description='Big Fish novel by Rumpel Stiltskin'
  image='/images/big-fish.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/big-fish.jpg' class="big-cover-img" /> -->
          <p class='emp grey'>BIG FISH</p>
          <h1>Chapter 2 - Missing</h1>
          <div class='biggest'>
            <p>
              “The three tropical storms merged into one superstorm about six hundred nautical miles off the Philippines
              coast. They swept inland and wreaked havoc on shipping lanes, combined with record low-pressure and
              electrical discharges. The state of the emergency...” The TV presenter trailed off as Kelsey frantically
              dialled Jim’s satellite phone, only to be diverted to the answering service while a uniformed waitress
              refilled her coffee. Black, no sugar, the only drug the doctors allowed her to take.
            </p>

            <p>
              “I am sorry, dad, please pick up. I need to know you are safe. Just call me when you get this”. She left
              another message, hoping that Jim would respond, feeling awful for her last words to him being spoken in
              anger. She felt so much resentment and pain inside her and kept it for so long that she couldn’t express
              them without bursting into shouts and apportioning blame.
            </p>

            <p>
              It all started with Monique, her stepmom. Although truth be told, Kelsey’s anger brewed for a long time
              before. Monique was an easy target to pick on and wasn’t really to blame for Kelsey’s feelings. Monique
              was just the only one that reacted. Perhaps it was the way to ruin something for her father. Kelsey wanted
              to make him pay attention and listen to her for once, but the man was impenetrable like a stone statue.
              “He would make a great career poker player,” Kelsey often said.
            </p>

            <p>
              She was seventeen when Jim introduced her to Monique, who was only nineteen. Kelsey was used to her dad’s
              eccentricities, travels and long absences, but this one just crossed the line. To enter a relationship
              with someone your own daughter’s age was disgusting on multiple levels. Kelsey couldn’t even bring herself
              to verbalise how perverted she thought this was and how it made her feel sick and violated.
            </p>

            <p>
              When she learnt her dad was getting married, Kelsey had a massive fit, breaking dishes and memorabilia.
              She threw it at the wall before storming out of her dad’s house. It used to be her house, too. She grew up
              there, but dad remodelled it, getting rid of her mother’s memories just for a teenage bimbo he married. It
              was sick, vile, perverted. Kelsey couldn’t describe her disgust for both of them.
            </p>

            <p>
              They never saw eye to eye. Kelsey would call her a slut for being so young and marrying Jim for his
              wealth, and Monique would say, “Your parents should have called you Tantrum when you were born”. On rare
              family occasions, the two young ladies mustered enough civility to go through dinner without jumping at
              each other’s throats. This made Christmas holidays and anniversaries as happy gatherings as funerals,
              often ending with screams, almost fistfights.
            </p>

            <p>
              Jim didn’t blame his daughter. Kelsey never got over the death of her mother. She was just fifteen when it
              hit her right at the peak of her puberty. On top of it, she saw her father shut down, palming her off to
              child development experts and psychologists alike. He sent her away to a boarding school for the best and
              the brightest, which meant the most spoiled and privileged.
            </p>

            <p>
              Kelsey knew it was all to keep her from seeing her dad fall apart, which hurt her the most. She knew Jim
              loved her and needed her, but like a fool he was, he sacrificed his well-being for everyone but himself.
              Jim didn’t know what to do with himself, let alone take care of a teenage daughter during her toughest
              time. This was a crappy deal, no matter how one looked at it. Jim did what he does best and
              compartmentalised, burying his head in work to distract him from dealing with his own emotional distress,
              and it worked.
            </p>

            <p>
              Kelsey snatched her phone the moment it rang, but a second later, her face fell. It was just Demeter,
              dad’s oldest friend.
            </p>

            <p>“Oh, Kelsey, good; I’m glad you answered. Did you see the news today, by any chance?”</p>

            <p>
              “Yes, it is terrible. Have you heard from my dad?” Demeter just learned about the storm and called Jim to
              see if he was okay, but there was no answer. He wanted to contact Kelsey, tell her the news himself, and
              assure her that the company was doing everything conceivable to get her father back.
            </p>

            <p>
              “Where are you, dad,” she said with a whimper, wrinkling her forehead, drifting into the memories of when
              they last spoke. “If only I wasn’t such a bitch.” She remembered everything she said to the man. Sometimes
              Kelsey wanted to tell Jim how she felt and pour her heart out to the only man she ever loved. Every time
              she tried, her emotions got the better of her, and she ended up screaming the exact opposite, blaming him
              for everything that had happened since her mother’s death.
            </p>

            <p>
              She learned in therapy to express her feelings when talking to perfect strangers. Why is it she wasn’t
              able to do the same with her own father? It would be much easier if she could just hug the man and tell
              him how she felt.
            </p>

            <p>
              Her dad would never understand, let alone approve of the choices she made in her life. Her therapist said
              she was projecting her insecurities. It was she who was ashamed of what she had done and couldn’t bring
              herself to say it out loud lest her own father judged her. It was much easier to assume Jim said something
              negative and lashing out in defence of her own choices.
            </p>

            <p>
              Everything was so confusing, and she told her therapist that she wasn’t ready for it, moving on to simpler
              subjects, easier to explain and bear. That wasn’t how therapy worked, but Kelsey would fire the man and go
              elsewhere if they didn’t sing her tune. At the rate she paid, they didn’t want to lose one of their
              best-paying customers.
            </p>

            <p>
              She jumped a little, startled, hearing someone land on a red leather chair on the other side of the table.
            </p>

            <p>
              “C’mon, babe, let’s blow this place. I’m bored,” a slim brunette with short, wavy chestnut hair said. She
              crossed her legs over the handrest, showing her polished black Doc Martens, pursing her bright-red lips
              and rolling her blue eyes. It was Tatum, the love of Kelsey’s life. She was an American, a child of rich
              parents who palmed her off to England as far away from them as possible. In Tatum’s words, that was
              because they found her insufferable.
            </p>

            <p>
              Tatum had two older siblings, a brother and sister, both perfect grades, valedictorian, rah-rah-rah, the
              apples of their parent’s eyes. She was a black sheep, an abomination, an embarrassment, a freaky monster
              putting up Marilyn Manson posters, worshipping death, torture, and pain.
            </p>

            <p>
              Of course, it was just a pretence. Tatum acted out, seeking validation and attention from her stodgy old
              parents, who refused to understand her. “Why can’t you be more like Chris or Lori? What happened to you?
              You used to be such a nice kid”. Tatum hated it being compared to her two high-achieving siblings. She was
              the sensitive one, the artist in the family that despised creativity.
            </p>

            <p>
              Her family owned plenty of art to appear like they had class, but nouveau riche bankers were just a bunch
              of wankers. The only thing they understood was cash and projecting wealth. Tatum abhorred that. She wanted
              to live, to experience the world in its full glory and colour, to swim in the nude and scream full lung,
              running barefoot on the yellow beach of Sandbanks.
            </p>

            <p>
              The two girls met in therapy. There was a place for the rich and famous down California way. During one of
              her relapses, Jim sent Kelsey there for a couple of months over the summer holidays. It was better for her
              mental health than coming home anyway, having to deal with a stepmother her own age.
            </p>

            <p>
              That’s where Kelsey met Tatum, and the sparks flew. She was in love by the end of the day, and by the end
              of summer, the two were inseparable. Tatum’s parents were more than happy to send her to England for
              university. This way, they could brag about their quirky daughter studying art in a fancy college. As they
              say, out of sight, out of mind, an invisible idiot if one translated it from English and back.
            </p>

            <p>
              Kelsey and Tatum were like peas and carrots, living together for over two years and still in love like two
              penguins on a block of ice. Most people thought the two were lesbians, but both equally liked guys.
              Sometimes, they would go to a club together and pull one home for a threesome. Sex is just that, fun and
              excitement, but the two shared love and a bond unbreakable.
            </p>

            <p>
              Tatum went to school but hated it, doing it just for a degree and to humour Kelsey. She was a sculptor
              working with metal and clay. Kelsey quietly invested in Tatum’s atelier. She bought a three-bedroom
              apartment next to theirs, converting it for Tatum’s purposes, financing exhibitions, art galleries and
              sales.
            </p>

            <p>
              Tatum made good cash. Art is subjective, and it is impossible to say why some people like one thing and
              not another. In the end, the art is worth only how much moolah people are prepared to fork out. Beauty is
              in the eyes of the beholder, as they say. Tatum wasn’t Auguste Rodin, but she did well, and Kelsey was
              proud of her edgy, artistic girlfriend.
            </p>

            <p>
              Kelsey was a brooding kind, keeping everything inside, implosive until it boiled over, then better watch
              out for a woman’s scorn, duck and hide from unidentified flying objects. Her partner Tatum was the
              opposite, a mouthy firecracker, ranting about this and that, getting into fights tooth and nail. It was a
              miracle she didn’t get expelled. A hefty donation from her family made sure of that.
            </p>

            <p>
              “What’s going on with you?” Tatum asked. She noticed the pale face and swollen eyes on the usually smiling
              blonde. Kelsey just shook her head in response, looking down at the plate of now cold porridge.
            </p>

            <p>
              Tatum jumped out of her seat and pulled her lover’s chin, meeting her eyes, “you can tell me anything, you
              know that? I love you with my whole heart”. The two girls hugged and kissed, to the dismay of other
              customers. It was the twenty-first century, progressive times in one of the most cosmopolitan places in
              the UK. Still, seeing two girls kiss in public wasn’t as commonplace as one would imagine; for that
              reason, the girls intended to move to Brighton after graduating. They considered San Fran for a second,
              but Tatum said she refused to live in the town where people drive hybrids and get high on their own farts.
            </p>

            <p>
              It took only seconds to explain what happened, but three coffees of time for Kelsey to share the history
              with her lover. Forget the psychiatrists and popping pills. It took the love and trust of another person
              to let it all spill. For the first time, Kelsey was candid about her life. Tatum respected that. To get
              her girlfriend to say something about her past was like pulling teeth from a live shark. She learned to
              never do that and avoid such conversations altogether. As they said in therapy, she’ll share when she is
              ready.
            </p>

            <p>
              “Bollocks to that.” It was so cute when Tatum misappropriated English and made Kelsey laugh. “Come, let’s
              make a move. Stop sulking. Let’s find your dad”. She dragged Kelsey onto her feet, then hand-in-hand after
              paying the bill bounced out of the place. Tatum was made of sheer determination, wrapped in a
              five-foot-eight package of feminine grace, offset by her baggy army trousers, two red suspenders and a
              yellow leather jacket. She was a character.
            </p>

            <p>
              The girls were a sight wherever they went, one discrete and classy, the other one acting like a lunatic.
              Look at me, look at me, I am crazy and here. This was the part that antagonised Tatum’s parents, and
              Kelsey found adorable. The little brunette was on fire, full of love, life and wonder, something Kelsey
              found hard to connect with herself. They were different, but completed each other where it counted.
            </p>

            <p>
              Kelsey sat on Tatum’s custom carbon-fibre Ducati XDiavel S motorcycle. She let go of the clutch and the
              engine roared. Tatum sped through traffic, ignoring the speed cameras flashing like disco lights. She and
              the police played a racing game a few times, and she won them all. The first time she did it, she went to
              a bar and pulled the after-duty policeman that chased her for the night of threesome fun. After that, she
              couldn’t get arrested if she paid. The word on the street was that the motorcycle cop who catches her gets
              laid. Many have tried and failed.
            </p>

            <p>
              Kelsey seldom spoke about her dad. Every time she did, her eyes steeled; too much history between them.
              Tatum could understand that. It hurt to see her lover so distressed, she could almost feel her anguish and
              wanted to help. Sitting at home, watching the news or hoping for a phone call, dreading the wrong one,
              wasn’t a productive way forward. Her lover needed her now more than ever, and Tatum was there. That’s what
              made their relationship special. The girls were a rock for each other.
            </p>

            <p>
              Only minutes later, Tatum did a stoppie in front of a university building containing a computer lab. “The
              guys will be here,” she said, flipping a rock at the window, going straight through, breaking it. “Sorry.”
              Tatum made a face, seeing a couple of ubergeeks as she called them, looking down to see who did that.
            </p>

            <p>
              The guys smiled, seeing the BitchQueen666 waving at them. The computer lab was a domain of a select group
              of gamers who spent university resources on raids and pillages online when they weren’t hacking someone or
              using university resources to crypto mine. Those were just the type of guys and gals one could trust to
              find a proverbial diamond in a digital hailstorm.
            </p>

            <p>
              It was a little-known secret that Tatum was one of them, at least as far as the video games went. Since
              she was a child, her parents tried to buy her cooperation with bribes. One of them was an Alienware, a
              laptop popular with gamers. Playing Call Of Duty, knocking down enemies, turned into an outlet for
              frustration and anger. As she rose through the ranks, Tatum started making friends. Imagine their surprise
              when local players learned her gamer handle.
            </p>

            <p>
              She wasn’t the only girl into games. Masooda and Cory were also members of the Crimson Raiders. One was
              quiet, wearing a hijab; the other was small and boney, declaring herself a gender-neutral asexual lesbian.
              It was an in-thing being different, choosing they-them as pronouns just to annoy others. Rising hullabaloo
              was fun when university systems couldn’t process their gender, crying discrimination, insisting that all
              forms must change to include Mx besides Mr and Ms titles. It cost the university millions in consultant
              fees. The crew high-fived each other for committing the first act of social terrorism.
            </p>

            <p>
              Having Tatum as a member of the team felt special. She was, in their words, smoking hot. She knew that, of
              course, and used it to get her way. “I’ll have sex with the person who finds that ship,” she said. It was
              a bounty worth gambling. Even Masooda’s eyes were sparkling. Of course, everyone knew Tatum said it in
              jest, still finding Rusalochka was a worthy challenge, so everyone got to it. Kelsey ran interference,
              bringing coffee and cakes from Starbucks around the corner while Tatum commanded like some empress, the
              queen of blades.
            </p>

            <p class="center">***</p>

            <p>
              “You have to leave”, Monique said to Fred, her lover, a playboy and self-proclaimed personal trainer. He
              was young and handsome in his early thirties. They met at a yoga retreat a couple of years back, drawn to
              one another like shit is to flies. Fred pursued Monique without rest for a long time until about a year
              later, just as her husband grew distant and unavailable, she agreed to a date. Their meeting was urgent
              and passionate. That was where everything started.
            </p>

            <p>
              Monique was no stranger to extramarital adventures. She had six since she married Jim. It was a mix of her
              high libido and easy opportunity. Sometimes she cheated when she argued with Jim. It was usually after his
              daughter, Kelsey, visited. Sex wasn’t a big deal for Monique; she would always treat it as a biological
              need. What mattered was the connection, stability, lifestyle and security. She married Jim for this, not
              because she found him fit and sexy. The men she had sex with were the opposite; young, fit, tall, dark,
              and handsome. On a grand scale of things, they didn’t matter. They were replaceable toys for Monique’s
              pleasure, but not Fred. He was different, stronger, almost forceful, and much more persistent.
            </p>

            <p>
              Monique and Jim shared many things in common and had a fantastic time. Jim was eloquent, attentive and
              caring, a proper gentleman. Still, there was that, a generation gap. Jim was an adult, while Monique was
              still carefree, adventurous, and full of life. The two went through the world at different paces.
            </p>

            <p>
              Jim was all about the future and taking care of her and his daughter, and she was about enjoying life’s
              petty pleasures, living in the moment. Monique used her considerable feminine charms to avoid the boring
              stuff like getting an education or finding a job.
            </p>

            <p>
              She was cognisant that she had won a genetic lottery. Monique was born pretty and cashing it in. How was
              that different to being born smart and capable, then setting up some business and rolling in profits years
              later? All people play the hand they are dealt, a model, a soldier, a scientist and a businessman. The
              world frowns on women using their charms to get ahead, but it is an age-old debate. Everyone knows there
              is a price for beauty, and Jim paid his dues. There was no point in accusing Monique that she seduced him
              like Kelsey would say. He was a grown man, almost twice her age, smart and capable. Surely, he knew how
              the world turned.
            </p>

            <p>
              After Monique cheated on Jim for the first time, it disgusted her. She felt like a monster that used a
              decent man and betrayed his love. She promised God and swore that it was the only time and she would never
              do it again. As they say, it gets easier, like riding a bicycle, and whom was she hurting, anyway? Jim was
              too busy with his business, anyway. He should have paid more attention to his family. Monique was young
              and sexy, knew her value, and she deserved everything. She would not waste it on a man who didn’t enjoy
              life. She was horny and wanted to get laid.
            </p>

            <p>
              Moments after receiving a call from Demeter, Monique got that feeling again. The reality dawned, and she
              felt terrible for cheating on a man who gave her a good life. Fred stretched on the bed, naked under satin
              sheets, pulling Monique back to play, cupping her firm, supple breasts, nibbling on her alabaster skin.
            </p>

            <p>
              “I have to take a shower,” she said with a forced smile, pushing his hand away. Fred just laughed,
              applying more pressure. “I said no. You should go.” Monique jerked her shoulder and walked away. She felt
              goosebumps on her skin and a shiver, disgusted at sudden thoughts popping into her head. Her husband was
              missing somewhere on his stupid ship and she was in a bed with another man, cheating on him. “I made a
              good call cancelling the trip. What was he thinking?”
            </p>

            <p>
              The house was empty, echoing Monique’s calls. Fred got dressed and left, not wanting to deal with her
              mood. “Good boy,” she said with a smile, appreciating a man who knew when he outstayed his welcome.
              Despite her acted-out pouting, she always enjoyed being alone. Naked and smelling fresh, she danced and
              made pirouettes on white marble floors, observing her perfect body reflected in mirrors and reflective
              surfaces, cupping her breasts, and measuring their size.
            </p>

            <p>
              “I still got it”. She smiled before putting on a thick silk bathrobe on the way to the kitchen to make
              some breakfast. A couple of years back, Monique decided she was a vegan. It was a popular cause for trophy
              wives competing for status, passing passive-aggressive comments to each other. It wasn’t strange, just a
              pastime for the rich and bored.
            </p>

            <p>
              Monique twirled, checking herself out, dressed in high Louboutins and light Dolce &amp; Gabbana, smelling
              like Chanel N°5. Classics never die. With a few gentle strokes of makeup brush, she added a touch of
              seriousness to her face before leaving the house and sitting in her brand-new, red Tesla roadster. It was
              important to show the others she did her part to help the environment. Everyone sacrificed for a better
              tomorrow and children’s future.
            </p>

            <p>
              “You poor dear,” Cathrine said, squeezing her arm with a concerned smile. At least Monique assumed it was
              concern on her friend’s face. It was sometimes hard to tell from silicone lip fillers, nose operation and
              all the Botox she injected. Cath was in her mid-thirties and looked like a doll with massive breast and
              butt implants, rib resection and vaginal rejuvenation. That was at least what she publicly admitted to.
              She was married to an industrialist in his mid-sixties who shared her fetish for extreme cosmetic surgery.
            </p>

            <p>
              “Thanks, Cath. Thank you all. I don’t know what I would do without your support”. She used a tissue to
              wipe her eyes, waving her hand like a fan to dry out her tears before they burst out.
            </p>

            <p>“What are you going to do for money?”</p>

            <p>
              “What do you mean? I have my cards and Jim’s joint account”. The women giggled, explaining that it could
              become a big problem if her husband died.
            </p>

            <p>
              “Does he have a will? You know, it could take years to declare him dead.” Monique’s friends bombarded her
              with questions, making her scared. Monique could find herself on the street and penniless if Jim left
              everything to his daughter. What was supposed to be just a pleasant lunch with her friends in a fancy new
              vegan restaurant they discovered turned into an eye-opener. Jim’s death could spell a disaster.
            </p>

            <p>
              After that, the conversation and Monique’s mood nosedived. She put up a brave smile, nodding to speakers
              as the conversation changed. Almost like counting minutes at the dentist’s office, she went through the
              motions through three courses and lemongrass tea with ginger, a special concoction good for the cleanse.
            </p>

            <p>
              The rich women dispersed in the end, pretending to kiss each other cheeks as they left the table. Monique
              was a little preoccupied, trying to shake her troublesome thoughts about her future. Careful not to
              daydream, she drove home, poured a glass of fresh orange juice, and dialled the phone.
            </p>

            <p>
              “Hi, I got a business card from a friend. May I speak with Mr Rothenberg? Yes, sure. This is my number.
              Please have him call me back.” She sat in a luxurious custom-made burgundy leather swivel chair, tapping
              her long, manicured nails against Jim’s mahogany study desk. “Where are you, Jim? What happened?” For the
              first time in her life, Monique realised how dependent she was on her husband. How vulnerable.
            </p>

            <p>
              This scared her. It is nice when life just goes as planned. She had a charmed life without worry or
              struggle, to where she felt complacent and entitled. A sudden jerk in her routine acted like wind, blowing
              a card house she built in her mind. Jim never refused or disagreed with anything Monique wanted, and
              little by little, she built her own gilded cage. Like Rapunzel, she sat beautiful and alone atop a tall
              tower. She put herself up so high on a pedestal that she couldn’t come down without a great fall.
            </p>

            <p>
              The phone’s ringing interrupted her thoughts of woe. She checked the number; it was the lawyer. “Thank you
              for calling me back, Mr Rothenberg. Okay, Ezra. Yes, I can come over later; just text me the location.”
            </p>

            <p>
              Monique had just finished writing it down when she got a text with an attached image of an erect penis
              with the text, “you see how much I miss you, babe.” She burst into laughter, drying her tears. This was
              just what she needed to get her mind from the dump. “You silly man.”
            </p>

            <p>
              It was the main reason she liked Fred so much; well educated, from a posh family, but loved to act crass,
              like a bum. It was part of his charm. Fred was a trust fund kid. He had all he wanted, and despite his
              Oxford education, he had no interest in anything. He studied classics and hung out with the rich. Both his
              parents were retired, living in Bali, enjoying the life they built for themselves and spending the
              dividends.
            </p>

            <p>
              Fred was obsessed with Monique. He wasn’t interested in deep conversations or someone’s goals in life.
              Fred would just chill and enjoy the moment before climbing on top of her and using her for sex.
            </p>

            <p>
              There was no substance to Monique and Fried’s arrangement, only sex, all the time, whatever they did, and
              relentless. Even when Fred would take her to a fancy dinner, he would instruct her how to dress and give
              her a remote-controlled vibrating bullet. He loved watching her squirm and sweat right at the edge as she
              had her fancy meal. Fred was a sexual deviant who dragged her through mud, using her like an object for
              his sexual pleasure.
            </p>

            <p>
              For a reason she couldn’t explain, Monique loved all that, feeling alive and aroused, positively
              motivated. Fred was all about living in the moment. Talks about the future scared him. He even got himself
              snipped, lest he impregnated someone by accident and get laden by a responsibility. “Life’s for the
              living,” he’d say, resonating deeply with Monique. She wanted to live.
            </p>

            <p>
              Monique seldom thought about the past and the things she didn’t want to remember. Her father left when she
              was only twelve, never heard from him again. Her mother used to be a model and a waitress who turned to
              alcohol, drugs and pleasures of the flesh. Sometimes Monique would sleep with her headphones on, listening
              to Britney, her favourite, to drown the sounds coming from the adjoining room of her mother and her many
              overnight friends.
            </p>

            <p>
              The psychologist said Monique suffered from a complex of abandonment coupled with acute self-esteem
              issues. Most people enjoyed the attention, but Monique craved it. This was why she lost her virginity at
              thirteen to a much older guy in his late twenties. The man seemed so sophisticated. She felt safe and
              taken care of and liked to cuddle.
            </p>

            <p>
              When he got arrested for grooming, Monique felt incredible pain. The social services assigned her a
              psychologist, and they talked with cold professional detachment. She understood what the specialist said,
              but it wasn’t the same as being with a man.
            </p>

            <p>
              At fifteen, they told her she was cured and well balanced, abandoned even by social services. This is
              where she started to date boys her age. They were fun, and sex was great, but they never cuddled and never
              had enough time to spend with her, doing what she liked.
            </p>

            <p>
              This went on for two years until she was seventeen and learned how to dress up and use makeup to look
              older. She got a fake American driving license saying she was twenty-one to get into clubs and buy booze
              when she got carded.
            </p>

            <p>
              Monique would go to clubs and bars three to four times a week, choosing different places. It was exciting.
              Every time she would pick a different guy to take her home and teach her something different. One thing in
              common with all of them was that they felt obliged to treat her with care, give her money, extravagant
              gifts and pretty much anything she wanted, but seldom the cuddles.
            </p>

            <p>
              Some men would take her to expensive hotels, and others would take her shopping and to fancy dinners.
              Monique’s life was filled with attention, but it wasn’t the same. She even wrote to her first man in jail,
              but he never answered. He paid attention and was always there for her whenever she wanted, something hard
              to find in other men.
            </p>

            <p>
              By the time she turned eighteen, Monique wasn’t speaking with her mother. Over the years, their
              relationship deteriorated to where, on her eighteenth birthday, she came from school to find the locks
              changed and two rolling suitcases with all her clothes packed in a pile.
            </p>

            <p>
              She cried for a week, her soul breaking, losing the last of her childish fantasies. This was life, and you
              sink or survive. Some people are rich and stable, and Monique envied that. For the rest, it was the shades
              of grey, high class, low class and no class, a sliding scale. A pretty girl alone in the world, without
              money or real friends. You don’t have to be a genius to work out the score. The only question is how it
              goes down. Do you surrender or do you control the outcome?
            </p>

            <p>
              It was easier than expected to have older men pay for her bills and an apartment. Monique seldom paid for
              a meal. She had an old Kellogg’s box on a top shelf and a bottle of expired milk in a fridge. The rest of
              her place was full of gifts, jewellery, makeup, shoes and clothes. It turned out most men thought that’s
              all women wanted.
            </p>

            <p>
              On one of her dates, Monique met Courtney and Lysette, a gorgeous redhead and a sultry brunette. By the
              next day, they were best friends, sharing the stories of their conquests. It was the two of them who
              brought Monique to the gym, where she met her husband.
            </p>

            <p>
              He reminded her of the first man she had. Jim was quiet and attentive to her every need. When she spoke,
              he truly listened. He would do anything she asked, and he loved to cuddle. Jim was broken in so many ways,
              and that was okay because the two could be broken together. When you can’t find a perfect match, you glue
              together something else that’s good enough. Compromise, compromise, thy name be love.
            </p>

            <p>
              Life with Jim would never be perfect, but it was a good life, a compromise that moves one forward. The
              dating scene and going out with random men got old after a year, and Monique wanted something different.
            </p>

            <p>
              Monique wanted a car, a house, and a loving husband. She wanted a family and a perfect life. Monique grew
              up watching American comedies with wooden houses, green lawns and white picket fences. A man would get
              home and eat his dinner, and everyone would smile, especially the children.
            </p>

            <p>
              It was something missing in her life, something she lost as a child. The moment her father left, her life
              changed. He was the only person who made her feel safe. Monique’s only memories of her dad were his smell
              when she spooned with him, holding his hand and he hugged her tight like a vise. It felt safe, like he
              would never let her go away, no matter how much she struggled. She was his, and he was her dad. Jim had
              her dad’s hands.
            </p>

            <p class="center">***</p>

            <p>
              “You fucking bitch,” Kelsey screamed full lung, trying to scratch Monique’s eyes out with her sharp nails.
              Behind her, Tatum pulled on her waist, while a tall, good looking man in his mid-thirties held Monique
              back. It was a terrible culmination of the years of built-up hate. Kelsey just found out that her de facto
              stepmother filed for a divorce, hedging her bets, wanting half of Jim’s assets because she couldn’t even
              wait for a week before declaring her husband dead.
            </p>

            <p>
              Kelsey hissed like a wildcat, promising a lawsuit, spitting venom like an African cobra snake. “I don’t
              care about the money.” She finally fell apart after the girls left and sat in a nearby cafe to cool down
              from hate. Tatum brushed her lover’s hair and rubbed her hands, which trembled from anger and stress. For
              five days now, Kelsey barely slept or ate. All she could do was look for her father and pray for his life.
            </p>

            <p>
              “It is all my fault. I should have been with him.” They call it survivor’s guilt. The only likely
              difference would be that father and daughter would be now missing together, somewhere in the ocean,
              possibly dead. Tatum didn’t even want to think about that. She wouldn’t survive losing her lover and best
              friend.
            </p>

            <p>
              This escalated out of control or any measure when Kelsey learned about the divorce. Money wasn’t an issue,
              as both girls were minted. Despite burning cash like teenagers, Tatum made a small fortune from her art,
              and Kelsey had a generous investment trust set up by her dad. Together they made more than they spent, and
              when combining their earnings, the girls had a comfortable surplus of cash at the end of each month, which
              they invested.
            </p>

            <p>
              Tatum left Kelsey at the table, going to pay the bill, then stood in the corner and dialled her phone. It
              rang for almost a minute before a man answered. “Dad, I need your help.” They talked for five minutes, and
              Tatum turned back. “Come, babe. I’ll take you home.” Neither was in the mood for a long train ride to
              Cambridge. Ten minutes later, an executive class Mercedes parked up with a driver. They would normally
              avoid such extravagance, but Tatum didn’t want to aggravate the situation more.
            </p>

            <p>
              It took over three hours to fight the traffic out of London, going through Finchley and Stevenage all the
              way up to Cambridge. The girls collapsed on the bed as soon as they got home, embraced, and fell asleep
              emotionally exhausted. In the beginning, everything looked positive. There was an abundance of hope and
              the smartest people in Europe were trawling the net, trying to figure out where the ship disappeared. They
              even roped in a few geology professors and physicists trying to work out where could Rusalochka be looking
              at weather patterns, but all of it failed. Even satellite imagery showed nothing. It is a big planet.
            </p>

            <p>
              A gentle knock came on the door, and Tatum extracted herself. She tiptoed away and paid cash to a local
              drug dealer she sometimes used to buy weed for their parties. This time he brought something much more
              potent; Valium, benzodiazepine, a powerful muscle relaxant sedative used to treat anxiety. There was no
              way for someone with a record like Kelsey getting one on a prescription without getting committed. Once
              deemed crazy and in the system, they always assume you are insane, a danger to yourself.
            </p>

            <p>
              Tatum crawled into bed with a glass of water, feeding her lover a pill and making her drink. “I got you,
              babe. You are safe.” She hugged her tight and let her sleep. Tatum stared at the ceiling, thinking of the
              future. She knew deep in her heart that she would kill herself if something happened to her love. Both
              girls were unstable in their own way, but together they caught each other before they fell. What they had
              wasn’t just love, but much more than that. They were each other’s support and balance. Two bodies, one
              soul.
            </p>

            <p>
              The night fell, and the world turned quiet. Tatum would often check her lover’s breath. Kelsey slept like
              a child for the first time in days. The terrible explosion of repressed emotions took out the last of her
              strength. “If life could only go back to what it was.” Tatum would say to the emptiness in quiet whispers,
              gently stroking her lover’s beautiful long blonde hair. “I love you more than anything,” she said before
              embracing her tight and letting the world of dreams carry her away.
            </p>

            <p>
              Mornings in Cambridge are busy events, at least in their city centre apartment block full of wealthy
              students. It was funny that two girls who rejected extravagant living ended up in the centre of adolescent
              snobbery. As much as one rejects status and class, you are who you are, and that’s how you were raised.
              Even as a rebel, you end up as one of them, a proof in point that blood is thicker than water or at least
              whatever self-righteous virtue people choose to attribute to themselves.
            </p>

            <p>
              Posh students were everywhere, slamming the doors, making loud noises, echoing through hallways as if to
              say, screw you all, I have arrived. Kelsey stretched her soft feminine curves on the silken bed covers,
              making cooing noises. Tatum smiled at her, putting on a kettle. The day looked brighter, and both girls
              seemed rested.
            </p>

            <p>
              “Mmm, thank you, love,” Kelsey gurgled, smelling hot chocolate. Tatum brushed away the hair from Kelsey’s
              forehead, looking into her ocean-deep eyes, a little red from crying for a long time.
            </p>

            <p>“How do you feel, babe?”</p>

            <p>
              “A little better, thanks.” She took a little sip and smiled. It was perfect, just the way she liked. Even
              little white marshmallow pieces floated on top. The two young lovers were still just children, living
              their best life, happy to have met each other.
            </p>

            <p>
              When people looked at two gorgeous ladies kissing each other, they immediately thought it was their raw,
              almost brutal radiating sexuality. Nothing could be further from the truth. The two young lovers adored
              each other, exchanging their hearts, and giving one another all their love. One couldn’t imagine the world
              without the other. Whatever anyone called it, the two knew they were soulmates.
            </p>

            <p>
              “I’m sorry,” Kelsey apologised. She promised many times not to freak out when they got home. To see
              Monique flaunt another man, especially one that sized the two girls up and down, licking his lips like a
              big bad wolf, made Kelsey blow a gasket. That was on top of already being upset by the divorce.
            </p>

            <p>
              She thought it was an excellent idea for Monique to disappear from her dad’s life. To do it while he was
              lost at sea, maybe even dead, only a few days after he disappeared was the most terrible betrayal. It was
              even worse than cheating behind his back. Kelsey felt her rage rise from tingling at the tips of her toes
              to her face where it exploded. She lost her cool, and if it wasn’t for Tatum, the two would be at each
              other throats. She might get arrested and rolled back into the slammer for the mentally unstable.
            </p>

            <p>
              It took Kelsey a while to get up. The two girls spent an hour in a steamy shower washing each other up. It
              was their favourite time of the day when they had time, loving and intimate for two young lovers. Dressed
              in fashionable city clothes, oversized blue bling velour trousers and hoodies featuring sparkling words
              Juicy Couture, the girls walked out. They wore fashionable Nikes and Dolce &amp; Gabbana sunglasses. Both
              were the usual guests at a nearby upmarket restaurant that catered to the whims of entitled brats. With
              only a wave, Tatum signalled for the waitress to bring them their usual order.
            </p>

            <p>
              “As usual, we harmed no animals in preparing this meal,” the waitress passed a witty remark, bringing them
              their special mixed-cheese salad with pesto and olives and two freshly squeezed carrot juices on the side.
              Twenty squids each; it was a bargain. Kelsey perked up, always giggling at Tatum’s misuse of English
              slang. She tried to teach her once and failed. No matter how hard Tatum tried, she just didn’t understand
              why apples and pears were sometimes upstairs.
            </p>

            <p>
              “I spoke with my dad.” Tatum started, keeping her eyes on her blonde lover. Kelsey looked up with a
              worried face. She knew the entire story; father and daughter never saw eye to eye. “I was worried about
              you yesterday and asked my dad for help.” Kelsey was about to say something and demand that Tatum
              shouldn’t have compromised, but she was too beaten down by the events of the past few days. Sometimes
              pride has to be swallowed. She squeezed Tatum’s hand in silent thanks for her sacrifice.
            </p>

            <p>
              Dalton’s plane was due to arrive at sixteen hundred. It surprised Tatum to receive a text. Her dad liked
              to use the military format without ever having served. The Richardsons were wheelers and dealers, the
              moneymen, the bankers, a bunch of bloody wankers, but never anything noble, like doctors or soldiers.
              Tatum was the black sheep, the persistent blemish on their reputation that just wouldn’t wash away no
              matter what they tried.
            </p>

            <p>
              “I can go with you,” Kelsey offered, knowing it was a much bigger deal than Tatum made it sound. There
              were rumours, of course, but nobody knew it as a fact that the girls were lesbian. The whole bisexual part
              would just make it worse. Both girls didn’t know hot to come out to their parents.
            </p>

            <p>
              “It would be better if you joined us later.” Tatum didn’t need to explain. Both girls had a complicated
              situation with their families. This was one thing that made them bond with each other when they first met.
              Aggravating them more right off the bat could make things worse. Tatum hoped to sprinkle some verbal magic
              to sweeten the upsetting reality.
            </p>

            <p>
              Sitting with a nice girl for two hours feels like it’s only a minute, but sitting on a hot stove for a
              minute feels like two hours. That’s relativity, explained Albert Einstein. The same applied to Tatum,
              sitting in the arrivals lounge, waiting for her father, counting the minutes for his plane to land. It
              felt like hours of nerve-wracking torture. It was worse than sitting at the dentist’s, listening to a
              buzzing sound and people screaming in pain, getting root canal nerves pulled out without anaesthesia.
            </p>

            <p>
              Tatum saw a man in a tailored pinstripe suit just off indigo colour come out. Dalton was a tall man with
              clear blue eyes that seemed to rip right through anyone’s mental defences. At least that’s how it felt to
              Tatum. Every time she looked into her dad’s eyes, she was transported back to her childhood, seeing a
              stern man waving his finger. Dalton’s whole demeanour and presence demanded obedience and respect, but
              this time he seemed more like an ordinary man. It’s been almost three years since she saw her father.
            </p>

            <p>
              The Richardsons were proud. Nobody wanted to be the first to pick up the phone, even for Christmas or
              birthdays. Something has changed to alter Tatum’s perception of her dad. He seemed smaller, less scary
              than she remembered and on his face was something strange. It was a smile.
            </p>

            <p>
              Dalton waved, noticing his daughter and like by some magic, she stood up and ran, colliding with her
              father in a tight hug. So many strange emotions repressed, bubbling up, bursting through her eyes. The man
              smiled at her kissing her forehead. Tatum remembered this smell. When she was a child, little over five,
              she used to climb into his lap and cuddle, feeling warm, safe and loved. Memories of the two of them in a
              park on the swing flashed and how he tucked her in at night with love. Somehow she struggled to remember
              why did they fight? Why did he have her committed?
            </p>

            <p>
              All of it felt like in some past life. She grew and changed, but not her father. Somehow he was just like
              she remembered, and there was this smell, and she cried.
            </p>

            <p>
              “You grew so much,” were his first words, spoken in a gentle baritone voice. Dalton didn’t see his
              daughter for such a long time. The last time they spoke, she was this scrawny, gangly creature with a
              perpetual scowl and always on edge. In front of him stood a young lady with perfect hair, skin and teeth.
              She was of normal weight and took after her mother, that won every beauty pageant.
            </p>

            <p>
              Gone was the child. Dalton held onto a woman in his hands. His eyes sparkled, and he smiled in pride. He
              couldn’t fall asleep for a minute all the way. Dalton imagined many problems but would gladly die for his
              favourite daughter. He dreaded the moment they met, never knowing what to expect.
            </p>

            <p>
              At first, he saw her sitting on a chair, but his eyes continued searching until he did a double take. His
              daughter looked like an angel. It was almost like watching old movies. Tatum looked like Audrey Hepburn
              but better. This tall, willowy creature with an angelic face and beautiful round eyes was his daughter.
              Even her long, swanlike neck looked like the famous actress’ back in the sixties.
            </p>

            <p>
              He and his wife spent many a day thinking, worrying and praying for their youngest daughter. Never in
              their wildest dreams could they imagine how well Tatum did for herself. Dalton hugged his daughter
              tighter, biting his tongue, suppressing the tears that forced their way into his eyes. There is no feeling
              like being a father, losing a daughter and finding her again. He felt like a man pardoned on the way to an
              electric chair.
            </p>

            <p>
              Dalton watched his daughter walk in front, pulling his burgundy cabin-sized hardshell rolling bag. She led
              him to the parking lot, where she got into a car. Dalton watched with an amused smile his daughter handle
              a bright red Vision Mercedes-Maybach 6 Cabriolet. From her practised moves and nonchalant attitude, he
              figured out that his daughter was used to this vehicle. Dalton only paid for Tatum’s education, often
              checking the statements of the credit card he gave her. There were no charges, so he surmised his daughter
              got herself a man who was taking care of her bills. His assumptions were confirmed, and his curiosity
              satisfied, seeing the extravagant vehicle. At least his daughter loved someone.
            </p>

            <p>
              Tatum drove in silence, allowing her dad to get a good view of the city. She noticed him appraising her
              car with a smile. The girls seldom used it, preferring motorcycle. Still, with fickle English weather, one
              without a car is a fool walking in the rain. Tatum almost giggled, remembering how she traded this car for
              her services. A local company liked her art and asked how much she would charge for decorating their
              offices. She shook a hand with the owner, trading it for his car. He was looking to replace it anyway
              since he got a child, twin girls he adored.
            </p>

            <p>
              The car parked under a large building. Dalton followed his daughter in amusement as she took him to the
              elevator and pressed four, the top floor. He watched her use her key and walk in and gasped. Tatum brought
              him to her atelier, where she officially lived. She sat down and waited, watching her dad soak it in. It
              was a large apartment; two, in fact, joined after knocking down the wall, a huge open space with only a
              bathroom separate and a small unused bed in the corner. There were statutes of all types and sizes. The
              place was decorated in a unique style, looking almost like a shrine. The light coming through windows
              would bounce against the sculptures, creating almost surreal shadow and reflection effects. It made the
              whole place seem like some sort of temple built for a princess, perhaps the Helen of Troy, living in
              opulence.
            </p>

            <p>
              Dalton walked to a wall with dozens of awards, framed news clippings and photographs of Tatum and another
              girl visiting museums and galleries. They were always taken near some sculptures made in a similar style
              to the ones in the apartment. It didn’t take Dalton long to figure out his daughter’s life. That rebel
              girl with an explosive attitude turned out to be an artist extraordinaire. Dalton knew little about the
              arts, but he was aware of prices and insurance rates. He would often go to auctions and see people blow
              millions, which was cheap compared to getting it from a gallery or a museum.
            </p>

            <p>
              He looked around, doing quick maths. Just in this apartment, there were millions in art. For the first
              time in his life, he had nothing to say. He didn’t understand the creative process but was a genius with
              numbers. The daughter he thought would amount to nothing turned out to exceed anyone’s dreams. He knew at
              that moment that there was no boyfriend. Tatum earned that car, even this apartment, with her two bare
              hands and a creative spark unlike any he’s met.
            </p>

            <p>
              Dalton turned to his daughter and saw her face. All masks fell. She saw a child seeking approval in her
              father’s eyes. “I’m sorry,” he said, and the words failed. She ran into his embrace, and he squeezed her,
              never wishing to let go of her again. “I love you, bunny. I am so sorry, so proud of you, honey.”
            </p>

            <p>
              The man knew he was setting himself for a great fall. Tatum called him because she needed his help. What
              could a young woman with money and grace need from her estranged father? It didn’t matter. He would give
              his life. The years without a word from his favourite daughter were terrible. So many times, he wanted to
              pick up the phone and call, but old demons or fear stayed his hand. He avoided making it worse after they
              said so many hurtful things to each other. He kept apologising, and she kept squeezing. All was forgiven
              and forgotten in that one moment.
            </p>

            <p>
              “Come, you can freshen a bit. You must be starving.” Dalton thanked her and went to the bathroom,
              returning fresh and clean-shaven an hour later, wearing a fancy new dark pinstripe suit and smelling
              fresh. Meanwhile, Tatum popped out to change and wore a beautiful white Valentino crisp tweed dress with a
              black-stitched neckline and pockets. With that, she put on a fashionable trilliant-cut Swarovski Millenia
              necklace. They made it with a rose, red and yellow stones set on a gold-tone plated chain, wrapping
              several times around her neck. To complete the ensemble, she put on fancy colourful Nike sneakers. None of
              that was in the same tone, looking like she just slapped it together, but somehow Tatum made it work. It
              reflected her rebel personality, shouting and screaming, “look, I am here.”
            </p>

            <p>
              The car waited outside with a professional driver. Tatum instructed the man to take them the longest way,
              so Dalton gets to see the city, the sights and the university buildings. It was a fun journey, and Tatum
              observed her dad, watching the beautiful town with students milling about. Frequently, he was about to say
              something, then bit his tongue and continued watching.
            </p>

            <p>
              Dalton had visited the UK before, but it was all on business, confined to London. For years he promised
              his family and himself that he would find time to visit and check out the cities. Like all busy people,
              it’s easy to make money but almost impossible to make time. This was one of his biggest contention points
              with his daughter. No matter what Dalton did, he couldn’t get Tatum to take him seriously. He was always
              worried his daughter would fail, insisting she had perfect grades. In hindsight, being chauffeured around
              a remarkable place made him sorry for not trusting her daughter. It was strange. Parents were supposed to
              take care of their children, but sometimes those veritable geniuses are hard to recognise, especially when
              they come as your own son or a daughter.
            </p>

            <p>
              The driver promised to wait around the corner while the two dined. Maître d’ showed them where to sit. The
              table was set in a cosy corner where an imposing-looking blonde with long wavy hair waited. She wore a
              gorgeous black silk dress tailored by one of London’s top boutique designers.
            </p>

            <p>
              “This is Kelsey, dad.” The two shook their hands, exchanging pleasantries before Tatum expanded, “she is
              the love of my life.” Dalton choked on his wine, looking at the young woman and his lovely daughter.
              Sometimes his brain felt half-asleep, especially at the moment, trying to process the immensity of what
              his daughter said.
            </p>

            <p>
              She wasn’t just introducing her lover but coming out as gay. His company supported the LGBT movement,
              donating money and hanging flags. They even organised employee awareness events. It’s all great until it
              happens to you and your children. In one quick instance, all he’s ever said on the subject came crashing
              in with deep, personal meaning.
            </p>

            <p>
              The two lovers exchanged quick smiles, observing Dalton’s face turn pale. They gave him time to gather his
              composure before croaking, “more wine, please.” It would be fun if it was some other time, but Tatum
              called her dad because she needed his help. The starters arrived, and everyone stuffed their faces.
              Halfway through, Dalton commented on how good the food tasted.
            </p>

            <p>
              Changing the subject seemed the best strategy. The main course arrived, and everyone ate while joking.
              Nobody wanted to talk about what Dalton wanted to hear. In the end, what does it matter? Dalton had enough
              time to process it in his head. Like pulling a tooth, the shock was greater than the pain.
            </p>

            <p>
              “How do you know each other?” Dalton finally asked, tasting chocolate cake and chasing it down with a gulp
              of espresso coffee. That broke the ice, and the girls talked, telling Dalton about their life together.
              The mood changed, becoming happier as the girls looked into each other’s eyes holding hands. More than any
              words they said, this convinced Dalton the two were in love.
            </p>

            <p>
              “Please let me tell this to your mother,” he said and laughed, imagining the face of his wife when he
              shared with her that her youngest daughter was one of the others. The times have changed, and many people
              live the unorthodox lifestyle. Dalton and Louse were rich democrats, supporting the progressive left and
              everything coming from that. They lived in a small place called Orinda, within spitting distance from
              Berkley and Oakland. Dalton worked in San Fran downtown, commuting every day. If there was one place on
              the planet where having a lesbian daughter was acceptable, it was where they lived.
            </p>

            <p>
              The longer they talked, the more Dalton liked Kelsey. She was young, classy, well-spoken and educated with
              feet firmly planted on the ground. She could have been his own daughter. The girls told him how they met,
              and both were troubled, but it looked like together, they only did wonders for each other. Their love was
              undeniable, combined with respect. The girls had their own rhythm, and Dalton couldn’t imagine anyone
              better than that.
            </p>

            <p>
              Kelsey talked about her investments, what she did with her money and how Tatum helped. It turned out the
              two girls were partners. Kelsey bankrolled the studio and helped her sell. Since Dalton was in finance,
              their chat turned that way. He was impressed by the girls’ clever investments. Kelsey seemed to know a lot
              about property development, recognising good and bad investments. One could say she had a knack. The girls
              bought apartments off-plan from reputable firms with a twenty per cent discount, then flipped them at the
              peak profiting on average half of the property’s purchase value. Wash, rinse, repeat; that’s all they did,
              landing them a sizeable nest egg making an annual turnover of some twenty-odd apartments. They even
              minimised their tax exposure, investing in foreign countries, moving the profits into other opportunities,
              profiting in assets instead of cash.
            </p>

            <p>
              It was getting late and time to go home. Kelsey dismissed the car, taking everyone for a walk through
              town. The weather was perfect, the lights were on, and people were on the street. Dalton enjoyed looking
              at the sights, holding two clever ladies under their arms.
            </p>

            <p>
              Jet lag is a bastard. Dalton had a hard time trying to fall asleep, ending up staring at the ceiling all
              night. In some ways, it was better this way, helping him sort out the events of the day. With all the
              excitement gone and all his nerves calmed after a nice cup of hot camomile tea, he replayed in his head
              the minute details of the day.
            </p>

            <p>
              So many things have changed. His own daughter was so grown up, so different. Dalton was bursting with
              pride on one side, while on the other, he felt regret. He only wished to have been smarter and spent more
              time and effort with his own daughter. Perhaps it was all necessary for her to move away and live her own
              life. Her own rules and challenges made her the lady she was today.
            </p>

            <p>
              Dalton chuckled, remembering a few things she said. Even grown up and clever, Tatum was still herself, the
              unruly kid with a crazy imagination, doing whatever she liked her own way. As much as it frustrated him
              and drove him to insanity, this was the one thing that made her his. She was still his daughter, even all
              grown up and practically married. She still was this kid that made him roll his eyes in exasperation and
              wonder. A song popped into his head by an old British punk band that reminded him of his daughter’s
              character and he recited the words almost forgotten.
            </p>

            <p>
              Dalton would never admit it to anyone. When he was younger, he ran away from home with his best friend and
              went to San Fran just for the concert where he heard this very song. He saw Sid Vicious and Johnny Rotten
              on a stage, singing old Paul Anka’s song, and they inspired him.
            </p>

            <p>
              When he got back home, he found enough fortitude to ask the school beauty queen out on a date, and she
              said yes. I was the song that gave him courage. He married her later, and she gave him three beautiful
              children.
            </p>

            <p>
              “Regrets, I had a few.” Dalton sang under his breath, remembering his youth and the life that followed.
              His biggest regret was never trusting his daughter to make her own mistakes. “And more, much more than
              this. She did it her way.” He laughed, feeling his eyes tear in happiness. “My little rebel.” His heart
              was whole, finally able to talk to his daughter. Dalton closed his eyes, humming the songs, remembering
              when he was young at a Sex Pistols concert. All the cool kids loved them, and some of them tried to
              imitate them, but he and his best friend actually did that. They rebelled in secret and went to the
              concert.
            </p>

            <p>
              “Dad, dad? Come on. You’ll miss the breakfast.” Dalton opened his eyes and grunted, pleading for just five
              more minutes, but Tatum was relentless. “You know that you were adopted? We found you in a mental asylum,”
              he said, mumbling and waddling to the bathroom before screaming in a cold shower.
            </p>

            <p>
              “Sorry. Forgot to tell you; no hot water in the morning.” It was a sizeable apartment block with many
              residents, and the central boiler was long scheduled for maintenance. It was a chicken and egg problem.
              Replacing it would mean going for a week without hot water.
            </p>

            <p>
              “Coffee,” Dalton begged, sitting at the table with a loaded plate of full English breakfast in a nearby
              cafe. He squeezed the hash brown and sausages with his fork, studying the amount of grease that leaked
              out, dabbing it with napkins. “How can you eat this and remain slim?”
            </p>

            <p>
              “Oh, that’s for you. I’m a vegetarian. Kelsey is bringing us a fruit salad.” Dalton gave her an evil eye,
              pushing away his plate. “Can you please get me one as well, and more coffee. Much more coffee.” He didn’t
              cope with jet lag well.
            </p>

            <p>
              They sat there sipping coffee long after finishing their breakfast. “You said that you had a problem.” The
              mood changed, and dark shadows appeared on the girls’ faces. More stable than Kelsey, Tatum began. It was
              a long story, and a complicated sensitive problem. They remained in the diner until lunchtime; both girls
              had tears in their eyes. Their youth and inexperience added to the emotional state. It made everything
              look bigger and the problem unsurmountable.
            </p>

            <p>
              Dalton felt in his element. This was what he did daily, dealing with a variety of assholes. He had an idea
              he wanted to suggest, but first, he had to make a few calls and consult with his lawyer. This time he knew
              he wouldn’t fail his daughter.
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Big-Fish-Rumpel-Stiltskin-ebook/dp/B0BHJKVZ31'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <!-- <a href='https://apple.co/3zSPgfs'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a> -->

              <!-- Google -->
              <!-- <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Montana?id=ftFBEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a> -->

              <a href='/books/big-fish/preview/chapter-3-rusalochka' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 3 - Rusalochka >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
          
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
