---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Big Fish | Chapter 9 - Finding faith'
  description='Big Fish novel by Rumpel Stiltskin'
  image='/images/big-fish.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/big-fish.jpg' class="big-cover-img" /> -->
          <p class='emp grey'>BIG FISH</p>
          <h1>Chapter 9 - Finding faith</h1>
          <div class='biggest'>
            <p>
              “You are in a hospital, dad,” Kelsey smiled at me, squeezing my hand. Next to her was a cute brunette, my
              daughter’s American girlfriend. She had blue eyes and looked scared, gnashing the fingers of her hand out
              of nervousness.
            </p>

            <p>
              I waved her over, and she timidly approached. Her hand felt sweaty, and she trembled a little. “I am happy
              to meet you, Tatum.” Her eyes opened wide in surprise, but not as much as Kelsey, who looked shocked.
            </p>

            <p>“You know about her, er, us?”</p>

            <p>
              “I’ve known for a long time.” She burst into tears, hugging me tight, while Tatum moved away a little and
              quietly cried. Communication is the key to any relationship. Kelsey and I failed to communicate. Years
              have passed since she and I could tell something to each other without it turning into a fight. Both of us
              talked, but neither listened. Both wanted to say what was on our minds without stopping to think about the
              answers. Communication is about listening, and both of us failed in this.
            </p>

            <p>
              “I love you, dad, so sorry for everything I said. I thought you were lost forever, and the last thing I
              said was in anger.” There was nothing to say. I listened. I hugged her tight and kissed her cheek. The
              pain went away, but I was heavily medicated.
            </p>

            <p>
              The doctor explained I had been in the hospital for the last week in a medically induced coma, having gone
              through several operations. “Honestly, I don’t know how you’re even alive with all your injuries.” He
              listed all that was broken or not working well. I left on the ship a healthy man and returned a shell, a
              shadow of my former self.
            </p>

            <p>
              Kelsey climbed on the bed with me, hugging me with tears. Tatum stood alone in the corner while her tears
              welled. I waved her over to sit with me, squeezed her hand, and saw her smile. A few tears rolled down her
              cheeks as the stress came out. The girls were smart, strong, and independent, but still young. It was a
              tragedy, and I put them through this.
            </p>

            <p>
              “I am sorry for everything,” I said, and both of them burst into tears and wailed. It is great to cry. It
              means you’re alive, but it is much easier for women. “You are a man. Men don’t cry.” My dad had a mantra,
              “Life is pain.”
            </p>

            <p>
              Life was a pain sometimes, but it was great. Everything felt so distant, like I was living outside myself.
              Maybe I died, and this was a dream. How does one know what is real? “If it hurts, it means you’re alive.”
            </p>

            <p>
              “Yes, dad, I know. Life is pain.” Perhaps that’s why he used his belt. He was teaching me the difference
              between life and death. Looking from today’s perspective, everything my old man did seemed laughable. He
              was a simple man with more than his fair share of pain.
            </p>

            <p>
              I remember my father wasting away in bed. There was some symmetry in that. My daughter now looked at me.
              Life is a dream within a dream, a flicker, and you’re gone. You are alive for as long as you’re
              remembered. My dad was alive inside my mind, but that’s where he died. I killed him twice.
            </p>

            <p>
              I never spoke about him to Kelsey, so his memory dies with me, but the first time I killed him was in his
              bed, when he couldn’t move, begging for help. Lung cancer is a terrible thing. A man drowned in his own
              bodily fluids. At least once a week, I would call the emergency. They would come over and drain his lungs.
            </p>

            <p>
              He lived in pain and was addicted to morphine. It was the only drug that would stop the pain. I saw the
              powerful man shrivel and waste. He looked through me, mouthing for help. One day, I decided he suffered
              enough. I could see he was scared; I saw death in his eyes. This time I didn’t call the ambulance. I held
              his hand and watched him suffocate after giving him an extra dose of morphine. “Goodbye, dad.” I hugged
              him after he left. I didn’t cry; he taught me well.
            </p>

            <p>
              Old memories flooded in as my daughter hugged me. It is a strange thing being a father. All you want is to
              protect your son or daughter. We punish our children for saving them from pain. “Don’t make the mistakes I
              made.” It was all we could do as parents. Mistakes are how we learn and grow as people.
            </p>

            <p>
              “The doctors say you will leave in a few days, but you will have to take physiotherapy.” I knew all that
              but didn’t mind it repeated. “You can stay with me in Cambridge, or we can stay here. I don’t want to lose
              you the second time.”
            </p>

            <p>
              “I think I want to go home.” The two girls looked at each other. Kelsey cleared her throat and looked at
              me with a nervous look in her eyes.
            </p>

            <p>
              “Nobody is at home. Monique left. You will need help.” I hugged Kelsey tighter. She grew up to be a real
              ball buster, putting her emotions aside and focusing on life’s practicalities. I was proud and saddened at
              the same time. I wanted her to have a different life, but what do they say about the tree and an apple? We
              all screw up our children to follow in our footsteps. I never laid a hand on my daughter and found a way
              to hurt her without the belt.
            </p>

            <p>
              “I am sorry,” I said, thinking about what. The list was too long to apologise for all that. Kelsey was a
              grown woman now. It was time for her to live her life unburdened. It’s all I wanted for her all my life,
              and I made a dog’s dinner out of that. I didn’t want to get into it now and start another row. Perhaps it
              was time for me to let her run the show instead. I smiled, remembering the exact moment it happened for my
              father, when he let go of his parental oversight and saw me as a man.
            </p>

            <p>
              Eventually, every parent had to let go of his children. We can’t protect them or even guide them. They
              have their mind and will do what they think best. At some point, one had to accept he wasn’t the smartest
              one anymore. It was a humbling moment, but a special one. I was proud of my daughter for growing up enough
              to teach her dad.
            </p>

            <p>
              “So tell me,” I said to Tatum, “when are you two getting married?” I saw the girls wearing two identical
              rings. They were discrete and golden with a miniature diamond. It was clear the two wanted to keep it
              discrete and not show off.
            </p>

            <p>
              She looked at me and gasped. “What? I’m not blind,” I said with a smile. “I can tell you’re engaged,”
              pointing with my finger to her hand. Tatum burst into tears, but Kelsey was stronger.
            </p>

            <p>“We didn’t set the date yet. It is new to us, too; it just happened.”</p>

            <p>
              “If you want some advice, don’t wait for too long. Love is here and now; grasp it with both hands. You
              don’t know what awaits in the future. Don’t be a fool like your old man.” That sent her crying, and she
              hugged me again. I clearly had an innate ability to send the women into tears. No wonder all of them left
              me.
            </p>

            <p>
              There was a knock on the door, and a nurse came. “I’m sorry, sir, but I’ll have to take you for the
              treatment. Both girls hugged me and I kissed their foreheads. “I always wanted to have another daughter.”
              Tatum cried again, holding to her lover. I left them standing while the nurses rolled me away.
            </p>

            <p class="center">***</p>

            <p>
              “Oh, god,” Monique said, holding her phone tight. Her face was pale like alabaster in the moonlight. She
              couldn’t believe it. “They found my husband.”
            </p>

            <p>
              “You mean your ex-husband?” Fred said. She hated him now. They say be careful what you wish for. Fred was
              fun, a great lover and an adventure, but he didn’t quite cut the mustard as a boyfriend. The worst part
              was Monique never knew where she stood with him. Was he screwing around, or were they in a committed
              relationship?
            </p>

            <p>
              Every time he touched her, Monique’s whole body fluttered. She was turned on by his careless sexuality,
              but little more than that. All Fred wanted to do was stay home and screw her brains out, and Monique loved
              it. Nothing is saying “I want you” louder than this. Monique wanted to be wanted, to be desired and
              needed. Still, it was a hollow victory rooted in a shallow ground of insecurity.
            </p>

            <p>
              She tried to avoid comparing Fred to Jim and failed. In every single category, Fred lost except raw,
              passionate desire. Monique was divorced now, living in a fancy central London apartment paid for by the
              company she partially owned as a perk for the members of the board, the three of them, Kelsey, Demeter and
              herself.
            </p>

            <p>
              Everything happened so quick. Monique didn’t have enough time to process it. One minute she was in court
              staring at the judge; the other, she was walking out with her lawyer, clutching a bunch of papers. It was
              done. She was a free woman and divorced.
            </p>

            <p>
              When she got home, she cried. They gave her a week to take her shit and fuck off, in Kelsey’s words. That
              little bitch won the ultimate fight, sweeping her away like a discarded tissue. One thing could be said
              for American lawyers. They can be vicious, punching below the belt. Monique wondered, where did little
              Miss Precious find those?
            </p>

            <p>
              “No matter. It’s done,” Monique said and burst into tears, falling on her bed, clutching a pillow. Maybe
              it was all a mistake. She need the hugs, but Fred didn’t hug back. He was more in-and-out guy, getting
              laid in a drive-by. Monique didn’t mind. Sex was a big thing in her life, but everything else just oozed.
              Fred was a chump.
            </p>

            <p>
              At least he was simple. Fred had a one-track mind, driven by instinct to procreate. It fed his ego to no
              end when he learned Monique had divorced her husband. Fred saw it as a personal victory. He wrestled a hot
              wife from a rich guy she didn’t love. In many ways, Fred and Monique were the same, needing a third person
              to tell them who they were. They judged themselves through the eyes of the others, all glitz and glitter,
              very little substance. Monique always wondered what was Fred’s damage.
            </p>

            <p>
              One day after marathon sex, in a moment of weakness, Fred confided in Monique, telling her about being a
              late bloomer, a scrawny little kid with pimples and zits. The girls avoided him like the plague lest one
              of his yellow pussy pustules exploded. It happened once when he laughed, resulting in a yellow puss mixed
              with blood running down his forehead. Immediately all the kids knew and shared pictures, calling him
              Herpes-Boy and Gonorrhoea-Kid, changing it to Herpy or Gonzo after his parents complained to the school
              administrators. Nobody could stop the verbal bullying to the point when his parents took him out of
              school.
            </p>

            <p>
              Monique bit her tongue and twisted her finger; anything she could do to prevent herself from bursting into
              laughter. It was unkind, but also funny as hell. She imagined Fred’s face with pimples popping like
              popcorn in a microwave oven.
            </p>

            <p>
              She knew a girl like that; she had terrible menstrual cramps as well. She’d turn into a leper for a few
              days a month. Sometimes they had to take her away with an ambulance. There was nothing funny about that,
              but imagining a guy with the same problem was just comedic. She heard Jim say a million times boys should
              man up and stop clinging to the dress of their mothers. Some of it rubbed off.
            </p>

            <p>
              “Man is a man, and woman is a woman. We have a different role and function in life.” She remembered Jim
              saying things like this many times, putting drag queens and transvestites into the same basket as sexual
              deviants.
            </p>

            <p>
              “I don’t care what tossers think about me,” he would say when he got angry, slipping into a guttural slang
              Monique couldn’t understand. Jim was a London boy and sounded like some old cab driver, chewed up words,
              half of the consonants missing, half of the words replaced with nonsense.
            </p>

            <p>
              Noticing their son’s misery, Fred’s parents homeschooled him, which was a mistake, turning him into mama’s
              boy worse than before. When he finally got into university, Fred was a social outcast, geek and freak.
              They called him a freak behind his back because he had a thing for smelling girls’ hair.
            </p>

            <p>
              All of it changed by the time he graduated. Fred spent a fortune on cosmetic surgeons, personal shoppers,
              and life coaches. He even paid some dating experts to teach him how to talk to women. Three times a week,
              he’d go to clubs and trawl the town for anything with a heartbeat. Getting a woman into bed was like a
              personal conquest. In some ways, he was paying the women back for all the hurt and rejection he
              experienced. It also reinforced his ego to sleep with a woman outside his reach. The more beautiful and
              unavailable she was, the bigger the emotional reward.
            </p>

            <p>
              He gloated for days after Monique got her divorce. He was like a rabbit on a diet of Spanish flies,
              popping Viagra like a tic-tac, washing it down with yohimbine. Monique enjoyed that, but for a completely
              different reason. She loved sex, but it also helped her forget now she was a divorcee in her mid-twenties,
              living alone without a plan or a future.
            </p>

            <p>
              Monique looked at Fred now and his smiling face, gloating deep inside that Jim was alive. It wouldn’t be
              such a juicy victory if the man died, but now that he would return, Fred felt big and strong, so manly. He
              cuckolded a wealthy man with a great house, a beautiful wife, and everything he ever wanted, but was
              denied.
            </p>

            <p>
              “I want you to leave,” Monique said in an icy tone. It made Fred shiver. He had never heard her address
              him this way. His lips mouthed the words, but nothing came out. He knew what was coming next.
            </p>

            <p>
              “We’re done. I don’t want to see you again.” Fred’s eyes glistened from the tears that pooled. It took all
              his strength to put on clothes in silence and walk away. The doors slammed behind him, and he knew it was
              over.
            </p>

            <p>
              Monique turned around and looked at her apartment and all the things she got. Most of it was still packed
              in boxes; so many gifts, trinkets and nonsense. She had too many shoes and clothes, some of them worn once
              or never. All of it looked pointless, a waste of money without someone to truly appreciate it. Fred wasn’t
              interested; he preferred her naked.
            </p>

            <p>
              She sat down on a chair, put her hands together, and prayed. Jim was alive; she was glad. Monique loved
              him in her own way, but most importantly, Jim was her best friend. She was so young when they met, so
              foolish and impressionable. Thinking in retrospect, Monique knew she could have done much worse.
            </p>

            <p>
              I wasn’t even about sex. She loved it, of course, but not just from a physical aspect. She craved physical
              intimacy all the time. It was a complex she had carried since her early days. When she was with Jim, he
              held her hand, hugged her all the time. He made her feel loved and safe. So she pretended to not see his
              million oddities, the times when he disappeared in his private space or when he travelled abroad for days
              at a time. She role-played with Jim many characters when he would pretend he was someone else. People see
              only what they want to see. Monique was careful to not see many small things. Jim wasn’t all there in his
              head or completely sane. They met at the lowest point of his life. He was breaking apart, including his
              mind, and she was the glue keeping it together.
            </p>

            <p>
              Last year was terrible. Monique often found herself alone. Sometimes they would argue and fight about
              Jim’s working day and night. She felt abandoned, like a beautiful bird in a gilded cage. She would get
              anything she wanted except the undivided attention of her husband. Monique would never admit it to herself
              that she was jealous of Jim’s business, and now she owned almost half, out of her depth, unqualified.
            </p>

            <p>
              She had no husband to have her back, no family or friends. She was alone. In a moment of clarity, she
              ended everything with Fred. Tabula rasa, clean slate. If you’re starting over, it’s best without baggage.
              Monique took a long, thoughtful shower, combed her hair, and put on her clothes. An hour later, she got
              into the office. Her assistant brought her fresh coffee and a small pile of papers.
            </p>

            <p>
              “These are the late projects that Demeter wants you to look at.” He was a managing director and
              uninterested in politics or perceived statuses. They had a business to run, hundreds of people doing their
              jobs, feeding their families. Demeter was a humourless bastard with no time for chitchat. The only person
              he took orders from was Jim, his best friend. He always saw Jim as his little brother.
            </p>

            <p>
              Monique watched him through the glass wall on the other side, raising his voice, probably firing someone.
              She watched him work, and she learned. Demeter gave it his hundred per cent. The company is an alive and
              breathing thing. It takes everything to run it.
            </p>

            <p>
              She remembered her first day and the board meeting. She sat down at an elongated desk with a cup of
              coffee, Kelsey on the other side and Demeter in the middle.
            </p>

            <p>
              “These are the rules,” Demeter said, laying it out coldly without finesse. It was what he expected from
              the two of them. Kelsey just nodded with a serious face, writing things down in her notebook at an
              increasing pace. Monique looked like a deer in headlights. She had no work experience, no expertise of any
              kind. At that moment, she figured out what Jim had done. It was his plan from the start. He forced her and
              Kelsey to work together and resolve their differences one way or another.
            </p>

            <p>“It was all his plan,” she said in a whisper, but loud enough for Demeter to hear.</p>

            <p>
              “What was that? Please don’t interrupt me with nonsense. You have a job to do, and I expect you to do it
              well. Reserve your personal comments and insecurities for your free time. Do you understand?” Monique
              nodded like crazy, feeling smaller than a poppy seed. She had to make fists to stop her fingers from
              trembling.
            </p>

            <p>
              Her charms didn’t work on Demeter. He was made of steel, cold and emotionless. Demeter had no family; he
              was never married. The only person he loved was Jim, his best friend. The two weren’t that close. Both had
              their own lives, but they shared a strong bond forged in some past life. Two men knew the measure of each
              other and they knew they could count on one another. That was enough.
            </p>

            <p>
              There was a hardness to Jim that Monique had never experienced. She only saw it observing Demeter. It
              would be impossible to have him as a friend if you weren’t on the same wavelength. The two men shared
              something complicated, forged by fire, like old soldiers.
            </p>

            <p>
              She looked at the fresh pile of papers, sorting them by the complexity of problems. One of the suppliers
              was always late, causing massive delays down the chain. Monique buzzed her secretary. “Ms Hawker, please
              come in.”
            </p>

            <p>“How old are you?” The woman raised her eyebrows, partially from the flat tone Monique used.</p>

            <p>“I am forty-seven, Monique.”</p>

            <p>
              “Please address me as Ms Price. I need someone younger.” The secretary’s face turned into a panicked
              grimace. She wanted to say something but stuttered.
            </p>

            <p>
              “I am not replacing you. I need someone young and hungry, ready to do anything.” One could see the relief
              on the secretary’s face. She told Monique about the pool of administrative assistants, mostly young women
              still in university, hoping to get a job after graduation.
            </p>

            <p>
              Monique asked for the directions and made her way. Ten minutes later, she found the place. Piles of paper,
              contracts, invoices, correspondence, licenses towered over some fifteen young women processing them. This
              was the ground level company administration, a triage of garbage, putting forward the more important
              matters to the administrators senior to them.
            </p>

            <p>
              She saw a gorgeous raven-haired girl. She was tall, slim and curvy in all the right places, typing
              something into a computer with her long nails.
            </p>

            <p>“You, what’s your name?” The girl tilted and looked around, saying, “Alba Scott, miss.”</p>

            <p>
              “Please come with me.” Monique took her to the side room and closed the door. “Stand there, now turn
              around.” Monique watched the confused girl spin. She looked exquisite, about five-ten, about a
              hundred-twenty pounds, radiating unconscious poise and femininity. She was good to eat. Alba’s face
              resembled an angel. It would be soft and cute if it wasn’t for her bee-stung lips, deep blue eyes and
              perfect nose.
            </p>

            <p>
              “Let’s sit. Tell me about yourself.” Alba had just turned twenty, and she was a student psychology major,
              which meant she had no plan for the future. She was single and preferred it that way, as she had no time
              for many distractions in her life. Alba went to university, worked and studied, patching her budget with
              modelling jobs here and there. Runways and catalogues were her bread and butter, allowing her to study
              debt free or rely on her parents.
            </p>

            <p>
              Monique admired Alba’s long, thick, black hair cascading down straight to the small of her back. It took
              exceptional care and attention to have it this way, shiny and healthy looking. Monique looked into her
              eyes and smiled.
            </p>

            <p>
              “What would you be ready to do if I promoted you to my executive personal assistant?” Alba gasped in
              surprise, but quickly recovered. She smiled, looking into Monique’s eyes, biting her lip in a fun way.
            </p>

            <p>
              “Anything you want,” she said with a mischievous grin, measuring the older woman up and down, noticing her
              exquisite, well-dressed form. Monique smiled. She still had it, and it felt great coming from someone so
              young and attractive.
            </p>

            <p>
              “Please take your stuff and come with me.” It took alba only a minute to collect all her belongings and
              follow Monique upstairs, where she introduced her to Ms Hawker.
            </p>

            <p>
              “This is Alba Scott. She will work for me. Please have human resources prepare a contract for her with a
              three months trial and bring it to my desk today.” The secretary jumped and almost ran out to get things
              done.
            </p>

            <p>
              “Here. I assume you can drive.” She threw the keys to her Tesla Roadster at Alba. “This is the address.”
              Ten minutes later, the two women fought the traffic in London. Monique read aloud the file so Alba could
              get acquainted with the issue. Two hours later, their car stopped outside Reading, a neighbouring city.
              Two gorgeous, willowy ladies walked in, demanding to speak with the director.
            </p>

            <p>
              He was busy and annoyed, but after having a look at them, he quickly changed his schedule, stopped the
              meeting and invited them in, asking his secretary to bring tea and cookies.
            </p>

            <p>
              “We have a problem, Tim. You’re late with your deliveries.” Monique started, while Alba sat on the desk,
              crossing her legs, leaning towards the man. He shook his head a little, smelling the young beauty’s
              perfume. It overwhelmed his senses, making it hard to concentrate.
            </p>

            <p>
              “I am sorry, but I have contractual obligations with much larger firms. I give you the rock-bottom prices,
              the same as I give them, but it means that sometimes you have to wait.”
            </p>

            <p>
              “See, we own this piece of land, just outside of London, where we can build a warehouse and use our
              contacts to set up our own distribution centre. Picture this, a year from now, your turnover halved
              because you’ve got a competitor with lower prices and better terms.” The man swallowed. It was difficult
              to process. The two ladies smelled so nice, yet what they said could be a big problem.
            </p>

            <p>
              “We want to amend our contract. You put in guaranteed delivery for the same price, and we won’t ruin your
              business. It is simple. Your irresponsible behaviour forces us to go the other way. If you look after us,
              we’ll look after you.” Monique winked, and the man swallowed again.
            </p>

            <p>“Fine, fine. I’ll have a new contract sent to you today.”</p>

            <p>
              “We can wait. I can sign for my company. There is no time like the present.” The man buzzed in his
              secretary, and an hour later, it was done. The contracts were signed, and copies were exchanged.
            </p>

            <p>
              “You should come to our office party. I’m sure you would enjoy it.” The man nodded, and the girls hugged
              him instead of shaking his hand. “Please come,” Alba whispered, biting his earlobe a little, and like the
              ghosts of Christmas past, the two women disappeared.
            </p>

            <p>
              One thing Jim insisted on was a thorough research of all the partners and business associates. Each
              supplier had a thick file with all the key people included and their proclivities. Tim was a womaniser, a
              veritable skirt chaser. He was divorced with six children between three ex wives. Tim lived in a hotel, a
              managed apartment, drove a 911 like a proud boomer and spent all his dosh on alimony and gifts for the
              women. Tim was going to live forever. Age was just a number, regardless of what the mirrors reflected.
            </p>

            <p>
              The girls had a good laugh all the way back to London. “You did well, Alba. I see we’ll work out good.”
              The younger woman smiled. This was not how Jim did his business. He was strict about the level of
              professionalism and sticking to promises. This was the old way; the world has changed. Jim failed to
              understand that. He was the product of his time, raised differently without Facebook or Twitter.
            </p>

            <p>
              Two women burst into the office laughing. Demeter, on the other side, raised his eyebrows in disapproval.
              “Excuse me for a minute,” Monique said as Alba settled herself into a visitor’s chair. Demeter was about
              to protest, seeing Monique enter his office without knocking. She dropped a folder with a new contract,
              all signed and stamped, something the company couldn’t do for ages.
            </p>

            <p>
              “I might not have much experience, but I am not stupid and own almost half of this company. Show some
              respect when you talk to me.” She walked out, swaying her behind. Demeter smiled, looking at her leave.
              “It worked,” he said to the ghost of his best friend. “Damn it, you were right. It worked.”
            </p>

            <p>
              Monique sat down, watching Demeter read through the contract, and smiled. She was a quick study, and the
              man was an excellent role model. She copied him and used her intuition and strengths to get what she
              wanted. It was empowering to earn money yourself, using your wits and two hands.
            </p>

            <p>“Jim would be proud,” she said to herself.</p>

            <p>“What was that?”</p>

            <p>“Nothing, Alba, nothing. You did well today.”</p>

            <p class="center">***</p>

            <p>
              “You must be patient; give it time.” Tatum tried to calm Kelsey down, only making it worse. They
              transferred Jim to Scripps Memorial, but he was in critical condition, and the doctors wouldn’t allow
              anyone to visit because of added risk of infection and other malarkey.
            </p>

            <p>
              “Your father went through a terrible ordeal. We can’t figure out how he’s even alive. You must ready
              yourself for a long recovery process. He will need help and support from his loved ones.” Dr Curran was a
              fine man. He was young, in his early forties, and brilliant, another graduate of Cambridge like Tatum and
              Kelsey. They immediately bonded over this.
            </p>

            <p>
              It was all business with professional detachment. That didn’t mean the man was unkind. It is hard to care
              for the patients if you think of them as people. How does one cut into his father with a sharp scalpel?
              The medical professionals had a toolbox of rituals to distance themselves from those they healed, starting
              with calling them a patient.
            </p>

            <p>
              Kelsey knew all that, but it was all rational. How does one tell a mind not to worry or judge? She
              couldn’t help her dad, but only seeing him meant everything to her. She almost snapped at everyone, but
              bit her tongue, wiped her tear away and walked out of the hospital.
            </p>

            <p>
              “I’m sorry to be such a bitch. I’m just stressed and worried, and I can do nothing about that.” The doctor
              was good enough to give her a benzodiazepine prescription. Kelsey ran out of Valium two days ago.
            </p>

            <p>
              “Come, I’m hungry. Let’s have a meal and go for ice cream.” Kelsey was always a sucker for hazelnut and
              chocolate. If anything could make her better, it was Rocky Road and Julia Roberts.
            </p>

            <p>
              They stayed out late drinking fine wine, looking at people walking and watching waves. There was something
              calming in that, not counting the benzos the girls picked up in a pharmacy along the way.
            </p>

            <p>“We should drive up to Mexico and stock up on that.” Tatum always knew how to make Kelsey laugh.</p>

            <p>“Did I ever tell you how much I love you?”</p>

            <p>
              “You did, many times, but never enough.” Some people stared while the girls kissed. It was the usual
              drama; they barely even noticed. Tatum and Kelsey had their own world. It was enough. Like the Beatles
              said, all they needed was love, lah-la-lah-la-la.
            </p>

            <p>
              The night was lovely, cloudless, and full of stars. The full moon was due to come out in just a couple of
              days. Most people dispersed, going home or on their dates. Only the lonely and the romantic paired up,
              sitting on the grass, watching the sky, counting the stars. A light breeze carried the scent of salty
              water. The gossip of waves filled the senses. There was something so natural about the night like that.
            </p>

            <p>
              Kelsey ordered two last ice cream cones before the restaurant closed, and the staff went home. The girls
              took their shoes off and walked on the sand, holding each other’s hands, enjoying the moment.
            </p>

            <p>
              “Let’s lay down here and wait for the sunrise,” Kelsey said, remembering what happened the last time. She
              couldn’t get Arla out of her mind. All of it seemed kind of bizarre. “Join us for sunrise if you lose your
              way.” The beautiful woman said before she left. Kelsey lost her way a long time ago. If it wasn’t for
              Tatum, God knows where she would be. Tatum grounded her, and she did the same for her.
            </p>

            <p>
              “It would be nice to understand.” Tatum laughed at her, “Just don’t make us join some cult. We just
              redecorated. I don’t think pentagrams in goat blood, Weegee boards and black candles on polished skulls
              are a good look.”
            </p>

            <p>
              “You are an idiot.” Kelsey burst into laughter. Tatum always had a way of turning everything into a
              slapstick comedy. It was her crazy, creative mind. She could imagine incredible things, then sit down,
              space out and let her fingers make it out of clay. Kelsey would often sit behind Tatum, completely naked.
              Tatum would always sculpt in the nude. It somehow kept her connected with clay.
            </p>

            <p>
              “We are Ying and Yang, fire and water, but we complete each other together.” Tatum liked to say things
              like that. She was always crazy for all sorts of esoteric stuff. One time, Jim and Monique were on
              holiday, and Kelsey brought Tatum home. They made passionate love in her old bed. It was an old fantasy
              Kelsey had.
            </p>

            <p>
              Before they left, Kelsey showed Tatum Jim’s secret man cave. There were hundreds of neatly stacked books,
              drawings of strange things, and multiple handwritten notebooks. Kelsey knew her dad had a private hobby.
              He loved collecting literature and reading old stories. An old man from Christchurch died, leaving
              everything to Jim as an inheritance.
            </p>

            <p>
              “Who is that? Who is Mr Sable?” Kelsey wanted to ask her father, but she was always reticent. Jim never
              spoke of anyone like that. He never spoke about his childhood. It was almost like her father didn’t exist
              before the age of sixteen when he met her mother. Even then, the only stories about her dad came from Irma
              alone. Jim would always change the subject. He wouldn’t even tell her the name of her grandparents.
            </p>

            <p>
              Before they left, Tatum stole one book. It was in a foreign language with black covers. On top of them
              were drawn images of the moon and a shooting star with the sun in the middle, illuminating a cross with a
              snake wrapped around it. Two interwoven triangles were printed on the left looking like a star of David
              with an eye in the middle representing tetragrammaton. On the right side was a depiction of a book lying
              on a small table with a human skull resting on top. When Tatum later translated it. The book was called
              The Great Book of Dreams. It was a thick book of over a thousand pages with drawings and fine condensed
              text.
            </p>

            <p>
              The book made Tatum’s imagination sparkle. She begged Kelsey for hours to let her take it away. Kelsey
              never knew why her dad collected things like that. Why didn’t he just sell it or throw it away? After
              seeing how happy Tatum was, she thought maybe there was more to her dad. Maybe he had a life nobody knew
              about.
            </p>

            <p>
              Jim travelled a lot. He would go all over the world to negotiate new deals and find investors. Sometimes
              he would disappear for weeks, always returning home exhausted. The man never slept.
            </p>

            <p>
              It was so strange not to know your own father well. She loved him so much as a child, adored him even.
              Kelsey would sit in his lap while he would read, begging him to tell her stories of mythical creatures.
              Jim was a natural storyteller. He would happily sit on Kelsey’s bed and tell tall tales until she fell
              asleep. Her favourites were the stories of mermaids. Jim knew many of them, and when he would speak, his
              eyes would glisten. She missed that man; she missed her dad.
            </p>

            <p>
              After her mom died, everything changed. She lost both her mother and father. She almost lost herself, and
              she would succeed if she didn’t meet Tatum, who saved her life. Kelsey saw in Tatum her own reflection.
              Falling in love was inevitable. It was like destiny brought two people together; two broken halves fit
              perfectly with one another. Just doing the maths, trying to calculate the probability of that would tell
              you it was infinitesimal. Both of them trusted in some higher power, and Tatum set out to prove it by
              reading the book she stole.
            </p>

            <p>
              Far be it from them to believe in God or the angels. The church did a fine job of making people resent
              them. This created a vacuum of faith. People wanted to believe in something, readily declaring themselves
              agnostic. This is why so many people believed in tarot and zodiac, numerology or anything else but God.
              The modern man would sooner believe in little grey men who came to take them to another planet than
              heaven. Even the bookshops kept the bible on the same shelf as Jack And The Beanstalk and other classic
              fairytales.
            </p>

            <p>
              The girls gently strolled over the sandy shore, feeling the little waves come in and wash their feet. It
              was incredible, and they loved the place. It couldn’t be more different to England, yet in some way, it
              was the same. Making a switch from one place to another was a smaller jump than moving to France or Spain.
              San Diego was lovely if you had money. That’s often true for anywhere in the world, but somehow it seemed
              more appropriate applied to this place with gated communities and multi-million dollar houses.
            </p>

            <p>“Maybe we should live here.”</p>

            <p>
              “On the same continent as my parents? They would come over every weekend and insist on us to visit for
              Thanksgiving, Christmas and every imagined holiday.”
            </p>

            <p>“I miss having a family since my mother died.” Tatum hugged Kelsey and kissed her gently.</p>

            <p>
              “You are my family. We can stay here.” It was a pleasant distraction from thinking about their situation.
              Both of them liked big cities, but not all the time. New York was a no-no. Kelsey thought it stank, and
              that people were rude there. Tatum could understand that. It’s hard to compete with London. Living part of
              the year in England and another part here could enrich their lives and stir things up a little.
            </p>

            <p>
              “That means I’d have to buy a new motorcycle.” Kelsey rolled her eyes. She already imagined one of those
              police chases with a convoy of police cars, a helicopter and roadblocks, all televised like they like
              doing it on American channels.
            </p>

            <p>
              “Maybe I could get a part-time job at school, teach kids how to speak proper English.” They giggled as
              kids as Tatum chased her in mock anger. “I’ma kill you.”
            </p>

            <p>
              “I’m going to kill you is how you should say that. See, you need my help.” They dropped to the sand,
              exhausted, hugging and laughing like children. It was an old game the girls had played since the
              beginning. When they first met, Tatum told her, “I like your English accent.”
            </p>

            <p>“There is no such thing. If anything, I speak with a London accent.”</p>

            <p>“Is that cockney?”</p>

            <p>
              “Cockney is rhyming slang, not an accent. My dad always gets upset when I use it. He says it makes me
              sound like a gutter tramp.”
            </p>

            <p>
              “Can you teach me?” That’s how the friendship started. An hour later two were holding hands. It was like
              magic. Every time they teased each other about English was like a brief journey in time, returning to the
              day they met. It reminded them how much they meant to each other. Whatever happened in life, they could
              always go back to that moment where in the depths of despair, locked up in an institution, the girls found
              that spark and a reason to live. It was Love.
            </p>

            <p>
              The girls lay on the sand, holding hands, and watching the stars. “I wish we could stay like this for the
              rest of our lives.” The waves sounded almost enchanting as they rhythmically caressed the sandy shore.
              Life could be good if you let go of worries, no past or future, just an endless present. Living in the
              now, seizing the moment and stretching it into infinity. That is the difference between life and living.
              Stars dimmed, and the world melted away. The girls closed their eyes, counting the waves. Eternity.
            </p>

            <p>
              “What? Who?” Kelsey jumped, feeling a hand on her forehead. Looking up, she saw two dozen women
              surrounding them. Some were undressing, others already naked.
            </p>

            <p>“It is nice to see you again,” Arla said with a smile. “Come, join us. We’re gathered to welcome.”</p>

            <p>
              “To welcome who?” Kelsey almost said but bit her tongue. Tatum was already down to her underwear. A few
              moments later, everyone spread in a semicircle. Arla stood in the middle, smiling at everyone. “We welcome
              the Origin and give thanks,” she said before turning towards the sun and raising her hands while everyone
              hummed.
            </p>

            <p>
              Something strange happened. As the sun broke out, the light transformed, turning into millions of ice
              crystals, refracting the sunshine, and making Arla look like she was made of diamonds. Kelsey gasped,
              feeling wave after wave of immense pleasure course through her veins. The feeling of goodwill and
              happiness excited her very being, every molecule, and then the chant started. She vibrated in tune, her
              whole body broke out in goosebumps, and it felt like she was lifted, floating in the air.
            </p>

            <p>
              Kelsey would gasp if she could, but her breath was taken away. It was as if she existed on some higher
              plane. This was what yogis talked about. Detaching your body from your soul, looking down on yourself, but
              all was inside. This one moment lasted a lifetime. Never did Kelsey feel so much power. Tears rolled down
              her eyes. Whatever was broken was fixed, and all wounds were healed. She heard her heartbeat inside her
              ears, but little more than that. The hum, the tone, the frequency raised her higher. She was a part of the
              universe.
            </p>

            <p>
              The light came in, and it would hurt to see it, but she was beyond pain. All stars collided in one and
              became one. “Let there be light,” the lord said, separating the night from the day. Perhaps, in the
              beginning, it was like this. “In the beginning, there was void, neither darkness nor light, wind or rain,
              human or god.” That’s what Arla said last time. Kelsey finally understood what it meant. She felt a part
              of everything, every atom, every seemingly insignificant thing.
            </p>

            <p>
              Deep down inside herself, she felt forgiven. Whatever pain she carried, whatever past she tried to hide,
              didn’t matter anymore. It was all wiped away, tabula rasa, a clean slate. Today is the first day, and she
              was born again. Every step she made from there would be the first one she experienced. It was life.
            </p>

            <p>
              “Blessed is a gift of life. Blessed is the Origin.” Arla said, and all of it went away. Kelsey cried,
              repeating, “Blessed is the gift of life.” Tatum hugged Kelsey. She, too, was sniffling. When Kelsey looked
              into her eyes, all she saw was unconditional love. There was nothing else that mattered. Both girls felt
              the same. In one moment, one small touch of heaven, they were believers, just like that.
            </p>

            <p>
              “You must lose yourself to find faith. Sit down with us. Let me tell you a story,” Arla said with a smile.
              She saw this happen before. One doesn’t need to read scriptures to find faith. It is a feeling like any
              other but often suppressed and ignored. People need food and water. They need to procreate and crave; they
              need something to believe in. They need faith.
            </p>

            <p>
              The truest form of belief is that one you can experience. Some people go to church and find their faith
              through prayer. “Open yourself to Origin and welcome the gifts. The gift of love, the gift of life, the
              gift of light and dreams. We are all different but part of one. Every atom comes from the same place.”
            </p>

            <p>
              Tatum and Kelsey listened with gaping mouths, holding hands, still feeling the echoes of the incredible
              touch of the universe. This wasn’t God or angels or any holy creatures. It was the Origin itself. You
              might call it your own soul speaking to you. All you needed was to let it and listen.
            </p>

            <p>
              “Come with us,” one girl suggested. Tatum and Kelsey followed to a nearby hotel. Someone rented out the
              place with a large pool on a terrace. Dozens of people were already there to celebrate something. It
              didn’t matter. Immediately the two made friends over the catered breakfast, asking questions, and trying
              to understand what just happened.
            </p>

            <p>
              It was mostly a younger crowd, but they found some women their age and older. One of them was Dara, a
              lecturer at a university, and an anthropologist, teaching evolutionary biology. Dara was a lifetime
              polyamorous lesbian with three unofficial wives. The girls bonded over that, asking her questions about
              what had just happened.
            </p>

            <p>
              Tatum and Kelsey stayed until lunch, when they had to leave for the hospital and try seeing Kelsey’s dad
              again. They left with a smile, feeling uplifted. The worries seemed so far away. Something inside changes
              when you let go of control and allow the chips to fall. The girls found faith.
            </p>

            <p class="center">***</p>

            <p>
              “I miss you,” I said in a low whisper to the image of Naya fading away. “They should have left me. I
              should have died.” It was so complicated, now in the end. I missed the sound of the ocean and the call of
              the sirens. Every sunset, I strained my ears and cried. Something important was missing; it was taken
              away.
            </p>

            <p>
              “How are you feeling, Mr Price,” a kind-faced nurse asked with a smile. She got in and took note of the
              monitors, updating the chart. “Do you think you could get up on your own?” I tried, but it hurt, and she
              stopped me, calling for a male nurse to help lift me.
            </p>

            <p>
              “Don’t worry, sir. This is just temporary,” a doctor said, joining the others. I almost laughed, looking
              at six interns following him like ducklings. It was the rounds time, and I was their specimen, having a
              whole range of problems for their experiments.
            </p>

            <p>
              “You are in luck,” the doctor addressed them, “Mr Price, here suffers from exposure.” I saw his point. Not
              every day a patient comes in with such a problem. Knowing how to recognise and treat it saves other lives,
              so I let them examine me from a professional distance like a group of anthropologists in a jungle. I was
              their great white gorilla kept in a cage.
            </p>

            <p>
              There was no reason to feel upset about having my life saved, but I was and wished they had left me alone
              with my fantasies. Perhaps I just needed time to get back into the gear and live a real life. The worst
              thing was the silence. I couldn’t hear anything but the occasional bleeping of the machines and squeaking
              of gurneys when they moved the patients. I couldn’t sleep, and I didn’t want to, but they medicated me. It
              felt like sinking into darkness and waking up from it, then nothing, no dreams, not a single memory. It
              was my death, over and again, so close and so far away each time. I didn’t want to die; I wanted to live.
              I felt abandoned, a burden to everyone. Even Yevgeny stopped talking to me. I was alone.
            </p>

            <p>
              It is strange in the end. I always needed some goal or purpose. I chased a dream of dreams to keep myself
              present, to stop daydreaming about things, people and places that might have happened. Only if; life is a
              dream.
            </p>

            <p>“What do we do when we fall, son?”</p>

            <p>“Get up and stand tall, dad.”</p>

            <p>
              “That’s a good lad; now fetch me that beer.” The voice of Barbara Streisand echoed in my head as she sang
              the song of my youth, reminding me of the people I once loved and the way we were.
            </p>

            <p>
              I opened my eyes again and noticed it was getting late outside. The time passes in patches when you’re in
              and out of consciousness. Bloody medication killed my mood and made me sleepy and depressed. I tried to
              shake it off, but I still felt unbalanced. They pumped me with many chemicals, wondering if I would live
              or die. My name is Mr Guinea pig, at your service.
            </p>

            <p>
              The meds were slowly wearing off, but I still felt strangely detached, like I was here, alive, yet didn’t
              belong there. A familiar buzz in my head disappeared, and I could think clearly. It felt as if all my
              life, I was in a coma or asleep and just woke up, trying to get my bearings.
            </p>

            <p>
              With ultimate effort, ignoring the pain, I moved one leg, then another. They acted like a counterbalance
              and allowed me to sit up on the bed. My head spun for a moment, and I took a deep breath, feeling the
              familiar shooting pain. I missed it for a while to remind me that I was alive. I almost fell, panting,
              clutching the metal bar on the side of the bed. One, two, three, “come on, Jim. You can do it; here we
              go,” and we were on.
            </p>

            <p>
              One foot in front of the other, I ambled towards the toilet. I stood there watching the grimace on my
              face. “Who is this?” I failed to recognise myself. I looked thin, old and exhausted. Instead of hair on
              top of my head, I saw a deep cut and a dozen small ones. Carefully touching around, I counted twenty-six
              stitches on the top of my skull. It took me a while to bend my arm and let the medical cover fall away.
            </p>

            <p>
              “Oh god,” I saw myself for the first time, noticing a festival of cuts and bruises. Some were just
              scratches, and others had stitches. The doctors told me about the procession of medical procedures they
              performed while I was asleep.
            </p>

            <p>
              I didn’t know if it was permitted, but I didn’t care and staggered into the shower, letting the cold water
              spray. It felt great; I felt alive. I did not know how long I stayed there. The next thing I knew, the
              nurses came, waving their fingers in displeasure, teaching me lessons on how to behave. It made me
              chuckle; I was a kid again. Making mischief is a fun enterprise.
            </p>

            <p>“Where is my daughter? When will she come?”</p>

            <p>
              “I am sorry, sir, she left for England two weeks ago.” That was impossible; I just saw her the other day.
            </p>

            <p>
              “You’ve been here for two months now, sir.” I had to sit down and process what I heard. They kept me
              medicated outside myself for such a long time. I did not know what had happened. No wonder I felt so
              disoriented between the night and the day. A doctor walked in and checked me out.
            </p>

            <p>
              “It looks like the worst is over. You will be okay, sir. Tomorrow your physician will come and tell you
              about the next steps.” I thanked him, or maybe I just imagined it. The man walked away.
            </p>

            <p>
              “Please don’t,” I stayed the nurse’s hand. She was about to inject me with a painkiller. “Let me be the
              way I am. Leave me with my pain.” She frowned and shook her head but did what she was told and pulled
              away. The sounds quieted, and I was left alone, looking through the window into the darkness and the
              lights coming out of the houses.
            </p>

            <p>
              Somehow I lost the days of my life. Was I asleep? In a coma? Was I alive? Am I alive now? Too many
              questions. As far as dreams go, I preferred the one from before. I missed the music and dancing on my
              ship, my Rusalochka. She stole my heart again.
            </p>

            <p>
              “To you, she is just a ship, but for me, she is my great love.” I laughed, remembering the words of the
              old man. He was my friend; I couldn’t hear him anymore. Like everything that mattered, he disappeared,
              leaving me without a friend or guidance. Maybe Yevgeny was still with the ship, with his great love.
              Perhaps he is there, dancing with Naya in the moonlight, listening to the song of mermaids in the rhythm
              of the waves.
            </p>

            <p>
              A man has only one life. That’s what I learned, and others don’t understand. Once the life is spent, if
              you don’t die, you’re out of place, out of step with the others. Nothing waited for me. The world moved on
              without me; I was a relic without purpose. People loved and cared about me, but I was a fixture in their
              lives like a beloved painting one barely notices climbing the stairs.
            </p>

            <p>
              Maybe I just projected my own feelings, or it was the medication. I felt empty inside, like a used beer
              bottle, placed in a corner not to be noticed by anyone, not quite the garbage, still a litter. It took
              forever to find sleep, and I closed my eyes in peace. Still, it was better than being medicated. I liked
              my pain. “Life is pain, son.” That’s how I knew I was alive, not dreaming. Sometimes the line blurs
              between reality and what isn’t.
            </p>

            <p>
              The next time I woke up, it was lunchtime. The nurse rolled in a tray with the neatly arranged food and
              medicine.
            </p>

            <p>
              “I heard you went to the bathroom on your own. That’s substantial progress. Do you think you could get up
              without help and sit here while I change the bed?” I gave it a shot, and it hurt, but less than the last
              time and my head didn’t spin.
            </p>

            <p>
              In some sort of haze, I watched the nurses bring in new pillows and linen. She waved me over in the end,
              just in time to catch the doctor as I was about to stand up.
            </p>

            <p>
              “Ah, Mr Price. I see you feel much better. We’ve got a few tests to run, but we will move you soon.”
              Kelsey told me a few times, and the doctor reminded me. She booked me into the best physiotherapy clinic
              in the country as soon as I was ready to leave. I didn’t quite know how to feel about that. It looked like
              she was paying me back for sending her away. “How roles have turned.”
            </p>

            <p>
              “I’m sorry? What did you say?” I waved my hand in dismissal. It wasn’t important. I was just reminiscing
              about the old life, old memories.
            </p>

            <p>
              The days went fast from then. I slept, ate and looked through the window into the world outside. How does
              one restart his life? I was a third wheel, not needed by anyone. They moved me to another room, and after
              a while, the doctors didn’t come. It felt a little weird to be discharged. A tall guy in his late twenties
              approached me while I waited.
            </p>

            <p>
              “Mr Price? My name is Derick. I’m here to take you to the recovery centre.” He was a nice guy, sporty and
              positive, chatting along the way, keeping me at ease. He took me to a fancy metal gate and up the private
              alleyway between lush trees. At the end of it was a palatial-looking building with manicured lawns and an
              orchard behind it. It was so calming and quiet, disarming, almost charming.
            </p>

            <p>
              A couple of nurses in white uniforms came out, helped me into a wheelchair and rolled me into a sizeable
              elevator and tastefully decorated room on top with a window overlooking the green. I could see from this
              vantage many little pathways fenced with manicured bushes and several ponds and artificial lakes. Whatever
              this place was, it must have been expensive. I didn’t even know such places existed. The brochure left on
              the desk said it was an exclusive place for people with wealth and power, privacy assured.
            </p>

            <p>
              I got tired quickly and lay on the bed. In two shakes of a lamb’s tail and was asleep. I woke up later at
              night and saw the moon and the stars. I opened the windows wide and took a deep breath. No smell of the
              sea, no waves. I doubted I could ever sleep well again. There was no coming back from the place my heart
              died.
            </p>

            <p>
              The morning came, and so did the nurses. After breakfast, I had an appointment with the administrator of
              the place. A thin man in his late fifties, with a stern face and wrinkled skin, looked at my dossier,
              offering his hand.
            </p>

            <p>
              “Nice to meet you, Jim. I like to welcome all of our guests in person. I am Dr Shipman, the head
              psychologist.” During my time in the hospital, I must have said something strange, and it made its way
              into my file. The man smiled at me like he knew what I was thinking. He made himself comfortable in his
              plush dark-burgundy leather chair behind a mahogany desk. The old psychiatrist wrote something with a gold
              fountain pen into a brown lather-bound notebook with my name. It seemed they didn’t spare expenses, caring
              about my health.
            </p>

            <p>
              “Our goal here is to get you back to your feet as soon as possible. Don’t worry; this is a safe place. We
              found that a grave physical trauma is often accompanied by a psychological component. We’ll talk about
              your life for a while, and later you’ll meet your recovery specialists.” I felt like in high school again.
              The road to recovery seemed like the road to graduating. He placed a thick yellow file on top of the
              polished desk and nuzzled it across to me. I didn’t have to open it; I knew what was inside.
            </p>

            <p>
              “I want to start with your childhood, Jim. Let’s start with your mother.” I hated that. All the
              psychologists I met wanted to start there. It was ancient history, she died. There was nothing to say
              about it. It was only my father and me. Dr Shipman saw my annoyance and changed his approach.
            </p>

            <p>
              “I can see it is difficult for you; we can circle back to that. Let’s talk about something else in your
              words. What happened when you were fifteen?” I swallowed; Naya disappeared. I waited and waited and never
              saw her again.
            </p>

            <p>
              He pulled back the file and opened it in the middle. “This says you stopped eating and had a high fever.
              You were admitted to a hospital where you spent two weeks on a drip. The police found you outside,
              sleeping, leaning against the fencepost of a pier. You were severely dehydrated and almost died.” I looked
              down at the carpet. It was one of those expensive handmade Persian rugs with intricate details.
            </p>

            <p>
              “Who is she? Who is Naya?” I jerked my head up like someone pinched me and stared into his eyes. “The
              nurses say that you mumbled her name when you were admitted into Scripps. Every night they hear you call
              her. Who is she to you?” My mouth felt dry. I ran out of saliva. Even if I wanted to speak, I couldn’t.
              How would I begin?
            </p>

            <p>
              The older man cleared his throat, flipped the pages, going through my medical records. I thought they were
              destroyed a long time ago. Apparently, I was wrong about this. I was wrong about many things.
            </p>

            <p>“You were abused as a child?” It wasn’t a question. He was stating a fact.</p>

            <p>“I was a clumsy kid, prone to falling.”</p>

            <p>
              “I can see that. Your record says the same thing. Do you want to know what else it says?” I shook my head.
              I didn’t like being reminded.
            </p>

            <p>
              “Broken arm, broken clavicle, fractured ribs, radial femur fracture, broken toes, broken fingers, not
              counting all the endless list of cuts and bruises. All of this before the age of fifteen, then it
              stopped.” He closed the file and studied my eyes. We sat like this frozen for minutes.
            </p>

            <p>
              “Tell me, Jim. How did your father die? The police record just says suspicious circumstances. You were
              about sixteen at that time, weren’t you? You were put into foster care. A nice immigrant family with
              twelve children from south India. Tamil or Telugu? How many languages do you speak, Jim?”
            </p>

            <p>
              “Stop it,” I said, shaking my head and increasing the volume of my voice. I saw the man’s eyebrows
              tighten. His lips turned into a straight line. The man took a deep breath and wrote something down in his
              notebook, offering me a glass of water. I drank, feeling its freshness. Just what I needed. My hands
              trembled, and I needed to gather my wits, but he was far from over with me. Dr Shipman smiled, changing
              his tone to soft and quiet, almost seductive.
            </p>

            <p>“What happened on that ship, Jim? How long were you at sea?”</p>

            <p>“I don’t know. I lost track of time.” He turned to a page with a report and pushed it towards me.</p>

            <p>
              “Was it this long?” It seemed less. It felt like only a few days had passed, maybe a little more. “I was
              unconscious most of the time.” I shrugged with a genuine expression of confusion on my face. He scribbled
              it down and continued.
            </p>

            <p>
              “You were adopted, right?” The doctor turned another page. “This says they found you when you were ten,
              passed out leaning against a pier fence.” He continued reciting a litany of issues, hospitalisation and
              social services. “You were diagnosed with dissociative amnesia and chronic insomnia. Do you know what
              happened when you were ten? Did any of your memories come back?”
            </p>

            <p>
              I shook my head, looking at my feet, hating for my past being dragged out like this. Dr Shipman obviously
              tried to get me to react so he could hook on to something. Psychiatry doesn’t work with unresponsive
              patients. He judged I could take a more aggressive treatment, shocking me out of my malaise and putting my
              mind onto a correct track. How could I explain not wanting that?
            </p>

            <p>
              “You were adopted at the age of twelve by Mr and Mrs Price who couldn’t have children. A year later your
              mother passed away. The records say she fell down the stairs and broke her neck.” I saw the man watch me
              and study my face. There was nothing to say; my mother was dead. “Can you tell me something about that?”
            </p>

            <p>
              “I don’t remember. I was little.” He hemmed and nodded. No bite. His scattershot approach would be amusing
              if I wasn’t annoyed.
            </p>

            <p>
              “Your medical records start at twelve and stop at sixteen. It is like you existed for only five years. I
              couldn’t even find your birth certificate.” I shrugged. What could one add? I was a kid with no control
              over my life.
            </p>

            <p>
              “Don’t you find it interesting, Jim? You didn’t so much as visit a dentist. It was like you spent your
              whole adult life without having a single medical issue.”
            </p>

            <p>“I guess I was lucky.”</p>

            <p>
              “How did you get your prescription refill without visiting a doctor for thirty years?” He looked at me
              like a cat that caught a canary. I wondered when he would get there and had a canned answer for him.
            </p>

            <p>
              “I use homeopathic medicine, herbs mostly, and tea leaves.” The man smiled, wrote it down, closed the
              notebook and stood up.
            </p>

            <p>
              “Time is up, Jim. The nurses will take you to physiotherapy.” I sighed and shook his hand. The same man
              who brought me from the hospital came to collect me. He was to be my personal recovery specialist. He
              started rolling me out, and just as we reached the door, I heard Dr Shipman call.
            </p>

            <p>
              “Jim, just for the record. There are no homeopathic remedies for what you have. Think about that. We’ll
              pick it up tomorrow at the same time.”
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Big-Fish-Rumpel-Stiltskin-ebook/dp/B0BHJKVZ31'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <!-- <a href='https://apple.co/3zSPgfs'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a> -->

              <!-- Google -->
              <!-- <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Montana?id=ftFBEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a> -->

              <a href='/books/big-fish/preview/chapter-10-silver-girl' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 1 - Silver girl >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
        
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
