---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout title='Big Fish | Epilogue' description='Big Fish novel by Rumpel Stiltskin' image='/images/big-fish.jpg'>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/big-fish.jpg' class="big-cover-img" /> -->
          <p class='emp grey'>BIG FISH</p>
          <h1>Epilogue</h1>
          <div class='biggest'>
            <p>“Do you think he’s alive?” Tatum asked, bringing tears to Kelsey’s eyes.</p>

            <p>
              “He was in a lot of pain. I think he wanted to die alone.” The girls noticed Jim took nothing with him,
              not even his phone. It was mid-February now, and since Jim had left, Kelsey felt stuck in quicksand.
            </p>

            <p>
              “Maybe we should clear out the rest of his stuff?” Tatum suggested. They had already packed and donated
              all of Jim’s clothes. Every time Kelsey saw them, she would cry for a day. This was the simple part as Jim
              couldn’t care less about his threads, but his books and drawings, the things in his man cave. That was
              another story.
            </p>

            <p>
              Kelsey forced herself up, steeling her resolve. “Come on. It has to be done.” She procrastinated for
              weeks. Every time she passed the door, she felt like someone had stabbed her heart. “Dad wouldn’t want me
              to mop around.”
            </p>

            <p>
              The girls made their way to Jim’s man cave, carrying a bunch of large transparent plastic storage boxes
              with rollers on one side. “Let’s pack it up and put it into storage.” Jim had some valuable items there.
              Kelsey couldn’t bring herself to sell them, but they were hanging above her head, bringing back memories.
              She just wanted them gone to get some closure.
            </p>

            <p>
              She took a deep breath, feeling a stab of pain, seeing her dad’s private office with books, notebooks,
              personal papers and drawings. “Let’s start with these. We could sell some of them.” Kelsey turned to the
              large bookcase to take it all in for one last time. Jim was a pedantic and organised kind. The books were
              grouped by author and sorted by name and print size. All of it looked neat except for one that stuck out a
              little.
            </p>

            <p>
              “What’s that?” Kelsey asked, pointing at the book on the second shelf from the top. It was in the middle
              of the Shakespeare collection. “King Lear. I never saw my dad read that.” She stood on her toes and pulled
              it out, then flipped through it cover to cover. “There is nothing special about it, not even the print.”
            </p>

            <p>“Hey, look.” Tatum pointed before using her phone torch to light the space behind.</p>

            <p>
              “Help me with this.” Kelsey moved the stack of plastic containers. She held onto Tatum for balance while
              climbing to the top. She took the entire section of books and passed them over. “There is a latch of some
              kind.” She gave it a try, pulled and twisted it until she pushed it. It popped out a little, and she
              turned it; something clanked from inside. The whole bookcase detached and moved when Tatum leaned on it.
              Concrete steps led down a level in a spiral until they saw a metal door and a keypad.
            </p>

            <p>
              Jim used only one number for all his secrets. It was the date he married Kelsey’s mom. Only someone really
              close would know it, and Kelsey tried. There was a slight change in air pressure as the door opened. The
              girls looked at each other, raising their eyebrows and shrugging their shoulders. Kelsey thought she knew
              every corner of the house, but never in a million years would she guess that a secret room existed.
            </p>

            <p>
              The girls walked in and closed the doors behind them. The light switched on, and both of them gasped.
              There was a library under a library, and this one was five times the size. Hundreds of books were neatly
              stacked, some of them ancient. They stumbled on Jim’s personal chamber of secrets.
            </p>

            <p>
              The girls sat on a leather sofa to get their impressions in order. It was almost as if they had invaded
              the sanctity of the place. It felt like the room didn’t want them there. Tatum was the first to get up and
              walk to the wall to study a large painting with a gold frame.
            </p>

            <p>
              “Who is that?” she asked. Kelsey shrugged her shoulders and shook her head. The man in the painting was
              tall, in his mid-sixties, with a stern face, dressed in all black, with a black beard going all the way to
              his navel, but she was sure she had never seen him before.
            </p>

            <p>
              Next to the painting stood a white-marble pedestal with an exquisite jade-coloured Faberge egg. It was
              handcrafted with intricate gold detail, all studded with precious stones, jade, and amber. Tatum opened it
              with enormous care, just to be disappointed the next moment. There was nothing inside.
            </p>

            <p>
              “Hey, come here,” Kelsey said, finding a glass room with a controlled climate for reading rare old books.
              There was a desk inside with stacks of paper containing drawings and text next to a book opened right in
              the middle. The girls walked in and felt the temperature change. On top of the desk was an ancient, thick
              handwritten manuscript in some strange language.
            </p>

            <p>
              The girls flipped through the pages to see drawings of star charts and strange plants or organs, with
              multiple illustrations of women in lakes taking a bath. Some pages had handwritten paper inserts,
              presumably the translation of what it meant. On the front cover was a yellow post-it with a handwritten
              note saying, “Voynich Manuscript.”
            </p>

            <p>
              Kelsey flipped back to the page with all the bathing women. The piece of yellow ruled paper contained
              words from the manuscript and the rows, with variations of the same in English, perhaps a name.
            </p>

            <p>
              It read Naya, Naia, Naiad, one below another. None of it made any sense, but resourceful as ever, Tatum
              googled it. It came out with a Wikipedia page explaining that naiad meant water nymphs or water spirits.
              The girls read more, clicking on related documents until a page popped up with the words Rusalochka.
            </p>

            <p>
              “That’s my dad’s ship,” Kelsey said, almost screaming, jumping in excitement. Tatum googled it, and the
              first thing that came out was a picture of a beautiful woman with a tail of a fish. “Mermaid! Rusalochka
              means mermaid.” She even checked it on Google translate.
            </p>

            <p>
              The girls walked out, wanting to sit down. This was too much of a coincidence. Why would Jim have a book
              with the name of the ship he inherited? He certainly didn’t name it. It was the Russian guy Jim talked
              about, but nobody ever met.
            </p>

            <p>
              After a quick rest, getting their thoughts together, the girls inspected the rest of the library to find
              clues for solving the mystery. The place looked like a crypt, a treasure room next to a buried pharaoh,
              except this treasure was the books and the knowledge they contained. Tucked in a corner between two rows
              of shelves was a wooden door to a side room containing a massive six-foot-tall safe.
            </p>

            <p>
              It took Kelsey three good tries, using the same numbers, to open it. It contained a set of large metal
              drawers, similar to a secure storage box in a bank. They pulled one out halfway and froze. It was full of
              brushed pink diamonds. Some of them were the size of an egg, and most of them were the size of a walnut or
              smaller.
            </p>

            <p>
              Each drawer was full of precious stones, blue diamonds, rubies, emeralds, and so on. All of it together
              weighed at least half a ton. The last drawer contained paper. Stacks of bearer bonds and deeds to the
              land. All of it was owned by a different offshore corporation with just a number and no name. The girls
              dug through folders and found a set of documents, a passport, an identity card, and a driving license.
            </p>

            <p>
              “This is too much,” Kelsey burst into tears. Tatum helped her upstairs to her bed. Kelsey had a panic
              attack, and Tatum gave her Valium like always. It was an enormous shock for both of them, but Kelsey had
              been in a fragile state ever since her father left. The girls wanted some closure by cleaning out Jim’s
              place, resulting in a shock that just made everything worse.
            </p>

            <p>
              While Kelsey slept, Tatum was worried and called Monique, explaining what had happened without telling her
              about the secret chamber. She invited her over, hoping she could help a little. A few hours later, Kelsey
              felt better. She came to the living room to find the two sitting on the armchairs, drinking coffee and
              talking.
            </p>

            <p>
              “Come, sit with us. We need to talk.” Monique pulled out a thick binder containing carefully preserved
              medical records. She let Kelsey peruse in silence as tears streamed from her eyes, dropping on the table.
              It was Jim’s entire medical history since he was ten. Monique kept it with her, like she promised her
              husband after they married.
            </p>

            <p>
              Monique flipped through the pages, pulling one out and handing it over. “At ten, they diagnosed Jim with
              Dissociative Identity Disorder. He had auditory and visual hallucinations combined with severe insomnia.
              He could go days without sleep.”
            </p>

            <p>“What happened to him?”</p>

            <p>
              “Nobody knows. They found him passed out and severely dehydrated, barely alive, leaning against the wooden
              pole at the start of a pier.” Kelsey studied the document, learning that her dad was delirious when he
              awoke. The only thing remembered was his name, and he quietly sang old songs, rocking back and forth.
            </p>

            <p>
              She flipped through pages, trying to make sense of it. Her dad was such a good man, so caring and loving.
              How could he be all those things, but the truth is in the pudding. She saw what was inside the safe.
            </p>

            <p>
              “Here is one thing I don’t understand,” said Kelsey, grasping at straws and the last shreds of sanity. “If
              all of it was just in his head, how did he survive forty days on the ship without food or water? Look at
              this here. It says when they found him, he was neither starved nor dehydrated, just banged up and bruised.
              How did he survive?”
            </p>

            <p>
              The girls looked at each other and shrugged. It was a mystery. Monique collected all the papers, put them
              in her bag and started to leave when Kelsey stopped her. “Just one more thing. Did my dad ever tell you
              the girl’s name?” Monique thought about it for a moment and nodded.
            </p>

            <p>“He talked about her in his sleep. Her name was Naya, the love of his life.”</p>

            <p class="center">***</p>

            <p>“How does it end? Did he find Rusalochka?”</p>

            <p>
              “Now, now, Jimmy. I can’t tell you that. You ran out of gummy bears.” Mr Sable smiled, closed the book,
              and the story ended. Jim would plead and beg, but he knew the rules. No gummy bears, no stories. That was
              their agreement.
            </p>

            <p>
              A bell rang as the glass door opened, and a tall man with a thick black beard coming to his navel walked
              in. He was dressed in an impecable suit of eastern style, all black, like an orthodox monk. He had a stern
              face, and his body language radiated power. Instantly, he noticed Jim and Mr Sable sitting on cushy chairs
              in a reading room.
            </p>

            <p>
              “Come on, son, we will be late. Your mother will meet us at the pier” In his deep baritone voice with a
              strong Russian accent, he addressed the shop owner. “I hope he was no trouble.” Mr Sable stood up,
              straightening his clothes.
            </p>

            <p>
              “No, sir, Jimmy was a perfect young gentleman, trading gummy bears for stories.” Jim ran up to his father
              and hugged him. “I love you, dad.” The old Russian man smiled, rustling Jim’s hair with his big hand.
            </p>

            <p>
              “Come, son. You need to eat well; tomorrow is a big day.” Jim jumped a little and squealed. This time
              tomorrow, he would be ten. It was the biggest birthday of his life. He knew his parents had something
              special prepared, a journey of sorts fit for a prince. It was a beautiful life.
            </p>

            <p>
              “Goodbye, Jimmy,” Mr Sable said, shaking his little hand. “I will see you next year.” Father and son
              walked out hand in hand, and just as they reached the door, Jim turned around, ran to the old shopkeeper,
              and pleaded.
            </p>

            <p>
              “Please, Mr Sable, please. Just tell me one thing, and I’ll never ask for anything else. How does the
              story end?” The old man winked at him with a sly smile.
            </p>

            <p>“I guess you will have to find out for yourself someday.”</p>

            <p>
              The Russian man stood outside, keeping the door open for his son. He was fond of stories as well. He would
              read fairy tales to him since before he could talk, and they would listen to music together, a son and his
              dad. The Russian always had time for the kid he adored, his only son, the apple of his eye. He checked his
              watch and called inside.
            </p>

            <p>“Come on, Yevgeny. We can’t be late. I smell the rain.”</p>

            <br />

            <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
            <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Big-Fish-Rumpel-Stiltskin-ebook/dp/B0BHJKVZ31'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <!-- <a href='https://apple.co/3zSPgfs'
               ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
             </a> -->

              <!-- Google -->
              <!-- <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Montana?id=ftFBEAAAQBAJ'
               ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
             </a> -->

              <!-- <a href='chapter-1-bloody-big-ship' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 1 - Bloody big ship >></a
              > -->

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>
            <br /><br />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
<Footer />

<style lang='scss'></style>
