---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout title='Big Fish | Prologue' description='Big Fish novel by Rumpel Stiltskin' image='/images/big-fish.jpg'>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <img src='/images/covers/big-fish.jpg' class='big-cover-img' />
          <p class='emp grey'>BIG FISH</p>
          <h1>Prologue</h1>
          <div class='biggest'>
            <p>
              “Stay inside, sir,” a crewman barked at Jim in a shaky, shrill voice, sending him below deck. He struggled
              to close the doors behind him as the storm tugged at the ship with incredible force. Lighting bolts
              crisscrossed the night sky as gigantic waves pounded from all sides. The pumps screeched, exhausting
              themselves, expelling the accumulated water and failing at an alarming rate.
            </p>

            <p>
              “Mayday, this is Rusalochka, mayday,” the captain screamed at the radio, getting only static in response.
              The extreme weather caused a violent electrical storm, the likes of which the crew had never experienced.
              It cut off all transmissions. They were alone in the middle of the ocean, and no help was coming. All but
              one on the ship knew the score, staring at the gates of hell.
            </p>

            <p>
              That’s what it looked like, with thirty-foot waves appearing as the jagged teeth of a mythical sea monster
              that was about to devour them. Rusalochka was a small fish in a vast, raging void, chased by Scylla as the
              sky and the ocean converged. The wind howled in circles akin to a grinder, turning the raindrops into
              miniature arrows, piercing the skin like thousands of tiny needles.
            </p>

            <p>
              As the waves broke over the deck, they took with them everything that wasn’t secured as an involuntary
              offering to the ocean gods. A deluge of salty water, mixed with the almost sweet taste of rain, rushed
              inside through many unsecured openings and flooded the belly of the ship.
            </p>

            <p>
              They all trembled at the sound of terrible whistling in hurricane-strength winds, as if the earth itself
              was screaming at Rusalochka for mocking its fury. It drove them insane with its high-pitched tones the
              sailors of legends named the call of the sirens. It enchanted and petrified the mariners of ages, driving
              them mad with terror and incessant howling, leading them to sharp rocks and gruesome death. The sea gods
              were furious with them and came for a pint of blood and a pound of flesh.
            </p>

            <p>
              Everyone heard the stories of such storms, but nobody ever met anyone that experienced them and survived
              to tell the tale. It became a myth to scare unwary sailors away from dark waters.
            </p>

            <p>
              “What’s going on here? Can someone tell me?” Jim panicked, looking at a crew member rushing from place to
              place with a wild look in his eyes. Beads of sweat rolled down the man’s face as if he’d seen a ghost
              riding through the storm on a white horse wielding a scythe. With trembling hands, the sailor tried to
              lock things down and secure the ship, clearing his throat and licking his dry lips.
            </p>

            <p>
              “Please, sir, not now. Go below quick and shut yourself in. She can’t take much more...” The rest was a
              scream. He couldn’t finish his sentence because he was gone. The doors burst open from a sudden change in
              pressure that sucked him out, like popping the cork of a champagne bottle. An irresistible force swept the
              man into the onslaught of angry water and threatening seas. The waves engulfed him like a hungry beast, as
              if to punish him for taking a brusque tone with Jim.
            </p>

            <p>
              “Bozhe moi,” Vadim crossed himself, standing in the cockpit with the captain and three other crew members,
              staring at the hateful storm that seemed to have merged with the foaming water. Boo-room-boom, hundreds of
              electrical discharges lit up the heavens. An island loomed in the distance, with the ghost of a giant tree
              right at its centre, its branches touching the sky and disappearing into black clouds.
            </p>

            <p>
              “I see land,” one of them said, pointing his finger at the vanishing mirage, and they all followed his
              trembling hand. “Turn the ship,” the captain barked. Everyone jumped to save their lives. “No, not there.
              You can’t go there,” Vadim interjected in his thick Russian accent, sounding almost squeaky, trying to
              control his rising panic.
            </p>

            <p>“It’s our only chance. We have to beach her. She can’t take any more water. “</p>

            <p>“This is not an island. It is death. We must turn the other way.”</p>

            <p>
              “Enough of your stupid superstitions and Baba Yaga stories. We’re going to beach the ship there. Hard to
              starboard.” The captain turned to Vadim and pushed him aside with a grimace.
            </p>

            <p>
              “Poshol nahui,” the old man cursed as the blood drained away from his face. Everyone had the same crazed
              look in their eyes. All the crew members were experienced sailors that spent more time on the water than
              on land, but none had seen a storm like that. The ocean boiled and reflected the sky above them. They were
              collateral damage amid the eternal conflict between night and day, heaven and hell, good and evil. It
              looked as if the god of light was fighting the one of darkness. Each was trying to invade the other’s
              realm, with Rusalochka stuck in the middle.
            </p>

            <p>
              The ship tilted and shook as an immense wave crashed into its side, almost capsizing it and breaking
              several windows. Jim flew across the room with a sudden jolt, hitting a table and crashing into a
              comfortable leather sofa at the far end. He groaned, but didn’t have time to focus on his injuries as
              everything that wasn’t secured hurled his way; glasses, bottles, chairs, and decorations like a thousand
              sharp knives in the air.
            </p>

            <p>
              Jim rolled to the side, dodging the flying debris. Everything seemed surreal; he felt trapped in a
              blender. It was only a matter of seconds before the debris would catch him and reduce him to a pulp.
            </p>

            <p>
              With the strength he didn’t know he had, Jim pushed himself across the floor, propping himself with the
              furniture to reach the stairs and the passage to the lower deck. Things weren’t much better there. Jim cut
              himself a dozen times, sliding over broken glass and groaning each time he saw his life draining out in
              little streams of blood. The expensive walls and carpets were damp, with a pungent ocean smell clinging to
              his tiny nose hairs. It only underscored the inevitability of the desperate end. Still, it was safer than
              upstairs, at least for the moment.
            </p>

            <p>
              Jim didn’t know if he was escaping death or crawling toward it. The only certainty was that hell was
              outside, and they sailed into it. With all his might, he ran the other way, gasping for air as adrenaline
              surged through his veins.
            </p>

            <p>
              Another wave made the Rusalochka sway and shake. Two sailors cried out as the water hurled them through
              the thick cockpit window straight out into the foaming sea. Nobody could do anything for them. They wore
              life jackets, but all they could do was prolong their agony a little longer. They were all dead already;
              everyone knew that. The only chance was to beach the ship on the island they saw in the darkness and pray.
            </p>

            <p>
              The powerful engines roared, pushed beyond their limits, committing every bit of power to reaching the
              land while everyone prayed but one. Vadim looked through the window with a gaping mouth, muttered
              something in Russian and crossed himself. His gaze was locked on the fast-approaching island with a
              gargantuan tree.
            </p>

            <p>
              “This shouldn’t be here. We don’t belong here.” Vadim kept repeating in a trembling voice, but no one paid
              attention to what the old Russian sailor said or the crazed look in his eyes.
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Big-Fish-Rumpel-Stiltskin-ebook/dp/B0BHJKVZ31'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <!-- <a href='https://apple.co/3zSPgfs'
               ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
             </a> -->

              <!-- Google -->
              <!-- <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Montana?id=ftFBEAAAQBAJ'
               ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
             </a> -->

              <a href='/books/big-fish/preview/chapter-1-bloody-big-ship' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 1 - Bloody big ship >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
   
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
