---
import GlobalStyles from "../../../components/GlobalStyles.astro";
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card.astro";
import Navbar from "../../../components/Navbar.astro";
import Footer from "../../../components/Footer.astro";
---

<Layout
  title="Rumpel Stiltskin | Books and Stories - Published Works"
  description="Published books and stories by Rumpel Stiltskin"
  image="/images/logo.png"
>
  <Navbar />
  <main>
    <div>
      <br />
      <br />
      <br />
    </div>
    <div class="grid">
      <div class="big-cover">
        <img src="/images/authors/danegrander.jpg" />
      </div>
      <div class="book-description">
        <p class="emp grey">AUTHOR</p>
        <div class="book-title-container">
          <div class="title">Dane Grander</div>
        </div>

        <div class="bigger">
          <p>
            Dane Grander is a self-help guru who offers absolutely no help at
            all. A bestselling author and speaker known for his deadpan delivery
            and sharp satirical wit, Dane has carved out a unique niche in the
            world of personal development by writing self-help books designed to
            make you laugh—nothing more, nothing less. Unlike the motivational
            speakers who promise life-changing advice and personal
            breakthroughs, Dane’s work is unapologetically devoid of practical
            guidance. Instead, his books poke fun at the self-help genre itself,
            delivering absurd, counterintuitive “wisdom” with a straight face,
            while leaving readers to decipher whether they’re part of a grand
            joke.
          </p><p>
            Through his seminars, social media, and multiple bestselling books,
            Dane challenges his audience to question the very idea of
            self-improvement, offering outrageous ideas and twisted
            rationalizations meant to entertain, not enlighten. Dane currently
            travels the world sharing his unique brand of humor and satire,
            where the only thing he guarantees is that you’ll laugh—especially
            at the notion of “becoming your best self.”
          </p>
        </div>
      </div>
    </div>

    <div class="monster">
      <div class="center">
        <p class="emp grey">BROWSE BOOKS</p>
        <h1>Work in progress</h1>

        <br /><br />
      </div>
      <div class="grid">
        <div class="book-item">
          <div class="cover">
            <a href="/books/the-virus/" class="small-cover shadowbox">
              <img src="/images/covers/the-virus.jpg" />
            </a>
          </div>
          <div class="author emp grey">DANE GRANDER</div>
          <div class="book-title">How to Lose Friends and Alienate People</div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang="scss"></style>
