---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Montana | Chapter 6 - Poached'
  description='Montana novel by Rumpel Stiltskin'
  image='/images/montana.jpg'
>  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/montana3.jpg' /> -->
          <p class='emp grey'>MONTANA</p>
          <h1>Chapter 6 - Poached</h1>
          <div class='biggest'>
            <p>
              I left the two lovers to work it out, leading Starla into the bathroom. I turned on warm water, washed her
              carefully with a sponge, and shaved the three-day-old stubble on her pussy and armpits. I could swear that
              I heard her purr as I shampooed her hair. Starla sat in a bathtub, her eyes closed with a serene look on
              her face, making little sounds as I massaged her scalp, taking good care to wash it, condition it, then
              dry it and brush it. I had to admit having a bit of a fetish for long, healthy, luscious hair. I loved the
              natural smell of a woman with impeccable hygiene. Many years serving in hot, dusty, filthy places where
              everyone stank rancid made me appreciate cleanliness that much more. I loved to lay in bed with Sally
              sleeping in my arms, inhaling her clean scent. It wasn’t a sexual thing; it just smelled like home.
            </p>

            <p>
              After drying her thoroughly, I led Starla to the dining room, sat her at the table, checked her
              temperature and fed her. She had no fever. I gave her more medicine and one Xanax to relax her muscles and
              help her rest. She was out like a candle by the time she finished her hot chocolate. I wrapped her in a
              soft blanket and laid her gently on a new doggie bed I brought from the storage, leashing her collar to
              the wall.
            </p>

            <p>
              After unpacking the car, I took a long shower, and when I checked on the girls, they were still hugging,
              kissing and crying, telling each other how much they missed one anohter. I let them be and went to bed,
              falling asleep.
            </p>

            <p>
              I felt something weird in the morning. I woke up and watched with surprise Sally and Moni sucking my cock
              in tandem. I wasn’t expecting that to happen any time soon. And even if it never happened, I was fine with
              that too. I got Moni to keep Sally sane. One woman to love was always what I wanted, and Sally was the
              one. The girls must have had a long conversation while I slept, deciding to share me since we&#39;re under
              one roof. This new arrangement with multiple girls would take some time to get used to, but Arabs seem to
              manage, so I will learn too. I looked at the girls carefully, and they looked like they haven’t slept at
              all. I let myself go, stopped overthinking, enjoying the feeling of a dual blowjob for the first time and
              two soft tongues playing with my rigid pole. I noticed Starla kneeling on her doggie bed, watching the
              girls with passionate interest, absentmindedly rubbing her erect nipples as she did that.
            </p>

            <p>
              Sally was teaching Moni how to suck me off. It was the first cock she saw in her life. With eagerness and
              fascination, she tried to deep throat me a few times and failed. Sally encouraged her, telling her, “don’t
              worry, you’ll make it. It just takes practice”. I could see that Moni was very much into it. The lusty
              expression on her face communicated volumes. The girls were at it for some time before I felt my orgasm
              build at the base of my cock. My balls tightened, my cock hardened and started to pulse. The last thing I
              saw was Starla’s hand buried between her legs, another one pulling her nipple while she bit her lip.
              Expelling the air out of my lungs in a long sigh, I came hard with a copious amount of sperm blasting into
              Moni’s mouth. She struggled to swallow the enormous volume of erupting cum. Sally pulled my cock from her,
              sucking it for dear life as if using it as a straw to empty my balls dry. Moni ran up to Starla, kissing
              her, forcing a mouthful of fresh sperm into her mouth. Her hand went between Starla’s legs. I saw her
              breathe heavily and bounce with little moans as she swallowed, kissing Moni like there was no tomorrow.
            </p>

            <p>
              I pulled Sally up; she wrapped herself around me, kissing me, her arms squeezing me tight. She had a new
              sparkle in her eyes. We watched the girls kiss and fondle for a while. Realizing they had spectators, they
              giggled and detached, flushed red in their neck and faces.
            </p>

            <p>
              The girls saw me get up from the bed, heading to the bathroom. They followed like ducklings and watched me
              shower. I pulled Starla in and gently, avoiding her bandages, washed her with a sponge. Sally and Moni
              observed me with interest before giving a sponge to Moni while pulling Sally towards me, washing her body,
              kissing her lips and her belly. We had a large shower, but it was a very tight fit for four people, even
              as petite as the girls were.
            </p>

            <p>
              Sally made us omelette for breakfast, Starla had jam on toast and Moni had fruit. We ate in silence, the
              girls giving each other looks across the table, smiling at each other like sharing some secret. It felt
              weird; I was certainly out of my comfort zone. I finished quickly and got out to do some work. Focused on
              the house extension, pulling the heavy slate to the roof, nailing it in the position. Occasionally I saw
              the girls glued to the window talking, pointing fingers at me. I had no idea what was going on, and I
              wasn’t sure that I wanted to know. I shook my head and focused on my work.
            </p>

            <p>
              Around midday, I saw the girls come out. Starla and Moni staying behind Sally, away from the teeth of two
              giant wolves. Sally giggled, petting the two beasts, and they started rolling on their backs, letting
              Sally rub their bellies, just like big puppies. Slowly the two girls warmed up to them and relaxed. The
              wolves started licking their faces with big tongues, letting the girls pet them. An hour later, they were
              all best friends and members of the pack.
            </p>

            <p>
              When wolves had enough of play, they ran away, undoubtedly to hunt something for lunch. Sally opened the
              barn doors, letting the horses out into the corral to run and play. Starla and Moni squealed happily when
              they met Blix. They were all over him. I watched from the roof when Starla jumped on top of one mare and
              bareback rode her in circles, then jumped over the fence, letting her gallop full speed across the field.
              I was mesmerized, never seeing anything like that before. A gorgeous naked, full-breasted redhead riding
              fast on a horse, her tits bouncing in sync with the movement. My cock was so hard, seeing that I thought
              it would rip through my pants.
            </p>

            <p>
              I forced myself to look away and focus on my work before I slipped and fell. I could already imagine my
              tombstone &quot;Here lies a soldier killed by his own lust&quot;. After finishing with shingles, I focused
              on the windows and the back door. The girls were cooking up a storm when I finally got inside. After a
              shower, I pulled Starla to the dining room, wanting to check her wound after her horse ride. Sally and
              Moni watched me remove bandages and peel off the gauze. The swelling and redness have subsided. There was
              no new blood and no puss. I sterilized the tweezers and gently popped out the staples, then cleaned and
              sterilized the wound, putting on a new gauze and bandage. “You are fine. Don’t do anything heavy with your
              right arm for the next two weeks.” Starla nodded in understanding.
            </p>

            <p>
              The girls cooked chilly and mashed potato, made a salad and chocolate pudding for dessert. They also baked
              a bowl of dry cookies to eat with coffee and tea. I watched them carefully as we ate, detecting no fear
              from any of them, but there were differences. Sally’s eyes were just sparkling; she was truly happy,
              delighted, overjoyed. No traces of depression or melancholia. Reuniting her with Moni fixed whatever was
              broken inside. I’ve seen the look in her eyes before, and it scared me. I knew a lot of soldiers with the
              same look and buried them months later. I didn’t want to bury Sally, even if it meant kidnapping her best
              friend.
            </p>

            <p>
              Moni was the quietest of the three. I gave her space, let her get used to the situation. She wasn’t scared
              of me, but she was uncomfortable. I caught her a few times shyly give me a measuring look, especially when
              I was naked, her eyes focusing on my dangling cock. I wondered if she was ever with a man before. Starla’s
              face was the most perplexing of all. Her eyes would follow me wherever I went. I knew she was broken
              inside from the story she told me, and I didn’t know what I did to earn her admiration, but I was happy
              she came with Moni. “I saw you ride today”, I said. Starla looked up at me, worried she did something that
              wasn’t allowed. “You are an excellent rider, better than me. You should do it more; horses need the
              exercise.” She blushed with a big smile, nodding.
            </p>

            <p>
              “Thank you for a wonderful dinner”, I told Sally, her eyes beaming happiness at me. “If you need
              something, put it on the shopping list, and I’ll get it the next time.” She gave me a beautiful smile. By
              the end of the dinner, I was confident that I did the right thing bringing Moni and Starla home. The
              subtle yet tangible tension disappeared, and the house started to feel like a real home.
            </p>

            <p>
              That night I saw Moni and Starla watching from the door when I pulled Sally to the bed. Towering above
              her, I gently kissed her lips, fondling her growing breast, pinching her sensitive nipples. She moaned
              into my mouth, gyrating her hips in need. I read somewhere that pregnant women get insanely horny. That
              certainly stood true for Sally. I thought how it was no wonder she was going nuts staying home alone. At
              least now Moni could wear her out while I was away.
            </p>

            <p>
              Sally arched her back, moaning loudly, feeling my tongue rubbing her clit. She squeezed her tits, pulling
              on her nipples, biting her lip as she made little meowing noises. Just before she came, I pushed my cock
              inside her, and she took off, screaming, pulling on bedsheets with her hands, trying to steady her rocking
              body. Her hips frantically moving up and down, milking my cock for every ounce of pleasure she could
              extract. I rammed her hard through her first orgasm, then spun her to her side, squeezing her neck with
              one hand, lifting her leg with another as I trust into her. I saw the girls fondling each other urgently
              as they watched Sally’s bouncing pregnant belly and heavy tits sway rhythmically in concert with my
              thrusts. Her red, swollen pussy devouring the length of my cock. Her inner lips stretching on each pull,
              not willing to let go of the intruding giver of pleasure.
            </p>

            <p>
              It didn’t take long for Sally to cum one more time. Still, on her side, she screamed and shook in a
              powerful orgasm, her muscles rippling as she fought for air, each breath turning into a howl. She shook so
              much I had trouble keeping her leg up. Just as I was about to cum, my cock slipped out from all that
              bouncing and shaking. Sally’s pussy kept contracting, like a fish mouth trying to breathe outside water. I
              grabbed my cock and blasted a full load of sperm all over her body, covering her face, tits, pussy and
              belly in ropes of fresh hot cum.
            </p>

            <p>
              Moni and Starla ran up to us like on cue to lick the sperm off sally while I repositioned my cock. I
              penetrated her asshole in one long brutal stroke, resuming her fucking as hard as I could. Sally kept
              screaming and moaning while I jackhammered my cock into her guts. The girls licked the sperm off her body
              and kept sucking, squeezing, fondling and pinching her. Starla kissed Sally, their tongues wrestling while
              they squeezed each other’s breast. I saw Sally’s arms drop off the bed, two fingers of her hand finding
              their way into Starla’s pussy. She gnashed it hard, causing Starla to shake, and kiss her more in return,
              squeezing Sally’s tits harder and pinch her nipples with all her strength.
            </p>

            <p>
              Moni’s tongue was on Sally’s pussy, her tongue deep inside, my balls kicking her chin. When Sally couldn’t
              take any more intense stimulation, she expelled a massive, back-breaking orgasm with a primal gargling
              scream. Her pussy contracted hard, a surge of squirt blasting out of her urethra, right into Moni’s mouth.
              She swallowed it feeling intense pleasure. Her own two fingers deep inside her pussy, punched and shook it
              until her body tensed and trembled, collapsing on the floor.
            </p>

            <p>
              I wasn’t done yet, so I pulled semi-conscious Sally to all fours and pounded her ass raw. Sally
              exhaustedly moaned until I pulled her hair roughly and rode her like a rodeo king. I noticed Moni and
              Starla in a passionate embrace, kissing, fondling, fingering each other with great need while watching me
              brutally fuck Sally. Sally gave another long howl as she felt my cum fill her bowels, then collapsed,
              twitching on the bed, tears and drool running down her cheeks. As soon as I lay down next to Sally, she
              wrapped herself around me, squeezing me tight, kissing me all over, hearing the loud drumming of my heart.
              “Thank you, I love you so much”, she said, kissing me some more. Sally squeezed me as hard as she could,
              her happy tears spilling on my chest. I saw the two girls on the floor, collapsed over each other before
              kissing Sally’s lips gently and fell asleep.
            </p>

            <p>
              I woke up the following day with a beautiful feeling of being sucked off slowly. I opened my eyes, just to
              be met with a pair of sparkling blue eyes surrounded by luscious red hair. Seeing I was awake, Starla
              increased her tempo, sucking me off with great skill and determination. She easily deep-throated me with a
              big smile, never breaking her eye contact. Sally and Moni lay in a doggie bed, wrapped around each other,
              fast asleep.
            </p>

            <p>
              It didn’t take long for Starla to make me cum. Hearing me sigh and tense, she sucked faster and had me
              blasting a mouthful of cum in no time. I kept spraying fresh nut milk inside her, and she kept swallowing,
              drinking it all without missing a drop. Starla kept sucking me gently even after my cock turned flaccid. I
              saw she was about to slide back to the floor, so I took her hand and pulled her towards me. She smiled and
              lay on top of my body. I kissed her then laid her next to me. She immediately wrapped herself around me,
              putting her head on my chest.
            </p>

            <p>
              We lay like that for some time before I rolled her on her back, kissing her gently. Her lips parted, and
              she kissed me back, our tongues wrestling, in our first kiss. I led her by hand to the dining room,
              unwrapped her bandages, checking her wound. Not a single drop of blood came out. The wound was crusted up
              and looked solid. Just a slight redness, but the swelling completely subsided. I led her to the bathroom,
              washed her carefully with soap. After drying her, I sterilized her wound, put a light gauze over it and
              just taped it to her skin without putting on bandages. When I looked into her eyes, they were full of
              tears. She smiled and said, “thank you”. I kissed her forehead and hugged her in return.
            </p>

            <p>
              Sally and Moni found us like that, and the whole morning family craziness started again, showers, cooking
              and breakfast. Something has definitely changed. The girls were laughing, chirping happily. I quietly
              watched them in wonder. I don’t know whether it was because they outnumbered me three to one or just some
              weird female thing, but they clearly had no fear of reservations about me whatsoever. They acted like they
              were on a summer vacation, chilling in a camping lodge with their best friends, not in the middle of
              nowhere, sitting naked in a house of a sexual predator, naked and leashed as sex slaves. The situation was
              so surreal that I chuckled.
            </p>

            <p>
              I must have done that aloud as the conversation immediately stopped, and all three of them looked at me
              with a surprise. I looked back at them confused, shrugging, then they exploded in laughter. “Women! Go
              figure”, I mumbled, apparently loud enough for them to hear, which sent them into another round of
              hysteric laughter. Seeing my confusion, Sally ran up to me, hugged me tight and placed a big kiss on my
              cheek, then got me some more coffee.
            </p>

            <p>
              After a day and night of walking, Dean checked his phone and got one bar. It was just enough to call
              emergency, tell who and where he was, then sat on the road for an hour before two cars arrived. He told
              the sheriff what happened, and they went back, passing the wreck of his car, driving forward. Sherif
              called over the radio for the wreckage to be pulled off and thrown into scrap. It was an old car, not
              worth fixing.
            </p>

            <p>
              They drove up to the old farm and found a burnt-out car. After spending a couple of hours at the scene,
              they gave up and turned back. Sherif called the lab guys to come and take the tire prints of the car that
              drove straight into the field. Everyone knew this was a wild goose chase. They were in Montana. Everyone
              had a truck, and it was more than a day after the trail got cold. A man who could drive across the land,
              not bound to the road system, could be anywhere by now. Ten other states and Canada included. It was a
              lost cause.
            </p>

            <p>
              After spending a few hours at the sheriff&#39;s office, closing the case, Dean had a big lunch in a diner,
              checking himself into a motel for the night. The next day he walked to a car lot down the road and bought
              a decent car, better than the one he had before. Heading to the city, back to the last hotel the girls
              visited, he spoke with the manager and learned nothing as expected. The reservation was made online, the
              letter arrived sealed. In the reservation was a note to expect a letter for the guest, which, although
              uncommon, wasn’t an unusual request.
            </p>

            <p>
              Dean knew the hotel was a dead-end long before his visit. He understood his adversary well. The man never
              made mistakes. Despite all that’s happened and his personal failures, Dean grew to respect the kidnapper
              for his skills. Deep down inside, he thanked him for his life, for sparing him. The kidnapper took an
              unnecessary risk, keeping him alive. Dean had no doubt the man could have just killed him without batting
              an eyelash. In fact, it was cheaper to kill him as those high-powered bullets that the kidnapper used were
              quite costly, and he used three, where only one would do. Dean also knew that the kidnapper was a soldier,
              a good one. There was no evidence of it, yet all pointed to that. You don’t just end up a criminal
              mastermind, a marksman of that calibre without extensive training and years of experience on the
              battlefield. The brazen way the kidnapper put himself in danger spoke of bravery, not just carelessness.
              He knew exactly how much and how far he could go and acted decisively. You can train all your life, but
              that skill you don’t get on a shooting range or doing drills. This was life and death, right there on the
              ground, where if you’re not good, you don’t come back.
            </p>

            <p>
              Knowing it was all a waste of time, Dean sat in the car and headed back the same way he came, intent on
              visiting all the hotels, hoping for the slightest clue.
            </p>

            <p>
              It took three weeks for the house extension to be over. I changed my initial plans a little and, instead
              of adding another bathroom, extended the original one to twice its size. I didn&#39;t want to force Moni
              and Starla into fucking me. I planned to give them their room and bathroom, but it turned out that the
              girls worked it out differently, deciding to share me instead, and it worked out surprisingly well. I
              never imagined that relationships like that could work, but I had to admit, it was even better and not
              just the sex but the whole dynamic, mental and emotional support, genuine feel of family. Now all four of
              us could comfortably take a shower together, which we loved to do. The spare room became a nursery.
              Starla’s wound healed in record time, so The buxom redhead beauty took my riding compliment to heart. She
              loved riding naked, bareback on horses and the rest of the household loved watching her, especially her
              sizeable bouncing breast and flowing red hair. She knew exactly what she was doing to us and purposely
              played it up to everyone’s satisfaction. Her stripping experience finally coming to some practical use.
              Sally and Moni often clapped after she came back from her rides.
            </p>

            <p>
              Starla was a farm girl. From the moment I brought her home, she fit right in; it all made sense to her.
              She followed me like a puppy whenever I worked outside, and she loved to be naked. I saw her once rolling
              in the tall grass, giggling like a child. Back in Los Angeles, she was a tough cookie, always in control,
              but here, in the middle of nowhere, she was like a kid, happy to be alive, not a worry in her mind,
              content to just help and follow anything I asked her to do.
            </p>

            <p>
              Seeing Starla’s riding patterns, I figured she didn’t want to tell me that the corral was too small for
              the horses. I worked hard for a month, fencing off a larger area so the horses won’t have to jump the
              fence to build the speed. In the end, the coral was four times the size of the original one, the tall
              grass cut and dried, neatly packed in hand-pressed bales, safely stored in the barn. The horses welcomed
              their new playground, running and hopping around. Starla took it upon herself to train each one of them
            </p>

            <p>
              I took off at night, pulling my trailer behind me. I had a long list of things to buy. It wasn’t just
              Sally and me anymore. We still had plenty of food, but it was time to start preparing for winter. I got
              home the following evening, half-expecting to see the girls gone. They had trained horses now, and Starla
              taught them to ride, so it wasn’t unimaginable. The girls ran up to me as soon as I arrived, descending on
              the plastic bags I carried like locusts. Sally told them I brought her gifts last time and she wasn’t
              wrong.
            </p>

            <p>
              It felt like Christmas. I saw three naked, beautiful girls finding little things, fruits, chocolates, all
              sorts of tastes. I got out and brought two brand new iPads, loaded with different stuff so the girls could
              exchange, read, listen and watch what they liked. While they happily tapped on their new gadgets, I
              installed a Bluetooth speaker they could use to stream the music. Moni was first to figure it out, and
              suddenly the house came alive with sound.
            </p>

            <p>
              It took a couple of weeks for me to install all the new fixtures that I bought. It was a costly trip. I
              purchased two new deep freezers and a whole lot of cushy furniture. So all of us could comfortably sit in
              a living room, sprawled over sofas. I brought in a bunch of giant multicoloured beanbags, dotting them
              around; the girls had a blast trying them on. I placed a large, soft, fluffy rug on the floor between the
              sofas. The girls immediately ended up rolling on the floor, jointly deciding this was the best spot.
            </p>

            <p>
              It was interesting to watch. The girls seemed very happy and free, but all of them followed the rules.
              Sally taught them about the leash, which became their natural, automatic behaviour. As they would move
              from room to room, they would first leash themselves to a hook on the wall then go on with their business.
              It was odd when Sally did that, but having all three do it was ridiculous. I asked them once, “why do you
              do it?” All three of them looked at me in surprise, and Sally answered, “you are our master. You own us.
              We are your property”. I let the matter drop after that.
            </p>

            <p>
              Starla loved helping me work on the house. I had a lot of extra material, so I built a large covered porch
              on the front side of the house, looking westwards. It took me forever to install a large, round wooden hot
              spa that went through the porch, only a foot of it showing above it. The girls cried in happiness the
              first time we used it, enjoying the hot water bubbles while watching the sunset and drinking red wine. The
              damn thing consumed a lot of water and energy, but it was worth it.
            </p>

            <p>
              No matter how many times I fell asleep with the girls on the bed, I found them sleeping on the doggie beds
              scattered around the bedroom. Fearing the same response as with the leashes, I squeezed into the crawl
              space. I pulled the high-temperature plastic tubing zigzag all over the floor, insulated it, and nailed an
              additional set of wooden sheets. It was tough doing it in reverse, but the bedroom had floor heating after
              a week of hard work.
            </p>

            <p>
              Moni fell ill one morning, right after breakfast. She giggled at something Sally said, suddenly turning
              green in her face and ran for the toilet, puking. The girls ran after her, holding her hair, asking her
              what’s wrong. She tried to get up then hugged the bowl again “everything will be fine; it’s probably just
              something you ate”, said Starla, wondering what could it be. Seeing Moni’s miserable face, she made a
              joke, “at least you know that you’re not pregnant”. Moni looked at her in shock, her face turning pale
              like a sheet of paper. Sally and Starla froze, “you do have a birth control implant?” Starla asked her,
              not really wanting to hear the answer. Moni’s eyes watered, and she shook her head.
            </p>

            <p>
              Sally ran out of the toilet like a bullet, rummaging through the storage room till she found a big brown
              box with dozens of pregnancy sticks. She thanked the lord that Carter was a prepper who bought stuff in
              bulk, hoarding it for every scenario imaginable. Sally went back to the toilet, giving the stick to Moni,
              waiting for her to sit down and pee. Moni looked at the pregnancy test stick like her life depended on it.
              Sally and Starla didn’t need her to tell them the result. Moni burst into tears when the stick confirmed
              the pregnancy.
            </p>

            <p>
              Moni didn’t hate the idea of being pregnant. It was all just so sudden and unexpected, too much to
              process. Many times Moni would cuddle with Sally, touching her belly, kissing it. Sometimes she would take
              her iPad and read fairy tales to the kid inside. Sally’s baby was like her own. Their deep connection made
              her feel it was their child, not just Sally’s.
            </p>

            <p>
              The girls let Moni cry herself out, then washed her face and took her to the living room and told her how
              wonderful it was, how the two babies will be the best friends and so on. They laid it on thick till the
              time Carter returned from tending fields. On the east side of the house, he planted an orchard of hundred
              apples, cherry and pear trees, leading to the field of potatoes, corn and sunflower, as well as a small
              patch of cabbage. Toward the end of the orchard, he placed a wooden bench surrounded by cherry trees,
              giving an incredible view of the eastern vista and sunrise. He saw the girls sneak out of the house every
              morning to do their morning thing where they looked at the sunrise, so he built them a place to sit.
            </p>

            <p>
              That evening after Carted got home and washed up. The girls served an excellent meal then he noticed Sally
              and Moni holding hands expectantly. Moni approached him nervously and started, “excuse me, master”. He
              looked at her curiously as she took a big breath and blurted out, “I am pregnant”, her eyes tearing up.
            </p>

            <p>
              Carter’s jaw dropped; he didn’t know what to say for a few seconds before a big smile showed on his face.
              He hugged Moni tight, kissing her all over “this is amazing”, he said, kissing her hard. Moni burst into
              tears of relief, her nervous tension ebbing away as Carter got to his knees. He kissed Moni’s belly and
              said, “Hello, little one. I am your daddy. I can’t wait to meet you. Please be kind to your mommy”.
              Looking up, he saw Sally and Starla crying. He opened his arms, and they ran up to him, all four of them
              ending in a big hug. “Moni, you made me so happy today, mommy.” She burst into another round of tears,
              kissing his face over and over, repeating “thank you”.
            </p>

            <p>
              Carter managed to peel himself off the girls, go to storage and came back with a frozen chocolate cake,
              “let’s celebrate tomorrow”. The girls squealed in excitement. That night, Sally and Starla let Carter and
              Moni have a night alone. Sally remembered how much it meant to her to make love with Carter when she
              learned she was pregnant. It wasn’t just sex; it was a bond. She felt wanted and assured like nothing has
              changed for the worse. She needed that to affirm her self-confidence, and now she wanted Moni to feel the
              same.
            </p>

            <p>
              Carter lay Moni on her back, kissing her gently. It reminded Moni of the first time he took her. She
              worked it out that it was that exact time he made her pregnant. When Carter stopped the car in front of
              the house in the middle of the prairie, pulling Moni and Starla out, they were both terribly scared. They
              stood naked and barefoot on the grass, knowing this was their final destination. Moni held Starla’s hand,
              squeezing it tight, trying to suppress her shivers. They felt the large man pulling on their leashes, and
              they followed his footsteps. Looking around, Moni spotted two pairs of evil-looking eyes and yelped in
              fear. Suddenly two enormous wolves came at them with exposed teeth, and girls hugged each other tight,
              starting to cry.
            </p>

            <p>
              The deadly attack never came. When they were brave enough to look, they saw the man hugging the beasts.
              They greeted him with big licks just like ordinary dogs, happy to see their master. The man led the wolves
              to the girls and let the beasts sniff them before they ran away into the darkness. The man just picked up
              the leashes and pulled them towards the house, like nothing extraordinary happened. As she walked, Moni
              felt her legs were wet; she peed herself in fear.
            </p>

            <p>
              In shock from the journey, meeting the wolves and not knowing what to expect, both girls followed like in
              a trance; the man could have led them to their deaths for all they knew. It all changed when Moni saw
              Sally; nothing mattered anymore. She ran into her arms and kissed her, squeezed to her make sure she was
              real. Moni was happy to die at that very moment. All her prayers and hopes were fulfilled. All her wishes
              granted; she didn’t want or need anything else in life.
            </p>

            <p>
              She remembered studying the naked man. It was the first man she ever saw without his clothes on, and for
              some reason, she couldn’t stop staring at his imposing manhood. She thought at first how impossible it
              would be to fit something so huge into her tiny pussy. His cock-head was the size of her fist and as long
              and thick as her forearm at its widest. She could barely fit it into her mouth when Sally brought her to
              teach her how to suck cock the next morning. She felt sorry for Sally, instantly imagining the man using
              his tool to ram it inside her. That quickly changed as she watched sally moan, beg and plead for more,
              faster, deeper, rougher treatment. Moni felt Starla’s fingers in her pussy as she watched the rough
              fucking of Sally, and when she screamed in orgasm, Moni’s body convulsed, and she came as well.
            </p>

            <p>
              The girls had a whole following day to themselves, as the man worked hard on the house. Moni introduced
              Starla to Sally, and the three of them talked it all out. It quickly became apparent that Sally was in
              love with the man, but she loved Moni equally, if not more. Moni loved Sally but was crazy about Starla,
              and Starla was crazy about Moni and liked the man. This could have ended as a horrible tragedy, but there
              was too much love to go around for that.
            </p>

            <p>
              The girls used their time wisely, deciding to be together and share the man. Moni was nervous about the
              arrangement, having never been with any man, but she was turned on by this one and mesmerized by his huge
              cock. Sally told the girls all about the man, telling him about his mental condition but focusing on the
              good side. He was a war hero and a decorated veteran, but more than that, he was incredibly intelligent,
              attentive, dedicated and loyal, something that Starla sensed as well.
            </p>

            <p>
              When he dressed her wound, he did it with so much care and attention. It was clear at that moment that the
              man would never hurt her. He shouted at her, grabbing her neck to stop her from doing dangerous things
              that might kill her, like shooting the gun. She saw him listen to her story and empathize with her. His
              face looked like stone, with eyes sparkling danger as she told him how she was abused by the sheriff.
              Starla wouldn&#39;t give two cents for sheriff&#39;s life if he was around at that time. Subconsciously
              she knew that the man would just kill him, snap him like a twig. Starla always dreamed of finding a man, a
              hero and protector she always needed, and the man was clearly the one.
            </p>

            <p>
              The girls talked for a long time, concluding that Carter was exceptionally honourable despite their
              situation. Sally admitted that she initiated the first sex, watching a powerful, primal man naked with
              that beautiful cock, making her pussy twitch in desire. The man never raped her or forced her; it was her
              who initiated it all. Their sex was amazing, forceful and incredible, something Sally couldn&#39;t fully
              describe. She hoped that now that they agreed to share, the girls will quickly find out.
            </p>

            <p>
              Starla asked her about the leashes, and Sally giggled with a red face. She let Moni explain her fantasy of
              being taken roughly by dangerous men, leashed and fucked roughly. She played stupid when the man asked her
              to sleep with him on the bed and such. It was just that this situation was so similar to her sexual
              fantasy and turning her on so much.
            </p>

            <p>
              Bringing their thoughts and impressions together, the girls agreed that they don&#39;t have to be afraid
              of the man. He was still raw and unpredictable due to his broken mind, but all he ever wanted was family,
              and now he&#39;s got one.
            </p>

            <p>
              That night when the man fucked Sally, the girls were so horny, turned on by the raw sex and Sally&#39;s
              passionate screams. Moni&#39;s nervousness turned into terrible arousal, watching the man&#39;s cock pump
              hard into her lover&#39;s cunt, secretly wishing she was the one. When the man came all over Sally, she
              couldn’t take the it anymore. She ran up to sally with the excuse of cleaning her as a good sex slave
              would but deep down inside, she wanted to taste Carter’s sperm again. When carter came inside her mouth
              for the first time, Moni thought she would vomit. She’s seen enough porn with girls gagging on the cum.
              Surprisingly she found that she liked the taste. It wasn’t as good as ice cream, for example, but nothing
              she would say “no” to either. Ever since that first taste, she wanted to try more and ever since she saw
              Sally cum hard, she wished to try it with a man at least one time and see if she could have an orgasm like
              that.
            </p>

            <p>
              It took a while for Moni to sum up enough courage to broach the subject of fucking Carter with Sally. She
              heard her tell him she loved him and it hurt, but soon Sally told her she loves her too. It was confusing,
              but Moni accepted it. Sally loved them both, each in their own way. After all, she was pregnant, living
              with a man. It was better to love him than to hate him, no matter how it all begun. Whatever Moni feared
              turned up to be just in her head. Sally was happy to share and told her that it would be better this way,
              so she didn’t have to feel like cheating every time she fucked Carter. The problem was that although Moni
              was very sexually active and adventurous, she was practically a virgin in a traditional sense.
            </p>

            <p>
              The girls giggled when Starla pointed out to Moni that she’s the biggest slut out of the three of them as
              her first ever contact with a man was sucking his cock and swallowing a mouthful of sperm even before
              having a single kiss. The girls ended up rolling in laughter, poking jabs at each other, the irony of
              their sex-slave, chained-to-the-wall situation not lost on them.
            </p>

            <p>
              Based on her experience, Sally thought the direct approach would work best with carter. He appeared rough
              and aggressive, but she got to know him better and told the girls about his thoughtful and gentle nature
              and how protective and loyal to a fault he was. The girls bombarded Sally with questions, and she led them
              to the storage room, showing them his hidden box. Starla cried as she read through it. Her grandfather was
              a marine, both sides of her family buried enough soldiers to fill a graveyard. An American flag hung in
              her front yard; she knew all too well the price soldiers pay for everyone’s freedom.
            </p>

            <p>
              That evening, after a nice dinner, Moni approached Carter and said, “excuse me, master.” He looked at her
              questioningly. Red in the face, she blurted, “I have never been with a man. I would like you to be my
              first”. Carter studied her face, recognizing how hard it was for her to say that. He pulled her in slowly,
              gently brushed her straight, lush raven hair off her face. Their eyes met, and slowly he got closer and
              kissed her. Moni felt shivers going down her spine, tingles all over. It was her first kiss, and it was
              perfect. She hugged Carter, feeling his strong muscular frame, rough and hairy. He smelled like a man; he
              felt like a man and tasted like a man. They kissed for the longest time; she couldn’t get enough of it.
              Her whole body screamed desire unlike any she felt before. She loved Sally, and the sex was great, but
              this was something different, unconscious, primal. She didn’t understand it, and she didn’t want to. Her
              mind went a mile a second, but her body just let go, surrendering to whatever this herculean man wanted to
              do to her.
            </p>

            <p>
              Carter led her to the bed, laying her on her back, climbing on top of her. She felt his weight, a dominant
              masculine power pressing on her, ready to take her in the most primal of ways. They kissed for the longest
              time, Moni didn’t want to let go, but her body had an agenda of its own. Carter slowly moved down,
              kissing, licking, nibbling every inch of her goosebumps-covered body before reaching her gushing pussy.
              Instead of diving in, he continued down one leg then up another, stopping for a while to suck and nibble
              her nipples, erect more than they ever were, almost painfully so.
            </p>

            <p>
              Carter turned Moni on her stomach, repeating everything all over her back, pausing on her butt, biting her
              asscheeks lightly, licking her pretty little asshole. Moni moaned like crazy, tempted to stick her fingers
              into her overstimulated pussy and take herself over the edge, but carter had her pinned. She lost track of
              time how long Carter teased her. It was painfully obvious that he was either oblivious of her pre-orgasmic
              state, or he just didn’t care, enjoying the edging torture he gave her.
            </p>

            <p>
              Carter saw sheer desperation and endless need in Moni’s eyes as he pushed her onto her back again. His own
              cock painfully erect. He kissed her again, squeezing her breast hard, pinching her nipples almost beyond
              the point of no return. Moni’s eyes flew open as she gasped. Her pussy was ready for fucking. It’s been
              ready since they began, but as she felt it stretch and stretch seemingly without end, she realized how not
              ready she was for what was about to happen. With a mixture of fear and unbridled lust, she locked her eyes
              with Carters, feeling an electric surge as the massive bulbous head entered her super tight pussy. She
              could almost feel Carter’s heartbeat through his cock; that’s how snug the fit was.
            </p>

            <p>
              Moni expected Carter to stop, let her get used to his enormous girth, but he just kept pushing, sending
              more and more of that high-voltage feeling into her body. It felt like there was no end to his cock as he
              fed it to her slowly, inch by inch, rising her higher and higher until she felt it press and push against
              her cervix. At that very moment, the world turned into one memorable new year&#39;s celebration, the
              fireworks exploded, and she screamed in a terrifying orgasm, her body convulsing without control.
            </p>

            <p>
              She lost track of how long it lasted. It might have been millennia for all she knew. The only thing that
              mattered was how it continued to feel. Carter started pumping slowly then faster, and the feeling of
              climbing orgasm returned, and she exploded again, then again a few minutes later.
            </p>

            <p>
              Without stopping, Carter fucked her hard, fast and brutal, smashing her cervix with his cock as if trying
              to tear through it and fuck her womb directly, and Moni wished he could. Every time he jackhammered his
              cock in, he punched her cervix, taking her breath away in more ways than one. She gasped for oxygen,
              tethering between consciousness and bliss, taken by a man who didn’t know when to stop or couldn’t care
              about what’s happening to her. She never stopped orgasming. As long as he fucked her, she was kept in a
              constant state of orgasm with sudden peaks of something beyond it, getting stronger each time it happened.
            </p>

            <p>
              She felt Carter increase his tempo, getting stronger, rougher, more urgent. Then at one point, he pushed
              his cock inside so hard and deep, she was certain he broke through her cervix, and she felt a lava-hot
              liquid spray inside her at high pressure. Her whole body responded as on cue; every muscle spasming, her
              spine cracked, and she expelled a scream unlike any before. A blinding white light exploded in front of
              her eyes in a feeling beyond compare, the strength of orgasm nobody thought medically possible. The world
              spiralled down, fusing itself into that one feeling, and she was gone.
            </p>

            <p>
              It could have been a second or a week. Moni lost all sense of time as if it stopped for her. The next
              thing she felt was something big, soft yet firm and slippery, pushing at her anus. Her broken mind told
              her to scream, “no! It is too big! I can’t take it! It will rip me apart”, but her body remained detached
              from her consciousness. She felt her asshole relax and stretch, then stretch some more, then he was in.
              Carter’s cock slipped in her asshole and in slow in and out motions made room for more, each time pushing
              a little deeper.<br />Moni heard a lusty sound of someone moaning, meowing, gargling. It took her a second
              to realize it was her. Within a minute, she felt Carter’s balls rest on her pussy. Subconsciously her hand
              went to her stomach, and she felt his cock push in and out deep. “omg! He is inside me! He is all the way
              inside me”, her mind screamed in wonder, struggling to believe that something so huge and menacing could
              enter her with so little effort.
            </p>

            <p>
              Her mind split between wonder and lust focused on the rhythmic pumping motion of Carter’s footlong cock
              through the depths of her body. She felt it make space inside her, rub against her organs, feeling her
              more than she ever felt possible. It took her only minutes to orgasm. It was great but different, then
              another one harder hit her, and another even harder. Carter has just orgasmed, and now there was no
              urgency to cum. He pumped her hard and brutal as powerful as he could. It didn’t take long for Moni to
              start screaming again, her body on fire, her pussy drooling, contracting, doing things on her own.
            </p>

            <p>
              She felt something big and deep build inside her, and it only got bigger and stronger till it started to
              scare her. Like lighting a match under a powder keg, Moni exploded in an orgasm so strong her pussy
              squirted so hard it flew over the bed, ending on the floor. This, however, wasn’t the end. Carter didn’t
              cum yet, and he kept pumping and humping, squeezing and pinching. Moni begged him to stop in her mind, but
              her body asked for more. She lost track of how many orgasms she had, even the big ones, as they kept
              coming. All she knew was Carter was fucking her, and he won’t stop till he had his fill.
            </p>

            <p>
              Wishing to make it memorable for Moni, Carter paced himself, thinking of it as marine endurance training.
              He knew he had stamina, and he loved how Moni’s body responded. He kept fucking her for hours,
              intermittently filling her pussy and ass. He was so turned on by her responsive young lover that his cock
              refused to go down, and he refused to stop till it did.
            </p>

            <p>
              The watching girls, Sally and Starla, couldn’t believe what Carter was doing to Moni. Their both pussies
              were red and swollen from fingering, rubbing and fisting. They wanted to feel what Moni felt, yet nothing
              would come close. It was starting to get light outside when Carter emptied his last bucket of seed into
              Moni’s unconscious body before rolling on his back, gasping for air. Both girls jumped up on the bed to
              suck his cock clean of sperm and pussy juices before descending on Moni to drink fresh sperm flowing out
              freely from her abused holes. Moni was unable to walk straight for two days later, and she could only
              whisper from going hoarse.
            </p>

            <p>
              Now that she lay on a bed, after telling Carter she was pregnant, Moni felt his kisses and gentle touches,
              remembering clearly her very first time. She knew this was going to be another night to remember, her
              whole body alert in impatient expectation. When she woke after that first night, her whole body hurt, her
              pussy was on fire, her whole being begging for more. It was that night she realized she loved pussy like
              crazy, but she loved cock much more.
            </p>

            <p>
              The time goes fast when you’re having fun. I completed all the building work that I intended. The house
              looked great. It was warm and cosy and home to three wonderful girls who gave me their hearts. I unloaded
              tons of gravel around the house, making footpaths from wood and stone slate. I even erected a carport so I
              could use it in an emergency if I needed to without having to dig through a foot of snow.
            </p>

            <p>
              I made the last shopping trip into the town, bringing a large amount of winter food and shot as well as
              four milk cows that just gave birth, ensuring the supply of fresh milk throughout the winter. It took
              almost a whole day to get back to the farm to avoid stressing the cows with bouncing over the rough
              terrain. Seeing the young cows, Starla was all smiles, immediately taking a bucket and showing the girls
              how it was done.
            </p>

            <p>
              Sally was moving slow, feeling heavy in her eighth month of pregnancy; she was certain it was a boy,
              saying how it was impossible for a girl to be this inhumanely big. The girls laughed at that but helped
              her with everything she needed. I sensed we’ll have early snow this year, and I was right. Within a week,
              the world turned white. Our storage was full, the pantry bursting, four large freezers full of meat and
              game, the attic packed with dry meat, not counting the Eggs and Milk. A big bunch of chicks grew up and
              started to lay eggs. I chastised myself for going overboard. I had to build a bigger coup, and now we had
              more eggs than we could eat; even the wolves snorted at them.
            </p>

            <p>
              I woke one night, few days after the snow, listening to the sounds. The girls looked at me worried as I
              dressed up, took my hunting rifle and went outside. I could hear clearly the howling of wolves in the
              distance. Geri and Freki were nowhere to be found. I checked the barns, everything was in order. By the
              time I got back, nobody could sleep. Starla made us some coffee and early breakfast.
            </p>

            <p>
              There was no trace of wolves the whole day, but late last night, we all woke up at the same time. The
              howling was near. I got out and saw my two wolves sitting outside in falling snow, refusing to get in,
              howling into the night. A faint howls responding from a distance. The girls wondered what it was, and I
              didn’t want to ride out in the snow just to inspect it.
            </p>

            <p>
              The mystery answered the very next morning. Geri and Freki sat by the doors, while a few hundred yards
              away, a female wolf stood in the snow, six little pups asking for food; their mother eying me
              suspiciously. I got some meat and fed my wolves, making sure the mom gets a scent. The little pups were
              too hungry to wait. Freki went to meet them and led them to the bowl. I stood outside for hours, the girls
              watching the drama unfold through the windows. Slowly the mom approached me, gave me a sniff then watched
              Geri lick my face. Sometime later, after she ate, she gave me a few licks, dropped on her back and let me
              rub her belly. We were a pack now.
            </p>

            <p>
              The meeting with the girls went much easier. The wolf-mom followed Freki inside, suspiciously eying the
              girls but noticing how they fed and played with pups; she just sat down and watched. After some time, she
              approached each girl slowly, sniffed them, then lay down and slept.
            </p>

            <p>
              Sally’s contractions started two weeks after. Despite all that she read, she looked scared. “Don’t be
              scared, honey, I’ve got you. You will be fine”. Sally looked at me in surprise. I caught myself calling
              her honey, and I meant it. I didn’t consider how much I’ve changed being around my girls. I’ve put it for
              later; it wasn’t the time to get distracted.
            </p>

            <p>
              I made sure everyone knew the drill. We prepped the bed, washed our hands had everything ready. Sally
              almost went in panic when her water broke, but I squeezed her hands, looking into her eyes, smiling. She
              calmed down and smiled back, then it began. Sally was young, healthy and fertile, perfect for being a
              mother, and it showed. It took four intense hours, but the baby was born, massive twenty-two pounds on the
              dot. I sliced and tied off his cord, washed him, wrapped him in a clean towel after checking everything,
              and then put my son in his mother’s arms. “You did well darling, I am so proud of you”, I said and kissed
              her. Sally burst into tears, holding her newborn child. The little boy had a big pair of lungs on him; he
              almost burst my eardrums with his cries.
            </p>

            <p>
              I looked around; everyone was super emotional, all the girls were bawling. While they were distracted, I
              checked Sally’s pussy for any rips and damage, but there was nothing; it was an easy birth. I thought it
              helped that we had sex often, keeping her vagina elastic.
            </p>

            <p>
              The baby fell asleep in her mother’s arms, with his mom&#39;s nipple in his mouth. Sally couldn’t stop
              crying “my baby! I have a baby! I am a mother!” She kept telling the girls in disbelief. She looked at me
              with so much love in her eyes it would melt a stone. “What do you want to call him?” Sally asked. I sat
              next to her, took her hand in mine and said, “Sally, you gave me the greatest gift any woman could give a
              man, a healthy child, and for that, I am forever in your debt. What you want to call him is up to you. I
              think you’ve done more than enough to deserve this honour. Whatever you call him is fine with me”. The
              three girls exploded in another round of tears. After they calmed down, Sally told me, “Carter. I want to
              call him Carter like his dad”.
            </p>

            <p>
              I felt a surge of uncontrollable emotions go through me. It was hard to breathe. I fought the tears coming
              to my eyes, biting my tongue till I tasted blood. It took me some time to compose myself, sit on a bed and
              kiss my son “hello Carter, welcome home” I kissed him gently, then rushed out of the room, spat blood into
              the toilet, sat on the ground and cried. Something deep and buried broke inside me, a flood of emotions
              assaulting my senses. My hands shook; it was hard to breathe. I thought back for as long as I could, and I
              couldn’t remember ever crying like that. I didn’t know what was happening to me. I slapped myself hard a
              few times, washed my face in ice-cold water; I just couldn’t calm down.
            </p>

            <p>
              It took an hour before I regained my composure. I stood in a cold shower for half that time. When I got
              back, the three girls were sleeping wrapped around each other, the baby in the middle, latched onto
              Sally’s breast. I didn’t feel like sleeping. All I wanted to do is watch my son and the women I loved. I
              felt the surge coming up again, so I forced myself to think about something else. “Men don’t cry. Men are
              strong. Men suffer in silence. Men don’t complain”, the words of my father echoing in my ears. Touching my
              face, I could almost feel the slap he gave me when I was twelve and started crying about something. “You
              better stop this boy, or I’ll give you something to cry about”. I couldn’t remember crying ever since. The
              last time I really cried was when I killed that girl, then after that nothing, like my feelings
              disappeared, like a stone, nothing ever mattered to me after that, except little Carter. I knew there, and
              then I loved him. I’d kill and die for him; I’d burn the world and piss on its ashes if anything ever
              happened to him. I was never afraid of death. I’ve caused so much of it and seen more that it stopped
              having a meaning. Once you lose the fear of death, you lose the fear altogether, but I was afraid for him,
              my son.
            </p>

            <p>
              I sat in a chair, watching my newborn child breathe, counting his little breaths, praying there will be
              another and the one after that. A loud sound of crying woke me. I didn’t realize I was asleep. Moni and
              Starla rushed into the room, checking the towel; it was clean. He was just hungry. Sally woke up,
              adjusting the little one, and he started suckling, his eyes closed. I couldn’t watch it anymore; it was
              too hard, too many emotions. I dressed up and took my rifle, then saddled up, gone hunting.
            </p>

            <p>
              The weeks passed, I spent a lot of time outside, shovelling snow, keeping cool, my mind on a simple task.
              I managed to keep my cool and find my centre again, an incredibly hard task when your little one grabs
              your pinky with his baby hand and looks at your with his big blue eyes smiling.
            </p>

            <p>
              Sally was doing incredibly well. The gym equipment got used for the first time. She didn’t gain much
              weight, and thanks to the girls constant massaging and applying cream regime, there was minimal stretching
              too. She just wanted to firm up and be in her top form. Sally’s breast didn’t grow much bigger. I doubted
              there will be much sag, and she made sure of it by exercising.
            </p>

            <p>
              Moni’s bump started showing, so she became a new centre of attention. It was the middle of December,
              bitter cold outside, the world was covered with a few feet of snow, nothing walked or moved outdoors. The
              little wolf puppies grew like a weed. I converted one of the big empty rooms into a wolf den, but for some
              reason, the little ones decided to sleep in a baby room surrounding the crib. “This is one well-guarded
              baby”, I joked when I saw it for the first time; all the girls giggled.
            </p>

            <p>
              Just before Christmas, I bumped into Starla hiding inside the pantry. Her eyes were all red and puffy.
              She’s been crying a lot. She tried to hide it, but I was having none of that. I led her to a spare room,
              pulled a couple of stored bean bags then sat her down. “What’s going on? Tell me”. Talking to her was like
              pulling teeth, but once she got going, she spilt the beans. She started saying how she feels sad,
              neglected, and all sorts of other bullshit. I pulled out my belt and folded it, telling her if she keeps
              going that way, she won’t be able to sit for a week. She burst into tears with a big smile. For some
              reason, she liked strong men who don’t take her shit; it made her feel secure. With a huge amount of
              frustration, she admitted, “I am jealous”.
            </p>

            <p>“Jealous of what?”</p>

            <p>
              “Of Sally and Moni”. I was confused, “I thought the three of you have a fantastic relationship.” She
              quickly confirmed that “it’s not that, I love both of them to death.”
            </p>

            <p>
              “What is it then? Spill it.” With her face a deep shade of red, she blurted out, “they have a baby”. She
              gave me a hurt look as I burst into laughter, almost fell off the bean bag. “Starla, you are an idiot”, I
              told her, then pulled her by her leash to the living room and set her down. “Sally, please give me my
              medkit”, I asked, and she brought it seconds later. The girls looked at me with questions in their eyes.
              Starla’s face was beet-red, and she looked down. “Starla was ashamed to say she wants a baby too”. The
              girls didn’t laugh. They hugged her tight, telling her she was stupid in much kinder words than I did.
            </p>

            <p>
              Starla watched me cut her arm and pull out her birth control implant without flinching. After glueing her
              up, I led her to the bedroom and fucked her till she passed out screaming. Every day I made sure to fuck
              her at least once, and she loved all the attention. Some two months later, I heard a scream and saw Starla
              running towards me like a bullet. She jumped into my arms, kissing me all over shouting, “I’m pregnant!
              I’m pregnant”. Sally and Moni started jumping and squeaking like cheerleaders on crack cocaine, all of us
              ending in a big group hug.
            </p>

            <p>
              All this commotion woke little Carter up. We rushed in just to be greeted by Six young wolfs curious as to
              what was going on. They took their protection detail seriously. They slept next to Carter since they were
              pups. He was a member of a pack from day one.
            </p>

            <p>
              The winter months passed quickly, with three horny girls demanding an ever-increasing amount of attention.
              Luckily there wasn’t much else for me to do. Every day we spent an hour in a hot tub watching the sunset
              over the frozen land. We’d watch films, read books and have plenty of sex. The girls were happy, and I was
              happy. Sally told me one day that I somehow mellowed that I wasn’t so scary anymore. My eyes don’t look
              like a wolf. The other girls agreed. One day Moni brought my memory box and asked me about it. They spent
              hours showing me pictures, listening to old war stories I wished I could forget. They burst into tears
              when I told them the story of Tony or as they knew her as A. Cox. They said it was too much and stopped
              asking questions when I told them about the little girl I killed.
            </p>

            <p>
              I got up, threw the box into the fire, telling them, “this man is gone. He died somewhere on that ridge.
              You made me the man I am today. You opened my heart and gave me love when I had none. You made me feel
              again. I won’t apologize for taking you, but I will spend my life paying you back for all that you’ve
              given me. I love you all”. The girls burst into tears, hugging me tight, kissing me. They loved me too.
            </p>

            <p>
              Spring came out of nowhere. Suddenly one day, the snow was gone, and grass started to come out. Soon
              after, the flowers came out, and the orchard looked like a little slice of heaven. I sat with Sally on a
              bench one day, cherry blossoms surrounding us in the morning sun. She kissed me gently, looking in my
              eyes, she said, “I am pregnant” I hugged her tight and kissed her, loving her more than I thought
              possible.
            </p>

            <p>
              Digging through packed up stuff, I found a box with girls old clothes and gave it to them. They looked at
              me confused, and I said, “I’m going to town for supplies; anyone wanna come?” The girls exploded in a
              flurry of excitement, quickly dressed up, joining me in the car. We were on our way for thirty minutes
              when Sally undressed, sighing. I looked at her questioningly. She shrugged and said, “I never thought I’d
              say that, but I hate clothes”, the girls giggled, undressing in a second, agreeing with her.
            </p>

            <p>
              I left the trailer at the hardware store, taking them to a strip mall. The girls were like locusts, buying
              a lot but much less than I expected. They had no interest in clothes but bought a bunch of new saddles and
              outdoor stuff. It took us an hour of arguing before we decided what to eat. We settled on pizza. It was
              the only thing we couldn’t do at home. I made a mental note to build us a pizza oven as soon as we got
              home. We stayed in town till late, just walking around watching people. They watched us too. We were
              indeed a strange sight. A large guy carrying a baby with three gorgeous women unlike any the town has
              seen. Two of which pregnant, one almost ready to drop.
            </p>

            <p>
              Most people ignored us; some were a friendly bunch, asking us lots of questions. We kept the chitchat to
              the minimum, not really wanting to tell them who we are and where we lived. We had our world and preferred
              it that way. As we walked, we passed the hospital. Pointing to it, I told Moni, “you can give birth here
              if you want”. She shook her hand, saying it was out of the question, “I want to have the same birth Sally
              had. I want you to deliver my baby. I trust you”. The girls agreed.
            </p>

            <p>
              The girls finally had enough, so we got into the car and took off. As soon as we got off the main road
              into the forest, the girls took off their clothes, scratching all over, complaining how uncomfortable and
              sweaty they felt. Hocked up on candy and cake, they quickly fell asleep on the back seat, huddled
              together. When we arrived, hours later, they were too groggy to do anything, just crashed in their doggie
              beds and slept.
            </p>

            <p>
              It took us a few days to unpack and sort everything. The girls bought a lot of seeds, many of them were
              flowers. And started planting them into small pots, intent on replanting them later.
            </p>

            <p>
              I hunted on a horse for fresh wild turkey one summer day when Geri and Freki rose their noses, sniffing
              the air, then started to howl, nervously scratching the ground. I felt like someone poured a bucket of
              cold water over me. Something was wrong, very wrong. I turned the horse around and set it to gallop back
              home, the wolves following right behind. I pulled binoculars from my bag, looking ahead. I saw an old jeep
              driving fast away from the direction of the house. I followed the line riding fast. Soon enough, the house
              appeared. A sense of terror went through my body. Two more jeeps were parked right outside it. There was
              nobody to be seen. Cold sweat covered my whole body. I never felt so scared in my entire life.
            </p>

            <p>
              I made Jack jump the fence at full speed like Starla, jumping off him right by the house. I burst into the
              house and found three armed guys. One was pulling Moni’s hair, trying to force her to suck his cock.
              Another was raping Starla. The third one watched them, standing guard.
            </p>

            <p>
              An immeasurable sense of blinding anger washed over me. I felt like something exploded inside me, then
              suddenly it was quiet and cold, like killing that girl again. The guard pointed his gun towards me, but
              Freki jumped at him, tearing his hand off. Geri bit his face with his powerful jaws crushing his skull,
              spraying the walls with blood and his brains. I shouted at them to stop, reaching for the guy raping
              Starla. I grabbed his jacket, yanking him so hard, he flew across the room, crashing against the wall,
              losing his consciousness. The third guy tried to pull a knife on Moni, but she was having none of it. She
              punched him hard in his balls and slipped away. The guy pointed the knife at me, threatening to cut me. I
              was in such an emotional state I doubted I’d feel anything if he did. I grabbed his knife hand, twisting
              it hard. The guy screamed, his bones breaking. I punched his face, breaking his nose and two rows of front
              teeth, knocking him out.
            </p>

            <p>
              I breathed heavily, trying to calm down, then falling to my knees, I let out a terrifying scream. The
              girls looked at me. Their look told me more than words. They were more scared of me than the rapists. I
              stood up and punched the wall with my fist, ripping down the whole plasterboard, revealing a hidden gun
              rack with more weapons and ammo than an army base. I pulled out a P-320 pistol, loaded the clip and threw
              it to Starla. She took it in her hand, checked the clip, giving me a grim look. “Stay here, don’t come
              out”, I ordered, then grabbed both men by their ankles, dragging them out. Ten minutes later, I picked up
              the corpse too.
            </p>

            <p>
              Starla removed the barricade from the kid&#39;s room, opening the door. Instantly six very pissed off
              wolves rushed out, sniffing and growling, howling. Little Carter was crying, unharmed. When rapists broke
              in, they checked the room then quickly barricaded it, seeing a whole wolf pack there. The girls picked up
              Carter, locking themselves in the bathroom to minimize the sound of terrible screams outside. Moni cried,
              hugging Starla, who tried to calm her down.
            </p>

            <p>
              The screams went for hours then slowly died out. The girls managed to calm down, cry the stress out and
              now they were more pissed off than scared. The fuckers took Sally. The girls wanted blood, and judging
              from the screams outside, they figured it already started flowing.
            </p>

            <p>
              The girls slowly came out and went back to the room. They heard me enter, gasping when they saw me. My
              hands were covered in blood; there was blood on my face. My eyes had the look of death. I remembered an
              old poem that started, “I am karma, my name is wrath”. It felt just right; I have become wrath.
            </p>

            <p>
              I picked a satellite phone from a gun rack, switched it on, and typed in the code; I had a full signal. I
              gave it to Starla and said, “I am going to get Sally”. I promise to be back, but If I don’t come back in
              four days, it likely means I am dead. Call the police. I gave her a GPS showing the exact location of
              where we were. “Don’t try to leave on horses. It is not safe.” Starla nodded. Moni quietly cried. I pulled
              out a duffle bag, loaded my TAC-50 sniper rifle, AR-15 assault rifle and a whole bunch of ammo, grenades,
              and a couple of canisters of nerve gas. I put a couple of knives and loaded the P320 pistol in my belt,
              plus a bunch of clips in my pockets.
            </p>

            <p>
              I hugged and kissed my girls, “I want you to know that I love you more than life. I will get Sally back
              alive” the girls cried, kissed and hugged me, knowing that this could be the last time they saw me.
            </p>

            <p>
              I turned around and headed out of the house when Starla shouted, “Marine!”. I turned around, looking at
              resolute eyes on a defiant face. “Semper Fi!”
            </p>

            <p>“Oorah!”</p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Greg-Rumpel-Stiltskin-ebook/dp/B0B298962T'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3y7XejC'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Greg?id=8TNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>

              <a href='/books/montana/preview/chapter-7-bloodlust' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 7 - Bloodlust >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />

            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
