---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Montana | Chapter 1 - The arrival'
  description='Montana novel by Rumpel Stiltskin'
  image='/images/montana.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <img src='/images/covers/montana3.jpg' />
          <p class='emp grey'>MONTANA</p>
          <h1>Chapter 1 - The Arrival</h1>
          <div class='biggest'>
            <p>
              I stretched my body before dropping a large black duffel bag into long yellowing grass. The odious trip
              right across uncultivated, wild terrain tested my nerves and patience. It was smart to reinforce the axels
              on a large caravan trailer that I pulled with my military spec H1 Hummer. I bought it second hand
              completely refurbishing it after my tour of duty in Kandahar.
            </p>

            <p>
              I took out a long steel rod with a closed-loop on top from the car&#39;s back and stuck it deep into the
              ground using a sledgehammer. Then dragged by her hair, I pulled out the naked girl off the back seat,
              chaining her titanium mesh collar to the rod in the ground with a long thin chain; she was running
              nowhere.
            </p>

            <p>
              After taking a deep breath of late summer air, I started to unload everything. We will need shelter soon,
              so setting up a large tent that I bought at the army surplus store was a top item on my to-do list.
              Detaching the huge metal trailer next to the old house, I saw it was completely falling apart. I had to
              rebuild it before the first snow, or I was in trouble. Next, I checked the old well at the back of the
              house, pulling out a bucket of water, using a test strip to check for contaminants; no reaction. The water
              was pure, so I took a small sip, followed by a bigger one; the water tasted fresh and clean. I was
              relieved; it was my biggest worry that I&#39;d have to fix the well or dig another.
            </p>

            <p>
              Pouring the freshwater into a thermos bottle, I placed it on the dirt next to the frightened naked girl
              with eyes puffy and red from crying. She sat on the ground next to the rod I chained her to. It took a few
              hours to clear the circle wide enough, so the wind doesn&#39;t spread the fire into the prairie. I walked
              around, collecting the rocks, placing them together, stacking the dry wood that fell off the house to
              build a campfire. On several occasions, I saw the girl observing me. She drank a bit of water and seemed
              more stable but not less scared.
            </p>

            <p>
              Her blue-grey eyes reminded me of the girl I met in Afghanistan. I never knew her name. One time during
              the te patrol, I gave her a slice of American chocolate. She smiled after tasting it. Since then, every
              time I would pass by, she would run up to me, hoping for another taste, so I made it a point to always
              carry chocolate on my patrols. I couldn&#39;t speak Dari nor Pashto, the languages she spoke; only Arabic
              that I learned when stationed in Iraq. Our exchanges were limited to smiles and &quot;thank you&quot; that
              she parroted from people speaking some English. I still had dreams of the moment my bullet went into her
              eye, exploding her brains from the back of her head in the middle of the dusty street. I killed hundreds
              of people, sitting perched on top of a building or hill, watching the soldiers on the ground with my
              high-powered sniper rifle.
            </p>

            <p>
              &quot;Are you sure? She is just a little girl; I don&#39;t see her carry anything,&quot; I radioed ahead,
              getting their response back then pressing the trigger. I remembered it so vividly, like it just happened.
              I closed my eyes, feeling my tears drop, then it all went so quiet, so cold, I couldn&#39;t feel anything
              anymore. I killed men and women, killed little children, and killed whoever they told me to kill in cold
              blood, feeling nothing anymore. I was one of the few the proud they sent there to protect America from
              illiterate villagers, lining deep pockets along the way. Every time I pressed the trigger, I could hear
              the ka-ching of someone making a profit. When I finally came back, I was a hero. They awarded me a navy
              cross medal for murdering unarmed civilians, spreading peace and democracy to far reaches of the globe.
              After getting my discharge papers, I packed my bag and never looked back.
            </p>

            <p>
              I kept the fire small, under control, grilling two large steaks I brought in a cold storage box. I wanted
              to celebrate the beginning of my new life. With the money I&#39;ve earned in the service, I bought a large
              piece of land in Montana surrounded by vast nothingness and a beautiful view of the mountains in the
              distance. I checked my cellphone there was no signal, not that I would expect any this far out. Over fifty
              miles separated me from any road or other signs of civilization; we were utterly alone. I chose the
              property for exactly that reason. I wanted to lose myself, live off the land like I used to dream of as a
              kid, reading the books about early settlers. I scoured the Internet, looking for a place as far from
              people as possible. It took me months; I almost gave up until this gem popped on one of the niche web
              sites where owners sold the property directly.
            </p>

            <p>
              The man who used to own it inherited it from his grandfather, and he&#39;s never visited. He had it for
              decades, but it was just too far, too remote to do anything with it. The guy was moving to Hawaii to be
              closer to his family. Wishing to get rid of it quickly, he sold it cheap. I paid a lawyer to check all the
              papers, help with the sale and then I was off.
            </p>

            <p>
              Taking both steaks off the fire, I let them cool a bit, then I threw one on the ground next to the girl
              while I took mine and chewed, enjoying the last taste of beef for quite some time. It was going to be the
              game from now on. The girl stared at the meat for a while. I could see she tried to fight her hunger, not
              wishing to be fed like a dog. When she saw me lay down in the grass, placing a hat over my face, she
              picked up the now cold piece of grilled meat, dusted it off and ate.
            </p>

            <p>
              I woke up after dawn the next morning. A light fog rose from the ground, the morning dew on the blades of
              grass. I had a first undisturbed sleep in a long time. The girl curled herself up into a ball, shivering
              in the cold. &quot;The Californian girls&quot;, I muttered, chuckling below my breath, &quot;so
              tender&quot;. It would be good for her to harden up a bit. I took off my clothes, my morning erection
              standing proud. The girl sensed my approach, waking up with a jump and a little scream, curling to a ball
              in fear. I took her off the chain, attaching her to a leash and led her to the well. I looped the end of
              her leash around an old stone and threw the bucket into the well. Bringing fresh water up, I poured it
              over myself. The girl watched me with a panicked look as I pulled another bucket. She screamed and begged
              me to stop when I splashed the freezing water over her, taking a brush, rubbing it all over her body and
              mine. Six more times, I took out the water, each time she screamed as I poured it over us before we were
              clean. She shivered badly when I led her by the leash to the campfire, retying her chain and throwing some
              wood on the fire to warm us up. It took us half an hour to dry, using that time to make us a pot of
              coffee. Pouring it into metal mugs, I gave her one, and for the first time, I saw gratitude on the
              girl&#39;s face as she held the hot liquid close to her chest.
            </p>

            <p>
              I took a large pack of granola bars, eating one, pocketing another, throwing the rest on the ground in
              front of her. The girl was starved; she immediately took out one bar and ate, washing it down with hot
              coffee. I refilled her cup and her thermos bottle, then sat in a car and drove off. The original owner
              told me there was a lake where game and wild animals came to drink. Coming close, I spotted a herd of wild
              horses through the eyepiece of my sniper rifle. Within seconds I noticed the leader of the pack, a great
              black stallion, a magnificent animal. I drove to it as close as I could before spooking the animals, then
              went on foot, taking a long rope and a hunting rifle with me, intending to capture the horse and find some
              food. I loved reading wild-west stories as a child. We lived on a ranch, so I learned how to ride and
              break horses early on, which will come in handy in this wilderness.
            </p>

            <p>
              It was getting late in the evening when the girl saw me driving slowly with a black horse in tow. I could
              see an expression of relief on her face as I got out of the car. She shrieked in panic when I dropped a
              large turkey into her lap, giving her a knife and a bucket. I lead the horse to the side of the old house,
              feeding it apples that were packed into the trailer for the trip, petting it softly, letting it get used
              to me. I brought a bucket of water to the horse, so he can drink, taking another bucket to the girl.
            </p>

            <p>
              She sat there seemingly in panic, not knowing what to do, so I sat next to her, ripping feathers off the
              turkey, putting them into a bucket. She almost vomited when I cut the turkey open, pulling out the
              entrails, cutting its head off, throwing them all into the fire. I gave her the knife and the metal rods
              while I went back to the well to wash up. I was filthy, full of dirt and dried mud. When I caught the
              horse, I run it into the lake, exhausting it in the sand before I was able to control it. I came naked to
              the fire; the girl understood what I wanted her to do. She cut up and skewered the turkey, sticking the
              metal rods into the ground next to the fire. I sat watching the beautiful sunset over a sweeping vista,
              hearing the nice sizzling of fire, smelling the grilled meat. We ate in silence, close to the fire, before
              laying down into the soft grass, covering my face with my hat and fell asleep.
            </p>

            <p>
              The girl was already awake when I opened my eyes. She put up no resistance when I led her by the leash for
              our ice-cold morning shower ending with a hot mug of coffee, eating the reheated grilled turkey from last
              night for breakfast. I collected all the hay from the grass I cut yesterday and brought it to the horse,
              feeding him a few apples. He was much less scared of me, accepting my touch without fear. After refilling
              his water bucket, I got my tools and some wood out of the caravan. The first thing I built was a large
              self-standing rectangular bucket. After filling it with water and bringing some more hay, I started
              working on the old house. I dug a trench around the house, filling it with rocks that I could find or dig
              out around the house, then hand mixing concrete in a wheelbarrow; I poured it in, sticking the long screws
              inside. That took me till past lunchtime; the girl sat on the ground watching me work. I took a break, ate
              some more cold turkey, then went back to work, climbing on the house, dropping down the roof tiles. I
              worked fast, got all of them done before sunset, so I spent an hour with Jack, the name I decided to give
              the horse, feeding him one more apple. After washing up, I sat by the fire; the girl heated up a few
              turkey skewers and brought them over quietly, sitting beside me.
            </p>

            <p>
              It got cold that night; I woke up feeling the girl wrap her naked, shivering body around mine, seeking
              warmth. She threw more wood on the fire, but it wasn&#39;t enough. I embraced her with my arm, feeling her
              getting warmer and stop shivering. The next time I woke up, her head was on my chest, her large breast
              mashed against my stomach, her leg wrapped around mine. She breathed peacefully; for the first time, I
              studied her body in detail, and she was gorgeous. Tall vivacious blonde with long legs, perfect butt,
              narrow waist, a perfect example of femininity. I felt my cock get hard like a rock, I wanted to fuck her
              so bad, but I didn&#39;t have time for that. I gently shook her awake; her face showed a surprise that she
              was in my arms, then she slowly got up while I wiped her drool off my chest.
            </p>

            <p>
              I quickly fed and watered Jack, giving him another apple, then led the girl on the leash to the well. When
              I finished scrubbing her with a brush, she took it in her hand, washing me in turn while I got us more
              water. She figured out it would be quicker if she helped. I threw the remains of the turkey into the fire,
              fetching another pack of granola bars. We ate in silence, drinking coffee. The morning frost meant autumn
              was fast approaching; I had to rush with the shelter. I smelled the rain so I started with a tent. It took
              me four hours to set it up due to its size. I took another bite of food, checked on Jack before continuing
              with the house. The plan was simple; I intended to use the old building as temporary support for the new
              structure. Once I do the walls and roof, I would demolish the old house from the inside and carry it out
              into the tent, so I had firewood for the winter. It wasn&#39;t the most effective way to build a house,
              but it was quick, and I could do it alone. The house had a large, functioning fireplace that could be used
              for cooking and heat; I needed to finish the exterior to seal it before the snow came in.
            </p>

            <p>
              I stopped working just before the sunset, happy with my progress. I nailed all of the support trusses to
              the old house, placing them on the concrete foundation that dried already. Tomorrow I was going to fix the
              roof support beam and work on the walls. The girl ate with gusto corned beef and beans I fried in a metal
              pan. I even gave her part of my portion, seeing how hungry she was. While she finished her food, I pulled
              out a large army all-weather rubberized sleeping bag and rolled it out in the tent. I was exhausted,
              needed some rest. Ten minutes later, I heard the soft clanking of light chains, then felt a hot naked body
              wrap herself around me, and I fell asleep.
            </p>

            <p>
              Small drops of rain bounced against the tent. The fire was still going, fog covering the land. I felt the
              soft, warm body heating me up; she unzipped the sleeping bag at night; it was too hot for her. I noticed
              an expression of disappointment when I woke her up. She coughed some getting up; she was burning up. I
              pulled out a thermometer from a medicine pack and stuck it into her mouth, then threw more dry wood onto
              the fire and made a pot of coffee. Checking, her temperature was high, so I made her drink a fistful of
              vitamin washing it down with coffee. I wrapped her up in a sleeping bag, refilling her cup. I checked on
              Jack and fed him, covering him with a waterproof tarp I cut to size with my hunting knife, then got onto
              the house, working on the roof, changing my building plans slightly.
            </p>

            <p>
              At midday, I took Jack for a ride. I haven&#39;t been exercising him for a while; he loved to run. I
              didn&#39;t spend enough time to train him, but it seemed we made friends. He got spooked a bit on the way
              home, so I tied him to a small tree then walked up to the spot with a bag and a shovel. I returned after
              twenty minutes with two large headless gopher snakes and a bloody shovel. I brushed Jack, covering him
              with a tarp, then nailed the two snakes to the old house wall, made a few cuts, skinning them in one pull.
              I put the skins into a jar adding alcohol and glycerine, and sealed it. Taking the snakes off the wall, I
              cut them up in small pieces, dropped them in a pot, added water and herbs then let them simmer slowly on
              the campfire.
            </p>

            <p>
              I noticed the girl watching me from the tent, working on the roof of the house. By nightfall, I nailed all
              the thick wooden panels on roof support beams, sealing the building. After checking on Jack, I washed up
              and sat by the fire, tasting the snake stew. I poured two metal bowls of stew, giving one to the girl and
              started eating. Following my example, she cautiously ate, surprised that it tasted better than it looked.
              I pulled out one large potato from the ashes; peeling it off, I threw it into her bowl, adding more stew
              as she ate. After we finished, I gathered the pots and bowls, washed them, undressed and lay on a sleeping
              bag; the girl was already there. She immediately wrapped herself around me, zipping the large sleeping
              back up. I felt her hot body press against mine, her heat feeling right to me. Her restless hand gently
              stroke over my body, fingers tracing around my muscles, slowly moving down to my cock.
            </p>

            <p>
              I was fully erect before her small hand wrapped itself around my erection, stroking my shaft, playing with
              my balls. I felt her hot breath on my skin, felt her heart beating rapidly. Turning over, I laid her on
              her back, my lips reaching hers in a passionate kiss. At the same time, my hand kneaded her supple breast,
              fingers playing with her large extended nipples. I heard her exhale loudly as my lips reached her long
              neck, moving downwards slowly. My hand reached her wet pussy as my lips closed around her nipple, her
              first loud moan coming out of her mouth. I saw her bite her lip as my tongue traced over her flat feminine
              stomach, hearing another cry as she felt my hot breath on her clit. I wanted to tease her, but the girl
              was too far gone, my fingers sticky with her flowing juices. She spread her legs wide with a loud moan as
              I attacked her pussy with my tongue. I tongue fucked the girl. She tasted clean and fresh, almost
              virginal. Pulling up her clitoral hood with a thumb exposed her little nub to my tongue. I heard her
              hissing, her lungs exhaling excess air in intense pleasure, so I focused all my efforts there. It
              didn&#39;t take long for the little tremors to start, then I felt her pussy contract around my fingers as
              she orgasmed. She tried to push my head away in an attempt to reduce the intensity, but I wouldn&#39;t
              have it.
            </p>

            <p>
              I brushed her hand away, but she kept bringing it back, so I grabbed it in mine and held it tight, feeling
              her sharp nails digging into the palm of my hand. She whooped, moaned and howled, panting like a dog as
              she fought for breath. Her body shivered in tremors as her muscles spasmed, then it happened. Her body
              arched, a primal scream unheard since the day the dinosaurs ruled the land. Every single muscle in her
              body contracted, and she stayed locked in that position for what felt like forever. Her body released
              suddenly; she took a huge gasp of air just to expel it in the next scream. Like an accordion, she went
              like that for at least five minutes before she collapsed, passing out. I got up, licking my lips clean of
              her sweet pussy juice lying on my back and fell asleep.
            </p>

            <p>
              The next morning I woke up with a start. I had a pleasant erotic dream of being on a beach with a girl,
              then we made love. I was so turned on and wanted to cum so badly, I just couldn&#39;t make it happen, so I
              struggled more. It felt like my cock was about to burst, my balls retracted, I was ready to blow, then I
              awoke, and my cock erupted into the girl&#39;s mouth. I watch her suck hard, drinking my sperm, not
              missing a drop. I was too busy with the kidnapping and building a house. I haven&#39;t even masturbated
              for over a week; all that was coming out, like a high-pressured hose of sperm bringing me immense pleasure
              with each blast. The girl drank it all. Even after my orgasm passed, she continued to gently suck out the
              last few lingering drops.
            </p>

            <p>
              After getting my breath back, I looked at her face, my cock still in her mouth. I smiled, and our eyes
              met; the girl smiled in turn. This was the way I thought each day should begin. I got up slowly and took
              her for a wash. She brushed me longer than the last time, rubbing my cock and balls with her hand, making
              sure it was extra clean.
            </p>

            <p>
              The day turned out bright and dry. We looked at a few days of hot weather and sunshine, which was an
              excellent opportunity to work on the house. Right after breakfast, I got on with nailing the boards to the
              wall frame while the girl watched me from afar. By noon, I had half of the panels up. When I took a break
              and took Jack on a ride, he appreciated that. I rode back two hours later with another wild turkey I shot,
              throwing it at the girl who started to clean it immediately, just the way I showed her. At the same time,
              I continued with the house rebuild. Putting up the upper panels was much more challenging as I worked
              alone, and they were quite heavy, but I was a strong man used to hardships, so I was done long before the
              nightfall. With time to spare, I took leftover wood and made a hand bailer to store enough hay for the
              winter.
            </p>

            <p>
              The girl served me a nicely grilled leg and a large potato she boiled, sitting next to me and eating. She
              kept quiet, avoiding conversation, which is how I preferred it. I liked the quietness, detesting the idle
              chitter-chatter and stupid questions with obvious answers. Her silence spoke more than a million words and
              told me that I chose the right woman. She was obviously not only beautiful but brilliant. From my actions,
              she could see that everything I did had a purpose. I took a horse to ride it because we were in the
              wilderness. There was no gasoline for a hundred miles. I caught turkey to eat; I took a woman to fuck. I
              kept her on a chain like a farm animal; I didn&#39;t spend time to talk with her, I didn&#39;t force her
              to help me or try to explain her situation. Her role in life was evident and perhaps at the beginning
              distasteful to her, but over the last few days, she warmed up to it.
            </p>

            <p>
              I cleaned up and washed up after the meal, undressed and went to sleep. The girl waited for me there,
              wrapping herself around me as soon as I lay down. Unlike yesterday, her hand immediately went to my cock.
              As soon as she felt it grow, the girl pressed her lips against mine and kissed me, breathing heavily. I
              played with her perfect tits for a while, loving how they felt in my hands; so soft and elastic. My other
              hand followed the contour of her back, reaching her perfect bubble butt, feeling its firmness and shape. I
              was glad I chose this girl; she looked after herself a lot, a perfect female specimen for fucking; she was
              made for sex. I felt the heat emanating from her pussy; its wetness dripping on my leg. Gently I rolled
              her on her back. Her eyes met mine; I could read unbridled lust in them. Positioning my cock at the
              entrance of her slippery hole, I poked the tip in then pushed as hard as I could. This caused her to
              inhale loudly, expelling a long moan as my cock slammed hard against her cervix.
            </p>

            <p>
              I could see she liked that, so I pulled my cock almost wholly out and pushed it back in. It took only a
              few strokes to give her an orgasm; apparently, she was one of those rare girls with a super-sensitive
              cervix. I pumped her in fast, deep, forceful strokes through her first orgasm, but that was only a
              beginning. Fascinated by her reaction, I took control of my own arousal, wanting to see how far can she
              go. I focused my strength and stamina fucking her like a machine in fast rhythmic strokes, adding even
              more brutality to it. The girl hit another orgasm shortly after, then another, then her orgasms just
              blurred one into another. As one orgasm would end, the other would kick-off. I spent almost two hours
              relentlessly, brutally fucking her before the girl&#39;s body exploded again, her bones popping, her
              muscles contracted. She lifted her chest off the ground, then she screamed; I could swear I heard wolves
              in the distance, responding to her howls. Her eyes rolled, drool leaking from her mouth; it was incredible
              to watch. I let go, focusing on my own pleasure. Before her massive orgasm ended, my cock erupted with a
              torrent of sperm, filling her sore, insatiable pussy with hot seed. I felt her hips gyrating, her pussy
              squeezing, milking the cum out of my balls till none was left, and her orgasm ended. Exhausted, I
              collapsed on top of her, not caring if I was too heavy, my cock still deep inside her, where it was meant
              to be.
            </p>

            <p>
              Twice that night, I woke up, feeling my cock harden inside her pussy, and twice more, I fucked her for an
              hour before cumming and collapsing on top of her again. I wasn&#39;t aware of how horny I was. It must be
              that the hard labour helped me let go of the memories of shit I went through. I haven&#39;t had a single
              nightmare since I got here. Certainly fucking this girl was very therapeutic. I enjoyed it a lot. Being a
              marine deployed for years in the worst places on the planet in constant readiness to act, keeping my body
              at peak performance. Continuous drills and exercise gave me strength and stamina for long fucking
              sessions, a surprising and welcome side-effect. I woke up at dawn, still on top of the girl, my raging
              morning erection skewering her young pussy. I took a breath of fresh air, smelling the sweet scent of
              fast-approaching autumn. Lifting myself up slightly, I started pumping the girl&#39;s pussy slowly until I
              saw her open her eyes. I kissed her hard, increasing the tempo focusing on my own need and urges.
              Forgetting my own strength, I fucked her like I was punishing her without any consideration for her
              pleasure. I just had to cum. She turned on quickly, gasping for air, clenching her teeth, sinking her
              nails into my back. She screamed in a massive orgasm again, just as she felt my throbbing cock blast her
              uterus with steaming hot cum. Her pussy contracting so hard over my cock it was almost painful. It felt
              like someone looped a rope around it and pulled the ends as hard as possible.
            </p>

            <p>
              It took me ten minutes to get over my own orgasm then I finally got off the girl. As I pulled out my cock
              a small river of sperm followed, leaking out of her swollen pussy. She lay there sexually broken, fucked
              into an unconscious state. I saw her generous, firm breasts rise in concert with her breath, her ribs
              showing every time she inhaled, her pussy leaking a river. &quot;That&#39;s one well fucked young
              lady&quot;, I thought to myself while making a pot of coffee, distracted by a gorgeous exhausted woman. I
              wanted to have a cup of coffee, take a day off and spend it fucking the girl in every possible way, but
              there will be enough time for that. The sun was up; I had to work.
            </p>

            <p>
              I had the roof covered up in black waterproof canvas by noon. I was busy nailing shingles on top. It was a
              quick going despite having to come down often to bring up another load of shingles. Just before sunset, I
              sat, eating my dinner, admiring my work. The house looked a little weird without windows and doors, but it
              had plenty of space. The girl reused grilled turkey to make a potato stew. She served me and ate, sitting
              next to me. The way she moved, I saw she didn&#39;t even mind her long chain attached to her collar
              anymore. I washed up, then fucked her for a couple of hours before falling asleep on top of her again.
            </p>

            <p>
              I collected a bunch of hay, compressing it manually into a bale. I weighed it, then calculated the
              approximate area of grass that would get Jack through the winter and doubled it just in case. After
              breakfast, I took a scythe cutting the grass around the house, leaving it to dry in the sun while working
              on the house. I pulled out large wooden doors with a frame and one window, measured them, cut openings in
              the house, then went inside, ripping out the old floorboards first, chucking them through the door
              opening. I started pulling down the rest of the wood. It gave me immense satisfaction to let out some
              steam. By evening almost all of the old house has been torn down from inside. I had a lot of extra roof
              canvas material left, so I piled it all up, wrapping it onto large rollable cylinders then taped them
              shut. I was pretty sure I had enough firewood to last through the winter.
            </p>

            <p>
              Good weather favoured me for the next couple of weeks. I managed to moisture and wind protect the external
              walls painting tar-based material on it, nailing decorative weather-resistant slates on top. Inside the
              house, I used glass wool between the frames as insulation finishing the inner walls with plasterboards and
              laminate flooring. I installed the doors and windows together with an Ikea modular kitchen, king size bed
              and a bunch of other furniture. I installed rooftop solar cells on top of the house, then dug up a big
              hole some hundred yards from the house, poured concrete, and mounted a small home wind turbine. There
              should be enough power for a homestead with a large stack of batteries, even in the winter months. I
              installed a water pump into the well, then closed it up and insulated it. I dug two deep holes on opposite
              sides of the house. One was to be used for composting, connecting straight to the toilet. I assembled a
              sizeable modular water tank for collecting the rainwater from the roof with a separate pump for washing
              and showering in the other hole. Both lead into the kitchen with a valve going into a reverse osmosis
              water filtering machine and a special tap for drinking water. I was amazed by how much I managed to do in
              such a short time. I even had enough time and extra material to erect a large lean-to for Jack,
              transferring all the leftover hay there.
            </p>

            <p>
              Noticing that the clouds starting to accumulate on the horizon, I moved all the bales of hay into the
              tent. I collected all tools into a provisional shed at the side of the lean-to and made sure Jack had
              enough water. Securing everything, I unchained the girl, attaching her on a long leash and led her into
              the house. Her eyes got big like saucers as she stepped in; she watched me build the house from the
              outside only. From there, it looked like a modern cottage. Inside it was more like a spacious,
              contemporary New York apartment with a minimalist design. If you didn&#39;t look through the windows, it
              was impossible to guess that you were in the middle of nowhere. The whole place looked like a showroom. I
              went to Ikea, gave them my drawings and dimensions. I promised that if they built me an example, I would
              buy everything they put there at a discounted price they&#39;ll give me. They usually have people buying a
              bed or a table, sometimes a room. I wanted to buy everything for the house. They got their best interior
              designers to talk with me, and a week later, I was shown the place. I made a few comments and suggestions,
              then by the end of the day, I paid them, and they loaded it up in my trailer.
            </p>

            <p>
              I led the girl into the living room, attaching her leash to a hook on the wall and showed her a large
              round, soft doggie bed and a blanket with the word &quot;Princess&quot; engraved on it. It took her a few
              seconds to figure out what it meant, then dejectedly, she sat in her place while I lit the fireplace and
              went to the kitchen to cook a stew. By the time I was done, the rain was beating against the windows
              loudly. I checked around the house. Everything was dry and firm; there was no draft, everything correctly
              sealed. I re-hooked Princess&#39;s leash in the dining room, serving us food in two white ceramic balls
              with real cutlery; she saw rice in her food and ate with gusto. I refilled her bowl twice before she was
              full. I let Princess clean up while I checked on the immersion heater, letting out hot water into a large
              bath. She gave me a loud &quot;oh&quot; when she saw a tub; I stripped and lay inside, pulling her in my
              lap, her back resting on my chest. Princess moaned in pleasure, enjoying the hot water and my massage. I
              washed her hair twice, bringing out its natural shine; she almost had an orgasm when my hands squeezed her
              breast, fingers pinching her nipples.
            </p>

            <p>
              I kept Princes highly aroused till we got pruney; then, after showering us off and drying with fresh soft
              towels, I led her to the master bedroom. She almost purred, feeling a new soft mattress with high
              thread-count linen slide against her clean, smooth body, sending goosebumps over her skin. She lay with
              her chest on the bed, hugging a pillow, enjoying its smell while I watched her perfect butt admiring its
              shape. My cock got so hard I thought it would burst. Getting behind Princess, I started massaging it; she
              gave me a little smile. Spreading her butt cheeks apart, I watched her rosebud stretch and a perfect tight
              pussy open and close. I couldn&#39;t resist it, so I stuck my tongue licking from pussy to her asshole,
              hearing her moan. I was sure this was the first time she had anyone lick her asshole. Some days back, when
              we fucked I tried to insert a finger in her ass, and she clenched it hard in fear. Getting on my knees, I
              pulled her ass upwards, rubbing my cock over her too wet pussy, then just like I knew she liked it, I
              stuffed her full of cock. This was the first time we fucked doggy style; I quickly realized this was her
              favourite position. I could jackhammer my cock inside her like a quarterback on a prom night. Princess
              went nuts, moaning loud, giving out little screams muffled by the pillow she bit.
            </p>

            <p>
              Feeling something cold on her anus, she quickly looked back in surprise to see me pour anal lube on it.
              She tightened her sphincter, hiving me a pleading look. I just smacked her ass hard and continued to push
              my thumb inside. Every time her ass tightened, I would pull out my thumb strike her again, putting it back
              in. Soon, she let me finger-fuck her asshole, relaxing completely, finding the new feeling exciting. I
              could feel my ramming cock with my fingers inside her. Princess was about to cum when I pulled my cock,
              rubbed it with lubricant and pressed against her asshole. She felt something monstrously huge invading her
              ass and tightened again, so I kept slapping her until the message got through. I heard her sigh after
              feeling the bulbous head of my cock passed her sphincter, reflexively tightening her asshole. I kept
              pushing slowly, giving her now-red butt another slap whenever she clinched again. I bottomed out then,
              reaching around her, rubbed her clit, starting to gently pump in and out. Slowly her arousal grew, fear
              dissipating as she realized that I wasn&#39;t ripping her guts to shreds. It felt kind of hot to be
              impaled like that, with my cock pressing on some new nerves, arousing parts of her body she didn&#39;t
              know existed before. I stopped playing with her clit. She was getting aroused from my rapid violation of
              her asshole. I pulled my cock almost all the way out, then jackhammered it back in with brutal force,
              holding onto her hips. Princes felt more impaled than ever. She felt something deep brewing, growing
              inside her. I saw she was about to pop, so I pulled on her leash, bringing her collar up, arching her back
              and rammed her asshole with all the speed and power I could muster. Princess gargled, moaned, growled,
              then her whole body tensed so hard her pussy exploded in a squirt so strong, it blasted all over the
              floor, soaking half of the bed in her juices. Even with my strength, it was hard keeping her still enough
              to continue my pumping.
            </p>

            <p>
              I was a man possessed, feeling my own orgasm approaching. I rammed my cock into her asshole like a
              jackhammer, my skin turning dark red, veins popping out in an effort, and I blasted with such power I
              thought my cock would rip off from pressure. My sperm erupted, flooding her intestines with a vast volume
              of sperm. My man-juice, filling her virgin asshole for the first time. Princess&#39;s orgasm seemed
              unending. She passed out, but her body kept having little tremors with occasional bounces as if a needle
              pricked her. I fell to my side, spooning her, my cock firmly embedded in her asshole and fell asleep.
            </p>

            <p>
              I woke up the next morning with the beautiful feeling of a warm mouth sucking on my cock. I opened my eyes
              just to see Princess smiling at me, sucking greedily on my engorged organ. She showed no inclination to
              stop, so I let her suck, admiring her sensual lips going up and down my shaft. It didn&#39;t take long for
              me to cum, feeding her greedy little mouth with farm-fresh seed. Getting down from the bed, I noticed
              Princess&#39;s doggie-cot on the floor. Apparently, she woke up after her massive orgasm, finding me
              asleep on my back, my cock popping out of her asshole. She quietly got up, sucked my cock to clean it,
              then unhooked her leash, went to the living room where she took her cot and brought it back, re-hooking
              her leash to the wall, then lay to sleep leaving the bed for me. After last night&#39;s hot bath with
              Princess, I was super horny. I just wanted to fuck, then fell asleep after emptying my balls inside her
              forgetting to put her in her bed. &quot;Smart girl&quot;, I thought as I path her head, which she
              automatically pushed against me for more contact.
            </p>

            <p>
              I led her to the bathroom, where we had an ice-cold shower together; it was a good and healthy start to
              the day. I checked the electricity; the batteries were full power. My wind power generator was making much
              more than I needed. The solar panels worked well. Jack was dry and doing fine, munching on grass. I
              brushed him, treating him to an apple. That done, I sat in a car, attaching now empty trailer and drove
              off. It took me four hours to drive fifty-eight miles to the closest road then another hour to reach the
              nearest town. I went straight to the supermarket, giving the clerk a long list of things I needed,
              promising to be back in a couple of hours. I proceeded with raiding the other stores, from building
              materials to appliances. Most were happy to serve me immediately. To those that needed time, I promised I
              was going to return shortly. The shopping took me just over three hours, during which I spent twenty-one
              thousand dollars, filling up hummer and the trailer to the brim.
            </p>

            <p>
              I pulled in late at night and went straight home carrying a large pack of groceries. Princess waited for
              me, kneeling naked in her doggy cot, her leash attached to the wall as always. I took her leash, leading
              her to the kitchen, noticing how the whole house was clean, spotless. There was no dust settling from the
              build. I rubbed the tabletop with my finger examining there was no dust, then smiled at Princess and pat
              her head. She closed her eyes, rubbing her face against my palm. I took out a pear and gave it to her,
              immediately there was a big smile on her face. She washed it in a sink then bit into it with gusto. I saw
              the half-eaten pot of stew on a stove, so I lit a fire and let it heat up. I did buy a microwave, but I
              didn&#39;t feel like rummaging through overpacked trailer this late at night. Princess unpacked the
              groceries, putting fruit in bowls, storing it on shelves in the pantry then served me a bowl of potato
              stew she made earlier. After the food, I washed the dishes taking Princess to the bathroom. We took a hot
              shower, cleaning each other as usual, before taking her to the bedroom. She jumped on the bed, kneeling
              and spreading her legs, resting her upper body against the mattress while pulling her ass cheeks apart
              with her hands, inviting me to her holes. I was hard in seconds; without much warning, I stuck my cock in
              her already wet pussy, pounding her like a man possessed to her first orgasm. I pulled out, spreading
              lubricant on my cock and her asshole then I pushed in. This time there was no resistance; she learned her
              lesson and relaxed her asshole to let me skewer her to the hilt in a single stroke. I kept pumping her
              tight gripping hole while she cried into the pillow, moaning loudly, pushing back. It was only when I
              pulled her leash, choking her, that her orgasm started ticking over. I fucked her asshole with rough,
              violent strokes, pulling mercilessly on her leash, bending her spine, choking her. At one moment, I felt
              her core muscles contract briefly; I was starting to recognize her tells. I pulled on her hips, fucking
              her as hard as I could, trying to make myself cum fast. A few seconds later, she screamed so loud I
              thought windows would burst; her whole body seized as I fucked her in abandon. A few seconds later, she
              became a blur of screaming, shaking and flapping. At that moment, my orgasm hit, my cock erupting into her
              quivering bowels, adding the sensation of hot sperm to her still peaking orgasm. I held her like that for
              some ten minutes till my balls emptied; she was still shaking and slobbering. I looked at her and realized
              she passed out again, so I lowered her spasming body onto the bed and, just like the last night, spooned
              her with my cock inside her asshole and fell asleep.
            </p>

            <p>
              Another day, another blowjob. I woke up late with my cock deep in Princess&#39;s throat. I had a quick
              look, and she pulled the same trick as last night; her doggie cot was next to the bed. I smiled at her,
              and she smiled back, then continued sucking in earnest. I watched her do it for a while, letting my orgasm
              build up slowly then I blasted her mouth full of cum. She swallowed urgently, showing my cock deep into
              her throat, allowing me to spray fresh cum straight into her stomach without missing a drop. Her throat
              muscles massaged my cock as she swallowed, turning it into the most intense blowjob of my life. I had no
              clue where she learned to do this, but it was some next-level stuff; I made a mental note to find out
              someday. I lay there for ten more minutes trying to gather my thoughts after an incredible orgasm. I
              pulled her chain, and she came up to me. Rolling on top of her, I kissed her gently for another ten
              minutes before taking another ice-cold shower. She knew what to expect and didn&#39;t even flinch as I
              washed us in cold water.
            </p>

            <p>
              That was a long day for me, having to unload and store all the things I bought. I started with Jack,
              adding grains and supplements to his feed, keeping all the large bags of it for the winter. After I
              brushed him, I fed him some carrots, and he loved them. I hung a brand new saddle on the wall of the
              lean-to, next to a bunch of other farm stuff I&#39;ll need. It took me a couple of hours to unload all the
              tools, food and seeds from the car onto the dining room floor. It was a huge pile. After an hour of that,
              I saw Princess, sorting through it, carrying it into the pantry. I rolled six new large propane gas tanks,
              enough for six months of cooking, just in case. Then I started to bring in the heavy stuff; a washer,
              drier and two enormous deep freezers. I brought a massive fridge and a comfortable leather recliner sofa.
            </p>

            <p>
              A flat-packed desk, bookshelf and office chair already waited for assembly from my last load. To that, I
              added a bunch of electrical stuff, weapons, ammunition and left it there for later. The rest was tons of
              building materials and some exercise equipment, which stayed inside the trailer for later. I bought a lot
              of frozen food left in a thermal container, so it was still solid when I transferred it into one of the
              freezers. Chiselling out a pound of minced meat, I mixed it with a Mexican chilly-sauce. At the same time,
              Princess organized everything inside the pantry. After she finished, I sat her at the table and fed her a
              bowl of &quot;chilly con carne&quot; with cheese nachos, a bit of a break from the hunter&#39;s diet. It
              took me till the end of the day to connect and wire up all the appliances, checking power consumption with
              everything on; there was plenty of electricity left over.
            </p>

            <p>
              Sunny days have returned, so I used that time for hunting and working on the house. I cut out a sizable
              area of land in front of the house, removing a turf layer, leaving just the dirt, which I levelled and
              poured many bags of gravel on, stomping it into a solid surface. This allowed me smooth access to all that
              I needed without getting knee-deep in mud after the rains start. I extended the backside of the lean-to
              for storing wood. Collected all the horse shit, mixing it with compost, spreading it all over the other
              side where I planned to plant a small orchard in the spring. As a result of clearing out more land, I
              ended up with many more bales of hay. I selected a good patch of land, dug holes, sticking poles in it,
              nailing wooden planks, building a corral for Jack so he can move about freely. Every couple of days, I
              would go hunting. In a couple of weeks, both massive freezers were quite full of meat, much more enough
              than we needed for the winter. The pantry was full of potato, dried beans, bags of flour, hundreds of cans
              of food and loads of dried fruit. Princess and I fell into a routine; she would wake me up with a blowjob
              every morning. Some days I would fuck her in the morning; I just fed her my sperm on others. Every evening
              I would fuck her for two hours; she would usually pass out from the intensity of her orgasms. I installed
              radiators in all the rooms, cleverly pushing the heating unit into a fireplace so I could heat water using
              fire and a pump to circulate water around. In a spare room, I installed a cross-trainer and other gym
              equipment where Princess exercised two hours a day. I wanted her fit, limber and sexy; she understood what
              her life was.
            </p>

            <p>
              On one of my hunting trips, I came across a ripped apart grey wolf. I saw it was a female looking at the
              carcass. Her nipples were extended, which meant she probably attacked a bear protecting her young. I
              looked around for an hour before I found them hidden in an old log. It was a litter of five. Only two were
              alive, their eyes still closed. I wrapped them in my scarf and rode home, bringing them inside, creating a
              makeshift nipple from a kitchen glove filled with full fat long-life milk. They were starving and
              ravenous; with an appetite like that, I was sure they were going to be fine; I named them Geri and Freki.
            </p>

            <p>
              The weather started to worsen; I completed the lean-to extension, turning it into a makeshift barn for
              Jack. I would have to tear it down in the spring and build a large barn that can hold many hay bales, all
              the tools and use it as winter storage for a car and a trailer, with leftover material. I built a smoking
              shed and spent days hunting turkey and deer, smoking and curing the meat, and hanging it in the attic. I
              bought a large electric bread maker and enough flour and ingredients to last a year. We were set for food.
              The rains came in again, so I focused on finishing the corral fence and training Jack. Over the past
              months, we&#39;ve become great friends.
            </p>

            <p>
              The shows fell, covering the land, the temperatures dropped. It was the first real test of the house, and
              it passed with flying colours. The insulation worked like a charm; the radiators worked; it was nice and
              cosy inside. I checked the solar panels&#39; voltage; they were dead as expected; the batteries were full,
              the wind power generator worked well. I checked on Jack, fed him, took him on a little ride; he enjoyed
              that.
            </p>

            <p>
              There was very little left to do in the winter. We weren&#39;t quite snowed in, with just a few inches
              covering the ground. Still, all the demanding activities were suspended till spring. I spent my time
              reading or making plans for the spring while Princess kneeled between my legs, resting her head on my
              crotch so I could pet her; she loved that. It&#39;s been months since we came to Montana, and I was yet to
              say a word to her. In the beginning, she tried to communicate many times, but as time passed, she got used
              to our quiet existence. There was nothing to be said. I knew it bothered her to be naked initially, but
              now she ultimately got used to it; it was how she lived. I thought if she somehow returned to the city
              again, she&#39;d have trouble getting used to clothes.
            </p>

            <p>
              I cut round holes in the ceiling, mounting white speakers in them all over the house. I connected them to
              a Bluetooth amplifier then used my phone as a music player to play soft background to my solitary
              existence. I hand-fed little wolfs until they could eat meat, and now they were running around, playing
              with each other. I started training them since they could walk. Wolves are notoriously hard to keep, but
              their sense of smell several times surpasses dogs. They are wild, undomesticated animals, well-suited to
              life in the wilderness.
            </p>

            <p>
              Princess got used to her life too. She was always leashed and chained. She stopped thinking about it; it
              was just how her life was. Every morning she would wake me up at dawn with a nice deep throating blowjob.
              She slept on a soft dog-cot next to my bed. She would slip back there every night after fucking. Sometimes
              I would fall asleep on top of her; she couldn&#39;t move away. With little more to do at home but read and
              plan, living in a house with an insanely hot girl resulted in a lot of sex. I would fuck Princess at least
              six times a day. Her pussy was sore, my cock was chaffed; I just couldn&#39;t get enough of her, and she
              didn&#39;t seem to mind. She&#39;d have dozens of orgasms every day; having a gym at home proved to be
              useless as we fucked too much, we didn&#39;t need more exercise. I noticed she had the strongest orgasms
              when I was the most brutal with her. For some reason, pulling her hair, choking her, slapping her ass or
              tits, pulling hard on her nipples would always result in a jaw-dropping orgasm. If anything, her orgasms
              were getting stronger. If I was a psychologist, I&#39;d probably get curious, but all of this worked just
              fine for me. I didn&#39;t want to shovel the shit; we are all a bit cuckoo. There is no point in digging
              through that pile of manure like they tried to do with me when I got back home. I was told I&#39;ve got
              PTSD, that I needed to talk about it, take therapy; fuck them! I cashed in my pension, rented out the two
              properties I inherited from my mother and father, I took all the cash I saved from the service and fucked
              off with a woman I liked. It turned out she was a nymphomaniac with a penchant for rough sex. God bless
              her; I certainly wasn&#39;t complaining about that.
            </p>

            <p>
              The winter got colder, a foot of snow covered the land. I always slept sound. After spending so many years
              in the military, deployed to some of the most dangerous places on the planet, I developed something like a
              sixth sense of danger. I woke up in the middle of the night at the start, sensing danger. I couldn&#39;t
              hear anything, but I jumped out of bed, waking Princes in the process; she looked scared. I quickly
              checked in the barn; everything was ok then made my way up to the attic, opened the window, and felt
              bitter cold enveloping my nakedness and listening. I heard howling in the distance, &quot;the
              wolves&quot;, they were hunting something. If they fail, they might come here, so I had to discourage
              them. I put my sniper rifle on a tripod. I looked through the night vision thermal sight, immediately
              counting six wolves, hunting some horses in the snow. &quot;Bang, bang, bang&quot;, six bullets, six dead
              wolves, less than a mile away. I did one more sweep, checking the other side of the house as well, then
              got down from the attic. I couldn&#39;t sleep after that, the shooting brought back memories, so I sat in
              the dining room. Princess made me some coffee, placing the mug on the table in front of me, then gave me
              space. She could see from my mood that I wasn&#39;t right; she quietly let me be.
            </p>

            <p>
              I drank coffee, staring at the wall for about an hour, the memories of the things I&#39;ve done flying
              before my eyes. The violence and inhumanity of it often gave me nightmares. Some days ended with a pistol
              in my mouth, too much of a pussy to pull the trigger. I used to drink a lot. They gave me psychoactive
              drugs to dull my senses even further, bring me back into the land of what they say was &quot;normal&quot;.
              You don&#39;t kill hundreds of people, see their heads explode, brains splattering all over their
              screaming families and call it normal. You don&#39;t walk through a field of corpses, blood and guts and
              call it an adventure. There is no coming back from certain things. There is no pill you can take to make
              it normal. I finished my coffee, switched off the light and went back to bed.
            </p>

            <p>
              I woke up the next morning with Princess wrapped around me. I must have had another one of my night
              terrors, screaming without realizing it. She saw my distress and wrapped herself around me to give me some
              comfort. I saw the worry in her eyes when I woke up. I smiled at her, then kissed her gently,
              reassuringly, then lead her to the shower like we did every day.
            </p>

            <p>
              I heard Jack&#39;s whining when I got out. Looking around, I spotted a solitary brown mare a few hundred
              yards away, eyeing me suspiciously. Walking through the snow, I pulled Jack out and fed him an apple,
              leading him to the fence, showing him to the other horse as I gave him carrots then walked away. Twenty
              minutes later, the mare came over, rubbing noses with Jack. I approached them slowly, with a bunch of
              carrots in my hands, she was timid but starving, so I fed Jack then her. She allowed me to touch her, and
              I fed her an apple in reward. It took me a couple of hours to gain her trust enough to lead her through
              the fence into a barn where I left her next to Jack and a fresh bale of hay, grains and water. Over the
              next two weeks, three more horses showed up, ending up in the barn. I thanked my paranoia, if not
              foresight, that made me overstock on hay and grains. I had enough food to take the horses through the
              winter.
            </p>

            <p>
              It took me a while to gain horses&#39; full trust, especially when I brought wolf puppies to socialize
              them with horses. Eventually, it all worked itself out. I didn&#39;t know what to do with so many horses,
              but I kind of enjoyed having them around, so I thought I&#39;ll keep them, coral more land and have a
              small ranch for fun. I&#39;ll get myself some chicken and a couple of cows for eggs and fresh milk and a
              couple of cats to keep rodents away in the spring. The snow kept falling; there were four feet of it
              already. I dug a trench through the snow between the house and the barn to take care of the horses, Geri
              and Freki running after me all the time.
            </p>

            <p>
              There were no more visits by wolves or horses. I&#39;ve seen a few moose passing by in search of food. I
              took a bale of hay and left it on the snow a few hundred yards from the house if they came back. Life at
              home went back to the usual routine. In the evenings before sleep, Princess would put the flour, yeast and
              butter into a bread maker setting the timer, so we had fresh warm bread with coffee and jam. We already
              ate all the eggs I brought from the town, leaving us with venison sausages for breakfast, which was a
              little heavy for early morning. Our diet was meat-rich with two freezers full of game, the attic riddled
              with hanging cured meat and smoked sausages. Just like with horses, I went overboard. The way we ate, we
              had enough food to last us a year.
            </p>

            <p>
              With so much sex, our libido grew, and we fucked more. Princess would spend all her free time wrapped
              around me. She discovered that I don&#39;t mind when she sits in my lap while I read, so she clung to me
              like a limpet mine every day. One night after an intense, three hours long session of fucking, we both
              collapsed on the bed. I closed my eyes about to sleep when I felt her go down on me, suck my cock to clean
              it off her juices, then come up, kiss my forehead and whisper in my ears, &quot;I love you&quot;.
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Greg-Rumpel-Stiltskin-ebook/dp/B0B298962T'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3y7XejC'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Greg?id=8TNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>

              <a href='/books/montana/preview/chapter-2-personal-power' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 2 - Personal power >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
  
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
