---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Montana | Chapter 4 - Our daily bread'
  description='Montana novel by Rumpel Stiltskin'
  image='/images/montana.jpg'
>  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/montana3.jpg' /> -->
          <p class='emp grey'>MONTANA</p>
          <h1>Chapter 4 - Our daily bread</h1>
          <div class='biggest'>
            <p>
              Since the day they moved into the house, the man somewhat changed. He started looking at her differently
              as if he studied her, analyzing her with some sort of hunger. Sally herself was curious too, she didn’t
              know anything about the man. There they were already several months have passed, and she didn’t even know
              his name.
            </p>

            <p>
              There was so much that she noticed about the man. He was really good with animals. Horses came up to him
              every time he went into the barn; the little wolves worshipped him. One time they attacked him,
              challenging him for dominance. He grabbed them by the skin of their necks and smacked their heads together
              hard. They squealed and howled in pain, cowering from him. From that day, they followed him all the time.
              Animals weren’t the only thing the man was good with; he knew how to use the tools, and after that cold
              night, she realized the man was a virtuoso with a gun.
            </p>

            <p>
              Sally always wondered what happened to the man. Why did he decide to live in the middle of nowhere, why
              did he take her, choose her, and what were those scars on his back. His eyes were still horrifying, but
              somehow they got softer after moving into the house; sometimes, they almost looked sad.
            </p>

            <p>
              One day when the man was out, digging a path through the snow, Sally decided to finally unpack the man’s
              study as a surprise, to prove to him she was more than a wet pussy to fuck. She worked hard, unpacking the
              old cardboard boxes putting everything on shelves in an orderly fashion when she came across a small
              wooden box. Trying to figure out what it was, she opened it and found a framed medal on top of a heap of
              old photographs. Sally examined the frame below the medal, printed on a background in bold golden letters
              was “Carter Reed” immediately below following “for extraordinary heroism in combat”.
            </p>

            <p>
              “Carter Reed”, said Sally almost in a whisper as if she was afraid that saying his name would summon him
              somehow. “Carter Reed, Carter Reed”, she kept repeating, feeling a sense of satisfaction grow. “I know his
              name”, she clapped her hands, hugging the frame to her chest. It was like Christmas, Easter and birthday
              all wrapped into one “Carter Reed, his name is Carter Reed”, it was a great discovery.
            </p>

            <p>
              She put the medal in a prominent place on a shelf then went through everything through the box. She found
              a picture of the president awarding Carter his medal, shaking his hand. A news clipping titled “president
              awards Navy Cross to a veteran”. The rest of the box were pictures and a few more news clippings. On the
              bottom of the box rattled something metal; Sally pulled it out. It was a metal necklace with silver dog
              tags. She felt goosebumps rise on her arms. The dog tags were partially covered in dried blood. They read
              “Cox A. USMC” identification number, rank and blood type. She carefully placed them back in the box and
              went through the pictures. At the back of the photo were the date and location. Sally sorted them by date,
              noticing the names of the places; Sarajevo, Srebrenica, Kosovo, Baghdad, Kabul, Mosul, Kandahar and a
              dozen of other places she never heard of. Doing quick maths, she figured that Carter has been deployed
              from one place to another for over fifteen years straight, right in the thick of it. She turned the photos
              over, looking at them carefully, one by one. Each picture contained a group of people in uniforms,
              sometimes armed, other times not. Carter was in all of them. She compared the photos of Carter, noticing
              how he aged through time and that in most pictures, he had a sniper rifle with him “he was a sniper!” She
              exclaimed in surprise. She didn’t know much about the military, but she knew snipers were a special kind
              of men. They were cold-blooded killers. She remembered watching a documentary once about how even though
              the Geneva conventions protect snipers in case of capture. In practice, they were usually shot on the
              spot, as they were the most hated of all types of soldiers.
            </p>

            <p>
              Digging through his pictures, she found a single black and white photo of a girl in a military uniform.
              Sally looked closer and sighed in surprise. The girl was her; they could have been twin sisters. The face
              was just slightly similar, but the body, hair colour, everything else identical. She closed the wooden
              box, placing it on the shelf next to the medal, then dug deep through the rest of the cardboard box,
              finding all sorts of papers and documents. She read through them all; there was a letter informing him
              about his father&#39;s death, then a similar one about his mother. She found his medical records, the
              wounds on his body were from bullets and shrapnel from explosives. Then she got to his medical discharge
              papers. “Severe post-traumatic stress disorder, severe anxiety, auditory hallucinations, paranoid
              delusions”, the further Sally read, the worse it got. “Three attempted suicides, committed to a
              psychiatric institution, released with regular visits to a psychiatrist” followed by a whole lot of
              prescription medication.
            </p>

            <p>
              Sally couldn’t read anymore “he really is crazy”, she said, then burst into tears. The man wasn’t just
              some crazy sex maniac; he was a hero. Protecting his country cost him everything, his home, parents, his
              future, even the woman that he loved and finally, his sanity too. He had a plan, then it all fell apart.
              “For god’s sake, the president shook his hand. He was in the newspapers”. Sally couldn’t stop crying; she
              finally understood. All the pieces fit together. Carter was in love with A. Cox; they had a plan, then she
              died. Coming back home, he had nothing; a firm handshake, a pat on his back and a salute with “thank you
              for your service, soldier” and a piece of tin. Carter found the girl who looked like the one he lost and
              took her to a place like he planned. Every time he fucked Sally, he was fucking that other woman, the “A.
              Cox”.
            </p>

            <p>
              Sally cried her heart out, feeling so confused, so conflicted inside. She heard the doors open and heavy
              footsteps, then like a rocket, she ran to the living room to greet her master, like a good property
              should. After all, this is all that she was, a property, a replacement body to fuck in memory of someone
              dead.
            </p>

            <p>
              Since his talk with the little girls and their mothers, Dean found new energy, a new centre, a purpose.
              When he returned to work, he pulled out Sally’s file from the inactive heap and put it in his bag. “I will
              find you motherfucker, count on that”, he mumbled and went home. On the way there, he passed through
              Moni’s street, looking at her apartment&#39;s lights for a while before going home.
            </p>

            <p>
              Moni heard the engine start, looked out and saw the inspector leaving. She wondered why was he there again
              but glad that he was still working on the case. She turned around and sat back on the sofa. Since that
              fateful morning, Moni spent a lot of time with the followers of the Origin. Almost every morning, she
              would drive up to the beach for the welcoming ceremony. Every day at least one girl would come to visit
              and stay with her. Sometimes they would read the stories from the Origin. Other times, they would just
              talk. Despite her newfound strength, Moni was heartbroken. She knew deep down inside her; she will never
              lose hope, and she will never be able to love anyone else again.
            </p>

            <p>
              That night was special; they had a new guest or a Seeker as the group called someone interested in the
              Origin. It was the girl from upstairs. She was Moni’s age, a student at UCLA. A fiery redhead with an
              incredible stunning body introduced herself as Starla. She was a Californian girl from a place nearby
              called Riverside. Sally and Moni occasionally bumped into her, exchanging neighbourly pleasantries. Last
              time, however, remembering what girls taught her, Moni told her she’s got some girls coming over, and they
              would like to share with her a gift of Origin.
            </p>

            <p>
              Starla found this almost irresistible. She was a sucker for religions, cults, fortune telling, tarot, any
              kind of mysticism all her life. She wasn’t stupid; she knew most of it was mumbo-jumbo, but it made her
              feel good to read her daily horoscope “the purpose of life is to live it”, she would say to anyone who
              would listen.
            </p>

            <p>
              Moni opened the book and continued reading, starting a new chapter, “Sunrise for Electra”. Starla loved
              the reading; unlike most religious texts, the book was organized as stories of real people who had their
              lives changed by accepting the Origin. This particular story Starla found fascinating. It was about a
              young girl abused since childhood by a priest. When she fell pregnant, she drank and took drugs; everyone
              hated her, called her satan’s whore; nobody would listen to her pleas. She lost the child, and everyone
              called her a murderer. On her eighteenth birthday, her own parents threw her out of their house with no
              money or hope. Some strip club gave her work because she was gorgeous and redhead, just like Starla. On
              her first night, she met a group of girls who came to the club with their wealthy and powerful men. The
              girls took Electra out of the club, kidnapped her and brought her to the beach at dawn. All of them were
              followers of Origin.
            </p>

            <p>
              “And out of water rose an angel, the light of burning stars surrounding her. The sun shone through her and
              spread through those who gathered to welcome. But it was no mere angel, for she was Arla of the Dawn, the
              first voice of Origin. The light spread and touched Electra. It lifted her soul and filled her heart with
              radiance and music, a single tone, the vibration of the creation, the hum of the sun and the stars, the
              voice of Origin. She spoke to Electra, let go of your burden, for it was never yours to carry. Welcome the
              light into your heart. It is the gift of Origin. Blessed is the gift of light. Blessed is the gift of
              Origin”. Starla listened to the story with big eyes, her mouth agape. It was as if she could see and feel
              all that transpired. She listened with deep sincerity, feeling moved deep inside.
            </p>

            <p>
              Starla planned to stay just for a little because she had to go to work. She admitted to women that she was
              a stripper; they didn’t judge her. They were women themselves. Starla loved that the religion is for women
              only, no men allowed at all. She stayed the night, asking questions learning from the girls until they all
              fell asleep in bed and on sofas. Even though she lived just upstairs, Starla didn’t want to leave, lest
              she breaks the magic.
            </p>

            <p>
              Early morning, before the dawn, the girls woke Starla, then they sat in the cars and drove to the beach.
              In moonlit darkness, she noticed many groups of people standing in semicircles by the water, each group a
              few hundred yards apart. There must have been thousands of naked women on the beach; Starla felt
              goosebumps over her whole body. She accidentally stumbled on something big. The girls led Starla to one
              group, discarding their clothes in neat piles. They joined the semicircle watching the waves.
            </p>

            <p>
              One of the women spoke, “We give thanks to the Origin and welcome the gift of light”. The rest of the
              women chanted as one, “blessed is the gift of light. Blessed is the Origin”, then together they hummed a
              soothing tone. As the sun appeared, Starla’s whole body felt like needles and pins. She took a deep breath
              and just let go. Goosebumps spread all over her body. She felt like being lifted, lighter than the air.
              The rays of the rising sun bathed her supple body in warmth. She felt so much love surround her, no past
              or future, only this moment right now. Just like in the story of Electra, Starla’s tears rolled freely
              down her cheeks. With a heart full of love, she muttered, “blessed is the gift of love”, few girls who
              heard her responded, “blessed is the gift of Origin”.
            </p>

            <p>
              Ever since I took Sally into the house, I watched her carefully. She tried to please me in every way. The
              sex got more passionate if that was even possible; that girl was a dynamo, a sex machine, a complete whore
              in bed. She cooked more, made many little efforts to please me. I felt like she finally got on over the
              kidnapping situation and accepted her new life. To be honest, I expected it to take longer, always having
              a doubt in my mind that it would work at all. She followed the rules, leashing herself against the hooks
              on the walls. Over time, it got a bit silly as she was able to unleash herself. The first time she took
              the leash of the hook when she fell asleep next to my bed. I didn’t punish her because she did something
              to please me, and she’s been pleasing me since in more ways than one. The leash became more of a symbol, a
              constant reminder of who she is and where she belongs.
            </p>

            <p>
              I couldn’t even remember when I had a bad night’s sleep last time. Having a house in prairie and a woman
              to fuck, a horse, a hard labouring job kind of had a therapeutic effect. Every day I lay in bed. I fuck
              Sally for a few hours, then fall asleep. In the mornings, Sally would wake me up with a blowjob, then find
              a way to please me in some other way; who could complain about something like that.
            </p>

            <p>
              One afternoon I took Sally to the kitchen table and sat her on the chair. She looked at me curiously as I
              gently touched her shoulder. I opened a medicine bag and pulled out a bottle of rubbing alcohol and a
              spray. First, I sprayed a small area of her shoulder waited for ten minutes; then, using gauze and
              alcohol, I sanitized it properly. I pulled out a sealed razor from the first aid kit, removing the
              protection and slotting it into a plastic holder. I saw Sally flinch in panic as I locked her arm between
              my knees and came close with a razor blade. “What are you doing?” She asked me in panic. I just raised a
              finger and gently pushed her chin away, so she doesn’t see.
            </p>

            <p>
              I saw her leg shake. It was a tell that she was extremely nervous. I made a small incision, cutting her
              skin; she didn’t even feel it. The topical anaesthetic worked well. Blood ran down her arm, and she felt
              that, though. Unable to look away anymore, she turned her head, her eyes tearing up with a pleading look.
              With gauze, I cleaned some blood away then took tweezers, sterilizing them with alcohol. I dug around the
              wound, finally finding what I was looking for. Gently pulling out a small metallic strip and placed it on
              the table. It was like a lightbulb went in Sally’s head, her fear turning to panic in a second. I cleaned
              her cut with alcohol, sealing it with surgical glue, putting a plaster on top. I gave her an ibuprofen
              pill, she drank it with a glass of water as I packed everything away.
            </p>

            <p>
              Returning back, Sally followed me with frightened eyes. I gently stroke her face with my hand then leaned
              in to kiss her. She jumped up, wrapping her arms around my neck, her body shivering against mine. I could
              tell she was terrified. I carried her like that to the bedroom and gently laid her on top of clean sheets.
              No foreplay needed; with so much fucking every day, her pussy was sopping wet all the time.
            </p>

            <p>
              I got on top of her, her legs wrapped around my body, my cock rubbing against her steamy pussy as I kissed
              her. I loved Sally’s breast. I always played with them. They were large but firm, not the slightest sag to
              be seen anywhere. Sometimes I would sit in a chair with Sally in my arms and just play with her big boobs,
              squeeze them, pinch them, tease her for hours. I didn’t mean to torture her; I just loved her massive
              tits. Now that we kissed, I’d massage her breast as she moaned in my mouth in response. There is a reason
              people call them “fun bags” they were so much fun to kneed.
            </p>

            <p>
              I tried to take it slow, but Sally was on fire. The added sense of danger and the fear turned her on more
              than usual. I placed my cock against her ready, wet pussy lips and, in one powerful stroke, pushed all the
              way inside, resting my cock head against her cervix. She gave out a loud sigh, sinking her sharp nails
              into my back as I kept fucking her hard. It took only minutes for Sally to cum. What I did back there
              scared her to the core but turned her on beyond belief. Just after she came down from her first orgasm,
              the next one kicked off hard. She moaned, squealed and growled, panting like a dog gasping for air. Unlike
              how we usually fuck, there was no brutality that I knew she liked, but there was a purpose.
            </p>

            <p>
              I fucked her hard, with forceful, full-length strokes, pulling my cock slowly almost all the way out then
              slamming it back into her body, ramming her cervix with its head. Sally kept cumming like a machine gun
              while I held for as long as I could. In one moment, I felt my own need boil. Increasing the tempo, I
              jackhammered her, sopping pussy as hard as I could, squeezing her beautiful tits in the process, using
              them as leverage as I fucked her. My balls tightened, cock twitched uncontrollably; a powerful spray of
              hot cum erupted right at her cervix, pushing high-pressure sperm through her tiny hole, forcing it
              straight into her womb. That feeling sent Sally over; she screamed hard, her nails digging inside me,
              drawing blood.
            </p>

            <p>
              Sally came and came and came, moaning, meowing like a cat in heat. I kept my cock deep inside her even
              long after the twitching ended. When she came down from her high, Sally hugged me again with fear in her
              eyes, kissing me as hard as she could. We just stayed there connected for a while.
            </p>

            <p>
              This was the first time I bred Sally. Of course, after removing a long-term contraceptive implant, it
              would take some time to clear the hormones out to get her standard period cycle, ovulate, get bred and
              pregnant. This was more of a symbolic act. Sally was petrified beyond belief, but she didn’t dare to say
              or do anything. She knew exactly what I was doing to her. I was breeding her, I was making her pregnant,
              and she had no choice or say in this. She was my property, with a collar and a leash. I owned her.
            </p>

            <p>
              In some way, this was the most violent thing I did to Sally but strangely also the most erotic one. She
              knew now that every time I had sex with her, I bred her, and with the copious amount of sperm I filled her
              with, sooner or later, she’ll catch it and get pregnant. This situation bizarrely turned her on like
              crazy. Whilst before, Sally used to fuck because she loved to cum, the added sense of danger made her fuck
              like insane. She would get those massive orgasms much more often, and she would scream. I knew nothing
              about psychology, but I noticed how Sally gets turned on by violence, the sheer dominance. The rougher I
              would fuck her, the harder she came. Now that I was trying to knock her up, something shifted in her head,
              sending her libido sky high. Every time I fucked her, there was fear in her eyes but not just fear, the
              unbridled lust as well. She feared what I was doing to her. Clearly, she didn’t want to get pregnant, but
              at the same time, it turned her on so much.
            </p>

            <p>
              I thought it was the fact she had no choice in the matter. I expected Sally to rebel against the leash at
              some time, but surprisingly she never did. She would always leash herself in the room before going on with
              whatever she was doing. She never tested my authority, not even once, always accepting whatever I decided
              to do with her. Even the first time I fucked her ass, she was terrified yet put up only token resistance.
              Every time I pulled on her leash or her hair when I fucked her, she would cum in minutes. It didn’t take a
              genius to figure out that she liked it. In some way, Sally was as damaged as me or at least, somehow, she
              developed the preference for hard, rough, even violent sex. She was naturally submissive, and it turned
              her on, a shocking outcome from the outspoken lesbian feminist. I hunted a wildcat and caught a horny
              bunny instead.
            </p>

            <p>
              After the first welcoming ceremony, Starla and Moni formed an unlikely friendship. Both were, in their own
              way, “damaged” by the events of their young lives, but they found solace in each other’s company and the
              Origin. Starla would often wake up after work and come down a flight of stairs to knock on Moni’s door and
              keep her company. They sat and mainly talked about Starla and the Origin. Starla loved her parents, but
              she hated the emotional and psychological abuse they caused to each other. Her parents were clearly not a
              good match for each other. Still, they were forced together after a fling turned into pregnancy, resulting
              in a shotgun wedding. There was nothing between Starla’s parents apart from duty and the unbreakable bond
              of religious marriage. They often quietly argued but constantly exhibited passive-aggressive behaviour
              towards each other. Their families didn’t help the situation either. They were two equally stubborn
              families joined together by a feud. When Starla turned fifteen, her parents decided to move away from
              their toxic families and reconcile their differences. Despite being forced together, having little in
              common, the fifteen years of marriage and raising their daughter changed them. Over time, the love came
              around. If not mutual love for each other, then certainly love for their daughter and that united them.
              Their families didn’t help. They were the ones who forced them together and kept pulling them apart ever
              since. Before Starla was to join the high school, her parents decided to move from rural Wyoming to
              California. It was probably that move that saved their marriage.
            </p>

            <p>
              Starla loved her parents very much. She knew what sacrifices they had to make to give her a better life.
              The move from Wyoming was hard for Starla. She had to leave everyone she knew, family and friends, and
              make new ones in Gomorrah, the land of ungodly. As soon as she joined the high school, the boys kept
              hitting on her hard. All they wanted to do is fuck, fuck fuck with no end. After she managed to convince
              them that they’re not getting any, the boys turned nasty. They called her “farm fresh, Daisy Duke” and
              many other names. They kept bullying her for not giving it up, serving her pussy on a plate. They bullied
              her so much, they broke her faith in God. She would come back home crying every day and prayed until it
              was clear the God wasn’t listening, then she stopped.
            </p>

            <p>
              Starla’s tears dried up, eventually turning into a steel resolve. She stopped caring about what stupid
              boys were saying. She focused on her studies, wanting to have an education. Something she was good at,
              something that she could use to have a good life, help her family and one day, she will meet a good man
              who will love her for who she is, not how her pussy feels. Her parents weren’t rich enough to send her to
              university, so Starla hatched a plan to use her looks and horny men to pay for her education. Without any
              friends, Starla studied hard to get the best high school grades, with a singular mission to get accepted
              into either UCLA or UCSD, close enough to visit her family every week and far enough from her family work
              as a stripper. Starla parents were incredibly proud of her when she got a scholarship offer to both
              schools. Starla chose UCLA because it was a bigger city, easier to not get noticed and more potential
              jobs. As soon as she turned eighteen, she sat in a car and went to the strip clubs she researched. All
              were very happy to take her on because she looked stunning. Starla chose the fanciest looking one and
              worked a few weekends, sleeping in a cheap motel overnight. With some money from her parents and the money
              earned by stripping, she put up a rental deposit on a nice small apartment in Hollywood hills, working
              hard all summer to save enough money for the university.
            </p>

            <p>
              Starla felt so emotionally closed off for years. From all the bullying and mistrust, she even had no
              friends. All of that changed the night when Moni invited her home. Slowly over the weeks, their friendship
              grew, until the point when Starla realized that she’s got a real friend, a good friend, her first and only
              friend. After that, Starla kept inviting herself to Moni’s place. It was almost as if she lived there.
              Moni certainly didn’t mind the company. It distracted her from gloomy thoughts. Moni felt so sad that
              Starla lay in bed with her on some nights, hugging her crying friend. On those days, Starla would skip her
              work. Moni was much more important than some stupid job, especially the one involving old men slobbering
              over her young body. Her friendship was worth more than that.
            </p>

            <p>
              Six weeks passed since Sally’s last period. She didn’t know if this was normal after the removal of the
              birth control implant. She used to have regular periods, but now she had only one. Carter fucked her every
              chance he’s got, and she loved every minute of it. Sally knew he was breeding her, and it was a scary
              thought, but it also turned her on so much.
            </p>

            <p>
              One day after a long morning fuck and breakfast, Carter pulled her by the leash into a spare room and
              started to dress her up. “What is he doing?” Sally wondered, seeing him put on thick socks on her. Soon
              after, he put on thick thermal cameo trousers, a woollen scarf, a parka and winter gloves. Quickly
              dressing himself up in a similar fashion, he took a bag and lead her outside the house. Sally was in a
              panic; she hasn’t been outside in months, the house was her domain. The world was white and really cold,
              but she noticed that the snow wasn’t as tall. A lot of it melted away. He led her to the sables, and for
              the first time, Sally saw the horses so close. Carter took off her glove and put an apple in her hand,
              then brought it to a white horse’s mouth, and it ate. Sally yelped a little, having never touched a horse
              before. The man took off her other glove, and using her hand, he gently stroke the horse&#39;s neck. Sally
              was amazed at the feeling of touching the powerful beast; it was indescribable, so very different from a
              dog or a cat. The man gave her a small bag of apples, other horses pushing through to get a taste. She
              carefully fed them one after another, touching their necks feeling their breath on her face. She saw
              Carter watching her from afar with a small smile.
            </p>

            <p>
              All too soon, it was all over. Carter pulled a black stallion and Sally outside by their leashes, then
              effortlessly got into a saddle, like it was the most natural thing to do. Sally yelped when she felt
              Carter grab her belt with his left hand and lift her up above the horse, sitting her gently in front of
              him. Sally was in a panic. Carter kept his powerful arm around her waist. She gripped it with all her
              might, yelping again as the horse started to move. It took her some ten minutes to get used to the
              movement and relax a bit. She began to enjoy herself and looked around at the white vastness of the land,
              the tall white mountains far in the distance. The horse increased the speed, and Sally started to truly
              enjoy herself. At one time, she yelled “woo-hoo”, spreading her arms. It was the feeling of nature and
              freedom, unlike any she’s ever experienced before. There she was on a horse, riding away from the farm
              into white nothingness. It beckoned, releasing something primal inside her.
            </p>

            <p>
              Sally didn’t notice the time passing by. She was in the zone, connected with nature and raw land, no
              humans. It was just her, Carter and the horse closely followed by Geri and Freki. They grew so huge in the
              last few months, both easily weighed a hundred pounds. The wolves were scary looking animals. Their wild
              eyes and sharp teeth chilled her bones sometimes. When around Carter, they were like puppies, following
              their leader but, left alone, they were dangerous predators. Their howls would make her shudder. There was
              no mistake; the two wolfs were dangerous wild animals.
            </p>

            <p>
              Sally noticed the forest in the distance, curiously watching the approach. The snow was thin under the
              trees where Carter stopped the horse, lowering Sally to the ground the same way. He dismounted and tied
              the horse, then gave a brush to Sally, showing her how to clean the horse while he fed it. Geri and Freki
              disappeared in the forest, hunting for small animals. Carter took Sally’s hand and led her towards the
              frozen lake. “Omg! He’s not pulling my leash”, Sally immediately noticed, feeling almost weird to be led
              by the hand, so used was she to the leash by now. The lake was completely frozen with a thick layer of ice
              on top. Digging in his oversized bag, Carter pulled out two pairs of skates, giving the smaller one to
              Sally, who looked at him like seeing a god. Sally was a good skater. She loved it, just never thought of
              it lately. Quickly she took off the heavy boots, replacing them with the skates, meeting Carter on the
              ice.
            </p>

            <p>
              For the first time, Sally found something she could do better than Carter. He was a good skater, but she
              was a virtuoso. When she was little, Sally wanted to be like those incredible figure skaters with perfect
              timing and grace. She held Carter’s hand, and they skated around the lake. Recognizing her skill, Carter
              let her do pirouettes, little jumps and twirls. Sally noticed a look on his face. It looked like pride.
              They skated for a couple of hours until she got pretty tired, then Carter led her back to where they left
              the bag. They changed back to their boots, then carter dug deep with his back turned to Sally.
            </p>

            <p>
              When he turned around, in his hand, he had a muffin with a tiny burning candle, “Happy Birthday Sally”.
              She watched him in awe, the flood of emotions bubbling up, her eyes tearing up instantly. “He spoke to me!
              He spoke to me like a human!” Sally couldn’t believe it, all those things, the clothes, the horse ride and
              ice skating, it was her birthday gift. He even baked a muffin for her in secret. This day was the best,
              most thoughtful gift she ever received. She came close and said, “I wish we could speak with each other”,
              then she blew up the candle. “I wish he could speak too”. Hearing that, she burst into tears, hugged
              Carter, kissing him, her tears pouring like two little rivers.
            </p>

            <p>
              Carter placed a thickly folded blanket on ice, sat on it with Sally in his lap, and they shared the
              muffin, kissing each other. Through tears, Sally said, giggling, “how did you find blueberries in winter”
              not really expecting a response. “I froze them for your birthday”. Sally looked at Carter and burst into
              tears, thinking, “I got my wish”. At length, Carter got up, letting Sally sit on the blanket, and pulled
              the bag deeper to the lake. He drilled a small hole, sawed it bigger, finally assembling a fishing rod, he
              dropped the bait. Sally came closer, so he sat her on a blanket next to the hole, giving her the rod. It
              didn’t take long for Sally to yelp as she felt a firm bite and a pull. Getting behind her, Carter showed
              her how to push and pull the fish, bringing it closer. Taking off his glove, he pulled a large trout,
              killed it and gutted it right there on the ice, using its entrails for another bait. By her fourth trout,
              Sally was able to pull it out on her own.
            </p>

            <p>
              Carter stood up, lifting Sally, packing everything up. Slowly he led her back to the horse. On their way
              back, Carter whistled loudly, and two large wolves came out running out of the forest. Their snouts
              bloodied; they must have hunted down a hare or something. The ride back was enjoyable. Sally felt great on
              the horse, feeling safe in her man’s strong arms, “my man”, she thought and smiled. Certain things got
              clearer; Carter taught her the joy of nature and wilderness. He taught her how to fish, a real survival
              skill. She couldn’t live off the land, but she could at least fish. She was sure that Carter will teach
              her how to ride, shoot guns, work the fields. When he kidnapped her, he dropped her into the grass. Now
              this grass became her home, Carter made it with his own bare hands. It was only her and him. She fed him,
              fucked him and soon likely will give him children, a whole family out of nothing, out of broken soldier,
              confused girl and a bit of earth. It was only months, but they had a beautiful house, which was too big
              for them, plenty of food, a bunch of horses and two wolves. The man gave her the most beautiful birthday
              gift, he even started talking to her. Sally was a smart girl, she knew why the man didn’t talk. He didn’t
              want to have conversations about himself, his past, about the future, “why did you choose me? Will you let
              me go”, and all other sorts of obvious stuff. Carter didn’t take her for fun, she had a purpose like
              everything else in his life, and she wasn’t a temporary fixture. He was a caveman; he took her to stay,
              she was his woman, and he took care of her.
            </p>

            <p>
              All this thinking, coupled with a bouncing motion of the horse, turned Sally on. She pulled on Carter’s
              arm, placing his hand on her breast. He started to squeeze and massage it turning her on further. Sally
              partially unzipped her parka, leaving it buttoned. She pulled off his glove and guided his hand through
              the opening, yelping a little when she felt his cold hand on hot skin. Carter started massaging Sally’s
              naked tit, pulling on her hard, sensitive nipple, turning her on further. The horse&#39;s up and down
              motion provided all the necessary stimulation, rubbing the saddle against her pussy. It didn’t take long
              for Sally to start moaning. They still had a while to ride, and she wanted to fuck. She wanted Carter to
              stick his huge cock and fuck her hard. Her arousal kept climbing, her pussy kept smacking against the
              saddle, and in one moment, she came with a howling orgasm. This, however, didn’t stop the horse; it just
              made the wolves howl back in response.
            </p>

            <p>
              The horse didn’t stop its movements, and Carter didn’t stop his squeezing and pinching. Within ten
              minutes, Sally came again and again. It was right before sunset that they reached the ranch. Carter had to
              carry her home from the stables. Sally was completely fucked out from incredible screaming orgasms on top
              of the horse.
            </p>

            <p>
              I carried Sally into the house, her hands folded around my neck. After undressing us, I lay in the bathtub
              while it filled with hot water. She moaned softly as I massaged her body. She climbed higher on top of me
              to kiss me, her massive firm breast pushing against my chest. We kissed for a long time while I squeezed
              her ass, gently fingering her asshole, getting quiet moans of approval as I did that. Ever since our first
              anal experience, Sally was up for anything involving her asshole. She loved the sensation, regardless of
              whether it is just gentle rubbing, licking or rough pounding. She couldn’t get enough of anything
              involving her ass.
            </p>

            <p>
              Sally’s breathing increased, deepened, her hips gyrating. Her soft moans were muffled by our wrestling
              tongues. Reaching the shelf, I pulled a tub of anal lubricant and spread it in a generous layer all over
              Sally’s asshole. I lifted her up, spun her around and slowly lowered her on my hard cock, impaling her
              deeply in just a few strokes. Despite her exhaustion, she started bouncing up and down, resting her arched
              back against my chest so I can squeeze her tits and pull on her nipples. I was turned on during our ride
              back without any release, so it didn’t take me too long to cum. It took only about fifteen minutes for
              Sally to reach her second orgasm. Feeling her asshole squeeze and pulse around my cock pushed me over. My
              balls tightened as my cock erupted deep inside her bowels, sending her even further. Sally loved the
              feeling of hot cum inside her. There was just something dirty, something special about it. It always got
              her crazy horny.
            </p>

            <p>
              Sally slowly relaxed her body, snuggling it against me. With my cock still inside her asshole, I gently
              played with her heavy tits while she breathed erratically. I wasn’t sure, it could just be my imagination,
              but her tits seemed a little firmer than usual, which might mean she was pregnant. It was just too early
              to tell. I’ve been breeding her regularly every day at least three times, not counting all the blowjobs
              and ass-fucks. I knew that sooner or later, she’ll catch it. The rest was just biology and chance. Sally
              beamed health and virility. She had great genes; I was sure she’ll get pregnant easily and give me some
              high-quality offspring.
            </p>

            <p>
              “What’s the matter, honey?” Starla asked Moni after entering her apartment. She was there so often, Moni
              gave her a key. She sat on the sofa, on a coffee desk in front of her was a blueberry muffin with a small
              burning candle. Moni didn’t notice Starla get in. Deep in thoughts, she looked at the candle, remembering
              moments of her life with Sally. “Happy birthday, darling. I miss you so much, my love”, she said quietly,
              “I wish to be with you again”, then she blew out the candle and burst into tears. Moni’s body shook and
              trembled as Starla hugged her. The two girls got so close that Starla could actually feel the pain Moni
              was going through.
            </p>

            <p>
              Not knowing what to do and how to help, feeling so powerless, Starla burst into tears as well. The two
              girls embraced each other, sharing the pain. “My poor darling. I am so sorry for you”, said Starla,
              kissing Moni’s cheeks, feeling salty tears on her lips. Moni felt her heart ripping into pieces, finding
              the only solace in a warm embrace and loving kisses on her cheeks. It felt so good, like being back with
              Sally, believing that everything will somehow, magically be ok. Without thinking, just letting go,
              surrendering to the emotion, Moni lifted her head up and kissed Starla’s lips.
            </p>

            <p>
              Both girls opened their eyes in shock, looking at each other. As weird as it sounded for a stripper girl,
              this was her first-ever kiss. Moni never kissed anyone apart from Sally. In shock, the girls just looked
              at each other, trying to process what just happened. Suddenly both girls started kissing like crazy, their
              tongues battling each other, breathing heavily. Like possessed, they pulled their clothes off in a hurry,
              not willing to break their kiss. Somehow they stumbled to the bedroom, where they ended up wrestling,
              kissing, licking every inch of each other’s bodies. Their need exploded in an uncontrollable act of
              sexuality. Moni got on top, stuffing her pussy into Starla’s face while attacking her perfectly shaven
              pussy with her tongue.
            </p>

            <p>
              Completely out of control, Starla let herself go to the novel, deeply sexual experience. She used to
              masturbate a long time ago but stopped after all the bullying. After becoming a stripper, she was
              disgusted with everything and completely lost any sexual urges until Moni kissed her. It was like someone
              opened the floodgates. All those old, repressed emotions, accumulated sexual needs and desire, multiplied
              by time, exploded in a violent surge, overriding her critical thinking. Her mind gave up conscious
              control, letting the unstoppable sexual energy overwhelm her like never before.
            </p>

            <p>
              Starla didn’t know what she was doing, just that there was a pussy in her mouth, and she attacked it with
              her tongue and lips in abandon. Feeling Starla’s lips closing on her pussy, her tongue rubbing against her
              clit, Moni moaned deeply and started attacking Starla’s pussy with equal passion. It took only minutes for
              girls to orgasm, but that didn’t satiate them. On the contrary, it just increased each other’s desire,
              deepened their need for sexual fulfilment.
            </p>

            <p>
              The two girls kept rolling, kissing and sucking, fucking each other for hours before collapsing exhausted,
              embracing, breathing heavily in a fine afterglow of post-coital release.
            </p>

            <p>
              “Damn!” Sally said, getting out of the toilet. Dismissing it as a fluke or bad food would be stupid. “I am
              pregnant! I am sure of it”, she told herself. For the last few days, she’s been often vomiting, especially
              in the mornings. She also noticed how her breast felt more sensitive. Her period didn’t come back. It’s
              now been over a month since her last one.
            </p>

            <p>
              She came back to the bedroom, leashing herself to the hook on the wall, laying down in her cot, waiting
              for her master to wake up so she could suck his cock. The pregnancy wasn’t the only changes over the last
              few weeks. After her birthday, she started having a different view of her relationship with Carter. He
              wasn’t just her abductor but also her teacher and protector. He wasn’t her boyfriend or husband, but
              equally, he wasn’t her rapist. He never physically forced himself on her. Thinking about it for the
              longest time, she figured out that Carter was her master. After all, she was on a leash like a dog, making
              him her master. Somehow she found that not only she could live with that, but it turned her on a little
              bit. She knew that she would gladly do anything he asked her to, which made him her master. Sally also
              suspected that Carter would do anything she asked him to do except maybe let her go. The prospect of being
              released scared her, and now that she was pregnant, it was entirely out of the question.
            </p>

            <p>
              Sally saw her master wake up. Quickly she climbed on top of the bed. Kneeling between her master’s legs,
              gently like in worship, using two palms of her hands, she lifted his impressive organ, kissing its bulbous
              head before putting it in her mouth to suck it gently. Sally noticed her master’s eye watching her. She
              smiled and sucked with all her skill and enthusiasm, coaxing the juice of life out of his sizable balls.
              It didn’t take long to make Carter cum with her expert cock-sucking skills. Sally hungrily swallowed every
              single drop, continuing to suck it clean before kissing its head and saying, “good morning, master”, with
              a beautiful smile.
            </p>

            <p>
              Carter smiled at her, pulling her into his strong arms. She felt his heartbeat drumming in his chest as
              she lay her head on top of it, smelling his masculine scent. After a few moments, she sat on her knees,
              looking Carter in his eyes, “master, I am pregnant”. Carter looked at her with a big smile, got up and
              lead her by the leash to the spare room and a bathroom. Sitting Sally on the toilet, he gave her a
              pregnancy stick. Reluctantly she peed on it, giving it back to Carter without looking at it. Testing for
              it creates some sense of certainty, a finality she wasn’t sure that she was ready to face. Carter stared
              at the stick for minutes, not wishing to miss a single moment. Sally carefully watched his facial
              expressions until they turned into a smile. At that point, she desperately wanted to know. Carter just
              pulled her up, kissing her passionately and said, “good morning, mommy”. Sally felt tears roll down her
              cheeks. She wasn’t happy or sad but something else, strongly emotional, utterly confused.
            </p>

            <p>
              Carter hugged her again, held her to his chest while she sobbed, kissing her forehead. He led her to the
              shower, gently washing both of them, then carried her back to the bedroom, laying her on her back. Getting
              on top of her, he kissed every inch of her face, coming down, kissing her body till he reached her belly,
              where he stopped and kissed it many times. “Good morning, little one. I am your daddy. Be kind to your
              mommy.”
            </p>

            <p>
              Sally burst into tears again. Whatever she expected wasn’t this. For the first time, she saw Carter’s eyes
              soften, his cold stare replaced by something else for a brief moment. For the first time since she was
              taken, she found a little chink in his armour, a first weakness. Intuitively she knew Carter would be a
              good father. He would die to protect his child. He would probably die to protect her as well. Whatever
              this man was, whatever demons beset him, whatever his flaws, Sally knew deep down inside her bones, he
              would never abandon his family. He might be a monster, but he was a loyal kind. All the men she met before
              him wanted to use her, take her body and replace her with another pussy. This man wanted her, everything
              she is, good and bad. Many children get abandoned, wives and girlfriends are left to deal with a child
              alone because the asshole who made it lied to them before running away, undoubtedly doing the same thing
              to other women. This crazy man wanted a child. He wanted a family so much that he was willing to kidnap a
              woman he liked for it. Horrible as it was, there was something almost romantic about it. To know that you
              are wanted, genuinely wanted by someone, not for a night or a year but forever, almost felt like a
              compliment to Sally.
            </p>

            <p>
              Carter lay next to her, kissed her, then took her in his arms. Sally snuggled against his body. They just
              lay there, snuggled against each other, deep in thought, enjoying the moment.
            </p>

            <p>
              Moni and Starla were going hot and heavy at each other since their first kiss. This wasn’t out of love. It
              was just a safe way for decompressing and releasing sexual tension between two good friends. Both girls
              were under enormous psychological stress. Raw sexual intimacy helped them to keep a handle on reality,
              especially Moni. Every time she would fuck with Starla, she would imagine it was Sally. She knew Sally
              would understand and forgive her, just like she would her. The two girls were soulmates.
            </p>

            <p>
              “Come on, Moni. I’ll come with you. I will be good for you.” Starla tried to convince her to accept the
              invitation by a local feminist group to come to a public talk. Moni hasn’t participated in any feminist
              activities since the disappearance of Sally. She never really felt comfortable around those girls. The
              only reason she went there was that Sally was going. Moni had no experience with men, good or bad. She
              felt like a fraud participating in something she had no personal experience with and wasn’t able to form
              her own opinion. Just parroting “men are bad” made her feel disingenuous. Moni was always an opinionated
              debater. She relentlessly fought tooth and nail for her opinion. She wouldn’t concede an inch if she
              wasn’t entirely convinced by another’s argument. Just repeating other people’s beliefs wasn’t her style.
            </p>

            <p>
              Moni let herself be persuaded, more to convince Starla that she was fine than anything else. Besides, Moni
              thought how Starla was right; she could indeed use a distraction, maybe say hello to some old friends. The
              girls spent a few hours getting ready, looking stunning, then they sat in Moni’s car and drove to the
              conference centre.
            </p>

            <p>
              The girls surrounded Moni as soon as she entered the room, the organizers immediately gave her front
              seats. They spoke for a while with her, telling her how she can count on their support. The show started;
              Starla watched the presenters in disbelief. Having never been to a radical feminist meeting, she didn’t
              know what to expect. First, two speakers were relatively moderate, regurgitating some fake shit everyone
              knew wasn’t true. It was more like a mantra to get the followers to the proper brainwashing frequency.
              That is when a popular speaker came to the podium. She immediately smiled at Moni, inviting her to the
              stage. She didn’t want to go but relented under peer pressure. This is where the speaker gave her a fake
              smile, expressing her condolences and started to bait her, talking about Sally, how everyone misses her.
              “She has been kidnapped by a man. Not a woman, but a man. The rapist man. How do you feel about the love
              of your life being raped by a man-rapist right now, Moni? Tell us, share your feelings.”
            </p>

            <p>
              Moni stood there in shock, tears in free flow, trembling, unable to say a word. All of the audience
              watching fascinated. Starla couldn’t believe it. She jumped up from her seat, and in one step, she was on
              top of the podium. The speaker was about to say something, but she was too slow. Starla slapped her so
              hard, she broke her lip. “What the fuck do you think you’re doing, you fucking cunt?” She screamed at the
              girl in shock. “I am trying to help her reach catharsis so she can be free of her pain”, the presenter
              answered stutteringly. “Are you a psychologist?” Starla asked her angrily. “No, I’m not. Why did you hit
              me?”
            </p>

            <p>
              “Because you deserved a slap, you insensitive idiot”, Starla fumed at her. The speaker’s surprise turned
              into anger. She slapped Starla shouting at her, “nobody slaps me. You are behaving like a man, they slap
              women, they are the enemy, they are all rapists”. Starla couldn’t believe the nonsense, “have you been
              raped?” Starla asked her. It seemed she asked a forbidden question as the speaker looked at her in shock.
              She turned to the audience and asked the question, “Has anyone here been raped here?” The silence was
              complete. Everyone just stared at her. “Of course, you weren’t. Look at you, who would rape you? All you
              do is spend time shitting on men, blaming them for nonsense, organizing your stupid, pointless meetings,
              feeding each other with lies and total nonsense just to feel better about your miserable existence. Men
              are not rapists. Some are but very few and far between. My father is not a rapist, my grandfathers weren’t
              rapists, they are still married and love their families, they love me. The men in my family are not
              rapists”. At that point, the speaker said, “they aren’t rapist yet. All men have the potential of becoming
              a rapist; therefore they are”. A loud thud came from the podium followed by a scream as the speaker fell
              to her knees holding her bleeding, broken nose. “I won’t let you talk like this about my family cunt!”
              Smack, came another punch right in her jaw, dropping her to the ground. “Look at this cunt!” Thud!
              Starla’s foot connected with the speaker’s stomach. “Where is your security? Where are the bouncers? Oh,
              wait, there are none! They are all men, rapists! Yes, where are rapists when you need them bitch?”
            </p>

            <p>
              Starla kept shouting at the crying, bleeding woman, kicking her stomach with her foot until she calmed
              down. She picked up the mic and said, “you should be ashamed of yourself. You all have fathers or some men
              in your life who are hurting with what you are doing. I am a feminist, honest to God I am. I fought for
              everything I have on my own, and I am proud of it, but I did it without hurting the men. I work as a
              stripper, so I can pay for my school. Filthy disgusting men offer me money every day to fuck me, they
              slobber all over me, and I don’t hate them. Every day I go through hundreds of men; some offer me their
              love, others their money, some offer their friendship. All want to stick their dicks inside me, but none
              would rape me.” The girls in the audience looked at Starla with eyes like saucers, their mouth open. “Look
              at yourself. You are pissed off at men, I get that, but it isn’t their fault. Your happiness doesn’t
              depend on men. It is yours to control. You hurt my friend. You manipulated her to come here so you can use
              her for your own bullshit promotion, just like you used Sally’s disappearance. I don’t know any man who
              would do this to a woman. You should be ashamed of yourself”.
            </p>

            <p>
              A few girls started crying, they knew Starla was right, and she was gorgeous, confident and had her life
              together, unlike most of them. “Look at me, look at Moni. We don’t have men, we are here with you now, but
              we don’t hate men, both of us love them but don’t need them to feel worthy. Look at yourself in a mirror;
              most of you look like an abortion. You’ve given up, and you come here to vent, blame others for your own
              problems and failures. Being angry at others won’t change your life. Take a small positive action every
              day. Get on a diet, join the gym, dress nice, smell nice, find a friend, a male friend, talk to him about
              something, try to understand his views. You will achieve much more than listening to this cretin spew her
              misandric bullshit, spreading her hate, infecting everyone.” Starla got angry again. She kicked the crying
              girl a few more times, then stopped. Taking Moni’s hand, she walked out. One clap after another filled the
              room. The girls stood up, clapped the girls away, then got up and left, throwing their badges on the
              floor. “She is right”, one girl said, “yes, this is bullshit”, another one responding. Within minutes only
              about ten girls were left seated in a conference room. Starla’s passionate speech dismantled a radical
              feminist group by giving them simple advice they could actually apply to make their lives better.
            </p>

            <p>
              Moni was too distraught to drive. Starla took her keys and drove to the beach. They walked hand in hand,
              barefoot in the sand, holding their shoes in their hands. They came up to an ice cream shop and bought a
              banana split with all the toppings and shared. They continued their stroll, stopping in a coffee shop,
              having an espresso, watching the world move by. Moni took Starla’s hand into hers, saying, “thank you for
              having my back over there. Nobody took care of me like that before”. The girls kissed softly to amused
              smiles of other guests.
            </p>

            <p>
              “I love you, Moni, with all my heart. I would do anything for you”, Starla said with tears in her eyes. “I
              love you too Starla, you brought happiness back to my life.” The girls hugged each other, holding hands
              tight. They made their way to the beach and sat there, hugging all night. Just before dawn, they spotted
              hundreds of cars parking up, tens of thousands of women pouring to the beach in small semicircle groups
              pointing towards the ocean for as far the eyes could see. Starla and Moni got up, undressed and joined the
              closest group. One of them raised her hands and said, “We give thanks to the Origin and welcome the gift
              of light”.
            </p>

            <p>
              A loud knock woke the girls up. Inspector Dean and two uniformed officers waited outside. “What is it”
              mumbled Moni. “I am really sorry, but I am here to arrest Starla”.
            </p>

            <p>“What? No! You can’t do that!”</p>

            <p>
              “I am sorry, but I have no choice. The girl she beat up yesterday ended up in a hospital, in critical
              condition”. Moni burst into tears. Starla came out of the bedroom pale in her face, scared. “Starla
              Candice Walker, I am placing you under arrest for the assault on one Karen Thompson.” Dean continued to
              read her Miranda while two uniformed police officers cuffed her and took her away. Both girls were crying
              profusely. Dean stayed with Moni after they left, trying to calm her down. “What? What happens now? What
              will happen to her?” Moni asked, trembling. She couldn’t imagine losing another person she loved. “We’ll
              take her prints, photos, DNA sample, then She is going to get arraigned. I pulled some strings, so she
              gets arraigned first thing tomorrow morning. A good friend of mine assured me she’s got a decent judge,
              but she’ll have to spend one night in Jail. I made sure she doesn’t have to share her room.” Moni looked
              at him dejectedly, “Why is this happening? She was just standing up for me.”
            </p>

            <p>“I know I saw the video. There were multiple recordings of what happened”</p>

            <p>“How is Karen?”</p>

            <p>
              “She is in intensive care. Her parents are livid. They are rich and powerful, pulling all the strings to
              get her convicted. They are out for blood”.
            </p>

            <p>“Oh, god. How do we beat them? I don’t want Starla to go to prison. It is not fair.”</p>

            <p>
              “I don’t think you can beat them, Moni. They have all the evidence on tape. Starla was defending you, but
              she was also the one to throw the first punch. She was the one beating the girl even after she was still
              down. Even with the most sympathetic jury on the planet, she is likely going to lose”. Moni sat on the
              sofa sobbing. Dean excused himself, telling her that he’ll try to help as much as he could, promising to
              give her details of the arraignment.<br />Moni was at the courthouse, sitting on the benches, waiting. She
              smiled at Starla when they led her in. Both girls had dark bags under their eyes, puffy from crying all
              night. The judge was a gorgeous woman in her late thirties, wearing a thin gold necklace with a shiny
              oval, egg-shaped pearl. She heard Starla’s plea, looked at the evidence and said, “Request to fast track
              is denied, I am setting the court date to three months from now. The defendant is released on her own
              recognizance”, everyone gasped. The prosecutor complained, and the judge tore him a new one, telling how
              she caught Karen’s parents trying to bribe the court clerk to fix Starla with a different judge. If they
              don’t stop meddling, she’ll have them arrested.
            </p>

            <p>
              “Young girl”, the judge addressed Starla, “I’ll watch carefully what you do with your freedom over the
              next three months. It will inform me of your character”. Starla couldn’t believe she was getting out free.
              For three months only but still free. Three months could be a lifetime to spend with her beloved Moni.
              They could prepare, get some support, get ready for whatever happens. Starla and Moni burst into tears
              from the unexpected lucky reprieve. Starla was certain she was going to stay in prison; instead, she felt
              free. Freedom never tasted so good, never meant so much. “Blessed is the gift of freedom”, she said in a
              quiet voice.“blessed is the Origin”, the judge whispered back.
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Greg-Rumpel-Stiltskin-ebook/dp/B0B298962T'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3y7XejC'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Greg?id=8TNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>

              <a href='/books/montana/preview/chapter-5-loves-lost-and-found' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 5 - Loves lost and found >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
  
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
