---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Montana | Chapter 5 - Loves lost and found'
  description='Montana novel by Rumpel Stiltskin'
  image='/images/montana.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/montana3.jpg' /> -->
          <p class='emp grey'>MONTANA</p>
          <h1>Chapter 5 - Loves lost and found</h1>
          <div class='biggest'>
            <p>
              Three months passed quickly. Ever since Sally found out that she was pregnant, she changed and became a
              perfect partner. She was even more attentive to me than I thought possible. I caught her many times
              daydreaming. When I asked her about it, she told me she imagined our baby and our future life together.
              The snow melted away, spring came along, the world started turning green.
            </p>

            <p>
              Since our first ride out, Sally was in love with the horses. Sometimes she would sneak out of the house
              naked before I woke up and, despite the bitter cold, feed them with carrots or apples, petting them. The
              spare room was gone; what once was supposed to be a study became a baby room. Sally was in full maternal
              mode, constantly thinking about the baby, using every moment of her free time to hug me and kiss me. I
              thought she was projecting her feeling toward our unborn child at me. Suddenly I wasn’t her vile kidnapper
              and rapist anymore but the father of her child; nothing else mattered.
            </p>

            <p>
              All of that started to change just after her bump started showing. Sally began to having huge mood swings.
              She was anxious and fearful all the time, having sudden fits of anger, sporadically bursting into tears. I
              knew this was normal, so I held her in my arms, stroking her hair, kissing her gently, trying to be there
              for her.
            </p>

            <p>
              It soon went from bad to worse. The events of her life, her past, capture and sheer repressed emotional
              stress started to come out, turning it into a full-blown depression. She couldn’t sleep or eat; all she
              would do was cry and beg for forgiveness. Even the sex wouldn’t cheer her up. One day I sat her down, and
              we talked. She poured her heart out, telling me about her relationship with Moni, her love for her and
              their unbreakable bond. She felt that she was abandoning her, breaking her promise. Sally still kept an
              engagement ring on her finger. She kept rambling for hours until she fell asleep.
            </p>

            <p>
              I held her in my arms while she slept. I thought about what she said, realizing how deeply I hurt her when
              I kidnapped her. She didn’t care about herself. She would be happy spending her whole life with me.
              Clearly, there was no attempt to escape or leave me, but I hugely underestimated the bond she had with her
              fiance, and now, coupled with her high hormone levels, this was driving her nuts.
            </p>

            <p>
              Before Sally’s mood swings started, I worked hard on the house, expanding the fence, giving the horses
              more space. I cleaned the plot of land to plant vegetables. I worked day and night, using every moment to
              build a better place and home for the following winter. All of it stopped, and I spent most of my time
              taking care of Sally. I hoped this would be just a phase, something that I just had to endure.
              Unfortunately, I was wrong; the situation was getting worse. I saw this before in Iraq, the look in the
              eyes, the spiralling depression, then a bullet in your mouth. I lost good friends that way. Everyone saw
              the signs, but the brass didn’t care. They knew the guys were gone, and they did nothing. They didn’t want
              to return the soldiers back home on a medical discharge, let them loose with a gun in a general
              population. It was easier to let them implode and take care of the potential ticking time-bomb problem
              themselves.
            </p>

            <p>
              The next day I ran Sally ragged with chores. It helped take her mind off things and exhausted her. Not
              long after dinner, we lay in bed, Sally in my arms, when she said, “I am sorry for being such a bitch to
              you”, then she burst into tears and cried herself to sleep.
            </p>

            <p>
              I placed her gently into her doggy-bed, where she slept, covering her with a soft quilt, then snuck out of
              the house. During the day, I moved the car and a trailer quarter of the mile away from the house, so the
              loud revving engine doesn’t wake Sally up. I got into the car and drove as quickly as possible the sixty
              miles journey across uncultivated land to the forest behind the road. Once inside the cover of darkness
              and leaves, I switched on a brand new burner phone, checking the signal. I had two bars, barely enough for
              a conversation. Taking a deep breath, I dialled the number and waited, listening to the ringing tone.
              After a minute, someone picked up the phone and said “hello” in a sleepy voice. Taking a deep breath, I
              said in my most menacing voice, “don’t hang up if you ever want to see Sally again”.
            </p>

            <p>
              Moni jumped off the bed and ran into the living room. Starla was fast asleep. She came back from work a
              couple of hours back. “What? What do you want? Who are you?” Moni asked, trembling in fear, still trying
              to get over her shock, groggy from interrupted sleep. “Once I hang up, I will destroy this phone, and you
              will never be able to get in contact with me again, do you understand?” A rough masculine voice barked
              from the other side. Moni held onto her phone tightly, her whole body shaking, fear consuming her. “Yes,
              yes sir, I understand.”
            </p>

            <p>“Good. Ask yourself a question, how much do you care for Sally? Do you really love her?”</p>

            <p>
              “Oh, God, more than life. Please, sir, let her go. I’ll do anything you want. What do you want from me?”
            </p>

            <p>
              “I want a trade. Your life for Sally’s”. Moni sat in shock, not knowing what to say, the man continued.
              “What I want from you is to become my willing slave, follow my every command all the time, every time”.
              Moni just sat there sobbing, listening to the cruel, unfeeling voice of the man on the other side. She had
              no doubt that this was, in fact, the man who took Sally. She felt it deep in her bones.
            </p>

            <p>
              “Would you do that for Sally? Do you love her enough to sacrifice your life for hers? Are you ready to be
              a slave to a man to save Sally’s life? Answer!”. All Moni was able to do at first was sob loudly,
              hyperventilating, incapable of doing anything. The picture of Sally being abused by a man, killed by him,
              swam in her head. Moni knew deep inside her soul that if she was sure that Sally was gone, she would have
              taken her own life a long time ago. It was just the hope that kept her alive all this time. She hoped that
              one day, no matter how far in the future, she would be able to find Sally, that somehow police would find
              a trace. She read those stories about abused women in the basement being found after twenty years. It was
              that hope, no matter how irrational, that kept her going forward, that gave her the power to get up from
              the bed each morning and live life one day after another. Gathering all her strength, squeezing the phone
              so hard her fingers turned white, she managed to say “yes”.
            </p>

            <p>“Yes, what?”</p>

            <p>“Yes, sir, I would do that for Sally. I would trade my life for hers”</p>

            <p>
              “Listen to me carefully. I will send you detailed instructions that you must follow perfectly, without
              fail. You have exactly three days to complete all the tasks that I will send you. If you don’t, I will
              kill Sally slowly, telling her how you betrayed her as she died, then I will come and find you. I will
              take you and kill your mother and stepfather in Seattle and make you watch. If at any point I even think
              you’ve told this to the police or try something funny, I will kill all of you slowly. Do you understand
              cunt?” Moni trembled like a leaf in the wind. Her lungs fought for air, tears in free flow. She was scared
              more than ever in her life. Not for a split second did she think that the man was bluffing. There was
              something resolute and final, something powerful and menacing in his voice. She was sure that not only
              would he do what he said, but he would enjoy it. “Do you understand?” The man repeated his question
              louder. “Yes, sorry, I understand, please don’t kill Sally. I promise I’ll do everything you say”.
            </p>

            <p>
              “Good, now repeat it!” The man forced Moni to repeat everything three times to make sure she understood
              then hung up. “Hello? Hello? Please come back! Oh, God! No!” Moni screamed into the phone, trying to stand
              up, but the world started to spin, and everything went dark.
            </p>

            <p>
              “Honey! Wake up, sweetie, come on!” Starla pat Moni’s face, trying to wake her up. Angry welt marked her
              forehead where she hit the coffee table as she fell. The glass top bounced from the hit, crashing into the
              floor with a loud breaking sound, which woke Starla up. Moni slowly opened her eyes, looking around,
              noticing Starla hovering above her “wait, what?” She jumped up, the memories coming back. She looked at
              her phone; there was one last call from a blocked number, then she went into panic mode, screaming and
              hyperventilating, crying like crazy. Starla didn’t know what happened, but it clearly was too much for
              Moni’s already stretched psyche. She noticed Moni’s pyjama crotch was all wet; she peed herself in fear.
            </p>

            <p>
              Starla ran to the kitchen and quickly returned with Moni’s prescription Valium, forcing her to swallow it
              with a glass of water. Pulling Moni into her lap, Starla wrapped her legs and arms around her to prevent
              her from bouncing and doing herself harm. Moni screamed, cried and shivered, flapping her arms and legs,
              trying to set herself free for half an hour until the benzodiazepine started to kick in. It took an hour
              for Moni to calm down and go limp in Starla’s arms. Starla laid Moni on a sofa, wrapping her up with a bed
              cover, then made a large pot of camomile tea, coaxing Moni to tell her what happened.
            </p>

            <p>
              It took Moni two hours to tell Starla everything, between long crying spells. Starla fought back her own
              tears, trying to be strong for Moni. There was nothing she could say or do to make Moni feel better. She
              was given an ultimatum, and she accepted it. Starla knew that Moni meant every word. She knew long ago
              that Moni would gladly die for Sally. She was the only thing Moni really thought about. Starla had no
              illusions; she knew that Moni loved her with all her heart and soul, but she was bound to Sally the same
              way Starla was to Moni. It wasn’t until that moment that Starla fully understood how much she loved Moni.
              She would die for her the same way Moni would die for Sally. Starla was also certain that Moni would die
              for her too, which made this love triangle so complicated and impossible to break.
            </p>

            <p>
              The two girls sat on the sofa wordlessly for an hour, deep in thought, processing what just happened,
              figuring out their emotions when the phone started to buzz. Moni reached for the phone, but Starla was
              faster. There were several messages from an unknown number. The first one had a video attachment. Dreading
              to see its content, Starla snuggled against Moni and pressed play. The video showed Sally naked in a fetal
              position, sitting in a dog-cot. Around her neck was a metal collar, leashed to the wall; she was crying.
              The camera got in closer, showing the details. “I am sorry, my love, I am so sorry, my darling, I love you
              so much, I miss you, please forgive me, I will never stop loving you”. Sally kept repeating the words over
              and again, kissing her engagement ring, crocodile tears running down her face. It was plainly obvious this
              wasn’t acted or coerced. Sally was under a huge deal of stress. Her puffy eyes meant that she’s been at it
              for a very long time. The clip lasted only ten seconds, which was enough to communicate everything.
            </p>

            <p>
              Moni went pale in her face, vomited on the floor, passing out again. Starla gently cleaned her up, then
              slowly extracted herself, went to the bathroom, bit into a fresh towel, and screamed in impotent
              frustration and rage. Until that moment, Starla thought she would be able to reason with Moni, get her to
              alter her plans even slightly, give them a chance, an edge, but seeing the video, she knew Moni was
              hooked. There was no going forward. If she called the police, she would lose Moni, who would likely kill
              herself anyway. If she let Moni go through with it, she would lose Moni, and the man would probably kill
              her when he got bored of her. It was an impossible lose-lose situation, a checkmate. The only thing that
              could save her was a slim hail-mary chance of all time, and she was determined to try.
            </p>

            <p>
              Starla ran into her apartment, packed a small rolling suitcase with the essentials, showering and got
              dressed in jeans and sneakers, putting on a long-sleeved top and a leather jacket plus a baseball hat then
              ran down to Moni’s place. She found her sitting on the sofa, crying, replaying the video over and again.
              Taking away Moni’s phone. Towering above her broken friend, she asked, “what did you decide? Are you going
              to go through with it or call the police?” Moni shook her head, trying to clear her thoughts. With tearful
              eyes, she said, “I must go”.
            </p>

            <p>
              Starla helped Moni up, took her to the Shower, turning it a bit cold to help her clear her head before
              raiding her wardrobe, adding Moni&#39;s stuff to hers. She laid out jeans and casual shoes with a nice
              jacket and a woolly jumper on the bed. The instructions in the messages were clear. “Take five thousand
              dollars in cash. Leave your phone, credit cards and electronic devices at home. Drive to San Diego hotel
              and receive a letter addressed to you from the front desk”. Starla took the money from her floor safe,
              where she hid all her valuables and put them in a pocket next to her driving license.
            </p>

            <p>
              Moni dressed slowly and sat on the bed inert, feeling empty inside. Starla kissed Moni&#39;s lips, sat
              next to her, asking, “ready?” It took forever for Moni to nod yes. She pulled her up, checked that both
              their phones and cards were left on the desk, then led her out of the apartment, locking up and pocketing
              the key. They sat in Moni’s car and drove off.
            </p>

            <p>
              I detached the trailer at the large hardware store, living the night guard with a list of stuff I wanted
              to buy, asking them to just load it up and left. By the time I refuelled the car and all the metal
              canisters with gasoline, the shops started to open. I’ve been adding stuff to buy to the list for months
              now, making it a simple shopping trip. By lunchtime, I was loaded and on my way home.
            </p>

            <p>
              It was with some trepidation that I entered the house, half-expecting to see Sally dead, her veins sliced
              open, but she ran up to me as soon as I opened the door, jumping into my arms, kissing me like there was
              no tomorrow. “I missed you so much. I am so sorry for my tantrums. It’s not me, just the hormones. Please
              forgive me.” She would kiss me in between each word. I carried her to the dining room, placing the plastic
              bags on the table. Making her sit on the chair, I carefully pulled a round plastic package, opening it to
              reveal the best chocolate cake I could get. “This is for you, mommy. I know how much you craved this for
              weeks”, Sally burst into tears, looking at me with those big, expressive eyes in an enormous sense of
              gratitude. I took a big slice, put it on a plate, serving it to her. Sally made repeating “mmm” noises as
              she ate her cake while I boiled the water, mixing it with hot chocolate powder, putting it next to her.
            </p>

            <p>
              I made many trips, unloading a mountain of fresh fruit and vegetables and boxes of dry and tinned ones.
              Sally stood up to help, but I stopped her. “Finish your cake first. We can handle it later”. She thanked
              me with a million-watt smile and continued to enjoy her food. Chuckling, I thought to myself how I bought
              so many sweets that it would be a miracle if Sally kept her teeth by the time she gave birth.
            </p>

            <p>
              It took us till late in the evening to pack everything up. The pantry was bursting again with all sorts of
              things imaginable. I had three shop assistants follow me with big carts as I went through the aisles,
              picking up everything that caught my eye in bulk. In the end, I went to the pharmacy and stocked up on
              medicine.
            </p>

            <p>
              When I finally got to bed, Sally lay in her doggie cot on the floor, but I led her to me, pulling on her
              leash. As she settled in my arms, wrapping herself around me. Reaching into the nightstand drawer, I
              pulled a box and gave it to her. She looked at it in disbelief, then screamed and started kissing me like
              crazy. “Why don’t you open it and have a play?” I didn’t have to say that twice. Impatiently she opened
              the box. Inside was a top of the range iPad, preloaded with hundreds of books and all sorts of music. I
              paid the clerk a hundred bucks to load it all up for me while I did my shopping. By the time he was done,
              there was still space left on the device. He filled it up with the best-rated movies popular with women
              Sally’s age. Nothing heavy, mostly light-hearted comedies.
            </p>

            <p>
              Sally couldn’t stop thanking me. She kissed me so many times, I thought she’ll rub her lips off on my
              thick stubble. At length, she explored everything, choosing a movie to play. Snuggling tightly in my arms,
              she started it and was asleep within minutes. I loaded the device with all sorts of useful, educational
              books and the best reads, relaxing music to help Sally’s mind keep the focus away from traumatic
              experiences. I didn’t know if it would work, but I had to try something before her mind took her too far
              down the dark road.
            </p>

            <p>
              Dean couldn’t sleep most nights. Ever since he met the little girl with two mothers, one of which
              pretended she was a cat, he couldn’t fall asleep easily. It wasn’t insomnia but something else. He was
              full of energy despite only a few hours of sleep. Often he would just roam the city at night, looking at
              the lights. Los Angeles was a very different place from Detroit. Dean knew he found his new home. He often
              returned to the beach around the same time that he met the girl, sitting on the same log for hours, but
              she never returned, not that he expected her to. The words the women said were burned into his mind; he
              couldn’t forget them. He did the research, which led him to a set of articles about something called the
              Origin. They talked about the large egg-shaped building being built in New York, which was supposedly a
              marvel of engineering, a feat nobody in the world attempted thus far. It was all about the architecture,
              nothing about what it was all about. It felt like he was missing something obvious, right in front of his
              nose, obvious yet elusive, just beyond his grasp.
            </p>

            <p>
              The day Moni received Sally’s video was like most others. Dean woke up after just a few hours of sleep,
              feeling fully awake and refreshed. He was about to take a shower, but for some unfathomable reason, he
              felt like taking the swim instead, yearning for the feel of cold ocean water, the waves refreshing him.
              Not stopping to analyze his urges, half-afraid they would disappear, Dean took his keys, jumped into the
              car and drove straight to the beach, parking near the part where his log was. He undressed, leaving his
              clothes by the log and jumped into the water. It felt great, just how he imagined it would. Losing track
              of time, Dean swam and dived in darkness, looking at the background lights of the sleeping city, until he
              noticed the horizon getting brighter. He swam back, drying himself in a towel he brought with him, then
              sat on the log, looking into the distance, feeling the fresh sea breeze on his face.
            </p>

            <p>
              The noise of cars parking interrupted his trance. He looked behind to notice hundreds of cars coming out
              of the city and parking up. Thousands of people made their way to the beach, assembling in small groups.
              He noticed all those were women, mostly young women, but all of them stunning. He watched their
              silhouettes from afar, seeing them disrobe standing next to each other in a semicircle, looking at the sea
              with one of them in the centre of each group. The sun came out as they rose their hands, spilling its
              light onto the whole gathering. From afar, it looked to Dean like someone celebrating the birth of a sun.
              He realized quickly how wrong he was. There weren’t just thousands but tens of thousands, an incredible
              number of people for as far as the eyes could see.
            </p>

            <p>
              Whatever the women were doing ended quickly. They dressed again, heading off the beach, into their cars,
              back to the sprawling city. Dean’s eyes caught sight of a young girl Eve again, led by her mothers. She
              smiled at him waving. Still in shock, all he could do was to wave back and smile. Within minutes, the
              women disappeared like they were never there, leaving him alone on the beach again. None of it made any
              sense to Dean, he just knew there was some sort of big secret going on, and he wasn’t a part of it.
            </p>

            <p>
              More out of habit than anything else, Dean took the round trip back home, passing by Moni’s apartment,
              just to check it out. This time, however, as he approached it, he saw the lights. It was way too early for
              the girls. He knew that Starla would be sleeping with her young lover, and she would make sure to give her
              enough rest; something unusual was happening. Stopping the car far up the road, he switched off the
              lights, pulled out his binoculars from the glove compartment and watched.
            </p>

            <p>
              An hour later, he saw the girls come out, rolling a small suitcase, getting into the car and driving off.
              Operating on pure instinct, Dean decided to follow them, wondering where the two girls were going. His
              suspicion grew as the girls went for the freeway, leaving the city limits heading towards San Diego.
              Picking up his phone, Dean called his office, reporting his whereabouts, never losing sight of the girls.
              He was in a carpool lane, just a few cars behind them. He followed them to a small hotel and watched them
              get in, returning twenty minutes later and driving off again. His alarm bells started to ring loud as the
              girls got to the bus station and rolled the bag into a greyhound heading for Phoenix, Arizona. “Where are
              you going? Why are you using the bus?” Dean mumbled, all his senses tingling. He called the call centre,
              inquired about the bus, where it stopped, then, moving quickly, he drove fast towards Phoenix as well. He
              wanted to be there when the girls arrived. Dean knew something was going down. The girls&#39; faces
              weren’t happy; they looked worried, seemed like both were crying not so long ago.
            </p>

            <p>
              Referring to the timetable, Dean knew he had almost a couple of hours before the greyhound arrived. He
              made his way to Walmart to buy some clothes and stock up on food. After showing his police badge, he
              bought a gun, rifle, a bunch of bullets, handcuffs and some other stuff, just in case this road trip turns
              out to be more than a weekend break for two young lovers. Dean had enough time for a good lunch before
              sitting in his car, wearing his new, comfortable clothes, sipping coffee, waiting for the girls to arrive.
            </p>

            <p>
              Twenty minutes later, he saw the bus pull in. The two girls got out, immediately getting a cab. He
              followed them to yet another hotel and waited just to see them come out shortly, heading back to the bus
              station. “Smart, smart cookie”, Dean mumbled. Seeing what was happening, he had no doubt that the girls
              were in play. Whoever was pulling their strings was wise not to use the phone that could be traced. He
              sent the girls on a round trip, leaving instructions at hotel reception for the upcoming guests, making
              temporary reservations in their names. The only way to find out where the girls were going was to find out
              what was in those messages, and there was no guarantee that the hotel employees weren’t bribed to call
              back, reporting anyone suspicious asking questions.
            </p>

            <p>
              Dean knew that Sally’s kidnapper was exceptionally smart and capable. This kind of play fitted right in
              with his style. There was no doubt in Dean’s mind that this thing was about Sally. The girls were playing
              a dangerous game. In reality, he knew that the girls weren’t playing. They were being played by a criminal
              psychopath mastermind, pulling their strings, using emotional blackmail to get them to do exactly what he
              wanted with little or no risk to himself.
            </p>

            <p>
              The girls boarded a bus to Las Vegas, and Dean drove off, trying to make it there in record time. He knew
              what the kidnapper was doing. He was sending the girls on long road trips, making it difficult to be
              followed. They were crossing state lines, and if someone was crazy enough to go after them, unlike the
              girls, he would have to sleep and get some rest, which would be impossible if he wanted to catch up to the
              bus. Eventually, whoever was on their tail would have to call it a day, hand it out to the local police,
              and since they use radio, it would be easy to figure out that the girls were being followed just by
              listening in on it. Two things were absolutely certain in Dean’s mind. The man controlling them was
              lethal, extremely dangerous, calculated and methodical. He didn’t make mistakes. The other thing was that
              the journey the girls were on was a one-way trip. The kidnapper won’t trade Sally for anything. Too much
              time has passed. He wanted something else, and whatever it was, the girls were not coming back.
            </p>

            <p>
              Dean made good time, another couple of hours ahead of the bus. He showed his badge to the security guy,
              asking him not to come close to his car, then parked up, putting newspapers over his face, he fell asleep.
              Dean’s phone rang ten minutes before the scheduled arrival. He sat up, had a sip of cold coffee, waiting
              to see the bus pull in. Just like the last time, the girls went to a small hotel, just to come out and
              return to the bus station. They were in luck to catch the last bus for Salt Lake City in Utah.
            </p>

            <p>
              “Another long trip”, Dean mumbled, putting his car into drive and moving off. He started to feel tired
              after spending the whole day behind the wheel, driving around the country. At least it appeared that they
              stopped circling and headed towards their final destination, somewhere up north. Dean was exhausted by the
              time he arrived in Salt Lake City. He fell asleep as soon as he found a good parking spot at the station.
              He only had a couple of hours to sleep before the bus arrived, and he intended to use them.
            </p>

            <p>
              All too soon, the break was over. Dean&#39;s phone buzzed, waking him up from his sleep. After taking a
              long swig of cold coffee he got at the petrol station some miles back, Dean sat up, rolling down the
              window, letting the cool air fill his lungs. The girls arrived looking tired. He followed them to yet
              another hotel, but it looked like they were going to stay after over an hour of waiting. On the opposite
              side of the hotel was a small all-night dinner. Dean parked up, flagging the manager, showing her his
              police badge. He explained that he was observing the suspects, so they don’t call the police when they see
              him with binoculars examining the comings and goings of hotel patrons. He thanked the man for allowing him
              to use the back-room shower, and they informed him that nobody got in or out of the hotel while he was
              there. Sitting down at the darkest table by the window, he slowly ate his lumberjack breakfast, sipping
              coffee, not knowing when he will be able to eat again.
            </p>

            <p>
              It took hours before he saw the girls emerge. It was ten in the morning, well past breakfast time. The
              girls looked rested, having managed to get some sleep. Dean, on the other hand, was very tired. He quickly
              got up, leaving hundred dollars on the table and snuck out unnoticed into his car. He quickly realized
              that the taxi wasn’t taking the girls to the station. Excitedly, he followed, checking his gun, expecting
              their final destination.
            </p>

            <p>
              He swore as he saw the girls get out at the used cars lot and watched them buy a car, paying with cash.
              Cursing loudly, he followed the girls from a distance. Dean realized that he kept underestimating his
              opponent. There were no weaknesses in his plan. The kidnapper took him and the girls on a long
              cross-country journey with a clear intent of wearing the pursuers out, getting them tired, leading them
              deeper into his web one mile at the time.
            </p>

            <p>
              The girls drove relentlessly, constantly pushing forward. They only stopped at gas stations to refuel the
              car. Dean was happy he had enough foresight to put extra canisters of gasoline in his trunk, so he could
              refuel unnoticed, far behind the girls. Unfortunately, he had no clue where they were going. He had to
              follow them carefully, adapting to their tempo, always staying at least a few cars behind or far in a
              binoculars range so he doesn’t get noticed in a rearview mirror. It was exhausting. There was only him
              behind the wheel, unlike the girls who kept changing the driver, giving each other enough time to rest.
              Dean knew this was all part of the kidnapper’s plan. He was convinced that they were on a final stretch of
              the journey. Why buy the car otherwise, except for not being seen or remembered by anyone along the way.
              The girls were disappearing already, without realizing it.
            </p>

            <p>
              It took three stops and eight hours before it became apparent that the girls were heading to Bozeman,
              Montana. Dean watched them from afar as they parked up in front of a hotel, got in and out, then sat in a
              car and drove off, undoubtedly with a new set of instructions. Getting out of town, the girls got onto
              smaller roads, finally turning onto a dirt road leading deep into the countryside. Dean followed them from
              a distance, making sure the dust behind his car doesn’t get noticed.
            </p>

            <p>
              “Where the fuck are you going” he mumbled, following the girls for almost an hour. They were going fast,
              Dean matching their speed. Lulled in a monotone drive, exhausted from the journey, he didn’t even notice a
              flash in the distance. Suddenly the windshield of his car exploded, sending thousands of little shards of
              glass towards his face. Dean swerved hard, covering his eyes with one arm just to realize the front tire
              exploded. Dean lost control of the vehicle. It slid, the metal rims dug into the dirt, and the car flipped
              and rolled off the road ending on its roof. “They are gone”, was the last thought Dean had before passing
              out.
            </p>

            <p>
              It was almost dark when Dean woke up. He passed out then continued sleeping off his exhaustion before
              waking up refreshed. The car was totalled, but he was unhurt. Squeezing out through the window, he checked
              his phone to call for help and shouted, “fuck! You fucking motherfucker!” There was no signal. He knew it
              was all planned, the exact spot where the kidnapper would get rid of anyone following the girls. It was
              just too well organized, too perfect to be a coincidence. Dean knew that the girls were gone forever. He
              knew he was never going to find them. The kidnapper took them on the road trip in circles. He had all the
              cards, all the control. His destination likely was nowhere near the place he led them to. It was all just
              a diversion to ensnare everyone in his diabolical plans.
            </p>

            <p>
              Dean carefully examined the car, noticing a high calibre bullet hole in his engine block. One thing was
              painfully clear, the guy was a master marksman. Dean counted three shots. The first bullet took out the
              window, making him swerve. The second bullet took out a wheel, causing the car to flip, taking Dean out of
              commission. The final one took out the engine, ensuring the car would never start again if it somehow
              survived the flip. For that to work, the three shots would have to be fired close together in short
              succession. To achieve just that was a miracle in itself, not to mention that there was nobody in sight.
              The high calibre bullets told the story. The guy was very far, record-breaking far, certainly more than a
              mile away. The shooter wasn’t just good with the gun. He was probably one of the best, if not the best, in
              the world. Dean despised his adversary but respected him. “Thank you for sparing my life”, he said to
              nobody as he realized that the only reason he was alive was that the kidnapper didn’t want him dead for
              some reason. Dean knew from the experience that violent sociopaths seem to have some sort of a code, and
              apparently, this man had his. The one that involved not killing law enforcement officers.
            </p>

            <p>
              Dean rescued his backpack and guns from the wreck. Loading up all the food and drinks, he switched off his
              phone to save the battery and started to walk back to where he came from. He knew that it will take at
              least a day of walking to come to the closest place with a phone signal where he will be able to call for
              help. All of it was too well planned. The day delay will ensure that the girls were truly gone, never to
              be found again. Whatever the kidnapper was doing with them wasn’t for money or ransom. Now that all the
              girls were gone, Dean knew that this was the end. The case was now truly closed. The kidnapper got rid of
              all loose ends. Dean was convinced he will never come across him again. As infuriating as it was, there
              was some small sense of relief, finality and closure. The whole situation was hopeless from the start. His
              colleagues told him so, but he refused to listen. Dean knew they were right, but he was unable to let it
              go. “Goodbye Moni, I wish you all the luck in the world. May god help you wherever you are”, Dean spoke to
              the wind, turning his back to the wreck and walking away.
            </p>

            <p>
              I got up from the ground, packing up my sniper rifle, heading to a little dip where I parked my Hummer. I
              lay on that spot for hours, waiting for Moni to show up. I was surprised to see Starla in a car next to
              her. It was an unexpected but not unwelcome turn of events. It just made everything a little more
              complicated.
            </p>

            <p>
              I waited for the girls to pass me by, noticing the car following them in the distance, studying the man
              through the scope on my rifle. He looked strong, vital and determined. There was no doubt in my mind that
              the man was a cop. He clearly worked outside of the scope of his job, certainly outside his jurisdiction.
              I knew men like that. They were driven, compulsive and determined. Putting an end to him would be so easy.
              Just a little tap on the trigger, and he would be gone. It wouldn’t be the first time I killed an innocent
              man. It would be simpler for me if he disappeared. I could get his body, burn his car, and bury him
              somewhere nobody would ever find, but I admired him. He was like the people I used to know, people who had
              my back. I couldn’t just snuff him out like that. Men like that get things done. God knows how many lives
              would be saved by having a man like that working the cases, chasing the murderers like me. I wanted him to
              live. I exhaled slowly, calming my senses, feeling my heartbeat and light breeze, then pulled the trigger
              three times without even looking at what happens next. The result was always the same. I turned on the
              engines, getting back on the dirt road, driving after the girls.
            </p>

            <p>
              An hour later, I approached an old, dilapidated farm building. The girl’s car was parked up next to it,
              the girl standing beside it, nervously watching my car approach them. I stopped few hundred yards away
              then walked slowly towards them, seeing the growing panic in their eyes. “I thought we agreed you will
              come alone”, I said in my most menacing voice. Moni started to shiver. “I am sorry, I wouldn’t be able to
              do it on my own, please forgive me”. I watched the girls carefully and said, “what am I supposed to do
              with her then” pointing at Starla. Both girls were close to panic. They had no answer to that question. I
              started walking closer, and this triggered Starla. Suddenly she pulled a gun, pointed it at my head,
              shouting, “hands up motherfucker, get on the ground, or I’ll blow your head off”.
            </p>

            <p>
              “You didn’t think this through. You came all this way for Sally, and now you’re going to kill me before
              you found her?”
            </p>

            <p>
              “I didn’t come here for Sally. I came for Moni. I can’t let her sacrifice her life like that. I love her
              too much. I can’t let her go”. I could see the tears forming in Starla’s eyes out of sheer stress and
              fear, but her hand holding a gun was steady. “Please, Starla, don’t. I love you too, but I must save
              Sally. I can’t live without her, please stop this, let me go. Go back home, live a happy life, forget
              about me, you have a chance” Moni begged her, with tears in free flow.
            </p>

            <p>
              “Unfortunately, I can’t let that happen. There was a reason why I told you to come alone. Now your friend
              knows how I look, she knows where we last met, I can’t just let her leave”. Both girls looked at me in
              fear; both knew it meant that Starla had to die. I watched Starla carefully. Her body stopped shaking. I
              saw the decision form in her eyes and jumped to the side, throwing a knife at her, then rolled. A gun went
              off, followed by a scream as the knife embedded itself in soft tissue just below her shoulder. In a
              second, I kicked Starla’s hand with my boot, the gun flew off into the dirt, and she collapsed to her
              knees, screaming in fear and pain. Moni just lay on the ground, this was too much for her, and she
              fainted.
            </p>

            <p>
              “You fucking idiot”, I shouted at Starla, grabbing her by her throat, lifting her up in the air. “What do
              you think you’re doing? How do you think this was going to end?” I never saw someone this scared in my
              whole life. Even the enemy soldiers we tortured for days were less scared of me than her. “Please!” She
              gargled, unable to breathe. I released my grip a little, lowering her enough so her feet could touch the
              ground. “Please what?” I shouted, getting into her face. “Please don’t kill me, I beg you, please let us
              go home. I can’t take it anymore”. I saw something was wrong in her eyes, more than just the fear of me,
              something deeper. Getting into her face, our eyes met. I felt her shiver as she looked into my eyes, and I
              growled, “Convince me! I want the truth! All the truth. I know if you’re lying to me. Your life depends on
              you being honest. Tell me why should I not just kill you and leave your body to rot.”
            </p>

            <p>
              Starla shook hard, falling apart in tears, sobbing, hyperventilating, unable to calm down. I knew the look
              in her eyes well. Some old demons were coming up to say &quot;hi&quot;. Through tears, sobs and gasps for
              air, she told me her story. Starla was a farm girl, living not too far from where we were at the time. She
              was raised by a loving mother and father, a lot of family in a small town. Everyone knew each other.
              Wishing for a better life, they moved to California, but soon they fell on hard times, and her dad
              borrowed the money to help feed his family. Going back to Wyoming wasn’t an option; they burned all the
              bridges. Starla was just a high schooler when a sheriff caught her stealing chewing gum from a
              supermarket. She has been bullied by other kids at school and desperately wanted to fit in. The kids hazed
              her and told her that if she stole something, she would be cool and accepted by everyone, and they would
              stop bullying her.
            </p>

            <p>
              Sherif was a crooked asshole. He laid it on thick, telling her the store will press charges, her father
              will get in debt to keep her from jail, and he was going to talk to his cousin, the bank manager, to call
              in their loan, making the family go bankrupt unless she fucks him. For two years straight, every Saturday,
              she would meet with the sheriff and let him fuck her any way he liked for as long as he wanted. He even
              convinced her father that Starla was very helpful as an assistant, so she should work in the sheriff&#39;s
              office to gain some work experience for free. Starla wanted to cry every time her dad reminded her not to
              be late for sheriff on Saturdays, unknowingly sending her daughter off to be defiled and sexually abused
              by a filthy pervert.
            </p>

            <p>
              The two years of abuse and constant bullying at school, which were, of course, connected, warped Starla’s
              mind. She couldn’t connect to anyone anymore. She closed down, emotionally shut herself off and naturally
              gravitated to becoming a stripper. Her whole sense of worth and the world was warped. He desperately
              wanted to be loved, cared for, protected, be just a normal girl, but that wasn’t in the cards for her. The
              older she grew, the more beautiful she became, and the more aggressive the men got around her. All they
              wanted was to fuck her day and night, just like the sheriff. Never caring about her mind and soul. All
              they offered was money. Not a single one offered her his heart or even wanted to hear what she had to say.
              She had a sexy body, a pretty face and a wet pussy to fuck. That was enough and all that mattered.
            </p>

            <p>
              All this changed when she met Moni. Starla never even considered dating girls before. Certainly, it was a
              sin. She could never bring her home to her family or her church. For the first time in life, she felt
              loved for who she was. It wasn’t a romantic love but something deeper. Now that she had it, Starla
              depended on it. She couldn’t go back to the cold, careless world that looked more like the strip club than
              life with Moni. Starla couldn’t live like that anymore. She’d rather kill herself than go back to that.
            </p>

            <p>
              After some time, Starla starter to repeat herself. She just rambled on and on, for the first time baring
              her soul to someone. Her fear was forgotten. She even forgot she’s got a knife stuck deep in her body.
              Like in a trance, she kept telling her life story to the unlikeliest of all listeners. She didn’t notice
              Moni sitting in the dirt, quietly crying, listening to her friend’s story, feeling the deep pain she
              experienced.
            </p>

            <p>
              At length, Starla stopped talking and just sat in the dirt, feeling empty inside. I waited for a while
              then gently touched her knee. She looked up, our eyes meeting again. “I don’t want to kill you, but I
              can’t just let you go”. She nodded. “I understand”, deep sadness reflecting off her face. “I have a
              proposition for you”. Starla looked up in expectation. “Do you know the terms of my agreement with Moni?”.
              Starla nodded and said, “yes”.
            </p>

            <p>“Tell them to me.”</p>

            <p>“She will be your slave and follow your every command unquestioningly.”</p>

            <p>
              “That’s paraphrased but in essence correct. My proposition is that if you swore the same thing as Moni, I
              would take you with us, and you will never have to separate”. Starla looked up, studying my eyes, a look
              of cautious hope mixed with deep suspicion on her face. “Are you going to hurt me?” She asked nervously.
              “Will you give me a reason to hurt you?” I asked back. We stared at each other for a long time before she
              dropped her gaze and said, “Ok”.
            </p>

            <p>
              “Ok, what?” Starla lifted her head, looking firmly into my eyes and said, “I agree to be your slave and
              unquestioningly follow your every command”. I extended my hand, and we shook on it with a firm handshake.
              Looking at Moni, I said, “what about you? Do we still have a deal or not?”. That was her cue. She ran up
              to us and hugged Starla “yes, sir, I promise I will be your slave and follow everything you say without
              question.” She extended her hand, and I shook hers too.
            </p>

            <p>
              “Ok, ladies, we have far to go, but first we have to take care of a little problem” I pointed at the knife
              in Starla’s body. It was as if the girls suddenly realized it. I could see Starla’s pained expression. I
              got up and walked to my car, returning back with a plastic box. Sitting on the ground next to Starla, I
              pulled small scissors and cut her sweater and t-shirt around the knife. It took a while as the scissors
              weren’t designed for that. Girls watched me with big eyes as I took a large knife and effortlessly sliced
              Starla’s top off, leaving her sitting in a bra. I took an injection from a plastic pack and saw Starla
              tear up as I stuck it around the wound six times, releasing a bit of liquid into each hole. I had Moni
              pour water over my hands before putting on pre-packed latex gloves. Feeling gently around the wound, I
              asked her, “can you feel this?” Starla shook her head, realizing the injections were anaesthetic. “If you
              are sensitive to blood, don’t look.” In one swift motion, I pulled out the knife, a spurt of blood sprayed
              out. I saw Moni turn little green and vomit. I let the wound bleed for a bit, then poured alcohol on it,
              cleaning it carefully with a gauze. When the blood flow stabilized, I squeezed a generous portion of
              surgical glue into the wound. I stapled it in four places with a surgical stapler, cleaning the wound with
              gauze and put a plaster on top. I pushed a bunch of pills into Starla’s mouth and made her swallow them.
              “The white pills are Ibuprofen, painkillers and anti-inflammatory drugs. The capsules are antibiotics to
              prevent the infection. Do not move your arm much, or you’ll open your wound” Starla nodded, understanding
              what I said. I helped her up, took off her bra, which was soiled in blood, washing her body with a wet
              towel. I wrapped her up in a warm blanket and lead her to my car. Moni sat on the back seat next to her. I
              pushed a big sandwich into Starla’s hand “eat, you lost a lot of blood”. After collecting all the traces
              of us ever being there, I poured gasoline on Moni’s car and let it burn as we drove off.
            </p>

            <p>
              Life felt great for Sally for two days. Carter showed her so much attention. He went all the way to the
              town to get her chocolate cake and bought her an iPad loaded with all sorts of stuff. She almost forgot
              how the music sounded. There were so many books on pregnancy, birth and parenting. If she wasn’t leashed
              to the wall, she’d think her man was spoiling her rotten. Even so, she felt deliriously happy.
            </p>

            <p>
              Sally knew her mood swings were due to increased hormone levels that pushed her buttons. When she felt
              good, it was great, but when she felt bad, it was terrible. Something terrible was happening. Sally always
              sensed she would be a good mother. Ever since she was little, she dreamed of having family, a house, a
              bunch of kids and a loving husband. Life, however, was stranger than fiction. Here she was in her dream
              house, except that she was chained to it. Her man, whom she admitted loving, was her kidnaper, a murderous
              monster with more psychological issues than there are leaves on the tree, and there was the matter of her
              fiancé, the girl she gave her heart and soul to. The closer she got to motherhood, the more she felt that
              she was betraying her, and it ate her from the inside.
            </p>

            <p>
              She sat by the window drinking hot chocolate, the two scary wolves snuggling against her like puppies that
              wouldn’t hurt a soul. Sally watched Carter work like a man possessed. She hasn’t seen him work so hard
              since the day of their arrival. She remembered his shirtless body steaming in a cold rain, putting on the
              roof so he could bring his woman, his property home, where he’ll breed her to give him sons, no doubt.
              Sally just sat there watching the house grow. By the end of the day, Carter managed to pour a concrete
              foundation and unload all the material needed. Judging by the size, Carter almost doubled the size of the
              house, adding enough space for four more rooms.
            </p>

            <p>
              Sally tried to focus on reading or music, but she was drawn to the window, watching her man work. She
              managed to peel herself off for long enough to prepare a good lunch. She found a cookbook on her iPad and
              decided to try something new. She had all the ingredients already.
            </p>

            <p>
              That evening she spent a long time in a bath with Carter, washing him carefully. Enjoying the feel of his
              large, strong masculine body in her hands. He later pulled her against him washing her in turn, paying
              special attention to her growing belly. Sally melted in his arms, feeling loved and cared for more than
              ever. Carter carried Sally to bed after the bath, and they lay cuddling and kissing for a long time. Their
              passionate sex became gentle lovemaking since the baby started to show. It wasn’t better or worse, just
              different and much more intimate. Sally loved rough violent sex, but she felt her heart melt from just
              being intimate. This was one thing that she had with Moni, and now her man was taking even that away from
              her.
            </p>

            <p>
              Before she fell asleep, Carter said, “I am worried about you, darling”. Sally knew what he meant by it. “I
              am worried too. I am sorry I am this way sometimes. I can’t control it. It’s not you, oh God, it is so no
              you, but I have these strong feelings I can’t just get rid of. I will try harder, but I am only human. You
              picked the wrong girl”, then she started to cry. Carter gently stroke Sally’s hair, kissing her forehead,
              waiting for her to calm down before he said, “tomorrow night, I have to go away, I will be back the
              following day. Are you going to be ok?”. Sally looked at Carter, he never told her about his comings and
              goings. he was always there. At that moment she realized how worried he was about her. She smiled and
              kissed him “I will be fine, I will make myself fine I promise”.
            </p>

            <p>
              The next morning Sally climbed onto the bed from her dog-cot and gently sucked on her master’s cock like
              most mornings. She never admitted it to herself that sucking Carter’s cock turned her on more than
              anything. From the first time she saw his powerful organ, she was mesmerized by it. Sally still vividly
              remembered how she used to hide in tall grass, masturbating at night, looking at the massive penis on the
              sleeping man. The first time she tasted the sperm of a man whose name she didn’t know, the man who
              kidnapped her and chained her to the ground, she felt like a complete whore, a slut whose purpose was to
              be just fucked and used as a sex object. This bizarrely excited her, turned her on. Ever since, whenever
              she felt Carter’s nut serum burst out of his pulsing organ, she gulped it like a hungry infant suckling on
              her mother’s teat.
            </p>

            <p>
              Sally watched Carter stir, his eyes open, locking on hers as he came, watching her swallow with a thirst
              of a vampire. It turned Sally on to watch her man fill her mouth with cum, taking pleasure in his woman’s
              charms. For a brief instant, she felt debased, used and exploited, without any right of protest, like a
              true sex slave whose will is her masters own. She loved seeing Carter as her master. It played into her
              most explicit fantasies making her horny all the time. Equally, she liked to see Carter as her protector,
              someone who cares for her, feeds her, keeps her safe and healthy. She loved the man, lusted for master and
              loathed the kidnapper who broke her heart, taking her love away.
            </p>

            <p>
              Carter was still hard after feeding Sally with his nut sauce. He pulled her up, sucking on her nipples,
              nibbling lightly. Sally’s pussy gushed in expectation. Her master was taking her, just like he always took
              her, just like he bred his baby into her. She starter to moan, rubbing her drooling pussy against Carter’s
              knee. He got behind and mounted her, pumping his gigantic cock inside her ravenous pussy in a slow,
              determined rhythm, exciting all her nerves along the way. She came hard twice before she felt him pull out
              and push against her anus. Sally felt like someone was pushing an electric rod into her asshole. Her whole
              body responded in desire and pent up sexual frustration. Carter jackhammered his cock hard inside her,
              pulling it almost all the way out, making Sally feel like her guts were being hovered up. In a long brutal
              trust, he’d punch his cock deep into her, his huge balls slapping against her pussy, sending additional
              electric jolts through the spine. Seeing the state of her arousal. Carter reached over, grabbing a fistful
              of hair and brutally punched his cock into her asshole. Within minutes Sally let out a powerful scream,
              her pussy spraying squirt all over the bed. Carter didn’t stop fucking her trembling body in one
              continuous orgasm till he blasted her insides with a fresh batch of hot nut juice, finally allowing the
              tortured pregnant girl to collapse on the bed, lying next to her, feeling her body shake.
            </p>

            <p>
              Sally joined Carter for breakfast an hour later, with a smile of a well-fucked woman. He got out, took
              care of the horses, then cracked on with the build. The concrete foundation already set. Within a few
              hours, he had the frame in places and was nailing the outer boards to it. The day started so well, but as
              the time passed, the melancholia sat back in, and Sally’s mood drifted back down into tears and despair.
            </p>

            <p>
              By late evening, the external walls were in place, so were the roof boards, covered in black waterproof
              tarp, ready for shingles to be nailed down. It took Carter one look to know that Sally was down in the
              dumps again. She sat on a sofa, sitting curled in a fetal position, tears dropping on the floor, mumbling
              something, fingering her engagement ring. Carter took a quick hot shower, relaxing his muscles, then after
              eating his dinner, carried Sally to the bed and hugged her. She hugged him back, mumbling, “I am sorry”,
              then she burst into tears, shaking and shivering. Carter held Sally long into the night till she cried
              herself out and fell asleep. After taking a cold shower, he dressed up in military fatigues. Loaded his
              weapons and gear into the car and drove into the night.
            </p>

            <p>
              I didn’t return the same way I came but turned into the field. After passing distant poles marking the end
              of private property, I slowed down and drove for another hour across the raw land till I found another
              dirt road that led me to the bigger one and finally the paved roads. We were on the road for hours, rarely
              seeing other cars. The girls were snuggled against each other, hugging tight, seeing the world pass them
              by. The reality of their situation slowly sinking in. They were somewhere in the middle of nowhere,
              completely disoriented in a car driven by a powerful man who kidnapped their friend and now they made a
              bargain to serve him, to be his slaves and obey his every command.
            </p>

            <p>
              The girls perked up when they felt the car slow down but looked confused as we were on a stretch of the
              road surrounded by a thick forest. Their confusion turned to fear as the car made its way swerving through
              the forest, circling ditches, avoiding trees. It would seem like a fun, crazy ride in normal
              circumstances, but to the girls in the back, it was petrifying. It signalled cruel finality of their
              journey, indeed their life as they knew it. If there was some hope of them being found on a farm or locked
              in some basement, it was quickly crushed by the reality of the wilderness passing by. Chances were that a
              human foot other than their kidnapper never stepped here since the beginning of time.
            </p>

            <p>
              The forest turned into an endless prairie with lush green grass dotted with wildflowers, birds flying in
              the distance, hunting for insects and small field animals. The powerful car punched through the grass,
              straight into endless vista, bouncing lightly over uneven terrain for almost an hour when it slowed down
              and came to a stop. The man got out of the car, opening the back doors wide, commanding the girls to get
              out. Fearful, the girls exited, holding each other&#39;s hands. “Take off your clothes, give them to me.”
              The man commanded, and the girls obeyed tremblingly, without question. He put their clothes and shoes
              inside the bag, going around girl’s naked bodies, pulling out piercings, removing jewellery, leaving
              Moni’s engagement ring in place. He tied the bag, chucked it into the back of the car, then said, “pee
              break”. The girls didn’t go far, just squatted in the grass, returning a few minutes later. By that time,
              the man pulled out a box and made them stand straight, affixing fine-mesh metal collars around their
              necks, clipping one leash to each.
            </p>

            <p>
              The girls’ trembling became crying. They saw the fulfilment of their worst fears unfolding in front of
              their eyes. They understood logically what they signed up to while promising their obedience and loyalty,
              but as it happened, the total cost started to weigh on them. When they promised those things, they were
              free women, sheltered by some sense of safety civilization provided for them, even the illusionary one.
              Here they were just property. It was only them, endless fields of grass and the man, their owner, their
              master.
            </p>

            <p>
              I sent Moni back into the car while I examined Starla’s wound. She jumped a little when I collected her
              hair in my hand and kissed her neck gently with my lips. I pulled out the medkit, stuck a thermometer into
              her mouth, gave her a tetanus shot, and made her take some more pills while checking her temperature. She
              watched me take a thermos, fill it with several spoons of various powders, drop an effervescent pill
              inside and add water, then shake it hard for a minute. “Drink this, all of it quickly”. I saw Starla’s
              face wrinkle as she forced herself to swallow the foul-tasting mixture before I refilled it with fresh
              water. “I want you to drink all of it over the next hour. Let me know when you need to pee”. I took a
              blanket, wrapped her up like an Eskimo baby and put her next to Moni. “Don’t take it off”, I said before
              closing the door and driving off.
            </p>

            <p>
              Two more times, I stopped the car, letting the girls pee, checking Starla’s bottle, filling it up with
              fresh water, checking her temperature, then wrapping her back in a blanket. At our last stop, I couldn’t
              see the fear in her eyes anymore. The only thing I saw was respect. Before I got her another bottle of
              water, I washed my hands, put on surgical gloves, and gently removed the plaster, carefully examining the
              wound. It was red and swollen, with a lot of dried blood but no sign of infection. I took fresh gauze and
              washed it carefully, sterilizing it and adding iodine. Instead of plaster, this time, I put on soft, airy
              gauze, bandaging her shoulder firmly. I saw her big eyes following my moves closely, brushing her hair off
              her face. I kissed her forehead and said, “you will be fine,” and smiled at her, noticing how her eyes
              teared up.
            </p>

            <p>
              After wrapping Starla again, I pressed the girls together and said, we are almost there then closed the
              doors and drove off. I noticed both girls have perked up, looking through the windows, curiously examining
              the endless sea of grass, coloured by a beautiful sunset falling behind the large mountain range at the
              edge of the horizon.
            </p>

            <p>
              Sally woke up at night, feeling an empty bed beside her. She got up, looking for Carter, but he was
              already gone. She remembered him saying that he’ll be away for the day and her promise to be good. Sally
              tried to fall asleep but couldn’t. Too many thoughts and feelings swirling in her head. Sitting in the
              kitchen, she made a hot chocolate, adding some marshmallows to the cup, scooping them slowly and cried as
              she ate them. Her mind kept flipping from happiness unlike any she felt before to profound loss and pain
              that grew with time.
            </p>

            <p>
              She tried to calm herself down by washing the dishes, cleaning the house, but that took only a few hours,
              and she was left with her thoughts again. As it started to dawn, Sally got out of the house and was
              immediately greeted by two giant beasts larger than her. In the beginning, she feared the wolves. They
              were wild and unpredictable with those deep golden eyes studying everything with a challenge. She saw them
              catch a large rabbit once and rip it apart like it was made of paper; it made her shudder. Over time she
              learned to appreciate their presence. The first time Carter left her alone, the wolves patrolled around
              the house, making her feel safe and protected. Every sound or smell out of place would raise them to
              inspect it, always coming back, always alert.
            </p>

            <p>
              Sally walked further afield and stopped, facing the rising sun. The two large beasts sitting next to hear,
              one on each side, as if they too were expecting the sunrise. She rose her arms saying, “I give thanks to
              the Origin and welcome the gift of light”, proceeded to hum, feeling awash with the light of the rising
              sun, making her body tingle and vibrate, connect with the endless feeling of release and light permeating
              her heart and soul, her whole being. All thoughts and worries were forgotten, no past or future, just the
              endless now. Sally lost track of how long she stood there, alone with the creation, truly connected. She
              only realized she was crying when she felt drops on her heavy breast. She laughed a bit, raising her arms
              again, screaming a happy yell. The joy of being alive, of life itself, was upon her, and the true warm
              sense of happiness consumed her.
            </p>

            <p>
              Hearing her scream, Geri and Freki jumped up and ran around her. Sally ran into the grass, the wolves
              following, rolling next to her, licking her face. They kept playing for a while before Sally got home and
              fed the beasts, watching them crush the bones with their powerful teeth. Sitting down on a sofa, Sally
              took her iPad and read the book on pregnancy, birth, and child-raising. She forced herself to focus on
              learning, whatever happened or was going to happen in her life. One thing was true. She was going to be a
              mother.
            </p>

            <p>
              Around lunchtime, Sally took a break and went to a barn to say hello to the horses, feeding them apples
              and carrot treats, rubbing their long manes. Sally and the horses were best friends already. A brown and
              white foal pushed fearlessly between large horses, going straight for Sally, yearning for her hugs and
              kisses. He was only two months old and incredibly curious. Carter introduced them on the day he was born,
              and Sally was in love. She named him Blix, their fondness for one another was mutual. Every time she came
              to visit, the two of them spent a long time playing together. The others were wild horses, slowly tamed
              over time. Blix was tamed from the first day. Sally was like his favourite aunt that hugs, kiss and plays
              with him, bringing wonderful fruity treats. A mild-mannered brown mare with luscious long blonde mane and
              tail with white hoofs pushed her nose against Sally, demanding another treat. They were very good friends.
              Carters especially trained her to be an easy ride for a beginner. On few occasions, he put Sally into the
              saddle to ride inside the fenced area to get used to the horse&#39;s movements as he worked on the house.
            </p>

            <p>
              Sally heard some strange squeaking coming from behind the barn. She got out, followed by Geri and Freki
              and went to the back door, where Carter kept all the tools and baled hay. She immediately noticed a
              chicken coup, six large hens and about fifty little yellow ones chirping, asking to be fed. Sally fell to
              her knees, tears in her eyes, looking at the cutest little yellow things running around. She found the
              feeder and threw a few fistfuls of grain on the ground, all of them flocking to the food. Sally noticed
              the two large wolves approaching the flock slowly. She was scared that they would attack, but they just
              sniffed and turned around, disinterested. Carter must have already introduced them and set the rules.
              Sally watched them eat with happy tears in her eyes, then she noticed a bunch of eggs in the nests.
              “Eggs!” She squeaked, slowly reaching with her hand, picking them up one by one. She gathered them in a
              small bucket and went back home.
            </p>

            <p>
              When they filled the pantry, she was curious about the oddly shaped large brown metal container with some
              sort of solid white greasy thing inside. Carter told her it was lard for frying food instead of using oil.
              Sally was a bit disgusted at the time, but she decided to give it a try since she was alone with nothing
              to do. She put all the eggs into the fridge then put a spoonful of lard into the pan, watching it melt,
              finally breaking two eggs, frying them and serving them on a clean white plate with yesterday’s bread.
              Tentatively she tasted the eggs, then a big smile spread on her lips “this is fantastic” it tasted like
              they were fried on bacon grease but lighter, cleaner; it felt like a meal. Sally never liked eggs before.
              It was a type of food that was always missing something. She kept adding ham, tomato, all sorts of things,
              and the taste was never right. As she ate it with gusto, she realized it was lard. That was the one thing,
              which was always missing.
            </p>

            <p>
              Sally hummed a song, washing the dishes, thinking how many things she already learned about real life. She
              found that she didn’t miss her old life, just the people, one in particular. She shook it off, determined
              to think good thoughts, keep the promise she made to Carter and sat on a sofa, playing an episode of a
              silly sitcom on her iPad. When it finished, Sally made another hot chocolate, returning to her reading.
              She was determined to be the best mother a child could have. Carter was strong and masculine, the manliest
              man she’s ever met. He radiated confidence and control, always knew what to do and how to take care of
              things, but she wasn’t sure if he would be a good father. Carter was damaged beyond repair, and Sally was
              worried his deep blind spot of emotional unavailability could rub off on her baby, traumatizing it;
              turning it into someone who just can’t enjoy the little things in life, like eggs on lard, for example.
              She was determined to pull more than her half of the weight to give her child a softer side, to push out
              into the world a well-balanced individual who will make his or her own decision, getting the best parts
              from both parents.
            </p>

            <p>
              Invariably those thoughts slowly eroded Sally’s good mood. By sunset, she found herself again in the
              clutches of despair. She knew it was just the hormones, and it would pass, but she worried that those
              hormones were just emphasizing her true feelings. There was a huge, growing chasm between how she felt
              about Carter and Moni. She belonged to carter. She was his woman, and she had no desire to change any of
              that, but her heart was locked in pain from losing Moni. Every day she prayed for Moni’s happiness,
              missing her more with time. She loved Carter and wasn’t afraid to admit it. She willingly gave herself to
              him, the father of her child. It would be a monstrous perversion if she didn’t love him. She understood
              him, sensing his deep pain and didn’t blame him for taking her. She also hated Carter. Not because he took
              her, but because he broke her heart. He walked into her life like a desert storm, a hurricane, tossing
              aside everything without the care in the world, taking what he wanted, not giving a second thought to the
              consequences. It was all about power, his power. He was a powerful man, a good man in his heart but
              nonetheless one who didn’t know any better. All carter knew in his life was power. This is what kept him
              alive all this time and what made the military men use him wherever they wanted him until he broke.
            </p>

            <p>
              Sally often watched carter sleep. He always slept peacefully, with no demons or regrets. It was when he
              woke that it felt like some sort of supernatural monster got back to life. He was determined, forceful,
              defiant and virtually unstoppable like some force of nature. Carter subconsciously exercised his will over
              all things, all the time. He was kind and thoughtful, extremely smart and very protective, but he was cold
              and distant at the same time. There was no softness to him, only the raw, sharp jagged edges. He was all
              teeth like the wolves. No wonder they followed him so easily. He was the true alpha male in the most
              literal sense of the word. Unfortunately, he was also a feral alpha. Unbroken to society and the world
              itself. He didn’t know how to stop. When he put something to his mind, he was like a god; his will be
              done. Sally remembered the sheer defiance and strength, the incredibly raw, brutal, masculine power Carter
              displayed when he was putting on the roof, half-naked in the rain. This was the perfect example of the man
              he was, the perfect metaphor of his whole being. Carter was that man on the roof, strong, defiant,
              forceful and dangerous. He was the wolf that quietly sat by Sally when she welcomed the sun, and he was
              the wolf that ripped apart the rabbit without a second thought. Carter was the wolf who chose to be with
              her, not the one which just ended up that way. He was a wild animal that took what he wanted and would die
              protecting her. That was why Sally loved him the most. Carter was loyal to the bitter end. No matter what
              happened, she knew Carter would always be there. She didn’t just think or believe it; she knew. Deep down
              in her bones, she knew that she was his woman.
            </p>

            <p>
              Sally flip-flopped in her thoughts between Carter and Moni. She would laugh and cry, sometimes together.
              She was petrified about her future, her mind and heart stuck between two lives. She belonged to Carter,
              but she belonged to Moni too. Every day the pain got a little stronger. She was afraid to run away from
              Carter because she loved him, but she was afraid her soul would crush and hate him because of Moni. As the
              time passed, her thoughts turned to Moni, the time they had together. She cried and sobbed, feeling her
              breaking heart. The endless longing deepening with her every breath. “My darling baby. My poor love, I
              miss you so much. I don’t know if I can live without you”, she babbled, fondling her engagement ring, her
              body shaking, fighting for air.
            </p>

            <p>
              She saw a flash of light in the window, followed by the sound of loud engines. “He’s back!” Sally
              exclaimed with a smile, her sadness immediately dispelled by the happiness of Carter&#39;s return. Then
              she remembered her inner turmoil, a tantrum she threw just seconds ago and felt sad again for failing to
              keep her promise.
            </p>

            <p>
              Sally was wiping the tears from her eyes with her hands when she saw the doors open. A huge sense of
              happiness she felt when she saw Carter was interrupted by a massive shock. He led two naked girls on the
              leash inside, the redhead and the brunette.
            </p>

            <p>
              Sally’s head spun, her mind went blank in shock. All she remembered was running, colliding with Moni,
              hugging her tight, kissing her. It was all a dream. Her mind finally snapped, but she didn’t care. She was
              with Moni. That was all that mattered. The enormous sense of love spilt over her whole being, and Sally
              knew that then, at that moment, she was ready to die. “Blessed is the gift of love. Blessed is the Origin”
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Greg-Rumpel-Stiltskin-ebook/dp/B0B298962T'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3y7XejC'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Greg?id=8TNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>

              <a href='/books/montana/preview/chapter-6-poached' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 6 - Poached >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
 
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
