---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Montana | Chapter 9 - Montana'
  description='Montana novel by Rumpel Stiltskin'
  image='/images/montana.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/montana3.jpg' /> -->
          <p class='emp grey'>MONTANA</p>
          <h1>Chapter 9 - Enemy of the state</h1>
          <div class='biggest'>
            <p>
              I opened my eyes, feeling enormous pain, much more than I’ve ever felt. I tried to move but I couldn’t.
              There was ringing in my ears, and I found it hard to breathe. I heard a loud wheezing sound every time I
              exhaled. It was so bright outside, I tried to move my head to look around, but the sharp pain almost made
              me faint.
            </p>

            <p>
              Slowly my head started to clear, images stopped being so blurry, and I saw that I was inside a large tent
              with people hovering over me. “He is conscious”, someone said in Arabic. I cleared my throat, feeling like
              I swallowed a pound of fine sand, managing to croak, “water! Please water”. A woman with sparkling eyes
              wearing a niqab came closer, pushing a bent straw into my mouth. It hurt like hell to swallow, but I felt
              like I was getting a new life.
            </p>

            <p>
              I must have fainted because when I opened my eyes again, I felt better and stronger, still unable to move,
              in incredible pain. “You have been here for two weeks” a voice came in English with an American accent. I
              tried to say something but I couldn’t. I cleared my throat and felt the man push a straw into my mouth.
              This time it didn’t hurt so much to swallow. I drank water greedily and said, “thank you.” Gathering my
              wits and whatever strength I had, I asked, “where is here?”.
            </p>

            <p>
              “You are in Baalbek,” the man responded. I remember Saladin saying it was a forbidden land, the place in
              which I wasn’t allowed. “Why? Ahem. Why am I alive?”
            </p>

            <p>
              “You took a blast head-on. It collapsed the building you were hiding on, but luckily for you, the blast
              carried you for over a hundred yards, clearing you of the rubble, smashing you into the ground. My people
              found you covered in blood and brought you here, but your team is dead. You are the only one left alive.
              Most of your major bones are either broken or cracked. You are not paralyzed, but you received an
              incredible amount of damage. They brought you to me because it was a miracle that you are alive. Some
              higher power, perhaps god himself, doesn’t want you to die”.
            </p>

            <p>
              I listened to the man speak, trying to process all the information. I remembered the blast clearly. It was
              impossible for me to survive it, yet I was still alive. I had so many questions but only a single burning
              one. “Who are you?” I asked. The man moved in front of me, and I was shocked to see him, immediately
              recognizing those unique eyes. “You are Al-Mukhtar”.
            </p>

            <p>
              The man smiled. He didn’t look Arabic at all. “Al-Mukhtar is dead, Carter, you killed him. There is no
              more Al-Mukhtar. You did your mission, it is over”.
            </p>

            <p>
              “What are you going to do with me? Why do you keep me alive?” The man slowly reached for my necklace,
              fondling the little coin with his fingers, then ripped it off my neck, examining it closer, putting it in
              his pocket, saying, “life for life, honour for honour, blood for blood”. He looked into my eyes and
              smiled, “I owed you a debt of life. All debts have now been paid”.
            </p>

            <p>
              I remembered those words when the dying old man gave me that necklace, and I took the boy back to his
              people, saving his life. I looked at the man’s eyes, making the connection. He was the boy’s father. The
              boy was a son of Al-Mukhtar. This all clicked in my head, and I sighed, saying the boy’s name, “Salah”.
              The man smiled a kind smile and said, “yes. His full name is Salah Beni Almokhtar”.
            </p>

            <p>
              Two weeks after the girls got the news of Carter’s death, a lawyer knocked on their door. Apparently,
              Carter had a will in which he gave all that he had to the three girls split equally. It was another blow
              to the girls&#39; faith, but they took it in stride. Living with Carter, they picked up a few of his
              traits, one of them being stubborn defiance. They were committed to a singular plan, and there was nothing
              that could change that.
            </p>

            <p>
              After signing all the papers, Sally asked her parents to check out the New York apartment the girls
              inherited while they got the keys for Carter’s house, right in their neighbourhood. It was a beautiful
              middle-class house, clean and meticulously organized. It had nice furniture and every comfort one could
              want.
            </p>

            <p>
              The lawyer told them that the house used to be rented out, but after the last tenant, the management
              company didn’t get another because Carter disappeared and was out of touch. The girls quickly decided to
              abandon their expensive apartment and move right in. It was a better place, with a better location and
              much more space, plus they didn’t have to pay for the rent.
            </p>

            <p>
              It turned out that moving to the house was a wise decision. A few days after the girls settled in, Starla
              went into labour, giving birth to Colt, a beautiful baby boy. Starla’s parents immediately drove from
              Riverside to med their grandson and help out. Sally assigned them one room, and they admired how beautiful
              the house was.
            </p>

            <p>
              The girls had a big plan, and the preparations were well underway. They spoke with an architect and many
              tradesmen who almost daily had some questions and ideas, refining their plans. They managed to do all that
              through iPads and video calls, not being able to travel just yet.
            </p>

            <p>
              They impounded Carter’s Hummer next to the carnage he left when he attacked the stronghold of one of the
              crime bosses. Sally got the car towed to a mechanic with great effort and expense, getting it completely
              refitted, changing the transmission to an even stronger one, adding no bling but turning the car into a
              veritable tank. That cost more money than buying a new one, but she was sentimentally connected to it.
              That car was Carter&#39;s. She was kidnapped in it, so were the other girls.
            </p>

            <p>
              Sally went into labour a few weeks later, giving birth to a gorgeous girl named Montana, in honour of the
              state where her real-life began. She owed so much to that land and the tall prairie grass that taught her
              how to appreciate life. It gave her more than she could imagine, and now she was going to give back.
            </p>

            <p>
              Sally couldn’t imagine living anywhere else anymore. The other girls felt that too. They loved to travel
              and the buzz of LA, but it was a pit stop, not really their home. A week later, it was time to go, put in
              motion all the plans they had for so long. The girls flew their parents in and had a big family dinner
              where they said their goodbyes. The next day they handed the house keys to the real estate management
              company and took a large cab to the airport.
            </p>

            <p>
              A few hours later, they landed in Billings, where a driver waited for them, handing them keys of a brand
              new looking Hummer, fixed, refitted, and painted, ready for action. The girls piled in, putting the babies
              in extra child seats. Moni sat at the wheel, and the eight of them got on the road.
            </p>

            <p>
              It took almost the whole day of driving and pit stops until they reached a small town deep in the woods.
              They immediately recognized it as a place where Carter took them shopping for the first time after the
              kidnapping. The girls got two motel rooms with adjoining doors between them. The town was so small there
              were no hotels or other types of accommodation.
            </p>

            <p>
              Everyone was hungry and parched. After dropping their stuff into the room, the girls sat in a car, parking
              at a diner nearby. The locals started at the group of three women with five kids, got a big table and ate,
              discretely nursing the little ones.
            </p>

            <p>
              As they waited for more food, a large man with a big gun on his side walked up to them, introducing
              himself as Bo. He shook their hands in a warm welcome, saying, “It is nice to see Montana get its women
              back”. The girls were surprised and looked around. Everyone in the diner stared at them. Some people were
              getting in from the outside just to see the girls. It was big news for a small town. Within minutes
              everyone knew the girls were back. It all started with the guesthouse, where the owner recognized them,
              quickly calling around. Even before the girls reached the diner, everyone knew.
            </p>

            <p>
              The locals ended up sitting at nearby tables, chatting to the girls offering their help. Bo told them he
              tried to check on their farm while they were gone, but he couldn’t come near it as it was infested with
              wolves. “It was the largest pack of wolves I’ve seen in my life”, Bo said in laughter. Apparently, Geri
              and Freki each had a litter, and so did all the young pups who grew up, maturing in their absence.
            </p>

            <p>
              “Strangely, I saw plenty of horses with wolves. They were not attacking them. I’ve never seen anything
              like it in my life”. Apparently, the two alpha wolves followed Carter’s orders and never attacked the
              horses, teaching the young wolves how to behave. Sally told them how they had plans to renovate and
              improve the house; everyone laughed at that. They wished the girls good luck, telling them there won’t be
              a single worker in the whole state who would dare to go there for fear of being ripped apart by the
              beasts.
            </p>

            <p>
              They all found it funny and strange that a group of pretty young girls with young babies lived so far out
              remotely in a land that nobody dared to go to. It wasn’t just the property borders that defined it. It was
              truly their land. When the news story broke out about the girls, and everyone learned what Carter has
              done, cleaned their town of the trash, the people rejoiced and felt in his debt. Doing such a thing makes
              you a hero and the town’s favourite son. No matter that they weren’t born there, all of them earned the
              respect of locals; they became part of the land.
            </p>

            <p>
              The following day after breakfast. The girls went to check out a garage they inherited from Carter.
              Apparently, it wasn’t just the city apartments, carter owned a small garage in town. They used the keys
              they were given to get inside, where they found a large white van without license plates parked. Curious,
              they looked inside the van and were shocked to find it packed to the brim with neatly stacked bricks of
              hundred dollar bills. There were hundreds of millions there, just sitting in a garage. The girls had no
              clue what to do with that. They took a few bricks with them, as many as they could stuff in their bags,
              and went to see Bo, who apparently was the new sheriff.
            </p>

            <p>
              He welcomed them, dressed in his uniform, asking how he could help. The girls had an idea, so they asked
              him who owns the land surrounding their farm. Bo scratched his head for a while, saying that there were
              many owners, but nobody goes there; it was too wild and remote. Sally asked if it would be possible to get
              the owners together and buy the land. Bo made a few calls, and most of the owners lived around town. They
              got lunch together where Sally proposed a purchase. The guys were surprised, shrugging their shoulders.
              Nobody had any plans for the land. They sold cheap on the spot, and Sally paid them in cash. They visited
              the notary who prepared and stamped all documents. Bo said that there were a few more owners, but they
              moved away. He was going to get in touch with them and see if they wanted to sell too.
            </p>

            <p>
              The next morning, despite the fear of the wolves, two large trucks and a smaller one with workers followed
              a hummer and a white van through raw land and tall grass. Sally didn’t want to risk leaving so much cash
              in a garage, so she sat in a van, following Starla and Moni in a Hummer. The van wasn’t designed for such
              a trip, so they took it extremely slow. A few times, the van got stuck, and Starla towed it out with rope
              attached to Hummer.
            </p>

            <p>
              It took almost a whole day to get there. The girls were hugely relieved the house stood as they left it.
              There wasn’t a single wolf inside, only a few horses in the distance. The workers watched with fear as
              Starla got out of a hummer, took a few steps towards the house, and loudly whistled. Shivers went through
              guys’ spines, hearing the loud howls surrounding them. Suddenly out of nowhere, they saw two massive grey
              wolves running fast towards Starla. In their mind, the workers saw her ripped open. Instead, the huge
              beasts jumped at her, trying to lick her face. A few dozen young wolves slowly approached her, sniffing
              her, getting used to her scent. Six big wolves emerged, letting Starla hug them and pet them.
            </p>

            <p>
              One by one, over sixty wolves approached, sniffing Starla, getting their heads rubbed. The guys in a van
              couldn’t believe what they were seeing. It was the largest wolf pack they ever saw. Those vicious beasts
              so docile and friendly, playing with Starla like common pets.
            </p>

            <p>
              Sally and Moni got out of the car. They too were greeted by two alpha primes, followed by a bunch of
              sniffs and licks before they brought in the babies. The workers cringed watching the girls offer their
              children to the huge beasts who could just snap them in a single bite. To their surprise, the wolves were
              so gentle. Even those that never met the girls knew from their leaders they were the members of the pack.
            </p>

            <p>
              After the introductions were over, Starla gave the signal, and the wolves dispersed, disappearing in tall
              grass. The men carefully got out, looking around them, expecting to be attacked at any time. They helped
              the girls carry their stuff into the house. It stood firm without any need for fixing. While there was
              still sunlight, they started unloading everything from two large trucks, laying it on the grass, covered
              by a plastic tarp.
            </p>

            <p>
              At one point, the men froze. They saw Geri and Freki watching them suspiciously from afar. The two wolves
              didn’t do anything aggressive, just curious and protective of the girls.
            </p>

            <p>
              It took six weeks of relentless hard labour for men to finish all the work. They worked fast, wishing to
              finish sooner and spend as little time in the wolf land as possible. The wolves never did anything to
              threaten the men, but they weren’t friendly at all. They were always around, curiously watching them work.
              The men had no doubt that at a snap of Starla’s fingers, the whole pack would descend on them and rip them
              apart into pieces.
            </p>

            <p>
              In short six weeks of tireless work, the place completely transformed itself. The main house became a
              sprawling ranch with a dozen large rooms and numerous smaller ones. The corral was extended again, and it
              was huge. The workers painted it white. The old barns were removed, the new, proper ones built with
              stables for horses, livestock, and such. The orchard was expanded into a major feature, little pathways
              were built, the mud was a thing of the past. Six more large trucks filled with gravel and other building
              materials arrived together with more workers to help it lay it all out.
            </p>

            <p>
              The house now had proper waste management and water treatment as well as two more wind turbines, solar
              collectors, and an emergency generator, satellite dish connected straight to the Internet. Large
              television and the integrated sound system hung on the living room wall, which was the size of a small
              house. More bean bags, plush carpets, and a truck full of modern furniture adorned the house. Suddenly the
              place didn’t feel so isolated anymore, just far away from all.
            </p>

            <p>
              Using satellite phone calls and the Internet, they managed to close the sale of all of the land for much
              more than the eye could see. By doing that, they became one of the largest landowners in the US,
              practically owning the prairie and a fair chunk of forest, lakes and streams. There was no intention to
              build something or plant. They bought it to ensure that they have no neighbours for at least fifty miles
              in any direction. When that was done, their lawyer filed paperwork, getting all the permits and
              certificates, declaring the whole land a wolf park, a wildlife preserve for the wolves. They recently lost
              their endangered status, but they were safe to live here.
            </p>

            <p>
              Curious horses slowly returned, led by Blix, who was all grown up and extremely excited to see Sally. He
              followed her everywhere like a dog. The girls got some cows and a few bulls, plenty of animals. They
              turned the old farm into one of those picturesque ranches one sees on Instagram in just six weeks. The
              workers built an oversized garage, big enough to fit six cars. The girls parked the van with the money and
              Hummer inside. The last truck that came from the town carried enough frozen, canned, and dry food to feed
              everyone for five years.
            </p>

            <p>
              The architect they hired was a genius. She thought of everything with minute details, turning a house on a
              prairie into a gorgeous home. The girls knew they left California forever. They might visit, but they were
              never going to get back. This was their home now, here in Montana. Just like Bo said, this was their land.
            </p>

            <p>
              Carter had a dream and a vision. He risked everything to reach for the stars. The girls took that dream,
              adorning it with their own; together, they made something bigger than the sum of its parts. The building
              crews left with the first drops of snow. Looking at the masterpiece of architecture, hard labour and
              interior design, not believing what they have done. Deep inside, they were happy to leave, escorted by the
              curious yellow-eyed beasts lifting their heads up from the grass. The builders carried with them the
              stories and pictures of three young ladies and five kids, surrounded by dozens of vicious predators, ready
              to kill at a snap of their fingers. A few builders took pictures of a gun room. It had everything from a
              pistol to an RPG. If ever anyone would get a bright idea of attacking the girls again, they would quickly
              get dissuaded by seeing the hardware. They looked Starla into her eyes and blinked.
            </p>

            <p>
              The girls smiled, kneeling naked by the window naked, wearing their collars with an attached leash. They
              watched the snow cover the world. The kids slept surrounded by a fresh set of dozen wolf puppies, their
              young mother sitting in the corner watching out. A nice smell spread from the woodstove; the house felt so
              cosy and warm. They patiently waited for their promised gifts to appear, for their master to come.
            </p>

            <p>
              I felt the incredible sensation of mouth on my cock. My three girls sucked it together. Sally and Starla
              from the side, Moni from the top, sucking hard, twirling her tongue over the bulbous head, rubbing gently
              against my frenulum, making my cock twitch in pleasure every time she did that. I tried not to cum, but
              the girls weren’t making it easy. They knew my responses well, keeping me close, right there on edge,
              about to blast my sperm, but they kept well away from pulling that trigger. It was sweet agony; I trained
              them well. For a whole hour, they teased me, my cock harder than ever before. My rapid breaths coming out
              in pants; my whole being wanted to cum. I was just there, right next to the top, about to blast when it
              all stopped, a little pause, and started again.
            </p>

            <p>
              That went on for some ten more minutes, and right when I thought I would die from intense pleasure denial,
              the girls started sucking in earnest. Starla snuck her tongue into my asshole, Sally swallowed my balls,
              and Moni sucked like life was ending. I felt all the muscles in my body clench. I could almost feel a huge
              glob of sperm leaving my testicles, making its way to the tip of my cock, erupting out like red-hot magma
              right into Moni’s awaiting throat.
            </p>

            <p>
              She let the first couple of powerful bursts go straight in her stomach, then pulling out a little, she
              filled her mouth, letting the rest just come out in dribbles down my twitching cock, covering it with
              white nut cream. Moni and Starla licked my shaft together like a lolly, savouring the taste of my sperm
              with steady, practised determination. They developed liking, even craving for the taste.
            </p>

            <p>
              The girls didn’t stop sucking even after I came. They just slowed down a little, working slowly on getting
              me hard again. The girls knew I wanted to fuck them. They loved to be taken in their pussy and ass. Over
              time we developed a routine. Every day I’d take one and fill all her holes, fucking her like she loved it,
              as hard as I can. It was Moni’s time today. Feeling my cock stiffen again, she slowly slid up my body,
              leaving two thin milk trails leaking from her enormous full breast. It was her special day today; the
              girls tested and calculated. It was her most fertile day. She was ovulating and horny as hell, missing the
              feel of being pregnant, insanely jealous of Sally and Starla, carrying heavy, both in their eighth month.
            </p>

            <p>
              She didn’t feed the baby today; Sally and Starla did. Moni kept her tits full, bursting with milk for me
              to squeeze, suck and gnaw on just as she liked. She loved a little pain but went crazy when I chewed on
              her nipples, feeling especially turned on when her tits were full. It was her recently discovered fetish.
              She couldn’t breastfeed once without having an orgasm, and she made so much milk she had to be constantly
              milked, something Sally and Starla were happy to do. They loved the taste of Moni’s milk; we all did.
            </p>

            <p>
              She stuffed her erect nipple into my mouth and sighed loudly as I sucked, loving the taste of her sweet
              milk full of colostrum. I could feel her tights tighten, her pussy squeezing in pleasure. Adjusting her
              ass, she rubbed her wet pussy over the lengths of my pulsing cock before slowly spearing herself till she
              felt it push against and stretch her sensitive cervix. I didn’t know how she did it, but her body looked
              amazing, slim, and sporty, as if she never had a child. Only a few small stretch marks were showing, more
              like a badge of honour rather than marks on her skin.
            </p>

            <p>
              Moni rode me hard, slapping her clit mercilessly on each downstroke against my pelvis while forcing her
              tit into my mouth as if trying to suffocate me, hoping to get more of in. I sucked for all it was worth,
              Sally next to me chewing on another nipple. Making Moni’s gorgeous blue eyes roll, her body breaking a
              sweat. I put my hand behind her head, grabbing a fistful of her raven black hair, pulling it painfully
              backwards. She gave a loud gasp and came hard.
            </p>

            <p>
              I had enough of the foreplay, spun around, lay Moni on her back, lifting her legs, mounting her missionary
              style. Sally and Starla attacked her breast, squeezing them hard, chewing her nipples, feeding on her, not
              letting a single drop of sweet nectar escape. I’d pull my cock out, watching her inner lips stretching on
              my thick shaft, not wishing to let go, then I’d smack my rigid pole right in, knocking it hard against her
              cervix just like she liked causing a gasp. After just a few minutes of merciless fucking I saw her body
              tremble and tense. The girls bit down hard into her nipples while I slapped her beautiful face. The added
              pain took her over the threshold, releasing a terrible scream, her whole body tensed and arched, a deep
              red flush covering her face, neck, and chest. Her hands grabbed onto girls squeezing them tight enough to
              cause bruises as she fought for air against her orgasming body, each exhale becoming a wail.
            </p>

            <p>
              I kept pounding my cock into her even greater with force, slapping her face as she kept cumming, sending
              her from one orgasm to another. Tears rolled down her face, her eyes begged me to stop, but her lips said
              fuck me harder, and I did until I felt coming off my release. I towered above her, squeezed her beautiful
              long white feminine neck with my big hand. Using it as leverage as I fucked her like a maniac, putting
              every ounce of power into my brutal thrusts. That pushed her over again; she came even harder than the
              previous time. Releasing her neck, I heard her inhale loudly, releasing a scream that could burst
              eardrums, and just as she felt her orgasm ebb, she felt the blast of my sperm deep inside, just against
              her cervix. That sent her over again; it turned Moni on to be bred. She told me once how she loves to be
              pregnant, wishing me to make her my breeder so she can be pregnant for life. She screamed, panted,
              trembled, and shook, gasping for air, tears rolling down her face. Moans and gargles coming out for
              minutes until all stopped, and she passed out.
            </p>

            <p>
              The girls sucked my cock slowly, getting me erect again. Occasionally they’d slurp Moni’s abused pussy,
              swallowing any sperm that leaked out. Moni woke up laying on her side, her leg lifted high, my cock in her
              asshole. She begged me to stop, her body was wasted, but that was our usual routine, three holes, three
              hours of passionate sex, each day before sleep. She knew what was coming, and her body was spent. Nobody
              cared about any of that. I pumped hard into her asshole. She moaned, trembling in little orgasms every few
              minutes while Starla played with her tits, sucking her nipples. There was no milk left, just a lot of
              pleasure and occasional few drops.
            </p>

            <p>
              Sally put some lubricant on Moni’s pussy, fingering it slowly while I jackhammered her ass from behind.
              She made little meowing noises each time I pushed my cock all the way inside. One, two, three fingers;
              Sally slowly wiggled her whole hand inside Moni’s pussy, grabbing my cock through the thin membrane
              between her womb and her guts. Moni went insane with screams, shouting filthy profanities at us, “yes,
              yes, fuck me hard, deeper, stronger, come on, you whore. Destroy my asshole, make me bleed, fuck me you
              fuckers, more, more I want more”.
            </p>

            <p>
              Needing no more encouragement than that, Sally lowered her face to Moni’s clit, adding the licking
              sensation to that, while in tandem, we fucked and fisted her two welcoming holes. Moni felt my cock expand
              and blast inside her, helped by Sally’s hand squeezing it from the inside. She gave out “ngnnnn” sound,
              her whole body tensing, releasing a terrible orgasm. She came so hard her pussy expunged the intruder like
              giving birth to Sally’s hand. At the same time, she squirted right into Sally’s opened mouth.
            </p>

            <p>
              In the biggest orgasm so far, she came and came and came some more. For almost twenty minutes, she bounced
              and fought the horrible intensity of her orgasm before she started to come down. Even then, with my
              flaccid cock still buried inside her asshole, she’d get sudden pings sent by her nerves, post-orgasmic
              pleasure rippling around. The girls carefully padded the sheets underneath us because the whole bottom
              part of the bed was wet from Moni’s squirts. The three of us hugged each other, drifting to sleep.
            </p>

            <p>
              A burst of loud laughter suddenly woke me up. Some Arab women wearing niqabs pointed at my covered
              erection. I almost cried, realizing this was all a dream, a beautiful dream. I was still in Lebanon,
              somewhere in Baalbek, being taken care of by local people. I had those dreams often now that my head
              cleared. When Sally was taken, I suffered a mental breakdown, sending me on a bloody murderous rampage,
              except I didn&#39;t blackout. I turned violent, bent on my revenge, out for blood. I knew something
              changed in me, and I could never come back. I was mentally unstable before, but now I was out of control,
              a danger to myself and others alike. I killed and tortured the mobsters, enjoying their screams of pain,
              taking terrible revenge for what they did to the people I loved the most. The little I had in me that was
              left human was in tatters. The only thing left was this murderous, unfeeling, unstable monster that I
              became. The army doctors filled me with drugs that numbed me to the point I was like a walking dead; cold,
              unfeeling and lethal, the perfect killing machine. It’s been months now since I was in Baalbek. My body
              mostly healed, but there was still pain. I was broken inside. I slowly learned to accept the pain was
              there to stay. Lyin in the bed, without my psychoactive drugs, made me think and dream, waking up in sweat
              screaming almost every night. I missed my women and children terribly. I would gladly die just to hold
              them in my arms for one last time.
            </p>

            <p>
              An old man who said he was a doctor examined me and told me that I’m doing as good as I can, considering
              the terrible damage; he couldn&#39;t understand how I was even alive. I certainly had some of my strength
              returning, just need to move and train. Get my body in action, off the bed, doing physical work. It would
              help torn muscles, and ruptured organs heal and get me ready for my journey. “Journey where?” I asked him.
              In wonder, he said, “back home. You are not a prisoner here but a friend of Al-Mukhtar, a man who is no
              more”.
            </p>

            <p>
              Going home, Going home, a thought that electrified my whole being and frightened me to my bones. I was
              born under an unlucky star; there was no home, there was no happy ending for me, no matter how much I
              dreamed of it. All I ever wanted was to live in peace, loved in my home, and that was taken from me at
              every turn. It was perhaps a punishment for all the evil deeds of my life, all the people I killed and
              lives I destroyed. It was my karma to suffer, with only a few brief moments of respite just so the knife
              in my heart could get deeper and hurt more. Going home, an impossible dream. There is a place for me, but
              it will never be my home.
            </p>

            <p>
              I pulled on my blanket, trying to cover my erection. One woman laughed, speaking Arabic, telling me I need
              a woman. It wasn’t healthy for a man to go so long without a release. “I had a woman. I had three back at
              home, and I lost them all”. The woman nodded in understanding, telling me how nobody knows the will of
              god. “Sometimes god tests us, but never more than we can endure. Those that pass the tests by god grow
              stronger, their faith firmer. The greater the test sent by the god, the more love he has for you. Rejoice
              when you are tested because only those with strong faith will reap the rewards”.
            </p>

            <p>
              I thought long about what the woman said. It struck me odd to find wisdom in the unlikeliest of places. In
              today’s age of the internet and space exploration, where knowledge and information are at the tip of
              everyone’s fingers, so many people are lost and confused without a clue what to do with their life. This
              is where I learned that knowledge and wisdom are not the same things. These simple villagers, living in an
              old dusty place that offered only suffering and hardships, raised people with great wisdom and
              understanding of life.
            </p>

            <p>
              From that day, I watched them closely, their day-to-day goings and life. Every day they would stop five
              times and took a moment to thank god for the gifts they received and the gift of life. They thanked him
              for all the troubles and all the suffering that brought them closer to the divine.
            </p>

            <p>
              I started helping the villagers doing their endless chores. I’d dig a hole or fix a wall. Most of them
              looked at me with interest and smiles; only a few stopped to talk. Sometimes I’d see a group doing
              something hard, and I’d join to help. Some built houses of stone, some took care of livestock. There was
              plenty of work to fill one’s day, and in that labour, I found my purpose and started to find my soul.
            </p>

            <p>
              The pain never left me; if anything just got stronger, but I learned to live with it. It was just how life
              was now. I grew to accept my pain as a reminder of little gifts of life that we seldom remember to
              cherish, like air and fresh water, like sunshine and love. I had plenty of love, so much that my heart was
              breaking.
            </p>

            <p>
              I missed my women and son every day. I’d often cry myself to sleep. One day, a village elder came to me
              and spoke. “You must continue your journey, follow your path and seek your happiness. You cannot stop
              until you find it. We watched you for a long time, son. Here in Baalbek, we can only show you the way till
              your destiny reveals itself. We all have our paths, and you must walk yours. Your war is over; it’s time
              to go home. The soldier in you has died on that roof, leaving just a man. May god protect you and show you
              the way”.
            </p>

            <p>
              I thanked the man for his words. Elders rarely spoke to me. All the villagers had great respect for them
              and their wisdom. Once I walked with an old man who took me to a secret place no foreigners were allowed
              to. We sat on the ruins of an old temple, the man telling me a story of the land. For the locals, Baalbek
              was always there. For ten thousand years, people lived here. The armies came and went, built great temples
              and lost them to the invaders, but the people remained. Baalbek had many names, but its true name was the
              city of the sun. This is why greek invaders named it Heliopolis. This was the home of the old sun
              worshipers, the people who prayed to it, thanked the sun for its lights and all the gifts it gave them,
              the light and warmth, the life itself. Thousands of years passed, countries rose and fell, armies came and
              went, but the people remained.
            </p>

            <p>
              One afternoon a car came for me. The villagers gathered around, saying their goodbye, sending me on my
              journey, knowing that they will never see me again in their life. It felt like leaving family. Over the
              past months, we have become one. They fed me and clothed me, cared for me. Saying goodbye was harder than
              I could imagine. Part of me wanted to just give up and stay, but that’s when I realized they all had
              somewhere to go and have stayed instead. There was indeed something supernatural about this Baalbek place.
              Strangers come and go; they move a stone, help build a wall, leaving their mark in history, but the people
              remain.
            </p>

            <p>
              After many hours on the road and slow driving, I found myself back in Beirut, right in the port. I saw the
              utter devastation of the enormous blast. I looked at the place where I hid when the explosion happened. It
              was destroyed. It was so close to the epicentre that there was no chance for anything or anyone to
              survive. The buildings turned to rubble and dust. The devastation was complete. Subconsciously I felt my
              body just to make sure I wasn’t a ghost or dreaming. “How the hell am I alive” I muttered silently, trying
              to figure it out.
            </p>

            <p>
              Years in the military in the worst places on the planet have taught me a lot about destruction. I’ve seen
              air raids and carpet bombings, rockets and mortars exploding. I’ve even seen the planned demolition. None
              of that caused such total and complete devastation. The explosion just wiped away that part of the city,
              like sweeping legos of a desk, leaving a deep crater in its place. If someone asked me if anyone could
              survive this, I’d tell them there was absolutely no chance.
            </p>

            <p>
              This is what the old man meant when he talked to me. My team was gone, all of them. We had a direct uplink
              from where we were hidden. Whoever was watching saw us get blown away. They saw the Al-Mukhtar die, yet he
              was even closer to the blast and still alive. “Was that really Al-Mukhtar”, I muttered. It didn’t matter;
              both of us were gone. We were both dead for whoever was concerned.
            </p>

            <p>
              I realized at that moment that I was finally free. Whoever knew about me thought I died. I could go back
              home and start a new life. I owed nothing to anybody. As Al-Mukhtar said, “all my debts were paid.”
            </p>

            <p>
              The car parked right by the water, a small boat approached in darkness; the man wished me well. After a
              couple of hours, I saw a large cargo ship. We caught up to it, and the sailors dropped a knotted rope. I
              thanked the man climbing. Once on the ship, I was taken to a cabin, given fresh sailor&#39;s clothes and a
              cleaning job. I was officially a sailor.
            </p>

            <p>
              It was a slow ship, stopping at several places along the way. It took two months to reach Havana, my final
              port of call. I busied myself with doing just about any work on the ship as we travelled, mostly cleaning
              and making sure everything was fine. Occasionally I’d help with the cargo, and never any real sailor
              duties, having to do anything to do with the ship.
            </p>

            <p>
              The other men mostly avoided me, kept to themselves just like me. The solitude and hard labour gave me
              enough time to think. I came to the conclusion that I owe my life to no less than a miracle or some
              bizarre coincidence, a perfectly favourable set of events. I certainly owed my life to Al-Mukhtar. I
              remembered him say “life for life, honour for honour, blood for blood.” Unknowingly I saved his son’s
              life, and he returned the favour by saving mine, then organizing this trip back home.
            </p>

            <p>
              Before I left the ship, I got paid for my service. I didn’t expect it but took it with gratitude. I
              couldn’t just walk into Cuba without any documents. I thanked the captain, wrapping my dollars into a
              small plastic bag, putting all of it in a bin bag, securing it carefully with duct tape. I made a little
              makeshift belt putting the bag across my shoulder and back, then deep at night, jumped into the water, lit
              by the stars.
            </p>

            <p>
              I knew I could just call the army, and they would pick me up, but then they&#39;d ask how I survive, and
              we&#39;d get to Al-Mukhtar. He was dead for the world, and so was I. His people&#39;s currency was not
              money but honour. Despite what I did for him, he saved my life. He kept me safe and brought me back. He
              paid for his son&#39;s life with my life, he honoured me, and I will honour him back. I will live in the
              shadows, carry my secrets and pain to protect little Saleh. The responsibility falls to his saviour to
              make sure he was safe. I was cursed with death, losing everything dear to me in my life, but I had my
              honour. I earned that much and take my secrets to the grave. No more murder, no more wars, no more guns,
              no more military, I was done.
            </p>

            <p>
              I swam for some two miles before finding a dark spot with lots of bushes where I got out of the water and
              sat to dry. I put on my old clothes and walked for miles before someone stopped and took me to town. I
              slept on a bench till the first light, then found a small diner to have my breakfast. I looked weird with
              my ruined clothes, so I quickly found a place that sold them second-hand. I chose blue jeans and trainers,
              a black shirt and a long jacket. Putting it all on, I looked invisible, like some sort of labourer. The
              next stop was a barbershop where they tamed my long bushy beard into something with style. When I got out,
              I looked more like a hipster than a tramp.
            </p>

            <p>
              Going back to the marina, I walked around till I found a motorboat with an American flag. A middle-aged
              Cuban guy sat inside. I negotiated a reasonable price for him to take me close to Key West, the rest I
              could swim. That night we sat on a boat. The man drove slowly, attracting no attention. He managed to get
              me as close as half a mile to the coast. Like the last time, I packed my clothes, paid the man, and got
              into the water, watching the boat slowly make its way back.
            </p>

            <p>
              Once states-side, I hitched a ride to Miami where I found an army surplus store and got me some decent
              boots and more durable clothes. The guy threw in a few freebies, seeing that I didn’t take some of the
              more expensive items. He gasped, seeing me change my shirt, noticing dozens of healed wounds on my back
              and a USMC tattoo on my shoulder. “Hey marine,” he said, throwing me a good jacket I was looking at but
              couldn’t afford, “it’s on the house.”
            </p>

            <p>He pointed at my scars, asking, “Iraq?”.</p>

            <p>“Some of them, mostly Syria.”</p>

            <p>
              “Are you looking for some work?” the man asked, offering me a low-paid job at the store with food and
              accommodation thrown in. I spent most of my money coming back. I really could use some work just to get
              back on my feet. I worked there for a month, finding all sorts of things to do and fix during my spare
              time. The owner paid me a fair wage when I left after a month. It was February already. I made my way up
              slowly, working and moving, Georgia, the Carolinas, Virginia, all through Washington, Philadelphia into
              New York.
            </p>

            <p>
              I watched from afar that my apartment was rented out. I was glad the girls got that. Sally was a hard one
              to miss these days. She was a popular speaker and a celebrity, and there was some word of a movie being
              made. Someone paid a fortune to license her story. I read her book and saw the interviews. I even found a
              few clips with Moni and Starla. They all looked well and happy. I saw they were married now. It was a very
              lovely ceremony.
            </p>

            <p>
              Clearly, the girls did well without me. Even if they forgave me for kidnapping them, I wouldn’t want to be
              the person who in any way hurts them or ruins their ambition. I’ve done quite enough already. I didn’t lie
              to myself; I wanted them all in my life. I loved them as much as any man could love a woman, plus there
              were my children, and I loved them all. It was hard to fight and urge to call them or even see them in
              secret. They all believed I was dead. Maybe I was, and this was just a dream. In any case, they did so
              well. They moved on and were happy together. That’s all I wished for them.
            </p>

            <p>
              No matter how much I resisted, I was only a human, without any goal or purpose. The word of village elder
              rang in my mind. “You must continue your journey, follow your path and seek your happiness. You cannot
              stop until you find it”. I knew what my happiness was. My whole being drew me to it. It was to finally
              find peace, to find love, and have a home.
            </p>

            <p>
              I was a dead man for a very good reason. I could have always reached out to my army buddies or even the
              officials, but I was done with that life. Going back would never lead me to peace. I preferred to stay
              dead.
            </p>

            <p>
              Like some irresistible force, I felt an unstoppable urge to go home. I didn’t question where the home was.
              It was in a prairie in Montana where I left it last time. That was the place where I found my peace, where
              I left my love, and that’s where I had to return. I tried to resist it, but how does one stop something
              like that? It wore me down, took all my strength, but the constant knocking became stomping “go home, now,
              do it”, it screamed at me. I couldn&#39;t sleep or eat; all I could think was about going back. I dreamed
              about my old life every night, waking up in screams, crying for an hour each morning, looking at dawn,
              thinking of Sally, my children and the rest of my girls.
            </p>

            <p>
              I felt such a deep sense of relief when I finally surrendered to it. Perhaps it was my destiny to return.
              &quot;God never tests us more than we can take&quot; At least I will keep good on a promise I made Starla,
              to return when I was done, and I couldn’t be any more done than now. I put on my backpack and left in the
              night, catching a ride from place to place. With little money, food, and water, I made my way home. I felt
              the urge to return, getting stronger with every mile that got me closer, Ohio, Indiana, Wisconsin,
              Minnesota, South Dakota, Wyoming, and finally Billings, Montana.
            </p>

            <p>
              It took weeks of slow travel across the land. Some I walked, and some I hitched. Sometimes a truck driver
              would share his meal. Sometimes people would give me some money or buy me food. I ran out of cash around
              Minnesota and ate only what I was given. I went to sleep in pain, and I woke up with it. The pain was the
              bane of my life. At least it reminded me that I was still alive. Maybe I was too proud to ask for help or
              beg, but none of that mattered; I was coming home.
            </p>

            <p>
              When I finally reached Montana, my clothes were filthy and thorn, my beard was bushy. I looked like a
              homeless bum again. I didn’t care about any of that. I was almost home; I knew I would reach it even on
              foot. I walked for two days before a kind trucker stopped, going my way. He saw my army clothes, the way I
              walked told him enough. Once upon a time, he was a soldier himself, a marine like me, one of my brothers.
            </p>

            <p>
              He drove for hours before I stopped him by the forest. He shook my hand with a big smile and said,
              “welcome home, son,” before he drove away. I was only about sixty miles from home. I wanted to run but
              stopped myself. I knew the journey would take two days, so I paced myself.
            </p>

            <p>
              It was early spring the green nature was in bloom. Walking on raw uneven, sometimes muddy land was a slow
              task. I’d walk until my strength gave up, then I’d lay in the grass and sleep. A little rain fell from
              time to time. It didn’t bother me; I was almost home.
            </p>

            <p>
              I haven’t eaten for several days; for the last two, I had no water; I&#39;d just lay on my back with an
              open mouth and drink the rain. I was at the end of my strength, so near to where I was going. Deep down
              inside my soul, I found enough determination to continue, even if that meant it was going to kill me.
              Surrounded by an endless green sea of long grass, without a moon or a star in the sky. In the pitch black,
              I continued straight without a single indication of where I was and no direction of where I was heading. I
              marched on, purely on instinct, slowly staggering forward until I tripped on something and fell to my
              knees, feeling the much-needed rest calling to me.
            </p>

            <p>
              I knew if I slept, I would die there; I wouldn’t find enough energy to get up. I was exhausted, my pain
              almost unbearable. I had to continue into unknown darkness, last of my strength ebbing away. Suddenly
              something rustled in tall grass. Out of nowhere, a huge white wolf I didn’t recognize showed his teeth
              right in my face. I saw it was about to bite me. I had no weapons on me, not even a knife. Closing my
              eyes, I said my goodbyes, but nothing happened; he pulled back. The grass rustled with at least a dozen
              large wolves surrounding me then a truly gigantic monster appeared. With his yellow eyes, he watched me
              for a second then gave me a lick.
            </p>

            <p>
              I hugged Freki with tears in my eyes. I was so happy to see a friendly face. Even if I was going to die
              here, at least I won’t die alone. Freki smelled around me, studying my eyes before letting out a long deep
              howl. Throughout the prairie, the howls echoed. At least fifty wolves were hiding inside grass, howling so
              long and loud like someone was dying. It took me a while to realize it was me.
            </p>

            <p>
              Then something incredible happened. Out in the distance, I saw the light come on. Then light got brighter,
              and there was another like a beacon of hope or a fallen star. My heart drummed loudly like in panic. I
              didn’t know what was going on. I wouldn’t dare to think about the first thought that came to my mind. I
              felt almost supernatural force giving me the strength to stand up. Holding onto Freki for balance,
              escorted by continuous howls, I slowly walked towards the light.
            </p>

            <p>
              The winter passed in lonesome waiting, snowed in, curled inside. The girls would put on their parkas,
              venture outside shovelling a new path through the snow. Each morning they milked cows, feed the horses,
              picked the fresh eggs, leaving some meat for the wolves. They built a large open, warm den where they
              spent most of their time.
            </p>

            <p>
              The wolves would let girls touch their babies, even take the weaklings inside where they would raise them
              in warmth, hand-feeding them back to strength. The girls and kids were a part of a big wolf pack, and
              there was always enough food for all. With all this care and help, the wolf population grew fast. Some of
              the wolves decided to leave, forming their own packs living in the wild, but even they would sometimes
              visit when hunger forced them back.
            </p>

            <p>
              There was nowhere near a shortage of things to do for three young women in a house with five children.
              Little carter was an absolute terror, running around banging into things. When he didn’t cry, he babbled
              incessantly; unlike his father, he just wanted to talk about stuff. Starla and Moni teased Sally, telling
              her she is raising a future politician, joking about how she should keep him away from Twitter, lest he
              gets confused for one.
            </p>

            <p>
              Moni’s twin girls Julie and Sarah, just started talking, and they were a handful, while the babies Colt
              and Montana cried like lite police sirens all the time. This would, of course, agitate young wolves, to
              which they would add their own howls. Living on a beautiful ranch in the middle of nowhere is a wonderful
              thing, but girls admitted that they should have at least invited their parents to help them breathe.
            </p>

            <p>
              The situation would improve as the day passed when kids would get worn out and run out of steam. In those
              moments, the girls would cuddle up, watch Netflix or listen to music. They loved their life, agreeing that
              coming back home was the best thing they ever did. This house, built to their specification, was the best
              possible home they could ever imagine.
            </p>

            <p>
              With fast satellite internet access, they stayed in touch with the world. Almost every day, they would
              chat with their parents showing them their life. Starla’s parents missed her so much, they even suggested
              leaving California and going back. They only left Wyoming for Starla. Who would have guessed she found a
              better life settling the wild west, as they called it. The girls also continued their studies. The
              universities were very understanding of their unique situation. All the courses and work were done online.
              Starla and Moni committed to getting their masters, while Sally wanted a doctorate.
            </p>

            <p>
              With all that money they were making, plus the millions sitting in a garage, they never had to work a day
              in their life. They could focus on things that really mattered, like love for each other and raising their
              children, teaching them to become amazing humans. All three girls were heavily lactating, which made for
              interesting and wet lovemaking sessions, and they found time for that every night. Fucking each other to
              exhaustion became a routine and a favourite part of their day.
            </p>

            <p>
              Sally still did talks and lectures but only remotely through video calls. The ranch house was so big it
              even had a fancy office with computers and cameras and all sorts of things. Moni showed a lot of interest
              in photography. She decided to join the school. There was a lot of nature and wildlife, just sitting
              outside the front door. She already got several accolades for filming wolves. One of her photos with
              sleeping babies snuggled with a pack of young wolves while a wolf mother watched found its way to a
              National Geographic cover.
            </p>

            <p>
              Starla set up a blog and wrote stories about living in a house on a prairie, riding horses, and playing
              with wolves. Hundreds of people wrote to the girls, begging them to let them visit their nature reserve.
              Sally was busy writing another book. She already got a publisher lined up for it. What could have been a
              long boring winter, turned out to be some of the most productive time of the girls’ lives. That, too,
              confirmed to them that coming back was the right choice.
            </p>

            <p>
              Everything was great except that one thing. They loved each other with whole hearts, but at the same time,
              they were heartbroken. They waited naked with a leash by the window, looking outside, praying for carter
              to come back. There was no doubt in their minds or their hearts that he was coming, but waiting for it was
              really hard. They worried about him, thinking he must be hurt, and million other things came to mind.
            </p>

            <p>
              Every day one of the girls would fall apart crying, losing the faith that Carter would ever come. The
              other two would quickly pull her back from the brink of despair, assuring each other that all they needed
              was faith. Every morning they welcomed the sun, giving thanks for the gifts, and each evening they kneeled
              by the window waiting for their man to find his way home.
            </p>

            <p>
              The snow started to melt, the world turned green. The early cherries began to blossom, turning the ranch
              into a dream. Little Carter ran fast with baby wolves; they had a pack of their own. Starla let all the
              horses loose they happily galloped around in a circle. They had two baby horses jumping around curious,
              playing with the world. Moni took her tripod and camera, escorted by Geri and Freki. She took hundreds of
              pictures of a happy Montana life in the spring.
            </p>

            <p>
              One night the girls woke up with a start. Terrible howling like they never heard before coming from the
              outside. Sally shouted the same thing that was on everyone’s mind “Carter!” The girls jumped up, switching
              on the lights, trying to reach the doors. They looked around and found nobody there. No lights, no car
              engines, just blood-curdling howls.
            </p>

            <p>
              The girls knew this was it; they felt it in their bones, but something was wrong, and they panicked.
              Starla ran out of the house naked, straight for the barn where she mounted the first horse and rode it
              outside. Like magic, Geri appeared howling and running into the grass. Starla following fast on his tail,
              riding out into the night. She heard the howls getting louder, the sky in the distance started to get
              bright. Starla saw a bunch of shadows in front, a circle of wolves looking at something, a kneeling man
              holding onto a wolf. “Carter!”
            </p>

            <p>
              Starla screamed, seeing the man’s smile; then, he collapsed into the grass. She shouted loud, screaming
              for help, the two strong lights of a Hummer approaching. Stopping in front, the girls dragged him inside
              the car, heading back.
            </p>

            <p>
              Carter was alive, just unconscious. They dragged him into the warm house. The girls sobbed, tears running
              wild when they undressed him, seeing his broken body and numerous scars. He looked thin and exhausted,
              hardship and suffering etched in his face. In sheer panic and desperation, they ran around bringing the
              medkit. They stuck needles inside him put him on an intravenous drip. It was a miracle he was even alive;
              they could only imagine the horrors he’s seen.
            </p>

            <p>
              He slowly opened his eyes, recognizing the girls. “I am home,” he muttered with a big smile, letting out a
              tear. His biggest wish and the greatest dream came true, and he felt at peace. He found his peace and his
              great love. He made it home like the Origin promised. The young mothers brought him his children. He
              kissed each too weak to hold them in his arms.
            </p>

            <p>
              “You must continue your journey, follow your path and seek your happiness. You cannot stop until you find
              it” the voice of village elder went through Carter’s mind, for the first time making complete sense. “Here
              in Baalbek, we can only show you the way till your destiny reveals itself. We all have our paths, and you
              must walk yours. Your war is over; it’s time to go home.”
            </p>

            <p>
              The light of dawn broke through the windows, carrying the scent of flowers on a light breeze. The girls
              saw the sunshine touch Carter’s face. The great gift of life, the sun, and the moon, the great cycle
              repeating itself from eternity into eternity, bringing the gift of light, laughter, and joy. The gift of
              birth and the gift of happiness. Oh, blessed be all those gifts the Origin gives in the eternal cycle of
              all our lives. Each day is a precious immeasurable gift, we use to share and gift to each other. The gift
              of love we choose to give gives back more with every breath. Blessed are all those gifts of Origin.
              Blessed is the life we lead, blessed is the love we give and receive, blessed be everything.
            </p>

            <p>
              Every sunrise, Sally would go out into a garden, surrounded with flowers, next to her two lovers and best
              friends. They welcomed the sun, thanking the Origin for all the blessings and gifts they have. Every
              evening Sally would take little Carter up, bearing flowers to a little grass hill with his father’s grave.
              Sitting in the grass, she told him the stories of honourable men and sacrifices they made in service to
              others, teaching him lessons children should never forget. Before he died, Carter lived for a few days,
              enough to say goodbye and tell them his story to the end. He finally found his peace, love, and home. His
              body was laid to rest in his land, forever remaining the part of Montana.
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Greg-Rumpel-Stiltskin-ebook/dp/B0B298962T'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3y7XejC'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Greg?id=8TNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>

              <!-- <a href='chapter-2-personal-power' class='retailer preview-button' style='margin-top: 10px'
                >Next chapter >></a
              > -->

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
   
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
