---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Montana | Chapter 7 - Bloodlust'
  description='Montana novel by Rumpel Stiltskin'
  image='/images/montana.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/montana3.jpg' /> -->
          <p class='emp grey'>MONTANA</p>
          <h1>Chapter 7 - Bloodlust</h1>
          <div class='biggest'>
            <p>
              Starla and Moni listened to the sound of Hummer’s engine disappear in the distance, then it was just them.
              Starla cleaned up the blood from the walls and the floor to avoid further upsetting Moni, who was in her
              eighth month of pregnancy. She turned out much sturdier than Starla thought. “I didn’t just fuck and
              giggle all this time; I learned something too”, she said. Moni told Starla how she used to watch Carter
              for hours and emulate some of his traits. Not the masculine traits but human traits like confidence,
              directness, honesty, loyalty “for all his flaws, he is one in a million”. Starla’s eyes filled with tears.
              She hugged Moni and cried for a while. “I could have run”, she said. “I could have jumped on a horse, and
              he would never catch me”. Moni nodded and said, “I know, you stayed for me”. Starla cried louder and said,
              “no. I stayed for him”.
            </p>

            <p>
              Both girls were extremely stressed and emotional. They bounced thoughts and feelings from one to another,
              crying themselves out until they were spent. Little Carter started to cry, and Moni took him in her arms
              while Starla rummaged through the pantry, looking for baby formula. They never had to use it before as
              Sally always had plenty of milk. In fact, girls would often help themselves with a taste, which turned
              Sally on to no end. Young Carter was old enough for baby food, but all the motherhood books recommended
              breastfeeding with the food, and the little one loved his mama’s milk; they all did.
            </p>

            <p>
              The girls boarded up the house and waited. It suddenly felt scary to be alone after such an ordeal. They
              refused to deal with it then, leaving the emotional dramas for when Sally comes back, and there was no
              chance of Moni going into early labour from stress. Starla watched Carter deliver his son, but she was
              sure she couldn’t repeat it if Moni starts to give birth prematurely.
            </p>

            <p>
              They sat in silence, feeding the baby, when Starla heard a faint moan. Both girls shook at that. Carter
              told them to stay home and don’t get out, but what if there was one more of the criminals there, hiding
              somewhere. Starla packed Moni and young wolves into the baby room, getting outside with a gun in her hand,
              listening carefully. There it was again, the moan coming from the far side of the new, unfinished barn.
              Moni walked slowly, checking everywhere for a potential ambush. Geri and Freki sitting in the middle of
              the yard, following with their eyes.
            </p>

            <p>
              Slowly she made her way to the other side then got in through the side door. What she saw made her head
              spin. She coughed and retched, vomiting on the floor, fighting for air. It was the sight more gruesome
              than slasher-style horror movies and a million times more real. Three bodies hung by their hands from the
              support beams. One body was completely sliced into pieces, a pile of body parts and organs laying in a
              heap underneath it, only the headless part of the upper torso still hanging. The other body was a man that
              tried to rape Moni. He was hard to recognize. His eyes were pulled out, ears and nose cut off. His cock
              and balls were burned with a torch to a crisp, and his belly sliced, guts and organs spilling out like
              slaughtered pig, hanging in threads.
            </p>

            <p>
              The last man was the source of the moaning. He was still alive. Starla instantly knew he was left alive to
              suffer and die slowly as a punishment for raping her. The rapist hung there, tied by his wrist. All his
              skin was peeled off; he was skinned alive. He looked at Starla with frightened eyes, endless terror and
              pain in them. He squealed, begging to be killed. Starla swallowed heavy, forcing herself not to puke
              again. She lifted a gun, pointing it at the rapist’s head, then an angry look passed over her face,
              remembering what he did to her. She lowered her gun, moving a few steps away from the man, then whistled
              sharply. Within seconds Geri and Freki appeared, their teeth glistening in the moonlight, like mythical
              Cerberus the hell-hounds. The look of abject terror got into the hanging man’s eyes. Starla spat at him
              and said, “nobody touches my master’s property”. The guy opened his mouth to scream, but the wolves ripped
              him apart. Starla vomited again, spat out and cursed, returning home escorted by the wolves.
            </p>

            <p>
              I drove fast with a mission, following the direction of the car carrying Sally. The two rapists watched
              too many movies. They thought I was going to beat them up a little then call the cops. They’ve never been
              to Jahim City. I let loose of all my anger and pain on the first guy who died screaming as I cut him,
              burned him, disembowelled him, laughing like a madman. It made me sick in my stomach to see what I’ve
              done. I was a monster like those men in Srebrenica and Jahim City. I finally understood their violence.
              Those men were brutal but very effective; that’s why they were winning the war.
            </p>

            <p>
              The other guy screamed in fear, pissing himself, seeing a lunatic murder his friend in the most gruesome
              way. Within minutes I knew all of his secrets, but I listened, asked questions, then asked them again.
              This was too important to miss for revenge, no matter how much I wanted to hurt him. As they say, the
              devil is always in the details, and I was all about that.
            </p>

            <p>
              The rapists were members of a large gang that trafficked people, grew and distributed drugs. They had
              their fields and warehouses past the forest to the north, towards the Canadian border, where they smuggled
              it in and out. Their settlement had a few cottages and many tents, armed to the teeth but poorly
              organized. The group kept to themselves mostly. Occasionally making it to the town to stock up on
              provisions similar to what I did.
            </p>

            <p>
              When I was shopping with my girls, one of the nosy salesmen worked with the gang. They got drunk, and he
              told them about my women, saying that it would be an easy target for a bit of wholesome family fun,
              promising to tell them all if they gave him a piece after they were done. The gangsters thought that would
              be an amusing adventure. A guy in the middle of nowhere with a bunch of hot girls was some low-hanging
              fruit. They got into their jeeps and set out to find me. Now I was going to find them instead.
            </p>

            <p>
              I drove fast and reckless; I didn’t care if I damaged the car. It was likely a one-way trip for me anyway.
              Just because I was angry and scared, it didn’t mean I lost my mind. I knew the score. I was one, and they
              were many. I had no time for recon and plan. I had to act quickly to save Sally, something I might end up
              paying for with my life, and I was okay with that. “Live fast, die in a blaze of glory” I remembered the
              words of my lieutenant. I watched him explode, driving over a landmine in Kosovo, the very first day of my
              deployment there. Nothing glorious about the way he died.
            </p>

            <p>
              I saw faint lights far in the distance, abruptly stopping the car in its tracks. Pulling out thermal
              binoculars, I watched and counted. There were over fifty people that I could count in the camp ahead. It
              would be so easy if Sally wasn’t there. I could sneak up and just gas them, then shoot them in their heads
              while they were knocked out, but I couldn’t risk it. Sally would probably survive the gas, but she was
              pregnant. It might hurt the child.
            </p>

            <p>
              Driving slowly, I came as close as I could. Much too far for their guns to reach me. I tried not to think
              what they’re doing to Sally, and I had to act fast; create a diversion. I knew mine was a bad plan. They
              will attack me, some will run, but at least they’ll stop what they were doing to her. I mounted my TAC-50
              on top of the car, with the best thermal night-vision scope the money can buy, laid out the clips and
              watched. One, two, three, I counted the gangsters for as many bullets as I had in my oversized custom
              clip.
            </p>

            <p>
              Holding my sniper rifle firm, I took a few breaths, feeling the calm settle in my body, smelling the still
              air. I started shooting, emptying the whole clip in fast succession, popping it out and plugging another
              one in before I looked at what I’ve done. All bullets reached their targets, bodies lying on the floor.
              The rest of them running around like a headless chicken in panic and confusion. I waited for them to
              settle down in their hiding spots, choosing the soft targets before dropping another volley at them and
              changing the clip. The fuckers thought they were safe behind trees and car doors. My AR-50 was heavily
              customized, and I used armour-piercing rounds in the second clip.
            </p>

            <p>
              The gangsters were in a panic, not knowing whether to run or hide. I kept picking them off one by one.
              Some saw the flashes, tried to shoot back at me; I was too far, and their shooting had no effect. I kept
              refilling the clips between the volleys and shooting back at them. A few bright ones sat in cars and drove
              towards me, hoping to come closer and gun me down. I let them a quarter of the mile in, then shot their
              engines. The group tried to hide behind cars. They quickly learned a lesson when I switched to incendiary
              bullets and shot their gas tanks. The group panicked and started to run. I mowed them down like rabbits.
              Some thought if they hid in the grass, I wouldn’t be able to see them. They were right, of course; my
              thermal vision saw them instead.
            </p>

            <p>
              I kept shooting for a few hours, thinning the herd. Some tried to run and drive off, I shot their cars.
              Some tried to hide, most unsuccessfully. I shot over forty people before I ran out of targets. I didn’t
              fool myself; I didn’t get them all. Just those unlucky and stupid who thought they could hide behind a
              tree or something metal. I watched for a while. Everything was still. Sitting back in the car, I drove
              closer, well into their gun range, then checked again. No movement; they were too scared or too clever to
              come out. I quickly packed the sniper rifle, picked up my AR-15 and a bunch of clips before getting out of
              the car, moving to the side of the camp, wearing night-vision goggles on my head.
            </p>

            <p>
              I circled around the camp, examining everything. Dead bodies everywhere; it was carnage. I found two guys
              hiding behind a big rock, looking scared. One in each hand, I pulled two knives, snuck up to them from
              their back, and stuck the knives in the tops of their heads, twisting them. Their skulls cracked open like
              a walnut. They wordlessly dropped to the ground, brains and blood spilling. I sat there and watched,
              sheathing the knives after cleaning them against the dead men’s clothes. I found one more guy hiding
              behind another rock. He saw me run out of the forest and was about to scream, but I viciously kicked him
              in his face with the heel of my boot, crushing his head against the rock, leaving just a bloody streak
              behind.
            </p>

            <p>
              There was nobody left alive; I checked twice. Everyone else was huddled in the central building with a
              basement. The building wasn’t made as a fortress, and it had large windows and flimsy doors. I counted six
              guys on the ground floor. I had no idea how many were hiding in a basement, where I suspected Sally was
              taken. Circling the house a few times, I found the best spot then emptied the oversized clip of my AR-15
              into them, peppering the place with rapid-fire before disappearing into the darkness. Only two guys were
              left alive inside, and they were wounded.
            </p>

            <p>
              I jumped in through the smashed window, pointing a gun at them “hands up”, they immediately complied.
              Within seconds I had them tied with zip ties, wrists and ankles together, in a painfully contorted
              position; they were going nowhere. I saw the stone stairs going down, a large metal door baring the way. I
              could hear female screams from inside. I banged hard on the door and shouted, “lay down your weapons, and
              get out hands up if you want to live” dead silence followed. I duct-taped a hand grenade to the hinge and
              pulled the pin. It went off, and the door skewed. Idiots thought they were safe behind simple metal doors;
              too many movies.
            </p>

            <p>
              “This is your last warning. Lay down your weapons and come out with your hands up if you want to live.
              I’ll count to ten, then I&#39;ll throw in a grenade and start shooting. One!” I heard a commotion
              downstairs, then on the count of four, the first guy came out. I patted him down, tied him with zip-ties,
              laying him on the floor. Eight guys came out, and I laid them down.
            </p>

            <p>
              I pulled the gun then carefully came down, looking around, ignoring Sally, suspended naked from the
              ceiling, her body crisscrossed with whip marks. I saw a movement around the corner. A man with a gun
              jumped up, but he was too slow, I shot his shoulder and his knees, his gun flew away, and he collapsed to
              the ground screaming. I went from place to place, checking every inch. There were three adjoining rooms.
              One was full of cash, the other full of drugs, and the third contained twenty scared naked young women in
              pitiful condition behind metal bars. They looked at me like seeing god, frightened to the bone, hope in
              their eyes. I lifted my finger, put it over my lips, continuing my search. When I was convinced I got them
              all, I came up to Sally and cut her bonds. She dropped into my arms and burst into tears, kissing me like
              crazy.
            </p>

            <p>
              “Are you hurt. Tell me!” I asked her, anger and fear showing in my voice. “I am okay, I will be fine. I
              love you so much. Thank you, oh thank you”. I set her down on the ground. “Stay here. Don’t come up” she
              nodded. I went upstairs, dragging the screaming man, dropping him at the tied guys. There were eleven of
              them. “Who is the boss?” I shouted, nobody answered. I took my knife, went from man to man, cutting their
              Achilles tendons as they screamed. This was an extra precaution if they managed to get free. They
              weren&#39;t running away, ever. “Don’t make me ask again. Who is in charge here?” Everyone pointed at the
              guy with his knees shot. “Who is second in command?”
            </p>

            <p>
              I dragged the three main guys into the forest, tying them to the trees, facing each other, then getting
              back to the room and shot the rest of the men in their heads. I went downstairs again and saw Sally opened
              the cage and liberated the twenty girls. They looked pitiful. Some needed urgent medical attention.
            </p>

            <p>
              “Who is the leader here?” I asked. All the girls looked at a sturdy blonde with a defiant look. She had
              more old bruises than any of them, yet she seemed strong. I noticed an army tattoo on her shoulder. “What
              is your name?”
            </p>

            <p>“Emma”</p>

            <p>
              “This money”, I said, pointing at the room full of cash, “is for all of you to split equally. Consider it
              reparations for trauma and abuse you’ve suffered. It won’t fix things, but it will help you get your life
              together” the girls nodded “how many of you are in a good enough shape to work?” Seven girls and Sally
              lifted their hands. “I want you to take this money and load it into the truck” Sally will drive it with
              you six”, I pointed at the girls. “Emma, you will stay with the rest. Take care of them when the police
              get here. They will take you to the hospital and get you better. Once you are released, you will meet with
              Sally and the other six and split the money. Keep it a secret. If the police find it, you won’t get
              anything” The girls nodded in understanding.
            </p>

            <p>
              “One more thing. Do not go into the forest, no matter what you hear,” I said before leaving. Ten minutes
              later, I rolled up a small truck, and the girls started loading the cash. Some have vomited seeing the
              blood and carnage, but I carried all the bodies away, throwing them into the side room to avoid spooking
              them even more.
            </p>

            <p>
              The girls shivered in fear as they heard screams echoing through the forest. It took hours to load all the
              cash, as long as the screams lasted. I tortured the three bosses in a similar style as their friends on my
              farm, except that now I had more time. They begged and pleaded for me to stop, but I wouldn’t. I carried
              so much anger and pain inside me. Seeing them suffer was almost therapeutic in the most bizarre of ways.
              They told me everything; all they knew, thought and suspected. They laid out their whole organization in
              front of me; their whole network, suppliers and buyers, the middlemen, corrupt officials, their homes,
              families, friends and bank accounts. I knew it all. I switched off my handheld recorder, having recorded
              their confession. I left them alive and dying, begging me to kill them and went downstairs one more time.
              I found a hidden floor safe and tried the combination it opened without problems. I pulled out a phone,
              laptop, a bunch of documents and memory cards.
            </p>

            <p>
              Switching the laptop on, I tried the password the boss gave me and looked around. It all seemed to work. I
              packed it up, heading back to the tortured guys. “Looks like you told me the truth. Now, who raped my
              woman?” The two guys looked at the boss. I pulled my gun and shot the two in their heads, and the boss
              started to scream again. I ripped his clothes off with my knife, tied the rope tight behind his cock and
              balls, then sliced them off. The man screamed in terror, seeing himself neutered, the tight rope stopping
              the bleeding. One by one, I cut off his fingers and stuck my knife into his eye, popping it out. “I really
              hope you survive”, I said and left him there screaming. I punched him hard, breaking his teeth, then stuck
              the knife into his belly, rupturing his stomach, causing instant sepsis. I saw a soldier once dying from
              sepsis. He begged me to kill him. I couldn’t do it, so I gave him my gun.
            </p>

            <p>
              I hugged Sally, kissed her, she squeezed me as hard as she could. “I love you, Sally”, I told her, and she
              burst into tears. I gave her a GPS with directions to the farm. She sat in the truck with two girls in
              front, four of them in the back with the cash. I helped carry the weak girls from downstairs into the
              living room, wrapping them with blankets, reminding them to say nothing about the money. They all cried,
              thanking me for saving their lives. I hugged them one by one, wishing them good luck and happiness. Emma
              shook my hand firmly, wearing the clothes she took from one of the corpses. “take care of the girls,
              soldier”, I said, giving her a loaded pistol and extra clip. She was a tough girl, as though as they get,
              she saluted me, putting the gun under her belt. I sat in the car and called the emergency, reporting a
              shootout and victims. Far in the distance, I watched with my binoculars long after I left, the helicopters
              land.
            </p>

            <p>
              Carter used to feel that he was cursed. Nothing that he did in his life turned right. All the people that
              he loved and cared for were taken from him this way or another. He tried to kill himself several times,
              but others always stopped him. He used to fear that if they released him amongst people, he would snap and
              go on a killing rampage. The instant change from after almost two decades of life on the battlefront to
              being surrounded by carefree people could trigger a sudden blood lust.
            </p>

            <p>
              It felt then, right at that moment, hidden by night and tall Montana grass that Carter was drowning. For
              just a moment, he dropped his guard. He had a dream, his woman and a child, daring to believe that he
              found his peace had his life. The fucking cretins just had to mess with that. He had no illusions. Carter
              knew the police would come. They’ll take the girls, question them, and they will talk. The police will
              find the farm. It was just a matter of time. Carter’s women will get recognized, and it will snowball from
              there. In any case, he gave the girls a phone and the means of escape. They had their freedom, and they
              could leave at any time.
            </p>

            <p>
              Carter played his cards, and he lost big time. At least he had a brief moment of respite, where he felt
              love, a true love for his woman and his son. He prayed to god that they are well, blaming the drug dealers
              and his unlucky star for ruining all that. The tortured bosses told him all their secrets. It was a big
              gang, the ones in the forest being just a small part. After the massacre, stolen money and drugs, it
              wasn’t a question of if but when they will come for Carter or his girls, and he couldn’t allow that.
            </p>

            <p>
              His dream was great while it lasted, but now it was over, and Carter was coming for his pound of flesh. He
              could feel it in his bones the bloodlust.
            </p>

            <p>
              It took hours of bouncing with the truck over the raw Montana land. The GPS pointed the coordinates, and
              Sally knew she was getting closer. The girls next to her were constantly crying, working through their
              shock and the emotional stress. She had to stop a few times to check on the girls at the back. They were
              in even worse condition, and Sally understood. She was kidnapped too, but unlike those girls, she was
              never brutalized or raped, which they were for months.
            </p>

            <p>
              Sally stopped the truck just before dawn, and girls watched her go outside, deep into the tall grass and
              raise her hands. They didn’t know what was happening, but it was beautiful. Sally’s naked body was set
              alight by the rising sun. Making her look like burning in the light of dawn. The rest of the girls watched
              in silence. The beautiful ritual filled their hearts with a sense of freedom for the first time in a very
              long time.
            </p>

            <p>
              The truck resumed its journey for a couple more hours before they noticed a farmhouse in the distance. As
              they approached, Sally laid on the horn, beeping for all it was worth. The two girls in the front of the
              car were petrified, seeing two massive wolves running towards them. They screamed, seeing their huge teeth
              as they stopped, howling at the truck in response to the horn.
            </p>

            <p>
              They couldn’t believe what happened next. Sally jumped out. They thought she was crazy and the wolves will
              rip her apart. Instead, she started rolling with them in the grass. A large black horse galloped towards
              them, carrying a gorgeous naked redhead on its back. The two girls hugged and kissed with tears rolling
              down their faces before sally sat back in the truck, following Starla on the horse with the wolves. She
              saw Moni standing by the doors, waving at her, carrying a child in her hands.
            </p>

            <p>
              Starla galloped away towards the new barn, quickly removing all traces of dead bodies, feeling sick in her
              stomach, puking twice. She cut them down and pulled them to the side, covering them with loose hay, making
              a mental note to bury them later that day. Just as she finished, Sally rolled the truck in, closing the
              barn door, hiding it from sight. The girls poured out in tears, Starla taking care of them while Sally
              took off to hug and kiss Moni and the child.
            </p>

            <p>
              Starla was shocked, seeing all the money. There must have been tens of millions inside. She lined up the
              crying women and led them into the house. There was plenty of space inside, thanks to Carter building
              extra rooms. Nobody knew what to do with the extra space, but nobody dared question Carter’s plan. It
              turned out that the rooms were handy for six new guests living in their house. A long time ago, Carter
              bought two more beds and mattresses but left them in storage unpacked. This, too, came in very much handy.
              Each of the mattresses could hold three people, at least until they assembled the beds.
            </p>

            <p>
              They marched their guests into the bathroom, three at the time to shower, giving enough time for the
              immersion heater to warm up enough water for the rest. All the girls have been severely abused and beaten
              for months. They looked better than what they really were. Starla dispensed antibiotics and supplement
              cocktails while Moni prepared the food for all. At first, the guests didn’t understand why the three women
              were always naked, but by the evening, they didn’t care. It was nice and warm in the house, and clothes
              seemed unnecessary. The captured women long lost any sense of modesty, being kept naked in a basement cage
              for months.
            </p>

            <p>
              “Yes! I got you now motherfucker”, Dean shouted, reading the police reports. Earlier, he watched the news
              report of carnage in Montana. Some sort of a vigilante or a relative of one of the girls shot up a large
              gang, shooting them with a fifty-cal sniper rifle, leaving only carnage behind. The total death toll was
              sixty-three drug dealers. The report talked about human trafficking and went on to the hospital treating
              victims.
            </p>

            <p>
              After reading the report, Dean figured it was his man. The place was way off from where he shot up the
              car. It was well hidden, far from major traffic arteries. It was the perfect hiding place for the drug
              dealers as well as for the man. He reasoned that something serious happened that brought the drug dealers
              in conflict with the guy, and he exterminated them as one does rats. The whole crime scene screamed, “it
              is the guy”. The use of a high-powered rifle and sheer audacity to attack a large group of armed guys and
              immense brutality by which some of them were killed told Dean it was his man. “He tortured them for
              answers”, Dean mumbled, feeling the goosebumps rising on his arms. “This is far from over”, he was
              convinced that the man didn’t torture the men just for sport. He was looking for something, and by the
              way, the guys in the forest were killed. He had no doubt that they told him exactly what he wanted to
              know.
            </p>

            <p>
              Dean looked at tortured bodies carefully, watching the style in which they were killed. Every wound told a
              story of someone extremely pissed off suppressing his anger. Only one of the criminals survived, and
              barely, he had no doubt that the man wanted him to live, to make him suffer as he tortured him so badly it
              was almost better if he died. They still didn’t question the guy. He lay in the hospital in a medically
              induced coma. When they found him, he babbled, screaming in pain, begging to die. Clearly, whatever was
              done to him, made him lose his mind.
            </p>

            <p>
              Dean took a leave of absence and boarded the first plane to Montana, renting a car and driving it straight
              to the hospital. He showed his badge and was allowed to visit the women, most of them recovering nicely
              from the injuries and shock. They were all cagy about talking to him except a strong-looking blonde who
              seemed to be their leader. He checked her out, learning she was a soldier that went missing over a year
              ago. The army guys already questioned her, and she told them everything she knew.
            </p>

            <p>
              “My name is Dean. I am a detective inspector for the Los Angeles police department. I work on a case that
              I believe might be connected to yours. Could I please have a moment of your time?” Dean asked, showing her
              his badge. The girl nodded, introducing herself as Emma. She repeated her story when asked. Dean learned
              nothing new as all of it was already in a police report. He pulled out three pictures, giving them to her.
              “Was any of those girls involved?”. Emma immediately recognized Sally, giving Dean back his photo, nodding
              and saying, “the man came for her”.
            </p>

            <p>
              It was an incredible revelation. Dean wanted to jump in joy but managed to contain himself. He talked to
              Emma for a little while before excusing himself. “Sally is alive”, he exclaimed back on the street, doing
              a little jump. After so much time, he thought she was long dead. Emma told him that she looked well and
              healthy, there were no signs of long-term abuse. It all started to make sense. For some reason, the man
              kidnapped Moni because of Sally. There was some strange interplay there, and Starla just got caught in a
              crossfire. Collateral damage, as the soldiers would say. There was no evidence of him getting rid of
              Starla, and now after learning about Sally, there was no evidence of the guy being abusive. The only thing
              that made sense was that he kidnapped Moni to force Sally into something or maybe to fix something. He
              remembered how heartbroken Moni was. Perhaps it was the same with Sally, and the man couldn’t handle the
              psychological pressure or was worried that Sally might kill herself because Moni had all the precursor
              signs of someone on edge.
            </p>

            <p>
              “Why would he made such a spectacle, a murderous rampage, then free the girls? It was the man who called
              the police. Why did he risk so much?”, Dean mumbled sitting at the diner, sipping his coffee, deep in
              thought. If the girl escaped, it was unlikely she would do it alone, and if she did, how did she get
              there. Maybe she was kidnapped again, talking about bad karma. Even so, why would the man come after her
              in such a raw, violent and public way? Dean was getting a headache, none of it made any sense, but he was
              certain that there was a simple explanation, just a little out of his reach.
            </p>

            <p>
              The most obvious and simple reason was that the man loved Sally, he was in love with her, but Dean could
              never come to that conclusion. His brain didn’t work that way. The same thing that made him enormously
              successful at his work was the thing preventing him from seeing a simple truth. Dean never loved anyone.
              He thought he did, but it was more his ego and a deep sense of familiarity than love. Dean couldn’t really
              love anyone. He wasn’t built for that; he was a psychopath.
            </p>

            <p>
              Contrary to popular belief, not all psychopaths are killers. They are amongst us in various forms. Dean
              got diagnosed with psychopathy when he was a child. His parents put him through special training and
              psychotherapy to try and manage his condition. It kind of worked, but regardless of that, he gravitated
              towards law enforcement and violence, becoming a police officer. Being able to think differently, Dean was
              very effective in his career, which inevitably led him to Cyrus, his psychiatrist friend. Cyrus
              specialized in psychopaths, and Dean needed a lot of help because, at that time, he was embroiled in a
              complicated personal situation involving another violent psychopath. It was only because Dean was one that
              he was able to catch the other guy and kill him. This was the first time he killed anyone.
            </p>

            <p>
              Dean’s perseverance and logic led him this far. He felt closer to the man than ever. “He made a tactical
              mistake”, Dean mumbled. For the first time since the very first day, Dean found an error. The man he
              chased was meticulous and calculated. It was so unlike him to make a mistake, especially not such a
              colossal one. Later that day, he talked to a sketch artist, who showed him the picture, an amalgamation of
              all girls’ stories. He sent a scan of the drawing to a friend of his in the army, looking for a retired
              top-ranking sniper looking like that.
            </p>

            <p>
              The following day as Dean sat in a diner having his lumberjack breakfast, two guys in military uniforms
              introduced themselves and sat at his table. The younger one gave him a folder. Dean opened it, immediately
              recognizing the man he was looking for on the first page. “Carson Reed”, Dean mumbled, scanning quickly
              through the document. Marine, sniper, special forces, Bosnia, Kosovo, Iraq, Afghanistan, and those were
              just the names of places he recognized. The man was a decorated veteran, a hero. He held several
              unofficial sniper records, and his kill count was off the charts, something the army wouldn’t publicly
              acknowledge. This guy made Rambo look like a toddler playing in the sand.
            </p>

            <p>
              “Please, if you find him, call us immediately”, the older man spoke, handing out a card with his contact
              details. “It is a matter of national security. Do not try to engage him; he is mentally unstable and
              extremely dangerous”. Dean almost choked, trying to suppress his laughter. “No shit, he is dangerous”, he
              thought, remembering his three-bullets Montana adventure. Saying that the man was dangerous was like
              throwing a person butt-naked into a pit full of pissed off vipers, saying, “careful, they bite”.
            </p>

            <p>
              The army men let Dean read the rest of the dossier, taking it away as they left. “Carson Reed”, Dean
              muttered, writing down everything he could remember from the folder into his notebook. All his assumptions
              about the man so far proved correct. He finished his breakfast and headed out. For half a day, Dean
              canvased the shops, showing his badge and a sketch of a man, talking to salespeople. Several people have
              remembered him, they didn’t know who he was or where he lived, but he came with a Hummer and a large
              trailer from time to time. One salesman remembered seeing him with three girls, one of them pregnant and a
              baby in his hands. Dean showed him the photos of the girls, and the man confirmed those were the three,
              pointing at Moni, saying, “she is the pregnant one. I remember her as my wife gave her some water and
              cake, sitting down and chatting for a bit. She later kept telling me how nice all of them were and that it
              doesn’t matter that they were Mormons”.
            </p>

            <p>“They are Mormons?”</p>

            <p>
              “Of course they are son, why would there be three women with one man, and why would they keep themselves
              isolated like that?”
            </p>

            <p>“Isolated where?”</p>

            <p>
              “Down in the prairie somewhere, there aren’t any other towns or ranches nearby, and I’ve lived here my
              whole life. If they came here to buy stuff, it means we’re the closest town, and there isn’t nothing else
              here but forest and grass”.
            </p>

            <p>
              Dean thanked the man and left. He sat in a diner to have a late lunch, pulling out his laptop and went on
              Google maps. He found a town and the site of the carnage, then inch by inch examined every square looking
              for clues. Some eighty miles from both places, deep in the grass, was a small farmhouse with a coral, a
              barn and few other buildings. There was nothing else but this for at least a hundred miles. He called a
              friend in the land registry to do a quick check for Carson Reed in Montana. Ten minutes later, he got an
              email with a title. It was a match.
            </p>

            <p>
              Dean drove to the car rental place, asking for a truck that could drive over raw land. They didn’t have
              any on stock, but the owner rented him his for a good chunk of cash. For a moment, Dean thought of getting
              armed, dismissing the idea, thinking the less threatening he appears, the more chance he’ll have to
              survive.
            </p>

            <p>
              Early next morning, just after the first light, Dean made his way down the road, trying to find a way to
              get through. It took him hours to find a break in the forest and carefully rode through it for an hour
              before he was clear. Last night he bought a GPS in an electronic store, the phone signal on his phone was
              none. He drove carefully over uneven grassland, heading straight for the point marked on his device.
            </p>

            <p>
              Late afternoon he saw the house in the distance and slowly approached. He stopped some half a mile from
              the house and walked out with his hands raised. In abject horror, he quickly ran back to the truck,
              locking himself in, as a pack of wolves with two huge beasts hopped around. One huge wolf bit off a
              mirror, a younger one jumped on a hood trying to bite his neck through the glass. He had only his service
              pistol. There weren’t enough bullets to stop the pack. In desperation, he honked the horn, only pissing
              the wolves more.
            </p>

            <p>
              Suddenly the wolves raised their ears, looking around and ran towards the house. Dean saw a girl in the
              distance with a rifle in her hands. He honked like crazy trying to warn her to run into the house. The
              bunch of bloodthirsty wolves got her scent. In a huge surprise, he saw a massive grey wolf reach her and
              lick her face, followed by the whole pack showing friendly signs. He took his binoculars and focused,
              immediately recognizing Starla, dressed in cameo clothes. She looked strong, vital and determined, holding
              a guy like it wasn&#39;t her first time.
            </p>

            <p>
              Dean turned on his engines and very slowly proceeded towards her. When he got to about a hundred yards, he
              saw her raise the rifle and stopped, turning off the engine. Slowly and carefully, he opened the doors,
              shouting, “don’t shoot, it is inspector Dean Baylor, I just want to talk”. Starla kept the gun pointed,
              surrounded by wolves as he came out. “I am unarmed. I just want to talk”, he said, approaching slowly onto
              a patch of cut grass.
            </p>

            <p>
              He slowly took off his jacket and shirt, undressed into his underwear, turning around with hands up before
              approaching closer. Starla dropped the rifle, pulling a pistol, pointing it at Dean. She said, “keep your
              hands up, walk slowly, get into the house”. She followed him a few steps behind. He opened the door,
              making his way into the living room. “Sit”, she ordered, Sally appearing from the other room, tying Dean’s
              arms and legs to the chair with heavy-duty zip ties. Only after checking his bonds did Starla lower her
              gun.
            </p>

            <p>
              “Now be a good boy and call your friend the sheriff”, I said, holding a knife under the shopkeeper’s
              throat. He quickly dialled the number, “Hey Ted, can you please come over? I have some information about
              that guy you were looking for. Yes, now, I think it is important”. He hung up, and I pushed him into a
              chair. “Let’s talk now about kidnapping and raping my girls”. The guy started to wail and stutter,
              shivering in fear.
            </p>

            <p>
              “I want you to tell me everything, including your illegal work and connections. I want the names.” I
              watched him spill the beans, occasionally stabbing him lightly in his belly with my knife, enough to make
              him bleed, not do any serious damage. The camera on a tripod recorded his confession. He told everything,
              how he saw me with the girls and reported to the gangsters, the bargain he made, and all the names and
              locations of the gang.
            </p>

            <p>
              “Hands up, asshole”, the sheriff walked in with his right-hand deputy. Both had their guns pointed at me.
              “Ah, sheriff, nice of you to join us. Your friend here was just telling me about your involvement in the
              drug trade”.
            </p>

            <p>“What the hell are you talking about? Hands up, keep them up.”</p>

            <p>
              “Tell them what you told me”, I said to the shopkeeper, and he started to apologize, scared out of his
              mind, blood running from little cuts on his belly. I kept my hands up, and the sheriff and deputy
              approached carefully. At one moment, the deputy’s leg caught on a tripwire, triggering the M18 claymore I
              placed on a wall earlier. A loud explosion followed. Both men fell shredded to pieces by the shrapnel.
              With an evil smile, I looked at the shopkeeper, pissing in his pants and sang, “I shot the sheriff, but I
              didn’t shoot the deputy”, wearing an evil, demented smile. The shopkeep didn’t find it funny. I grabbed
              him by his throat, lifting him off the chair, sticking my knife into his groin, cutting off whatever he
              got packed there before throwing him screaming next to the two mutilated corpses and got out using the
              back door.
            </p>

            <p>
              Hearing the loud explosion, the emergency services came to the store within minutes as expected. When you
              sit undercover as a sniper, watching all potential targets, you keep your mind occupied, making hundreds
              of scenarios of what would happen if you shot one of them, planning the sequence in which to neutralize
              the other targets. After doing it daily for years, it becomes your second nature. You start to look at the
              world as a big domino game. All you need to do is nudge the right piece.
            </p>

            <p>
              In this case, the shopkeeper was the piece that I had to nudge. As planned, the ambulance arrived and took
              the shopkeeper to the hospital for emergency surgery. The police investigators were still in town. I had
              no doubt they would find my little confession tape. The panic and confusion of bombing and a brutal injury
              created chaos in the hospital, making an opening for me to sneak in unnoticed.
            </p>

            <p>
              I suspected someone would come to get rid of the only survivor of the gang massacre to prevent him from
              talking and erase any leads. Earlier that day, I sat on the roof, watching the town through my binoculars,
              drinking coffee, eating my sandwich, when I spotted two black SUVs with four though guys in black suits
              cruising around. I guessed who they were. I was willing to bet that the bloodshed in the shop would create
              enough panic to entice the guys from black cars to get in and clean up the mess.
            </p>

            <p>
              I waited patiently, parked in an underground hospital garage for an hour, and sure enough, two black SUVs
              came in, parking next to each other. I waited till four men in black suits got out, and after turning a
              corner, I pressed a button on a device I bought from a friend who made them. I thought it would come in
              handy when I was planning to kidnap Sally. The two cars immediately unlocked without the four thugs
              noticing. This is the problem with modern vehicles, too many electronic conveniences. The nifty device
              picked up a weak car key signal, amplifying its strength, relaying it back to the car, which in turn
              automatically unlocked the doors, fooled to think that the key was near. This made things much simpler,
              removing the need to use my trusty crowbar, laying on the floor of my Hummer.
            </p>

            <p>
              I waited till the four of them got into the elevator, quickly reparking my Hummer next to their cars. I
              opened the gas tanks of both their vehicles forced in a long funnel and poured twenty pounds of large
              steel ball bearings and five pounds of C4 in each, carefully lowering down a thin metal chord serving as a
              remote detonator antenna. The whole process took only ten minutes. The cars automatically locked in
              fifteen. By that time, I was long gone, parked in a ditch behind some bushes, few miles away from the
              town, sipping fresh coffee I picked up on the way.
            </p>

            <p>
              I didn’t have to wait for too long. I saw the cars pass and gave them space. I knew where they were going.
              The boss of the gang in the woods and the shopkeeper were kind enough to tell me all that. Some five miles
              behind them, I got on the road and followed, checking with my binoculars, avoiding any surprises. The guys
              drove for several hours, never realizing I was on their tail. I was too far to be noticed, pulling back
              even further on long stretches of road across the plains, catching up later.
            </p>

            <p>
              Finally, the men stopped and turned onto a small private path, leading to a huge mansion belonging to the
              boss of the whole operation. I already checked the place last night, counting over a hundred people
              inside, most of them heavily armed. I parked in a thicket, covered from a view by overgrown shrubs,
              watching the cars pass the gate. Unlike the other bunch of idiots hiding in the forest, the guys were
              protected behind tall walls and much better organized.
            </p>

            <p>
              I counted two cameras covering the outer perimeter. All others were focused inside. Slowly and patiently,
              I counted the visible enemy, whatever I could see above the wall. After the sunset, the floodlights kicked
              in, but that helped me more than them. Getting out of the bushes, I drove up to about a mile from the
              house, set my TAC-50 on the roof of my car, laying out loaded clips and spare bullets, then relaxed,
              calming down, sensing the air. In one burst, I knocked out all the guys I could see and two outer
              perimeter cameras, changing the clip. Panic ensued, the guys got to their stations. Shortly after, I saw a
              searchlight with two guys on the top. Three bullets later, the searchlight went off as the two guys went
              down.
            </p>

            <p>
              I had plenty of time. I waited and watched, occasionally popping off someone clever who went upstairs to
              check whether I&#39;m still there. After a few guys ended up dead, they learned their lesson and stayed
              below, safely protected by outer walls. I shot a few bullets just to remind them I was still around, put
              on my backpack and ran a mile as quickly as I could. Reaching their gate, I carefully planted the C4 on
              the sides, the whole twenty pounds of it that I had left in my backpack and ran back to the car. Checking
              everything quickly, I was happy to notice that no brave soul ventured above. I quickly fired a few bullets
              at the gate, making the men think I was about to shoot it down. They gathered around, ready to protect the
              entrance. That’s when I pressed a button, and the gate blew in a massive explosion, killing and maiming a
              few closest guys in the process, leaving a massive gaping hole in the wall.
            </p>

            <p>
              Some guys ran upstairs, hiding in rooms, next to the window, behind the walls. I switched the ammunition
              and taught them a valuable lesson that a thin layer of bricks will stop a bullet fired from a pistol but
              not cal-fifty armour piercing rounds. I was too far to hear the screams, but I could see the commotion and
              panic. I kept shooting, knocking them down like ripe apples until all of them got to the ground.
            </p>

            <p>
              To my count, I knocked about twenty guys off, leaving me still with the major bulk of the force, hiding on
              the ground. This was when I pressed another button, and the two cars that got in exploded with a massive
              force, sending a swarm of steel ball bearings flying around. It was absolute carnage. I fostered their
              illusion that the guys were safe on the ground floor to corral them there. A lot of them hid behind the
              cars for added protection. When cars went off, the combined forty pounds of large steel ball bearings flew
              around like little bullets killing anyone in sight. The guys started running around, repositioning. I used
              their confusion to kill as many as I could.
            </p>

            <p>
              Whatever was left of the surviving men ran back into the house, cramming into the basement. The false
              sense of security they had was broken. More than half of them were dead. I drove my Hummer all the way to
              the gate, stopping on the other side of the wall. I put on a gas mask and night vision, then shot up the
              place with two dozen continuous release tear gas grenade using a multi grenade launcher. The whole house
              was enveloped in thick white smoke. I doubted anyone without a mask could stay hidden for long. Checking
              around twice with night vision and thermal, I walked through the place carrying an AR15 rifle in my hands.
            </p>

            <p>
              All of the criminals were hidden in the basement, just like in the forest, but there were far too many of
              them for me to handle, and they knew it. They brought the fight up close where I wasn’t an invisible guy
              who shot them down from afar but a single man with a single gun, outnumbered by at least fifty to one.
              Those were not good odds.
            </p>

            <p>
              Instead of the hinges, I put a couple pounds of C4 right on the middle of the metal door and detonated it.
              The door withstood the explosion, albeit with a palm-sized hole in the middle. Just to send a message, I
              shot a few bullets through the hole at various angles, hearing a few screams from the inside. Some clever
              ones shot back and missed by far. I let them settle, checking my gas mask, tightening the fitting before
              reaching in my pocket and pulling out a single highly illegal and extremely hard to find black-market
              grenade containing combat nerve gas.
            </p>

            <p>
              I threw it in through the hole then shot inside with my pistol to discourage anyone from trying to run
              out. A few screams and moans ensued, and then there was silence. I walked slowly back to my car, getting
              some more C4, which I placed on the hinges of the metal doors and detonated. The doors flew open, and I
              walked inside. Some seventy guys and thirty-odd naked women lay on the floor knocked out. The nerve gas
              had about a ten per cent mortality rate. The rest of them were just unconscious.
            </p>

            <p>
              I went from a man to a man, pulling them to a side room, shooting each in the head with my gun, throwing
              them on a large pile. Just like in the forest, I found a room full of cash, but unlike there, this one was
              all hundred dollar bills, bound together in packs of hundred with ten of those wrapped individually in
              hundred-grand bricks. Ten of such bricks amounted to a million dollars, and there were loads. At the back
              of the house, I found a large cargo van. I cracked it open, parking it next to the entrance, and then
              started taking out the cash using a large duffel bag to carry. It took three hours of hard labour,
              carrying fifty pounds of hundred dollar bills out of the basement each time, stacking them in the van
              until it was almost full, not a single bill left inside. I transferred all my weapons into the van,
              feeling a little sad to get rid of my Hummer; it served me so well for a long time.
            </p>

            <p>
              I checked on the naked women. Three of them were cold, killed by the nerve gas. I lifted them up and threw
              them in the room with seventy corpses before checking on the pulse of every girl. They were all alive and
              healthy, just knocked out for a while. I found the nerve gas shell, threw everything off the desk, placing
              it in the middle to be found by whoever came next. Looking around the house, I found a landline. It was
              still working, so I called the cops before sitting in a van, driving it away full of guns, ammo and cash.
            </p>

            <p>
              “How many days was it since your last confession?” The priest asked, separated by a thin net. “It has been
              a long time, father, I don’t even know where to begin”. The man on the other side said in a heavy voice.
              “I killed a man, I killed a lot of people.” To the priest&#39;s growing sense of unease, the man continued
              to tell his story, how over the last three months, he dismantled the whole criminal organization causing
              chaos, murder and mayhem across four states and Canada.
            </p>

            <p>
              The priest instantly recognized the man. He never saw him but heard the stories of some maniac vigilante
              shooting up mobsters up and down the country. They described the murders as extremely violent and
              gruesome. Some people hated him, the others praised him. It was the fact that he always called the
              authorities, saving the lives of trafficked women, that caused fierce debates. The journalists would pit
              two opposing views, one against another, letting them fight it out. Do all those criminals deserve to be
              summarily executed, some of them tortured in the most brutal way.
            </p>

            <p>
              The news exploded all over the country after a murder of a state senator at this house. It was a
              particularly nasty event. He was stuck to the wall with knives tortured for hours, his confession
              recorded, then split open like a pig, left screaming to die.
            </p>

            <p>
              Nobody knew who the man was. At least the authorities never published it. He was a monster, a ghost,
              frightening people. Most conservative people supported him, saying, “thank you for cleaning out the
              trash”. The more liberal people wanted to see him behind bars, to pay for his crimes.
            </p>

            <p>
              The longer the man spoke, telling the gruesome details of his murders, the more the priest shuddered in
              fear. It wasn’t just the details but the man’s voice, so slow and hard, full of menace and evil. The
              priest crossed himself, muttering a prayer, begging, “please, lord, protect me, forgive me for all my sins
              in the past.”
            </p>

            <p>
              “There will be no forgiveness for you”, muttered the man with vehemence in his voice. The priest froze,
              then bolted, trying to run out of the confessional chamber. The man’s arm crushed through the separation,
              grabbing the priest&#39;s neck. He kicked the wall with his foot, and the whole wooden chamber collapsed.
              Dragging the screaming and kicking priest to a big cross by the altar, he nailed him to it with his knife.
              Using duct tape, he secured the man’s arms then cut his clothes down with a knife. “There will be no
              forgiveness to where you are going”, the man said before slicing him up, leaving him to die.
            </p>

            <p>
              The man found his way into the church’s basement, opening a secret door into a pathway to a chamber below
              where he found a small group of young boys naked and crying. “It will be fine, children, you are safe now.
              Calm down. The police will be here to take care of you soon”. An older boy ran up to the man and hugged
              him, thanking him with tears in his eyes. The man took off his military jacket, wrapping the boy, saying,
              “go, help your friends, take care of them until the police get here”.
            </p>

            <p>
              The man walked up to the main chamber, putting his knives and guns on the altar, before sitting on a
              church bench, his body slouched, watching the priest suffer and die.
            </p>

            <p>“Hands up, asshole!”</p>

            <p>
              “Good evening inspector, I was looking forward to meeting you”. Carter said without looking around. He had
              enough time over the past months to learn who was that guy relentlessly chasing him.
            </p>

            <p>“I said hands up!”</p>

            <p>
              “I am unarmed”, Carter said, pointing to the altar with a bunch of weapons on top. Dean carefully
              approached him from a safe distance, never lowering his gun. Carter just sat there, looking tired. His
              mission was finally over. There was no more gang. The priest was the last one.
            </p>

            <p>
              Dean stood in front of Carter, studying him carefully. It was the fruition of his obsession, he finally
              found his man. Their cold, unfeeling eyes met and locked, one a murderer the other a psychopath. They
              stood like that for minutes, measuring each other’s strength and resolve.
            </p>

            <p>
              “I have to take you in”, Dean finally spoke. Carter just extended his arms. Dean approached him slowly,
              cuffing Carter’s hands behind his back. He wanted to shout “I got you motherfucker”, exultantly, but in
              this long chase, he lost all taste for that. It was a sour victory, and Dean knew he didn’t get him.
              Carter gave himself up.
            </p>

            <p>
              Dean knew for a long time how this would finish. He knew Carter well, and he was smart, organized and
              meticulous enough to avoid the capture all his life. He gave himself up because it was over, not just the
              mission but his whole life. His dream, his home, family women all gone. With the last of his strength, he
              went on a rampage, killing everyone who might ever be a threat to the girls and his children. Apparently,
              killing was the only thing he was good for. Anything else was not on the cards. It was hard to see carter
              so broken, sitting static, waiting, resigned to his faith. Like so many veterans, he found a way to kill
              himself. It will be an electric chair instead of a bullet. Nobody goes around killing hundreds of people
              on US soil and gets just a cushy life sentence; certainly not in Montana.
            </p>

            <p>
              Dean led Carter outside, where a bunch of uniformed cops waited. They poured into the church, paramedics
              rolling out a dying priest, others leading the boys, taking them into custody. A bunch of news vans
              arrived, but they were kept back for security. Dean sat next to Carter as the police car took him to the
              station, escorted by half a dozen others. It was a huge thing, a big catch.
            </p>

            <p>
              By the time they fingerprinted carter, photographed him and locked him up, it was too late at night to get
              him a lawyer. They wanted to do everything by the book. It was too big of a catch to fuck up on a
              technicality. The strange thing was that a lot of police officers looked at Carter with admiration and
              respect. Some even discretely shook his hand. He didn’t say a word since the church, they read him his
              rights he didn’t need to do that. Two officers led him to the cells. He got one just for himself. The word
              of who he was spread quickly, the other arrestees watched him, shitting in their pants; all of them glad
              they’re not sharing the cell with a mass murderer.
            </p>

            <p>
              By morning the following day, it was all over the news. Who the mystery vigilante was, what has he done.
              His medals, service history, medical discharge all out there plainly for everyone to see. The news was
              peppered with the brutal killing of a priest and saving of a group of innocent boys who have been
              relentlessly sexually abused for months.
            </p>

            <p>
              The public outcry was enormous. The man was a hero. He never hurt anyone except really evil guys,
              something ineffective police couldn’t do for decades. Carter exposed the whole criminal network going all
              the way to the highest levels of the government. The gangsters felt protected and safe. They had all their
              angles covered except a freak accident, one man who had the skill, determination and above all, the
              stomach to kill them all. In the course of his rampage, Carter killed hundreds. They speculated to never
              find the exact death toll, but his actions also saved hundreds of the most vulnerable women, who would
              certainly die a gruesome death without his intervention.
            </p>

            <p>
              A public defender had to fight his way through to the police station, a mass of people gathering outside,
              protesting his arrest, demanding release, treating civil unrest. The internet was ablaze with interviews
              and comments. The liberals weren’t arguing with the conservative thinkers anymore but the whole women’s
              right, the feminists. Those were some vocal, pissed-off ladies, suggesting to the liberals they should go
              and get beaten and fucked in their ass by some gangster rapists for months in an effort to fully
              appreciate the gravity of what just happened.
            </p>

            <p>
              “What Carter did was an act of self-defence and defence of others, he wasn&#39;t a vigilante, he was a
              hero, he even had a medal to prove that”, one of female activist said in an interview, which became an
              instant mantra around the country.
            </p>

            <p>
              The connection between Carter, Sally, Moni and Starla somehow got into the light. The whole radical
              feminist group, or what was left of it, took Carter’s side. Here was a good man, a nation’s hero, a man
              who protected his women, and so many others from rapists and paedophiles. Now he was being punished for
              doing god’s work. It was an outrage.
            </p>

            <p>
              Karen, whose parents still forced a lawsuit on Starla for beating her up, had the whole court case quickly
              dismissed. There was no way to win with that one. Putting a woman of a national hero behind bars for
              protecting her man’s dignity would be complete career suicide.
            </p>

            <p>
              By the time the lawyer sat next to Carter in the interrogation room, his case was already tried and won in
              a court of public opinion. There was no district attorney valuing his career that would put Carter in
              court. Any female district attorney wouldn’t touch the case with a barge pole, remotely controlled half
              across the world. This case was an embarrassment. It was toxic. A good man tried for protection and saving
              others, “no thanks, fuck that”. The public defender knew all that and sat smiling smugly. After the first
              few introductory statements, the interrogation of Carter began.
            </p>

            <p>
              Some ten minutes into the interrogation, where Carter just sat silent without saying a word, there was a
              knock at the door, and two high-ranking military officers came in. “I am sorry, but I have to take your
              prisoner. He is not in your jurisdiction, and it is a matter of national security”. The chief inspector
              protested weakly until the army man handed him a signed court order.
            </p>

            <p>
              Twenty minutes later, a small convoy of four military vehicles left the confused crowd in front of the
              police station, taking Carter away.
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Greg-Rumpel-Stiltskin-ebook/dp/B0B298962T'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3y7XejC'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Greg?id=8TNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>

              <a href='/books/montana/preview/chapter-8-enemy-of-the-state' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 8 - Enemy of the state >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />

            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
