---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Montana | Chapter 8 - Enemy of the state'
  description='Montana novel by Rumpel Stiltskin'
  image='/images/montana.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/montana3.jpg' /> -->
          <p class='emp grey'>MONTANA</p>
          <h1>Chapter 8 - Enemy of the state</h1>
          <div class='biggest'>
            <p>
              The air smelled so familiar, the dry desert breeze mixed with something burning. There was always
              something burring in Syria. I scratched my now sizeable beard, feeling the bugs nesting inside. My whole
              body itched. One, two, three bullets and three quick shoots, three dead insurgents about to blow up some
              shit again died.
            </p>

            <p>
              The real-life was so confusing, but this was simple; just watching, waiting, receiving orders, seeing the
              bastards’ heads blow off like water-filled balloons. I didn’t like to think anymore. Whenever I thought of
              the life I’ve had, or rather could have had, I’d get a panic attack, my hand would shake. My heart was
              broken, my soul crushed. I loved two times, my woman and child, and it was too much. It was better to just
              stay dead inside and numb.
            </p>

            <p>
              “We have a special assignment for you. There is someone extremely dangerous we need you to take out”. I
              nodded, listening to the general explaining the dangers and importance of killing one man. I spaced out
              for a few seconds. There is always just that one man to kill. There is always a mission that might cost
              you your life. He kept on droning before he said his name “Al-Mukhtar”.
            </p>

            <p>
              I knew that name. He was an upstart warlord or something, back in the days of Afghanistan. What made him
              different was he didn’t promote conflict but unity amongst all people, tribes and sects under one god. I
              couldn’t see what was wrong with that, but apparently, someone could. What did I care? I just kill people,
              follow the orders. Thinking gave me a headache as of late.
            </p>

            <p>
              While they hunted for mysterious Al-Mukhtar, sending after him their best men, I was sent to a number of
              missions, helping untangle a Gordian knot known as the “conflict in Syria”. This place was as bad as they
              come. Too many parties had their fingers inside. I had no clue who was a friend and who was a foe. Our
              patrols got regularly blasted by people we wouldn’t even suspect. It just wasn’t safe to go out of the
              base anymore.
            </p>

            <p>
              This was when we made a breakthrough. One of our ranking officers who had an honorary title of a
              middle-east advisor, a man whom locals called Saleh, sent us a sort of a guide, a local man who fought for
              our interests named Saladin. He knew the people, the customs, the layout of the land better than anyone
              else we had on hand. At first, we were apprehensive, but quickly he earned everyone’s trust. Saladin
              pulled us out of many horrific situations where all of us would end up killed. He was a strong, tall,
              extremely well-built man with green-grey eyes and an intense look in his eyes. He was a devout Muslim,
              praying five times a day, even during a gunfight. Saladin had this aura about him, a sense of power and
              command. Wherever we went, whichever village we visited, he would be welcomed like a brother. I never saw
              a more honourable and faithful guy than him, and that’s not just because he saved my life.
            </p>

            <p>
              Some time ago, we drove in a four-car convoy, driving over raw land on a recon mission to a friendly
              village when all our cars got taken out. The first two cars blew up ten feet in the air, being shot
              directly with a rocket-propelled grenade. Mine and the last car got hit from the side as the drivers
              swerved at the last second. With the explosion minimized, the cars just flipped, ending on the roof.
            </p>

            <p>
              Saladin pulled me out of the burning wreckage, helping shift the bent burning metal trapping my leg while
              I peppered the land with bullets with my AR15 rifle. The rest of the guys in my car were dead. The last
              car in the convoy exploded, only one soldier managed to get out. We never saw the assailants. They just
              shot us and ran away. While I lay on my back, Saladin made it back into the wreckage, pulling undamaged
              spare canisters of water before dragging the other soldier and me close to the other side of the car into
              the shade.
            </p>

            <p>
              &quot;We were sitting ducks there, no guns, no ammo, no comms equipment with just a little drinking water,
              sitting in the middle of barren land, the rocky desert&quot;. None of the worry that Jim, the other
              soldier, shared reflected on Saladin. He seemed untouched by our predicament. The desert land didn’t scare
              him at all. It was as if all this was his homeland, hostile only to uninvited guests. He used some water
              to wash his hands and face, unrolling a small cloth from his back, then kneeled deep in prayer as the sun
              went down.
            </p>

            <p>
              He helped us up and set a direction. I saw it on my compass; we were going east. Not where we initially
              headed; that place was too far to reach on foot. Luckily we only had scrapes and bruises, no major
              injuries to report. Unburdened by heavy sacks and weapons, we made quick progress on foot.
            </p>

            <p>
              East and always east, we walked throughout the night. I didn&#39;t even notice. My mind switched off,
              returning home to Montana, to my lovely Sally and my son, to my other beautiful girls and unborn children.
              Before dawn, Saladin found us a large rock. At its feet, he dug a big hole. We got in it, burying
              ourselves with a thick layer of rock and sand. The sun came and went. We stayed buried like that the whole
              day, drinking a little, trying to get some sleep. There was nothing to do but think, something that hurt
              me more than an open wound. After the sunset, Saladin led us out, still going east. We spent another day
              buried, miles away, our water running low. The following night we saw a fire in the distance. We carefully
              approached it covered with the night.
            </p>

            <p>
              Sneaking up to the little dip in the land, we watched from above the events unfolding below us. It
              appeared to be a small Beduin settlement. I didn’t even know that they existed anymore. I saw a heap of
              some thirty dead bodies piled up on one side, large fire lighting up a wide area. A thick wooden pole was
              stuck in the ground with a very old naked man tied up. He was clearly tortured, and by the severity of his
              wounds, I was surprised he was still alive.
            </p>

            <p>
              I heard a female scream, followed by the laughter of men and cries of a child. “Fuck!” I said quietly,
              knowing exactly what was going on. The images of Starla and Moni being raped in the cabin, Sally hanging
              naked in the basement, running through my mind. I felt insane anger rise inside me, overwhelming my
              rational mind. We had no weapons apart from knives. If I had my sniper, I’d kill them all. I had no ideas
              how many guys were in a tent, but there were two armed guards standing outside. The child’s crying got
              louder, I thought of little Carter, my son, and something just snapped inside of me. If I was to die, it
              would be today, defending a memory of something I hold dearest to my heart. Jim and Saladin saw my face.
              They saw I was past caring whether I live or die. They knew what I was going to do. There was no reasoning
              with me. I threw a rock towards the tent, the two guards turned around. With a knife in each hand, I stood
              up and ran down. The closer guard turned towards me, but he collided with my flying knife. The other guy
              collided with me, turning when he heard the noise of his dying friend. The impact of the knife slicing at
              his neck was so vicious it tore his head off, rolling it on the ground. Six guys awaited in a tent. One
              held a baby by his leg, laughing and threatening to shoot him with his gun as it cried. One man was raping
              a woman, held by two guys, while two more stood there, laughing at all that.
            </p>

            <p>
              The laughing guys standing were the first ones to die as I ripped into them with all of my force, painting
              the sides of a tent wall with a spray of their blood. I never felt this kind of anger release in me in
              such a primal, violent attack. It was as if somehow I summoned Freki and Geri, becoming a wolf-beast
              myself. No wonder they saw me as a pack leader; I was more vicious than them. I threw my knife at the man
              raping the woman, so hard that the blade went through his head. As he fell, I took the hand holding the
              baby, jerked it so hard that the man fell on the ground. I stomped with all my force on his face, leaving
              squashed remains of his blood and brains on the ground.
            </p>

            <p>
              The two guys holding the woman let her go, reaching for their guns. The only thing I could think of was
              the baby, imagining it was little Carter, my son. I grabbed the little boy in my arms, turning my back to
              the two men, hearing gunshots, feeling the bullets tear into my back. The first salvo impact dropped me to
              my knees, the second laid me on the ground. I heard more shots and loud screaming, but the world around me
              spun, and all went dark.
            </p>

            <p>
              I opened my eyes, feeling the pain; “hold him tight”, Saladin said, Jim, pressing on my leg with all his
              force, steadying me so Salading could dig out the bullets with his knife. I bit on a thick rope, feeling
              incredible pain. Not the worst I’ve ever experienced, but it was somewhere right there. Three more bullets
              were removed. Jim washed out my wounds with fresh water before Saladin pressed a red-hot knife against
              each, instantly cauterizing them. I passed out after the last one.
            </p>

            <p>
              I saw the old man that I saw tortured on a pole kneeling next to me, holding my head as I woke up. His
              deep green defiant eyes sparkled as our glances met; he was dying fast. I could see that it was the sheer
              force of his will that kept him still alive. I practised Arabic with Saladin for months, he was happy to
              be my teacher, but the man spoke some other dialect, which I later learned was an ancient tongue. The old
              man said something I didn’t understand, I looked at Saladin, and he translated, showing his greatest
              respect to the old man.
            </p>

            <p>
              “The child’s mother is dead. The responsibility falls to his saviour. Life for life, honour for honour,
              blood for blood”. The old man tore off a necklace, forcing it into my hand, looking directly into
              Saladin’s eyes and said, “this man is my brother. His blood is my blood”. The old man waited till Saladin
              nodded, saying &quot;easht&quot;, then closed his emerald eyes and died.
            </p>

            <p>
              The days passed, and I got better. We had plenty of food and water, and Saladin dressed my wounds with
              some herbs, making a foul-tasting tea to drink. A little boy peacefully slept in my arms. Saladin watched
              me with added respect. There was some sort of fervour in his eyes. He told me the kid’s name was Salah, so
              I called him Sal. A week passed, then another. Luckily we had enough baby food on our hands. We had loads
              of guns and ammo but no radios or any kind of transport device. There was an old deep well in the place
              that still had water so we could survive there for a while. I&#39;d often wake up in a panic, dreaming of
              Sally, Moni and Starla, a little Carter, imagining my kids. I worried about them prayed for their safety,
              wishing we were still together surrounded by the sound of rustling grass. When Sally got taken, something
              broke inside me. I could barely keep myself sane as I was, but at that terrible moment when I walked into
              the house, my mind twisted, and something died inside me. In the third week, I heard Jim shouting. Saladin
              stood on a hill with a red cloth waving in his hand. A dozen of what looked like bedouin men riding on
              camels slowly approached, greeting him. They brought camels to the water and sat in a circle. They were
              sparsely armed, barely presented a threat at all. Seeing their faces, however, sent shivers down my spine.
              Those men were dangerous, truly dangerous like no men I’ve seen before. They had the same defiant spark in
              their eyes as the old man that died.
            </p>

            <p>
              They spoke old Arabic amongst each other, occasionally throwing me a glance. Putting some meat on the
              fire, they waved me over, making enough space for me in the circle. “These are the sons of the old man”,
              explained Saladin. &quot;I told them what happened here. They said that you have become their brother
              because of what their father said and what I did for the child&quot;. One of them pointed to me that I
              must wear the necklace always, for the rest of my life, because it represents their family and one life.
            </p>

            <p>
              I offered to give them their baby nephew so they can take care of him and take him to his people. They all
              looked shocked, lifting their hands, waving in refusal, saying exactly what the old man said;
              “responsibility falls to his saviour”. It was my responsibility to take the child and bring it back to his
              home.
            </p>

            <p>
              Three of the desert men stayed, giving us three camels, seeing us off as we rode away. I turned back to
              look at them, but they were already gone. Something told me they would be just fine.
            </p>

            <p>
              For three nights, we travelled, resting during the day. The men spoke very little, not just to me but to
              each other as well. I’ve never seen such hard dedication and discipline, such fearless assuredness of what
              they did. The desert bothered them very little. They were the desert people; they belonged there. It was
              their home. Watching them, I knew that this place, Syria was a special land with a big secret. The wars
              will come and go but will never be won by any of the invading forces. The people who lived in big cities
              ran scared from bombs and stuff, but those were not the desert people. They came and went as they pleased;
              it was all their land.
            </p>

            <p>
              I noticed a cloud of dust in the distance, so we stopped and waited for three large SUVs to arrive. The
              three of us sat with the baby in a middle car, and they drove away. I watched in the distance the men on
              the camels turning around, following their own trail back.
            </p>

            <p>
              A huge ovation followed the end of the speech. The massive conference room was full of people, mostly
              women and a bunch of cameras recording the event. The host thanked now very pregnant Sally for her
              passionate talk, reminding everyone that there will be a signing of her latest book named “a rapist and a
              hero” right after.
            </p>

            <p>
              The people queued up, buying the book, getting it signed. When that ended, the journalists asked if they
              could ask her some questions, Sally agreed with a big smile on her face. “What would you say is the main
              message of your book?”
            </p>

            <p>“In one word? Tolerance”</p>

            <p>“Tolerance? Can you please elaborate?”</p>

            <p>
              “Before I met Carter, I was very much a one-dimensional person. I had strongly ingrained beliefs, which I
              wasn’t shy to force onto others. When I got kidnapped, it was those beliefs that scared me the most. My
              captor and father of my children taught me without using a single word how to appreciate the little
              things, to stop seeing other people through a prism of my prejudice and use my own brain and experiences
              to make my mind about the others.”
            </p>

            <p>“What were your main prejudices.”</p>

            <p>
              “I had a bad experience with men before Carter”, Sally giggled. “In fact, my experience with carter
              started as the worst possible scenario. I was kidnapped. There are some terrible men out there, some real
              outright monsters, truly evil men. The worst prejudice I had was to think that all man are like that or
              can become like that. I was terribly wrong.”
            </p>

            <p>“But carter did turn out to be exactly like that.”</p>

            <p>
              “Well, yes and no. He did a terrible thing for a terrible reason. Putting that aside, he taught me what a
              real man can be and how much we, the women, need them. I talk about equality, of course. We, the
              feminists, use the word equality sometimes one-sidedly. The time with Carter made me realize that the only
              way equality will work is when we can have that through our differences, through our diversity. We, women,
              need men for a million and one reasons we can’t even think about, and men need us equally as much. We are
              not the same, and that is a good thing. We are wonderfully different and diverse but equal in the meaning
              and value of what we bring to the relationship and each other. Only then, when the two sides come
              together, one and one is no longer just two but more than the sum of its parts. Carter made me into a
              woman, he made me grow, and blossom and I made him into a man. He risked his life, sacrificed everything
              so his children and I could live safe. We made each other equally, as diverse and different we are. We
              only managed to do that by leaving our prejudice, nay, everything out where we lived alone, surrounded by
              tall grass. Just a man and a woman.”
            </p>

            <p>
              The journalists actually clapped to that monologue, asking a bunch of quick questions. Almost an hour
              later, Sally was shown out with great thanks for participating in the conference. Moni picked her up with
              her car, driving her to a fancy restaurant for a dinner they planned with the rest of the feminists.
              Starla and Karen, the girl she beat up, clapped for Sally, the guest of honour, together with the rest of
              the people as she got in.
            </p>

            <p>
              There were over five hundred guests in a massive dining hall. Two hundred and eleven of them were human
              trafficking survivors of the drug cartel that Carter single-handedly shut down. Regardless of his problems
              and failures, every single one of those women owed her life to Carter. They all gathered there in Los
              Angeles to celebrate and commemorate that. A lot of high profile celebrities and various dignitaries,
              high-ranking members of the feminist movement across the world and of course, a small group of select
              journalists were there, raising their glasses to celebrate the life and future of those women.
            </p>

            <p>
              The victims of the first batch of women Carter liberated sat down and decided together that the money they
              stole should be split with all victims equally, not just them. As the news started to roll in and new
              victims were found, including the little boys in the church, the girls calculated and recalculated. In the
              end, each person got a few million dollars in cash, distributed secretly or through a charity foundation
              Sally set up. Even Moni and Starla got their cut. They weren’t taken away but were victims just as much.
              There was so much money in that truck to give everyone a new start.
            </p>

            <p>
              After the dinner, everyone mingled, getting to know each other. A lot of celebrities coming up to Sally,
              admiring hers and Starla’s pregnant bellies. Moni gave birth to two perfect, identical twin girls a couple
              of months back and was working out like a woman possessed to get her body back into shape.
            </p>

            <p>
              Sally and her two lovers became role models of success to many young people. The once-radical feminist
              group Sally belonged to toned down and found its voice, learning from stories and life of the three girls.
              Even Karen and Starla made up and became friends. They both apologized to each other and found a new way
              forward. In just a few short months, the feminists found their new, tolerant, positive voice. Men aren’t
              an enemy; they are friends. Sure, some of them were outright misogynist assholes, some women too, equally
              misandrist cunts, but that applied to a small minority, the exception.
            </p>

            <p>
              Women had to help men understand the new era, and men had to help women understand that patriarchy isn’t
              all that bad if that’s how both of them choose to live. It wasn’t either-or but a mix that worked for that
              specific couple. If it floats your boat and you are happy with each other, then do your thing. Respect the
              women, respect each other and be tolerant of their views. Don’t force people to believe what you sell
              them. Inform them but afford them the freedom to make up their own mind.
            </p>

            <p>
              This new tolerant message found immediate, wide acceptance, attracting new members and sponsors. Suddenly
              people started paying attention. While once the girls did talks in small venues, now they did them in
              large halls. Everyone wanted to hear the progressive message, and girls weren’t hesitant to bring their
              boyfriends to that. Some guys loved it and wanted to help because, let&#39;s face it, we only have each
              other. We may say bad things sometimes and end up in a fight, but we love each other, and it hurts one to
              hurt another. Not all men are assholes and women bitches. Some are but far and few in between. We are just
              people who feel cry and bleed, the opposite side of the same coin.
            </p>

            <p>
              The three women danced and kissed, having a good time celebrating life. The party went on for hours, till
              very late at night. Sally, Moni and Starla sat in their cars and drove to the beach, where they sat on the
              sand watching the stars, listening to waves, feeling the air. Life was good, filled with greatness, just
              seize each moment and make it count.
            </p>

            <p>
              The sound of cars came behind them, and the girls stripped down, joining a small group out of the
              thousands, rose their hands, waiting for the light. “Blessed is the gift of light. Blessed is the gift of
              life. Blessed is the gift of love. Blessed is the child inside them, a new life, a new love, a new light
              to speak the words, Blessed is the Origin”.
            </p>

            <p>
              “Why do you cry?” asked the little girl. “Because I am happy, Eve”. Dean sat on the wooden log, watching
              the thousands of women welcome the sun. Kitty and her partner Joy, the cat, went for a quick swim, leaving
              their daughter behind. “I finally understand”, Dean said, holding a little girl’s warm hand. Eve smiled at
              him with those big blue eyes and said, “Good! Blessed is the gift of knowledge”. Dean looked around,
              seeing the thousands swim and rejoice. He took a deep breath and responded, “yes, blessed is the gift of
              Origin”.
            </p>

            <p>
              We arrived in a small village with no idea where or how far. It could have as well been on the moon. A
              small group of armed men surrounded us, but they weren’t aggressive, just watching whom the cars brought.
              An elderly man with piercing eyes walked to us with a slow step. Everyone gave him space; he commanded
              enormous respect. “You are a brother of Qadir? Protector of Salah?” the man asked, speaking English. I
              didn’t know how to answer but seeing Saladin nod, I said “yes”. The old man smiled, taking me by the
              wrist, leading me towards the centre. “We prepared a feast in honour of your victory, brother of Qadir”.
            </p>

            <p>“Thank you, sir; we are all very hungry, but please call me Carter. My name is Carter.”</p>

            <p>
              “Fine!” The man stopped and turned to the other, speaking loudly in Arabic. “From now on, you will be
              known as Carter, the brother of Qadir, protector of Salah”. The villagers repeated the name, then the man
              continued to walk.
            </p>

            <p>
              The old man took me to one tent where three women surrounded me with tears in their eyes, thanking me for
              saving the child. They took little Sal from me, checked him and fed him. A huge weight dropping from my
              shoulders. I felt a pang of heartache, handing Sal over, looking into his eyes, watching him smile. I had
              a son too, a beautiful boy that I loved more than life itself. I wished I could hold him again, tell him
              how much I loved him, hold him in my arms again. That night, after evening prayers, we sat on little
              carpets in a large circle with the rest of the villagers, eating food served by women wearing niqabs.
              Those were simple people radiating vitality and strength. They didn’t look well-fed, nor did they look
              hungry. The people were sturdy, used to hardships; they were the desert people. Their system of value
              seemed to be completely detached from what I would consider as wealth; it was an honour that they valued
              the most. That was the currency of their society. It made it so clear to me why ultimately we will lose;
              why all the foreigners invading their country will. We had nothing of value to offer to them. Perhaps in
              the cities and big places, yes, but there was nothing they wanted from us here in the desert. The people
              lived there for centuries, and I suspect they’ll still do that long after we are gone.
            </p>

            <p>
              We stayed with the people for a few days as their guests, then after saying goodbye, thanking them for
              their hospitality, the car took us on a long journey over raw terrain. It took us a whole day before we
              arrived at a different settlement, one that was much larger and friendly to the Americans. They had
              communications equipment there. We called in for help, and after a few hours, a helicopter landed to pick
              us up.
            </p>

            <p>
              After debriefing and a few days later, I found myself lying on the roof again, following orders, killing
              random men, protecting the ground team from threats above. Saladin was my spotter. He rarely missed
              something with his curious eyes. My heart was breaking thinking of the life I used to have and the women I
              loved. I imagined when this was all over, I’ll try to find that little village in the middle of the
              desert, settle down with simple people and never touch a gun again. I hated the murder, blood and the war.
              I hated myself and the role I played in it. The general promised me this was the one last tour, my mission
              simple to take out Al-Mukhtar, then they’ll bring me back. I realized in that village, there was no going
              back from this country. I felt it in my bones that one way or another, this place was going to take my
              life.
            </p>

            <p>
              To pass the time, I spoke with Saladin. He was a vast source of knowledge. Ever since I saved that child,
              his attitude towards me changed. He became my teacher, my older brother. Having nothing else to do, he
              taught me Arabic and told me stories of his people, of ancient great warriors and poets, of their rich
              cultural heritage but mostly about family, honour and respect. I listened and learned, my mind sometimes
              drifting to thoughts of how once I had a family and it was taken away.
            </p>

            <p>
              After finishing her talking tour Sally and the girls flew back to LA. It was getting hard for her and
              Starla to travel. Their pregnant bellies weighing heavy on them. The driver waited with Sally’s name
              outside of the secure area and drove them to a fancy hotel. Tomorrow was going to be a very special day.
              The three girls decided to get married. Sally and Moni were already promised and wanted to move ahead, but
              they both loved Starla as much as each other. Neither wanted to get married, leaving Starla out.
            </p>

            <p>
              Karen, who used to be Starla’s nemesis, turned out to be a good friend. Still feeling embarrassed from
              trying to throw Starla in prison, she begged for an opportunity to make it up somehow. She volunteered to
              plan a fantastic wedding, doing a great job at that. The girls teased her that she missed her profession.
              Karen should have been an events planner rather than a public speaker. Laughingly she agreed with them.
            </p>

            <p>
              The wedding was going to take place at the beach. With Dean’s help, she cordoned off a portion of the
              beach. Extra police officers have been allocated to keep the uninvited people out. A top wedding catering
              company was brought in to set it up, so it looks beautiful and memorable.
            </p>

            <p>
              As they got home, the girls just dropped on the bed, exhausted from the trip. Neither had any will to talk
              to their parents, who have all been brought to the hotel. The three sets of parents knew each other from
              the time Moni and Starla were kidnapped. Starla’s parents never had a great relationship, but when she was
              taken, they completely fell apart. They loved her so much, and without her, they lost the whole purpose of
              their existence. The misery and pain they felt brought the estranged husband and wife together, and in a
              great turn of the events, the couple found love for each other out of all that pain. Surprising to both,
              Starla’s mom fell pregnant, and they recently had a perfect little baby boy named Jonas.
            </p>

            <p>
              It was a great miracle for all three families to find their daughters alive and healthy. They were so
              excited about their little babies and expecting more. The holy wrath Starla feared when her parents find
              out about her lesbian predilections didn’t materialize. The parents found out about her stripping job
              during the investigation. The police found her journal and details of sexual abuse by the sheriff.
              Learning about that, Starla’s dad took his gun and drove to the sheriff’s office, where he shoved the
              barrel into his mouth. It was Dean who managed to convince him to not shoot him. The sheriff pleaded
              guilty and was sent to prison. Dean made a call to his psychiatrist friend who worked part-time at a
              maximum-security psychiatric institution for criminally insane, telling him what happened. Cyrus had many
              connections in prisons; they send the crazies to him. Starla’s dad got his satisfaction when he learned
              that a violent psychopath neutered the sheriff and sliced him up all over his body with a razor blade.
              Sheriff survived, the psychopath got shipped to the mental institution. When Starla’s parents found out
              that she was getting married to two girls, they just laughed and congratulated her. After all the drama
              and pain, learning that your daughter is bisexual was as shocking as learning that you sat on a toilet
              without realizing that the paper run out.
            </p>

            <p>
              The girls rested for a bit before getting up to take a shower. They slowly stripped, kissing each other,
              exploring their bodies. Mony caressed Sally’s and Starla’s big bellies, feeling a little sad and empty
              after giving birth to the twins. She loved being pregnant and wished she could be like her two lovers
              again. The two girls played with Moni’s tits. They were large and heavy, bursting with milk. The twin
              girls were two hungry little monsters but not as hungry as Moni’s best friends.
            </p>

            <p>
              Impatient and horny like a devil, Starla pulled the two girls into the bathroom where they stood under the
              shower, letting hot water spray and soften their skin. Sally pushed Moni’s back against a glass wall,
              kissing her neck, massaging her breast. Starla joined them, entwining her tongue with Moni’s, gently
              rubbing her clit in the process.
            </p>

            <p>
              It didn’t take long for the girls to start panting. Moni was turned on beyond belief. She knew what was
              coming and couldn’t wait for it. Her lovers gently kissed her downwards, finally closing their lips around
              her nipples. Moni screamed in her first orgasm as the girls chewed roughly on her nipples, sucking out and
              drinking fresh milk.
            </p>

            <p>
              Starla and Sally would suck out a mouthful, then kiss, giving each other the taste, finally kissing Moni,
              and sharing some of her own sweet milk with her. Moni was always turned on by pain. The rough chewing and
              pulling on her nipples, combined with pinching on her clit kept sending her from orgasm to orgasm. Once
              her milk starter to flow, it would just keep flowing. The girls stopped sucking, but Moni’s tits would
              still dribble milk. It slowly ran down her body, the two girls sensually licking it away, causing Moni to
              shiver in sexual arousal.
            </p>

            <p>
              Starla went down on Moni, sucking her clit, biting it gently to add some pain that Moni loved so much.
              Moni screamed like she was dying, feeling another orgasm kick-off. That didn’t discourage Sally from
              squeezing and sucking on her sensitive breast.
            </p>

            <p>
              The girls dried quickly and run up to bed. Starla lay on her back, under Moni, who stood above her on all
              fours, her large milk-filled breast dangling above Starla’s lips like udders. Without any hesitation, lust
              in her eyes. Starla massaged Moni’s breast, sucking on her nipples. One after another, she milked the
              young mother. Sally got behind Moni, rubbing her clit with one hand while pushing fingers one after
              another into Moni’s sopping wet pussy.
            </p>

            <p>
              One, two, three, soon the whole Sally’s hand was inside Moni. Slowly at first, then increasing tempo, she
              fisted Moni hard while she screamed and panted. Moni’s usually super tight pussy was stretched open by
              Carter’s huge cock. She loved his cock the most of all the three girls. She loved its size and girth and
              physical, brutal fucking she would receive every time Carter would fuck her. Moni always begged for more,
              deeper, faster, stronger, rougher, and carter would readily oblige.
            </p>

            <p>
              All the girls knew they’d never find a better lover than him, certainly not a more dedicated one. Ever
              since Moni gave birth, she wanted to fuck like crazy, but nothing would really scratch that deep itch. It
              was only the brutal, almost elbow deep punch-fisting that could give Moni the satisfaction she craved. She
              screamed, pleaded, begged and sobbed as squishy slapping sounds of fist punching her pussy would turn all
              her pleasure buttons up.
            </p>

            <p>
              After about a dozen of small orgasms, Mony started to shudder and pant fast. She grabbed Starla’s hand and
              screamed so loud she could be heard to the end of the hotel corridor some fifty yards away. Her pussy
              squeezed around Sally’s elbow so hard it felt like a vice. All Moni’s muscles tensed and trembled. A
              supreme explosion of intense, powerful orgasm took her, just like what carter got her to get used to. He’d
              never stop fucking the girls until they came like that. All their little orgasms, pleading and begging,
              he’d dismiss with a slap. He fucked his women. They were his; he knew exactly how he wanted them to cum.
              None of those ten-minute half-measures, he’d fuck them for as long as they needed before their bodies gave
              him an acceptable orgasm.
            </p>

            <p>
              It was that more than anything that destroyed the girls. Carter got them used to supreme pleasure and
              fantastic sex. Whatever the man was or wasn’t whatever the people thought, to those girls, Carter was
              their man. He took them, he fucked them, he bred them, he loved them, and he sacrificed his life and
              freedom for them. Whatever they did to each other now paled in comparison to what he’d do to them. Once
              you got used to that type of hard fucking, that intensity of pleasure, there’s no coming back. The girls
              knew it and fucked each other with the same brutal, determined power they loved to have.
            </p>

            <p>
              When Moni unlocked, and her orgasm ended. She collapsed on her back, tiny milk-rivers dribbling down her
              body from the big cones on top of her hard-breathing chest. Starla and Sally snuggled against her, each
              taking a nipple in their mouth. They slowly sucked Moni, drinking her milk, releasing the pressure on
              Moni’s two balloons. She had a lot of milk, a huge amount. It had to be milked all the time. This is
              something both girls were happy to help her with at any time.
            </p>

            <p>
              Sally was lactating too, but not nearly as much. She and Starla just had a few small orgasms that night.
              That was ok because later, they’ll pair up as usual and fuck till they faint. They first wanted to take
              care of Moni. Her hormones were so high, she was so horny she’d fuck a street cone. While Moni drifted
              into a post-orgasmic blissful sleep, the two pregnant women wrapped themselves around each other, kissing
              and fondling, sucking on each other’s tits. It was all gentle and loving, occasionally fingering each
              other, rubbing their clits. The girls slowly detached, scissoring their legs, slowly rubbing their pussies
              against each other. After a few minutes, Starla reached in her bag, pulling out a short but extremely
              thick double-ended dildo. The girls expertly stuffed their pussies grinding against each other, holding
              hands, making themselves cum. They kept at it for several hours until they were exhausted and drifted off
              to sleep.
            </p>

            <p>
              The orders finally came. They found him! The military intelligence finally got a solid lead on Al-Mukhtar.
              He made his way through Syria into Lebanon, finally stopping in a city named Shheem, where they got him
              tailed under constant surveillance. He was certainly up to no good. Al-Mukhtar met in secret with many
              covered men. Nobody knew what the meetings were about, but those men would later meet with the others.
              Whatever it was, his message would spread fast.
            </p>

            <p>
              At the same time, the number of murders skyrocketed. People were being killed in their homes during sleep.
              Someone was doing some sort of cleansing killing hundreds for no apparent reason. It was all connected
              somehow. Everyone knew something big was about to go down. The air was pregnant with nervous expectation.
              The military didn’t want any mistakes; everything had to work out perfectly. This is why I was chosen for
              this task. I was the best of what they had, and I was expendable. They were sending me to Lebanon in
              secret; it was utterly black ops.
            </p>

            <p>
              The support team was assembled and our itinerary planned. Saladin told me he wouldn’t be coming with us.
              His fight was in Syria, but he wished me well as a brother. The plan was to sneak into Lebanon through
              Baalbek, but Saladin vetoed the idea. “Do not go through Baalbek if you want to live. It is a sacred land
              full of hidden dangers. You must find another route”.
            </p>

            <p>
              They wanted to ignore him, but I put my foot down, telling them that I’m not stepping a foot there and
              they can find another sniper for all I cared, regardless of the consequences. This wasn’t really a clean
              operation but a murder of a foreign national or a foreign sovereign soil.
            </p>

            <p>
              I was awake early in the morning, watching the sunrise with tears in my eyes; it was so beautiful. Images
              of Sally standing in the orchard, in tall grass doing her rituals flashing through my mind. My dearest
              Sally, Moni and Starla too. My women, my children. I hoped to meet them in some other life, for this life
              was almost spent. I could feel it in my bones, the death approaching bringing me the final release.
            </p>

            <p>
              I sat next to the driver of a large SUV. It was only me and three of the toughest marines I had the
              pleasure of serving with. They had my back many times, and I looked after them from the roofs above. We
              were on our own now. All of us knew the importance of our mission and the dangers of what we were about to
              do. I saw it in their eyes; they could feel it too. This was going to be a one-way trip.
            </p>

            <p>
              We drove fast for a day and a night, unchallenged by anyone. Our directions specifically used less
              travelled roads. After we all had a go at driving, we needed some good rest to keep alert and ready for
              instant action. We got off the road, parking a car out of sight between two hills. I helped Jim pitch the
              tent while the two other marines did a perimeter check. I lay on a bag outside, looking at the stars,
              thoughts going through my head, memories past, hitting me one after another. They say a man sees his life
              flashing back before his death. I just never thought it would take this long to die, feeling the tears
              roll down my face before closing my eyes.
            </p>

            <p>
              The following night we crossed the Lebanese border in the middle of nowhere, carefully driving towards our
              planned destination. A few hours later, we stopped at our meeting point, changing our clothes and cars
              into something that would help us disguise ourselves as locals. We were given an update and critical
              latest intel. Al-Mukhtar was moving to Beirut. There was a lot of movement and radio chatter coupled with
              cryptic messages on the Internet.
            </p>

            <p>
              We changed our direction, our local guides taking us to the safe house there. The radios buzzed with the
              latest news. Apparently, some big meeting was going to happen in a couple of days in a warehouse down by
              the docks. This gave us enough time to recon. Find the best locations to stake our target and plan the
              lines of retreat.
            </p>

            <p>
              We spent the following day driving around the city, scouting, looking at locations, traffic flows and
              general movement of people. Late that night, we sat down with a city plan. I’ve chosen the best location
              on the roof of another warehouse building to place a sniper. Jim was going sit with me as a spotter. Two
              other two guys would run security and make sure we’re not compromised on the ground. We had only one shot
              at this; all of it had to go according to the plan.
            </p>

            <p>
              The day finally came. At four afternoon, we jumped out of the car, heading quickly towards the warehouse.
              Our guy drove off, parking a car some quarter-mile away at what we determined was a secure location. Only
              a couple of guards walked around the building. That was another reason why we chose it. Unfortunately,
              they were collateral damage. We couldn’t have anyone recognize our involvement in the assassination of
              someone this high-profile.
            </p>

            <p>
              We ran up to the guards, grabbing them from the back, breaking their necks. They were dead in seconds. We
              dragged them inside and stashed them away. The two marines continuing the rounds wearing guards clothes.
              Jim went up first using a maintenance ladder. I followed, carrying the heavy sniper gun and clips with
              bullets. I set myself in a position on top of the roof while Jim covered us with a concrete-coloured tarp,
              masking our presence. If someone looked from afar, they wouldn’t be able to see two people with a gun.
            </p>

            <p>
              Jim and I lay there waiting, listening to our earpiece for a live update. Jim lay next to me, operating a
              combat camera with telephoto lenses. Neither of us knew how to recognize Al-Mukhtar. We saw hundreds of
              people entering a large warehouse. By quarter to six, there might have been a thousand of them there.
              Something big was indeed about to go on. The little speaker in my ear buzzed. They had an eye on
              Al-Mukhtar; he was coming in a black SUV.
            </p>

            <p>
              Jim searched with the camera and found the car. I followed his directions with my sniper gun. It was
              precisely six when four guys got out, Jim streaming everything live in real-time. Within a minute, we got
              a positive identification. The man wearing checkered black and white keffiyeh, a scarf covering his head
              and face, was Al-Mukhtar. He walked slowly, surrounded by four guys. I saw him approach a large group of
              people and exchange greetings. I had him in crosshairs. He was as good as dead, just waiting for the final
              confirmation.
            </p>

            <p>
              I waited for a minute, concentrating, calming my body, controlling my breath. The sound in my ear
              crackled, and the order came through “take him out”. At that very moment, I saw Al-Mukhtar turn around and
              face me. His piercing eyes that I knew I&#39;ll never be able to forget, looking right in my direction as
              if he knew I was right there. I tapped the trigger and fired my shot.
            </p>

            <p>
              At that second, there was a massive blast, like an explosion of a nuclear bomb. It wiped everything in its
              path, including the building I was on. The last thing I felt was a massive, relentless force crushing my
              body, breaking my bones. My last thought was on Sally as I let go of my life.
            </p>

            <p>
              It was a beautiful wedding. Over a thousand guests gathered, wearing their best clothes sitting on
              foldable chairs, barefoot on a sandy beach. The sun dropped in the background as the music started.
              Wearing exquisitely beautiful white wedding dresses, Sally, Moni and Starla proceeded barefoot towards the
              sea and white wooden arch dressed in white flowers. The judge from Starla’s arraignment stood there
              wearing a beautiful dress, her golden necklace with oval white pearl glinting in the light.
            </p>

            <p>
              The three girls stood there, holding their hands as the sun gave way to the full moon. “We’ve gathered
              here on this auspicious night to celebrate the gift of love”, the judge said. Some people from the
              audience murmuring, “blessed is the gift of love”.
            </p>

            <p>
              “You three have been on an amazing journey, separated by force, united by love. It was that love that kept
              you together and brought you the gifts of Origin. Blessed is the Origin”.
            </p>

            <p>
              “Moni,” said Sally, “you are the love of my life. In good and bad, darkness or light, I always thought
              about you. I gave you my heart. And you, Starla, I love you as much as I love Moni. I couldn’t imagine my
              life without you. Both of you are my heart and soul. I love you truly from the bottom of my heart. I want
              to share my life with you, enjoy all the gifts for as long as I breathe.”
            </p>

            <p>
              The girls said their vows to each other, happy tears running down their cheeks. They weren’t the only ones
              crying. All three sets of parents, holding their three young babies, sobbed hearing their words, squeezing
              each other’s hands for emotional support. A few select cameras recording the wedding broadcasting it live
              on the Internet, inspiring many.
            </p>

            <p>
              “Sally, do you take Moni and Starla as your lifetime partners, to share your heart and soul with, love and
              respect them and share in all the gifts of Origin till the end of time?” asked the judge. “I do! I do! I
              do!” three times she repeated, her tears in free flow rolling down. All girls were asked the same
              question, answering the same.
            </p>

            <p>
              “Through my eyes, my mind and my soul, I feel your love is strong, and your words are true. I, judge
              Clarice Ann Watkins, from Los Angeles, California, recognize this marriage as a gift of Origin and testify
              to that in front of all”. Almost a thousand people stood up and recited the same in a loud murmur of
              voices, recognizing the marriage as one. Judge reached in a small box, pulling out a fine gold necklace
              with a perfect oval, egg-like pearl attached to a miniature ornate golden crown connecting the two and put
              it around Sally&#39;s neck, before doing the same to the other two girls. “You are now married to each
              other, you can celebrate your gift of love. Blessed is the gift of love. Blessed is the Origin”.
            </p>

            <p>
              The girls kissed each other, hugging tightly, jumping and yelping in happiness. The judge spoke, “Dear
              friends, we were all touched by your bravery, unwavering faith and commitment to each other. Your gift of
              love is strong. This didn’t go unnoticed, and as a surprise and our thank you for showing us a good
              example, we have someone who wants to meet you.”
            </p>

            <p>
              A thousand women rose up again and started to hum. The judge moved aside, and out of shimmering light
              reflected on water walked out a gorgeous young woman wearing an exquisite sheer white satin dress. She had
              long jet black hair and sparkling blue eyes. Her body was curvy and beautiful beyond compare with the raw
              sex appeal that drew everyone in.
            </p>

            <p>
              The three girls watched in shock the approaching woman. They never saw her before but recognized her
              instantly. She was Lucy of the Moon, the first Giver of Origin, the second-highest priestess of their
              faith. She approached the girls, taking their hands into hers, speaking in a pearly voice, “your love
              touched me; it touched all of us. You are a great example to many. I came to give you three gifts, what
              will they be?”.
            </p>

            <p>
              Sally spoke first from the bottom of her heart, her tears flowing freely, her heart ripping apart. “I wish
              Carter finds peace wherever he is”. The two other girls hearing that bawled. Moni said, “I wish Carter
              finds love wherever he is”. Starla was tougher than the two others, remembering the last words she told
              him and said, “I wish Carter finds his way home, to me, to us”.
            </p>

            <p>
              The girls hugged each other, crying for a few minutes. Lucy watched their crying eyes for a while, then
              closed her own. She stood there in deep meditation for a minute before opening her eyes with a smile.
              Turning to each girl, she took her hand in her own, raising her right palm towards the girl, looking deep
              into her eyes and spoke, “so be it”. By the time she reached Starla, the other two girls were on their
              knees bawling like babies, thanking the giver for granting their wish.
            </p>

            <p>
              Lucy smiled and turned around, walking into the moonlit sea. Suddenly thousands of women who watched the
              wedding online poured onto the beach, jumping into the water smiling and laughing.
            </p>

            <p>
              Dean watched the ceremony, finding it beautiful. He didn’t fully understand what was going on, but he
              didn’t have to. It was a perfect display of people loving each other and caring, committed to sharing
              their life journeys together. When girls started to run towards the sea, he looked around and saw a
              suspicious large middle-aged man with a shaved head and long greying beard. The man looked large but also
              very muscular. The expression on his face was intense and raw, almost scary.
            </p>

            <p>
              What drew Dean&#39;s attention to him was that he seemed to be completely disinterested in the wedding,
              staring intently at a little girl Eve, his new best friend. For some reason, Dean felt extremely
              protective of Eve, so things like that immediately got his alarm bells ringing.
            </p>

            <p>
              Touching Eve’s shoulder, he told her to run to the three brides and congratulate them. As soon as she took
              off, he tapped Kitty and Joy, her mothers, pointing at the man standing above, on the pavement next to the
              railing. The two women’s eyes went big, seeing the man. Immediately both of them kneeled on the sand
              towards him, bowing their heads.
            </p>

            <p>
              Dean didn’t know what this was all about. Like most things connected to those women, it just escaped his
              reason. He walked up to the man intending to question him, but as he got closer, he saw his eyes. They
              were identical to the little girl’s. Dean scanned his face, like he learned in police training, finding
              identifying features. The man was clearly the little girl’s father. He smiled at Dean, reaching slowly for
              his inner jacket pocket, pulling out a sealed white envelope, handing it over. In a pleasant deep voice,
              he said, “please give this to Kitty”, then had another look at two kneeling women with a faraway look in
              his eyes, turned around and left.
            </p>

            <p>
              Dean returned to still kneeling girls, tapping Kitty on her shoulder, letting her know that the man left.
              The girls stood up, and he handed them the envelope. They thanked him for everything and picked up Eve,
              which was the last time dean saw any of them.
            </p>

            <p>
              Limos and busses were hired to pick all the guests from the beach and bring them back to the hotel for a
              big celebration. The vast banquet hall was exquisitely decorated with chandeliers, lights, beauty and
              pomp. The tables were full of cheering guests eating great food, drinking champagne. Many of Sally’s
              feminist friends found their way to Origin and radiated happiness.
            </p>

            <p>
              Dozens of cheers and speeches were given, the brides’ combined parents looked at their daughters with
              love. After they got over the whole girls marrying girls situation, they were delighted. They even stopped
              blaming Carter for what he did to their daughters; everyone adored a little Carter and Moni&#39;s two twin
              baby girls Julie and Sarah.
            </p>

            <p>
              The wedding party cost a lot of money, but the girls were rich, plus Sally made a lot from the book sales
              and public speeches they could afford it. Together they made their special day truly special. A lot of
              guests from different places decided to stay in the same hotel as them, so the party went on till the
              early hours of the morning.
            </p>

            <p>
              Exhausted, the three girls went to their room and, after a warm shower, fell naked into the bed, wrapped
              around each other in a loving embrace, now as married women. They slept till late, leaving their room at
              lunchtime, joining their parents in the restaurant. The girls wanted to visit the friends who, for
              whatever reason, didn’t manage to get to the wedding. The first stop was New York. They flew with Sally’s
              parents and spent a week there, sleeping in Sally’s old room, going out shopping and partying with Sally’s
              school friends. Everyone was excited to see the three married women happy, especially after their ordeal.
              The three babies got so much attention that they slept without waking exhausted from constant action.
            </p>

            <p>
              The week ended quickly, and they made the trip Moni initially feared. They flew to Seattle, where they
              were welcomed by Moni’s parents. It was an emotional reunion. The girls spent a lot of time walking
              around, checking out places, occasionally ending up having dinner with Moni’s few old friends. It was by
              far less energetic but more intimate feeling; Moni’s parents really enjoyed that. Both of them sat,
              watching the girls happy, feeling proud about how it all turned out.
            </p>

            <p>
              The last stop was Riverside and Starla’s family. The girls flew to LA, where a car waited for them that
              drove them straight to Starla’s home. She was really excited to spend some time with her brand new little
              brother Tom. Over twenty years of difference between them, in fact, she was going to give birth soon,
              giving Tom a little nephew or a niece his own age. Out of all three, this was the most intimate visit.
              Starla had no friends in Riverside, but she had loving parents who were devastated, thinking they lost
              her. Now that they reconnected, after going through the traumatic experience, they ended up closer than
              ever.
            </p>

            <p>
              All girls have used their money to help their families. This help was most significant to Starla’s
              parents, who were the poorest. Starla’s dad was now an owner of a small hardware store with staff and
              plenty of time for himself. Both her parents needed a break to focus on their new baby. Having a child so
              late in life was hard. It was a young person’s game.
            </p>

            <p>
              The girls returned to Los Angeles, where they rented a large apartment in the hills. This was just a
              temporary solution till they got their life in order. Both Starla and Sally were expecting and wanted to
              have good medical care to deliver the babies without any issues.
            </p>

            <p>
              A few days after they arrived and settled down, there was a knock on their doors. Starla opened and, in
              shock, let two men in military uniforms in. The girls looked at them, frozen in fear. There was no way
              this was good news. The men asked the girls to sit then gave them the news of Carter’s death. Moni
              fainted, Sally burst into tears, unable to say a word. Starla was the strongest of the three; she asked,
              “are you sure he is dead? Have you seen his body?”.
            </p>

            <p>
              “No, mam, I am truly sorry. I can’t get into the details, but he died in an explosion. The blast was so
              severe that nobody survived. There were no bodies to be found, nothing was left”. Starla nodded,
              suppressing her tears and saw the men out. She joined the two girls, hugged them, bawling like a baby,
              feeling an enormous sense of loss.
            </p>

            <p>
              The girls cried for a long time. Starla made everyone some tea. They sat at the table staring in the
              distance, unable to fully process the news. “He can’t be dead. I don’t believe it”, said Sally. The girls
              looked at her in hope. “Remember the wishes that we were granted at our wedding. That can’t be the truth;
              I won’t have it”. Sally truculently refused to accept it. She was the one who was with Carter the longest.
              Starla chimed in, “there was no dead body. They never even looked for it”. For hours the girls talked
              about Carter. It was the first time they really talked about him. They all loved him, missing him terribly
              when he disappeared.
            </p>

            <p>
              They found out only later after Carter was arrested that the military men took him away. The girls tried
              to find out what happened to him, but nobody would tell them. Moni spoke with Dean, and he pulled some of
              his connections, telling the girls that he was deployed back in the middle east on a last tour of duty
              until the dust of his murderous rampage settles.
            </p>

            <p>
              Now that they heard how he was dead, the girls really talked about carter for the first time. When they
              lived together, it was a taboo subject. They all knew how he doesn’t like to be asked questions about his
              life. He was deeply wounded by what he has done and didn’t want to be reminded of that. That magic spell
              somehow broke when they were informed of his demise, and now the girls couldn’t stop talking about him.
            </p>

            <p>
              It was unbelievable for Carter to be dead. He was a scourge sent to punish the wicked. Sally told the
              girls the story of a winter night when Carter shot a pack of wolves. Starla shared for the first time what
              she found in the barn, the tortured men in a horrible state. Moni repeated the story of how Carter pulled
              the unconscious rapists out of the house. The terrible look in his eyes and his sheer brutal unstoppable
              force. Sally ended with the story of the cabin and blood-curdling screams coming from the forest and a
              room full of corpses shot in their heads. Carter singlehandedly killed over seventy men like some sort of
              vengeful angel of death coming for his woman.
            </p>

            <p>
              None of it made sense. The girls followed the news closely, getting every tidbit of information. They
              learned of ultimate carnage, a single man destroying a whole gang of hardened criminals without a single
              scratch. The way he murdered that priest was gruesome. It was unpublished information, but Dean gave them
              a dossier. Carter was the kindest, most loyal man they ever met. He killed all those men just so the girls
              could be safe. He was also a monster, a demon, a dragon unleashing his wrath.
            </p>

            <p>
              To hear and believe he was just dead, gone in some explosion far away, just didn’t make sense. They never
              got his body; therefore, they had no clue, finally their wishes and wedding gifts. They were clear and
              explicit, and they were granted. Believing the gifts to be false would be denying their faith. It was that
              faith that kept them together. That faith gave them their strength.
            </p>

            <p>
              “This is just the test of our faith”, said Starla, who was raised in deep religious life. “Yes, we are
              being tested. Our faith and love for Carter are put on a test”, Moni added. “I choose to have faith. I
              refuse to think he is dead. Until someone shows me his body until I see it with my own eyes, I won’t
              believe the word they are saying”, Sally added to that.
            </p>

            <p>
              Origin wasn’t just some random religion based on stories and myth tampered by priests. It was simple and
              tangible. They felt it every morning at dawn. The welcoming ceremony was about the believers giving their
              faith freely, thanking the Origin for all its gifts, most notably the light. The ceremony was also about
              affirming one’s faith through seeing, experiencing the vast creation, feeling connected to it, feeling its
              effects wash through their body and minds. Since time immemorial, people worshipped the sun. Before the
              prophets, gods and sages, people felt the truth in their hearts. They didn’t need scripture and someone to
              tell them what to think. They would just come out at down, raise their hands and let it come. The women
              felt that force of creation more than any as they brought a new blessed gift of life into the world.
            </p>

            <p>
              Instead of immense, overwhelming sadness, the girls felt receiving the news from military men. They felt
              quickened and focused, and their faith affirmed and renewed. It wasn’t anymore about Carter being far away
              or dead. It was about faith, about believing the power of the creation. The girls were given the gifts
              they wanted, and this was the mystery and a way of receiving.
            </p>

            <p>
              After a long chat, the girls fell asleep exhausted. They woke up just before dawn, making their way to the
              beach to welcome the sun and raise their hands in worship, feeling the weight of the world come off their
              shoulder. They knew now, without any doubt, what they needed to do, they had a plan and focus, and they
              were determined.
            </p>

            <p>
              The sun came up; the girls felt the light and its warmth wash their naked bodies. They understood all
              their wishes were granted. The military lost Carter, which only meant he was coming back. “We welcome the
              sun and give our thanks. Blessed is the gift of light. Blessed is the Origin”.
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Greg-Rumpel-Stiltskin-ebook/dp/B0B298962T'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3y7XejC'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Greg?id=8TNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>

              <a href='/books/montana/preview/chapter-9-montana' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 9 - Montana >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
   
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
