---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Montana | Chapter 2 - Personal power'
  description='Montana novel by Rumpel Stiltskin'
  image='/images/montana.jpg'
>  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/montana3.jpg' /> -->
          <p class='emp grey'>MONTANA</p>
          <h1>Chapter 2 - Personal Power</h1>
          <div class='biggest'>
            <p>
              “... and this is why all men are potential rapists”. Sally concluded her talk to a loud ovation of the
              crowd of women, smiling at her girlfriend in the front row. After briefly answering a few questions, she
              gave the next speaker the stage to talk about toxic masculinity; how to recognize it and respond.
            </p>

            <p>
              After the talk, shaking a few hands, exchanging phone numbers, Sally took Monique to a new eco-friendly
              vegetarian restaurant. It was recommended by feminist sisters as an excellent place to celebrate their
              first anniversary. The restaurant looked fancy and catered mostly to female clientele since the two owners
              were a lesbian couple just like Sally and Moni. They were very much active in the feminist community and,
              as a result, employed only female staff. The girls were shown to the table Sally booked a month ago,
              wishing everything to be perfect. Another waitress serving them non-alcoholic champagne.
            </p>

            <p>
              “Happy anniversary, my love”, said Sally touching her glass to Moni’s, taking a sip. While the food was
              prepared, they reminisced about the first time they met precisely a year ago. It was pure luck,
              coincidence or serendipity; it didn’t matter which. They both showed up to the casting for a new Netflix
              movie. Moni just moved to Los Angeles from Seattle after finishing high school in Seattle. Sally was there
              for two years already on scholarship, attending gender studies at UCLA. Sally, a tall, buxom dirty-blonde
              with unique sensual curves and soulful blue-grey eyes, contrasted Moni, tall, slender, raven-haired beauty
              with a narrow waist and large breast better suited to the runway or a cover of a fashion magazine. The
              girls immediately took a liking to each other, chatting happily while waiting for the call, promising each
              other they would wait for another no matter what happens. Both of them celebrated their rejection in a bar
              a few hours later. Each was told they were too beautiful for the edgy kind of character the director was
              looking for.
            </p>

            <p>
              Moni didn’t take the rejection well. Her self consciousness, coupled with her youth, got the better of
              her. Sally was a little more experienced in acting. For a few years, she lived in LA and went to too many
              castings to take the rejection personally, so she decided to give Moni a few pointers. Sally was
              twenty-one, so she ordered a cocktail for herself and the same non-alcoholic for Moni, who was only
              eighteen at the time. The two girls found a lot of common interests and were fast becoming friends. Moni
              was lonely, sharing a room with her mom’s cousin in the valley. This was a typical example of a broke
              actress coming to LA for make or break, running on fumes with a little money she’s got saved or what her
              mom would send her. Moni wasn’t very bright; she barely finished high school with a passing grade. There
              was no future for her in academia or corporate America. What Moni lacked in smarts and self-confidence was
              more than balanced by her other qualities. Her intense sensual beauty and raw, naturally unconscious
              sexuality practically bursting from her every pore. Moni wasn’t a genius, but she had enough brains to
              figure out the cards she’s been dealt. She didn&#39;t fool herself with dreams of college wasting her
              precious time. Moni wanted to give Holywood this one chance in the hope of becoming a movie star. Failing
              that, she would just find an older man who would be willing to trade a life of luxury for her virginity.
              Her mom did the same, and if she was smart enough, she would still be enjoying a good life rather than
              pissing it all off on stupid things after her dad died.
            </p>

            <p>
              The girls chatted and laughed; Sally kept ordering cocktails, discretely letting Moni have a sip until
              both of them were quite drunk. Realizing that she crossed her limit Sally paid for the drinks. With their
              arms locked, giggling, the two girls got into uber, which dropped them in front of Sally’s Hollywood hills
              apartment. Climbing the stairs, the girls made it to the second floor, shushing each other. They collapsed
              on the sofa, giggling and embracing each other for support. The way they fell, Moni ended up on top of
              Sally, caught in the moment she kissed her. Both girls were surprised at that, but before it got weird,
              Sally lifted her head, responding to Moni with a passionate kiss. They ended up rolling on the thick white
              carpet, kissing and fondling.
            </p>

            <p>
              Somehow they managed to roll to the bed, undressing along the way, the alcohol removing all their
              inhibitions. Sally ended up on the bed with Moni on top of her, kissing her passionately, her hands
              roaming Sally’s body, touching, squeezing, squashing. Moni’s inexperience was evident. Her basic urgent
              need made up for it many times over. It all became a blur. At one moment, Sally’s erect nipple was being
              sucked. The other moment she was squashing Moni’s breast, chewing on her ear lobe gently. Somehow Sally
              found herself between Moni’s legs, her clean-shaven pussy in her face. Sally didn&#39;t stop to think
              about what she was doing. Her lips connected with Moni’s moist opening. She licked and sucked, twirling
              her tongue, pushing it inside her as far as it would go. Moni started to moan, gyrating her hips, giving
              out little yelps, then her orgasm started. Pushing her fingers into Moni’s pussy Sally pumped them in and
              out as fast as she could, increasing Moni&#39;s arousal to the next level, her screams filling the room.
              Moni’s orgasm was so intense she expelled a massive squirt right into Sally’s mouth. Caught in the moment,
              Sally kept swallowing until Moni collapsed.
            </p>

            <p>
              Horny beyond belief, Sally straddled Moni’s face sticking her pussy right into Monu&#39;s mouth. Moni
              responding immediately by lapping it up. They rolled around, with Moni ending between Sally’s legs in the
              exact role reversal, eating Sally out, giving her all she’s got. One, two, three fingers pumped into Sally
              while Moni ate her pussy. Within minutes Sally reached her own orgasm, creaming all over Moni’s face. Moni
              climbed on top of her. They kissed for a long time before ending up in a classic sixty-nine, eating each
              other’s pussies, competing who can make the other oner cum more.
            </p>

            <p>
              Sally woke up with a headache. It took her a few moments to notice her long dirty blonde hair mixed with
              raven-black strands. The events from last night immediately came back to her, “I had sex with a girl!” She
              thought, mouthing the words in awe. Sally wasn’t even aware she was attracted to women. Her only a few
              disappointing experiences were with the guys she dated. Sally only had sex with three guys. The first guy
              hurt her badly by sticking his cock inside her ripping away her virginity with no finesse. He filled her
              with sperm a few seconds later in the back of an old pickup truck. The other two guys she actually dated
              for a while. The second one Tim, was the jackass jock on her high school football team. He used to call
              her his “cock sleeve”, but not to her face, of course. He would come by her house almost daily for a
              drive-by fuck, never lasting more than ten minutes, which was enough for him to undress, cum, put on his
              clothes and leave. He was too busy on weekends, which turned out was with his university girlfriend Sally
              knew nothing about until accidentally bumping into them kissing at the mall. The breakup was violent,
              ending with the asshole calling her a slut with chlamydia and posting her nude pictures to everyone at the
              school. Her last guy was older, almost thirty; she met him after she graduated and moved to LA. He treated
              her well, took her to restaurants and fancy hotels where they fucked a lot. Too bad he was married,
              something that somehow slipped his mind, forgetting to tell her all about it until Sally answered his
              phone one day while he was in a shower. Turns out his wife was surprised as well. Neither of the guys
              managed to make Sally cum; she thought something was wrong with her body; she would get aroused easy but
              could only cum when playing with her pussy. The last night with this girl was the most beautiful, sensual,
              erotic experience of her life. For the first time in her life, she had an orgasm with another person, and
              not just one. She had so many that she lost count. Now that she was sober, she wanted more.
            </p>

            <p>
              Slowly turning around, she noticed Moni sleeping next to her. She looked gorgeous, so innocent, like a
              flower with the body of a sex goddess. Inch by inch, she examined Moni&#39;s body. Sally admired Mon&#39;s
              perfect sensual curves. “This girl could easily be a supermodel”, she thought, “as far as lesbian
              encounters go, I can’t imagine being able to do any better than her”. Following Moni&#39;s legs, Sally
              noticed a large red spot and many smaller ones on the white linen. “Did she have a period”? Sally
              wondered, looking at her hands, noticing the dried blood underneath her nails. “oh! Jesus! She was a
              virgin!” It hit Sally.
            </p>

            <p>
              Sally suddenly remembered something Moni said in a bar about her saving herself for the right guy, and it
              all came together. Sally felt terrible to take this precious thing from the young girl. Something she
              managed to defend for years from the horde of horny guys promising her everything and anything to fuck
              her. Now she just to lost it in a drunken romp with another girl, someone she shouldn’t be scared of,
              someone she should be able to trust. Sally felt her stomach twist, a horrible sense of guilt overwhelming
              her. She did to this poor girl the same thing guys did to so many young women; she got her drunk while
              still below drinking age, then brought her home and fucked her. This is a classic jackass move all the
              guys do. It happens so often that it became the definition of the word cliche. Every girl on the planet
              knows they shouldn’t drink too much with a guy, or they’ll end up with cock inside them; it was dangerous.
              Now Sally did precisely the same thing; she was a rapist.
            </p>

            <p>
              Worried about the girl, she hovered above her, checking out her face when Moni opened her eyes and
              blinked, trying to clear her head. Sally froze, expecting scorn coming her way, but Moni just smiled and
              said, “hi!” Confused, taken aback, Sally stupidly parroted “hi” their eyes met. Moni simply lifted her
              head and kissed her. It took a few second for Sally to respond; she kissed her back. A few seconds later,
              they ended up rolling on the bed again, fondling and kissing like lovers do. Sally led Moni to the
              bathroom, where they took a long steaming shower, eating each other out till they came.
            </p>

            <p>
              “You must be rich,” Moni said, examining Sally’s luxurious apartment, checking out everything like a kid.
              “Between the scholarship, my parent’s money and what I earn from doing public talks, seminars and regular
              film extras jobs, I make enough to live nice.” They ate breakfast, struggling to keep their hands off each
              other, ending up in bed again for another marathon session of lesbian sex.
            </p>

            <p>
              “I’m sorry I took your virginity”, Sally muttered to Moni, her hands going gently through Moni’s hair as
              she lay her head across Sally’s stomach. “I’m not”,, said Moni. “I’ve never even kissed a boy before. I
              was scared after hearing the stories of painful first times. You made my first time the best experience
              imaginable”. Sally kissed Moni gently, continuing to play with her hair. She let Moni choose from her
              wardrobe; they dressed up and went out for their first lunch date. Sally let Moni drive her electric-blue
              BMW Z4 cabriolet around LA, laughing at her teenage excitement.
            </p>

            <p>
              The girls were inseparable from that day. A week later, Moni moved in with Sally. She had only one large
              bag full of clothes, half of it was too old, so the girls spent a weekend shopping, dressing Moni up
              nicely. Guys and girls turned their heads, seeing two tall, gorgeous women walking around hand in hand
              wherever they went, clearly lovers, not just close friends. After a couple of months, Moni got a minor
              role in a film and enough money to buy an identical second-hand car to Sally’s except painted red.
            </p>

            <p>
              Both girls went together everywhere. They became poster children for the LGBT community, with Sally
              getting invited to many more talks across campuses and public gatherings. Part of their popularity was
              their beauty, so they spent every free moment, either fucking or exercising, in a gym down the road. Sally
              negotiated free membership because the two were lesbian and gorgeous, which attracted some new members.
            </p>

            <p>
              The young couple ate their food, holding hands, telling each other how much they loved each other. The
              owners emerged from the kitchen and posed for a group photo with the girls, asking them to sign their
              guest book telling them how their dinner was on the house. The girls took Uber to the same bar where they
              met, got tipsy again, ending back home, making love for the whole night. As they rested on their sides,
              looking into each other’s eyes, Moni asked, “would you marry me?” Sally’s eyes moistened. She hugged her
              tight, kissing her passionately. “Yes! Yes, I will marry you. I love you so much” they hugged each other
              tight, falling asleep wrapped around each other.
            </p>

            <p>
              I already spent six weeks shopping, going from one bar to another, visiting most strip clubs in the LA
              area, checking out all the girls. There were few whose bodies were up to my standard, so I waved them
              over, buying them a drink, talking to them, quickly losing interest. They were either too dumb or too
              damaged for my taste except for one fiery redhead with an incredible body and deep blue eyes. She was a
              brilliant psychology student at UCSD, financing her studies through stripping. I spent a grand on drinks
              and tips, talking to her all night. I offered her ten thousand dollars to sleep with me, something she
              flatly rejected, putting another tick into the box. I wasn’t interested in used-up whores; when something
              is for sale, it only becomes a matter of price; I was looking for something no money can buy.
            </p>

            <p>
              I was thirty-six years old, six-foot-five tall, dark and handsome with excellent muscle tone. I had a
              healthy, clean body apart from the shoulder USMC tattoo I had done with my platoon before going on tour. I
              ticked a lot of young women’s boxes. My cold thousand yards stare, however, often spooked them. I
              frequented upmarket bars and night clubs looking for the girl with the right looks and genetics. I would
              come up to her asking to have a chat, invariably excusing myself from the conversation; the word “vapid”
              often came to mind.
            </p>

            <p>
              I rode my motorcycle downtown and bought a bunch of sim-cards and Amazon vouchers, paying with cash.
              Sitting in an internet cafe, I set up an account with a fake name and address, ordering a bunch of the
              cheapest second-hand iPhones to be delivered to a locker in a nearby mall. A few days later, I picked them
              up, inserted sim-cards then set them up, checking the internet connection. I put them in ruggedized
              waterproof cases to the back of which I glued strong magnets I bought in a hardware store. I always kept
              two switched off phones in my pocket wherever I went.
            </p>

            <p>
              My dad was a rancher in Minnesota, where I was born, the third generation of Lees in the cattle business.
              He was also a proud American war hero; we had a flag on a pole in our front yard. He raised me repeating
              “god, duty country”; Semper Fidelis before I knew what it meant. I first deployed in Bosnia; I learned
              what evil was. We used to walk through villages counting the dead. Men laying on the ground, their heads
              smashed with sledgehammers, rats eating their bodies. Women raped and tortured; wrapped naked in barbed
              wire, their tits cut off, babies pulled out of their wombs, impaled on wooden poles.
            </p>

            <p>
              The place stank of evil, death and decay; mass graves wherever we went. We weren’t sent there to fight but
              keep the peace. I couldn’t imagine anyone willing to keep the peace after someone did such horrors to
              their friends and families. I know I couldn’t. I’d make them pay, I’d find them and kill them, and that’s
              what they did. We were there just a bunch of posers pretending that we made some difference. I felt
              sickened, I wanted to shoot someone for what they did, but I didn’t even know who the enemy was there. I
              didn’t understand why we were sent there apart from being cannon fodder. Every week, we’d run into an IED
              that blew up a few of my men, our leaders in their wisdom from the cushy chairs kept sending more. Every
              day, I waited for my turn to get blown away.
            </p>

            <p>
              That never came; they transferred me to Kosovo; it was simpler there; at least I knew who the enemy was. I
              was the best marksman there. They gave me a sniper rifle and sent me with another guy to sit on the roofs,
              look after our patrols, react to any threats; this is where I killed for the first time. I noticed a guy
              in a building about to throw the grenade onto the patrol team below. Without thinking, I reacted, pulled a
              trigger, taking his head clean off his shoulders. The grenade exploded inside the apartment a few seconds
              later, taking out whoever else was there. Immediately gunfire ensued, several fighters on the roofs
              started shooting, wounding one of my ground team. I sought out the shooters taking them out in quick
              succession; seven confirmed kills.
            </p>

            <p>
              I learned something about myself in Kosovo. I may not be great at many things like my dad pointed out so
              often, but I was good at killing people; I was truly gifted. While in Kosovo, my dad got an incredible
              offer for the ranch and accepted it. He bought a large apartment in Manhattan in my name for the money.
              When I protested, he told me I was his only son. I would inherit everything anyway, so it made sense; my
              mother agreed. They wanted a different life for me. My dad&#39;s words turned out to be prophetic. His
              friend got him a desk job in a security firm. Six months later, he ended up shot protecting a secure truck
              to an auction house. The regular guy reported sick at the last minute, so my dad, always the damn hero,
              volunteered. He had personal and corporate life insurances; they paid out big.
            </p>

            <p>
              My mom didn’t want to live in New York after that, so she used the money to buy a large house in a wealthy
              white neighbourhood of Los Angeles, putting it in my name as well. She was gunned down during a burglary
              attempt. A junkie heard a single old lady lived in a wealthy neighbourhood; she was an easy target. The
              guy broke the window and got in just to be confronted by an old lady with a shotgun. This quickly
              escalated, the police sirens approaching the house, agitating the twitcher further. My mom blew his head
              off but not before he managed to put a couple of bullets in her; she died on her way to the hospital. So
              much for city living, I thought, regretting I ever left Minnesota, if I was there, I’d never let them sell
              the ranch. Now I was truly alone, with no family or friends apart from the marines. My mom’s insurance
              paid out big as well, landing into my savings account, all of which I gave to a trustworthy investment
              firm, paying out dividends, growing capital.
            </p>

            <p>
              Two hundred-eleven confirmed kills by the time I was sent to Iraq. I could walk out after Kosovo, my tour
              of duty ended, but where would I go. Everyone I ever loved was dead; everyone I cared for was in the
              military. I’ve seen too much, I’ve done too much; there was no place for me in the real world, I wouldn’t
              know where to begin; what would I do? Who needs decommissioned murderers? Private military for waging
              secret wars? I found that distasteful, and I didn’t need the money. There was nothing I wanted to buy. Go
              home? Have a family? Who would want me? What woman could love someone like me?
            </p>

            <p>
              “I am scared”, Moni said as the plane started to land “oh come on! You’ve flown before”, laughed Sally.
              “No! I am scared of your parents”. Young lovers talked about it for weeks, planning. They wanted to meet
              both parents, tell them in person that they were getting married. The very next day, after the proposal,
              the girls dressed up. They hit a jewellery store, getting a matching engagement ring for each other. They
              were happy beyond belief and wanted to make it work. Now that they were landing in New York, Moni started
              getting the jitters. They weren’t just announcing their engagement but also coming out as lesbians to
              their parents, families and friends, the whole world. There was something monumentally final about that,
              and it was scary.
            </p>

            <p>
              “I am scared too”, said Sally, “but we talked about it, we have to do it. My parents would never speak to
              me again if they found out”. Moni squeezed Sally’s hand tighter, her hand clammy from stress, “I love you,
              Sally; you are my life”. The girls kissed then waited to land. As the plane rolled to the gate, Sally’s
              phone burst into activity, dozens of messages from everyone. She told her mom that she’s got some big
              news, and her mom worked out that Sally was flying in with a friend to tell them she was getting married.
              She figured it out by analyzing Sally&#39;s Instagram photos, noticing a diamond engagement ring on her
              hand. Excited that she was the only one who figured out the secret, Sally’s mom organized a surprise party
              calling the rest of the family and all her school friends. Over fifty people were waiting for her.
              Naturally, messages got mixed up, people texted each other, and Sally figured out what’s going on. She
              didn’t want to tell Moni to avoid freaking her out any more than she already was.
            </p>

            <p>
              Mike waited in the crowd with Tara, Sally’s childhood best friend. When she heard Sally was coming, she
              couldn’t wait to see her. It’s been almost two years since they last met. She avidly followed Sally’s
              social media, her lectures and achievements. When they were little, they had so many plans to travel the
              world together, go to university all sorts of things. Unfortunately, Tara got pregnant at sixteen fucking
              some boy for the first time. He didn’t know what he was doing; neither did she. As he came, his condom
              fell off, spilling the little babymakers inside her pussy. As luck would have it, those were her most
              fertile days; she was pregnant in seconds. The boy’s family moved off to Florida long before she knew she
              was pregnant. They didn’t exchange any contact info; she didn’t even know the boy&#39;s last name. It was
              one of those weird “boy meets girl” situations. Tara and her whole family were extremely religious,
              southern baptists. It was a horrible sin having sex before marriage; abortion ensured a hellfire, not an
              option. She spent years repenting in church for having sex and giving birth to a bastard son. The priest
              wouldn’t even baptize him, saying he was an unclean spawn of satan.
            </p>

            <p>
              Seeing her father waiting with Tara, Sally ran up to them, hanging around their necks. Hugs and kisses
              ensued. Moni standing quietly next to them, redfaced. On their way out, she discretely took off her
              engagement ring, putting it in her pocket. “Who’s this?” Asked Sally’s dad nodding towards Moni, who got
              smaller with every passing second. “This is Monique, she is from Seattle, we live together”, responded
              Sally, avoiding the real answer like a skilful orator she was. “I’m Mike, Sally’s dad”, he said, offering
              his hand. “Nice to meet you; I am Moni, she managed to squeeze out, almost whispering. Mike took their
              rolling cabin bags leading the way out into the parking lot.
            </p>

            <p>
              It took them almost two hours to get home. As they entered a large living room, sixty voices shouted
              “surprise” as one, continuing their interrupted conversations. Seeing Moni’s face, Sally took her hand and
              led her to her old room; just in time before, Moni burst into tears, sobbing like a child, “I can’t do it,
              this is too much, please”. Sally rested Moni’s head against her soft breast, stroke her hair gently,
              cooing, kissing her. “It’s going to be ok, honey. we’ll get through it together. I love you so much,
              darling” They kissed and hugged. Sally dried Moni’s tears, fixing her makeup, and they made their way
              downstairs. Someone pushed drinks into their hands, then someone else brought a slice of cake; everyone
              had a great time.
            </p>

            <p>
              The clinking sound of a teaspoon on a champaign glass interrupted everyone’s conversation. “Attention,
              please! I called you all here because my daughter has an announcement to make” sixty pairs of eyes turned
              to Sally, suddenly she started feeling nervous. Seeing her hand tremble, Moni grabbed it and squeezing it
              so tight it hurt. “Well, I wasn’t expecting such a big crowd, especially as what I have to say might come
              as a bit of a shock to you, but here we go; I am getting married!” Sally said with a forced smile, feeling
              now the enormous pressure Moni felt all along. When claps and whistles ended, someone asked, “so where’s
              the groom? Why didn’t you bring him with you?” Teasing Sally. “Well, actually, I did bring my fiancé with
              me”, she said, pausing, then took a deep breath “everyone, I want you to meet Monique, the love of my
              life”.
            </p>

            <p>
              Too bad there are no crickets in New York; the silence wouldn’t be so awkward; you could easily hear a pin
              drop. Everyone was flabbergasted; nobody knew what to say. Surprisingly, her dad made a joke, “well, at
              least you’re not pregnant”, that broke the ice, and everyone laughed. “Sorry”, he said, apologizing to
              Tara, who gave him a dirty look. It took a while for the awkwardness to disappear. Still, slowly, people
              came up to Moni, striking up a conversation one by one. A couple of hours later, Sally coming out as a
              lesbian was old news and people started talking about other things. Mike waddled to Moni and hugged her
              around her shoulders from the side. “You know I had this whole speech ready for the groom. I planned to
              show him my gun collection”. Moni giggled. “Don’t worry about anything, honey; It was just a big surprise.
              You are such a beautiful girl, and I can see how you look at Sally. Welcome to the family, daughter”, Moni
              burst into tears. Mike hugged her, understanding that she just needed to decompress. “So, do you have a
              ring too?” He asked her with a smile. Immediately Moni reached into her pocket and put it on. Mike
              signalled his wife showing her Moni’s hand “doesn’t she look beautiful” he asked. His wife hugged her.
              “I’ll tell you a secret; I always wanted another daughter”.
            </p>

            <p>
              The party went on till late at night before all guests returned home. Sally promised to have a coming-out
              party tomorrow in one of the clubs; everyone cheered. Finally, alone in her old room, the girls collapsed
              on the bed. “We’re alive!” Sally said with a sigh, and Moni giggled, “I thought I would die”. Sally pat
              Mona’s face kissing her soft lips. “You know what? I always fantasized about a handsome stranger breaking
              into my room, tying me up and having his way with me, while I’m helpless”. Mony climbed on top of Sally
              with a mischievous smile. She kissing her gently, pulling her top off, unhooking her bra, using it to tie
              Sally&#39;s arms against the headboard. Moni slowly rubbed her breast against Sally’s face after
              undressing quickly, occasionally dipping her nipples into Sally’s mouth. Two bras weren’t effective bonds,
              but as a make-belief, they were pure gold. Moni slowly moved downwards, kissing her body one inch after
              another. She spent ten minutes kissing Sally’s eyes, nose and ears, biting her lips gently. Sally moaned,
              turned on beyond belief. Torturing her as slow as she could, she reached Sally’s large, firm breast. One
              after another, she would kiss them, lick them, lick her nipples, then gently blow on them. Sally’s nipples
              were erect like never before. She felt them pulling up, throbbing, begging for attention; goosebumps
              covered Sally’s breast; she was in terrible need.
            </p>

            <p>
              Continuing her unstoppable journey, Moni kissed and licked Sally’s belly, exploring every inch of the
              trembling body below. Moni could feel the heat of Sally’s pussy even through her jeans. She unbuttoned
              them with her teeth then quickly pulled everything down, leaving Sally naked on the bed, her hips
              gyrating, desperately trying to cum. Moni wasn’t in a much better shape; the whole experience turned her
              on incredibly; her panties were soaking wet. She quickly undressed, climbed on top of Sally then stuffed
              her panties into Sally&#39;s mouth like a soft purple lace gag soaked in her own pussy juices. Sally
              almost came just then, tasting her lover’s soaked lace underwear. Moni found her black stockings in a bag
              then quickly tied Sally’s eyes. Pushing Sally’s legs wide apart, Moni kissed and nibbled Sally’s alabaster
              thighs all around her pussy without making any contact. Sally’s pussy was so wet, it dripped onto the bed.
            </p>

            <p>
              Moni spread lubricant on her hand then slowly inserted a single finger into Sally’s pussy. She went wild,
              her hips gyrating, trying to get herself off on a Moni’s finger, but it just wasn’t enough. She wasn’t
              moving it, just kept it inside. “Please!” Sally begged, “please fuck me”, noticing that Mona wasn’t doing
              anything. Sally begged more, “please, mistress fuck me hard; I need to cum”. Hearing her beg so nicely,
              Mona moved her finger in and out of Sally’s pussy, rubbing it inside, then added another finger, moved it
              a little and stopped. Sally was going insane in desire. She desperately needed to cum. Moni let her beg
              for a while, then she rubbed her quickly for a minute, inserting a third finger and stopped. Sally
              couldn’t take it; she chewed on Moni’s panties, growled and begged. She felt her pussy stretch to its
              limits, then stretch again; it was a little painful. Saly was so turned on that the pain felt good “oh so
              good! Please more, I need more, give me more mistress, I need it bad”. Sally didn’t realize that mona
              pushed her whole hand into her pussy; she didn’t care. The only thing that mattered was for her to cum.
              “Please do it, fuck me, fuck me hard, make me cum, you slut! Oh, please mistress, let me cum, I beg you”.
              Moni made a fist then pumped slowly in and out of Sally&#39;s pussy.
            </p>

            <p>
              Sally deliriously moaned into the panties she chewed, babbling incoherently. Fascinated by what Moni was
              doing to her. Moni fisted her harder and deeper until her hand accidentally popped out and slammed back
              into Sally’s hole. “Yess!” Sally hissed, “please give me more”. Encouraged by Sally&#39;s reaction, Moni
              kept pulling her fist all the way out of Sally&#39;s greedy cunt then punching it back in. Seeing she
              wasn’t hurting her, Moni kept increasing her tempo until she was punch fisting her full speed as if she
              was boxing her. At one moment, Sally grunted loud, bit into Moni’s panties, her legs trapping Moni’s arm
              inside her pussy and bounced on the bed like a wild woman.
            </p>

            <p>
              It took Sally five minutes to come down from her high and release Moni’s arm. She quickly untied her,
              wrapping herself around Sally, kissing her gently, stroking her beautiful blonde hair and sweaty body,
              feeling her breathe. “Wow! That was intense; I’m so wet!” It took Sally a minute to respond, “yeah,
              especially in the end, I’ve never cum so hard”.
            </p>

            <p>“Didn’t that hurt you?”</p>

            <p>
              “yes, but it was a good hurt. It felt great to be tied up and fisted like that. It’s hard to explain”. The
              girls lay in bed, talking about sex and fantasies for the first time. “What is your biggest fantasy? What
              do you think about when you masturbate?” Moni asked her. “I don’t masturbate anymore; I have your lips on
              my pussy instead”, responded Sally with a smile “you know what I mean”, Moni pouted. “When I was a
              teenager, I had many fantasies; the more I masturbated, the weirder they got. The sauciest fantasy I had
              was to be kidnapped by a large man, keep me in a dungeon and use me for sex; beat me, fuck me, rape me
              continuously without mercy”.
            </p>

            <p>“Wow! That’s some fantasy. What happened? Why did you stop?”</p>

            <p>
              “I don’t know, I guess after meeting real men, none of them was what I expected. I didn’t have a single
              orgasm with them. All they wanted was to use me and throw me away. I lost all my hope in having a loving
              relationship before I met you. I didn’t even know I liked girls”. They ended up kissing and fondling for a
              while, then Sally asked Moni, “how about you? What is your biggest fantasy?”. Moni looked at her shyly and
              said, “I like pain”.
            </p>

            <p>“What do you mean you like pain?”</p>

            <p>
              “I never had an orgasm before I met you. I tried masturbating, and I would get aroused, but I couldn’t
              orgasm. Sometimes when I masturbate, I bite my finger hard or pinch my nipple. The pain makes me cum. You
              were my first real kiss and the first person I had sex with. I love you so much, Sally; you are my
              soulmate”. The girls hugged tightly. “I love you too, Moni, the love of my life”.
            </p>

            <p>
              Having shared the revelations, the girls spent the whole night telling each other about their fantasies.
              It turned out they were even more similar than they thought. Sally was turned on by violence and Moni with
              pain. They resolved to experiment, try out new things, see how their fantasies feel in real life. They
              fell asleep wrapped together, telling each other what they will do to them. Both girls were insanely
              turned on but too tired to do anything about it, and they drifted off to sleep.
            </p>

            <p>
              It was just after sunset when I got into a small alley. I threw a foldable hook tied to the rope against
              the fire escape ladder and climbed up one floor, pulling the ladder up behind me. I squatted there for a
              few minutes to make sure nobody saw me quietly tiptoeing to the top of the building. I memorized my path
              from google maps running quietly, jumping from roof to roof in a zig-zag pattern until getting my
              destination. I crouched on top of the roof of a building without easy access. Across the street was a
              strip club where the redhead worked. I took out my military-grade binoculars, doing a quick recon. Only
              two cameras covered the lot, one belonging to the city, the other one owned by the strip club. I bought a
              high powered airgun modifying it to add power and distance, mounting a scope on top. With a single shot, I
              knocked down the city camera then replaced the pressurized air bottle with a stronger one. It was going to
              be challenging to shoot the strip club camera far across the road; it was at the limit of the airgun&#39;s
              capability. I sat there, waiting for the right moment. After the bouncer went inside, I counted to three,
              stopped my breathing, and pulled the trigger, knocking the lens clear off. Someone heard the bang, got out
              and noticed a broken camera. They looked around, seeing nobody, another guy in a suit coming out checking
              the camera with a flashlight, then they left.
            </p>

            <p>
              I sat on the roof, drinking coffee, observing cars parking up. The people entered using the main entrance;
              the workers used a separate one. A key to being a good stalker is the details and patience. Luckily I was
              well trained in that. I spent years killing people from trees, bushes, rooftops, and other terrain types.
              It made me an apex predator, happy to wait patiently for my prey.
            </p>

            <p>
              Starla showed up just before ten. I saw her park up and get in. I took down her license plate number, then
              finished my coffee, disassembled my airgun packing everything up. I carefully went back the way I came
              leaving my bag in the trunk of the car I parked four blocks down. I drove up to the strip club, parking
              next to Starla’s car. I switched on one iPhone, reaching deep underneath her vehicle. I wiped the dirt off
              with my glove then stuck the strong magnet against the chassis. Nobody paid any attention in my direction,
              so I just sat back into my car and drove off home.
            </p>

            <p>
              The next morning I sat on my bike and rode to a cafe by the beach. I ordered a nice late, switched on the
              other phone and used Apple&#39;s service to find my phone. It gave me the exact address where Starla’s car
              was; I finished my coffee, paid and after putting on the tinted full-face helmet, I rode off to the
              address. It took only a few minutes to find the car parked next to the curb. I checked for cameras and
              turned around. Stopping by her car, I quickly got off the bike, picked up the phone beneath it and rode
              off; the whole thing took ten seconds. I switched the phone off while riding and went home. Looking at the
              map of the area, I found a few potential observation points. A tall skyscraper some three miles away was
              the perfect option. I drove up and asked to speak with the building manager. I explained to him that I was
              a budding astronomer, happy to pay him five hundred bucks to let me observe the stars from the building
              roof. I said that I was tracking meteorites, hoping to get to name one and become famous. We shook on
              seven hundred, a hundred for each day. I rode home and drove back, carrying a large telescope on a tripod
              with a mounted camera.
            </p>

            <p>
              My dad bought me my first telescope when I was ten. I read a book about stars and planets and kept asking
              him questions he couldn’t answer. I spent many days watching the stars, learning about astronomy. I liked
              to imagine I was going to another planet, thinking about what would I carry with me, what would I miss the
              most. That hobby grew into a passion. I worked hard doing odds and ends, saving money for a
              professional-grade telescope. My dad thought it was vital for me to learn hard work and the value of
              money. He said for every cent I earn, he’ll give me another. Boy, was he surprised when I counted five
              grand on his desk. My dad also believed that man was measured by his character, promises are to be kept, a
              man’s word was his bond. He had to get a small loan to match my five grand, in the end, buying a
              magnificent high powered entry-level professional telescope.
            </p>

            <p>
              I pointed the telescope at Starla’s house; I could see it well. Putting the camera to video mode, I
              attached an external seven-inch monitor and a large battery pack. I could now relax, drink my coffee and
              watch the show. I stayed there day and night, matching my rhythm to Starla’s, taking notes, spying on her
              from afar. I mapped all the neighbours, traffic frequency, who owns what car, where the cameras are,
              street lights, and so on. When Starla went to work, I drove up around two in the morning. Lowering the car
              window, I shot all the cameras and all the lights and drove off.
            </p>

            <p>
              I kept watching Starla for two more days, then Friday rolled in. I knew she will be working hard that
              night. I rode up to a discrete street dressed in all black, quickly gaining access to her apartment block.
              The hallway door required just a small push to open; its lock was flimsy from overuse. Everything was
              pitch black inside the main stairway. Not wishing to turn on the light, I put on my night vision goggles
              and quietly made my way to Starla&#39;s apartment. Just two minutes later, I picked her lock and closed
              the door. The first thing I did was shut all the blinds, switch on the lights, and go from room to room,
              photographing everything. I went through Starla&#39;s belongings, mail, computer, everything that was
              there. I spent less than an hour inside, switched off the lights, returned curtains to where they were and
              got out carefully, locking the doors behind me.
            </p>

            <p>
              The next day I browsed the fifteen hundred photos I made, printing out the important ones. It is
              incredible how much one can learn about the person just by digging through their stuff. I wasn’t a
              computer expert; in fact, I avoided technology. Perhaps that was a handicap, but I didn’t need to hack her
              computer to learn all that there was to know about Starla.
            </p>

            <p>
              I was about to pack up and leave on Sunday evening when I saw a blue BMW pull up next to the red one I
              couldn’t identify the owner of. Two girls got out giggling, heading for the same apartment block as
              Starla’s and went up.
            </p>

            <p>
              Sally woke up horny as hell, Moni still sleeping wrapped around her. Somehow she slid down during the
              night, unconsciously ending with Sally’s nipple in her mouth and like a baby, she sucked on it all night.
              Sally was about to wake Moni up; she really needed to cum. Sally dreamt of Moni’s perfect lips around her
              clit when she heard a knock, and mom’s head popped in with a smile. Mom&#39;s smiling face quickly turned
              into a shocked expression, quickly she slammed the door back shut. Sally’s mom was so happy that her baby
              girl was home, completely forgetting her daughter was lesbian now. The girl in Sally&#39;s bed didn’t just
              have a sleepover. She was naked, wrapped around her daughter and, for the lack of a better explanation,
              nursing on her daughter’s tit. Some sights can’t be unseen; she made her way downstairs, pouring a shot of
              brandy into her coffee, mumbling, “I’m too old for this”.
            </p>

            <p>
              The sound of the slamming door woke Moni up. Sally was red in her face from embarrassment. She nudged her
              lover out of bed. They took a quick shower then shot out of the apartment, avoiding embarrassing
              conversation with Sally’s mom. They had a quick breakfast in a restaurant down the road, laughing about
              the whole incident. Moni made Sally describe her mom’s face several times, each time giggling some more.
            </p>

            <p>
              Sally wanted to use the time in New York to show her lover the great city. She took her to Manhattan.
              First, they walked around, window shopped, bought some nice clothes on sale, then stopped for lunch. Both
              girls were quite worked up after falling asleep horny, skipping their usual morning sex. After lunch, they
              decided just as a joke to visit a sex shop and see if they could find out something fun. Neither of them
              has ever been in a sex shop before. They didn’t know what to expect. Sally looked up one that claimed to
              be the largest and had good reviews, so they called up Uber and went there.
            </p>

            <p>
              As they entered, both girls blushed in embarrassment. Moni wanted to run away, but Sally held her put. A
              cute looking goth girl, not much older than them, offered to show them around. “First time in a sex shop?”
              She asked; the girls just nodded. The salesgirl was a pro; she took them around, telling them what’s what,
              how things worked. The girls followed her with gaping mouths. As they reached the BDSM section, Moni
              squeaked in surprise. The salesgirl just smiled; she guessed right; “those two are kinky lezbos”, she
              thought. The girls got a half-hour lecture in bondage, learning what works, how and why. Horny beyond
              belief, hanging to the sales girl’s pitch, they kept putting everything they liked into a basket. When
              they finally rang it up, the bill exceeded two thousand dollars. Some other shoppers were checking them
              out. They didn’t want to cause a scene by going through all of it again to reduce the bill. Sheepishly,
              Sally gave her card to the salesgirl, and five minutes later, the girls walked out with six black bags
              full of stuff. Ashamed of their obvious lust, they quickly called a cab to take them home.
            </p>

            <p>
              “You are a lezzie now. You have to take us to a gay club to be with your people,” her high school friend
              Nicole teased Sally. Sally wanted to take everyone to a premier dance club they used to frequent, but none
              of them has ever been to a gay club before, and this was a perfect excuse to check it out. Everyone gave
              the two young lovers a hard time, teasing them to tears about coming out. “Does it mean that when we had a
              sleepover, you were sleeping with me?” Tara teased her next. Sally was furious at their teasing for a
              while, then someone said something idiotic, causing Moni to explode in laughter. This changed the mood
              completely. It was all just innocent fun between old friends.
            </p>

            <p>
              It turned out the gay club was great fun. They were a big group of girl, so management gave them a good
              table. The girls quickly realized there were many straight guys and girls, transgender and all sorts of
              people. Discussing it between themselves, they all agreed it was just prejudice that kept them from coming
              there before; everyone promised to be back again. The vibe was chilled, people were friendly, and prices
              low; it was a winning combo. One of Sally’s school friends, Tina, hooked up with a super sexy blonde with
              spiky hair and piercings. Sally saw them kissing, holding hands and exchanging numbers. Tara saw it too
              and joked. “What have you done, Sally? You infected us with gayness. Look at Tina; she is already
              switching away from solids”, everyone exploded in laughter. Funny as it was, somewhere halfway through the
              night, Tina and the blonde disappeared somewhere, just to re-emerge an hour later. Tina’s makeup all over
              the place, wearing a satisfied smile. Sally turned to her in mock scorn and called her “rug muncher”. Tina
              giggled, licked her lips, “no rugs there, clean-shaven”, with a sly smile.
            </p>

            <p>
              They danced and laughed till the early hours until the club was closing, and they kicked them out. Tina
              disappeared again with the blonde, the rest of the girls walked to twenty-four hours deli, ordering coffee
              and pancakes. Sally and Moni spent the whole day in bed resting before continuing their exploration of New
              York. They spend a week there with Sally’s family and friends. By the time they were supposed to go back
              home, everyone had accepted the change. Moni became another family member. They planned a spring wedding,
              Sally’s mother volunteering to help organize it.
            </p>

            <p>
              Iraq was a different place. The weather was different, people were different, there were different rules
              of engagement, different rules of life. We moved out of Bagdad into smaller cities, mostly on patrols. I
              had trouble figuring out who was the enemy again; it was all messed up. The IEDs started again, soldiers
              kept dying, and nobody really knew why; we only followed orders. Iraq was where I killed my first child.
              Watching over my team, I saw a kid who couldn’t be more than ten years old run towards the soldiers
              holding two hand grenades in his hands. The impact was so violent it took the kid’s head clean off. The
              twitching corpse dropped on the dusty road, the grenades exploding in his hands, turning what was left of
              the boy into minced meat.
            </p>

            <p>
              Iraq was clearly a very different place. I didn’t know who was trying to kill us, the men, women,
              children, the old people, even the sheep and donkeys, the cars left abandoned on the side of the road. I
              figured it was safest to assume that everything was trying to kill us. I killed indiscriminately; men,
              women, children, livestock. I&#39;d shoot anything that came our way. If I saw a car in a distance driving
              towards the team I was protecting, I’d shoot the driver. Sometimes cars were full of explosive and would
              detonate with great force. It was fucked; the whole place was fucked.
            </p>

            <p>
              When I got reassigned to Afghanistan, I was told that I’ve got eighty-three confirmed kills in Iraq. I
              laughed at that, counting well over three hundred people I saw go down after receiving my bullet. I was an
              expert marksman; every time I pressed the trigger, someone died. Iraq was when I started getting bad
              dreams, talking in my sleep. They sent me to the medic, he gave me some sleeping pills, and that was it,
              let’s kill some more.
            </p>

            <p>
              I thought I was a tough soldier; Sarajevo, Srebrenica, Kosovo, Iraq, but nothing could have prepared me
              for what awaited me in Afghanistan. Dozens of factions, contractors, private militaries, different
              factions of terrorists. Every fucking thing in that shit hole was hell-bent on killing me, my team or each
              other. Today allies, tomorrow sworn enemies. While in Iraq situation changed every day; in Afghanistan, it
              changed every hour. I was there for only a month, and I already killed over a hundred people, mostly women
              and children.
            </p>

            <p>
              One of our outposts got taken over by an unknown enemy. We sent a specialist navy seal team to wipe them
              out. When I got there, the carnage was beyond belief. There were limbless half-burned bodies everywhere.
              The cells in the main building were used for torture. One man hung skinned alive, a dozen had their
              throats cut. Nobody knew what the fuck was going on. In all that confusion, one of our guys managed to
              establish a peaceful relationship with one Taliban faction. I had to be extra careful not to kill some of
              them, as if they have name tags tattooed on their heads. There was a word of another player coming to the
              field, some “al mukhtar” man uniting the Islamists together. I got the orders to shoot him on sight.
            </p>

            <p>
              It was a truly horrible place; day and night, I was shooting someone. When I thought it couldn’t get
              worse, an order came, and I joined an expedition to some small town in the middle of nowhere. They called
              it “Jahim City”; I had no idea what to expect; I was only told it was bad, very bad. It took us two days
              to get there, and “very bad” doesn’t even come close to what we found. Someone slaughtered every man,
              women, child, pet and farm animal in the town in the most gruesome way imaginable; it looked like I was
              transported to hell. The worst was when we entered the mosque. The sight that waited for us was
              indescribably evil. Dozens of men hung hailed off the walls, their skin ripped off, stomachs opened, their
              guts were strewn all over the place, a horde of rats eating them. I felt sick in my stomach and ran out,
              vomiting on the street then passing out; I wasn’t the only one with the same effect.
            </p>

            <p>
              Something went really wrong with me after Jahim City. I couldn’t sleep, I couldn’t eat; I felt like
              vomiting all the time. The images of pure evil haunted me. The first aiders gave me some shots and pills,
              they didn’t work. The situation got worse every day. Finally, a group of marines jumped on top of me,
              taking my gun away from me. I had a barrel in my mouth and was about to press the trigger. I don’t think I
              wanted to kill myself. I just wanted everything to stop.
            </p>

            <p>
              They shipped me back to the states; I got a bunch of pills and daily conversations with a psychologist. He
              told me I had a severe case of PTSD, whatever that meant. Three months later, I was declared well enough
              to live amongst ordinary people. I got my medical discharge, pension and an open door. I was a killer;
              what was I going to do in the world without wars? I was one bad dream away from shooting someone, ending
              up in an electric chair. They should have just let me kill myself or let me keep killing then put a bullet
              in my head, but in their wisdom, they let me go. They called me a hero; I wasn&#39;t so sure about that.
              Heroes save people; I killed them. I wanted to save one little girl; I put a bullet in her head instead.
            </p>

            <p>
              Sally was glad to be at home; she and Moni had a great time in New York, and as expected, her parents
              loved Moni; her friends even more. One of her best friends became a lesbian too. The truth was, everyone
              knew about it; Sally’s story just gave her the push she needed. Sally and Moni explored the city during
              the daytime. At nights they used sex toys they bought and experimented with each other, playing loose with
              their most explicit fantasies and desires. The girls kept trying new things, pushing their limits,
              experimenting. True to what she said, Moni was a pain slut; physical pain aroused her. They started simple
              and quickly graduated to more painful lovemaking. Sally would now put bulldog clamps on Moni’s nipples
              when they made love. She would use little pins and stick them inside Moni&#39;s nipples, and she exploded
              in a massive orgasm.
            </p>

            <p>
              Sally, in turn, experimented with submission and raw, brutal sex. It turned her on to be tied up, degraded
              and brutally fucked. It would always give her the strongest orgasm. Unfortunately, Moni couldn’t give her
              the level of violence she needed, but it didn&#39;t matter; Sally loved Moni with all of her heart. She
              wanted to spend the rest of her life with her beloved Moni.
            </p>

            <p>
              Upon their return to LA, the girls unpacked and took a long shower, washing each other, fondling and
              kissing. Sally put on a strap-on dildo and came to the bed; Moni kneeling, spreading her ass cheeks. The
              girls discovered anal sex; Moni loved it. Even with the best lubricant, it was very painful, especially
              pushing that footlong Pepsi-can wide dildo into someone so thin and petite. Moni screamed in pleasure and
              pain as Sally rammed her asshole, her own pussy stimulated by the strap-on part inside her. As Sally came,
              she pulled on Moni’s nipples as hard as she could, pumping the silicone cock furiously, chasing her own
              orgasm. Moni exploded in a massive uncontrollable screaming orgasm before Sally was spent, collapsing next
              to her. The girls hugged and kissed for a while. The trip to New York was eye-opening for both in more
              ways than one.
            </p>

            <p>
              The girls spent the whole Sunday lazying around, making love. Sally agreed to give a talk at the
              university the next day, with the title “personal power”. I was about self-empowerment for women, taking
              control of their life, saying no to men and exercising all the rights and opportunities without
              compromise. It was the age of women now; strong, independent women, capable of taking care of themselves
              without depending on a man. Moni had two castings on Monday, but she promised to come to Sally’s talk as
              soon as she was done.
            </p>

            <p>
              Moni met Sally after the conference; she had great news. They ended up in their favourite restaurant,
              where Moni told Sally sho passed the casting for two different jobs. One was for a lead on a TV
              commercial; the other to be a featured extra in a film. Both girls squeaked in excitement ending in
              passionate sex. It was Sally’s turn to be a victim, so Moni tied her up and gagged, punch fisting her into
              oblivion and many powerful orgasms.
            </p>

            <p>
              At two in the morning, I stopped my motorcycle next to a blue cabriolet BMW. Feeling underneath it, I
              found a magnetically attached phone and high capacity battery. I pocketed both and quickly rode off. A
              couple of miles away, I got into an all-night diner, ordered some coffee and went through the phone. The
              cycling app I downloaded was still on. I stopped recording then looked at all the places the phone has
              been for the last day, learning about the places the blonde girl frequented. I spent an hour looking at
              the maps on my other phone, working out the actual places she went to, writing them down in my notebook.
            </p>

            <p>
              The next day I sat on my motorbike, repeating the blonde’s itinerary, stopping at every destination,
              studying it then taking some pictures. That took me four hours. I rode up to the skyscraper and met up
              with the building manager telling him another batch of asteroids were passing by Earth that week, showing
              him some printouts I downloaded from the astronomy forum. He gave me the same deal as last time. Seven
              hundred dollars later, I set up my equipment, put on my cowboy hat, leaned into a lawn chair, sipping
              coffee, watched the monitor, and occasionally took notes.
            </p>

            <p>
              The two girls had an erratic schedule; they would come and go all the time; obviously, they lead busy
              lives. However, they were home every night, which complicated matters, increasing my chance of exposure.
              There is a reason why break-ins happen at night. After a week of observing the girls, I worked out a
              pattern. Now I had two options, the redhead or the blonde. They were both stunning, incredible specimens
              of physical beauty, but I always had a thing for the blondes, so she was slightly in the lead.
            </p>

            <p>
              The time was getting short; I was a month behind on my schedule. It was mid-summer; I expected to be much
              further along by now. Who would have guessed it was so hard finding a woman with great looks and
              intelligence in Los Angeles, the place famous for beautiful women from all over America. There were many
              stunning women from the rest of the world, but I wasn’t interested in imports. Like my father, I ate a
              hundred per cent US-raised beef; it was just how I was raised.
            </p>

            <p>
              After a week of watching the girls, I had their routine pegged. I collected my stuff and left. Knowing the
              places the blonde frequented, I stopped my bike at different locations, waiting, following her from a
              distance for another week. I figured out blonde was some sort of feminist activist. She went to all kinds
              of meetings; I got her name by stealing her mail, looking her up on the Internet. People can be so stupid
              sometimes, publishing their personal information freely; Facebook, Instagram, Twitter and shit like that.
              Even our president suffered from the same uncontrollable addiction to be validated by others online. Once
              I found her Facebook, everything else was easy. I knew what she did, who her family was, where they lived,
              what they did and so on. I did the same thing with Starla some time back. While Starla’s family lived
              nearby in Riverside, Sally, the blonde, was from New York. Her father worked a white-collar job for a
              furniture company, her mother helped out with the church. They were reasonably well off. Sally’s
              girlfriend Monique was from Washington state. Only her mom was in the picture; she remarried Monique’s
              stepfather, a blue-collar worker, after her husband, Monique’s father, died of cancer. She blew off all
              the money she inherited, finding herself with a waitressing job in her mid-forties “ouch.”
            </p>

            <p>
              I sat in on one of Sally’s lectures, slouched in the back row, being invisible. I just wanted to judge her
              character and intelligence. I thought she was brilliant and well-spoken, even if misguided “what a bunch
              of nonsense”. It was hard to listen to this dribble about women&#39;s superiority, how it was their time
              to act, how men were irrelevant relics of the past. Looking around the room, a few hundred people, mostly
              women, were angry at the way men treated them. I thought that if they tried showering from time to time,
              spending some time in a gym instead of IHOP, they’d have much happier lives. Clearly, Sally was telling
              the crowd of genetic rejects what they wanted to hear. She fed them with psycho-babble feel-good
              body-positive woke bullshit everyone knew was a total pile of crap, yet all of them lapped it up like dumb
              fucks they were. Almost all of the women were white from blue-collar families; quite a large proportion
              was obese. Some had all sorts of visible medical conditions and were pissed off at men. The reason why a
              lot of them turned lesbian was not that they hated men; it was because no man would ever touch them.
            </p>

            <p>
              Another speaker talked about rape, how all men are rapists; I had to suppress a chuckle. Until recently, a
              woman couldn&#39;t rape a man as rape was legally defined by a man sexually assaulting a woman, hence the
              skewed statistics. It all sounded surreal; what the fuck did those privileged white kids knew about the
              rape. The whole thing was disgusting and saddening. Watching a large group of girls, natural selection
              rejects banding together, directing their misguided anger from being deformed, sick and ugly at men,
              blaming them for evils they never experienced sickened me. Feminism used to be about equality. It was fast
              becoming a female supremacy movement until someone slaps them hard. Men took it on their chin, not because
              the girls were right, but because they felt sorry for them; what a pathetic bunch of losers. I was
              expecting so much more from a movement like this, intelligent discussion, a plan to address factual, real
              problems, not a wild rant fueled by a hormonal imbalance of their defective, barely functioning bodies
              brainwashed by a coddling liberal media; it was depressive. My friends died on the field to protect them,
              to defend their right to rant and say stupid shit. The right to not be raped, the right to face their
              rapist and send him to prison, the right to say their vile shit in public like this and not get punched in
              their face. Most of my platoon died, their bodies shot, bodies blown to pieces, some couldn’t be found
              because nothing was left of them for those stupid cunts. They were mostly men. The men they hated, called
              rapists, irrelevant, obsolete. It was a fucking insult to everything I stood for, to everything we bled
              for as a nation; fucking disgrace.
            </p>

            <p>
              I left the room sickened before I pulled a gun on them to save them from their own misery. One thing was
              clear though; Sally was very smart. The way she answered the questions, the way she skewed the facts in
              her favour. She was confident, eloquent and precise. She didn’t waffle like politicians asked an
              uncomfortable question. Sally was well prepared; she knew her stuff, her delivery perfect. I could see a
              woman like her going places, being very successful one day, and I guess that was her platform. Pandering
              to a large group of desperate women, becoming their spokesperson, their leader, a beautiful face in front
              of their movement, using them to propel herself to personal success and financial security. It was a good
              plan, a bit generic and obvious, but not to them; the mentally deficient group of neglected women saw her
              as their role model.
            </p>

            <p>
              After calming down from the insults, having a cup of coffee, I felt sad for the women. They had no idea
              what they were doing. They were lashing out, but slowly they were changing society&#39;s perception; they
              were succeeding. They didn’t see how their narrative hurts them. By calling men rapists, they were pissing
              them off, turning them into abusers and rapists; it was like a self-fulfilling prophecy. Their scattershot
              approach focused on all men was destroying the men who were raised to be gentlemen, to provide for, love
              and protect women. Fewer men will teach their sons how to be good men. The male kids will be exposed in
              school as rapists. They’ll lose all respect for women and stop seeing them as gentle and loving.
              They&#39;ll use them as sex objects instead, a bukkake party for breakfast in place of a kiss. That’s what
              men who are constantly called rapists do; eventually, they become one, that narrative created them. Of
              course, some percentage of women will fare better at the expense of the vast majority of the others.
            </p>

            <p>
              I felt quite emotional after that experience, surprised Sally would even go there. At least now I knew
              what I was dealing with, the way she saw men, the way many young women saw men. “Why fight it?” I thought
              to myself, if I am already so vile, repugnant man, why even try convincing women otherwise? What is the
              benefit of that? Living under her thumb, vilified for something I never did, spend my life apologizing for
              the mistakes of all men? “Nah, thanks, I’ll pass. I was sure there was a lesson there that could be
              taught.”
            </p>

            <p>
              I knew Starla took off every Saturday night, straight after work and drove to her family home in
              Riverside. I followed her on a bike once, taking long-distance photos of her mother, father, younger
              brother and cousins. Who would have guessed Starla’s family were ultra-religious? She had to be home every
              Sunday for mass. This was my opening; I waited on Saturday night till Starla went to work, then late at
              night, I broke into her apartment and waited. Before lunch, Sally and Moni left the apartment; I watched
              them get into a car and drive off. I tiptoed a flight of stairs down, and two minutes later, I was inside
              their home.
            </p>

            <p>
              I didn’t know how much time I’ve got. I found hidden unused electrical sockets in the living room, dining
              room and bedroom, plugging in little Internet-based listening devices. Using an app on my phone, I
              connected to them with Bluetooth and typed in a WiFi password I read off Sally’s router. Immediately I saw
              three green dots on the app as the microphones connected. Putting the phone to my ear, I connected to one,
              snapped my fingers, hearing it on the phone with little delay. That done, I went through their stuff
              carefully, taking photos of everything I found. Unlike Starla, the two girls were meticulous; their
              apartment was clean and organized. I was cautious about disturbing anything. One of the girls might have
              OCD; she would immediately notice someone was there. I waited carefully for a quiet moment, then put on my
              helmet and walked out. I found my bike where I left it last night, wedged between two cars a quarter of a
              mile down the road. I never saw those two cars move; it was a safe spot to park.
            </p>

            <p>
              For next week I listened to the girls talk, laugh and fuck. I listened to their most intimate fantasies.
              They both had their journals on their desks; I took photos and read them, taking notes along the way. The
              only thing girls argued about was the trip to Seattle. Sally wanted to come with Moni, but she felt it
              won’t work out. Moni&#39;s mom was an ultra-conservative dumb bitch; her stepdad was on the same level. “I
              could stay in a hotel”, offered Sally, but Moni shut it down “please darling, trust me, I know my mother,
              I have to do it on my own”. At length, the girls agreed, there was a cheap flight next Sunday late at
              night. This got me three days to get everything ready. The next morning I met with a realtor, showing him
              my house. He said it would be easy to rent for good money, the house was in the right spot for renters,
              there was high demand. I signed the contract, giving him the keys, promising I will be out by Monday.
            </p>

            <p>
              The people watched two gorgeous girl hug and kiss passionately. The girls said goodbye, expressing how
              much they loved each other, impatiently waiting for their reunion, promising to call every day. As soon as
              Moni disappeared from her sight, Sally’s tears rolled down. A weird sense of loss came over her; it felt
              like saying goodbyes forever like they’ll never see each other again. “I love you, my darling wife. I love
              you more than I ever loved anyone before. I will love you forever, till the day I die. I will wait for you
              for as long as it takes, praying with my every breath for your safe return. Blessed is the gift of love,
              blessed is the Origin,” Sally texted Moni, but her phone was already switched off. Some six months ago,
              the girls came across a new religion called the Origin. The religion started by a woman in San Diego,
              proclaiming herself the priestess. It accepted only women, worshipping the holy egg, the eternal cycle of
              birth and creation. It quickly got labelled “feminist religion”. Since Christianity openly shunned gay
              marriages, the girls joined up at first in support. The found later peace and centeredness in it, so they
              kept with the practice, telling all their feminist friends about it. The religion was spreading like
              wildfire. It quickly grew to over fifty-thousand members necessary for the government to accept it as a
              religion. There was even some talk about a temple being built in New York.
            </p>

            <p>
              Sally wiped her tears off and, like entranced, walked to her car and drove home, her whole being screaming
              at her to turn around and drive to Seattle instead. She parked up the car and walked towards her house,
              feeling goosebumps and a little shivers. The air seemed thick, high pressured like before a summer storm,
              yet no cloud was in sight. The world was hushed, no birds, no sound of passing cars. “Oh god, I miss her
              so much. I don’t want to sleep alone”. Sally unlocked her apartment&#39;s door, slamming it behind her and
              pressing the light switch. There was a quick flash, a popping sound and darkness “fuck! The light blew
              up!” Tapping temporary blinded towards the fuse box, she moved slowly, avoiding furniture.
            </p>

            <p>
              Suddenly there was a shadow, she felt someone’s presence. Before she could scream, a big strong hand
              squeezed her neck. The man forcefully smacked her body into the wall, lifting her up by her neck; he was
              incredibly strong. “No fucking sound!” He hissed, the vehemence oozing from his voice. Sally heard the
              sound of metal then saw a shining reflection of a sharp knife, the kind they use to kill people, not slice
              a ham. “You scream you die, Monique dies, your mother dies, your stepfather dies, I will hunt your friends
              and kill them all, do you understand?” Tears in free flow, Sally desperately nodded. The hand suddenly let
              go, and she slumped to the floor, her whole body trembling in fear unlike any she’s felt before.
            </p>

            <p>
              It wasn’t his voice or strength; it was man’s sparkling brown eyes, almost like a cat. She felt endless
              cruelty in them; he looked at her like he was looking through her like she was already dead. Sally read in
              books about men who have seen death having dead eyes; she never could imagine it until she saw them. The
              man was a killer, a murderer, he’s killed many times, and he will kill again. His cruel eyes looked like
              they belonged to some sort of animal. The man was a predator.
            </p>

            <p>
              “You have a choice to make” man’s deep raspy, undeniably masculine voice came, reverberating through her
              whole being, making her panic even more. “Please don’t hurt me. I will do anything,” Sally begged. Her
              arms shaking uncontrollably as she cried hysterically. The man watched her with endless cruelty, towering
              over her; the man looked huge. She panicked, trying to figure out what he wanted, then she remembered he
              said something about choice. Gathering all her strength, she asked, “what choice?”
            </p>

            <p>
              “You or Monique. If you choose yourself, you come with me, obey my every command. If you fail, I will kill
              you but not before killing your mother, stepfather, and friends. I will make you watch, then I’ll take
              Monique. If you choose Monique, I will kill you now and take her when she comes back.” Sally howled in
              desperation and anguish, primal fear consuming her; she was trapped “why are you doing this?” She asked in
              a begging voice, “I don’t like stupid questions,” growled the man “answer!” He grabbed her violently by
              her hair, forcing her to stand up, look him in his eyes, his horrible eyes boring a hole through her soul.
              Monique let out an involuntary scream; the man rose his knife. Sally quickly responded, “me, me, me!
              Please, oh god, take me, take me, please live her alone, I beg you please, oh god don’t kill me”. The man
              heard the sound of spilling liquid; Sally peed herself in fear. She would collapse to the floor if it
              wasn’t for the man holding her up by her hair. Sally&#39;s mind tilted, going in and out of consciousness.
              The man sheathed his knife, then grabbed her throat, lifting her up like she weighed nothing and carried
              her to the living room, dropping her onto a plush white carpet. Sally collapsed like a sack of potatoes,
              struggling to stay barely conscious.
            </p>

            <p>
              “Strip!” The man ordered. She looked at him in despair, her tears welling up again in another wave of
              hysteria. “What do you want from me?” She asked, paralyzed in fear. The man smiled, revealing his endless
              cruelty, “what does every man want?”. Sally exploded in tears, putting her hands over her mouth to stop
              herself from screaming, her howls coming out muffled. The man just stood there with a cruel smile,
              watching her suffer. With a supreme effort, Sally started to undress. Each item of clothing she took off
              felt like losing a part of her soul. All the things Sally read, all the talks she made about the rapist
              men bubbling into her head. All the raped women whose stories she used for self-promotion rang in her
              head. All their pain and humiliation, she casually dismissed as a talking point, came back to haunt her.
              She was humiliated now, she was in pain, and the man didn’t even touch her yet. Sally’s mind screamed at
              her so loud she couldn’t think. Her body disobeyed her. It wanted to run away and keep running. Instead,
              it slowly undressed her, one item after another.
            </p>

            <p>
              Sally sat naked in front of the man, sobbing, her large breasts moving up and down rapidly as she
              hyperventilated. She looked at the man with begging eyes, pleading to him not to rape her, but she knew it
              was pointless; all men are rapists; it was just her time. She felt the man affix something cold and metal
              around her neck, then he pulled out a leash attaching it to the thing she recognized as a collar and
              yanked her up. “Do you remember a bargain you made?” The man asked, “yes, yes sir, I do, I remember,”
              muttered Sally, “repeat it to me”. He made her repeat the bargain three times, forcing her to explain what
              would happen if she broke it. “How do I know I can trust you?” Said the man, his eyes boring into hers.
              Sally begged and swore, “please, sir, I promise, I swear I will obey, I swear to you with my life and life
              of my family, oh god please sir, believe me in the name of god I promise I will be loyal.”
            </p>

            <p>
              “We are going on a little trip; I have another phone at the destination; if in twenty hours I don’t make
              the phone call to my friends, everyone dies. If the police stop us, I’ll shoot the cop, and everyone dies.
              If you draw attention to us, everyone dies. &quot;It is in your best interest to help us get to where we
              go, do you understand?” Sally nodded her head rapidly “yes sir, yes I understand, I will obey, I promise,
              you will see, I will be good”. The man stared into her eyes for a minute then said, “we have a deal”.
              Sally visibly relaxed, “stay here”, the man commanded, then removed a lamp he put there, returning the
              original one, resetting the breaker. The light came on, and for the first time, Sally saw the man; he was
              tall, muscular with black hair and chiselled jaw. A kind of man many women were attracted to, herself
              included. He was exceptionally good looking if it wasn’t for his cruel eyes. His movements were smooth,
              almost catlike, with a soft bounce telling of an explosive physical power ready for instant release. His
              unfeeling eyes watched everything dancing from one point to another, studying everything, noticing the
              smallest details like a cat ready to pounce. The man was the first true alpha-male Sally met, a real apex
              predator.
            </p>

            <p>
              “Clean up this shit”, the man barked, pointing at Sally’s clothes and a puddle of piss on the floor.
              “Don’t try to leave any messages. If they find us, they die”. Sally quickly ran into the bathroom, cleaned
              the floor, put her clothes into a laundry basket. The man pulled Sally closer. Going around her body, he
              removed all her jewellery, putting it on a coffee table, leaving just her engagement ring on her finger.
              “Put on your tracksuit and running shoes, no underwear, no socks”. Sally obeyed immediately and dressed
              up, glad not to be naked anymore, a leash hung from her collar. The man placed her phone onto the coffee
              table next to her jewellery then pulled out a large duffel bag “get in”, he ordered. Sally&#39;s chin
              shook, tears in free flow, her begging eyes locked on man’s “one more thing” he said “no more talking”
              then he zipped up the bag, switched off the lights and carried her away.
            </p>

            <br />
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/Greg-Rumpel-Stiltskin-ebook/dp/B0B298962T'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3y7XejC'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Greg?id=8TNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>

              <a href='/books/montana/preview/chapter-3-manhunt' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 3 - Manhunt >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
  
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
