---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Darkness | Chapter 1 - Murderous intent'
  description='Darkness novel by Rumpel Stiltskin'
  image='/images/darkness.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/darkness.jpg' /> -->
          <p class='emp grey'>DARKNESS</p>
          <h1>Chapter 1 - Murderous Intent</h1>
          <div class='biggest'>
            <p>*** COMING SOON ***</p>
            <p>CHAPTERS</p>
            <p>Prologue</p>
            <p>Chapter 1 - Murderous intent</p>
            <p>Chapter 2 - Back to school</p>
            <p>Chapter 3 - Revenge is sweet</p>
            <p>Chapter 4 - Sunny days</p>
            <p>Chapter 5 - Limbless</p>
            <p>Chapter 6 - Showtime</p>
            <p>Chapter 7 - Final hours</p>
            <p>Chapter 8 - New friends</p>
            <p>Chapter 9 - Family life</p>
            <p>Chapter 10 - Real cowboy</p>
            <p>Chapter 11 - Good samaritan</p>
            <p>Chapter 12 - Payback</p>
            <p>Chapter 13 - Sayonara</p>
            <p>Chapter 14 - Till death do us part</p>
            <p>Chapter 15 - Jahim city</p>
            <p>Chapter 16 - Brotherhood</p>
            <p>Chapter 17 - The prophet</p>
            <p>Chapter 18 - Turn of a tide</p>
            <p>Chapter 19 - Let there be death</p>
            <p>Chapter 20 - They too shall pass</p>
            <p>Chapter 21 - Tears of the rising sun</p>
            <p>Chapter 22 - Namu Amida Butsu</p>
            <p>Chapter 23 - The final resting place</p>
            <p>Chapter 24 - Darkness</p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- <a href='chapter-2-personal-power' class='retailer preview-button' style='margin-top: 10px'
                >Next chapter >></a
              > -->
            </div>

            <br />
        
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
