---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout title='Darkness | Foreword' description='Darkness novel by Rumpel Stiltskin' image='/images/darkness.jpg'>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/montana3.jpg' /> -->
          <p class='emp grey'>DARKNESS</p>
          <h1>Foreword</h1>
          <div class='biggest'>
            <p>
              In writing this book, I wanted to create a quintessential bad guy, a violent psychopath who couldn’t feel
              or experience emotions, unable to care about anything or anyone. I wanted to create a character without a
              shred of humanity who kills people indiscriminately for his own pleasure or some perceived greater purpose
              as a baseline against which all evil is measured.
            </p>

            <p>
              My research led me to a very dark rabbit hole, Dahmer, Gacy, and Bundy, to name a few often quoted in the
              movies. Little did I know, there is a long, long list of serial killers in the United States alone on
              Wikipedia, not to mention all the Jack the Rippers, warlords and the rest of the world’s maniacs.
            </p>

            <p>
              The history of humans is the history of violence, death, murder, suffering and rape. Today we live in a
              comfortable rose-tinted bubble, eating our hamburgers and watching YouTube, choosing our pronouns and
              discovering new genders. We turn a blind eye to anything that displeases us, preferring to pretend none of
              the ugliness happens, reading the summaries to condemn the atrocities without stopping for a moment to
              truly understand the sickness and depravity of what really happens.
            </p>

            <p>
              This story attempts to pull the curtains and show the raw, terrible detail behind the evil. Even though
              this is dark, twisted fiction, such things and worse happen today. We know it but have conditioned
              ourselves not to think of it unless rubbed in our faces. The majority of missing girls are never found.
              What do you think really happens to them? They’re still searching for Maddie after over a decade. We say,
              “poor girl,” and think about something else. Our minds are conditioned that way. Popular culture has
              romanticised serial killers. Just look at Dexter on Showtime. He doesn’t seem so bad, dealing brutal
              justice to all the baddies. This isn’t how reality works. What about wars and rampant soldiers? Is what
              happens in war truly justified? Do we actually know the details of what happens? If we did, would we have
              the same opinion?
            </p>

            <p>
              All of it could be some stomach-churning stuff. Just think of Hitler and the experiments he’s done. I
              personally met and talked with the survivors of the Auschwitz concentration camp. We all know the story,
              but a few can even imagine the gruesome detail of how those people died, and for what? I realised that
              nothing anyone could imagine in their words nightmares, including Freddie Krueger and all slasher movies
              combined, could even come close to what has already been done by at least someone. Take Vlad the Impaler,
              for example.
            </p>

            <p>
              I spent some time researching monsters for my other books and stories to create the ultimate evil
              character without redeeming features to set the baseline. Recently, I came across a short video on youtube
              that gives a veiled glimpse of what is out there today. You can see it here:
              https://www.youtube.com/shorts/FDNs8xnRGrU
            </p>

            <p>
              Why do I do this? Because nobody else does. Everyone seems to be consumed with romanticising the villains
              these days, and this is my attempt to bring it closer to reality, even as this is complete fiction and
              none of it is real. This book is as raw as it gets, taking the violence and gore to the next level. There
              is plenty of sex in the story, but all from the context of violence, almost as a side effect or another
              way to cause someone pain.
            </p>

            <p>DISCLAIMER</p>

            <p>
              This book is fiction. Similarities with any characters or events are purely accidental. The author doesn’t
              condone actions, thoughts, or views expressed in this book. The book is for adult entertainment only. Any
              perceived underlying ideas, philosophical or political, stem from the reader’s imagination only. This book
              is just a satirical fantasy touching on some serious issues, exaggerating them to absurdity and
              criticising the result.
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <a href='/books/darkness/preview/prologue' class='retailer preview-button' style='margin-top: 10px'>Prologue >></a>
            </div>

            <br />
 
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
