---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout title='Darkness | Prologue' description='Darkness novel by Rumpel Stiltskin' image='/images/darkness.jpg'>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <img src='/images/covers/darkness.jpg' />
          <p class='emp grey'>DARKNESS</p>
          <h1>Prologue</h1>
          <div class='biggest'>
            <p>
              <em
                >Did you ever think about what is that thing that makes us human? Is it the people, our neighbours, the
                belief in God or something eternal, or maybe the society, the common set of values and principles
                we&#39;re taught from birth? What if all of it were to disappear or if you were raised without it, with
                only personal self-interests at heart and your own survival at stake. How human would that make you be?</em
              >
            </p>

            <p class='center'>***</p>

            <p>
              We lived a good life when I was little, not a rich life, but a good one nonetheless. Both our parents were
              academics, so neither my little sister nor I lacked anything, least of all love. We lived in a small,
              peaceful enclave in the shittiest of neighbourhoods one could imagine, but it wasn&#39;t always like that.
              My father worked as a lecturer at the university, philosophy and ethics. He was well respected in his
              field, having achieved his doctorate and stayed to lecture the next generation. One could say that he
              never left school.
            </p>

            <p>
              On the other hand, my mother taught English and literature at a nearby high school. I was planning to go
              there after finishing my primary education. We were a small, close-knit family, everyone else either died
              off or moved away a long time ago, and we never heard from them. Who could blame them? It was only us and
              my grandmother who looked after Lucy and me while our parents were at work.
            </p>

            <p>
              I showed an aptitude for a wide range of tasks at an early age. Everyone said I was unnaturally gifted.
              Some kids are clever, others physical, some are musical, while some got the social skills. I was
              different. I&#39;ve got all of them. My parents got me tested, and I blew the results off the charts. I
              could read and write, play the piano and speak two languages when I was just three. As my body started to
              develop, I showed great aptitude for sports and general athletic abilities. My mom jokingly called me her
              little renaissance man. I spent many hours with my dad, and he kept testing me. He would bring a book,
              make me read, and then question me about the details. I could recite it to him backwards, he would give me
              a quote, and I&#39;d tell him what page it was and how it looked and smelled. He used to say that it
              looked like I had a photographic memory, not just an eidetic one. I was his little miracle boy. I had
              plenty of friends from early childhood. As a good conversationalist with emotional instincts, I could
              quickly figure out what others were feeling by carefully observing their faces. Despite all that, I never
              felt the urge to go out and socialize. I would be happy just staying home and playing with my little
              sister or talking with my grandmother. I wasn&#39;t antisocial in any way. I had no desire to socialize,
              preferring books and being left alone or at least with people I considered my family.
            </p>

            <p>
              All this changed on my twelfth birthday. I remember it as clearly as it just happened. We were gathered in
              the living room, my mother brought out a cake, and dad lit the candles. I made my wish and blew them out,
              and at that moment, the doors burst open, and five big guys in their late twenties poured in. They were
              sweaty, dressed in ripped blue jeans and leather jackets with metal studs, reeking of alcohol and filth.
              As they flooded in, they kicked my dad in his face with big army boots, and he fell over. The rest of us
              screamed, but quickly they made us quiet. One guy kicked me in the stomach so hard I flew to another side
              of the room, hitting the heavy metal radiator mounted to a wall with my back, a rusty screw piercing
              through my skull and into my brain, and everything went dark.
            </p>

            <p>
              The next time I opened my eyes, I saw my dad screaming into his makeshift gag. I followed his gaze and had
              to refocus to understand what was happening. The guys were raping my mother and sister, blood dripping
              down her legs while the other was forcing himself violently into her mouth. Her whole face was covered in
              blood. The guys didn&#39;t want to get bitten, so they had an idea. They found my dad&#39;s toolbox, took
              the pliers, and then pulled out her teeth one by one before they started raping her face. My sister
              didn&#39;t get such brutal treatment, yet she didn&#39;t fare much better. The guy raping her so
              violently, making her bleed, enjoying her terrible muffled screams. They had been at it for some time
              during my unconsciousness.
            </p>

            <p>
              When he was finished, the guy dropped my sister on the floor like a used rag, where she stayed unconscious
              while my mother cried naked on the bloodied bed. The biggest guy pulled my mother into a standing
              position, standing behind her, holding her up by her neck. Hi said something to my dad. I couldn&#39;t
              understand it; the ringing in my ears was too loud. The guy kept talking while my mom hung there standing,
              and her beaten, bruised body with open wounds slowly bled. The guy shouted something, then again, and
              finally took a carpet knife from his pocket, stabbed her into her belly and in one swift motion, pulled it
              all the way up. I saw my mom&#39;s body open, her guts and organs spilling out like a slaughtered pig. I
              looked at my dad. He was screaming insanely, all purple in his face, and then suddenly, he choked, and his
              head collapsed. The guys threw away my mom on the floor, her eyes connected to mine. I could see them
              slowly going dim, and then they just died. Meanwhile, the guys argued about something, punching each other
              in the shoulders and then quickly left.
            </p>

            <p>
              I felt a surge of anger unlike any I&#39;d felt before or even imagined possible. I pulled hard on my
              bonds, hearing my bones breaking, then suddenly the ties gave up, and I fell forward. I was unable to
              walk, so I crawled to my little sister. I picked her up in my arms, seeing her open her big blue eyes and
              look at me distantly. Ripping the gag off my face, I screamed, kneeling, holding my sister&#39;s head on
              my knees. I kept screaming, I don&#39;t know for how long. I felt nothing, no pain, just the terrible
              screams I couldn&#39;t hear. I don&#39;t remember what happened next.
            </p>

            <p class='center'>***</p>

            <p>
              The next thing I remember was that I woke up in a hospital. The machines blipped next to me, and nurses
              rushed in to silence them. A few moments later, a doctor came in with a flashlight, pointing it at my eyes
              and asking me questions. I remember thinking, &quot;what are those stupid questions he was asking&quot; he
              kept repeating them, and I just said, &quot;Lucy.&quot; The guy ignored me and continued repeating his
              nonsense. Does anything hurt? Can you move your fingers? Who gives a shit about that? I said louder,
              &quot;Lucy&quot;. The guy just said, &quot;don&#39;t worry about it right now, Cyrus. We need to make sure
              you&#39;re alright&quot;. Hearing that, I lost it. Without conscious control, I jumped off the bed and
              ripped the needles out of my body, blood spilling on white sheets. All I felt was unrelenting anger. I
              grabbed the bleeping machine and threw it at the doctor. He dodged it, and it crashed into the wall. I
              started picking up anything that could be thrown and hurling it at them, breaking the window in the
              process, screaming, &quot;Lucy,&quot; as loud as I could. Doctors and nurses ran out, and I followed them,
              naked, bleeding from where needles and a catheter used to be. People started to run away from a crazy man,
              as I called Lucy. The whole hospital must have heard it. Two large uniformed guys began walking towards
              me, and my anger went up a notch. &quot;Lucy!&quot; I shouted, picking up a wheelchair and hurling it at
              them. The security guards were about to attack when I heard someone command them to stop. Everyone turned
              to look, and a middle-aged woman in a doctor&#39;s uniform slowly approached and said softly,
              &quot;Lucy.&quot; I turned to her feeling my anger subside and said, &quot;Lucy,&quot; back. The
              approaching doctor repeated it in a soft, kind voice, and I felt my anger melt away, feeling so weak and
              heavy that the floor pulled me down. I had to sit and rest. The doctor signalled to everyone to pull back
              and leave her with me. She slowly approached me and sat down next to me.
            </p>

            <p>
              Gently she took my hands in hers. I let her, mine felt so heavy, and she said, &quot;Lucy is alive&quot;.
              Immediately my head lifted up, and I looked the doctor into her eyes. I saw her shudder. Dr Sunderland was
              in her late fifties. She spent twenty years working as a psychiatrist for the army as a decorated ranked
              officer before getting herself discharged and starting her job with the hospital as a head of psychiatry.
              Just one look into my eyes was enough for her. The kind doctor saw this look in many veterans, the
              thousand-yard stare. This was just the first time she saw it in someone so young.
            </p>

            <p>
              &quot;Come, I&#39;ll help you up. We need to get you patched up and rested first, then we can
              continue,&quot; the doctor said softly with a smile and pulled me up. I saw I was bleeding profusely and
              didn&#39;t care. I got my answer; that was all that mattered. She walked me to another room, leading by my
              hand, and I followed. The room was different to the last one, the windows were smaller, and the bed had
              holes for attachments. I had seen enough movies to know this was a psych ward, but what did I care? Lucy
              was alive. The doctor gently laid me down and gave me an injection. I fell asleep.
            </p>

            <p>
              The next time I woke up, I noticed the doctor sitting in a chair next to me. She said something and
              continued. I didn&#39;t hear her. I wasn&#39;t interested. She told me Lucy was alive, I was here,
              whatever here was, that was enough. The doctor quickly noticed I was ignoring her, knowing it wasn&#39;t
              on purpose. I was just somewhere else; she didn&#39;t manage to interest me with anything she said. She
              carefully observed my eyes as she talked, prodding me to answer, noticing how my defocused eyes seemed to
              stare at one point on the wall. She took some notes and said, &quot;Lucy.&quot; immediately, my head moved
              towards her, and our eyes met, giving her another shiver. She started telling me how she was healthy after
              spending two months in a hospital, now back at home, being taken care of by our grandmother. While I
              slept, she pulled all the records and studied the case. It was one of the most horrendous and vile things
              she&#39;s ever encountered. In a gentle manner, she told me that Lucy was physically healthy but
              psychologically scared for life, she had been treated by another doctor, but she got the medical details.
              I stopped her there and said, &quot;you.&quot; She got confused for a second &quot;what about me?&quot; I
              raised my voice staring at her, and said, &quot;you!&quot;. Another light shiver passed through her.
              &quot;Do you mean that I should treat Lucy instead?&quot; I relaxed back in a bed, and she took a few
              notes.
            </p>

            <p>
              &quot;If you want me to treat Lucy, you must work with me, participate and help me treat you. I can only
              get you as joint patients, a family.&quot; I turned my head to her again, watching her, and then pulled my
              arm up several times to show her my restraints. She got it immediately. &quot;If I remove all the
              restraints, you will agree to participate fully and follow my advice?&quot; I just laid back in bed and
              relaxed again. She got it. A few seconds later, I felt my restraints being loosened and removed. I got
              into a sitting position and sat there for a minute while she observed me quietly until I stood up and
              ambled to the toilet, leaving the door open so the doctor could observe me as I let my gown drop to the
              floor, took a long piss, and flushed. I noticed a shower next to it, so I turned the cold water on and
              stood under it, feeling it wash my skin. The doctor quietly took notes and observed me just standing there
              under the spray for twenty minutes before I switched the water off and slowly headed to the sink. I held
              it with both hands while I looked at myself in the mirror. I felt a sudden surge of anger wash over me
              without conscious control. I saw my fist crash through the mirror, and it collapsed into the sink, cutting
              my hand in many places. The doctor was about to call for help, but she saw me straighten up and turn
              around. I got out of the toilet, closed the door, and sat on the bed, staring at the doctor.
            </p>

            <p>
              A fat nurse with a kind face knocked and peeked through the door. The doctor waved her in discretely, and
              ever so slowly, she approached me. The nurse gently took my hand and removed all the glass fragments. One
              of the cuts needed stitches, so she carefully patched me up. As she was about to leave, I squeezed her
              hand and she looked at me, and I touched her face with my other hand. The nurse&#39;s eyes filled with
              tears, and she kissed my hand softly before quietly getting out as I turned to the doctor again, who was
              busy taking notes.
            </p>

            <p>
              The doctor laid down her notebook and started talking, knowing I was listening just had no reaction on my
              face. She explained how I was in a coma for three months with obvious trauma and psychological damage. She
              promised to help me through it, so I could rejoin my family. How long it will take depends on my progress,
              she told me we would have daily meetings and tests. For now, she didn&#39;t want to give me any medication
              apart from sedatives to help me sleep. I slowly got up and walked towards the doors when she finished
              talking. I could see she was wondering if she should stop me, but I turned my head to her and looked into
              her eyes. She allowed it. I strolled, unconcerned about my nakedness. The doctor followed a few steps
              behind me, signalling people to get out of my way. I made it to the stairs, then, holding onto the
              handrail, descended to the floor below and continued through the central corridor till I reached the
              canteen. I took a plate and walked to the self-service hot meal section, and the people moved away from
              me. I saw a pot with fresh mashed potato, with no utensils, so I scooped a large dollop with my hand and
              placed it on my plate. The people sighed when they saw me do it. The mash was piping hot. I just continued
              to the vending machine, punched through the glass, took two cans of seven up, then carried it all to a
              table where I sat alone and ate with my hand, washing it down with a soda.
            </p>

            <p>
              After the food, I got up and made my way upstairs. On the way back, I stopped by a large bookshelf,
              grabbed a bunch of books, then carried them with me to my room, placed them on the floor in a stack, and
              laid down on the bed. I noticed that while I was gone, someone changed the linen, which was all clean
              smelling. The doctor followed me to the room, scribbling in her notebook, and said good night. I took the
              first book from the stack and read.
            </p>

            <p>
              I woke up at seven, took a long shower, and got out of my room again. The doctor wasn&#39;t there, but
              plenty of the employees from yesterday were, so they told the others to let me be. I slowly made my way to
              the canteen with a few nurses carefully observing me, took a plate and approached the hot food section.
              This time staff knew what was happening, I would stop at what I wanted to eat, and they would keep adding
              to my plate until I moved away. The vending machine was still broken, so I picked up two more sodas and
              ate. I noticed a few patients in their robes looking at me in bewilderment as I was buck naked, but I
              ignored them. On the way back, I picked up another book stack and carried it to my room.
            </p>

            <p>
              I pushed the bed further, making some space on the floor, then lay there and started doing sit-ups. When
              my muscles couldn&#39;t take any more, I would turn around and do push-ups, squats, and so on in circles
              until my whole body was exhausted. I was sweating, so I took another long shower and lay in bed with a
              book. A few hours later, the doctor appeared. The nurses told her what happened, and she noted it down
              before coming in. After greeting me, she sat in a chair, and I stopped reading and sat on the bed. She
              noticed stacks of books.
            </p>

            <p>
              &quot;Which ones are you reading?&quot; I ignored her, so she gave it another look, and something clicked.
              She noticed that the two stacks were of different heights and differently laid out. While one stack was
              haphazardly put together, another was neat and alphabetically sorted. Looking around, she noticed a little
              container with a sleeping pill she had given me last night. Obviously, I didn&#39;t take them.
            </p>

            <p>
              &quot;Did you read all those books last night?&quot; She asked, pointing at the neat stack. I just stared
              at her. She was learning how to communicate, so she picked up a book from the pile, opened it in the
              middle, read a page and asked me what happened to the character in the book. I was quiet. The doctor
              turned another page and, more to herself, read one paragraph aloud.
            </p>

            <p>
              &quot;Page one-hundred-thirty-seven, paragraph four, white paper, small coffee stain in the upper left
              corner,&quot; I said automatically.
            </p>

            <p>
              The doctor was flabbergasted. She couldn&#39;t believe it. Quickly, she opened another page and read a
              paragraph. I gave her a location and description of the paper it was printed on. She took another book
              closer to the bottom, and the same happened. She was scribbling on her notepad like a maniac for some
              time. I just sat there waiting. The doctor stood up and went to her office to return a few minutes later
              with a medical trolley loaded with books from her own library. She placed them in a stack next to unread
              books. I kneeled down, pulling the books off the floor, and every few books, I would take one and put it
              into a new neat stack sorted alphabetically. I had already read half of those books. My parents had quite
              a sizable library, including medicine, psychology and psychiatry. The doctor understood what I was doing
              and pulled one of her books I set aside, Sigmund Freud, psychopathology of everyday life. She opened it in
              the middle and read a paragraph; as always, I told her where it was. Shocked, she returned the book on top
              of the new stack. I just pulled it off and placed her where it belonged alphabetically.
            </p>

            <p>
              The doctor sat back on the chair and continued to scribble. I got hungry again so I started to leave, and
              she followed me again. The people in the canteen already knew the drill. They loaded my plate with food,
              giving me a kind smile. There was no seven up left in the vending machine, so I just stood there and
              waited. One of the workers ran up to me, holding two cans I took, then proceeded to the same table and
              ate. They gave me a wooden spoon, so I didn&#39;t have to eat by hand. The doctor followed me back to my
              room, where I did my evening exercise, then took a shower and lay in bed with a book.
            </p>

            <p>
              The doctor rolled in a small desk the next day and placed a bunch of papers and pens on it. I opened the
              thick file and browsed. It contained all sorts of tests my father used to give me. I remembered them
              clearly, so I sorted the tests into two equal files, the doctor watching me, trying to figure out what I
              was doing. I took two pens and started ticking boxes and writing answers on both papers, writing with both
              hands, a simple task when you&#39;re ambidextrous. I used to do that as a party trick. Most importantly,
              whatever happened to me would have changed my psyche, so I copied all the answers I gave before the event.
            </p>

            <p>
              The doctor watched in awe as I breezed through the tests, quickly answering complex logical problems and
              filling up my psychological profile. I had to pace myself so it appeared as if I was really thinking about
              the answers, not just repeating them. When we were done, the doctor took the results away for analysis,
              and I continued reading.
            </p>

            <p>
              The days went on in a clockwork-like routine. Everyone was used to me in the hospital. I started spending
              more time outside the room, organizing and alphabetizing things, all of it getting written up and
              analyzed. My physical fitness was returning. I got stronger and gained muscle weight from the large
              quantities of food I ate, and people started paying less attention to me. One day I accidentally, on
              purpose, strayed to the room with toddlers and played with them. The nurses discovered me answering their
              questions and telling them stories. She immediately called the doctor, who stood there observing me,
              taking lots of notes. While I wouldn&#39;t say a word to anyone, I was more than eloquent talking to
              little kids, my memory was perfect, and I knew many stories from books I&#39;d read. Finally, the kids
              would exhaust themselves and fall asleep, hugging me.
            </p>

            <p>
              The doctor didn&#39;t stop my play dates with kids; she saw them as therapeutic, and as time passed, I
              started talking with others. Finally, three months later, I was let home. The doctor let me read her
              report, and the diagnosis was that I was just autistic, or as they said on the spectrum, an idiot savant.
              My initial outbursts were due to the shock and autism, and now I was balanced enough to continue a normal
              life. I thanked her for the help, and she organized a car to take me back home as my grandmother
              couldn&#39;t let go of my sister, who needed constant attention.
            </p>

            <p>
              As I sat in the car&#39;s back seat, my smile faded, replaced by a cold stare. &quot;Yeah, I read those
              psychology books, too,&quot; I whispered. Something broke in me that day. Something changed deep, and I
              saw her shiver at the look in my eyes. I knew what it was, having read about it many times. I was cold and
              distant, and I felt nothing. I wasn&#39;t autistic. She had a completely different diagnosis in her mind,
              and I knew it, so I immediately decided to play it up and lead her to the only possible differential
              conclusion that it was just a shock combined with autism which preceded it. I had to be careful and slowly
              lead her to that conclusion, and she bought it. This is why she let me go now, patting herself on her back
              for a job well done. She would have me locked up and throw the key if she knew what I knew. As they say,
              the first impressions are usually the correct ones. She just refused to believe them, so easy to
              manipulate. There were too many signs and tells, all masked by my autistic behaviour, and slowly, I
              appeared to get better over time. Another win for the medicine. Here I was now, sitting in the car, going
              back home, far from watchful eyes. In all her eagerness to help a child, the good doctor unwittingly
              released a Psychopath.
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <a href='/books/darkness/preview/chapter-1-murderous-intent' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 1 - Murderous intent >></a
              >
            </div>

            <br />
 
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
