---
import GlobalStyles from '../components/GlobalStyles.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title='Rumpel Stiltskin | Erotic Books and Stories'
  description='Erotic Books and stories by Rumpel Stiltskin'
  image='/images/logo.png'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>
      <div class='center'>
        <p class='emp grey'>BROWSE BOOKS</p>
        <h1>Erotic books and stories</h1>
        <p class='bigger grey'>
          Immerse yourself in a fantasy world of fine erotica<br />and intense, passionate adventures of its
          protagonists
        </p>
        <br /><br />
      </div>
      <div class='grid'>
        <div class='book-item'>
          <div class='cover'>
            <a href='/books/jacks-island/' class='small-cover shadowbox'>
              <img src='/images/covers/jacks-island.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Jack's Island</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/the-breed/' class='small-cover shadowbox'>
              <img src='/images/covers/breed.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>The Breed</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/montana/' class='small-cover shadowbox'>
              <img src='/images/covers/montana3.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Montana <span class='free'>FREE</span></div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/the-inheritance/' class='small-cover shadowbox'>
              <img src='/images/covers/inheritance.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>The Inheritance</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/the-formula/' class='small-cover shadowbox'>
              <img src='/images/covers/formula.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>The Formula</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/woman-scorned/' class='small-cover shadowbox'>
              <img src='/images/covers/woman-scorned.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Woman Scorned</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/behind-the-glass-door/' class='small-cover shadowbox'>
              <img src='/images/covers/behind.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Behind The Glass Door</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/ted/' class='small-cover shadowbox'>
              <img src='/images/covers/ted.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Ted</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/greg/' class='small-cover shadowbox'>
              <img src='/images/covers/greg.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Greg</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/dire-wolf/' class='small-cover shadowbox'>
              <img src='/images/covers/direwolf.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Dire Wolf</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/another-life/' class='small-cover shadowbox'>
              <img src='/images/covers/new-life.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Another Life</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/darkness/' class='small-cover shadowbox'>
              <img src='/images/covers/darkness.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Darkness <span class='free'>FREE</span></div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/cuckold/' class='small-cover shadowbox'>
              <img src='/images/covers/cuckold.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Cuckold <span class='free'>FREE</span></div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/sissy-farm/' class='small-cover shadowbox'>
              <img src='/images/covers/sissy-farm.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Sissy Farm <span class='free'>FREE</span></div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/traded/' class='small-cover shadowbox'>
              <img src='/images/covers/traded.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Traded <span class='free'>FREE</span></div>
        </div>

        <div></div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
