---
import GlobalStyles from '../components/GlobalStyles.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title='Rumpel Stiltskin | Erotic Stories.'
  description='Erotic stories by Rumpel Stiltskin'
  image='/images/logo.png'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>
      <div class='center'>
        <p class='emp grey'>BROWSE STORIES</p>
        <h1>Stories</h1>
        <p class='bigger grey'>These are open-ended serialised stories<br />available only on this web side</p>
        <br /><br />
      </div>
      <div class='grid'>
        <div class='book-item'>
          <div class='cover'>
            <a href='/books/darkness/' class='small-cover shadowbox'>
              <img src='/images/covers/darkness.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Darkness</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/cuckold/' class='small-cover shadowbox'>
              <img src='/images/covers/cuckold.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Cuckold</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/sissy-farm/' class='small-cover shadowbox'>
              <img src='/images/covers/sissy-farm.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Sissy Farm</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/traded/' class='small-cover shadowbox'>
              <img src='/images/covers/traded.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Traded</div>
        </div>

        <div></div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
