---
import GlobalStyles from '../components/GlobalStyles.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title='Rumpel Stiltskin | Works in progress'
  description='Upcoming books and stories by Rumpel Stiltskin'
  image='/images/logo.png'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>
      <div class='center'>
        <p class='emp grey'>BROWSE BOOKS</p>
        <h1>Work in progress</h1>
        <p class='bigger grey'>
          These books are currently being writen<br />their estimated availability may be noted below
        </p>
        <br /><br />
      </div>
      <div class='grid'>
        <div class='book-item'>
          <div class='cover'>
            <a href='/books/the-virus/' class='small-cover shadowbox'>
              <img src='/images/covers/the-virus.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>The Virus</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/slight-fever/' class='small-cover shadowbox'>
              <img src='/images/covers/slight-fever.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Slight Fever</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/clay/' class='small-cover shadowbox'>
              <img src='/images/covers/clay.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Clay</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/stardust/' class='small-cover shadowbox'>
              <img src='/images/covers/stardust.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Stardust</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/big/' class='small-cover shadowbox'>
              <img src='/images/covers/big.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Big</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/twins/' class='small-cover shadowbox'>
              <img src='/images/covers/twins.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Twins</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/milk/' class='small-cover shadowbox'>
              <img src='/images/covers/milk.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Milk</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/she-comes-with-house/' class='small-cover shadowbox'>
              <img src='/images/covers/she-comes-with-the-house.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>She Comes With The House</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/the-experiment/' class='small-cover shadowbox'>
              <img src='/images/covers/experiment.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>The Experiment</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/terra-atlantis/' class='small-cover shadowbox'>
              <img src='/images/covers/terra-atlantis.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Terra Atlantis</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/king-of-new-york/' class='small-cover shadowbox'>
              <img src='/images/covers/king-of-new-york.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>King of New York</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/magnificent/' class='small-cover shadowbox'>
              <img src='/images/covers/magnificent.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Magnificent</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/birthday-girl/' class='small-cover shadowbox'>
              <img src='/images/covers/birthday-girl.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Birthday Girl</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/the-gift/' class='small-cover shadowbox'>
              <img src='/images/covers/gift.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>The Gift</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/camgirl/' class='small-cover shadowbox'>
              <img src='/images/covers/camgirl.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>Camgirl</div>
        </div>

        <div class='book-item'>
          <div class='cover'>
            <a href='/books/the-guest/' class='small-cover shadowbox'>
              <img src='/images/covers/guest.jpg' />
            </a>
          </div>
          <div class='author emp grey'>RUMPEL STILTSKIN</div>
          <div class='book-title'>The Guest</div>
        </div>

        <div></div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
