---
import GlobalStyles from "../../../components/GlobalStyles.astro";
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card.astro";
import Navbar from "../../../components/Navbar.astro";
import Footer from "../../../components/Footer.astro";
---

<Layout
  title="Rumpel Stiltskin | Books and Stories - Published Works"
  description="Published books and stories by Rumpel Stiltskin"
  image="/images/logo.png"
>
  <Navbar />
  <main>
    <div>
      <br />
      <br />
      <br />
    </div>
    <div class="grid">
      <div class="big-cover">
        <img src="/images/authors/mimileroux.jpg" />
      </div>
      <div class="book-description">
        <p class="emp grey">AUTHOR</p>
        <div class="book-title-container">
          <div class="title">Mimi Leroux</div>
        </div>

        <div class="bigger">
          <p>
            Mimi Leroux is a literary fiction writer with a love for the elegant
            and the eternal. A lifelong romantic, Mimi crafts stories that blend
            the grace of classical literature with the emotional depths of human
            experience, drawing inspiration from Phantom of the Opera,
            Shakespearean drama, and the timeless beauty of nature. When not
            writing, Mimi resides on her secluded ranch, where she spends her
            days riding horses, watching sunsets, and finding poetry in everyday
            moments.
          </p><p>
            Her novels are known for their rich, lyrical prose and their
            exploration of love, loss, and the quiet, haunting beauty of life.
            With a reverence for tradition and an eye for the extraordinary,
            Mimi invites readers to step into worlds where every word carries a
            touch of grace, and every story reveals the delicate threads that
            bind the heart and soul.
          </p><p>
            Refined, poignant, and deeply introspective, Mimi Leroux’s work is a
            celebration of the beauty found in the fleeting and the heartfelt.
          </p>
        </div>
      </div>
    </div>

    <div class="monster">
      <div class="center">
        <p class="emp grey">BROWSE BOOKS</p>
        <h1>Upcoming Releases</h1>

        <br /><br />
      </div>
      <div class="grid">
        <div class="book-item">
          <div class="cover">
            <a href="/books/the-virus/" class="small-cover shadowbox">
              <img src="/images/covers/the-virus.jpg" />
            </a>
          </div>
          <div class="author emp grey">MIMI LEROUX</div>
          <div class="book-title">The Man in the Painting</div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang="scss"></style>
