---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Behind the glass door | Chapter 1 - Finding Sally'
  description='Behind the glass door novel by Rumpel Stiltskin'
  image='/images/behind.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/behind.jpg' /> -->
          <p class='emp grey'>BEHIND THE GLASS DOOR</p>
          <h1>Chapter 1 - Finding Sally</h1>
          <div class='biggest'>
            <p>
              I watched the girl go, swaying her hips seductively with natural, unconsciously effortless sex appeal and
              poise, pulling her sizeable hardshell suitcase towards the escalators. As the train doors closed, she
              disappeared out of sight. Quickly storing my computer in a bag, I changed my seat to where the girl used
              to be. With closed eyes, breathing deeply, I tried to catch her lingering scent. The rest of the trip I
              spend in a different kind of trance. I replayed my memories of the girl in slow motion while taking great
              liberties with my imagination, and all too soon, it was all over. Reaching my destination, I picked my bag
              with now a precious cargo, giving the last glance at where the girl sat. My mind imagined her sitting
              there the way she was; every detail burned into my mind. Joining the crowd of fellow passengers, I left
              the train.
            </p>

            <p>
              I found it hard to concentrate on driving from the station to my home. I had to force myself to focus on
              the road. If a policeman stopped me at that moment, I could have got my license suspended for driving
              under the influence. Only my poison was passion; it was the best drug of all.
            </p>

            <p>
              I lived in a lovely cottage on the outskirts of Brighton. It was a nice area where upper-middle-class
              twats like me lived. We looked down at the less fortunate masses of plebs and downtrodden from the tops of
              our hills, feeling superior with our fake posh accents and stick up our arse. I wasn&#39;t very rich by
              any means. Still, I did well at work, being an obedient little ant, brown-nosing up the corporate ladders.
              I clapped like a mindless fool every time my superiors spoke, awed by their brilliance and sheer genius.
              Playing the game and being a competent engineer got me promoted. With the years of service came all sorts
              of perks like bonuses, which I mostly invested, spending the rest on hookers. At least once a week,
              I&#39;d have some new girl park up at my place and spend a few hours in my bedroom demonstrating her
              people skills.
            </p>

            <p>
              They say how you don&#39;t pay a prostitute for sex; you pay her to leave. For me, at least, it was the
              other way around. I paid to fuck them, and I&#39;d love them to stay, share something, entertain me, but I
              bore quickly, so it never worked. I did try, however, gave it a real go in the past. I had a bunch of
              relationships, even been married a couple of times. Despite my best efforts, it didn&#39;t stick. I used
              to blame them, and just like many women, I wondered why I always pick assholes until one day it clicked
              that I was the asshole; they were just girls. I wanted all their good bits when they suited me, and I
              wanted none of their shit any of the time.
            </p>

            <p>
              It all fell in its place like a puzzle one day. I was a spoiled, self-centred control freak who valued
              women purely based on their looks, a narcissist of the worst kind. Some people realise it and look to
              change, grow up and make some real bonds. I always compulsively had to go against the grain. If the world
              didn&#39;t suit me, the world would have to change. I embraced all my character flaws and stopped feeling
              guilty about messing up my relationships. There was nothing there for me in the first place, just some
              romantic notion that it will all be better this time. It lasted for only as long as they could keep my
              interest, which generally was a month or two before they started to annoy me. Eventually, I got rid of the
              women in my life. I got back to my prostitutes, not the best conversationalists, but that&#39;s not really
              what I wanted them to do with their mouth anyway.
            </p>

            <p>
              Back in the office, I played a power game, just like all others. I was polite, supportive, understanding,
              a man with a velvet glove. I never said anything that wasn&#39;t politically correct. I loved all races,
              and sexual orientations patted my gay colleagues on their backs with a big smile, supporting their bravery
              for coming out. I was a universally loved kind of guy.
            </p>

            <p>
              Back at home, behind my four walls, I was only myself. I didn&#39;t give a shit about any races, gays,
              women rights, gender equality, or pay gap. Nor all the woke bullshit-machine; liberal cretins with nothing
              better to do, contorting the language with pronouns to avoid triggering the perpetually offended
              cancel-culture millennials, jacking off all over the Internet. Muslims, Arabs and Christians, Chinese
              horror camps, or jews killing the Palestinians. They could all just fuck off and destroy each other for
              all I cared, do what they like and leave me out of their shit. I didn&#39;t want to hear it, not in my
              house.
            </p>

            <p>
              I felt liberated knowing who I am and accepting it; I wasn&#39;t a good guy, the polite, benign idiot
              everyone took me to be. I just smiled and nodded my head with the rest of the imbeciles. A long time ago,
              I learned that freedom of speech is the freedom to say only what you are permitted to say, and you get
              punished for saying what you really mean, so I never spoke my real thoughts aloud, always some crap that
              kept others uninterested in talking to me. I preferred it that way. What was the point of conversation
              anyway, if you can&#39;t say what you think? I stuck to my job and avoided getting involved in any
              personal conversations with other corporate drones. All this, of course, helped my career. I was an
              essential and reliable cog in a well-oiled machine. I got patted on the back often by my bosses, too,
              wondering how little shit do they really gave about me. It was their job to pretend that they respected
              me. I surely didn&#39;t give a fuck about them and saw no reason the inverse would be any different.
            </p>

            <p>
              I spent many days thinking about women, how nice would it be to have a family. Still, with my
              passive-aggressive, misogynist, narcissistic control-freak behaviour, there was little chance of that
              happening with any woman who wasn&#39;t entirely trapped under my thumb. I needed a little marionette
              puppet who would dance as I pulled her strings and go as far as her leash would let her. A firm hand and
              few slaps on her arse that&#39;s what my great grandfather said every woman needs. He was a grand
              patriarch, a product of his time, a farmer who saw no need to treat women any different than livestock.
              Cook, clean, and make babies because he needs boys to work the farms. With an upbringing like that, no
              wonder I ended messed up this way. It used to bother me, but after accepting who I was, I felt much better
              and stopped my half-arsed efforts to try and change for the betterment of who? Women? How would that make
              my life any better? It just makes theirs, and the way I was, I didn&#39;t give the shit about them anyway,
              so the motivation for some personal growth was low to none to start with.
            </p>

            <p>
              I used to think about how something was fundamentally wrong with me to think that way. I watched enough
              movies where a woman is always ethereal and brilliant. The guy is always lucky to have found her. In each
              of those movies, objectively speaking, the guy had more going on for him than the girl in the first place.
              When I would go out on a business trip to Germany. Invariably I&#39;d end up in one of the brothels with
              my senior managers, watching hundreds of middle-aged guys picking some fit twenty-somethings for the price
              of a happy meal. In and out the rooms they went, high volume train station like, nobody gave a second
              thought about the girl. If she had the right tits, ass or face, whatever the physical feature they wanted
              to stick their cocks in, it was all that mattered. Watching all that, I knew it wasn’t just me. I wasn’t
              this lone misogynist piece of shit. It was a problem of society. Whole generations of men were raised the
              way I was, and it will take generations more to change it to something else, no matter how loud others
              would shout and cry foul. None of those guys had any real incentive to change who they are and neither did
              I.
            </p>

            <p>
              My mind kept trying to reconcile the fiction and the reality until it dawned on me that it was always men
              who made those films. This opiate kept guys shelling out cash for a boring low budget flick with a
              repetitive plot. Men played in real life the exact role of the fool in the film, hoping that at the end of
              their date the girls would spread their legs for them the same way they did on the big screen. All the
              smiles and lies we tell each other just like I did at work, to milk the last drop before the milk turns
              sour.
            </p>

            <p>
              I forced myself to be patient; it clearly wasn&#39;t one of my virtues; that&#39;s why I always found
              opportunities to exercise it. After taking a long shower to wash away the stench of the office, I made
              dinner for myself and ate it in silence. When I was younger, I watched television a lot. Nowadays, I
              preferred just quiet, focusing on the food I ate without numbing my mind first with some sitcom or daily
              propaganda. I learned how to enjoy my thoughts and not being told what to think. After eating the right
              amount of calories, I washed everything, putting it in its place. I love a clean home, but I hate when
              people touch my things. Every time I had cleaners come over and they moved something, I felt like panic. I
              would immediately think they stole it, just to find it in the wrong place later. I always went crazy when
              that happened; it would drive me insane. I know where I put everything in my house, even if I just dropped
              it on the floor. I could close my eyes, and each item had its designated spot. If you lived like that,
              there was little housework to do, only a slight dusting once a week, not counting the daily change of
              sheets and towels. I loved to sleep in a clean, well-made bed, drying myself with fresh towels in the
              morning. That&#39;s why I had seven of each, and they were all white, so I don&#39;t have to separate the
              washing.
            </p>

            <p>
              Finally done with everything, I took my laptop and played the video I recorded on the train. I saw it
              three times, zooming one various part of the girl&#39;s body. I rubbed my erection, imagining myself in
              many sexual positions with her until, on the fourth viewing, I had an orgasm, wiping myself clean with
              nearby tissue. After cleaning up, it was time to do some work. I had no clue who the girl was. From a few
              words she spoke, I detected an American accent. I went online and checked all the flights within three
              hours of the time she left the train. There were indeed several flights to the US. Her clothes looked
              good, reasonably new and fitting, her shoes looked expensive. I doubted she flew with connecting flights
              to save a few bucks. She left the impression of a girl who flies direct, possibly first class. I took all
              the countries for the outgoing flights and grouped them as possible destinations; it would make things
              simpler later. I made myself a large cup of coffee, knowing it was going to be a long night, possibly a
              long weekend as well.
            </p>

            <p>
              I copied the video on my shared data drive, then went to my study, sat at my big computer, and started
              programming. I was a computer geek, just like millions of others. Still, for what I wanted to do, one
              didn&#39;t have to be an expert, a beginner programmer or a hobbyist could do this; I just did it faster.
              Using simple programs freely available on the Internet, I took the video. I extracted a bunch of photos of
              the girl in various positions. That took just ten minutes. I went online and fired up a few computer
              instances in the cloud and then started programming. I drank four cups of coffee, knowing that tomorrow
              I&#39;ll have a massive headache. Still, I doubted I could sleep anyway from all the excitement of
              encountering the girl. Sometime before dawn, I was finished. I compiled all the software, tested it and
              set it to run in the cloud at high speed, then I had a hot shower and went to sleep.
            </p>

            <p>
              With all the pictures I extracted from the video I recorded, I trained a facial recognition system. Then
              wrote the program that would go through the Internet, Google, Facebook, Instagram, any pictures it could
              find and run a facial scan. The application would pull all the available information related to the photo
              as well. Like where it was found, what words were on the web page, what country, if any and similar. The
              next day I woke at eleven, feeling groggy. I was desperately curious to see if the computer found
              anything. Controlling myself, I took a long refreshing shower, changed the bed then made myself breakfast.
              I still felt impatient, so I went for a long walk to the shop and bought fresh orange juice, then came
              back an hour later feeling centred. After having a glass of juice, I poured another then went to my study
              to check it out.
            </p>

            <p>
              Unsurprisingly, the program found thousands of low probability matches, but not a single high probability
              hit, which was good. It meant the program was working with no false positives. I got up, starring to get
              ready; I promised my next-door neighbour that I will come to his daughter&#39;s graduation celebration.
              For some reason, he thought we were best friends, and he would often come to my place where we would drink
              beer and talk about life. I never told him that I detest the drink and only have it in my fridge, so we
              can sit in a garden and shoot the breeze when he randomly visits. He was super friendly and chatty,
              family-oriented kind of a guy. His whole family liked me for being a kind, generous man, very polite, well
              mannered and proper.
            </p>

            <p>
              I wondered how would he react if he knew I was fucking his daughter for the last two years. As I often
              call escorts, one of the student girls was Julie&#39;s friend by a pure coincidence. They went to the same
              class together. She recognised Julie&#39;s house next door when she came over for sex. When they saw each
              other the next time, the escort had many questions for Julie. I was totally at ease with the girl, treated
              her nicely and tipped her well. She obviously saw my clean house full of fancy gadgets and expensive
              furniture. She wanted to know more about me, maybe get a regular gig. Julie was a clever girl; that&#39;s
              why she graduated with distinction. When the escort started asking questions and wouldn&#39;t change the
              subject, Julie forced her to fess up and spill the beans. The little slut made her swear to secrecy and
              then told her how she&#39;s been hooking a few times a month since she turned eighteen. The escort had a
              few regulars that fucked her about once a week. She was asking all those questions about me because I
              seemed nice and clean and, most importantly, loaded with cash. She enjoyed the sex too and came twice
              without faking.
            </p>

            <p>
              Julie was shocked to learn all of it and bombarded the girl with a million questions. Her shock quickly
              replaced by bizarre fascination. When Julie asked her friend how much I paid her, she said five hundred
              for the night and Julie was amazed. When she finished her university, that would be a third of her
              starting salary that the girl made in one evening, just by having fun. Plus, nobody knew about her secret.
              Finally, Julie said how she would never be able to do anything like that, her parents would kill her if
              they ever found out, and she was far too shy to even think about it.
            </p>

            <p>
              Two months later, everything changed. Julie&#39;s parents were planning to spend a long weekend, four days
              in Cornwall. They rented a cottage and decided to enjoy nature. Julie hated nature, the bugs, mud and lack
              of comfort. Besides, she planned to stay in with her boyfriend and spend four days in bed, getting out
              only for food and condoms. Since they both lived with their nosy parents and skint, they could share
              intimacy only on rare occasions, which left the young couple sexually frustrated. Julie planned for this
              to be their big release. She planned everything, did all the shopping in advance. July selected the films
              they were going to watch. Everything was perfect, except that she caught him texting another girl on the
              evening before the weekend. After confronting him, it quickly escalated. He admitted he was seeing two
              other girls on the side. The breakup was violent full of scorn and objects flying at his head. Julie
              kicked him out and cried herself to sleep, eating Ben &amp; Jerry&#39;s chunky monkey and washing it down
              with vodka cranberry, her favourite in tears.
            </p>

            <p>
              Waking up late morning, Julie noticed her parents were gone. She was left alone with all the food and
              drinks she bought for the weekend. Julie wallowed in self-pity, watching the pretty woman and stuffing her
              face with crips, drinking whatever could be found that would numb the heartache. Late afternoon she
              started to feel sick. After vomiting, Julie took a long shower, decontaminating herself from the night of
              self-abuse. She combed the stuck crumbs and chocolate out of her long blonde hair, scrubbing her tongue
              and teeth three times before she felt the aftertaste gone. As she changed her clothes, she saw me from her
              bedroom window doing tai chi in the garden. Remembering what her friend told her, for the first time in
              her life, she looked at me as a man, not just her uncle Liam, whom she knew most of her life.
            </p>

            <p>
              Julie was the first family member, just five years old when she noticed me moving into old lady
              Jacob&#39;s house. The old lady&#39;s family was from Wales, and as she lived alone. Her daughter brought
              her to live closer. I bought the house and moved in after full refurbishment. Her mom saw Julie talking to
              me, so she introduced herself, followed by her husband and magically, our friendship begun. I remember
              wishing they would go away and let me be. Still, one does have to keep appearances for civility if no
              other reason, so I smiled and laughed, accepting the invite to their house for a meal. Ever since Julie
              would come up and sit in my lap giggling, and I didn&#39;t mind the least bit. I learned that I loved
              children. They are so direct and honest, no pretence. If they like you, they let you know it, and she did
              like me, and I liked her too. I never had kids on my own, but playing with Julie made me wish I had some.
              Then she hit puberty, and everything stopped. She started hanging out with girls her age. Soon after, her
              interest in boys began, and our relationship changed to the polite, measured, neighbourly conversation of
              an adult.
            </p>

            <p>
              I heard loud banging; it paused, then came again louder. Coming downstairs, I opened the doors, and Julie
              stormed inside my house, forgetting to take off her shoes. She was fuming at full rant. Pretending to
              listen, I made my way to the kitchen, poured three glasses, one with Alka-Seltzer and two with fresh
              orange juice. As soon as it dissolved, I pushed the glass into her hands and made her drink, which she
              managed with only the briefest pause to her rant. Then taking the empty glass away, I gave her one juice
              and lead her to the sofa, sat on the other side and started to listen. She was telling a story about her
              ruined life and a broken heart. I thought how typical the signs were always there. I knew the guy was
              cheating on her five minutes after I met him, his shifty eyes, and the way he avoided questions, the
              nervous twitch every time someone came close to his phone, lest they see what&#39;s on it. We often choose
              not to see the obvious because we don&#39;t want to confront the ugly truth, so we lie to ourselves to our
              own detriment, then blame the world when it all turns to shit. Julie ranted for a bit longer; when she was
              done, there was just self-pity left.
            </p>

            <p>
              &quot;Am I so ugly?&quot; she asked me. I had a good look at her. In the past few years, she filled out
              nicely. Her body curved, and her breast got larger her hips and butt sporting feminine curves. Her long
              flowing dirty blonde hair sloped down half of her back. With big piercing blue eyes, perfect nose and
              sensual lips that beckoned kisses, at the age of twenty, she was a beauty. I don&#39;t mean like a
              supermodel, but she was way above average, certainly not a girl any man would throw out of his bed. I told
              her that in much more polite terms. She looked me in the eyes and asked me, &quot;would you?&quot;
            </p>

            <p>&quot;Would I what?&quot;</p>

            <p>
              &quot;Would you fuck me?&quot; I chuckled, telling her honestly that I never thought about it, but now
              that she asked, I admitted that I would. She looked at me strangely and asked me how much I would like to
              fuck her. I found that confusing and told her that there isn&#39;t a scale. I either would or
              wouldn&#39;t. She made a serious face, asking, &quot;would you pay five hundred to fuck me?&quot; That
              threw me off, confused, but she quickly recovered by telling me what she heard from her escort friend,
              that I pay girls five hundred pounds for a night of sex. Julie wanted to know if I would be ready to pay
              that kind of cash to fuck her or would she be more like cheap sex in between better things. I thought
              about it, checking her out again, admitting that yes, I would pay five hundred to fuck her for a night.
              Her eyes got big, and she leaned in; our eyes met, then she said, &quot;prove it&quot;.
            </p>

            <p>
              There was nothing left to be said; I was trapped. I got close to Julie and pushing my fingers through her
              hair. Our eyes met in a locked gaze. Reaching the back of her scalp, I gently squeezed, pulling her head
              just a bit up, her lips parted, eyelids shut, then I kissed her softly, and then some more. I could feel
              the tension washing away from her muscles as she melted into my arms. Julie held on to me like her life
              depended on it. Her anger giving way to arousal and rising need for intimate touch, slowly replaced by the
              urgent need growing deep inside her body.
            </p>

            <p>
              Breaking the kiss, I saw a pleading look in her eyes. Taking her hand into mine, I wordlessly lead her to
              the master bedroom upstairs. She trembled as I undressed her, squeezing her breast with one hand. I held
              her head with another and kissed her. Her passionate breathing turned into low moans. Reaching over, she
              took my cock in her hand and squeezed it, feeling it grow and expand. I could feel the heat radiating from
              her body. She pulled me towards the bed. Laying on her back, she led me on top, her shaking hand trying to
              insert my cock into her pussy. I moved down instead and first kissed her neck, sliding to her
              grapefruit-sized breast with painfully extended nipples, one I sucked while rolling the other one with my
              hand. Little gasps and shallow breath coming from her mouth. She said, &quot;no wait&quot;, when she felt
              my lips touch her pussy, face red from embarrassed excitement. She&#39;s only slept with two guys, none of
              which went down on her ever. They would say it was disgusting and the only thing they wanted to do was
              fuck till they came.
            </p>

            <p>
              I licked her pussy a little, teasing her, then with my thumb, I pulled on her clitoris hood, exposing the
              little nub directly to my tongue. I kept licking in a rhythmic motion, her pussy twitching every time my
              tongue scraped her clit. It didn&#39;t take long to bring poor, sexually frustrated Julie to an orgasm.
              Just ten minutes of that, before her back arched, her thighs locking my head against her pussy as I licked
              her through her first orgasm that long weekend. She stayed arched for a few moments, her hands pulling on
              the sheets with all her might, then a loud scream followed, exhaling the orgasm in a mighty cry. She
              inhaled quickly then started to howl. It took her a few minutes to come down from her high.
            </p>

            <p>
              That&#39;s when I climbed on top of her again, pressing my cock against her dripping pussy. Now opened
              wide, she was ready to be fucked. I penetrated her slowly, feeding her pussy with inch after inch of my
              cock until I was deep inside her. That&#39;s when I pulled out a little and pushed my cock back, deep
              inside. I kept pumping her, increasing my tempo. Julie&#39;s body going nuts from pleasure while I fucked
              her hard, with long deep, powerful strokes. I mercilessly fucked her willing pussy in a steady, strong
              tempo, and she came again. Despite her bouncing and screaming, I fucked her fast, all the way through four
              more of those until I couldn&#39;t hold out any longer. I felt my balls tighten and my sperm surge out. I
              didn&#39;t know if she was on the pill, and right at the moment, I didn&#39;t care. Something primal, deep
              inside me, wanted to breed this little slut. I pushed hard, as hard as I could, feeling the twitching of
              my cock inside her. I felt my cock spew out sperm, seeding her pussy over and over again until I was
              spent. I laid on top of her, leaving my cock inside her pussy, feeling a gentle flow of sperm dribbling
              out until I was done.
            </p>

            <p>
              As I rolled on my back, she wrapped her body around from the side, silently we listened to each
              other&#39;s breath. She told me how she&#39;s only ever had one orgasm during sex, and now she
              couldn&#39;t even count. I spend the night fucking Julie in every way imaginable. Around midnight, I took
              her anal virginity slowly, so she relaxed and got used to it. It was done correctly, and she came hard
              from that. We fell asleep with the first light, entangled with each other, our bodies covered in sweat.
              Mid-afternoon, I made her breakfast. She sat on my lap as I feed her by hand, licking off crumbs with our
              tongues from each other. Then we had a long bath. I massaged her body while she rubbed her butt against my
              hardening cock. I changed the sheets, and we hopped on them, starting our dance all over again.
            </p>

            <p>
              For three whole days, I fucked Julie, and by the fourth day, she could take it no more. Her whole body was
              sore, her pussy raw, and I fared not much better than that. I told her she had close to a hundred orgasms,
              and she was amazed. After breakfast on the fourth day, I took my wallet and paid her ten red bills. She
              pocketed the money, then kissed me and said, how I don&#39;t need escorts any more. She was going to be my
              personal whore, any time I had an erection, I could just text her, and she&#39;ll come right next door to
              take care of it. This is how Julie and I spent the last two years fucking. Julie would come to my place
              almost every weekend, and we would fuck, three days a week on average. Sometimes I&#39;d call her, and
              she&#39;d come running to take care of my throbbing cock, but more often, she&#39;d sneak out late and
              come in my bed for a good night fuck. Occasionally we&#39;d spend weekends in marathon fucks exhausting
              each other. I left the money on the table; sometimes she took it but mostly not. She never wanted to be a
              career prostitute, just my personal whore. It turned her on; I had no complaints.
            </p>

            <p>
              Lately, we&#39;d seen each other less. Julie found a good boyfriend, stringing him along, training him
              just like I taught her. Two months into their relationship, they had sex for the first time, and it was
              the best one he experienced yet. Over time, she became a fantastic cocksucker and a perfect slut in bed.
              She kept her boyfriend on a short leash with great sex and promise of more; he was hooked. She would be
              all sweet with him and make him watch romantic movies to train him while she secretly preferred thrillers
              herself. The constant cat and mouse game she played with him made her super horny. After her date,
              she&#39;d come to my place so I can fuck her brains out as rough as I can. There was a word of the
              boyfriend asking her to get married. He wanted to lock down the deal as fast as he could.
            </p>

            <p>
              I went to my neighbour&#39;s house. A bunch of the people were already there. Her boyfriend Tim certainly
              was. I shook his hand with a big smile as we met for the first time, telling him to take good care of my
              little faux niece or I&#39;ll pay someone to break his legs. He laughed, promising that he would never
              hurt her. &quot;That&#39;s my boy&quot;, I patted his shoulder. There were a few speeches and gifts, a lot
              of her friends were there. Julie&#39;s escort friend cosied herself up to me, discretely rubbing my cock
              when nobody looked, pushing me for another sale, not knowing that I was fucking her friend instead.
            </p>

            <p>
              After the gift-giving ritual, everyone gave Julie their well wrapped sentimental garbage that will end up
              on a shelf somewhere forgotten. I told them how I&#39;ve got a gift for her too. Reaching in my pocket, I
              gave her a small box with a red bow. She unwrapped it quickly, opening the box she found two keys inside,
              her eyes got big, she shouted, &quot;Omg! No way!&quot;. I told her, &quot;it&#39;s just across the
              street,&quot; and she took off, followed by everyone to find Porsche Cayenne, her favourite car parked
              there. She got in, checked it out and turned on its engine, then turned off and ran back home, jumping
              into my arms, kissing my cheek shouting &quot;thank you&quot; repeatedly. Her parents were flabbergasted,
              not knowing what to say. I just told them how I was proud of her finishing university, and it was a
              fitting gift for a young woman starting out in her life. Besides, I knew she&#39;s been angling for her
              own car forever, the parents never bought it, and I knew why.
            </p>

            <p>
              We all lived in a posh neighbourhood; both of Julie&#39;s parents made decent wages, but they were deep in
              the classic middle-class trap. The house they lived in was mortgaged to the hilt. Two cars they had were a
              lease. Their credit cards maxed out; all the money they had gone to servicing their debts, like most
              people, they were broke, a paycheck from poverty; just had the nice stuff to keep up appearances. I bought
              my house outright; I didn&#39;t even own a credit card, and the car I purchased for Julie was cash. I just
              walked into a shop, picked one out in Julie&#39;s favourite colour, then argued for an hour for a rock
              bottom price. Unlike most people, I was paying cash. Finally, I got up to leave, just to be caught up to
              by the boss at the exit who gave me what I wanted, and they delivered it in my garage a week ago, all the
              papers in Julie&#39;s name. I paid for here insurance too and road tax for a year. There was no additional
              money to spend on her behalf apart from petrol; I even left a full tank.
            </p>

            <p>
              I knew it was an extravagant gift, but I could afford it. I&#39;ve had a well-paid job for a long time,
              and since I don&#39;t do debts, my outgoings were small, only the food and transport, a gym and bills, all
              coming down to less than a grand a month, as much as I made in a day. I&#39;d keep my money then buy small
              apartments all over the world, furnish them and let them out at ten per cent of their value yearly. I paid
              an assistant to manage all this for me, so I don&#39;t get bogged down in boring details. Over the years,
              my passive income grew. It long surpassed my salary a decade ago. Since my appetites didn&#39;t change, I
              just kept pushing that money back into the investments. In a grand scheme of things, buying a nice car for
              a girl I cared for wasn&#39;t that much of a big deal. Besides, if she took the money every time we
              fucked, it would probably come up to more than I spent. She wanted to be my personal whore. I just kept my
              part of the bargain without rubbing it in her nose.
            </p>

            <p>
              That night after everyone left, she snuck into my house and fucked the Jesus out of me. Before we went to
              sleep, she told me how her boyfriend felt insecure after my big gift and proposed. She accepted and said
              she wants to get off the pill and wanted me to breed her. She&#39;ll tell her future husband the kid was
              his, promising that she&#39;ll always stay my whore.
            </p>

            <p>
              It was midday when I woke up again. Julie was gone, presumably before her parents figured out she wasn’t
              home. After breakfast, I checked on my computer&#39;s progress, still nothing, a few close calls but no
              real hits. I checked on the servers; they were maxed out, working hard, looking for my mystery girl. Few
              clicks later, I increased the capacity from four to ten servers, which evened out the load to a
              comfortable eighty per cent, and I let it run. While I sat on the couch with my iPad sketching out a mind
              map of the things I was going to do next for a few hours, then, having a clear picture, I pulled a box out
              of my wardrobe, unpacking a brand new laptop. It was one of those security-focused laptops that are super
              hard to identify on the Internet. I drove off to Starbucks and connected it to the net. The majority of
              the hackers used Kali operating system, but that was full of holes. A while ago, I made my own setup that
              was super tight and incredibly hard to detect. Everything was locked down, then I made a bunch of copies
              on USB drives.
            </p>

            <p>
              The system booted up from the drive; I set up a VPN to a free server in the US. On top of it, I started a
              privacy-oriented TOR browser and went to work. The first thing I did was to create an anonymous email
              address. Using some of the bitcoins I bought for cash on a flash drive a long time ago, I rented a few
              anonymous servers and set up a bitcoin farm. Of course, it would cost me more than I made, but that was
              not the point. I was creating an audit trail for the money. I needed some traceable cash. The farm should
              make me about eighty per cent of what I invested, so my losses were minimal, and I just needed a couple of
              thousands. When I set all that up, I took a coffee to go and threw my WiFi dongle into the garbage bin on
              the street and went home.
            </p>

            <p>
              Sitting back at my computer, I composed a long email to my boss, copying it to human resources. I asked if
              I could work a few weeks from home, telling them how my son, who&#39;s got autism, got awarded to me by
              the government after my ex-wife died in the accident. I needed to take care of his special needs, sending
              them a picture of a five-year-old retarded kid I dug up on the Internet. Then I hit the electronics store
              buying a bunch of stuff, paying with cash. By the time I got home, it was already dark. Unwrapping all the
              things I bought, I started to set it up. I was still up at midnight when I heard the doors open and Julie
              walk in. She switched off the lights and led me upstairs, where I filled her up with sperm three times
              before falling asleep. I thought Julie was joking, but I quickly got dissuaded from that. She wanted me to
              breed her and intended to make it happen. Every time I&#39;d fill her up, she&#39;d take a pillow and put
              it under her arse to increase a chance of knocking her up. The strange thing was that I wasn&#39;t weirded
              out. In fact, it turned me on. I stumbled on a kink I didn&#39;t know I had, something that hasn&#39;t
              happened in a decade, and I embraced it.
            </p>

            <p>
              The company sent me an email the first thing in the morning telling me to take all the time I need. My
              boss took it as an opportunity and worked hard to convince me to consider making it longer. All of my
              coworkers worried about poor little Timmy drooling and banging his head against the wall. I&#39;ve been in
              the company for over twenty years. Most of my old colleagues have gone up in ranks or jumped the ship. I
              was on an old contract that made me almost impossible to fire. I never took any sideways promotion, so
              naturally, I kept failing upwards and ended up stuck at the top of my niche. The company filled up with
              younger kids until my team was made of programmers Julie&#39;s age, two decades my junior. As I wasn&#39;t
              very sociable, they learned to avoid me and stuck to themselves. A few years passed, and nobody knew what
              was my job anymore. They called me &quot;the dark lord&quot;, knowing I was essential, just didn&#39;t
              know for what.
            </p>

            <p>
              My real job was simple; it was called governance. I&#39;d assess technology ideas and programs they wrote.
              I&#39;d think about it then tell them if it made sense or not. I was the critic; the final line of the
              defence between their enthusiastic new programs and companies been hacked or embarrassed in front of the
              clients. The top-level senior guys knew what I did. That&#39;s why they took me to Frankfurt so many times
              to meet our prominent clients, then end up in a brothel, getting our cocks polished while we drank
              champagne, talking about the good old days. Nobody wanted to fire me, nobody would dare, I knew too many
              secrets, helped the top guys bury too many skeletons, and I kept my mouth shut. That&#39;s why they paid
              me five times more than the kids and gave me all the perks I wanted. It wasn&#39;t for my skill which was
              marginal at best, but for years of loyalty, discretion and silence.
            </p>

            <p>
              My boss was a climber, a young guy in his early thirties. He saw this as a significant opportunity to
              brush me under the carpet. Just keep me on payroll and forget I ever existed. He worked hard,
              sweet-talking me into the deal to stay away for at least a couple of months. I naturally replied with all
              my love for the company, telling them how much my work is essential to me and how I want the situation to
              resolve itself. We both lied to each other, going through the motions with fake concern until we agreed
              that I&#39;ll think about it.
            </p>

            <p>
              I wrote a small program that would periodically reformat some computer source code the programmers wrote.
              The program would then check it back in at random intervals so it would appear I was hard at work when
              they saw it in the logs. This allowed me to focus on other things, like getting paid a grand a day to do
              nothing, which was a good thing. If they really needed something, they could always email me, which rarely
              happened, only about a couple of times in a month.
            </p>

            <p>
              I busied myself with my plans and a project for my mystery girl with Julie, coming up every evening for
              breeding like clockwork. A week later, she got her period, and she still came. She knew I didn&#39;t mind
              a little bit of blood, and she got super horny during those days, so I spread a double towel as usual and
              fucked her hard to a dozen orgasms. One of the first things I did when we started to fuck was to orgasm
              train her. By now, Julie could cum like a machine gun rapid-fire, one orgasm after another. Her body and
              mind got used to hyperstimulation, and she&#39;d always squeeze a massive screaming orgasm between the
              others. Julie told me her boyfriend couldn&#39;t fuck like that and thought anal sex was unnatural.
              He&#39;d even close his eyes when she gave him a blowjob as not to see her angelic face full of cock. He
              was a good boy from an influential family, smart and dedicated. His family was well off, she would be well
              taken care of, and sex wasn&#39;t that bad; in fact, it was good, just never great.
            </p>

            <p>
              I thought it was all that effeminate bullshit millennials grew up with. The women were aggressive, always
              ready to tell you what they don&#39;t want, and men were horrified of telling them when they crossed the
              line. Nobody got it. The women are for fucking. If you&#39;re going to have a good conversation, good fun
              and a laugh, great connection, and someone who gets you, you need a friend. The young guys always made
              this mistake. They treated women like a precious gift and their best friends, alienating everyone around
              them, putting them on a pedestal as the centre of their world. Women are for fucking. That was their
              biological purpose, especially if you want to breed a few kids. It&#39;s great if she ends up your
              soulmate and best friend too, that&#39;s called luck, but the primary purpose of a relationship was always
              sex. Deep down inside, when you get a woman and fuck her until you can&#39;t fuck anymore, she knows you
              want her, and she&#39;s important to you. None of the bullshit you tell her won&#39;t convince her of it
              as much as that. For Julie, her boyfriend was a safe choice, not the most exciting option, and she knew
              sooner or later they&#39;ll end up divorced. After the sex stops, most marriages do. He&#39;ll grow up and
              start to resent her, but he&#39;ll keep her around for the kids, sharing the load while she focuses on her
              career, and she&#39;ll still have me for when she had the itch he couldn&#39;t scratch.
            </p>

            <p>
              Every day I checked and nothing, then on Thursday, the following week, I had a hit with ninety-eight per
              cent accuracy. I quickly looked at the found photo. It was a group picture of an American soccer team
              someone posted on Instagram. I enlarged the image, and sure one of the girls was my mystery woman. From
              that point, it was easy. While the program continued looking, I made a variant of the same program to go
              through all the previously scanned biometric data and find all the other girls in any combination. As the
              picture was of low quality, I would have many false positives, so I looked for pictures where two or more
              of those girls were present. After just an hour of sifting through preprocessed data, I found a few dozen
              photos with the girls. Looking at the sources, I sent another version of my program that filtered those
              specific places where the pictures were published. The software catalogued where the girl in the original
              picture appeared, building the data inference network, looking at the statistically significant overlap. A
              few hours later, I zeroed in on San Diego, California. Most of the girls were connected to that place. A
              few hours later, I found the school and its soccer team. I manually went through their web site, looking
              at photos until I recognised my mystery girl in one. I checked the year and did some quick maths. My
              mystery woman would be nineteen now.
            </p>

            <p>
              I heard the door open downstairs, so I switched off my monitor and went on with Julie&#39;s breeding plan.
              She would be ovulating in two weeks, so I told her how I have some work to do in San Diego around that
              time and asked her if she wanted to come and spend a week with me. She could explore the city while I
              worked, but we would have plenty of time together, certainly enough to knock her up. She jumped up,
              hugging me, super happy. She&#39;s never been anywhere, didn&#39;t even have a passport, so I gave her
              five hundred pounds to go to London the next day and get it instantly done. She said how she&#39;ll tell
              her parents and boyfriend that her friend is moving there, and she invited her to hang out; it was
              plausible. That sorted, we jumped in the bed, fucking each other&#39;s brains out. She made me breed her
              anyway, saying how it turned her on every time I filled her with sperm as there was a minuscule chance of
              her ending pregnant always. She made sure she fucked her boyfriend once a week to plausibly tell him the
              kid was his when she fell pregnant. Having a car now allowed her to drive to his place or up to a secluded
              spot and fuck.
            </p>

            <p>
              The next morning after breakfast, I continued with my research. By late lunchtime, I got the mystery
              girl&#39;s name, Sally Ryder of San Diego, California. Everything after that was easy. By the end of the
              day, I had her address, names and addresses of her friends. I knew who her parents were and what cars they
              drove. The information was all there on the Internet; no programming skills needed. I just collected all
              that into a spreadsheet and keep adding more. I bought two plane tickets to San Diego for Julie and me,
              flying out of Heathrow overnight flight, business class.
            </p>

            <p>
              After I collected enough data, I created a fake Instagram account, pretending to be a girl Sally’s age,
              going to the same university as her, studying literature in contrast to Sally, who was a law student. She
              wanted to be a lawyer, like her father. He was a big shot in a local firm, representing large
              corporations. Sally&#39;s mother Patty was a housewife, a former Miss California, who never worked a day
              in her life. She married Mike right out of high school for money and a good life, giving him two
              daughters, five years apart and getting a comfortable life in return. It was a coupling that worked. He
              was an important man who liked to show up to various events with his exquisite trophy wife.
            </p>

            <p>
              Provided that she didn&#39;t talk, the arrangement worked. Of course, she knew the score and made friends
              with the other wives. It was all super pretentious and shallow, but they were the elite of Del Mar, a posh
              enclave of San Diego, one of the places where rich people lived. Both Sally&#39;s parents were elitist.
              They just knew that they were better than everyone else, but I did a lot of digging. Just like the rest of
              the middle class, it was all smoke and mirrors, loans and mortgages. They lived in twelve million dollar
              mansion, had servants and cooks, three cars and high life. Of course, they could afford it. Mike Ryder
              made a lot of cash, but they were gluttons for status, and they flushed it down the toilet as fast as they
              made it. Everyone was in awe with their lifestyle, yet none of it was theirs, all owned by banks, but they
              had no worries. Mike was going places. He was a senior partner in one of the top firms, a smug rainmaker
              good at his job. He took big money from prominent firms and got them off the criminal charges, sticking it
              to the little people and loving it. He had nothing but contempt and disdain for anyone below him, a
              sentiment his wife shared as well.
            </p>

            <p>
              Sally, on the other hand, was different. She was lovely and kind. She desperately wanted to prove herself
              to her daddy. Sally dated for a while, then stopped. All the guys who came after her were rich snots she
              hated. Unfortunately, where she lived, and for the status, she was expected to keep, everyone she knew,
              all her friends and their friends, were of the same ilk. Wealthy, spoiled and condescending. Status was
              power; it was the currency of their world. The only thing kids talked about was wealth, continually trying
              to prove to each other they were better.
            </p>

            <p>
              I got all that information reading between the lines of all her friends&#39; social media accounts. After
              I built my fake account, putting a lot of pictures of fancy stuff and holidays, titling it like
              &quot;holiday with my daddy&quot; and shit like that. I paid one of those dodgy companies who instantly
              gave me fifty thousand fake followers and thousands of comments and likes on my photos for fifty bucks. I
              followed all Sally&#39;s friends, a bunch of them following back. I kept unfollowing and then following
              the friends who didn&#39;t respond until most of them were connections. For a week, I kept posting San
              Diego pictures with posh events they would like, and just like sheep, the girls responded. I kept training
              them to get used to me then after a week, I added Sally. Within minutes she accepted my request but
              didn&#39;t follow me back, which was ok; I just wanted access to her stuff. Immediately I downloaded all
              her picture, studying what she posted. I built a map of what was important to her, her close friends, and
              things she wished to be known that she loved.
            </p>

            <p>
              I did the same to all her friends, organising the data and building a diagram grouping all of them in
              various boxes figuring out Sally&#39;s social circle dynamics. People often said that I could be quite
              obsessive when I wanted something. This was certainly the case with Sally. I felt motivated to dig through
              every aspect of her life, building a perfect spider web, refining my approach. The rest of the time I
              spent setting up my electronics, getting it ready for my trip across the pond.
            </p>

            <p>
              Time flies when you&#39;re having fun, and I had a blast. I felt young again, about to go on a crazy
              adventure. The thrill of the hunt, the possibility of failure, it all converged and motivated me. I locked
              myself too long in a lull of dull, pointless existence. I worked, I ate, I slept, a monotonous routine,
              just waiting to get old and die. For the longest time, I fooled myself that life is over, how there are no
              new mysteries, no battles to win, nothing to conquer. When I was a kid, I was remarkably ambitious, but
              I&#39;ve been anything but for the last decade. Live or die, it made no difference. I just existed with no
              purpose or goal. This is what Sally already gave me, something I really wanted, and I was going to get
              her, my own way, on my own terms. I&#39;m not going to just take her, that would be too easy, and I
              couldn&#39;t do with her what I really wanted. I was going to be creative and change the world, her world,
              so she would come running when I come to collect her.
            </p>

            <p>
              I thought about it, waiting for my food to cook, how simple it was today to stalk someone. Most people
              were idiots when it came to technology. They post their lives carelessly to everyone, giving out their
              personal data with no second thought of what it could be used for. Companies like Facebook understood that
              and made money off it, but they weren&#39;t the only ones looking. A random stranger Sally saw once on a
              train will make her experience a significant change in her life purely because he wanted her. I still
              remember her knowing smile as if saying, &quot;I know you desire me, but what are you going to do about
              it&quot; and now she was going to find out. I enjoyed this hunt, it thrilled me, but I looked forward to
              the final result more.
            </p>

            <p>
              Was I a bad guy for what I was about to do? Probably most people would say yes, but was I better or worse
              than a murderer? How about the soldiers that sit with a sniper on a roof of the building, picking off
              little Arab children in some shit hole country? How about Mr Ryder, who gets off his multimillion clients
              who got sued by many people that their company poisoned, dying of cancer. I bet all of those sleep well at
              night, without a care in the world counting their cash. Are they good or bad? Are they evil? This all was
              an academic discussion of morality and ethics, something you could wipe your arse with in real life. None
              of that mattered. People do shit to each other, always have and always will. Just think of infanticides;
              how many mothers every year throw their own children into the trash just because they are born female? A
              moralist would say that those people are part of the problem, not a solution, but those are just empty
              words that sound nice. There is no magical solution; it is just people. People always were the same, and
              the more you pressure them to be kinder, the uglier they get on the other side. Take the inquisition, for
              example. The church wanted everyone to be obedient, so they tortured and burned women to teach them the
              right way.
            </p>

            <p>
              I stopped agonising, unable to find the high moral ground. I gave up on analysing everything; it was a
              waste of time. Time better spent on doing what I want than worrying about consequences and deep moral
              philosophies. When the pope admitted that thousands of priests were paedophiles, nothing changed, the
              world learned to live with it, and life went on. We collectively decided that we don&#39;t care; why
              should I? There are obviously good people and bad people. The tragedy of which is that the good people by
              far outweigh the bad ones, but they are inert, mind their own business, and if it doesn’t directly affect
              them, just don’t care. This is why they call them the silent majority. They have a powerful voice that
              they never use, making the whole good, bad debate pointless, philosophically asking, are you as bad if you
              don’t do anything. At least in my case, it was all simple. I had no illusions about myself; I was just bad
              and I was ok with that.
            </p>

            <p>
              The day of the trip arrived quicker than I thought. Time flies when you&#39;re having fun stalking a bunch
              of university students. It was a late flight, and July made sure to have had sex with her boyfriend the
              day before. Telling her parents she&#39;ll sleep with her friends then take a quick cab to the Airport
              from London. They dropped her at the train station with just her backpack on. An hour later, she got off
              at Victoria and took a black cab to Paddington station. I was already there, having booked us a room in
              Hilton, a new wing with terrace access. I was a regular there, all staff knew me. I used to book my more
              exclusive escorts there. Julie found the lift and met me in my room. Immediately she jumped into my arms
              and started undressing. She said how she&#39;s famished, but before we go, I must breed her once. I threw
              her naked on a bed and mounted her, pushing my cock inside her already wet pussy. It took me some forty
              minutes to fill her with fresh cum. She waited for another forty minutes to ensure that all the sperm have
              gone to the right place. She told me how I must breed her at least twice a day. I naturally had nothing
              against that. Filling pretty girl&#39;s pussies with my nut-juice played right into my wheelhouse; it was
              my speciality.
            </p>

            <p>
              After a shower, we got out of the hotel, leading her around the corner to Little Venice, where we found a
              good pub and ate. By the time we got back, it was dark already. I took Julie for a walk around the canals,
              followed by a nice drink in a waterfront cafe, overlooking the sparkling lights reflecting in the water.
              She held my hand, kissing me often. I could tell she was super excited.
            </p>

            <p>
              When we got home, we took a long bath, her back leaning against my chest. I loved soaping her perfect
              c-cup breast and pulling gently on her slippery pink nipples. I washed her hair to the sound of her low
              moans. When we showered off and dried, we just laid on our backs, enjoying the softness of the bed and
              clean sheet until she slowly slid down and put my cock in her mouth. Over the years, July became a
              fantastic cocksucker. She loved the feel of my cock in her mouth. She could just lay there sucking it
              gently for hours, keeping me at the edge of the orgasm in sweet agony.
            </p>

            <p>
              This was precisely what she did this time. Julie knew the longer she teases me, the more I will cum, so
              after about two hours of edging, she lay on her back and spread her legs. I pushed my cock hard into her,
              and in just a few strokes, I began to blast. I felt sperm spray out of my cock deep into her willing
              receptive body. And we just stayed like that long after I&#39;ve gone soft. She wanted to milk the last
              possible drop and made sure it didn&#39;t go to waste. We fucked six more times that night. She was
              insatiable, and so was I. The next day we got a late checkout. Just before it, I bred her one more time,
              then we just took Heathrow express, and thirty minutes later, we were at the airport. The checking
              wasn&#39;t open yet, so we found a nice restaurant and had an early dinner. We had so much fun that we
              almost missed the plane then an hour later, we were in the air.
            </p>

            <p>
              I let Julie have the window seat to experience her first flight. She thought she would be scared, but she
              was excited instead, watching the world get smaller, and clouds go by. For a moment now, she reminded me
              of a kid, pointing happily at this and that. They served us drinks, but we skipped dinner, and an hour
              later, everything was dark. I lifted the armrest between us and covered us both with the blanket after
              lowering our backrest. Her head fell into my lap while she curled herself on the seat and slept. At one
              point, I felt her hand on my cock. She unzipped me, pulling my cock out. Her head was covered with a
              blanket so so nobody would see, then she started to gently suck, rubbing her cute tongue around my knob.
              This time she didn&#39;t do it to tease me. She wanted me to cum and fill up her mouth. Not more than
              twenty minutes later, I felt my balls tighten, my sperm blasting out, spraying her tonsils. She lapped it
              all up like a good little slut then zipped me up and went back to sleep.
            </p>

            <p>
              Deep at night, she needed to pee, so she squeezed out and went to the toilet. She was back in a few
              minutes, telling me she was horny and took off her panties. We covered ourselves up again, my finger
              between her thighs. I&#39;d dip a finger into her wet pussy then rub it against her clit. I couldn&#39;t
              fall asleep anymore. Not with her biting my arm, so I turned on the inflight entertainment and watched two
              movies one after another, playing with Julie&#39;s pussy all that time. After about an hour, she begged me
              to stop, but I just told her to be a good slut and cum. After three hours, I finally stopped, my
              fingertips pruny from her pussy juice. I had no idea how many times she came, but looking at her face, I
              knew it was many. She lay there with her head in my lap, her mouth drooling on my jeans. She didn&#39;t
              even react as I stopped fingering her, just lay there with eyes glazed, an occasional shiver going through
              her body. I was quite tired by then, so after wrapping her nicely in a blanket, I leaned back and went to
              sleep.
            </p>

            <p>
              I woke again when I felt the stewardess shaking me gently, pointing at the backrest and belt. We were
              going to land in thirty minutes, having completely missed breakfast. It took more effort to wake Julie.
              Groggily, she sat up, trying to get her senses. Soon she saw the sea and the approach, perking up excited
              about our destination. She stayed glued to the window, not wishing to miss her first landing. After the
              usual disembarkation, security check and luggage retrieval, a shuttle bus took us to the car rental
              office, where we picked one and left. The weather was scorching, so unlike England, the air smelled of sea
              and something sweet. I knew straight away that I was going to love this place.
            </p>

            <p>
              It was wise to get the car with navigation. I had to get used to driving on the wrong side of the road.
              Fumbling with google maps would be a little too risky. After a few close calls, I got the hang of it, then
              I drove us to a fancy hotel, where we checked in and went straight for the shower. As we dried, I pushed
              Julie to bed, taking cock in my hand. &quot;It&#39;s breeding time slut”, she gave me a big smile and
              spread her legs wide. With her fingers, she opened her pussy lips wide, showing me her ready-to-fuck pink
              hole. I mounted and rode her until I filled her pussy with my seed. After placing a pillow under her butt,
              I stuck my cock in her mouth, so she cleans it. Finally, I lay next to her, she immediately taking my
              hands into hers, and we fell asleep.
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/gp/product/B098FFXDK2'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3HIjuUk'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a
                href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Behind_the_Glass_Door?id=6TNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>
            </div>

            <br />

            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
