---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Behind the glass door | Prologue'
  description='Behind the glass door novel by Rumpel Stiltskin'
  image='/images/behind.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <img src='/images/covers/behind.jpg' />
          <p class='emp grey'>BEHIND THE GLASS DOOR</p>
          <h1>Prologue</h1>
          <div class='biggest'>
            <p>
              Have you ever, have you, the words of a childish rhyme echoed in clacking rhythm of steel tracks under a
              fast train to Brighton. Have you ever, have you ever; lost in my thoughts reminiscing, the memories of
              adventures past, back then when I was cool and daring and brave; when I was myself when I could look in
              the mirror and truly see myself, not just some stranger&#39;s reflection.
            </p>

            <p>
              I always won at that have-you-ever game. I&#39;ve done it all, most kids thought I did it because I wanted
              to be cool, or it was my macho bravado. Still, the truth was much simpler; I did it because I could; it
              was fun; it made me feel alive.
            </p>

            <p>
              Some kids learned how to ski; others did extreme sports; some joined an army and died or came home
              limbless. I caused trouble. I was a troublemaker; I remember my mom telling me, &quot;I wish someday your
              kids were half as ill-behaved as you are, so you get a taste of how it was to be your parent&quot;. I was
              a little rebel; I was defiant; I&#39;d get into trouble and fight my way out.
            </p>

            <p>
              I used to be fun, at least to myself; I&#39;d do what I liked, I travelled, got drunk, fucked a hot girl I
              met in a club. I&#39;d speed on my bike and evade the cops, just to be arrested the very next day for
              something else stupid I&#39;ve done along the way. I used to live a life worth living, thinking I
              won&#39;t live long enough to get old. I wanted to die young, in a blaze of glory.
            </p>

            <p>
              Nowadays, however, I wore a tailor-made suit from Saville Row. I&#39;d wave my hands telling people about
              some stuff that made me sound smart, all of them clapping, nodding their stupid heads like toy dogs from
              that insurance ad on telly.
            </p>

            <p>
              Somewhere along the way, I made a mistake, then I made another. I said, &quot;yes,&quot; when I should
              have walked away. I was bought, trained and tamed, put in a suit, converted into a corporate man, like the
              rest of the dumb fucks in cheap suits around me. At least in my case, the suit was expensive, and I
              wasn&#39;t stupid; I just pretended to be. This became the extent of my continued rebellion. It was the
              plausible way I could lie to myself that I still mattered, that I was still was my old self avoiding the
              fact that I sold out. Someone saw my number and paid me, and just like all other obedient whores I zipped
              my lips, bent over, spreading my ass cheeks apart with an inviting smile and a seductive wink.
            </p>

            <p>
              &quot;Have you ever, have you ever been a zombie?&quot; I chuckled to myself, &quot;I am one right now, a
              corporate zombie that is&quot;. At least they replaced the old clunker slam-door trains from the time
              dinosaurs walked the earth so I could space out pretending the world didn&#39;t exist for an hour and five
              minutes it took to get home. At least the neighbourhood cats kept me some company while I ate my dinner
              alone.
            </p>

            <p>
              I wasn&#39;t really lonely; I just tended to often isolate myself from people for a reason I couldn&#39;t
              understand. I guessed once you get into the mid-forties if you had a good life, the motivation to do
              something new disappears. It is hard even finding something new to do. &quot;Let&#39;s travel to
              Dubai&quot;, a young girl I fucked would say, and I would fake excitement as we flew off. Still, I saw
              Dubai many times before, it was hard getting enthusiastic about it again.
            </p>

            <p>
              On some days, I would lay in my bed throughout the weekend, thinking of getting a gun, shooting myself in
              the head. No, I wasn&#39;t suicidal. I was just bored. The richer I got, the fewer challenges I saw in
              life and the less interested in doing something I got. I was a bored, rich, lazy cunt, an overachiever
              with a crazy past, living my repetitious life, groundhog days one at the time.
            </p>

            <p>
              &quot;Have you ever, have you ever done something so stupid that would possibly get you killed or
              imprisoned? Something so unbelievably illegal that it would fundamentally change your life&quot;. As
              always, the answer would be &quot;yes&quot; and not just one time.
            </p>

            <p>
              This was, in fact, the crucible of my existence. I&#39;ve done it all, or at least most things that my
              crazy mind could come up with. Still, now I&#39;ve spent my years reminiscing about the old days, quietly
              hating myself and the life that kept me comfortable, well-fed and dull.
            </p>

            <p>
              Sometimes I lay in bed trying to think about a worthy challenge, something that I could push as far as I
              can, something that would cost me dearly, then go out guns blazing in a flash of glory. I imagined
              newspapers writing about me and my daring life, my gravestone saying, &quot;here lies a cunt, good fucking
              riddance&quot;.
            </p>

            <p>
              I wanted a life worthy of such death; I wanted to rebel for years, show the finger to the world, say
              &quot;fuck you&quot; instead of hello, crash my car, burn my house, kill a man with my own bare hands,
              then piss on his grave and pass out drunk.
            </p>

            <p>
              However, it seemed I would die rich, fat and irrelevant someday, cared for in a nursing home that cashed
              in on all that I own, forgotten, abandoned and utterly useless.
            </p>

            <p>
              I wanted a challenge, something new, something dangerous and exciting. I wanted to feel life pumping
              through my veins again, to feel alive with a mission and a purpose, something driving me forward, a new
              goal, a new obsession.
            </p>

            <p>
              I wanted to feel myself again the way I once was, but I was out of ideas and options, living my fat, cushy
              life dreaming of something better.
            </p>

            <p>
              Have you ever, have you ever, &quot;excuse me, is this seat taken?&quot; Her voice took me out of my
              trance. Mumbling unintelligible &quot;huh&quot; quickly, I recovered, smiling politely, pointing at the
              row of seats opposite me, &quot;no, please, go ahead, have a seat&quot;. The girl stretched her smooth,
              slim body, pushing her backpack to the overhead compartment. Her top pulled up, exposing a tout belly and
              blemishless white skin, drawing full attention to the supple curves of her body.
            </p>

            <p>
              Unable to stop my eyes from exploring her body, starting with small feet encased in expensive Nikes,
              slowly moving upwards, following the contour of her perfect long legs. I drew my breath as my eyes reached
              her butt; the type one sees photoshopped, never quite believing those could be real. Slowly following her
              ribcage, I watched a magnificent pair of unreal looking perfectly shaped large breast, covered by a simple
              top and a bra, pushing them high up. Exhaling loudly as I saw them, it took a split second to do that, but
              it felt like minutes in my mind.
            </p>

            <p>
              As my gaze reached her face, our eyes met, and I knew I was busted. She knew I was checking her out, and I
              could see she enjoyed it. Giving me a perfect smile, exposing two rows of brilliant white teeth, she said
              &quot;thank you&quot;, sitting cross-legged, looking down at her phone. Her long dark-blonde, thick
              luscious hair covering part of her face ended at her waist.
            </p>

            <p>
              Astonishingly, across me sat easily the most beautiful young woman I saw since I could remember. I guessed
              she was in her early twenties. We all have a type, and she was clearly mine, but I&#39;ve seen too many
              women not to know that the one in front of me was a rare gem. Something deep inside me awoke, a desire I
              thought long gone. I wanted that young woman, I desired her more than I remember wanting anything before,
              but odds were against me. Two strangers in a train, even in my best days, with all my wit, look, and
              charms, pulling that one off would be just dumb luck at best; I couldn&#39;t just leave it to chance. I
              was six-foot-three, tall dark and handsome, some people would say great looking guy, impeccably dressed in
              my custom Saville Row suit, with a fancy watch that cost me a hundred grand. I was in great shape for my
              late forties, the middle age, taking impeccable care of hygiene, food and exercise with a confident smile
              and crystal blue eyes on my masculine face. I know I was a catch. A few women told me that but picking up
              a girl mid-journey, out of the blue, was extremely unlikely, and I couldn’t just waste the opportunity
              like that. Besides, I didn’t want a girlfriend to date her and chase her. I didn’t want to be hers; I
              wanted her to be mine.
            </p>

            <p>
              Reaching into my bag, I pulled out my laptop, pretending that I had to work. I switched a back-facing
              camera, recording the girl surreptitiously just sitting there staring at my computer. In reality, I was
              staring at her, studying her perfectly shaped face, supple lips and sparkling deep-blue eyes. This was one
              of the rare moments that I was happy to be the king of geeks who bought a computer with a fantastic
              resolution camera on an off chance I&#39;d need it. Every detail of the girl was recorded in outstanding
              resolution and clarity.
            </p>

            <p>
              All too soon, her stop came; she was getting off at Gatwick airport. As she got up, giving my camera and
              me another quick peek at her incredible outstretched body. She said a polite &quot;see you&quot;, to which
              I responded, &quot;I&#39;ll catch you later&quot;; it wasn&#39;t just a polite comeback; it was a promise.
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/gp/product/B098FFXDK2'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3HIjuUk'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a
                href='https://play.google.com/store/books/details/Rumpel_Stiltskin_Behind_the_Glass_Door?id=6TNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>
              <a href='/books/behind-the-glass-door/preview/chapter-1-finding-sally' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 1 - Finding Sally >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />

            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
