---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='The Breed | Chapter 1 - Nocturnal emissions'
  description='The Breed novel by Rumpel Stiltskin'
  image='/images/the-breed.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <img src='/images/covers/breed.jpg' />
          <p class='emp grey'>THE BREED</p>
          <h1>Chapter 1 - Nocturnal emissions</h1>
          <div class='biggest'>
            <p>
              It all started when I was about thirteen, just as I entered puberty. Like any kid my age, I began to
              notice girls in my class, and they all looked so attractive. Before I knew it, all I could think about was
              them, so naturally, they snuck into my dreams as well, and that’s how my nocturnal emissions started.
            </p>

            <p>
              We learned in school how sometimes boys would release liquid during sleep. Although embarrassing, it was
              completely normal; however, I didn’t expect the volume. The first time it happened, I woke up in a bed
              completely soaked. I quickly checked if I was alright, but I felt fine apart from the fact that I was
              completely covered in slimy goo.
            </p>

            <p>
              Wanting to avoid questions and jokes, I stripped the bed bare and threw all the linen into a heavy soak
              wash, as well as turning over the mattress as some of it dripped through and left a heavy stain.
            </p>

            <p>
              After a long shower, I dressed up and joined my father for breakfast. I was the only child of a single
              parent as my mom died due to the complications in giving birth to me. My father, Jack, was a county
              sheriff. After my mom died, he picked up the slack and dedicated all his free time and attention to me,
              doing two jobs at once, being my mom and my dad. As far as dads go, he was an exemplary single parent.
              Unfortunately, my mom’s death hit him harder than he would ever admit, so he never dated another woman. It
              was just me and his job that he got going on. Everything else was irrelevant.
            </p>

            <p>
              Jack was a good looking man, tall, muscular with blonde hair and blue eyes. A lot of women were interested
              in him. He just never made any attempt at starting something. In his own way, Jack was still in mourning
              thirteen years after my birth. It’s been so long, he forgot how to be happy.
            </p>

            <p>
              It took my dad a week to see me in the hospital after I was born, as he was devastated by the loss. The
              doctors didn’t know how to call me, so they named me Junior, a name which stayed with me till this date,
              Jack Junior, or JJ as most people called me.
            </p>

            <p>
              As time passed, my dad noticed how I am exceptionally bright and talented. He made sure I tried every
              sport and activity he could think of. When I was three, I learned how to read, so I got many books as
              gifts. Reading quickly became one of my passions. I was absorbing the knowledge at an incredible rate.
              When I turned eight, my dad bought me a computer, and that provoked my interest. It was at the same time I
              discovered martial arts and started to learn Karate. My dad approved of martial arts seeing it as an
              excellent skill to master, remaining ambivalent about computers. He didn’t understand them. Being an old
              school guy, he saw them as a novelty in the hands of a child, but he wanted me to have everything, being a
              good dad.
            </p>

            <p>
              After finishing breakfast, we left the dishes in the sink, and dad drove me to school before getting on
              with his job. As I met up with my best friends, I told them that I wet my bed at night. After teasing me
              mercilessly, they admitted that they never had such an experience, except Tommy. He told me how once he
              woke up and his underwear was wet, so he figured what happened. It was good to know I wasn’t the only one,
              but I was surprised, wondering why I release so much, but I forgot about it as the day went on.
            </p>

            <p>
              My dad Jack was a strong but stoic man. I had no doubt that he would step in front of a bullet to save my
              life, but he wasn’t the kind I could talk to about personal stuff, especially the type of stuff that
              happened to me last night. I remembered learning about nocturnal emissions in biology class, so I dug
              through the books, learning nothing before deciding to search online.
            </p>

            <p>
              A few hours later, I put my mind at ease. I wasn’t sick or dying. I was just a boy entering puberty.
              Although extremely embarrassing, there was nothing wrong with me. However, forgetting this is all easier
              said than done. I knew what it was, and I never wanted it to happen again. Not being able to ask my dad or
              turn to my friends, too embarrassed to talk to the biology teacher or a nurse, I figured this was all due
              to my increased interest in girls, so I resolved to solve the problem by busying myself with just about
              anything except them.
            </p>

            <p>
              This worked like a charm. I focused all my effort and all my mind on my studies and martial arts. From
              early morning till I fell asleep, I was busy with something, which naturally reflected in my grades and
              physical fitness, making my dad, the sheriff, very proud of his son. Of course, one couldn’t just study
              and exercise, so I found books to be my favourite pastime. I checked out books in dozens at a local
              library, reading all the time, anything from literature to sciences. I didn’t care, as long as it was
              exciting and it occupied my mind.
            </p>

            <p>
              All of this proved quickly to be a good call. Within just a few weeks, my obsession with girls vanished.
              With my new impossible schedule, I devoured knowledge and fought my opponents mastering Karate. The
              nocturnal emissions never returned, and the whole, profoundly embarrassing situation slowly vanished in
              memories past. Days turned into weeks; weeks turned into months, the world moved on swiftly as the years
              passed.
            </p>

            <p>
              Five years later, for my eighteenth birthday, I went out with my teammates to a popular bar to celebrate
              becoming an adult. Being eighteen, we were allowed entry but not alcohol, which suited me just fine as I
              didn’t like the taste. Incidentally, a day before, we finished another Karate tournament with me taking
              away the gold, being declared a winner again. Everyone kept congratulating me on my success. The whole
              school celebrated the win as I put another trophy on the school’s display. Over the years, I developed a
              love for competitive martial arts, but it wasn’t just fighting; I really enjoyed the whole eastern
              philosophy of life that Karate teaches, reading many books on the subject.
            </p>

            <p>
              We were all high school seniors now, and after the year, we’ll spread out going to universities all over
              the country. I wished to study as well, but I didn’t know where. There weren’t too many choices in my case
              anyway. I had excellent grades but not enough cash. I knew my dad saved for years, but it wasn’t nearly
              enough. I could have applied for a sports scholarship somewhere, fancy. After all, I was a three-year
              running regional champion taking gold, but, honestly, I wasn’t sure if I was ready to move out that far.
              My dad never got over my mom&#39;s death, and I didn’t want to leave him all alone. It was always just the
              two of us. If I just went, the man would probably survive by eating spam with a spoon right out of a can,
              washing it down with a beer. At least while I am there, he&#39;ll put up an effort to show me a good
              example of what it is to be a man.
            </p>

            <p>
              “May we join you?” Three girls, two blondes and a brunette, came to our table, carrying their drinks. We
              had a large booth, and there were plenty of spare seats, unlike the rest of the bar that was pretty much
              packed. “Sure, join us, I’m Tim”, my friend said, introducing himself, pointing around, telling our names
              to the girls. Politely I shook their hands, letting the guys chat the girls up, while I watched them
              quietly, sipping my drinks, not wishing to start something. I was pretty comfortable just sitting back,
              watching the action, drinking my coffee and lime soda.
            </p>

            <p>
              “Hey! What?” the blonde squealed in surprise at one point, turning to me, saying, “Happy birthday Jack”,
              the other two girls joined in with their good wishes. I smiled at them, raising my glass. “What are you
              drinking?” A blonde asked, stealing my glass and taking a sip, spitting it back in. “This is yucky, here,
              have some of mine”, she said, pushing her cocktail straw into my mouth. I took a small sip, disliking the
              taste, but still smiled at her saying politely, “It tastes nice, but I prefer mine”. The girls changed the
              subject, getting involved in a conversation with the guys about this and that. The girls were all
              twenty-one, studying at a local university, here, in the bar, just having fun.
            </p>

            <p>
              “Omg! It’s my song”, the blonde squealed, grabbing my hand, pulling me out. “Come on, please, dance with
              me. It is my song. I want to dance”. Taking it all in with my humorous stride, I joined the blonde on a
              dance floor. She hugged me tight, rubbing her overheating body against mine.
            </p>

            <p>
              I could jump high and knock a man down, but dancing wasn’t my forte. The girl didn’t seem to care. She
              just hung on to me, moving around entirely out of step with the music. “You are such a terrible dancer”,
              she said with a husky voice and smile, hugging me tighter, rubbing her grapefruit-sized breasts against my
              chest, burying her face deep into my neck.
            </p>

            <p>
              The song ended, but the girl didn’t seem to care, making no attempt to move away. It was my first dance
              ever and my first intimate contact with a girl. No matter how much I tried to remain stoic, I failed,
              unable to resist the soft, supple body rubbing against mine. Like it or not, the way we danced, the girl’s
              body rubbed against my cock that had a mind of its own.
            </p>

            <p>
              The girl started to dance, pressed even tighter against me, putting much more rubbing and pressure against
              my now erect member. I knew I was supposed to lead, but she led me instead to a darker area of the dance
              floor before she gently kissed my neck, licking it with her warm tongue. I felt goosebumps all over my
              skin just before she lowered her hand and discretely rubbed my stiff member.
            </p>

            <p>
              Oh, god, did that feel good and exciting. She spent two more songs with her hand on my trousers before
              giving my neck another kiss, leading me back to our table, sitting down, taking a sip of her cocktail. I
              sipped my coffee, calming down a bit, and just as my cock started to get flaccid, the brunette stood up,
              dragging me back into the dark corner, continuing where her friend left me.
            </p>

            <p>
              For two hours, the three girls passed me around, dancing with me. For all that time, my cock was hard. The
              girls just loved discretely rubbing it. After the first blonde, I started really enjoying myself. I
              wondered under which rock did I live all this time. Dancing was great fun that I wouldn’t mind repeating
              more often with girls rubbing me out. Eventually, the girls had to go home. We said our goodbyes and
              parted our ways, leaving me aroused with my friends.
            </p>

            <p>
              The girls danced just with me, but not with my friends. I didn’t know whether it was because it was my
              birthday or because they liked me for some reason. I sometimes noticed girls looking at me at school, but
              I never really gave it much thought. I was reasonably tall at six-foot-one, with light-brown hair like my
              mom and blue eyes like dad. I wasn’t slim like most of my friends, but muscular with a strong skeletal
              frame. I didn’t look pumped up, though, like bodybuilders. I was thinner than them, sporty with broad
              shoulders, looking like a fighter, and I liked it that way. Some people said I had a strong, masculine
              face, whatever that meant. Perhaps some girls found me attractive. To myself, I just looked normal, plain
              old me.
            </p>

            <p>
              An hour later, my friends dropped me home. I didn’t have a car or even a driver’s license. There was no
              money for that in our family budget. My dad was still awake, waiting for me, shaking my hands, wishing me
              a happy birthday before going to sleep. I was pretty tired, barely managing to take a shower before
              crashing into bed, and in two shakes, I was like dead.
            </p>

            <p>
              “Oh, shit!” I woke up in the morning, suppressing curses, soaked in sperm. Getting out of the bed, I used
              a towel to dry myself before pulling down the linen. The whole bed was soaked and dripping. It was
              disgusting. I quickly stripped it down, carrying all of it into the washing machine, adding powder and
              starting the cycle before taking a shower to remove all the sperm stuck to my body, repeating the process
              two times before I was done.
            </p>

            <p>
              Over the years, I forgot about my nocturnal emissions. I thought it was only that one time when I was a
              kid. Since then, I have had some time to figure it out and learn what it was. After soiling the bed and
              taking a shower, I couldn’t go back to sleep anymore, so I just sat down and read. I went downstairs, had
              my breakfast, making my way to school by bus.
            </p>

            <p>
              Dad picked me up after school and took me for dinner at a local diner where we were regulars, he had a
              steak, and I had a burger. We mainly ate in silence, just mentioning how our days were. Finally, when we
              got home, the cleaning lady already left, leaving us with a tidy place. I went upstairs to my room to do
              homework while dad opened a beer can and watched a game.
            </p>

            <p>
              I had a lot of work to do, a maths assignment to complete for tomorrow, so I buried myself in books,
              almost missing the knock at my door and my dad telling me he was going to sleep, asking me to not stay up
              for too long. I have almost finished anyway, so after about an hour, I wrapped things up and went to take
              a shower, call it a night.
            </p>

            <p>
              As I showered, my thoughts went back to last night’s incident. Wanting to make sure it doesn’t happen
              again, I decided to masturbate. I knew what it was all about, but I never tried it for real. Of course, I
              played with myself and made myself hard, and it felt great, but I never actually had an orgasm. I was
              determined to have one now and make sure I don’t soil the sheets again, so I sat in a bath, letting the
              hot water from the shower keep me warm, and I started playing with my cock.
            </p>

            <p>
              Maybe I was a late bloomer, perhaps I just wasn’t into self-gratification or maybe because I focused all
              my teenage sexual energy on my sports and other things. I never felt the drive to masturbate. Like any
              boy, I wanted a real thing, so jacking off felt like a cop-out to me, like I was cheating myself out of
              something great, replacing it with something available and easy instead. I wanted a real thing, like a
              girlfriend and an actual sexual relationship, not just a nudie mag with my hands full of dick.
            </p>

            <p>
              I had a lot of interest in girls. I was just too busy and exhausted to think about them most of the time.
              It would be a sad life running after pussy all the time. I liked my life and what I did with it. I had a
              purpose. Sure I wanted to get laid. But I always thought the women should improve my lifestyle, not
              replace it. I wanted them to join me on my journey, not ending up as a driver for Ms Daisy. Whatever the
              reason, it didn’t matter because my nocturnal emissions were back with a vengeance. After spending the
              night dancing with three sexy students, I didn’t think I could hold back anymore whatever was about to
              come. With a lack of a willing girl to fuck her brains out, masturbation became necessary if I wanted to
              sleep in a dry bed at night.
            </p>

            <p>
              I got hard quickly, thinking about the dance. I could still feel the girls’ kisses on my neck and their
              hands squeezing my cock. I stroked myself a little in the way the girls touched me on the dance floor,
              imagining it was their hands rubbing my cock. At one moment, I felt my cock twitch and contract sending
              tiny shivers up my spine, but nothing came out of my cock. That was as far as I got the last time I tried
              masturbating and thought it was how orgasm felt, worried that I would break something if I continued. This
              time I persisted, and the sensation started to grow with each stroke until suddenly it took off.
            </p>

            <p>
              I felt a massive surge of the best feeling I ever had, and it all radiated from the base of my cock, with
              all my muscles squeezing and trembling, my breathing laboured, hard and fast. My cock got really hard and
              twitchy before erupting waves of sperm far into the air, releasing little explosions of pleasure rocking
              my very being. The spurts were so powerful they painted the wall on the other side of the bath, good six
              feet away. I kept stroking, and my cock kept spraying load after load, seemingly without end. As long as I
              kept stroking my cock it just kept blasting sperm out. I didn’t have to study the books to know this was
              not normal, I don’t know how much I ejaculated, but it was a lot. Wanting to make sure I got it all, I
              kept stroking, and it felt amazing, but the sperm kept on endlessly coming out. After some twenty minutes
              of continuous orgasms, I couldn’t take it anymore. My whole body trembled and shook, every muscle
              exhausted from the immense effort. I felt the vein in my forehead throbbing with blood, making me a little
              dizzy with a bit of headache, and I had to stop to rest a bit. After regaining my strength and catching my
              breath, I showered all the sperm off the walls and cleaning the bathtub. With the last of my strength, I
              dressed into fresh pyjamas and went to sleep.
            </p>

            <p>
              When I woke up the following day, the first thing I did was check the bed. It was all good; everything was
              dry, not a drop of semen anywhere. That was a good sign. It looked like my masturbation experiment worked,
              so all I needed to do was repeat it every day before sleep, and the problem would be solved. I was much
              more focused at school; the whole incident was forgotten. Even during my karate classes, I just felt
              centred and full of energy.
            </p>

            <p>
              That night before my shower, I decided to measure just how much sperm I made. It sounded like a fun
              scientific experiment, so I went to a pantry, found an old one-litre wine bottle, and took it to the
              bathroom. Just like last night, during the shower, I started to masturbate, thinking of the three girls
              stroking my cock. When I felt that I would cum, I positioned my cock at the bottle and started
              ejaculating. Stream after stream of sperm poured out. Within a minute or so, the whole bottle was full, so
              I turned it around, emptied it into a sink and continued filling it up. This time it took longer to fill
              it up, and after pouring it out, I continued to fill it up one more time at about the same rate as before.
              Again it looked like I could keep pumping sperm out for as long as I stroked my cock. After another half
              bottle full, I had to give up, exhausted from continuous orgasming, netting some two and a half litres of
              sperm in this session.
            </p>

            <p>
              The days and weeks continued like this for a while. I would wake up, go to school, do my homework and
              masturbate some two three bottles of sperm every evening. With my increasing sex interests, I soon
              discovered adult websites feeding my masturbatory fantasies, turning my evening sessions into a real
              treat. I noticed how I began to look at the girls in school in a different light. While before, they were
              cute and sexy, and I sometimes thought about kissing them and holding hands, now I fantasized about
              fucking them raw in many different ways that I saw in porn films. Clearly, my sexual tastes were evolving,
              and I wasn’t a little boy anymore but a young man.
            </p>

            <p>
              Having my new fantasies and being surrounded by girls in school was a bad combination. I was horny for
              most of the day. Masturbation stopped being just about sleeping in a dry bed, but about the pleasure I
              felt, imagining blasting my cum into the faces of girls, just like they do in the movies, it turned me on.
              I daydreamed of other senior girls, bent on all-fours moaning as I fucked them doggy style, slapping their
              asses red, making them cum. Perhaps I was making my situation worse, seeking new thrills on the internet,
              discovering the new, imaginative, harder ways to fuck women filling my imagination, making me cum harder,
              which made even more sperm. I already passed the three-litre mark.
            </p>

            <p>
              All this thinking of girls and sex had a natural side effect. I woke up on Saturday morning just before
              dawn feeling wet. “Oh shit”, I muttered, jumping off the bed. Switching on the lights, I realized that it
              clearly wasn&#39;t enough despite my long masturbation session last night, except this time, it was many
              times worse. Inspecting the damage, the whole bed was soaked, linen, quilt, mattress. I looked below the
              bed, and my sperm dripped through the mattress down onto the already soaked carpet. This looked to me as
              much more than just a few litres of cum. There must have been more than a gallon to cause this damage, yet
              I felt fine and rested like nothing had happened.
            </p>

            <p>
              Quickly I collected everything off the bed, pushing it into a washing machine. It would take several loads
              to wash it all. Just the quilt weighed like ten pounds as it soaked up so much cum. Taking fresh towels, I
              placed them under the bed to soak up all the dripping sperm. I opened the windows to help everything dry.
              This couldn’t have come at the worse time as my dad had a weekend hunting trip with his friends, leaving
              me home alone with Angie. As if this wasn’t enough of an embarrassment. As much as I looked forward to
              seeing her again, I was embarrassed to let her know the state of my bed.
            </p>

            <p>
              Angie and I practically grew up together. She was like my older sister. My dad knew that a child needed a
              father and mother, get masculine and feminine energy if he was to be balanced in his future life. That was
              a challenge since he didn’t date. Luckily, the church helped in a way. Angie’s father was a priest, and,
              often they left her playing with me. She was only five years older, so as we grew up, she used to look
              after me when I was a kid.
            </p>

            <p>
              Sheriffs don’t make a lot of cash, but priests make even less. I think my dad felt sorry for his friend
              and kept giving Angie money since she was thirteen, helping put her through school and into university.
              Her father was too proud to ask for assistance, but we all knew they lived in dire straits, surviving
              almost on pure faith. I was too young back then to understand it all but loved Angie like my sister. She
              was always there for me, took care of me and just like my dad imagined, as we grew, she became a sort of a
              mother figure to me.
            </p>

            <p>
              I didn’t need adult supervision for years, especially now that I was eighteen, but my dad thankfully never
              got rid of Angie. She was still poor and needed the money. I think that was a part of the reason why he
              went hunting so often, so he had a plausible excuse to ask Angie to stay, take care of the house and give
              her some money without making it look like charity. The bad experiences from losing his wife made my dad
              ultra-protective of me; I was his only family. That was the other reason he never left me alone. On an off
              chance, I slipped in the bathroom, got hurt, and there was nobody there to help. He knew it was irrational
              and silly, but he was my dad. He only had me in his whole life.
            </p>

            <p>
              Before we finished breakfast, Angie knocked on the door. Dad let her in and made sure she knew the rules,
              which was silly because he repeated the same thing for over a decade. Even the birds sitting on the tree
              outside my house memorized the rules already by heart. This was a far cry from being Angie’s first
              sleepover, so dad drove off confident the house was left in good order. I figured that sometimes dad just
              didn’t think, still seeing Angie as a little kid, not as a twenty-three-year-old student now, almost
              graduating from the university, studying the most useless of all professions, the theology. She and I
              talked about it many times. Angie was petrified about her future, not seeing any after the university
              ended apart from being a housewife and pumping out children like an assembly line for her future
              ultra-religious husband just like her dad.
            </p>

            <p>
              I thought that Angie’s whole family was totally nuts. But she was mortally scared of her father, the grand
              patriarch, who had the final word, keeping everyone under his thumb. I still remembered when she was about
              fifteen how Angie rebelled once, and she couldn’t sit on her butt for a month. Secretly she showed me her
              bruises, almost making me sick. Her ass was all red, purple, bloodshot and swollen from receiving vicious
              caning. A hundred hits as hard as he could swing, and she had to count them out. If she missed even one,
              they would start from the beginning. After that, Angie never disobeyed her dad. Whatever he said became
              the law. I wanted to report him to my dad, but Angie begged me on her knees not to, making me promise to
              keep it a secret.
            </p>

            <p>
              After finishing breakfast, I exchanged a few pleasantries with Angie, heading upstairs to do homework
              while she busied herself with chores. I managed to move the quilt to a drier without her noticing then
              spaced out with my maths homework. I was just about to solve a complex equation when I heard knocking at
              my door.
            </p>

            <p>
              “Come in”, I said, not lifting my head from the problem. Angie wanted to see how I was doing and if I
              needed something.
            </p>

            <p>
              “Thanks, Angie, but no, nothing. I don’t need anything. I am just a little busy trying to complete my last
              assignment.”
            </p>

            <p>
              “What’s that smell?” she said, and just like that, my concentration evaporated. I knew exactly what she
              was referring to. I could feel my cheeks blush. “I don’t know. It must be coming from outside”, I said in
              a feeble attempt to cover the truth. Angie walked to my bed and sat on it. I covered it with new linen
              earlier, but I knew for a fact that the mattress and carpet below it was still wet, soaked in my sperm,
              probably still dripping. She just sat there quietly inhaling, watching me work. I tried to concentrate on
              my assignment, but my mind kept going back to the twenty-three-years old girl sitting on my sperm, and my
              cock got hard at the thought with few flashing memories of my favourite hardcore porn. Trying to defuse
              the situation, I told Angie that I was a bit hungry, “would you mind making some food and call me down
              when it&#39;s ready?”
            </p>

            <p>
              “Sure”, she said with a smile and walked out of the room while I watched her sexy butt sway from behind,
              for the first time really noticing with a surprise how attractive Angie was. She was around me since I
              could remember. I never saw her as anything else than my sister. Talking about not seeing the forest for
              the trees, it suddenly dawned on me that Angie was a hottie.
            </p>

            <p>
              When she closed the doors, I reached down, squeezing my cock through my pants, Jesus was it stiff and
              throbbing. I was so turned on. Never before did I sexually looked at Angie, but now that my mind replayed
              it, I was surprised at that as she was smoking. Angie was five-foot-six strawberry blonde with deep blue
              eyes. She had a baby face making her super cute when she smiled with her full lips. What made her sexy was
              her incredible proportions. She was very slim with a very narrow waist but extremely curvy with her bubble
              butt and large d-cup breast, turning her into a wet dream for every man. She was also a virgin. I never
              even heard of her dating, which wasn’t surprising as there was no way any guy was getting into those pants
              before suffering her father’s southern baptist card-carrying NRA member’s wrath, and pretty much whole
              town knew that. Angie’s father was a religious, authoritarian gun-nut.
            </p>

            <p>
              With some effort, I managed to control my erection and go back to the assignment. After solving the last
              part, I was just wrapping up ready to go downstairs when I heard a knock, and Angie entered again,
              carrying a platter with sandwiches, drinks and cookies. “I didn’t want to disturb you, so I brought you
              some food here”, she said and placed the platter on my desk, sitting on my bed again.
            </p>

            <p>
              “You shouldn’t have bothered, I just finished, we can go downstairs and eat in a dining room” anything to
              get her away from my cum drenched bed, but she dismissed it, convincing me I should eat my food here
              instead. I found that odd. It was strictly against my father’s rules. He always said that the dining room
              is for dining, a study is for studying, and she knew that perfectly well. I wondered what could make her
              willingly break this rule, then I saw her half-closed eyes with long sensual eyelashes and how she was
              inhaling the air. “OMG!, she likes the smell of my cum”, I thought, and my cock got hard so quickly that
              it almost banged against the desk.
            </p>

            <p>
              I let her be for a while, eating my food slowly, pretending to read while secretly observing her. After
              some five minutes, her eyes closed, and she took deep breaths getting high on the smell of my sperm. It
              took me almost an hour to eat my sandwich while Angie stayed there on my bed in a meditative trance-like
              state, inhaling the air with her full lungs. Looking carefully at her, I noticed little shivers and
              perspiration on her forehead as well as subtle squeezing of her thighs. I watched her do it for a few
              minutes, realizing that she was turned on. The smell of my sperm was actually making her horny. My cock
              throbbed at that idea.
            </p>

            <p>
              I wanted to test that theory and asked Angie if she wanted to go downstairs to watch a movie in a living
              room. She opened her eyes dazed, trying to grasp what I was asking her. Trying to wrestle some control,
              she asked about what movie would I like to watch. I wanted something that will give me a long time with
              her, so I told her “the lord of the rings trilogy”. She immediately started complaining that it is too
              long, and we saw it like three times, and the living room was uncomfortable. Then I started to beg and
              plead like a child. She discarded all reasons apart from comfort, finally suggesting that we watch it here
              in my room on my computer.
            </p>

            <p>
              Angie never stayed in my room for longer than a few minutes before. Now she was already there for more
              than an hour, suggesting we should stay for the duration of the whole film. I told her that it was really
              uncomfortable sitting in my study chair and how I would much prefer it if we went to a living room.
            </p>

            <p>
              “Come here, sit on the bed. There’s plenty of space”, she said, something that was extremely out of her
              character. I immediately agreed, exclaiming “sleepover”, making a little dance that always made her laugh.
              I suggested we got some drinks and cookies and change into our pyjamas, meeting here to watch the movie.
              She agreed and went to the kitchen while I changed into my nightwear and got into bed.
            </p>

            <p>
              Moments later, Angie returned carrying drinks and biscuits, dressed in her one-piece lace dress far too
              small for her since her last growth spurt. Giving her financial situation, she couldn’t really afford fine
              lingerie to sleep in. When she dressed up, Angie looked at herself in a mirror, seeing a perfect sex
              kitten, but she didn’t worry about me as I’ve seen her in a bathing suit many times before. Besides, in
              her mind, I was still just a kid. She had to change her panties, though, as hers were soaked, her pussy
              was so wet, and she was super horny, but she had no time for that. Angie reasoned that she’ll go back to
              her room when I fall asleep and masturbate herself to sleep, which was her only sexual outlet for years.
              Her dad would kill her even for that if he found out. Yes, she was legally an adult, but that meant
              nothing. She had no money, no real skill and no other future than the one she already lived in, in a small
              box she grew up in. Many men have tried to woo her over the years, but Angie shot them down for fear of
              her father finding out. From the day she could think, Angie understood well what her life was going to be.
              She spent years convincing her dad to allow her to go to university just to delay the inevitable, being
              married off at eighteen with the kids.
            </p>

            <p>
              Coming into my room, she inhaled deep, placing the drinks and cookies on the night table, and as I lifted
              the sheets, she got in bed next to me. I switched off the lights and started the film. I couldn’t believe
              she fell for that trick. Angie and I used to share a bed when we were kids, but not since I turned twelve.
              It was just inappropriate for the girl of eighteen to share a bed with a male kid. I attributed her weird
              behaviour to the smell of my cum in the air. For some reason, she liked it, preventing her from thinking
              straight, failing to see the most obvious thing. We weren’t kids. She was a woman, and I was a man.
            </p>

            <p>
              Just like before, it took only a few minutes for Angie to space out. I moved a little a few times until I
              was right behind her, spooning her, my front leaning against her back. She was so far gone that she didn’t
              even notice. I had a raging erection. This was the first time I spooned with someone I was sexually
              attracted to. Ever so slowly, I nudged forward until my cock was resting against her ass, poking her, and
              this is where I stopped, afraid of taking it too far.
            </p>

            <p>
              As her arousal grew, Angie started to unconsciously gyrate her hips, grinding her ass softly against my
              dick, her breathing laboured. I waited for a while, pretending that I was asleep before hugging her with
              one arm, my hand resting below her breasts. She didn’t react, then a few moments later, I moved again and
              again until my hand lay atop her scantly covered breast. Dazed as she was, Angie just continued rubbing
              herself against my hard cock, perhaps not even conscious of what she was doing.
            </p>

            <p>
              A few minutes later, Angie almost had an orgasm, so she opened her eyes, deciding it’s time to go to her
              room but then noticed my hand on her breast with my arm locking her in a tight embrace. At first, she
              started to gently lift my arm, stopping as she noticed something hard poking her ass, making her feel
              hornier than ever. Try as she might, Angie couldn’t find the willpower to resist, so in her dazed state,
              she thought there was no harm in exploring a little. After all, I was always a heavy sleeper, unlikely to
              wake up, and she’s been curious about men and sex for years. This was her perfect opportunity to find out.
              Reaching with her hand between her legs, she found my pyjama-covered cock, and with trembling fingers, she
              squeezed it gently to be rewarded with a little pulse as it reacted to her squeeze.
            </p>

            <p>
              She’s never seen, let alone touched, real cock. She had plenty of experience with a fake one. Since she
              was forbidden to date, her friends bought her a seven-inch dildo she used daily to get herself off. In
              fact, unknown to all, she lost her virginity to that dildo two years ago. Stroking up and down my cock,
              she thought how much better it felt than her silicone one, noticing that mine was significantly longer and
              fatter than the one she had. Angie was hooked. She needed to feel it more, so she stroked it. On one of
              those motions, my cock popped out of my pyjama fly and landed right in front of her pussy. The only thing
              that separated us was her silk lace panties that were already soaking wet.
            </p>

            <p>
              Angie froze, holding her breath for a moment, making sure I was asleep. I purposely kept my breathing
              regular and made no movement to see what will happen next. In a few moments, she couldn’t resist it, so
              her hand returned, and she explored the whole length of my unencumbered eleven-inch cock. The guys in the
              gym called it “the beast”, but to me, it was just normal; I grew with it. I had the largest penis on my
              team, and guys told me it was a good thing. Angie never imagined it would feel so good. After stroking it
              for a bit, her hormones went into overdrive, and she lost every sense of control. She just had to feel my
              cock against her pussy. Gently with her hand, she pushed my cock against her panties, then gyrated her
              hips until she was rubbing it with her body, occasionally being rewarded by a little throb. My cock surely
              liked the treatment, and I was enraptured, feeling the heat of her pussy, a feeling like no other, and I
              loved it. If sex was half as good as this foreplay, I knew that I found the best possible activity in my
              life.
            </p>

            <p>
              Angie continued rubbing my cock with her pussy, but she needed more. Her panties were in the way, no
              matter how thin they were. She wanted to feel my cock against her bare skin, something she fantasized
              about for years but never did because that spelt trouble. On the other hand, I was a safe choice, someone
              whom her dad wouldn’t suspect, and I was fast asleep. It was only now or never, once in a lifetime
              opportunity. She reached with her hand, pulling her panties to the side, for the first time in her life,
              feeling the direct skin to skin contact with a real cock. It felt so good she made a little sigh then
              froze, trembling a little in a mini orgasm. A few moments later, she continued rubbing herself against it.
              All this direct action was making her hornier than she ever imagined. She lost the ability to control her
              hips as they moved on their own erratically, chasing the good feeling, bringing her closer to an orgasm.
            </p>

            <p>
              Her pussy juices covered the length of my cock. It slid against her pussy with almost no resistance.
              Trying to increase the friction, she adjusted herself slightly and continued gyrating until, at one
              moment, a tip of my cock penetrated her pussy. She made a loud sigh and tried to stop moving, but that was
              impossible, her body wanted this more than air, so it continued fucking her pussy on the bulbous head of
              my engorged cock. Angie couldn’t control her movements anymore, she was fucking herself now on my cock,
              just a few inches, but the feeling was incredible for both of us. She was nearing an orgasm, and so was I.
            </p>

            <p>
              I could feel her pussy starting to contract on my cock, and that was my last straw. Extending my hips, I
              fed her the length of my eleven inches until my cock bumped against her cervix, and I started to cum. As
              soon as my sperm hit her insides, her eyes popped open, and she screamed the loudest scream I’ve ever
              heard. Her whole body started convulsing and shaking. Her bones started snapping and clacking, and her
              spine made a sound as if it was breaking. I grabbed her firmly, squeezing her large tit with my hand,
              pumping my cock into her, spraying an enormous amount of cum into her quivering insides.
            </p>

            <p>
              Making a few brutal thrusts, my cock stretched her cervix pumping sperm straight into her womb at high
              pressure. Angie was going nuts. Her whole body was in shock, every single nerve firing pleasure. She
              gasped for air, heaved barely alive like some sort of rabid animal about to die, but I didn’t stop; I just
              kept skewering her with my cock as hard as I could. Quickly her pussy overflowed with sperm, and as I
              pushed my cock in, the sperm sprayed out, but I didn’t care. I was going to fuck her till I couldn’t fuck
              anymore or die.
            </p>

            <p>
              My whole body was on fire, shaking. There was sperm everywhere, all over the bed. Half of her body was
              drenched with sperm, but I kept going. After some twenty minutes of incessant fucking I stopped and pulled
              out, looked at her wriggling on the bed in an orgasm. While I was still in the throes of orgasm, I stood
              up on a bed and masturbated hard, covering her whole body in sperm, like I saw in porn films while she
              bounced on a mattress beneath me. By the time I was done, there wasn’t a single spot on her body that
              wasn’t soaked in slimy goo.
            </p>

            <p>
              Getting off the bed, I sat on a chair, watching Angie bounce. In the course of the last hour, she fainted
              and regained consciousness several times. Right now, she was looking at me with those expressive blue
              eyes, babbling something incoherently, drooling like a retard. Her mind was gone.
            </p>

            <p>
              This was also something that wasn’t supposed to happen, I thought. Orgasms weren’t supposed to be so
              violent or last so long. I kept watching her for a long time, but her orgasm didn’t show any sign of
              stopping. Making sure that she can’t hurt herself, I went downstairs and made some strong coffee, jam and
              bread. Coming back, I found her as I left her, bouncing on the bed, her arms trying to grasp at something,
              her eyes glazed.
            </p>

            <p>
              Sitting in my chair, sipping coffee and having a snack, I watched the most exciting show on a planet. It
              lasted most of the night. Sometime before dawn, Angie started to calm down, and bounces became tremors.
              Her wrecked body couldn’t take it anymore, her exhausted mind gave up, and she just laid there staring
              blank. I carried her into the bathtub, and after filling it with soapy water, I washed her thoroughly and
              shampooed her hair. She just looked at me, unable to speak or do anything. After rinsing her off and
              drying her, I carried Angie to her bedroom where I laid us both under the quilt, with me laying on my
              back, placing her exquisite naked body next to me, wrapping her arm around me and kissing her lips,
              telling her that I loved her, which I always did.
            </p>

            <p>
              It was almost one afternoon when I woke up again. Angie moved during sleep, wrapping herself around me
              like a boa constrictor. She still slept, breathing evenly. I had to get up and clean the last night’s
              carnage, but I couldn’t detach myself from Angie, who held me tightly as she slept. I kissed her gently,
              playing with her nipples, which got erect immediately. Slowly I traced my finger to her pussy and rolled
              her clit like I saw in porn movies. Her breathing increased, and after few minutes, she opened her eyes
              and gave me a beautiful smile. I kissed her passionately, and she kissed me back. Incidentally, it was my
              first ever, real kiss.
            </p>

            <p>
              We spent some time kissing and petting, my cock hard as a rock. I slowly moved her onto her back,
              positioning myself between her legs. Angie knew she was going to get fucked and spread her legs as far as
              they would go with a big smile. After a few tentative rubs, I inserted my cock inside her pussy. Slowly at
              first, I fucked her. As she got lubricated, I started pushing my cock hard into her, fucking her with
              powerful strokes as she moaned in pleasure. Within minutes her first orgasm hit her, insignificant in
              comparison to what hit her last night. I kept going for about twenty minutes until I had to cum. She
              already came six times in the process.
            </p>

            <p>
              Just as I was about to cum, I pulled my cock out and sprayed my cum onto a towel. Angie couldn’t believe
              how much sperm was there. Ropes of white liquid kept blasting out with no signs of stopping. I had to keep
              adding towels just to empty my initial blasts, which finally subsided after about ten minutes.
            </p>

            <p>
              In disbelief, Angie touched the sperm and sniffed it, immediately recognizing the smell from my bedroom.
              She extended her tongue with a huge smile and gave it a little lick to try the taste. She rolled just a
              drop in her mouth, then as she swallowed, a huge orgasm hit her, almost the same intensity as the last
              night, and she started bouncing on a bed again. Removing all the sperm, I watched her bounce and scream
              and beg for about twenty minutes, after which she collapsed back on the bed catatonic.
            </p>

            <p>
              “Fuck me!” I said, realizing that my sperm has some weird effects on people. Just a drop will make a girl
              have a massive orgasm, while if I came into her like last night, she’d be bouncing for about eight hours
              and finally collapse. This was some weird shit, but immediately my mind started getting wicked ideas.
            </p>

            <p>
              I kissed Angie getting out of bed. After taking a brief shower, I went to my room to decontaminate it. As
              I entered, the smell of sperm was strong. I pulled everything off the bed and started another wash. I was
              on my second batch when I felt a hot, soft naked body wrapping against me from my back. Turning around, I
              kissed Angie, who just got out of her shower. She told me how her whole body was like jello and her
              muscles hurt, but she felt happy.
            </p>

            <p>
              I led her to a dining room and laid her on a table, then I sat on a chair between her legs and started
              eating her pussy. I always wondered about the taste, and now that I was doing it, I loved it. I kept at it
              for about an hour, making her cum a dozen times until my tongue got numb and I couldn’t feel anything. She
              loved the orgasms but was a little disappointed. After having the earth-shattering, sperm-induced orgasms,
              everything else paled in comparison.
            </p>

            <p>
              I ran up to the washroom. In my third batch, I found the dirty towels. I stuck my finger into the sperm
              and came back to the dining room, going back between Angie’s legs. I started licking her asshole,
              inserting my tongue, making sure it was lubricated, then unceremoniously, I stuck my sperm covered finger
              in her tight anal hole.
            </p>

            <p>
              Just as I did it, she screamed murder and bounced on the table. If I was any slower, she’d come off it and
              fall flat on the floor. I caught her and carried her crazy bouncing body to the living room, where I laid
              her on a soft rug, watching her body go nuts. She kept bouncing for about twenty minutes until her orgasm
              stopped. Meanwhile, I went to the kitchen to prepare something to eat. Angie came back from her orgasm
              just as I was setting the table. I made us spaghetti bolognese. My dad had a whole pack of canned sauce
              ready.
            </p>

            <p>
              As we ate in silence, I saw her mulling through something, most likely the moral implications of what we
              just did. Halfway through our meal, she said, “JJ, we need to talk”, and there it was, the talk was
              coming, so I responded with, “no, we don’t. Let me ask you a question. Did you enjoy yourself?”
            </p>

            <p>“Yes, oh yes, so much, but.”</p>

            <p>
              “No buts, let’s just leave it at that. I love having sex with you, and we can do it as much and as often
              as you want. The rest doesn’t matter. We don’t need to talk about it. It is what it is” she gave me a
              beautiful smile after that, I saw she wasn’t convinced, but she let it go and enjoyed the rest of her
              food.
            </p>

            <p>
              After we washed the dishes, Angie led me to the living room, stripped me down, sat me on a sofa, and
              started sucking my cock. She told me that she was a virgin until last night, and she always wanted to try
              giving a blowjob. It turned her on; I didn’t complain, as she sucked me, I told her what feels good, and
              she did it. In no time, I was ready to cum again, so she got up and led me to the bathroom. We got into
              the bath, and she started to jerk me off, and I blasted her with a massive explosion of sperm. She made
              sure none of it enters her and just kept squeezing out more. Her whole face and body were glazed with a
              thick layer of hot cum, Dunkin doughnuts style, and it just kept coming out, squirt after squirt. After
              some half-hour, she took a glass, filled it up, putting it away, and finally stopped. My cock dripped for
              a little longer.
            </p>

            <p>
              After the shower, I led Angie naked to her room, and she carried a glass with my sperm. I laid her on a
              bed, and we cuddled, exploring each other’s bodies. She played with my flaccid cock telling me how amazing
              it was. I was fascinated by her large, firm tits instead. Playing with her nipples, I saw them grow and
              extend, then I sucked them, enjoying how they felt in my mouth. We played like that for a couple of hours,
              exploring each other, talking about sex. Angie told me how good it feels getting fucked and how her orgasm
              last night was the most intense experience of her whole life. She said that she’d happily spend her life
              as my personal slut if it was always like that. We laughed and giggled like kids. Opposite to what people
              say that when friends have sex, it gets awkward. I felt the sex just brought us closer together. I felt
              amazing, and Angie felt great. Fucking each other silly was the right thing to do for her and me. It just
              brought us closer than ever. Not just like lovers but friends.
            </p>

            <p>
              All this sex talk and touching turned us on, my cock was rock hard, and her pussy was dripping wet. Shyly
              Angie told me she had a sexual fantasy. She wanted me to tie her up and brutally fuck her for as long as I
              can. She wanted to cum like last night but also wanted to be dominated. I guessed that’s what happens to
              preacher’s daughters prevented from experiencing sex. Over time their fantasies grow, get more evolved,
              twisted. Sexually repressed girls develop a taste for extreme sex. I saw plenty of porn films, bondage
              included, and thought it was hot. Running down to the garage quickly, I got us some rope that I used to
              hogtie her, similar to what I saw they did online. Of course, my rope work was messy but effective. She
              was tied in a kneeling position that her pussy and ass were high up, then I tied her hair, so her head was
              up as well, giving me access to all her holes. Angie was so excited; her pussy gushed. I carried her like
              that to my room. There was no point in ruining two beds.
            </p>

            <p>
              She looked so exquisite helpless like this, turning me on like mad. Just for fun, I slapped her ass, and
              she moaned in pleasure, so I slapped her again, and she bit her lip. So strange how a preacher’s daughter
              had some hardcore, heavy sexual fantasies, who would have guessed. Reaching around, I squeezed her breast,
              and she sighed in pleasure, then I pinched her nipples, and she moaned, like some sort of sexual
              instrument, waiting for my organ to make a musical masterpiece. An overture in F-major. It was until this
              moment that I believed that all such films were fake. I couldn’t imagine anyone getting aroused by pain,
              but looking at it right in front of my eyes, I became a believer. The more I mistreated her, the more she
              enjoyed it, go figure. At one point, I took my leather belt and smacked her ass hard, and she moaned and
              orgasmed just from that. Encouraged by it, I gave her a few more hard smacks, each leaving welts on her
              white buttocks and each resulting in a mini orgasm. Her pussy was in a free flow now, dripping on my bed.
            </p>

            <p>
              I went to my desk and took two large bull clips from my drawer, attaching them to Angie’s nipples. She
              screamed as I did that and came hard. I couldn’t take it anymore. I was super horny, so I got behind her,
              and in one long stroke, I skewered her pussy deep with my cock, bumping into her cervix hard. She grunted
              and pushed back at me to get every inch of my cock inside her. Grabbing onto the ropes, I kept fucking her
              like a maniac, with deep brutal strokes. I would pull my cock out till just the tip was inside before
              slamming it back deep as hard as I can. Angie started to cum really quickly, loving this brutal treatment.
              It was her deepest sexual fantasy, coming true. With my other hand, I reached for my belt and smacked her
              ass while I fucked her, and she went wild from sensory overload.
            </p>

            <p>
              I lost track of how many times she came. By the time I was ready to pop, her body was covered in welts and
              sweat. I felt my cock pulsate and get harder. She must have felt it too as she moaned louder, then I
              blasted her with sperm, and she took off like a Soyuz rocket. She screamed so loud I could swear I saw the
              windows shake. Her whole body convulsed but had nowhere to go. She was tied tighter than a sausage. I just
              kept filling her womb with my seed until it was full. Still horny, I pulled out of her sopping pussy and
              pushed the tip of my cock into her asshole, blasting my sperm inside, lubricating it and pushing the rest
              of my cock in, all the way, balls deep. She howled and trembled as I did that. I just kept the hard,
              brutal tempo. I saw some blood mixed with sperm, but I didn’t care. She wanted to be fucked brutally, and
              I was going to give it to her.
            </p>

            <p>
              I saw her stomach bulge from the amount of sperm I pumped into her guts. By now, Angie was continuously
              screaming. I kept at it for a few more minutes until her belly felt huge, almost like a pregnant woman,
              then I pulled out and fucked her pussy some more, adding to sperm that leaked out. Finally, I changed my
              position and, pulling on her hair, I stuck my cock into her mouth, forcing her to swallow the streams of
              sperm coming out of my cock. I pushed a little and felt her throat open, and I blasted my sperm straight
              into her stomach. I saw tears rolling down her face, so I pulled out, let her breathe a little, then stuck
              my dick back into her throat and continued until I saw her retch, and a stream of sperm came out of her
              nose. I thought she had enough, so I pulled out and painted her face with cum. I stood up like the last
              time covering her whole body with it, and I was done.
            </p>

            <p>
              Angie bounced on the bed like crazy, contractions one after another. She couldn’t move. All she could do
              was moan, scream and shake. I watched her muscles ripple. Occasionally she would mutter “uhhh” or “please”
              I didn’t know what she wanted, so I pulled a little on her bull clips, and she responded with “mmmmm”. I
              cut the hair rope with a knife, rolling her on her back, she was still tied up, but now I could play with
              her nipples. As she kept orgasming, I pulled on the clips, each time I did that, she made more noise. I
              had an idea, I took my belt and gently slapped her tits, and she loved it, so I hit her harder. After a
              few minutes, I kept hitting her tits hard, and she just moaned more. I saw welts forming all over her
              chest. One time I hit her so hard, the bull clip flew off, and she screamed, losing control of her
              sphincter and a fountain of sperm came out of her asshole so hard, some of it landed on the floor. Seeing
              how she liked it, I kept belting her tits until the other clip flew off with a similar effect. I kept
              abusing her in different ways for a couple of hours, then I got tired and stopped.
            </p>

            <p>
              Angie kept bouncing and moaning on the bed. I was concerned about her circulation, so I untied her. As I
              did that, her limbs flew to all sides like an insect on its back. I tried holding her steady, but it was
              too much hard work, so I retied her, carrying her wiggling to the bathroom and ran a bath. Like yesterday
              I washed her, but this time it was harder as she kept bouncing, screaming and moaning in her long orgasm.
              Finally, I dried her and took her to her room and a clean bed, where I left her to clean our mess.
            </p>

            <p>
              It took me a couple of hours to sanitize and air my room, wash the linen and make it all look presentable
              again. Finally, I got back to Angie’s room to notice she was still bouncing but less, I untied her, and
              she looked more manageable as her moves weren’t as violent. I kissed her gently. She was unconscious red
              welts crisscrossing her body. I couldn’t believe I did this to her and even more that she loved it.
              Feeling exhausted, I lay in the bed next to her, our naked bodies touching, then I hugged her, and despite
              her bouncing, fell asleep.
            </p>

            <p>
              I planned to wake up early as my dad was due to come at seven, but since I wasn’t in my room, I didn’t
              hear the alarm clock and overslept. Unknown to me, my dad arrived and went to check up on me. When he saw
              an empty bedroom, he checked the guest room just to find me sleeping with Angie’s naked body wrapped
              around me. He almost shouted in surprise, controlling himself at the last moment and left to make a cup of
              coffee and think. As a sheriff, he was all about law and order. Angie was legally an adult, and so was I,
              but as a father, he was concerned, and as a guy, he absolutely understood. When he was my age, he’d give
              his left nut to bed a babe as hot as Angie, and judging by the way Angie wrapped herself around me, it was
              obvious she was crazy about me. He thought about it for a while, sipping coffee before calling the
              preacher and telling him that Angie was still here, looking after me as I was sick. Then he called the
              school and told them I was sick too. Dad had his breakfast, wrote a note to me and left for work.
            </p>

            <p>
              I woke up just after eleven with “oh shit!” Which woke Angie up, and both of us started dressing up in a
              panic, running downstairs just to find a note on a dining room table, finishing with my dad’s expectation
              to talk to both of us when he got home. We were so busted, but I was happy my dad was cool enough to cover
              for us.
            </p>

            <p>
              Angie was in a state of panic. She was petrified of her dad finding out that she had sex before marriage,
              even more so seducing a guy she used to babysit. What kind of evil monster could even think of doing that.
              It was diabolical, perverted and unnatural, like having sex with your own brother. She started to
              hyperventilate, and she couldn’t calm down, no matter what I said. In the end, I just went up to the room,
              stuck my finger into a glass of sperm and ran back to her, shoving it in her mouth, making her swallow and
              boom, her orgasm exploded, she fell to the floor and started thrashing about for half an hour, collapsing
              in the end, exhausted.
            </p>

            <p>
              I ordered us a pizza for lunch, and we cuddled and ate, waiting for my dad in trepidation. Finally, he
              showed up around four, and I reheated the second pizza we ate with him. In the end, he poured himself a
              beer and started to grill us about who, what, how and why, the standard cop-routine. Halfway through
              interrogation, Angie burst into tears, which sobered him up a bit. After all, it was his son and his girl
              he was talking to, not some sort of hardened criminals. Speaking softly, he made Angie calm down,
              explaining that it was all okay with him as long as everything is consensual and safe he wasn&#39;t going
              to make a fuss or tell her dad, plus he knew her since she was a baby, her dad was one of his best
              friends. He let it all pass under the condition that we keep it discrete and looked at us sternly, saying,
              “no babies! Got that?” We both nodded and promised we’ll be safe.
            </p>

            <p>
              Angie told him that she can’t have babies. When she was fifteen, her dad caught her holding hands with a
              boy. He chased him off and made her take birth control implants. She showed us a piece of skin under which
              it was placed. It was barely noticeable. My dad never heard of such a thing, and she explained that
              instead of pills, this one was a long-term implant that regulates her periods and she can’t get pregnant.
              This prevents the situation of accidentally or on purpose forgetting to take the pill. Shaking his head in
              disbelief, dad chuckled at his paranoid preacher friend.
            </p>

            <p>
              Dad picked up the phone, calling the preacher, and Angie froze in fear. He let her off easy by telling the
              preacher how I am fine but have to take therapy, so he’ll need Angie to come more often and stay to look
              after me. The preacher agreed. He was happy, the donations were running low, and Angie needed new clothes
              and a car anything she could earn would be greatly helpful. They chatted for a bit longer before hanging
              up.
            </p>

            <p>
              I hugged my dad thanking him, and Angie joined us, saying, “thank you, Oh, thank you so much”. Feeling her
              hot young body mashed against him in a hug, he chuckled and said, “maybe I should find a girl for me too”
              we all laughed. In the end, my dad took his beer and went to a living room to watch the game while Angie
              and I went upstairs.
            </p>

            <p>
              “Birth control implant? Really? Holding hands with a boy?” I looked at Angie suspiciously. She turned red
              in her face, dropping her gaze to the floor. “I couldn’t tell you I was too embarrassed”.
            </p>

            <p>“We fucked for two days. Don’t you think we’re past that?”</p>

            <p>“Well, remember that time I got canned badly?”</p>

            <p>“Yeah, it was terrible.”</p>

            <p>“It was my fault, really.”</p>

            <p>“I’m sure it was. Just like all the battered women in shelters. It is all their fault.”</p>

            <p>
              “No, JJ, really. This is not the first time or the last time I was beaten like that. My dad used to spank
              me when I was younger, then stopped because he realized I was enjoying it. This was when he switched to
              the cane because he didn’t want to lay his hands on someone so filthy”.
            </p>

            <p>
              We sat on a bed in a lotus position, facing each other, and for the next two hours, Angie told me her
              story. When she was little, she was punished so much that somehow she developed a taste for violence and
              pain. The more her dad would beat her, the more she liked it. He just tried to beat her sexual arousal
              away from her and failed.
            </p>

            <p>
              When Angie hit puberty, her dad noticed Angie’s hormones were off the charts and tried to beat it out of
              her to save her from making mistakes many teenagers made. After beating her severely with a cane for the
              first time, he realized he would fail and got her a birth control implant as a precaution because he
              didn’t know what else to do. Having sex before marriage was a sin, but a million times worse than being a
              whore pregnant with a bastard, so he did all in his power to prevent that.
            </p>

            <p>
              The last time Angie’s dad caned her was about a month after she turned eighteen. She had a big fight with
              him about marrying some guy he found for her. Angie promised him that she would run away and work as a
              prostitute rather than marry by force. She wanted to go to university, and her dad was dead set against
              it. The fight escalated so much that Angie told him to fuck off and die, at which point her dad lost his
              mind and canned her harder than ever in her life. On eighty-first stroke, Angie came so hard that her
              pussy exploded in a massive squirt as she moaned and shook, spraying her pussy juices all over the floor.
            </p>

            <p>
              Her dad called her a whore, kicking her out, telling her to go live with her people in Gomorrah. She lived
              at her friend’s house until her mom managed to calm her father down, who, after a week, came to claim her
              back. They ended in another fight, and the preacher had to relent under Angie’s threat to go and whore
              herself out. In the end, he agreed to send her to university if she studied theology, and she wouldn’t
              have to marry if she returned home.
            </p>

            <p>
              Her father never touched her after that, disgusted with a sexual deviant she has become, receiving
              pleasure from pain. It took three months of silence before he started to talk to his daughter again.
            </p>

            <p>“Wow! That’s some story”, I said. “Sorry, Angie, I had no idea.”</p>

            <p>“It’s okay, JJ, thanks. All water under the bridge now.”</p>

            <p>“Is that why you asked me to beat you? Does that really turn you on?”</p>

            <p>
              “Yes, very much so. I don’t know why but it makes me feel something different inside like my whole body
              reacts, and it makes me cum hard.”
            </p>

            <p>
              “Is there something you want me to do to you next time? Or maybe something I did wrong? I want us to be
              able to tell each other any sexual fantasies and never hide things from each other, no matter how
              embarrassing”. Angie hugged me tight, giving me a big kiss. We sat like that, fondling and kissing for
              some twenty minutes.
            </p>

            <p>
              “Actually, there is something”, Angie said, a bit red in her face. “In my fantasies, I like to be choked
              and slapped hard. I always masturbate to that”.
            </p>

            <p>
              I kissed Angie again for a while before laying her on her back and ate her pussy for an hour through a
              bunch of her orgasms. When I couldn’t feel my lips and tongue anymore, I just mounted her and fucker her
              pussy hard, biting her nipples, choking her and slapping her face. She moaned loudly, having massive
              orgasms from the rough sex till about an hour later, I had to cum. We ran to the bathroom, and I came into
              the toilet, Angie helping me milk the beast till I was done.
            </p>

            <p>
              We took a long shower, washing each other and dressed up. It was Angie’s time to go home. I took her to
              the door, and after a long kiss goodbye, she left. Saying good night to my dad, I went back to my room and
              laid on my bed, sorting through the memories of the past couple of days.
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/gp/product/B09F3LQCGC'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3xMzArx'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details?id=BTRxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>
            </div>

            <br />
      
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
