---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='The Formula | Chapter 1 - Rude awakening'
  description='The Formula novel by Rumpel Stiltskin'
  image='/images/the-formula.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <img src='/images/covers/formula.jpg' />
          <p class='emp grey'>THE FORMULA</p>
          <h1>Chapter 1 - Rude awakening</h1>
          <div class='biggest'>
            <p>
              “I hate this city”, I mumbled, packing my field bag with portable lab equipment, driving to the scene of a
              crime. There was always someone killing someone else for whatever reason they imagined were justified.
              This time however it was us against them. What was supposed to be a simple raid turned into a shit show
              with a SWAT team, tear gas, gas masks and finally a shootout with military-grade assault hardware. It
              looked just like your typical Friday massacre in a sunny gangland of Sin City from where I stood. Someone
              acted rashly on false information, mistakes were made, and it all quickly escalated from there into
              full-blown all-out urban warfare. Yep, it was business as usual.
            </p>

            <p>
              What wasn’t usual was a massive bust of a large underground designer drugs factory. The good news was, it
              looked like we cracked the main Squeak production centre. The bad news was, everyone was dead. As usual,
              the feds were on their way to take over, the heads will roll, we’ll have a “lessons learned” seminar and
              life will go on as before.
            </p>

            <p>
              This was a significant bust. It was sure to hit the news hard. Both DEA and the local police department
              will want to take credit, which made my job all that more difficult. Showing my identification to a
              flatfoot guarding the police tape, he waved me in with a smirk. There is little love lost between
              uniformed officers and us, the forensics. When friends asked me what the difference was, I tell them,
              “just watch the police academy; that’s the police”. This would usually give me some laughs, making me
              appear witty sometimes, although mostly I’d come off bitter.
            </p>

            <p>
              I loved my work, and I was really good at it, a sentiment shared only by a few. Even my parents were
              ashamed of me, a double doctorate in computer science and biochemistry and all I accomplished was this
              shitty job, working in a local police department forensics lab. “It was a waste of money sending you to
              Stanford”, my father would say every time he was pissed off when I asked to borrow some money. “I don’t
              know what happened. You were such a promising boy”, my mother would pile on almost every time. The only
              one who wasn’t ashamed of me was my younger sister Alice. She married the youngest state senator and spent
              most of her time organizing charity events. She was proud of me and what I did for the benefit of society.
              Alice would visit me sometimes to lecture me about cleaning my apartment, doing it for me instead. She
              threatened hundreds of times to get me a maid, never actually doing it. Perversely, she liked to come
              unannounced, clean and rant. It was her outlet for stress, and I was the only one who really listened
              rather than just waited for her to stop talking with the words “there, there”.
            </p>

            <p>
              A carnage waited for me inside the drugs factory. I found it hard to keep my lunch. At least fifty people
              lay dead all over the main floor and the labs at the back. The cops didn’t kill them; they all suffocated.
              When main doors were breached, the state of the art inert gas fire suppression system kicked in, filling
              the inner lab with nitrogen, squeezing out all oxygen. Within minutes, everyone was dead.
            </p>

            <p>
              Typically such systems are set up to only reduce the oxygen, but this was an illegal operation. Whoever
              set it up wasn’t an expert and fucked up, killing everyone in the process. The drug factory had thousands
              of trapped genetically modified white mice. They used them to process the biological compounds into raw
              Squeak, a new psychoactive drug plaguing the streets in a big way for the last six months. It was all the
              rage and virtually undetectable. They said that it was to heroin, what heroin was to powdered sugar. The
              effects of the high were extreme, lasting for as long as it took the body to completely absorb the
              compound, which was proportional to how much one took.
            </p>

            <p>
              Squeak wasn’t addictive in a classical sense. It would give highs so intense that nothing else would come
              close, and once tried, a person would do anything to get more, to feel like that again. Apart from that,
              the drug was completely safe. It was a complex biochemical compound that couldn’t be synthesized, it had
              to be harvested, and mice were the key. Unfortunately, just like humans, little rodents also breathed the
              air and now were all dead.
            </p>

            <p>
              I got on with my work. There was a lot of evidence to pack, and I was alone. The violence doesn’t stop
              just because there was a big bust. People need killing. There were plenty of other crime scenes around,
              requiring the attention of my colleagues and a crime lab. Unlike them, I won’t be coming home to my cat
              but work through the night till I got it all packed. I drew a short stick tonight.
            </p>

            <p>
              It took hours to photograph and pack the factory evidence. A kind policeman brought me a large cup of
              coffee, rolling the first batch of evidence away before I sat in the lab to check out what they’ve done.
              What I saw shocked me so much that I spent six hours reading through their computer. I was so engrossed
              that I barely noticed the morning shift coming around, announcing that feds would take over. When they
              arrived, I should hand it over to them and go home to get some rest.
            </p>

            <p>
              I sat for a minute in utter shock, what I’ve read was some incredible stuff, and for the first time in my
              life, I did something criminal. I switched off the computer, using my tools to open it up. Working
              quickly, I pulled out the hard drive, placing it inside an anti-static evidence bag and put it in my
              underwear. Quickly I went to the medical fridge and pulled out six vials of yellowish liquid. Carefully
              wrapping it, I pocketed one, taking the others to the toilet, breaking them inside, flushing several
              times.
            </p>

            <p>
              I jumped in surprise, almost colliding with a guy in a black suit on the way out. He introduced himself,
              showing his badge. I shook his hand, answering, “Eric, Eric Moore, nice to meet you. Are you going to be
              taking over from here?”
            </p>

            <p>
              “Yes, Eric, my team is just in the lab”. I followed him there, forcing myself to remain calm. “Have you
              done anything with the lab yet?” a technician in a white coat asked. “No, I was just about to start after
              I got back from the toilet. Do you need me to help you with something?”
            </p>

            <p>“No thanks, we&#39;re good; we’ll take it from here.”</p>

            <p>
              “Ok then, good luck, guys. I’m off to get some sleep. It’s been a long night”. They waved me off. I
              quickly repacked and zipped my bag, making my way out. It was a bright morning, and I desperately needed
              coffee, but first things first. I crossed the street to seven-eleven and bought a Slurpee. Showing the
              clerk my police identification, I asked him if I could use their toilet. Commenting on a horrible
              shootout, he showed me the way. Locking myself in inside, I pulled out the vial, checking the stopper,
              dropping it inside my Slurpee cup. It was nice and cold inside. It should keep the chemicals stable by the
              time I got home.
            </p>

            <p>
              I drove carefully, as fast as I could, trying to make it back to my shitty place. Forensic specialists
              don’t make great money working for the police department. I don’t even know why I got into the field
              anymore. I thought it would be a rewarding career, helping people affected by crime. Working for the
              government, serving justice sounded just great at the time. I’ve had so much extra credit from my other
              two degrees. They let me do my masters in forensics at the same time I did my doctoral thesis. Now that I
              have worked for the department for the last five years, I thought it was the worst job anyone could ever
              have. I lived death, murder and mayhem every day, and I had enough. I thought it was only the fact that it
              pissed off my parents so much that I kept that job. I was about to turn thirty-four. I had no life,
              relationship or career prospects, living on cans of tuna I shared with my cat, surviving on canned corned
              beef and ham.
            </p>

            <p>
              Putting the Slurpee into the fridge, hiding the hard drive on a shelf behind the books, and after a quick
              steamy shower, I rolled the blinds and went to sleep. I pulled an all-nighter, so I had two days free. It
              looked like it would be quite a busy weekend for me.
            </p>

            <p>
              I woke up in the afternoon; it was almost two. After brushing my teeth and feeding the cat, I realized
              there was no edible food left in the fridge. I looked around, mumbling, “you filthy pig”, my sister was
              right. I lived like an animal. While still feeling disgusted, I doubled a large bin bag emptying the
              fridge inside before going around the apartment, filling the bag with all the trash I could find. “This
              looks better”, I mumbled again, seeing a still filthy place, but at least there wasn’t any food left
              rotting around the house.
            </p>

            <p>
              It doesn’t take a genius to figure out what was going on. I had undiagnosed clinical depression. Who
              wouldn’t with a life like mine? I saw the worst things happen to good people every day, people raped and
              murdered, blood and tears. I found it hard to even take a shower in the morning and really didn’t care
              about anything. I haven’t had any relationship for years. All signs were there, but I was too depressed to
              even care about it. My sister, of course, knew it, and that was the real reason she came around. One day
              she caught me sitting on a sofa slurring, drunk with a gun in my hand, about to take a shortcut.
            </p>

            <p>
              She was the one who saved my life. We spent the night hugging and crying, apologizing. Before she left me,
              she took away my gun and threw out all the alcohol, made me promise I wouldn’t drink again and seek
              professional help. I kept my bargain partially. I stopped drinking, and I didn’t try to kill myself again.
              Still, I couldn’t find enough strength to see a psychiatrist or do anything positive for myself.
            </p>

            <p>
              I had good days and bad days. Sometimes I would feel that everything was fine, then a few days later, the
              things would change, and I’d end up in the dumps again. These days were my very low ones. I guess that’s
              why I stole the disk. I didn’t even care that it was a crime. What was the worst that could happen? I’d
              end up in jail and kill myself there? It wasn&#39;t a powerful deterrent for someone who half-wanted to
              die anyway.
            </p>

            <p>
              Wearing my tracksuit, looking like I just fell out of my trailer, wobbling to the dumpster and throwing
              out trash. I crossed the road to shop, loading up on food, having Mr Perry, the owner, put it on my
              account as I forgot to take my wallet again. Getting back home, I downed a couple of Advils, fed the cat
              and made a cup of strong brew.
            </p>

            <p>
              I pulled out my secure, encrypted porn laptop from its handy hiding place behind my bed. Finding the
              adapter, I plugged the stolen disk in. It took a few moments to find the info again, then I dug into it
              with everything I had. For the first time since university, I found something so interesting. I was
              mesmerized, pretty sure that even the original creators didn’t know what they had. Clearly, whoever did
              the research was very clever. Still, they focused on creating a novel way of harvesting drugs, completely
              missing an enormous discovery they had.
            </p>

            <p>
              All the mice in the factory were male. They used their reproductive system for excreting the drugs to get
              raw material, which they filtered and refined, ending with a biological compound called Squeak. This whole
              process was utterly uninteresting. What was interesting was the way they genetically edited the mice to
              maximize their reproductive system, effectively boosting everything that could be boosted.
            </p>

            <p>
              “Talking about not seeing the forest for the trees”, I mumbled, chuckling. They had in their hand
              something that could potentially act like Viagra, fix erectile dysfunction and boost the reproductive
              system in humans, cure infertility. The market for that is many orders of magnitude bigger than designer
              drugs. I couldn’t believe they missed that. The criminals potentially sat on a discovery of a century. All
              they did with that was some stupid thing called Squeak, “who the hell names a drug Squeak? It is so dumb”.
              I shouted at the screen, frustrated with the idiots for not seeing the potential benefit of what they had.
              If it worked on humans, the same method could be applied for editing other types of genes.
            </p>

            <p>
              I continued reading their documentation, thinking that it would explain why this wouldn’t work on humans
              in further text. Indeed, nobody would be so blind as to not see the most obvious application of the
              technology. There must have been something; some tests indicating terrible failure. I don’t know how long
              I’ve been reading for, but the next time I went to refill my cup, it was almost morning the following day.
            </p>

            <p>
              I read the documents for two days straight, learning even more about it, concluding that not only would it
              work on humans, but Squeak was specifically made to be compatible with human chemistry. This is how they
              got the biochemicals to work so well on the human brain. It all started with humans, then they adapted and
              boosted the mice, making them compatible with the chemistry, finally developing a system for extraction,
              filtering and purification to package the final material into something that could be easily distributed
              and sold. Because it was new and designer, it wasn’t illegal to sell; cops couldn’t get them. Even if it
              did get banned, they could just modify the chemistry slightly, and they would have a new product that they
              could sell with the same effect.
            </p>

            <p>
              The more I thought about this, the more I admired the genius of the idea. Whoever thought of it was a
              brilliant scientist, and I finally worked it out why they didn’t do anything for people. They just weren’t
              interested in that. It wasn’t that they couldn’t do it; they just didn’t want to. Selling untraceable
              drugs for cash was instant profit, rather than going through the entire FDA approval process and so on.
              They got at least ten years ahead on that. If they wanted to get the approval, they would have to submit
              the details. Soon, other pharmaceutical companies would copy. It would be the same thing as Viagra. The
              companies selling generic sildenafil citrate were making a killing in the market, leaving the inventors of
              Viagra with dicks in their hands. Their way was better, guaranteed instant cash. The only mistake they
              made was that their street pushers were greedy. Instead of focusing on Squeak alone, they also sold heroin
              and cocaine, which got us the warrant to break into the factory in the first place. If it was just Squeak,
              they would still be selling it. Now that we busted the lab, all the scientists were dead, the critical
              evidence stolen, and I was the only one who had the secrets of how Squeak was made.
            </p>

            <p>
              Grandiose dreams of saving the world or becoming a drug lord myself filled my head. I started to feel
              groggy, falling asleep in my bed. The next day was a working day. I parked at the office and went back to
              work again. A couple of weeks passed, with me thinking about the formula less each day. It was all just
              mental masturbation anyway. I had my hands busy studying the evidence and crime scenes, and I had another
              court appearance coming up the following week. Life turned back to its usual miserable routine.
            </p>

            <p>
              They say when it rains, it pours. I ruined my only good suit with old mechanical grease, pushing my car
              off the road. The old piece of shit finally died. I guess I will be taking a bus to work from now on. To
              add insult to injury, this happened on the worst possible day, right after court. I got eviscerated by the
              defence lawyer. They called me an “incompetent idiot”, and that stung me. They forced me to admit I was
              one by accepting some of the evidence I worked on ended up mislabelled and lost.
            </p>

            <p>
              The guys in the office felt bad for me. We got so overworked, sometimes, mistakes are made. In this case,
              I had to watch a mother and son cry, seeing a murderer get away free with a smile. He actually blew them a
              kiss with a wink as he left the courtroom. I made that possible. It was a terrible day already. I left the
              car in an alley, with keys inside, someone will steal it for the metal, so at least I didn’t have to worry
              about that. I just had a few blocks more to go on foot, in my ruined suit. “fuck my life”, I mumbled,
              stepping forward, one foot after another.
            </p>

            <p>
              I was glad my sister took away my gun. She was a smart cookie. Today was one of those days where a bullet
              seemed a particularly attractive option. I wasn’t suicidal yet, but I wanted a drink. I knew I promised to
              stop drinking, but I really needed one. I used my credit card to pay for two cans of tuna and a bottle of
              Jack, my favourite poison for killing the old brain cells.
            </p>

            <p>
              After feeding the cat, I took off my suit, throwing it into a laundry basket, turned on the television.
              Collapsing on the sofa, saying &quot;hello&quot; to my new best friend that always helps me forget. “Maybe
              I could invent some magical pill that would help people forget. I bet that would sell well” I slurred the
              words, arguing with the ads on the television for some time. Then it all went dark.
            </p>

            <p>“Eric, Eric, come on, wake up, please, Eric!”</p>

            <p>
              “What? What? What? Jesus Christ, why do you have to be so loud all the time”, my head hurt bad. “Fuck!”
              Alice was right. I really had to stop drinking. I felt sick in my stomach. Somehow I managed to get up and
              waddle to the toilet, falling down, dry heaving mostly without anything coming out. “Oh god! Alice, I
              promise I am done drinking. This is terrible. Fuck!” Again I dry heaved into the toilet.
            </p>

            <p>“Where were you yesterday, Eric? I was worried sick.”</p>

            <p>“Yesterday was a bad day for me, Alice. I was in court, then my car died and then, you know.”</p>

            <p>
              “No! That was a day before yesterday. Your office called yesterday morning, worried because you didn’t
              show up”. That sobered me quickly, still feeling queazy. I got up to the sink, washing my face with cold
              water, trying to get a sense of things. I couldn’t believe that I got so drunk to sleep through a day and
              two nights. I rubbed my shorts, smelling my hand after; it smelled of stale urine. I pissed myself during
              sleep; It was disgusting.
            </p>

            <p>
              “I’m sorry, Alice, I really need to take a shower. Can you please make me some coffee?” She walked out
              indignantly with a snort while I got into the tub. I couldn’t stand up from spinning in my head, so I just
              switched on the cold water, feeling it work its magic on my skin. I usually hate it, but at that moment,
              it felt great. I could feel my mind returning, then I dry heaved again.
            </p>

            <p>
              Thirty minutes later, Alice helped me to my kitchen. Wrapped in a towel, I sat drinking sweet, bitter
              nectar, restoring me back into the world of the living. “Alice, I am sorry. I know I promised to stop
              drinking, and I was good for all this time. I swear to you I will not drink again.”
            </p>

            <p>“Ok, Eric, I believe you, but what about drugs?”</p>

            <p>
              “What drugs?” I asked in bewilderment. As fucked up as I was, at least I never had the slightest
              inclination of taking drugs. Alice looked at me suspiciously, without words lifting her hand with a
              syringe and needle, putting it on the table. “Those drugs. I found you with this in your arm. I thought
              you overdosed and were dead.” She burst into tears, covering her eyes with her hands. A horrible sense of
              panic went over me. I recognized the syringe; I had plenty. I often used them for work. I just didn’t know
              what was inside. Like in a dream, I walked to the fridge, pulling out the old Slurpee cup; it was empty.
            </p>

            <p>
              I felt goosebumps all over my body. The sudden realization of what I did hit me. I couldn’t remember
              anything, but it wasn’t hard to work it out. I was drunk, depressed and suicidal without a gun. Combining
              that with a curiosity of whether what was in that vial would work on humans and one could easily connect
              the dots to a syringe. “What do I have to lose?” would be my go-to thinking in a self-loathing drunken
              stupor. Now I was scared, really scared, terrified. This wasn’t some hypothetical sitting with a gun,
              feeling sorry for yourself thing. I actually did that! There was no telling what was in that vial. I was
              surprised it didn’t do anything, but that wasn’t exactly true; it did something. I was out for a whole day
              and couldn&#39;t remember a thing.
            </p>

            <p>
              I couldn’t tell Alice the truth. That’s how you learn that the crime doesn’t pay. I couldn’t go to the
              doctor. I couldn’t do anything but ride it out and hope for the best. As soon as I admitted what I did, it
              was federal penitentiary for me on more counts than I could think. Returning to the kitchen, I sat next to
              Alice, holding her hand in mine. “Alice, I am so sorry. I swear to you that I will change. I want to get
              better, and I want to get your trust back. Please tell me what I need to do, and I will do it.”
            </p>

            <p>“I want you to stop drinking and taking drugs.”</p>

            <p>“Done! I swear.”</p>

            <p>“I also want you to go to a psychiatrist and get treatment.”</p>

            <p>“I will, I promise, for real this time.”</p>

            <p>
              “I want you to get to a support group and deal with your alcohol and drug problem. Can you promise me
              that?” I hugged her tight “I promise, I will do all that you want. I swear to you with my life”, she
              looked at me with a smile and said, “I also want you to clean yourself up. You can’t live like this
              anymore, it’s been enough”. We hugged for a long time. I promised everything to her again. I could have
              died last night, and it scared me to the core.
            </p>

            <p>
              My head still spun, and I felt sick, but slowly hunger overwhelmed me, and Alice got out to buy me
              something to eat. I wanted meat; I craved it for some reason. I wanted to eat beef. I called my office,
              telling them I was sick and won’t be back to work for a few days until I get better. Alice returned with
              five pounds of steak and a bag of fruits and veggies. She cleaned out my fridge while I pan-fried it.
            </p>

            <p>
              “This is so good”, I mumbled with my mouth full like we used to do when we were kids. She giggled,
              nodding, chewing her piece with a big smile on her face. Close calls with death certainly make one hungry,
              I thought, devouring a pound of steak in one go. Alice laughed at me when I told her I was still hungry.
              While she ate hers, I fried another two pounds, serving them on a big plate for us to share. I ended up
              eating both, plus finishing the leftovers from Alice’s plate. “Where do you put it all?” She asked,
              laughing. I couldn’t believe how much I ate either. I guess after sleeping for almost two days, I was
              starving.
            </p>

            <p>
              As soon as I started to eat, my head stopped spinning, and my vision cleared. I guessed I had a massive
              case of hypoglycaemia, except that I didn’t eat a gram of carbs for it to go away. I was a little scared
              that I would vomit after binging on food, but nothing happened. I didn’t feel bloated. If anything, I
              could have some more. For a moment, I thought it was related to the chemicals injected, but how could it?
              According to the documents I read, my hunger was asymptomatic, which meant it had nothing to do with any
              of that. Maybe I was just hungry.
            </p>

            <p>
              Whatever was in that vial didn’t work. It could have been a million reasons why. Maybe it was spoiled,
              maybe I kept it outside of the fridge for too long, maybe the Slurpee was too cold, maybe it was too old,
              maybe it didn’t work on humans after all, or maybe it just didn’t work, period. I was happy it didn’t
              work. I don’t know what I was thinking. The best thing to do was to destroy everything and forget it ever
              happened. It did work, however, in that one thing. It gave me a scare of a lifetime, and, frankly, I
              needed it. I was such a spoiled asshole, blaming everyone for my life; when it was all me, I fucked it all
              up on my own. I was a selfish, pompous prick, self-loathing and feeling sorry for myself. Slowly but
              surely, I managed to alienate all my family and friends. I don’t even remember what the last time anyone
              called me or sent me a text was. Nobody wanted me near them. I did all of that by myself.
            </p>

            <p>
              Alice felt sleepy after overeating. She wished to stay but had to go. Her husband despised me with a
              passion, and I couldn’t blame him for that. I got drunk once and called him a cunt. We almost ended in a
              fistfight. He didn’t mince his words either, calling me a pathetic loser, nobody, a bottom-feeding waste
              of protoplasm. I guess he was right in the end. It hurt me a lot then, but the truth always hurts. I just
              wasn’t ready to hear it back then.
            </p>

            <p>
              I escorted Alice to her car, thanking her for loving me and hugged her goodbye, promising to keep in touch
              about how I was doing more often. When she drove off, I went back to the store and bought the rest of the
              wonderful steak they had on display, some ten pounds of it.
            </p>

            <p>
              Something was clearly going on with me. I hoped that it was just the long sleep or hunger and not the
              weird yellow goo I injected into me. I had no idea whether I even did that or if I did, how much. Did I
              use it all? Whatever was going on with me, I was full of energy. It must have been four pounds of steak I
              ate for dinner. As I got home, I almost fell sick from the smell. It reeked of filth and decay. “I am such
              a filthy pig. No wonder I don’t have any friends”, I said loudly. Determined to make a change, I pulled
              out bin bags and started throwing things inside them. Anything I didn’t need was going away. Two hours
              later, the apartment started looking empty. I made six trips to throw the trash. My old magazines, music
              collection, old vanity books I didn’t read, old kitchenware, everything that looked or smelled bad was
              getting out.
            </p>

            <p>
              I got carried away a little after the first six bags and started throwing out drapes, furniture and
              similar stuff. The more I threw away, the better I felt. I was surprised how nice the place looked without
              a decade of accumulated shit inside. I finally lost it when I lay on the bed. It stank rancid of my sweat.
              I couldn’t breathe. Opening the windows, I laid on a sofa, wrapped in clean sheets and fell asleep.
            </p>

            <p>
              I woke up dizzy again the following morning, with only a mild headache this time. I must have stayed in a
              cold shower for at least an hour, enjoying the effect that cold water had on my skin. I heard the phone
              buzz, and I ran outside. It was Alice, checking on me. I told her I was fine. She couldn’t talk for long,
              and neither could I, so we said our love yous and goodbyes.
            </p>

            <p>
              My places smelled a little better but still like shit. I couldn’t figure out how I didn’t notice it
              before. Certainly, Alice did, and that’s why she always complained but always politely, trying to not tell
              me what a filthy animal I was. I wasn’t exactly poor, but I was a hoarder and horrible miser. I owned my
              apartment outright, there was no mortgage to pay, and my job with the police department paid a reasonable
              wage. I just never saw the point in buying expensive things, always looking for bargains and second-hand
              stuff. I was a compulsive saver, shopping with discount coupons and hoarding cash, and for what? I almost
              lost my life the other day, which just demonstrated the futility of that thinking.
            </p>

            <p>
              After many years of such bohemian life, my bank account looked healthy, plus I had the bulk of the
              inheritance from my grandmother. She left me a large house in Hollywood Hills, which I’ve been renting out
              for years, dropping money into my savings every month. I wasn’t joking when I promised Alice that I wanted
              to change my life. I could have died that day. My self-destructive behaviour reached a critical point, and
              I had to make a change.
            </p>

            <p>
              Feeling ravenous, I fried two pounds of steak for breakfast, topped with a couple of eggs. I craved beef
              like crazy, medium-well done, with just a bit of salt and pepper, a salad on the side, washing it down
              with coffee, that hit the spot. When dressing up, I checked my clothes, and they all looked drab, worn and
              stank. That did it for me. I put on the newest jeans I had, some three years old, a t-shirt, and shoes.
              Taking my wallet, I walked for a few miles before hitting a large department store.
            </p>

            <p>
              Pushing a large trolley, I raided the clothing store buying fifteen of each type of item, so I had enough
              to last me two weeks and run the washing machine only twice a month. I wore one set of clothes on me right
              away, telling the salespeople to throw my old ones into the trash. Continuing to a furniture store, I
              admired a few rooms made for the show. A salesperson came up to me, asking if I was looking for anything
              specific. I told her I have a three-bedroom apartment that needs complete refurbishing. She introduced me
              to the interior designer. I gave her my address to come in the late afternoon, measure and visualize it
              and prepare a proposal. She also promised to bring all the stuff I bought with the company van, so I don’t
              have to carry all of it in a cab.
            </p>

            <p>
              I felt motivated to finally do something for myself. I was aware it was just a beginning of a long road
              ahead, but I really wanted to make a change. That near-death close call scared me. I didn’t want to die. I
              just thrived on the drama that almost got me killed. The next stop was a barber. I had to change my look.
              I had them give me a clean shave, completely removing my beard and doing a nice haircut. I had good strong
              hair that I never really cared about it much. I’d usually comb it to the side, so it doesn’t bother me,
              and that was enough. Not anymore. I looked at the mirror when the barber was done, unable to even
              recognize myself. A man in reflection was actually handsome, with a strong masculine face, a square jaw,
              piercing blue eyes, perfect nose and strong lips, all of that framed by dark hair in matching, modern
              style.
            </p>

            <p>
              I haven’t seen myself in the mirror looking like that since I was a student. But back then, I was a kid.
              The mirror reflected a grown, masculine man. I thought it would be fun to grow a beard in my twenties and
              save on razors and the daily hassle of shaving. I was so impressed with the result that I tipped the
              barber well, something I seldom did. Pleased with my looks, I crossed over to a shop specializing in men’s
              suits. I had no idea what looked good since I hated them. I hated so many things for so long, I didn’t
              even know what I liked. I spoke with a kind old owner, a tailor by trade, telling him that I want to look
              good but I had no clue what to wear. He dismissed the salesgirl and took care of me himself. I ended up
              buying two suits for a fair price and ordering three more to be tailored for me.
            </p>

            <p>
              The owner liked my transformation so much that he called his friends in shirt and shoe shops, sending me
              there next. I got a great deal on shirts. They were modern and straightforward, working well with the
              suits. I got a dozen of those, and they threw in a few ties that worked perfectly with each combination. I
              got six pairs of fabulous shoes in the next shop, completing the ensemble. The result was staggering, the
              transformation complete. I couldn’t stop admiring myself in a mirror reflecting a great looking
              six-foot-one guy with a good body and posture and attractive masculine face well dressed and groomed,
              looking attractive, modern and stylish.
            </p>

            <p>
              “Wow!” I said, shocked by the complete transformation. I hated suits with a passion all my life, and it
              turned out I was rocking them. All I needed was someone to dress me up, rather than picking up the
              cheapest thing I could find that technically qualified as a suit but was little more than an ill-fitting,
              cheap rag.
            </p>

            <p>
              They say that a suit doesn’t make a man, but it did make me feel good, even attractive, and for the first
              time in a long time, I started to feel a sense of self-respect. I even noticed a few girls giving me a
              look, sizing me up, which was another first in a long time. I was smart, even brilliant, but I wasted my
              brains on hypothetical stuff and wallowing in self-pity. Apparently, I was handsome too. One would say I
              had the whole package, and I just wasted a decade of my life feeling sorry for myself. Suddenly my
              parents&#39; comments and their deep disappointment started to make so much sense. I had so much to offer,
              yet I pissed it all down the drain in some misbegotten adventure I called my life.
            </p>

            <p>
              I remembered clearly when it all started. It was a classic story of love and betrayal. I had a girl that I
              loved, and she cheated on me, breaking my heart. Looking back, I realized it was all my fault too. I was a
              shitty boyfriend, focused only on myself, an egotist with a narcissistic personality. Cheating on me was
              my comeuppance. Naturally, I preferred denial, but I decided to be honest with myself after my close call
              with mortality. I was bitter and toxic, and I fucked everything up. Now I was determined to make it the
              thing of the past.
            </p>

            <p>
              I felt a bit peckish, so I went to a restaurant, treating myself to a nice juicy steak served by a cute
              waitress with a smile. On my way home, I spotted a new fancy gym with big glass windows and people on
              elliptical trainers working out. Deciding to pay them a visit, I checked them out. It was all nice and
              modern inside. They were well equipped with lots of classes and primarily female membership. I figured out
              quickly why it was the case. The girls had a special discount of seventy per cent off the membership
              price, and they got a month free trial as opposed to the guys who had a trial day, full membership kicking
              off after that. The monthly fee was pretty steep for a gym, but I felt good about my change and took it
              up. It was in short walking distance from my place, and that was a deciding factor.
            </p>

            <p>
              I signed the papers, paid my dues and strolled out to a sporting goods store nearby where I got my gym
              clothes, shoes, and stuff before returning to my home. Now that I knew I was getting an interior decorator
              to visit, I was motivated to throw away even more stuff. A couple of hours later, I managed to throw away
              a whole load of old things, completely emptying a spare bedroom, a cloakroom, as well as a lot of other
              furniture.
            </p>

            <p>
              Surprised at how much energy I’ve got, I worked up a bit of an appetite and panfried two pounds of steak,
              just like for breakfast, loving the taste. As I eat, I thought about how I was glad to have joined the
              gym. I carried furniture down for two hours without breaking a sweat, which made me think I wasn’t in such
              a bad shape after all.
            </p>

            <p>
              Still having plenty of time, I did some internet research, finding an addict-anonymous group nearby. They
              had a meeting tonight, so I took the address, intent on keeping my promise to Alice but more to myself. My
              work provided me with a free psychiatrist, so I resolved to take up that. Many cops were mentally damaged
              from seeing all the nasty shit every day and being shot at. I guessed it was just my turn.
            </p>

            <p>
              The bell rang around five, and I let the interior designer in with another guy. I saw her wrinkle her nose
              as she got inside. Yeah, I know, it stank here. I led her from room to room, telling her I wanted a lovely
              modern home. She had free hands to do what she thought best. She suggested ripping out carpets, putting
              laminate flooring doing full refurbish and repaint before bringing the furniture with a clean, minimalist
              design to capitalize on the light getting through the big windows, which were the best feature of the
              place.
            </p>

            <p>
              I told her that I lived here and that the work would have to be done around that. She said it was not a
              problem. Since I already cleared out the spare room, they could start there, then I could sleep inside
              while the rest was being done. I told her it was urgent, and she smiled. With a smell like this, she knew
              that from the moment she stepped inside. She spoke with the contractor, confirming that someone can come
              in the morning to rip everything out of the spare room, repaint it and put the laminate in. It was a
              simple procedure that would take only a few hours. She promised to have my brand new spare bed in by
              evening with mattress, pillows and covers all done before the time I was ready to go to sleep. We shook on
              it, I signed the work order on her tablet, and she said goodbye, glad to get away from my place.
            </p>

            <p>
              At eight, I found myself in a community building, finding a large room with a podium and a group of
              chairs. I was surprised to see the types of people that came in. Watching the movies, I expected a bunch
              of old druggies in their late fifties at the end of the rope, but it was a younger crowd, mostly women as
              young as eighteen. I was one of the few men there and one of the oldest ones too. Everyone went in a
              circle, telling their stories, alcohol, drugs, sex, violence. They talked about struggles with their
              addictions and how it was ruining their life.
            </p>

            <p>
              I involuntarily chuckled when a young girl spoke of her sex addiction, thinking to myself how I wished to
              have one. I couldn’t even remember when was the last time I had sex. If anything, I was addicted to
              internet porn. Being addicted to sex with a live person, especially at her age, was a nice problem to
              have. She clearly didn’t think so. Hearing my chuckle, she gave me an angry look, and I apologized.
            </p>

            <p>
              When it was my turn, I didn’t know what to say “hello, my name is Eric. I am an addict. I am addicted to
              misery and ruining my own life”. That’s when I heard the girl chuckle at me; it was fair enough. I
              realized that I laughed at her addiction, while mine sounded ten times more stupid than hers. “Couple of
              days ago, I almost died. I downed a bottle of jack and injected myself with unknown chemicals, causing
              memory loss. I might have injected myself with something different, and I wouldn’t be here today”, nobody
              chuckled anymore. This stopped being funny very quickly. Most of the people there have had an experience
              like that, which made me realize we all had something in common. “I promised my sister who found me passed
              out after my office called her, that I will get help and join a group. More importantly, I am here for
              myself. What happened got me scared, and I want to stop. I am afraid that if I was alone, I might do
              something stupid again. I have no friends I could count on. I ruined all my relationships with people, so
              I am here to find help”.
            </p>

            <p>
              Everyone clapped; I could see a few teary eyes. Apparently, what I said wasn’t all that unique. Most of
              them could identify with at least some of what I said. They usually waited for a few sessions to ensure a
              person was committed before assigning a sponsor, but my story either inspired or frightened them enough to
              suggest having one. Immediately the sex addict girl raised her hand, possibly feeling that we somehow
              connected, chuckling at each other’s problems. “This was going to be interesting”, I thought, accepting
              her offer, suicidal narcissistic that avoided sex, and a girl who couldn’t get enough of it. We were a
              dream team.
            </p>

            <p>
              After the obligatory prayers that made me, as a non-believer, feel like a fraud, Lexi, the sex addict
              girl, my new sponsor, and I made our way to a cosy little cafe in the area to get to know each other. I
              told her about my history and my life. “Wow! You must be really smart, with two doctorates.”
            </p>

            <p>“I doubt that. If I was smart, I wouldn’t turn my life into this mess.”</p>

            <p>
              “You think your life is a mess?” She said, chuckling, “I barely finished high school. I ran away to
              Hollywood on the day I turned eighteen. I was going to be a big movie star. That’s stupid. I’ve been
              tending bars and doing porn for the last two years just to pay the rent. I don’t have a car and eat at
              work, the little leftover money I have, I spend on clothes and makeup trying to land some normal role in
              my spare time. I wanted to call it quits and go back home. My family is from Omaha, and they found out
              about my porn. They don’t want me back, they disowned me, called me a whore, which technically is true as
              people pay to fuck me, and now I’m stuck. Can’t go forward or back. See, Eric, that’s what it means to be
              stupid. You have a career and respectable job, while my career prospect is to find an old man who enjoys
              fucking me so much that he marries me and leaves me some cash after he gets tired of me to support a child
              he pumped into me. This is what it means to be stupid”, Lexi blurted it all out, her eyes tearing up.
            </p>

            <p>
              I didn’t know what to say. There was little to be said after that. For the first time in a while, I felt
              sorry for someone other than myself. Lexy was right. All of us think of our problems, convinced we’ve got
              it worse. It was sobering to have a real conversation with someone new. Despite her claim of stupidity, I
              found Lexi quite clever. She had this childish innocent way of looking at the world. She just turned
              twenty, celebrating it with her roommate with a little candle on a cupcake. That was all they could
              afford. Lexi was artistic, a dreamer who didn’t have a rotten bone in her body. She adored animals and was
              always ready to help everyone, even those more fortunate than herself. Present company included. The only
              flaw I could find with Lexi was her relentless naivety, not that one expects more wisdom from someone who
              was practically a teenager.
            </p>

            <p>
              We got to talking, switching subjects, vibing. It felt like a date, more than a conference with a sponsor.
              Then again, what did I know about that? I thought people seeking help were old and ruined with drugs. I
              had some terrible preconceptions about life. The waitress approached us with a bill, telling us they were
              closing. I saw a nervous look on Lexi’s face and paid, saying, “it’s my treat”. She visibly relaxed after
              that.
            </p>

            <p>
              We walked arm in arm to the bus station so she could get home, but it was a long wait since the night bus
              schedule already began. I said I would wait, but she insisted that I don’t need to bother; she would be
              fine.
            </p>

            <p>
              “You can crash at my place. I live just around the corner, a block down from here”. She gave me a hurt
              look, laced with disappointment. It made me raise my hands up defensively, “just as a friend, I’ve got a
              spare room and a couch. You’re free to pick what you like”.
            </p>

            <p>
              “You are sweet, Eric, but you don’t have to say that. I’m a sure thing”, she said with self-loathing. I
              felt her deep hurt and hugged her. “I meant what I said, come with me, I’ll make us some food, we can
              watch a movie, then you can sleep. I have to warn you though, my house is a real mess, and it smells bad.
              There is a reason why I am in therapy”.
            </p>

            <p>
              She studied me carefully, trying to judge my intent, then shrugged, making a decision, saying, “ok, let’s
              go”. I noticed she didn’t wrinkle her nose as we got in, making me wonder what kind of dump she lived in.
              She said she wasn’t hungry, but I was famished, so I fried two pounds of steak with eggs and made a salad.
              I called her a liar when I saw her devour the whole plate. She gave me a shy, guilty look, stuffing her
              face with food. She even licked the plate.
            </p>

            <p>
              I cut up fruits into a big bowl, making a large fruit salad to share. In bizarre fascination, I watched
              her eat it all, tipping it over, drinking the juices from the bottom when she was done. We watched an
              episode of south park from my cushy three-seater sofa, my arm around her. She snuggled against me, not
              saying anything about our intimate contact.
            </p>

            <p>
              “I am a sure thing”, her words echoed in my mind. She meant I could fuck her just for the asking. That
              wasn’t even remotely tempting to me. There was nothing sexy about a girl so broken that she’d fuck anyone
              for any reason. What does that say about men who take advantage of those situations? I knew I was an
              asshole of the first order, a loser of the worst kind, but I was in therapy. I wanted to get better. Even
              at my worst, I wouldn’t stoop to that.
            </p>

            <p>
              She chose the sofa, so I excused myself and took a shower, then headed to the guest room wearing my pyjama
              after handing her clean sheets and pillow together with towel and quilt. “Good night Lexi, have a good
              rest”, I called from the door, and she gave me a shy “good night in return”. I heard the shower going on,
              then I closed my eyes falling asleep.
            </p>

            <p>
              I woke up suddenly at night, feeling a warm naked body snuggling under my sheets. Lexi pushed her back
              right against my chest, her ass tight against my crotch. I hugged her with my arm, and she wiggled,
              finding an even tighter fit after a few seconds ending in an ideal spooning position. She moved my hand to
              her breast, and I couldn’t help but give it a little squeeze. They were perfect c-cups, soft and firm,
              with perky disposition and long protruding puffy nips.
            </p>

            <p>
              Trying to avoid getting aroused, I moved my hand away, entwining it with hers instead. She held my hand
              with both hands. I could feel how warm they were, then I dozed off a bit. The next time I woke up, I felt
              her sucking on my finger. Her hips were slowly gyrating, her mouth breathing heavily. She was
              masturbating. I was fascinated with what was happening, focusing on suppressing my erection and not
              turning a full rapist on her.
            </p>

            <p>
              I watched her cum. She even bit my finger, then she calmed down, and I dozed off to sleep again. The next
              time I woke up, I felt a shiver. After a few moments, I felt something wet on my hand; she was crying. She
              held my hands with both of hers, kissing them, crying. Her little sobs translated into shakes, which woke
              me up. I pulled her hand, turning her around so her chest faced mine. I kissed her lips on autopilot and
              said, “it is fine, everything will be fine”.
            </p>

            <p>
              She hugged me so tight that it was hard to breathe, wrapping her limbs around mine like a constrictor
              snake, trying to experience as much of human touch as possible. She burst into full tears, cries and sobs.
              I held her tight, stroking her long wavy, beautiful soft hair, kissing her tears away. Whatever I did
              seemed to have the opposite effect from calming her down. She only cried harder, squeezing me tighter. She
              was falling apart in front of my eyes.
            </p>

            <p>
              I don’t remember when she calmed down as gradually we fell asleep together. The knocking on the door woke
              me up. I remembered the workers were to come first thing and sort out the room. Lexi was knocked out, fast
              asleep. I had no idea how much sleep she had the last night if any. Slowly I extricated myself from her
              grip, getting up. I had to hold myself against the wall for a few seconds to stop my head from spinning,
              feeling a little sick but none of the splitting headache from the days before, just slight discomfort in
              my stomach, as if something heavy sat in it. No wonder, how much red meat I ate over the last few days, I
              should be surprised that I wasn’t feeling worse.
            </p>

            <p>
              I turned around to check on Lexi before I got out. This was the first time I really saw her without makeup
              and in good light. She was beyond stunning. I caught myself staring at her with a gaping mouth, saucers
              for my eyes. Lexi lay naked on clean sheets. She was a tall girl, some five-foot-eight with an
              exceptionally narrow waist, I imagined, that I could almost put my fingers around it using both hands. Her
              breasts were gorgeous, perfect, milky white in teardrop shape, without a single sign of sag. Her hips
              flared in a sensual curve, leading to perfectly slim, long legs that never joined, in a thigh gap one
              often sees on runway models strutting their stuff. Nice slim arms, long feminine fingers, beautifully
              shaped small feet, it all looked just perfect to me but insignificant in comparison with her best feature.
            </p>

            <p>
              Her face took my breath away. Gone was the whorish makeup from last night, and all that was left was this
              face of an angel with perfect eyebrows and kissable lips. They were a little parted, and I could see the
              tips of her pearly white teeth. It made sense to me now that she came to Hollywood to be an actress. She
              looked stunning. The only reason why I could imagine her being rejected was that she was too
              unrealistically beautiful for a film. It would be hard for the audience to relate. She certainly didn’t
              belong in porn, especially in the kind of porn she did, the violent, painful, humiliating type of porn
              with ruthless, sadistic men getting off on destroying something beautiful. She started telling me about it
              last night, but I changed the subject.
            </p>

            <p>
              I had to chastise myself for thinking for a split second how I missed my chance to fuck her. She was more
              beautiful than any girl I’ve ever dated. I didn’t have to work hard to imagine why all guys wanted to fuck
              her. If not for desire, then for the bragging rights and the memory of having once slept with such a
              woman.
            </p>

            <p>
              When I joined the group last night, I thought she was going to be my sponsor, keep me stable, prevent me
              from losing my shit. It turned out she needed a sponsor more than me, and apparently, I was it. I didn’t
              want to use her, abuse her trust. I realized that she is my first and only friend in years. No matter how
              fucked up she was, I liked her a lot. Something inside her spoke to me on a level I didn’t understand
              myself.
            </p>

            <p>
              I closed the door to the room and let the guys into the apartment. They started bringing their stuff,
              telling me I’ve got an hour to get ready and disappear so they can get on with their work.
            </p>

            <p>
              “Whaaa, What?”, Lexi asked confused, as I gently shook her awake. “Hey sleepyhead, the workers are here,
              about to start. Go take a shower and get dressed. I’ll take you out for breakfast”. She smiled happily,
              stretching on the bed like a cat, the outline of her ribs showing, her perfect pussy opening a little,
              exposing her pink insides. “I made you look”, she said, giggling, watching me stare at her perfect little
              cave. “Of course I looked”, I said, blushing in my face, “if I didn’t, it would mean I was dead. You are
              the most beautiful girl I’ve ever met”.
            </p>

            <p>
              She jumped up in a squeal, ending in my arms, hanging off my neck in another quick jump. She smacked a big
              kiss on my lips and strutted out buck naked to the bathroom, leaving the workers flabbergasted by the
              shock of brazen display of nudity. They looked at me with full-blown jealousy in their eyes. I just
              shrugged and started getting ready to go out.
            </p>

            <p>
              Lexi just finished dressing up when I got out of the shower. “I made you look”, I said, catching her
              staring at my cock. It felt bigger and dangling today. I attributed it to sleeping entangled with a
              gorgeous naked girl. She giggled, making a face and showing me her tongue. “That’s not very mature”, I
              said before bursting into laughter.
            </p>

            <p>
              Standing in front of my wardrobe, trying to decide what to wear, I looked at a pile of new clothes that I
              didn’t even unpack, wondering what should I do with so many things. Lexi just waltzed in, took one look
              and pulled out a nice pinstripe suit with black shoes, socks, shirt and tie. “Put this on. It will look
              good on you”.
            </p>

            <p>
              I quickly dressed up and stood in front of the mirror, Lexi admiring her choice of clothes for me. I
              noticed a shadow passing over her face when she stood next to me. In her worn clothes, she looked trashy,
              certainly not on par with me. “Come on, monster, let’s eat”, I teased her, breaking her train of
              self-defeating thoughts. She punched me lightly in the shoulder for calling her monster, quickly wiggling
              her hand into mine, entwining our fingers, happily following me out.
            </p>

            <p>
              I knew a nice breakfast place just a block down from where I lived. “How are you not fat?” Lexi asked,
              giggling, watching me devour my second serving of lumberjack breakfast. I just shrugged, stuffing my face
              with pancakes soaked in maple syrup. Looking around, I noticed other guests giving us the bewildered
              looks. Some couldn’t believe how much I ate, the others were jealous, seeing me with a gorgeous girl
              almost half my age.
            </p>

            <p>
              Hand in hand, we walked around window shopping, commenting on the world around us. I led her to a mall,
              ending in a shop with fancy women’s clothes. “Have a go, take what you like”, I told her, remembering how
              she hated her clothes in the mirror earlier. “Really? No! Are you sure? Why?” she kept bombarding me with
              questions. I smiled “do it quickly before I change my mind”, slapping her butt gently to get her going.
            </p>

            <p>
              Lexi went through the store like a hurricane trying this and that, arguing with salespeople. She was
              having the day of her life. I smiled watching this, thinking how happy it made me feel to make someone
              else happy. She was worse than a bus of starving kids on a school trip to a candy store. I imagined how
              exasperating it must feel to work in a place like this.
            </p>

            <p>
              An hour later, what walked out was a vision of beauty. I could swear I felt my heart skip a beat. Lexi
              came out wearing high heels and a dress that could be called slutty if it didn’t look so expensive. It was
              pushing the limits of decency, and I didn’t care. She got a super sexy, matching yellow jacket on top that
              covered little, just invited more looks at her deep v-cut exposed cleavage, barely hiding her braless,
              bouncing breast. Lexi looked so incredible.
            </p>

            <p>
              I didn’t want to even look at the amount, lest I start questioning the decisions in my life. I just gave
              them my card, typing in a pin into a card machine, throwing away the receipt before I was tempted to look
              at it. Walking out together, I looked underdressed next to her. I’m sure I imagined it, but all eyes were
              glued on Lexi. She was the classiest and the sexiest girl in the mall. Her yellow jacket just screamed,
              “look at me, I am the shit”, drawing the attention of men, women, children and small animals passing by.
            </p>

            <p>
              Just walking around with her boosted my ego. It felt almost therapeutic. I wasn’t that loser, nobody slime
              anymore but a guy with an angel glued to his arm. It felt so good, I didn’t want it to stop, so I led her
              to a beauty salon and told them to do what they did best. They kicked me out, telling me to come back in a
              couple of hours when they were done. I walked around, venturing in a computer store, looking at all sorts
              of geeky gadgets nobody needs, then sat in a cafe, thinking about how my life has changed over the past
              few days. Just a few days ago, I was a desperate loser, injecting myself with god knows what kind of
              poison, not caring if I would live or die, and now I was a tall, dark and apparently handsome man if looks
              of the girls checking me out were something to go by. I had a gorgeous friend who made me start feeling
              like a man again. If it wasn’t for the growing stomachache, my life would be perfect. I called Alice and
              told her that I joined the support group, got a sponsor, and was in the process of cleaning my place up.
              She was so proud of me. I heard her yelp on the other side.
            </p>

            <p>
              I didn’t think Lexi could be more beautiful, but I was wrong. The beauty salon specialists were miracle
              workers. They fixed up her hair, painted the nails on her fingers and toes, and applied just a touch of
              makeup. My jaw must have been hanging for a while because they laughed at me staring. I paid without
              looking again. Lexi happily got out with me, hanging off my arm like a koala. Her smile was enchanting,
              her eyes sparkling like they contained all the stars of the universe inside them. Her lips were so
              beautiful, soft and inviting. Something in me was just drawn to them, and I kissed her. I didn’t mean to,
              but I did. Without any hesitation, she kissed me back, a real deep kiss, sensually exploring each
              other&#39;s tongues. It was our first kiss, my first kiss in so long I forgot how it felt. I was about to
              tell her that I was sorry, that I didn’t mean to, that it would never happen again, but I couldn’t. It
              would be a lie.
            </p>

            <p>
              We walked to the cosmetics aisle. I found the brand that I was told was famous with all makeup artists in
              the film industry. I showed Lexi to the consultant, explaining that I love her makeup and would buy
              everything she needed to reproduce it if they taught her how to apply it. It was good that we were at the
              makeup stand. I heard sniffling and saw Lexi burst into tears, ruining her makeup. “Why are you so good to
              me?”
            </p>

            <p>
              “Look what you’ve done now. You need to cry less if you want to keep your makeup on”. She hugged me,
              giving me a big kiss and sat down. I watched the two girls talk, trying on different stuff and patiently,
              the specialist explained how to apply everything. Once they were done, she removed it all, asking Lexi to
              do it herself from scratch, congratulating her on picking up the skill so quickly. Just as I thought, Lexi
              wasn’t stupid. Her brain was more wired for art than sciences. Nobody ever bothered noticing that before,
              and because she was so pretty, nobody even cared. They wanted her to fail so she’d be more desperate and
              easier to manipulate.
            </p>

            <p>
              “How much do you exercise?” Lexi asked, seeing me stuff a second steak in my mouth. “I just joined the
              gym”, I told her, trying to swallow a big potato. She shook her head, smiling, eating her grilled salmon.
              The shopping adventure took a long time. By the time we got out of the mall, I was hungry again, and so
              was she.
            </p>

            <p>
              I didn’t know if she had to go home. I didn’t ask, and she didn’t say anything, so after lunch, we went
              for a walk around town, stopping at a cafe for a cup of coffee and tiramisu, which was her favourite cake.
              Lexi chirped happily, talking about her life, carefully avoiding the nasty things. It was such a beautiful
              day. She didn’t want to spoil anything. I wasn’t sure if I ever had a better day than this in my life. It
              wasn’t a date, but it topped all the dates in my life put together.
            </p>

            <p>
              For some reason, Lexi couldn’t stop holding my hand. She constantly rubbed it subconsciously with her
              fingers. I thought she just craved physical touch. “I have a small gift for you but will give it to you
              only if you promise not to cry”, I told her, looking at her carefully. Her eyes already watering up, and
              she squeezed my hand tight before nodding rapidly. I just knew this was a fake promise, but I still wanted
              to give her a lovely Swarovski necklace with a little crystal teddy bear. I thought it was cute and fun,
              and it would look amazing on her very low cut dress, hanging just between her breast. There was just
              something missing there, and I thought teddy would look nice. As I thought, she burst into tears as soon
              as I gave her the little blue box and she opened it. I was surprised to notice that makeup didn’t
              instantly get ruined. I guess there was a difference between brands after all.
            </p>

            <p>
              She thanked me between sobs with a lovely kiss before making me attach it to her. I ordered more coffee
              and cake, and we stayed in a cafe talking. Something has changed after the gift. Lexi kept studying me
              with her big deep-blue sparkling eyes in a strange way, like she saw something or expecting something. It
              was getting late, and she didn’t make a single suggestion of going home, so I decided not to ask. Holding
              onto my arm with both her arms, she followed me back to the apartment.
            </p>

            <p>
              The workers already left when we got there. I was surprised at how much was done. The spare bedroom was
              finished, and It looked incredible, modern, stylish, perfectly decorated and furnished. I checked the
              drawers to find brand new pillows and linen. It was ready for living. Lexi was agog, staring at everything
              “it is so beautiful”, was all she managed to say, dropping on the soft bed, smelling brand new. There was
              a bit of fresh paint smell, but the windows were open; it was dissipating quickly. The master bedroom was
              stripped bare, floors ripped out. All the furniture from there was taken away, and the first coat of white
              paint was applied. Most of the living room furniture was gone as well, leaving just the sofa and the
              television set. The kitchen and bathroom were left untouched. I remembered them telling me it will take
              two days for them to do both because they had to deal with water and plumbing, and that was always a
              tricky thing.
            </p>

            <p>
              Lexi watched me with amusement as I grilled three pounds of steak, shaking her head in disbelief at how
              much I ate. I told her how I don’t usually eat that much, but I had such a strong craving for food for the
              last few days, especially beef. “It could be the fact that I had a near-death experience, and I’m just
              happy to be alive”. She didn’t want to eat much, having just a few tiny bites of steak, but she was happy
              to down another bowl of fruit salad while I polished the rest.
            </p>

            <p>
              When we finished eating, Lexi just sat there, looking with a question in her eyes. I shrugged, signalling
              to her to spit it out. She started slowly. I could see she was very nervous to ask and said, “hmm, Eric,
              am I your girlfriend now?” I was taken aback, so stupid not even thinking of it like that. I just had a
              wonderful day with my sponsor, and then everything changed. We spent the most beautiful day together,
              where I treated her like a girlfriend more than anything else. They say to call it as you see it, and it
              just all clicked together at the end of the day. Taking a deep breath, hoping this was true, I said, “I
              guess you are”.
            </p>

            <p>
              A beautiful smile appeared on her face. She looked like an innocent little girl again. Her glance changed
              to a serious, suspicious gaze “ok, but under one condition.”
            </p>

            <p>“What is it?”</p>

            <p>
              “You don’t cheat on me”. Before I could react, Lexi continued, “I know how men are, but if you want to
              fuck another girl, don’t cheat on me. Bring me in too.”
            </p>

            <p>“What do you mean?”</p>

            <p>
              “I like girls too. I am bisexual, and I like it, but I can only love one person. Please don’t break my
              heart, don’t cheat on me and leave me for another woman. Don&#39;t make me fall in love with you and throw
              me away for another”. And that’s how we went back to the psycho-girl that I first met. She was severely
              damaged inside. Someone took great effort to ruin her. I could say whatever now, plead that I was
              different, promise the world, and she would distrust me more. I had to work with her own frame of
              reference, so I answered, “ok, I agree, but only under one condition.”
            </p>

            <p>“What is it?”</p>

            <p>
              “You don’t cheat on me too. No other men, and no porn with the guys, but girls are ok if you involve me
              too”. I expected a few more rounds of negotiations, but she smiled, her eyes sparkling mischief and
              extended her arm, saying, “deal, I promise”. I took her hand, shaking it seriously, “I promise too”. We
              shook our hands with a firm grip; we understood each other.
            </p>

            <p>
              That was enough for Lexi. She jumped on top of me, kissing me all over like a maniac for a while, then she
              calmed down and sat in my lap. I switched on the television, finding a program we both liked. When I went
              to take a shower before sleep, out of nowhere, Lexi appeared, stark naked, jumping in the bathtub with me.
              “What are you doing?” I asked with surprise. “You are my boyfriend; I am washing you”. I’ve never had a
              shower with a girl. The only girl I ever had was an absolute prude. She would turn off the lights when we
              had sex. I don’t even remember seeing her fully naked.
            </p>

            <p>
              Apparently, I had no such problem with my new girlfriend. New girlfriend! It just hit me. I actually had a
              girlfriend. It wasn’t until that moment in the shower that it finally sank in. “Why are you laughing?”
              Lexy asked, rubbing soap over my chest. “I just realized that I actually have a girlfriend.” She looked at
              me like I was some lunatic, probably remembering that I, in fact, was. We looked at each other in
              surprise, then, in sync, burst into laughter. The gravity of what I told her just sank in for her too. We
              met in a support group for fucked up people, spent the night and the day talking and having fun, ending
              back at my place as a couple. For the whole day, neither had any negative thoughts, we had great fun
              together, and it just worked, it was special, no stress, no expectation it just happened. The whole
              relationship snuck up on us.
            </p>

            <p>
              We hugged and kissed under the shower, enjoying the intimacy. “Are. you finally going to fuck me?” Lexi
              asked out of the blue. I made a mental note to teach her she’s not a porn star anymore, so a more ladylike
              language should be used, but she had a point. I told her briefly about my past and that for a decade, I
              haven’t had any intimate relationships. I told her about my porn addiction and how it all started by being
              cuckolded by my ex, who made fun of my cock after the breakup. She told me how she cheated on me with a
              big black guy with a big cock because mine was too small to scratch her itch.
            </p>

            <p>
              Lexi listened patiently to my rant, how I felt insecure about my performance because she was an
              experienced porn star, used to big cocks, and my six-incher wasn’t going to please her. She looked at me
              in confusion like I was some sort of a cretin, possibly re-evaluating her willingness to be my girlfriend.
              Her hand stroke my cock, going up and down the shaft, finally lifting it in her hand and said, “this isn’t
              a six-inch cock”, failing to close her fingers around it.
            </p>

            <p>
              For the first time, I really looked at my dangling organ, and it looked impressive, at least nine inches
              flaccid and, judging by Lexi’s grip, thick like a can of coke. Below it hung a pair of matching testicles.
              They were huge, almost four times the size I remembered. I tried to figure out how did I miss it. I
              wondered where was my mind for the last ten years when I remembered the yellow liquid that I injected into
              myself. Suddenly all started to make sense. The pain I felt deep in my stomach was, in fact, pain in my
              balls; they were hurting. It also explained the excess energy, why I felt so good and ate so much. Meat,
              Protein, of course, it all clicked at once. Whatever was in that vial changed me on a genetic level, just
              like they adapted the mice. My body was adjusting to the change.
            </p>

            <p>
              The swirling panic in my head was abruptly interrupted when I felt Lexi’s tongue on my cock. She barely
              managed to push its bulbous head into her mouth, sucking it as hard as she could, rubbing it with her
              tongue. She tried to push it in her throat, but it was too fat; it wouldn’t get in. She ended up stroking
              it with both hands, sucking the tip like a lollipop.
            </p>

            <p>
              This was the most incredible feeling imaginable. I’ve never got a blowjob like that, or at least I can’t
              remember anything feeling this amazing. At one moment, she stopped. I watched her lay my cock on her
              forearm. It was almost as long and thicker than her wrist. She showed me by comparing the gap comparison
              when encircling it with her fingers. “This is the largest cock I’ve seen”, she said, looking at my organ
              in wonder, weighing my heavy balls.
            </p>

            <p>
              I finally got a glimpse of her sex addiction. I saw endless lust in her eyes; her nipples were fully
              extended. It didn’t take a genius to figure it out. Like it or not, insecurities, trauma and shit like
              that mattered little to Lexi. I was going to get fucked. There was no discussion.
            </p>

            <p>
              It was hard walking with an erection. I was trying not to fall as Lexi pulled me to the bedroom. She
              jumped on the bed, spreading her legs wide, pulling me on top of her. We started slow, kissing, exploring
              each other’s bodies. I loved the feel of her tits in my hands. She loved my kisses and when I nibbled on
              her ear, neck and nipples. Lexi really liked when I ate her pussy. I wasn’t an expert, but I read books
              and judging by her reaction, I was a good student. I lifted her clit hood, lapping her clit in a
              consistent movement and rhythm, and she went nuts. She moaned, panted, begged me to make her cum. Her
              pussy was so wet that it leaked all over the bed. Soon she contracted, trapping my head with her thighs
              moaning loud, her body shaking in an irregular pattern.
            </p>

            <p>
              A minute later, she calmed down and kissed me as I came up to her, playing with her bouncy breast; I loved
              that. “Wow! You know how to eat pussy. I came so hard”, she said. I saw respect in her eyes, which
              significantly boosted my ego. I was sure my tongue was unaffected by random DNA-altering chemicals. This
              was all hundred per cent farm-fresh me.
            </p>

            <p>
              My rock-hard cock rubbed against her steamy wet pussy as we kissed. I could feel her heat, not knowing
              really what to do with it. I was still getting to grips with my cock&#39;s size. I didn’t know how to use
              it. Lexi got hot again, moaning as we kissed. She guided my fingers to her nipples and squeezed them hard,
              crushing them underneath, moaning in pleasure. She was immensely turned on by that. On one of her pelvic
              moves, the angle was right in sync with my movement, and the very tip of my cock found the opening of her
              dripping wet pussy. She froze, moaning in my mouth, pulling me towards her. I pushed my cock a little, and
              her eyes flew open. A little more, and she gave me a loud “aaah”, feeling my cock head pop in, trying to
              get used to its size.
            </p>

            <p>
              In little in-out movements, I pushed my whole cock in until it bottomed out, resting against her cervix.
              Lexi was going nuts, having a small orgasm from that alone. “Fuck me! Please, fuck me! Come on, please
              fuck me hard”, she begged, trying to stir me into action. I didn’t need more encouragement than that. The
              only reason I stopped was because the feel of her pussy on my cock was divine. I never before felt
              anything so good. It seemed that the chemicals didn’t just adjust my cock size but the sensitivity as
              well. It felt indescribably amazing to have my cock buried in Lexi’s pussy to the hilt. I knew at that
              moment, I found my bliss.
            </p>

            <p>
              Slowly at first, then faster, I pumped into Lexi with all my strength enjoying every ripple of her
              incredibly tight vagina. I looked between my legs to see Lexi’s inner lips stretch out, gripping my cock
              like a vice as if trying to not let go, pull it right in where it belonged. In just a few minutes, Lexi
              had an orgasm, then another, moments later. She pulled my hand to her neck and squeezed. I got the message
              and squeezed harder. Lexi gurgled, moaning and wheezing, purple in her face, fighting for air. The whole
              thing was turning her on beyond belief. I squeezed her tit with another hand, puling on her nipple,
              crushing it with my finger, and she went nuts, instantly cumming one more time.
            </p>

            <p>
              Watching Lexi cum was incredible. She was gorgeous, in the throes of passion. All masks were gone, just
              her and raw emotions, and she was my girlfriend. This amazing, beautiful, sexy and crazy girl cumming on
              my cock was my girlfriend, my woman; she was mine. I couldn’t believe my luck. I was turned on beyond any
              measure. The feel of her pussy on my cock was indescribable, the best feeling in the world and on top of
              it, she was mine. She was almost fifteen years younger than me, in the absolute peak of her sexual prime
              and she decided to be mine.
            </p>

            <p>
              High in her twisting movement, sexual arousal and incredible, amazing body, I pumped her hard. It wasn’t
              about her anymore; it was about me. I was getting closer, feeling my orgasm approaching like thunder, and
              I wanted to cum. Her big eyes watched me as I brutally fucked her without regard for anything, taking my
              own pleasure, and she loved that feeling, to be taken by a man, her man.
            </p>

            <p>
              I felt my balls tighten, the orgasm approach, the feeling more intense than a burning sun came over me. I
              felt my muscles contract, cock expand and harden. The very moment I felt myself cum, I pushed my fat cock
              inside Lexi as hard as I could, ruthlessly stretching her cervix to its limits.
            </p>

            <p>
              I still remember the expression of surprise, giving its way to shock, turning into an incredible grimace
              on Lexi’s face when she felt my cock erupt deep inside her body. When the first drop of my sperm hit her,
              she screamed a terrible scream. I&#39;ve never heard a cry like that, and I saw some real nasty shit in my
              life. I listened to her bones clack and joints pop. She opened her eyes again, full of fear and shock. She
              didn’t know what was happening to her. Her body took over. Every single muscle contracted. She couldn’t
              breathe, turned purple in her face, then suddenly her muscles unlocked, and she gasped for air screaming
              again. She didn’t just shudder; she flapped, every muscle losing control. Her drool and snot coming out,
              tears in free flow, her pussy expelling squirt after squirt of hot piss. She looked at me with those big
              blue scared eyes, begging. As if trying to say something like, “please help me”. She went insane in one
              torturous non-stop orgasm, wave after wave of the most intense pleasure hitting every nerve of her body.
              Her mind, overwhelmed by the impulse, couldn’t process much more. She lost herself in her orgasm so strong
              that she became one with it. There was no Lexi, past or future, just the incredible orgasming creature
              writhing and flapping on the bed, in white-hot, blinding, endless now.
            </p>

            <p>
              When orgasm hit me, and I felt the first blast, I almost lost control of myself. It was the strongest and
              best orgasm I’ve ever had. I kept pumping Lexi’s pussy until I noticed the sperm was squirting out with
              each pump. I pulled my slimy cock out of her, finishing myself with a hand. But I wasn’t really finishing
              at all. Long thick high pressured blasts of hot sperm erupting out of my cock in an almost endless stream.
              It looked like I was pissing sperm. My whole body tensed in the longest orgasm of my life. I just kept
              pumping and pumping, connected to the deep feeling inside. The rich sperm deposit flew over Lexi, covering
              her whole body, glazing it with hot, slimy cum, and I kept going and going, unable to force myself to
              stop; it felt too good to stop. I don’t know how much time passed, but at one moment, I just couldn’t take
              it anymore. My muscles trembled, my body felt exhausted from the most incredible long orgasm in the world.
              As I stopped pumping my cock the blasts and squirts turned to leaks and drips.
            </p>

            <p>
              When I was finally finished, I looked at Lexi, shocked at what I’ve done. She was still bouncing and
              trembling, still screaming, moaning and gargling, covered head to toe with a thick layer of sperm. She
              looked like a glazed doughnut with a desperate look in her eyes, unable to stop flapping and squirming.
            </p>

            <p>
              It took me twenty minutes to get to my senses, all the way looking at Lexi on a bed in terrible, endless
              agony. I hypothesized that it was how Squeak worked. The psychoactive chemical fucked with the nervous
              system and the pleasure centres of the human brain, sending it to an incredible journey of the most
              intense endless orgasm experience in its life. Of course, what Squeak was, in fact, a diluted fraction of
              purified and processed sperm. At the levels I ejaculated, Lexi received so much it penetrated her
              bloodstream turning her insane. I couldn’t even imagine how her orgasm felt, but checking the clock, I
              figured she’s been dying in agony on the bed for the last hour, and there was no telling if or when it
              would stop. I suspected that as long as the sperm was inside her, not fully absorbed by her body, she
              would keep orgasming.
            </p>

            <p>
              The whole scene looked frightening, like from some alien hentai porn cartoon. The brand new bed was
              fucked. At least the covers and sheets were. They were completely drenched in sperm, just like someone
              took a hose to them. I had no idea of how much sperm I expelled, but there were at least a few good pints
              of it, I was sure.
            </p>

            <p>
              Lexi watched me exit the room in fear, her eyes begging me to stay, not to leave her like that, barely
              able to breathe. Her teeth clattered as she tried to say something, but her muscles wouldn&#39;t listen,
              then another wave hit her, the only thing that came out was “Ngnnnnn”, followed by a scream. I ran to the
              bathroom, clearing things out, turning the shower on, then got back to the room, wrapping Lexi in the
              sheets, ripping everything down, checking the mattress. Luckily nothing leaked through.
            </p>

            <p>
              The tight sheets around Lexi’s body prevented her from flapping like a fish. She only trembled in my arms,
              moaning and squealing, panting like a dog, shaking like being electrocuted. I carried her into the bath,
              lying with her in water, then carefully and gently soaped and washed her, cleaning her pussy inside,
              hosing the sperm out, hoping that it would help. She watched me in panic, seeing me care for her. She
              tried to say something but was rendered speechless with the constant assault of the never-ending orgasm. I
              was worried that at this intensity, she might suffer a stroke or mental damage. It was by far the most
              intense thing I&#39;ve ever witnessed or even read about. Surely her muscles at least will be extremely
              sore. They&#39;ve constantly been cramping for over two hours already. Carrying her back, trembling and
              screaming, was harder. She still flapped about, so I wrapped her tightly in a big fresh towel and carried
              her back. I managed to put the new linen working around Lexi, then after taking fresh quit and pillows, I
              lay in with her, forcefully wrapping my arms and legs around her in a tight grip, kissed her lips and held
              her like this. She kept bouncing and trembling for some four hours, in one horribly intense continuous
              orgasm, before she started to calm down and, while still shaking, out of sheer physical and mental
              exhaustion, she passed out.
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/gp/product/B096VYQJ1B'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3bfCiy4'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details?id=_TNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>
            </div>

            <br />
  
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
