---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='The Inheritance | Chapter 1 - Just a dream'
  description='The Inheritance novel by Rumpel Stiltskin'
  image='/images/the-inheritance.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <img src='/images/covers/inheritance.jpg' />
          <p class='emp grey'>THE INHERITANCE</p>
          <h1>Chapter 1 - Just a dream</h1>
          <div class='biggest'>
            <p>
              Nightmares started a few weeks after my eighteenth birthday with vividly disturbing dreams featuring
              people I have never met in bizarre situations. Sometimes I was them, and other times I was observing them.
            </p>

            <p>
              I woke with a start to another bright and sunny southern Californian day. Lazily stretching on my soft,
              lush bed, I looked around my pristine room filled with books and the latest gadgets.
            </p>

            <p>
              Sarah and Thomas Bailey, my parents they really spoiled me with gifts, care and attention. They were a
              typical example of a traditional all-American family with values instilled in them by their parents, my
              grandparents, who were still alive and well living not too far from us.
            </p>

            <p>
              The doors flew open without knocking, and like a hurricane, my younger sister Julie ran into the bedroom
              singing &quot;good morning&quot;, jumping on the bed next to me. As usual, she was full of energy, but
              today, she was extra excited as it was her 18th birthday.
            </p>

            <p>
              Julie was only two months younger than me, so obviously, she was not my biological sister. Still, because
              we are of such close age, our parents always said that we are twins even though we don&#39;t look similar
              at all.
            </p>

            <p>
              She made impressions everywhere she went with her petite 5&#39;5 frame with beautiful shiny black hair and
              piercing blue eyes. Our mother always took pride in Julie&#39;s looks and got her all the best
              high-fashion clothes. Julie had a narrow waist and sizeable d-cup breast giving her a figure of a perfect
              lingerie model with a very sensual face and lips that just invite kissing. No wonder mother signed her up
              to almost every pageant she could find since Julie turned five.
            </p>

            <p>
              Julie was one of the most beautiful girls in my school, and from a rich and powerful family, there was no
              end of potential suitors obsessing with her, but she only had eyes for me. For as long as I can remember,
              she was in love with me. Playing the part of twins, we spent a lot of time together. As we grew, our love
              started to change, and with a change to our hormones, that love became more physical in nature.
            </p>

            <p>
              I was Julie&#39;s biggest fan, and growing into a strong young adult sparked my sexual interest. There
              were other girls as well that I felt attracted to, but Julie was at the top of the list and not just
              because she was smoking hot. Having grown up together created a strong bond between us. As the hormones
              kicked in, Julie held a number one spot place of my masturbatory fantasies.
            </p>

            <p>
              Since I did a lot of sports which won me a lot of athletic trophies for the school, my body developed to a
              muscular five-ten frame. Not being one of the tallest guys in school but clearly the strongest, with my
              looks and the fame, there was no shortage of girls following me around. They made my life a living hell.
              Having resolved that I want Julie to be my first, I forced myself to avoid the other girls. This meant
              that I was always horny, so I busied myself with just about anything to try to get sex out of my mind.
            </p>

            <p>
              It is impossible to live in a house with attentive parents without them noticing the increased sexual
              interest between the two of us. Before we did something stupid, our parents sat us together and had
              &quot;the talk&quot; with us. They are both smart and accomplished people, worldly and well-travelled.
              This situation was something that they considered as a possibility back then when I was adopted. In
              principle, they didn&#39;t object to it as we were not genetically related. There were the rules, however.
            </p>

            <p>
              The main rule was that we could not have intercourse until we were both eighteen. This is the time we
              would become adults and can legally make decisions on our own. This also reduced any embarrassment to the
              family should that come out. We could, of course, hold hands, kiss and show affection to each other in
              many non-sexual ways but only in the privacy of our rooms and never in public. If we wanted to be together
              in public, we would have to move out and live on our own, elsewhere in some other town where we
              couldn&#39;t be recognised as brother and sister. The rest of the talk was the advice and encouragement.
              Given this unique situation, our parents thought it best for our family to stay whole. If we were careful,
              it was a win-win for all of us.
            </p>

            <p>
              Those were reasonable rules. Out of love and respect for our parents, if nothing else, Julie and I decided
              to follow them to the letter. It made it a little tricky in the school to show a level of indifference to
              each other, but since everyone thought we were twins, it all worked out without suspicion. After Julie
              turned down a few guys with an explanation that our family is ultra-religious and she is waiting to finish
              university before she gets married, word got around, and guys stopped approaching her; she was off-limits.
            </p>

            <p>
              Nobody teased Julie either as most of the guys feared me, her twin brother, school champion in wrestling
              with a black belt in Judo. One day a small gang of guys surrounded Julie in a corridor, touching her
              inappropriately. Her classmate Mary alerted me to it, so I ran up a flight of stairs and attacked them;
              they had no chance. The school camera system recorded everything, and the guys were expelled. My dad was
              always very protective of us. He made sure those guys&#39; families went bankrupt. He did not want any of
              that trash in our little town and have spread the word in a local business community. No company would do
              business with them lest they bring upon my father&#39;s wrath.
            </p>

            <p>
              That event sealed it for Julie. Not only was she in love with me, but I was also her protecting brother
              and a hero. She spent that night in my room hugging me tight, which made it very hard for me in more ways
              than one. By her small involuntary movements rubbing herself against me, I knew she shared the sentiment.
            </p>

            <p>
              Grandfather Bill inherited his company from his father, and my dad took on the rains when grandpa retired.
              The company was over a hundred years old now. It was one of the world&#39;s largest freight and logistics
              companies owning a few dozen container ships, hundreds of trucks even a couple of cargo planes. The
              company was also a military contractor responsible for supplying the troops outside of the standard army
              channels. For example, when US soldiers were deployed somewhere as NATO peacekeeping troops, the company
              would supply them with all non-military equipment, food and the like.
            </p>

            <p>
              My father met my mother through the company. When he was a teenager, he used to help grandpa with the
              office, he loved ships and trucks, so it was all great fun. At one of the company events where all VIPs
              were invited together with their families, his eyes were drawn to Sarah. She was the most beautiful girl
              he ever saw; it was love at first sight. Seeing that, my grandfather and his then friend and now my other
              grandfather played the matchmakers. My dad and mom were put together, and the liaison encouraged. Soon
              enough, they started dating, and two powerful families merged.
            </p>

            <p>
              My mother was the only child, raised as a princess born with a silver spoon, but she showed no interest in
              the business. Her father&#39;s company was even bigger than the logistic company. It owned ore mines and
              water rights all over the planet. Mostly they dug for precious metals, but the most money came from
              precious stones. The company owned many diamond mines in Africa alongside places like Russia. In contrast,
              most precious metals came from China.
            </p>

            <p>
              Since I was the only male child in a generation and I actually showed an aptitude for business and
              science, the hopes of the family were high for me to take up the reins of the company someday. The fact
              that Julie and I seemed to be heading to the altar made it all wrapped up in a neat little bow. Everyone
              was happy; there was a chance for the next generation of family leadership for the company.
            </p>

            <p>
              All this was about the legacy rather than money. Both companies were privately owned by my family, and
              nobody outside knew precisely how much money they made. It was a lot, much more than anyone could spend,
              but we lived reasonably, luxurious, not an opulent lifestyle.
            </p>

            <p>
              &quot;Happy birthday Julie,&quot; I said, kissing her lips, giving her a tickle. She giggled, climbed on
              top of me, hugging me tight, sharing small kisses; I hugged her back. She felt so soft, warm and sensual
              smelled beautiful after her morning shower. Feeling her up like that would give me a massive erection if I
              didn&#39;t already have my morning wood. We rolled like that in bed, cuddling for a few minutes before she
              playfully slapped my ass.
            </p>

            <p>
              &quot;Come on, get up, lazy boy, you&#39;ll miss breakfast&quot;, she said, getting up, dancing away from
              the room. Getting out of the bed, I quickly did my morning exercise activating all the major muscle
              groups, followed by a quick shower in my ensuite bathroom before dressing and coming downstairs for a
              family breakfast, which for our family was a regular, mandatory event.
            </p>

            <p>
              The usual chatter accompanied breakfast. Spending time with the family was always my favourite time of the
              day. The only thing missing from it feeling complete was Karen, my older sister. She was away at the
              university, eagerly expected this weekend for Julie&#39;s birthday party.
            </p>

            <p>
              After breakfast, we all sat in our respective cars and drove off. Julie and I left for school in separate
              cars as usual.
            </p>

            <p>
              It was Wednesday, and Julie had to wait for a few days till her party, but tonight we planned to go out
              and celebrate with our school friends. Julie loved mysticism; she had many books on the subject. Upon
              learning that a circus was in town, she kept bugging everyone to come with and visit the fortune teller,
              the famous lady Davina as the flier said. We all kept chuckling, rolling our eyes, playfully mocking her.
              Still, it was her birthday, and she was entitled to a wish, so, reluctantly, we agreed.
            </p>

            <p>
              Being seniors and ahead with our studies and exams, there was little to do at school. We used that
              opportunity to talk with our friends about what is next, who is going to university, who is staying, and
              how we will keep in touch. Julie and I planned to go to some far-away university, just didn&#39;t know
              where yet. Our grades were great, and our family money ensured that there will be a place for us wherever
              we decided to go. We tried to figure out where everyone else was going, to avoid those places lest someone
              recognises us. We wanted a fresh start as a young couple rather than brother and sister.
            </p>

            <p>
              After school, we all piled up in our cars. As a group of seniors, we headed up to the fairground. Most of
              the cheerleader squad was there, and so were my sports buddies, some of them dating the cheerleaders.
              Hence, it was like a big couples event. We goofed off with various games, and after taking a few rides and
              eating enough cotton candy, all of us headed up to have our fortune read.
            </p>

            <p>
              Lady Davina&#39;s gipsy trailer could take only one customer at a time. We queued up chatting and laughing
              as, one by one, everyone got in to have their fortune read. At twenty bucks a pop, it was a good bit of
              change for some quick work, if one could even call it that.
            </p>

            <p>
              As I got in, the candles fluttered; I looked around with great curiosity, never having seen anything like
              that. If I was going to entertain this charade, I might as well get my money&#39;s worth and play the
              game. Sitting down on a chair opposite the gipsy woman, our eyes met, and we stared at each other. A
              minute or so later, lady Davina asked to see my hands. She studied them for a while with what looked to me
              like intent with a hint of surprise. Letting go of my hands, she spread the tarot cards in front of me on
              the table, asking me to pick one. I did, and she turned it over. It was a card with a black cat. She
              sighed heavily, turned the card back, removing the deck.
            </p>

            <p>
              Turning around, she dug through her drawers, finding a dusty old wooden box. Inside it was a small package
              wrapped with brown cloth of some kind from which she took a single black candle, placing it on the table
              in front of me. She took my left hand, and before I could react, she pricked my finger with something
              sharp. With a sound of surprise, I jerked my hands away from her while signing to relax. Curiously, I
              watched what she does next. She wrote something on the black candle murmuring unintelligible with the pin
              she used to pierce my finger doing that.
            </p>

            <p>
              Placing a candle next to the other candles, she took a thin wooden stick, lit it on a nearby white candle
              and brought the fire to the black one. Instantly as the black candle lit, the other candle extinguished as
              if the fire was sucked inside before she turned to me.
            </p>

            <p>
              &quot;Listen now, this is very important; to get your fortune, you must be here at 1:13 tonight, not a
              minute later.&quot;
            </p>

            <p>&quot;What do you mean? I don&#39;t understand&quot;, I said, confused.</p>

            <p>
              &quot;You will get your answers tonight. Follow the cat&quot;, she said cryptically, getting up from her
              chair and shooing me out of her cabin.
            </p>

            <p>
              I left confused; whatever I expected to happen was not this. Naturally, I didn&#39;t believe any of that
              mumbo jumbo, it was a little too much theatrics for my taste, and on top of that, the old woman pricked
              me. I looked at my finger but couldn&#39;t find the wound. I touched around, but my finger felt undamaged
              as if I dreamed all this. Serves me right for playing those silly games. Putting it all out of my mind, I
              joined my friends laughing, we headed on to try the rides.
            </p>

            <p>
              By the time we got home, I had forgotten the whole fortune teller incident, just remembered having a good
              time with my friends. After taking a long shower, I just crashed on the bed, Julie following me. She was
              officially eighteen now, and we could make love, but we just limited ourselves to some passionate kissing
              and heavy petting. We both wanted our first time to be special, and since we waited for years, we could be
              patient for a little while longer. Hugging each other tightly, we drifted off to sleep.
            </p>

            <p>
              I sat at a wooden table in a rundown apartment eating cereal with several other people that I knew somehow
              but couldn&#39;t place. It was me, but it was not me. I looked and felt different. The furniture looked
              old, not just worn out but old style as if antique, except that it was not finely made. It was cheap and
              bolted together with rusty old nails. I heard meowing next to me, and a black cat looked at me
              expectantly. I gave it a small bowl, pouring some milk into it, placing it down next to my chair. Cat
              lapped it up as I ate, then rubbed itself against my legs, purring.
            </p>

            <p>
              Startled, I opened my eyes, groggily turning around while Julie hugged me, drifting back to sleep again.
            </p>

            <p>
              The whistling sound of a coming train filled the station. I sat on a brown wooden bench waiting for it,
              keeping a brown travel briefcase on my lap. Right next to me sat a black cat, watching the trains coming
              in and out. As if prompted by some higher intelligence, the cat jumped off, heading towards the train,
              looking back at me as if asking me to follow. Somehow, it knew that this was the train I was waiting for.
            </p>

            <p>
              I stirred in my sleep again, woke up, then, with a heavy sigh, turned again and drifted back to sleep.
            </p>

            <p>
              Tick-tock, tick-tock, the sound of a grandfather clock resonated in a small room. I sat on a carved chair
              looking at the antique clock, my eyes following the pendulum, tick-tock. The place was too quiet. There
              was no other sound apart from the hypnotic ticking. My eyes followed the faded golden round pendulum left,
              right, left, right as it ticked away. A meowing sound came out of nowhere, and I looked down. Next to the
              clock sat a black cat watching me intently as if waiting for me to do something. Tick-tock, the sound
              continued. Mesmerised by it, I felt sleepy. A single deep chime came in, filling the room with its
              reverberating sound, then the clock stopped. I looked at its face; it showed 1:13. Hearing another long
              meow, I saw the cat get up and start leaving; without thinking, I followed.
            </p>

            <p>
              I opened my eyes with a feeling of dread, looking around, heavily breathing, the memories of the day came
              rushing in. &quot;What just happened&quot; I muttered. It seemed to me that somehow my dreams mixed with
              yesterday&#39;s events, all so vividly. Laying on the bed, I played back the past such dreams, surprised
              to find that a black in all of them; I just never noticed it before.
            </p>

            <p>
              Distraught by the revelation, I got out of bed, making sure I do not disturb sleeping Julie and made it
              for the kitchen downstairs. I poured myself a glass of fresh orange juice and just sat there, trying to
              work everything out in my head. I got lost in my thoughts when I clearly heard a meow and jumped. I could
              swear I could see a black cat going out of the kitchen. Was I still dreaming, I wondered?
            </p>

            <p>
              What was it that woman said? I tried to remember 1:13 and not a minute later, but it was already too late.
              I could see it was quite bright outside. I checked the living room clock, and it was half-past midnight.
              Looking through the window, I saw no clouds and a full moon shining bright, stars illuminating the clear
              sky. At that moment, I felt as if I already decided and was just now realising it. Quickly I dressed,
              grabbing my car keys, got out and drove to the fairgrounds.
            </p>

            <p>
              The city was asleep, streetlamps illuminated the quiet alleys, mine was the only car outside. As I
              approached the fairgrounds, everything was pitch black except that one place, the fortune teller&#39;s
              trailer. As I parked up, opening the car door, I could swear I saw a black cat jump out of it, heading
              towards the cabin. Shaking my head, I made my way slowly. I knocked and opened the squeaky door. Seeing
              the black cat jump in, I followed.
            </p>

            <p>
              Opposite me was an old woman. Her long white hair flowed around her wrinkled face. She wore some old drab
              clothes. I thought she could easily be a hundred years old. I tried not to stare at her, seeing that she
              was almost blind. One eye was completely white with cataracts, while the other was still functional but
              barely. Behind her, the fortune teller emerged, asking me to sit down.
            </p>

            <p>
              &quot;My grandmother would like to have a cup of coffee with you&quot;, she said, bringing two cups and an
              ancient copper cezve emanating a strong smell of coffee. I have only read about Turkish coffee, and I must
              admit that as a coffee lover, it sparked my interest. I waited patiently until she poured it for both. We
              sat there quietly, sipping, looking at each other wordlessly. It was strong, far too strong. I could feel
              the little grains of ground coffee beans getting in between my teeth. As we finished, I observed the old
              woman taking her cup, reversing it on a plate, so the cup bottom was up; I mimicked her. The fortuneteller
              came in again, taking her grandmother&#39;s cup and giving her mine.
            </p>

            <p>
              The old woman murmured something to the fortune teller in a language that sounded familiar, but I
              couldn&#39;t place it. I was quite sure I have never heard it before. The old woman turned my cup again
              and, with her one good eye, peered inside murmuring to herself for a while, finally saying something to
              her granddaughter. The fortuneteller disappeared again and a few minutes later returned with a
              medium-sized box. Inside the box, wrapped in an old cloth, was an ornate silver combination box that
              required a puzzle to be solved to open. The old woman kept moving pieces until the box clicked. Removing
              the cloth wrapping inside was an old Russian nesting doll. Peering at the doll carefully, the old woman
              sang some old tune quietly, carefully moving the pieces in various directions like one would do to open a
              safe. Layer after layer peeled off until finally, the last layer contained yet another small cloth-wrapped
              object; it was an egg.
            </p>

            <p>
              Taking the egg in her hand and turning it towards the lights, she inspected it before tapping it gently
              against the table till it broke. Inside was a silver necklace with an ornate round locket. There were
              intricate small engravings on the locket, looking like some sort of writing in a script I never saw
              before.
            </p>

            <p>
              The old woman pulled out a needle and put it on the desk next to the locket, asking for my hand. I knew
              where this was going already, and I was not excited to get my finger pricked again, but I was too invested
              by this time. The whole situation was so bizarre that part of me wanted to see how much weirder it can
              get. The other part of me was starting to suspect that I was still sleeping and that this was just a
              dream; it all felt too surreal. I gave my hand to the old woman. Holding it firmly, she pierced my finger,
              squeezing one drop of my blood on the locket. Both women waited with an expecting expression on their
              faces as if to see if something was going to happen.
            </p>

            <p>
              My blood spread around the tiny grooves of the metal, and suddenly it snapped open. Both women jumped a
              little, looking at it in disbelief and awe; I thought I sensed some fear as well. Inside the locket was a
              round burgundy-coloured coin that looked like it was made of some sort of a gemstone. I have seen many
              precious stones in my grandfather&#39;s showroom, and this was unlike any of those.
            </p>

            <p>
              The old woman talked to her granddaughter, and she translated. She asked me to take the coin and examine
              it. As I took it in my hand, I could feel some vibration like electricity on my fingers. It was a pleasant
              feeling; I turned it around and scrutinised the coin. Both women looked pensive and unwilling to touch it.
              On one side, it had a head with a superimposed triangle and on the other side of it was a bolt of
              lightning.
            </p>

            <p>
              The woman explained that the coin is for me alone, and I must never show it to anyone and always keep it
              safe. Never under any circumstances should I let anyone else touch it. She explained that the locket was
              protected by ancient incantation in a language no longer spoken. Once closed, the locket will open only to
              the blood of its owner. It was designed to safeguard the coin. She continued to tell how the locket was in
              her family&#39;s possession since age immemorial, passed from mother to daughter for generations, and now
              it was mine. I could feel her relief at getting rid of it.
            </p>

            <p>
              &quot;You seem to be happy to get rid of it,&quot; I said. Both women looked at each other frightened,
              then the old woman spoke while her granddaughter translated.
            </p>

            <p>
              She told me a story that she heard from her mother. The same story was passed on for generations as the
              locket moved hands.
            </p>

            <p>
              Centuries ago, a blood promise was made to a god to safeguard the locket, but a woman&#39;s greed made her
              steal it and ran away, breaking the promise. As a result, the greatest of curses befall her bloodline,
              poisoning it for all eternity. It was decreed that the family must carry the locket in punishment until
              the owner reveals himself.
            </p>

            <p>
              The story tells how the locket will recognise its rightful owner by his blood. Only for him it will open,
              and if accepted, the ancient blood promise will be fulfilled, and the curse lifted.
            </p>

            <p>
              The women that stole the locket was once a high priestess. She read the front part of the incantation. The
              back of the locket contained the curse, so evil it can not even be spoken. Of all the things in the world,
              this locket is the one that could never be taken away from its owner, or unspeakable tragedy would befall
              the bloodline of the thief and destroy everything he touched.
            </p>

            <p>
              Centuries ago, the woman said her family lived off the land, raised the children, and lived happily.
              Still, since the curse, they were made to wander the earth as gipsies in search of redemption, all the
              children born to her bloodline were to be female, and so it was for many centuries. If they stopped in one
              place for a long time, the evil would start to spread, bringing terrible disaster, chaos and death. Only
              on a night like this could the curse be lifted during the full moon, right at the witching hour exactly in
              the middle of the night.
            </p>

            <p>
              For centuries they tried to break the curse by destroying the locket with terrible results. If they tried
              to burn it within a full moon&#39;s cycle, the person would be burned. If they were trying to break it,
              the person who tried it would be broken within the lunar month. If someone stole it, invariably within a
              lunar month, the thief would bring it back, begging for it to be returned. For her family, this locket
              meant only one thing, pain.
            </p>

            <p>
              I thought that this sounded too much like a fairy tale, but I was too caught in the events of the story
              and wanted to learn more.
            </p>

            <p>
              The old woman explained that she never saw the coin before and doesn&#39;t know its purpose. They only
              knew that translating the inscription from the ancient tongue, the name of the coin is &quot;the gift of
              Perun&quot;. Now that she saw it open in my hand for the first time, she thought it was some sort of a
              powerful amulet as it was made of a &quot;Godstone&quot;. The legend has it that only the children of God
              are allowed to touch the Godstone. Anyone else touching it would cause a terrible plague. It is believed
              that the black death was caused by someone touching the Godstone.
            </p>

            <p>
              With visible trepidation and pleading eyes, the old woman asked me if I accepted the gift. I thought to
              myself, what is the worst thing that can happen? Mostly in disbelief and very curious, I said
              &quot;yes&quot;.
            </p>

            <p>
              Both women relaxed with a big sigh. I could see the relief on both of their faces. She thanked me with
              visible gratitude, taking a gold coin with the shape of the sun off her necklace. She placed it on my
              hand, and murmured some blessing, then retrieving the burning black candle, which was almost completely
              melted, she put it on the desk.
            </p>

            <p>
              A black cat jumped next to the candle and meowed, looking into my eyes, then the old woman blew out the
              candle, and it was dark.
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/gp/product/B09885XJNX'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3tUuecx'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details?id=9zNxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>

              <!-- <a href='chapter-2-personal-power' class='retailer preview-button' style='margin-top: 10px'
                >Next chapter >></a
              > -->

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
     
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
