---
import Layout from '../../../layouts/Layout.astro';
import Navbar from '../../../components/Navbar.astro';
import Footer from '../../../components/Footer.astro';
import Subscribe from '../../../components/Subscribe.astro';
---

<Layout
  title='Rumpel Stiltskin | Woman Scorned'
  description='Woman Scorned novel by Rumpel Stiltskin'
  image='/images/woman-scorned.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <div class='big-cover'>
          <img src='/images/covers/woman-scorned.jpg' />
        </div>
        <div class='book-description'>
          <p class='emp grey'>BY RUMPEL STILTSKIN</p>
          <div class='book-title-container'>
            <div class='title'>Woman Scorned</div>
            <div>
              <a href='preview/chapter-1-a-woman-scorned' class='preview-button'>Preview</a>
            </div><br />
          </div>

          <div class='bigger'>
            <p>
              How far would you go to take revenge on your cheating boyfriend who broke your heart and ruined your life?
              Would you become a prostitute to hurt him, or would you destroy everything in his life that he held dear?
              Would you make him your slave or turn him gay? What if your plan was all of the above and more; turning
              him, cuckold, feminizing him and making him into a transvestite, then pimping him out to his friends.
            </p>
            <p>
              This is a demented dark fantasy of a girl losing her mind dead-set on a path of destroying her boyfriend's
              life. With the help of psychiatrists, a psychopath specialist, she hatches a terrible plan and returns to
              England, where she systematically takes away everything he holds dear, turning a man she once loved
              insane. Hell hath no fury like a woman scorned.
            </p>
            <p>
              The book contains graphic scenes of sex and a plethora of unconventional sexual practices ranging from
              BDSM, prostitution, humiliation, bimbofication to sex change. It contains straight, gay and lesbian scenes
              with groups of people and a wide range of fetishes.
            </p>
            <p>All characters in the book are of adult age, and all sex is consensual.</p>
            <p>
              The book is self-edited, and it may contain grammatical errors, which will be fixed in further editions.
            </p>

            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/gp/product/B095SYLND9'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details?id=CzRxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>

              <!-- <a href="" class="retailer preview-button" style="margin-top: 10px">Preview</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br /><br />
            <Subscribe />
            <!-- <div id='disqus_thread' class='disqus'></div> -->
            <br /><br />
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
