---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout title='Syssy Farm | Prologue' description='Sissy Farm novel by Rumpel Stiltskin' image='/images/sissy-farm.jpg'>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <img src='/images/covers/sissy-farm.jpg' class='big-cover-img' />
          <p class='emp grey'>SISSY FARM</p>
          <h1>Prologue</h1>
          <div class='biggest'>
            <p>*** COMING SOON ***</p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- <a href='chapter-1-murderous-intent' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 1 - Murderous intent >></a
              > -->
            </div>

            <br />
  
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
