---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout title='Ted | Chapter 1 - Oh, fuck it' description='Ted novel by Rumpel Stiltskin' image='/images/ted.jpg'>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <img src='/images/covers/ted.jpg' />
          <p class='emp grey'>TED</p>
          <h1>Chapter 1 - Oh, fuck it</h1>
          <div class='biggest'>
            <p>
              “Oh, fuck it!” I got up from the desk slamming the door behind me as I left the conference room. My
              colleagues, looking at me, were surprised at the sudden outburst of profanities. I bet most of them
              couldn’t even imagine I was capable of saying something like this. I could see the shock on their faces
              while some of them wondered what was going on. Did I get some sort of bad news on the phone? Was it a
              doctor giving me a diagnosis of some terminal illness? Perhaps a death in the family?
            </p>

            <p>
              They wouldn’t believe me if I told them. It was all and slow in coming, some thirty years in the making
              and apparently ripe. I joined the department right out of university; in fact, I didn’t finish yet. I was
              just twenty, a second-year student at Bristol University when I had to get a job as I couldn’t make ends
              meet even with my student loan. Unlike some other kids with a helping family, I buried mine, at least in
              my mind. They were a nasty lot, rubbing my nose in shit for hours whenever they’d lend me a pound, so I
              cut them out of my life. At least I knew where I stood.
            </p>

            <p>
              I had so many dreams, buying into the whole “get school, get a job, get married, live happily ever after”
              nonsense. I was at school, and it was great fun. It would be better if I had enough, and not just money,
              but food, clothes and friends, but for a poor struggling student chasing a dream, fun was the last thing
              on my mind. Every day for many years, I’d get up, work hard, do my exams, make up the time off work, work
              weekends, and do a crazy amount of overtime.
            </p>

            <p>
              Like so many ambitious kids, I gave it my best, followed the right path. At least I knew my job was
              secure, working for a large government department. Like many government employees, we get graded. The
              higher education, the higher the grade. This, of course, reflected the roles and potential of my future as
              an employee. I worked hard and studied harder, doing my bachelors, masters and even doctorate. At the same
              time, I played the office politics game, pushing and squirming, competing with others following human
              resources’ career path advice.<br />Thirty years later, I’ve had it made. I was a junior director of
              bullshit and nonsense, in charge of my own incompetence, leading a talented engineering team, failing
              upwards into management roles like mine. The only thing we managed to engineer in the last five years was
              a work schedule around the bus times to get into the office half an hour early and leave it half an hour
              late, so we could clock in and out our attendance cards and claim the accrued time as an extra paid
              holiday on the government dime.
            </p>

            <p>
              My workdays began by getting in early. I’d clock in, get my coffee and sit at my desk, reading the morning
              news on the internet, receiving my daily dose of programming, all the things they wanted me to believe. We
              wouldn’t arrange thee meetings till ten to account for the stragglers. We’d meet for a few hours to
              discuss the minutes of meetings from last week. The lunch would come. I’d go to the canteen and make sure
              I was ten minutes late for my next appointment so we’d have to waste another ten, repeating everything
              that was just said.
            </p>

            <p>
              Day in, day out, we played that game. Nothing ever got done like that. It suited all of us just fine.
              That’s what working for the government was like. We didn’t get paid like in the private sector, but nobody
              really expected any results. All of us coasted like this through our lives, mindlessly wasting our time,
              like serving some long prison sentence, until we get our golden watch and retire at sixty-five with the
              mortgage paid off and a reasonable pension that I could spend on cooked food and medication at some
              retirement village for wankers.
            </p>

            <p>
              Many times I had discussions. Why don’t you leave? Why don’t you find a more challenging job?
              Unfortunately, as all government employees would tell you. After serving five to ten years of sentence
              working for the system, this was the only thing you’re qualified for. Exceptional people, self-starters,
              entrepreneurs are rarely found working for the government. Sometimes they stray in and are quickly poached
              by any number of external delivery partners who put them right back into their old seats at a premium.
            </p>

            <p>
              The rest of us, like me, had to work for ten years just to clear our student loan debt. By the time I
              could possibly entertain an idea to leave, I was promoted, given a few perks, and I was utterly
              incompetent to do any actual job but manage a team of government employees. I made a mistake when I was a
              kid, following the dream they told me to dream, co-creating my own nightmare that people call life.
            </p>

            <p>
              This wasn’t to say my life was terrible. I had a good rank, bonuses and a stable environment. I even got
              married and divorced like most Englishmen. While I was busy at work, giving my wife the life she told me
              she deserved, she worked hard on her back in my bedroom with the help of a council tenant neighbour a few
              doors down. Naturally, when I discovered her cheating, she took me to court, where the judge patiently
              explained it was all my fault. She took half of the house, car, investments, pension and savings account.
              By the time we were done, I was glad to pay half, just to get rid of the cunt. I wasn’t bitter, just
              disappointed and sad for ever loving the slut. In the end, as always, she was right. It was all my fault.
              I should have known better.
            </p>

            <p>
              I moved out because she really loved the house, and the judge thought it was only fair for her to have it.
              After all, she had no job. She could never afford to buy one as nice as this, paying my half with my own
              money, but not until I first paid for all the repairs and cleared the debts. I learned a valuable lesson
              there and never moved in with another woman again. She was right again. I managed my own investments, got
              another mortgage and started again. This time I got a lovely apartment instead, making sure it was too
              small for two people living there. It was only me and Mr Jinx, my tabby cat, with an occasional visit from
              a new girlfriend, a flavour of the month.
            </p>

            <p>
              Apparently, it wasn’t that hard to meet women, date and get into a relationship with them. It is, however,
              much harder keeping them, especially when they find out there won’t be any cars, jewellery, houses or
              shopping trips to Harrods for them. They’d tell me that they loved me, that I was a really nice guy, how I
              was well mannered, educated, well-spoken and a great listener. They never met such a nice guy as me,
              really admiring my open heart and generosity. That would only last for a couple of months before
              invariably changing their mind, finding me selfish, unreasonable and inflexible. I did only the things
              that I wanted and never anything for them. When I pointed out that spending a three months salary on a
              weekend shopping spree isn’t exactly smart thiking, they would explain to me how old fashioned I was,
              saying, “Money is for spending. What’s the point in having it, if it only sits in a bank account”. Luckily
              I got a modern and progressive girlfriend who would help me learn the new way. “Let’s start with a trip to
              Dubai. The best shopping malls are there. There is also a beach”, and staying in Burj Al Arab was always
              her dream.
            </p>

            <p>
              I didn’t blame the girls. They were young, full of life and wanted to see things and experience the world.
              That’s why they got the older guy, realising that they would be my age before being able to afford it
              themselves, and they wanted to live now, not then. It made sense. My friends would ask me, “Edward, why
              don’t you find a woman your own age?”. For some reason, they would never understand that the best women my
              age were already taken, and I wasn’t into single moms with three psychotic children suffering from complex
              of abandonment, looking for a man to escape from them. It’s hard to be a mother, even with a father
              helping. I wasn’t looking for that kind of baggage. I had plenty of my own. Nobody invited me when they
              were making them. I didn’t need an invite to raise them.
            </p>

            <p>
              This is where women would usually get upset, calling me an asshole, misogynist and other names. “How can
              you be like that? A woman deserves to be happy. The kids deserve to have a family and a father”. I
              couldn’t agree more with them. Unfortunately, nobody could tell me what I deserved, apart from the bill to
              pay, so I decided to say “no, thanks” and walked away.
            </p>

            <p>
              I stomped into my office, closing the doors. Everyone knew it meant “busy”, don’t knock or get inside. I
              chastised myself for losing it in the meeting room. It was just a long series of unfortunate events. I sat
              at my desk staring blankly at the screen, feeling like all my life drained out of me. I never felt this
              way in my life, realising that I reached the end of some road. Maybe it was a belated midlife crisis
              nocking on my door.
            </p>

            <p>
              Like in some sort of a trance, I watched myself take hold of the computer keyboard, write a resignation
              email, and press send. I stood up, put on my jacket and just walked out. Dropping my security access card
              at reception on my way out. In hindsight, I should have perhaps just stayed home that day, but I should
              have also done many more things in my life, including quitting when it was still the time. A couple of
              weeks back, I celebrated my fiftieth birthday, eating my cake alone, looking at Mr Jinx’s empty food bowl.
              It’s been two years since he died, leaving me completely alone.
            </p>

            <p>
              I spaced out in the meeting today, ignoring the incessant droning of a guy giving a presentation for the
              sixth time, to include the new colleagues who might not have seen it. He was milking those ten pages for
              over a month. We would be all fed up with it if we didn’t already tune out. I sat there with my face
              frozen, my mind a million miles away, playing back the memories of my life. How quickly the time passed, I
              was twenty just yesterday, so excited to get into work on my first day. It felt somehow like in thirty
              years, I achieved nothing. I ate, slept, had a few memories, and now I was fifty, almost retirement age.
              Fifteen years more, and they’d wheel me out, right into some home, spending all that I’ve earned over the
              years for overpriced room and disinterested nurse.
            </p>

            <p>
              I saw my whole life pass in front of my eyes, and it wasn’t a life at all. If I cut out all the
              meaningless moments and only had good ones, it would probably only amount to a year of my life. It was
              pathetic; I was pathetic, living a safe life prescribed by someone else. In fact, I wasn’t living; I just
              existed. Day by day, I wasn’t closer to death. Instead, every day there was one day less left to live. At
              that critical moment, I realised what day it was today. It was the same day and a month when I first
              started my job. It was exactly thirty years of me working for the company, and I could comfortably say
              that I achieved nothing. For the thirty years of my life, I sat there, getting paid, going from meeting to
              meeting resulting in fuck all. I wasted thirty years of my life, just waiting to retire, and I couldn’t
              take it anymore.
            </p>

            <p>
              Perhaps the girls were right in the end. I should have gone to Dubai, splashed out, spent money, said
              “yes!”. Maybe I would get drunk, fuck her on a beach, get arrested and thrown in prison and let out a year
              later on the insistence of the British government. Perhaps then I would be able to say, “I did this one
              thing in my life, and it was awesome”. This is the life I should have lived, just said, “fuck it, baby.
              Let’s go shopping”. I certainly could have afforded it, I just didn’t see the point, but I see it crystal
              clear now.
            </p>

            <p>
              Like in some sort of a trance, I walked away from my office, turning into a street I had never visited. It
              was one of the side streets without any flashy neon signs, full of half-closed shops, doing poorly as
              there was no foot traffic there. For over a decade, I walked by every workday, wondering what was down
              there, never, even once turning to look. I had my routine, to work and back home, eating subsidised lunch
              in government canteen, everything set like clockwork. It was almost lunchtime, and I would never be seen
              out of the building at this time. It would be something unheard of to miss my jacket potato with tuna
              mayonnaise, with the side of mushy peas.
            </p>

            <p>
              Many times people told me how the two don’t go together. Whenever I offered them to try, they just excused
              themselves. It was just too far from their comfort zone, something like me and going on a holiday with a
              pretty girl; what an idiot I was. This time I turned into the side street, excited to do something I would
              never normally do. Soon enough, I was disappointed. It was just a row of closed shops and defunct
              restaurants; All that is, but one. Coming to the end of the road, I saw a grotty little Chinese noodle
              bar. I saw an old woman stretching noodles using her hands. I only saw that done once on television, a
              national geographic travel channel.
            </p>

            <p>
              I stood there, feeling hungry, staring at the woman in a misty restaurant. It looked small, dirty and
              packed. My brain tried to work out what assortment of diseases would I get by entering there, let alone
              trying the food. I saw a Chinese couple debating something lively; get in, then I saw another. Like in
              some sort of dream, I followed them in with a bizarre fascination, wanting to have a closer look. I
              couldn’t explain why or how I found myself sitting at the table with a Chinese girl no more than twenty
              serving me a bowl of chicken noodle soup, unable to understand a single word of English, telling her “no”.
            </p>

            <p>
              “Here goes nothing”, I muttered, looking around, half-expecting a guy with a hidden camera to jump out,
              telling me this was all a setup for laughs. Carefully I scooped a spoon and a small piece of noodle,
              tasting the unusual dish for the first time. As soon as I put it into my mouth, I felt an involuntary
              smile break out on my face. “Where were you all my life?” I muttered, swallowing the best-tasting soup of
              my life. I didn’t realise how hungry I was. I ate the whole bowl in one go. Just as I lifted my head up,
              the same girls picked it up, giving me another. The second bowl of chicken noodle soup went slower; I was
              already full. Still, I ate with the same amount of gusto.
            </p>

            <p>“Did I tell you, Richard, about the soup?”</p>

            <p>“Yes, you have Edward, five times already. Come, let’s go. I’ll take you home. You are drunk.”</p>

            <p>“I am not drunk. Oh, wait, I think I am. Did I tell you that I quit my job?”</p>

            <p>
              “Yes, you did. You told me all about it, now come on. Up, up, here we go. Easy now, one foot in front of
              another. Hold on to me”. Richard led me out of my favourite pub. That’s where I had my Sunday lunches and
              occasional piss-up with friends. I must have passed out. I couldn’t remember how I got to my place. He
              served me strong coffee in a large cup, next to a glass bubbling from an effervescent Alka-seltzer tab. “I
              like what you’ve done with the place since Jenny left. How long was it now, a year?”
            </p>

            <p>“I broke up with her four and a half years ago.”</p>

            <p>
              “All right then. This is what you are going to do. You’ll drink this shit, go to sleep and call the human
              resources tomorrow and tell them that you were sick and didn’t mean to quit. Got it?”
            </p>

            <p>
              “No, no, listen, shhh, just listen. I am done. I am finished. I’m not going back. I didn’t get drunk
              because of my job. I got drunk because I was celebrating. I am never going back to that place.”
            </p>

            <p>“Edward, you are drunk. You’ll feel differently in the morning when you sober up.”</p>

            <p>
              “Listen to me, Richard. Pay attention. I am drunk, but not nearly enough. I see things clearly. It
              happened before I started drinking. I had an epiphany. You know what that is?” I managed to convince
              Richard that I wasn’t just raving mad. I was just a bit crazy, feeling life for the first time. He went to
              the kitchen, made two more cups of strong coffee, gave me one, sat comfortably on the sofa chair opposite
              me, listening to my story.
            </p>

            <p>
              “I just turned fifty, and you’re not far behind. Step back from all the bullshit and tell me the bottom
              line. You’ve worked for almost as long as I did. What do you have to show for it?” Richard thought long
              and hard, understanding my question perfectly. Just like me, he got his job straight out of university.
              However, unlike me, he went into a commercial sector, working for a prominent investment firm, never
              allowing them to promote him to management, so he still had some relevant skills. My only skill was
              palming off tasks to others, avoiding any real work. I even found it hard to write my emails most of the
              time, so I dictated them instead to my secretary, a married woman twenty years my junior with whom I was
              having an affair. Her husband knew, of course, they had one of those modern open marriages where each
              could fuck whoever they wanted. I would never go out with her otherwise. It is a kind of hassle I didn’t
              want for myself. At least this way, she was safe, not my problem, and never attempted to move into my
              place.
            </p>

            <p>
              “Fuck me! You are right, Edward. This is so fucked. I’ve got a brother I never talked to you about. He and
              I aren’t all that close. He works as a security guard who spent all his life partying and drinking; didn’t
              even finish high school, and he’s got about the same life as me, except he gets laid, while I jack off to
              porn.”
            </p>

            <p>“Sorry to spoil your mood, man, really.”</p>

            <p>
              “Fuck! I need a drink” Richard got up, poured himself a full glass of my finest scotch, slumping back into
              the cushy leather sofa chair. “I’d say let’s get pissed, but you’ve already had too much, so I’ll just
              have to catch up”. We laughed like kids. “Look at us, Richard, two single, middle-aged farts who spent our
              life as corporate animals, having nothing to show for it.”
            </p>

            <p>
              “Don’t make it worse, Edward, please. Let’s talk about something else. I know, let’s watch porn.” He
              pulled out the remote, switching on my state of the art smart-TV, going to his favourite site, flipping
              porn clips. “Man, look at her, isn’t she gorgeous. Look how she takes that cock”, we giggled, commenting
              on various actors’ techniques, admiring the young, supple bodies of the girls.
            </p>

            <p>
              “Fuck banking, Edward. This is the career I should have taken. Oh, how I wish I was young again. I’d do so
              many things differently, including this”
            </p>

            <p>“Why don’t you? Why don’t we?”</p>

            <p>
              “What do you mean? Why don’t we what? Go into porn? How drunk are you, Edward? Who the fuck would take me,
              even if I had the balls to try.”
            </p>

            <p>
              “Let’s think about this for a second. There’s plenty of grandpa porn out there, and you have enough cash
              and skill to start a production company. You could do it all yourself”. Richard looked at me like I was
              crazy, struggling to find a reason why this was a terrible idea. Surely, people don’t get into porn just
              like that. It’s a complicated proposition. Richard was a doer. He was great with tech and could make
              things happen better than anyone I knew, but he wasn’t the operations guy. That never interested him in
              the slightest.
            </p>

            <p>
              “Nah, Edward, this isn’t the kind of thing that I could run. It’s getting late. Let’s put you to bed, and
              I’ll see you on Sunday. Pub lunch as usual?” We shook hands, and I saw Richard out, locking the door,
              taking a quick shower and collapsing into bed.
            </p>

            <p>
              I tossed and turned, trying to fall asleep. I shouldn’t have had that second mug of coffee, plus the
              events of the day kept going through my head. It was the soup; it was always the soup. It became a perfect
              metaphor for my wasted life. Since I was born, I have followed a strict path, always doing the right
              thing, believing what I was told. I never rebelled, shouted or yelled, no matter how much I wanted to. If
              my personal life was any better, I would have lived it out without ever going to that street, without ever
              eating that soup and my life would be so much worse for it.
            </p>

            <p>
              You don’t know what you don’t know, and I didn’t know what else I’ve missed while sleepwalking through my
              life. “Oh, fuck it!” I grunted, getting out of the bed. It was just past four. Saturday morning, and I was
              unemployed. Sure, I had three months notice, but what would they do? Sue me? The workers union wouldn’t
              let them. It was all just bullshit that senior managers like me used to scare the employees. I made
              another cup of coffee, porridge on water and one more Alka-seltzer, absent-mindedly, sat on a sofa,
              drinking the dark liquid, switching on the television for some background noise, so it doesn’t feel
              lonely.
            </p>

            <p>
              The TV resumed where it left off, on a video of a gorgeous young blonde riding some fit guy’s cock. I
              stared at the girl, and she looked so sexy and beautiful, unlike any woman I’ve ever dated, so out of my
              league. But why? A thought struck me from nowhere. Why is she out of my league? In what way, apart from
              the most obvious, is she beyond my reach? I got her name and pulled my laptop to look her up. She was
              Hungarian and single. Her name was Cayenne, and all she ever did was porn. She didn’t have a straight job,
              and she didn’t manage to become a real star. I researched how much porn actors make, looked at her
              filmography and did quick maths. The girl wasn’t rich. She barely made okay. Sure she got laid by the best
              looking guys with huge cocks, but as anyone would tell you, size matters, but just. If all a man was, is
              his cock, then sure, it matters a lot, but on the balance of things, it is nice to have instead of a must.
              There is also a matter of pussy depth. Not every woman is wide and deep, I thought, remembering my anatomy
              class from yesteryear. I bet that not every woman could take a huge thing. She’d probably cry in pain for
              the rest of the day after a rough session with a huge guy.
            </p>

            <p>
              Big cocks look great on film, but that’s the size fetish stemming from male insecurity, just like what
              girls have with the size of their tits. It always made me laugh when a girl with small breasts said, “I
              love my tits; I would never get implants”. If that was true, the whole multi-billion industry would
              collapse. I got curious and searched for some porn with regular-sized cocks and compared the view numbers.
              I looked for movies with guys my age fucking students and compared the numbers too. I put it all into a
              spreadsheet and worked out the customer segmentation, then took my credit card and joined a few paysites,
              just to see what they offer inside and the additional processing charges. I signed up on porn forums and
              read, learning the ballpark numbers of members on the average site and how much they paid for marketing in
              a profit-share split. Putting it all together, the numbers were surprising. It was easy to understand why
              people went into porn.
            </p>

            <p>
              I quite enjoyed the analysis. It was the first time I got to actually use my doctorate in years, so just
              for fun, I continued, working out the numbers and risks. I spent the whole Saturday looking into my
              project, detoxing from years of mental poison in the office. My phone rang a few times. I pulled it out of
              a socket and threw it into the bin. Enough was enough; I didn’t want to talk to anyone. My closest friends
              had my smartphone. They could text me there. I managed to exhaust myself by the early evening. After some
              light food, I took a bath and barely made it to bed. In two shakes of barber’s dick, I was asleep.
            </p>

            <p>
              “I am telling your Richard; it works. It is all there, just look at it”. I pushed my laptop across the pub
              table, eating my Sunday roast with Yorkshire pudding and gravy. I watched Richard click on my computer,
              going through the spreadsheet. “Nah. It can’t be that simple”.
            </p>

            <p>“But it is, Richard, it is.”</p>

            <p>
              “So, what you are telling me is that I could make more cash, pudgy and in my late forties with porn than
              running the engineering for a large financial institution?”
            </p>

            <p>
              “Yes, but that’s not the point. Both you and I are old farts. We have our money, real estate, bursting
              pension funds, savings and investments. If we both quit now, we wouldn’t feel the pinch. This is about
              building a lifestyle where we don’t miss a thing and have it pay for itself from the turnover. It is all
              there;, just keep reading”. I chewed my food, watching Richard scroll through the document with big eyes.
              If it was someone else, he’d probably tell him to suck his dick, but he and I were best friends, knowing
              each other for years. We were both aware of each other’s flaws and strengths. What I showed him was not
              just some stupid thing. It was real.
            </p>

            <p>
              “Why do you want this? Is this some misguided way to get laid, or are you finally hitting your belated
              midlife crisis?”
            </p>

            <p>
              “It is hard to explain, Richard. It is about that soup. It is about what I’ve missed. What you’ve missed.
              It is about living the rest of our lives and not just counting the days before we die. I want that soup
              Richard, in everything and every day”. He looked at me, then the numbers, eating his now cold food,
              washing it down with beer. He tried to say something a few times, then went back to the document and back
              again.
            </p>

            <p>
              “Oh, fuck it. Fuck you. I fucking hate you, Edward. I’m in.” We shook our hands with a firm handshake,
              then I waved over a waiter, ordering a few drinks to celebrate. I changed my seat, sitting next to him,
              ordering some tortilla chips with salsa and a couple of beers. Clicking on the computer, we went through
              the motions; talking, brainstorming, choosing names. Apparently, all the good porn names were taken. We
              struggled for an hour before a stroke of genius hit us.
            </p>

            <p>
              The two of us were going to become porn stars. Because my name was Edward Arnet, I’ll be called Ted Horny,
              or rather Horny Ted. My best friend was easy, he laughed for minutes choosing his own porn name, and
              that’s how Richard Lymp, became Limp Dick. We tried a few permutations online until we found the internet
              domain HornyTed.com. I wanted to add Richard into the mix, but he just said, “nobody pays to see limp
              dicks”, chuckling.
            </p>

            <p>
              Now, proud owners of the internet domain, we went online again, and an hour later, we submitted an
              application for opening a new company before congratulating each other on starting our business, shaking
              our hands again. This was the most fun I’d had in years, and so did Richard. It reminded us of the days we
              were young and stupid, impulsive things we’ve done. We spent a whole day in the pub, going through the
              next steps, budgets and plans, like real businessmen.
            </p>

            <p>
              Just before lunch on Monday, I walked out of my office, carrying signed dismissal papers. I went in at
              eleven, straight to human resources, explaining that I got diagnosed with manic depression and quitting
              before I killed myself, taking my paid medical leave for the duration of my notice period. They huffed and
              puffed before signing my papers, wishing me well. Margaret, my secretary, was all in tears. She loved to
              work for me, especially under me. It turned her on to hide under my desk while I dictated. I gave her my
              new personal number, she blew me for the last time behind closed doors, and we said our goodbyes.
            </p>

            <p>
              I got out right on time, noticing Richard sitting in the lobby with a bag full of his stuff. As soon as he
              handed in his resignation, the company had security escort him out. It was a corporate policy that someone
              with his level of clearance couldn’t be trusted after resigning. He had three months notice, the same as
              me. Both of us getting paid for free. We chuckled and laughed all the way to the small restaurant that I
              discovered the other day.
            </p>

            <p>“This is some fucking good soup.”</p>

            <p>
              “I told you! It is the best. It literally changed my life”. We both had two bowls till we could barely
              breathe. I pulled out my phone, showing Richard that our company application was accepted. Taking the
              attached incorporation certificate, I went online again. Within minutes, we set up a bank account and were
              in business. A few taps on our phones and each sent ten grand from our savings accounts as personal
              lending to the company, so we could buy stuff.
            </p>

            <p>
              They quickly threw us out of the restaurant to make space for hungry people, so we sat in a pub, having a
              glass of champagne to celebrate, followed by some light snacks. Now that we had our own business, the
              following steps were setting it up. We quickly found freelance web designers in India to set up a landing
              page for our website and paid him peanuts. Richard was a techie and set us up with a cloud office account
              with professional-looking email and stuff. The rest of the day we spent looking for talent agencies
              representing porn models.
            </p>

            <p>
              We didn’t know what we didn’t know, but we were smart enough to realise that. After several hours of
              researching and emailing, we got a pingback from one of the agencies. I called them back, introducing our
              company as a brand new porn production house. We had budgets and plans and wanted high quality,
              professional team to shoot our films. Smelling the cash, the agency was more than happy to work with us.
              They were based on the outskirts of London, which was a significant bonus for us. It would be more
              expensive, but we wouldn’t have to fly anywhere. It was right in our backyard.
            </p>

            <p>
              We spent a week going forwards and backwards with the agency and the filming guys, choosing the models,
              locations and scripts. I wanted a studio shoot, a bedroom scene, a shower and a pool. We couldn’t find an
              outdoor pool in London, but we found one on the outskirts. I rented a large office from one of those pay
              by day office firms, right by Trafalgar square, to make it convenient for everyone. The actors came one by
              one. They shared their photos and videos, stripped down into their underwear and nude, so we could take
              photos on our phones, putting them into our records, checking their documents before we sat down to chat.
              We hired two guys, a black one and white, both with regular-sized cocks and picked four girls out of the
              ten that came, keeping their contact details for later.
            </p>

            <p>
              In the end, we spent the rest of the day discussing the details with the director and the crew. We had
              plenty of time to prepare a long list of questions. Richard immediately befriended the camera, lights and
              sound guys. At the same time, I spent most of my time talking with the director, going into way more
              details than anyone expected. Both Richard and I recorded our conversations for later study and analysis.
              We spent hours after everyone left, listening to the recordings, pulling out points. Neither of us had any
              experience in filming and the porn process. Still, the guys were really friendly and helpful, sharing
              their knowledge, which we carefully jotted down into our spreadsheets.
            </p>

            <p>
              We could have shot all the scenes in two days, but we opted for four, happy to pay more to the crew. It
              gave us an excuse to hang out more. Just from our first meeting, we learned a lot about the whole process
              of filming and post-processing. Neither of us knew anything about film editing or even basic concepts, but
              Richard and I were smart with advanced degrees. We knew how to learn, and we used it. We bought two
              top-of-the-range laptop computers before our first shoot, spending five grand on each, not counting the
              recommended software licenses and tons of online training materials.
            </p>

            <p>
              The first day of the filming arrived. In the studio, it was just Kath and Jen, a blonde and brunette,
              having sex, doing a lesbian scene with just a plain white background, using a transparent pink double
              dildo to bring each other to orgasm. I sat next to the director, listening to his commands, observing his
              actions, how he interacted with the girls. Richard spent time with the techies, watching them work,
              carefully writing down notes. We set up two small GoPro cameras on tripods around the room to catch the
              whole process on video, including the conversation.
            </p>

            <p>
              After the first part, we had a changeup. The girls fixed their makeup and hair while we rolled down the
              black background, and the show started again. I thanked God for having the good sense to wear two pairs of
              underwear a size too small. The two girls gave me a massive boner, and I wanted to stay professional. They
              got me so horny, I wanted to fuck them both bad. I swallowed hard. There would be plenty of time for that.
              Now was the time for business and staying on track. When filming ended, we parted ways. Richard took the
              crew for dinner, and I took the girls. Due to his technical background, he vibed well with the guys, and I
              was a generally likeable fellow. I learned the techniques of brown-nosing for thirty years up the
              management chain. I could have gone into politics, but I missed the skill of being a first-rate asshole
              with daddy in high places going to Eaton then Oxford or Cambridge to rub shoulders with the right kind of
              students.
            </p>

            <p>
              Kath and Jen could drink like a fish. The two girls knew how to party. They lacked, however, the
              time-tested liver of a habitual drunk like me. In no time flat, I had them swooning and giggling, feeding
              them Sambuca shots on an empty stomach before we went for a meal. We walked into Soho with girls swaying,
              holding tight to my arms, not to fall down of their high heels. They kept talking like a babbling brook in
              spring, happy the winter was over and the ice melting.
            </p>

            <p>
              I knew it was the right move to get the two of them drunk. The girls talked and talked; I thought they
              would pass out. I learned much more than I wanted to know, their whole life story from childhood to porn,
              abusive boyfriends and broken hearts, wishes to live in this world and experience the life. I remembered
              Yuri, my old Russian friend. He told me his theory of drinking passed from father to son. I took the girls
              to a nice restaurant, ordering them a lot of fatty food, and in the course of a couple of hours, they were
              back normal, sipping coffee, no longer drunk. It looked like our drinking adventure made us best friends.
              They begged me to take them to other shoots, just to watch as friends. Apparently, they had little better
              to do, and they saw nothing wrong is schmoozing a little to make another sale. I could understand that
              completely. I was a schmoozer extraordinaire who spent his career with a nose in someone’s asshole.
            </p>

            <p>
              I saw the girls were a little disappointed when I packed them home. I guessed they hoped I’d take them to
              my place. I was well dressed and paid for the dinner. I just didn’t want this to get out of hand. I was
              working with a goal in mind, not picking up chicks to fuck. As much as I wanted to fuck both, I managed to
              keep it in my pants.
            </p>

            <p>
              The next shoot was with Chloe, an impressive, tall, slim, busty, platinum blonde with huge fake tits and
              pierced nips. For some reason, she turned me on more than any other girl. She just oozed sex appeal. She
              had one of the most perfect pussies I’ve seen. It was nice and clean, just a straight slit with a pierced
              clit and a meticulously trimmed blonde landing strip. I envied Thierry, or Terry as we called him. He was
              a french student originally from Abuja in Nigeria, studying in London for masters in finance. He already
              got an employment offer from a hedge fund investment firm in the city as soon as he graduated. He worked
              as a part-time cabby during the day, reading thick books on international finance during his downtime. He
              did porn because he needed the money. To be honest, I’d do it for free if it meant I get to fuck Chloe.
            </p>

            <p>
              The guys set up the bedroom, put on the lights and microphones, camera, action, go, and the shooting
              began. Halfway through, I had to run out, to knock one off in a toilet how turned on I was. Chloe was
              perfect, she fucked like a dream, and Terry wasn’t bad, but he was nothing compared to her. Jesus Christ
              did that girl love cock. I only wished it was mine instead of Terry’s, today, tomorrow, and for the end of
              the time. If Chloe turned to me and said, “marry me”, I’d take her by hand and seal the deal in a second.
              They say that men think with their dicks. I didn’t usually, but this time it very much applied to me too.
            </p>

            <p>
              After all the closeups and cum shots, like last time, I took Chloe for dinner, accompanied by Kath and
              Jen, who came to watch. We went straight for the bar, where I got all three of them mildly drunk. Enough
              to be tipsy and chatty, lose their critical judgment, but sober enough to walk by themselves. When Chloe
              took me under my arms, my cock got so hard, I imagined it would rip through my pants. Again, we had dinner
              and a lovely time. The girls were more collected and started to pitch their availability for more work. I
              loved all three of them. In fact, that’s how we chose them. The girls were super hot, and they were
              fucking insane in bed.
            </p>

            <p>
              Again I managed to resist the temptation of inviting them to my home, then spent hours jacking off
              watching their old porn. I felt stupid a little, there they were right in my arms, and I just dropped them
              like that to spend time with my fist instead. I never even imagined I had the necessary resolve to do
              anything like that.
            </p>

            <p>
              Unsurprisingly, Chloe didn’t have time to just watch. She was top of the tops, and she knew it. With her,
              it was only the paid work, and I respected that. Kath and Jen were of a different kind. They were in it
              for the experience, not so much for the money. They didn’t have many plans in life, and that was fair
              enough. I had all the plans, and it all resulted in nothing. I envied the girls for having the balls to
              just live in the moment and not be petrified about the future like I was all my life. I was learning from
              them.
            </p>

            <p>
              The next shoot was with Sam, a sexy angel with straight long brown hair that reached her ass, piercing
              blue eyes and the body of a goddess with the most amazing large natural tits I ever saw on a woman. For a
              moment, I thought they were fake, but she let me squeeze them for a bit and enjoy the feel of the most
              amazing things. The girls giggled, seeing me take off to the toilet right after. They knew exactly what I
              was doing there.
            </p>

            <p>
              Chloe radiated this raw sexuality. She was engineered for sex like a Ferrari, but Sam had something
              special, and not because she let me play with her tits. There was this deep, bubbling desire hidden under
              her skin, making me want to rip her clothes off and fuck her till she screamed. It was hard to explain. On
              the outside, she looked stunning, but I suspected there was much more inside. She was the kind of girl
              that somehow ended in porn, a place she didn’t truly belong. She radiated this deep sexuality mixed with
              vulnerability, making any man want to sell his kidney to be with someone like this. I didn’t know her
              story, but Sam was alluring to me, and the longer I looked, the more enchanting she got.
            </p>

            <p>
              The shoot was with the other guy, Mike, and I envied him even more than Terry. Mike was also a student, a
              future pilot, and didn’t need money, coming from an affluent family. He did porn because he liked to fuck
              amazing girls. That could have been me in the right conditions instead of being so focused on my shitty
              career. This is why I envied Mike the most. He reminded me of what I lost without knowing it was even an
              option. Clearly, he was much smarter than me, which was just another thing to envy.
            </p>

            <p>
              The crew set up in a shower, a lot of reflective surfaces. It was a challenging shot; that’s why we chose
              all of them, to understand the process, the problems and the issues on filming in different environments.
              Again like in the past, I took the three girls out while Richard took Mike and the crew. Richard was fast
              making friends. He learned so much about filming and process that none of the books or schools could teach
              in such a short time. We considered going to school, but that was just too long on our timeline. Neither
              one of us quit jobs to get a new career. Learning by doing, throwing us at the deep end, was the strategy
              we adopted. It was expensive, but it didn’t fail.
            </p>

            <p>
              This time Kath and Jen actually suggested going to my place, and Sam supported the idea. It took all my
              negotiation skills to get myself out of that trap, ending up alone on the sofa again, with a cock in my
              hand, the box of tissues never out of reach. The real reason I didn’t want to fuck the girls was the fear
              of what would happen next. Are we going to end up in some sort of weird on and off-again relationship? Is
              it just fun or something more? Where is all this going? I knew how bad I was with women, I’ve got a
              t-shirt to prove it, and I didn’t want to open myself to any potential situation like that, no matter how
              remote it seemed. Of course, I was into the girls. I wanted to fuck them so badly and never come off them
              again, which was the problem. I wanted them on my own terms, not as a random, chaotic, uncontrolled thing
              that just happens and takes over my life and year after now, I wonder what happened. It is not good for me
              and not good for them.
            </p>

            <p>
              The last shoot was the most difficult of all. It was an outdoor pool shoot in a cottage we rented. All
              four girls, Kath, Chloe, Sam and Jen, had a party by the pool, ending up fucking each other and their two
              male friends, Terry and Mike. The director brought an additional camera and sound guys plus a couple of
              more hands. I volunteered to help, holding a big golden reflector, adding a nice sunbathed tint to the
              actors. It took forever to synchronise everyone, and we’ve got our cum shots after a long time. The girls
              kissed each other, swapping the cum in front of cameras, then hit the showers, with camera guys recording
              behind the scenes footage.
            </p>

            <p>
              By the time everyone was done and packed, the rain had started, and the sun had gone away. The film crew
              thanked us and drove off in their van. Chloe, always professional, called Uber after counting her cash,
              ensuring we had her number for future bookings and disappeared. We had the cottage for a day, and there
              were plenty of spare rooms available, so the rest of us decided to stay. I’ve never been in a cottage with
              a pool and thoroughly enjoyed the feeling of yet another missed experience. Thanking God for the internet
              age, I used the app on my phone to order the food to be delivered before the girls starved and ate us. The
              way they attacked the pizza looked like one of those movies from the seventies with hordes of cannibals
              lurking in a jungle.
            </p>

            <p>
              The cottage owner left us a couple of bottles of wine, champagne, vodka and some beers. It was a
              side-business like those little fridges in hotel rooms with drinks three times the price. The girls
              attacked the alcohol like it was the last drop on the planet, and neither Richard nor I were shy of glass.
              We got pretty much sloshed, killing all the bottles we could find and calling it a night. I took a long
              shower in my ensuite bathroom, then just collapsed into bed and began to snore.
            </p>

            <p>“What are you doing?”</p>

            <p>
              “Shhh”, Sam said, putting her finger on my lips, resting her soft, firm naked body against mine. I felt
              dizzy for a second, and I was sure it wasn’t from the alcohol but from the suddenness at which all the
              blood went from my brain into my cock. Sam gave me a wicked smile, sticking her tongue into my mouth while
              simultaneously rubbing my cock. I don’t know what magic prevented me from cumming right then. I couldn’t
              remember having my cock that hard ever. I was pretty sure I could crack chestnuts with it.
            </p>

            <p>
              Sam didn’t bother with giving me a blowjob. She just came on top of me, sticking my cock into her sopping
              wet pussy. She was hot, and I mean her pussy was super hot and wet and tight. “What? What are you doing?”
              I asked her stupidly as if it wasn’t obvious enough. Maybe I should have rolled in a whiteboard with
              crayons, so she draws me a diagram easy enough for me to understand. For someone with a doctorate, I could
              really be retarded. Makes one question the quality of the education.
            </p>

            <p>
              “I am horny. I want to fuck”, Sam simply said, and I just couldn’t help myself. “Why me? You had two young
              guys today?”
            </p>

            <p>“I am not into boys. I like men?”</p>

            <p>
              “What do you mean? I am fifty, grey and fat. How could you be into that?” She giggled, laying on top of
              me, giving me a quick kiss. “I don’t know. I just like dad bods; it turns me on.”
            </p>

            <p>“Well, I like your body. It turns me on like crazy.”</p>

            <p>
              “I know”, she giggled, “I saw you run to the bathroom to jack off. It turned me on. It turns me on knowing
              people masturbate to me”. I was about to say something, but she shushed me again before ending the
              conversation with a long passionate kiss. She was right, there is a time and a place, and this wasn’t it.
            </p>

            <p>
              Sam started gently swaying, grinding her crotch against me, my cock deep inside her pussy. She closed her
              eyes, moaned softly, clearly consumed by her own feelings and fantasy. Me, on the other hand, I was in a
              panic, desperately trying to think about people gutting fish, to at least pretend I could last more than
              two minutes, which with a babe as hot as this would be some sort of Olympic record. I imagine the only man
              who could last ten minutes with her would be gay, and even then, she’d probably turn him straight.
            </p>

            <p>
              Luckily Sam was very horny, and it only took her minutes to orgasm, closely followed by my throbbing cock
              filling her smouldering insides with copious amounts of fresh cum. “Oh god! Oh Jesus! Oh, fuck!” I kept
              repeating, filling Sam up. She just watched me with a smile until I collapsed. Slowly she slid down and
              started sucking on my cock covered in her pussy juices, still dribbling cum. She gently suckled on it for
              a few minutes, our eyes connected, her lips in a big smile. She left no room for doubt. This girl loved
              sex, and for some reason, the gods put her in my bed with my cock in her mouth.
            </p>

            <p>
              Within minutes she got me hard again. I don’t remember this happening since I was a teenager. She quickly
              lay on her back, saying, “come, I want you to fuck me as hard as you can”. I climbed on top of her,
              sliding my cock back into her pussy, but before I started fucking, I just wanted to soak in her beauty. I
              squeezed her ample breasts, licked her nipples, kissed her like it was the last kiss in the world, then
              started to move. I fucked her as hard as I could, quickly losing my breath, dripping sweat on top of the
              girl. She saw I was struggling, corrected my tempo and kept encouraging me, “come on, fuck me, harder,
              yes, deeper, now do it fast, yes, yes, I am going to cum, just a little more, yes, yes, mmmm”.
            </p>

            <p>
              She came again, digging her nails deep into my butt. Feeling her pussy squeezing and pulsating around my
              cock, it was too much, and I blew another load inside her before collapsing on my back. We kissed and
              cuddled for a few seconds, then she went down on me again. Patiently she sucked me gently for some thirty
              minutes before I was hard again. This never happened to me before. It was another “soup” moment. Getting
              on all four, she turned her ass to me, begging me, “fuck me, daddy, please fuck me. I need you to fill my
              womb with your seed”.
            </p>

            <p>
              I got harder than ever felt possible. Sam’s little dirty talk turned me on to no end. My balls hurt a bit
              from all the sex, but “fuck my balls, this is incredible”, the voice in my head said. “Come on, daddy,
              stick that cock in me, fuck me now, hard”, she said, and I did. I kept riding her as hard as I could, and
              she moaned into the pillow, biting it. “Pull my hair, slap my ass”. I’ve never done that to a woman, so I
              took a fistful of her gorgeous, silky brown hair and pulled a bit, gently as not to hurt her, flicking her
              butt with my hand. “Harder daddy, yes, harder, no, harder, harder, yes, yes, like that, hurt me, daddy,
              yes, more.”
            </p>

            <p>
              I lost my mind, riding this wild, insane bitch. The rougher I got, the more she enjoyed it until at one
              moment she arched her back, squeezing her tits, pulling on her nipples hard, going “gnnn”. Her whole body
              trembled, then collapsed. With her head back on the pillow, she babbled incoherently, “mmm, yes, daddy,
              mmm, fuck me, fuck me, slap me, mmm, harder daddy, harder”. My chest was about to explode from exertion,
              sweat ran down my body in little rivers, but I didn’t care if I was to die. This was the best sex I ever
              had in my life. I fucked and fucked and fucked, and for some reason, I didn’t cum, but she did, three more
              times before I felt my balls push out another glob of sperm ending inside her.
            </p>

            <p>
              Collapsing next to her, she quickly wrapped herself around me, kissing me all over, rubbing my tired cock.
              Three times in a row was a record I thought impossible. I’ve never done it, even masturbating as a
              teenager. We ended up kissing after I caught my breath. I couldn’t describe the incredible feeling of her
              supple breasts pressed against my chest. “Mmm, daddy, I am still horny”, she said, and I rolled my eyes.
              There was nothing in the world that could get my cock get up again. I was more dead than alive.
            </p>

            <p>
              “Daddy, I want you to fuck my ass.” Hearing those words, something incredible happened, my cock sprung up
              again. My whole body ached, every single muscle sore. I was convinced I’d need a motorised wheelchair
              tomorrow and someone to feed me baby food with a spoon. Strangely those little words, spoken innocently by
              a gorgeous, blue-eyed goddess, had some sort of healing powers, and I saw myself go back to the kneeling
              position while Sam laid her chest low on the mattress, pulling her ass cheeks apart, showing me her
              puckered anus.
            </p>

            <p>
              I never fucked a girl in her asshole. I never even asked. Apparently, this little minx could read my mind
              and decode my most perverted fantasies. I masturbated to anal porn for decades, and now for the first time
              in my fifties, I was about to push my cock into a willing one, begging girl of twenty-one who just wanted
              my cock. I spat on her rosebud, pushing one finger in. I was surprised by how great and tight it felt. Her
              sphincter squeezed my finger tight. I rubbed it in and out, adding more spit until it was all slippery
              inside.
            </p>

            <p>
              Not being able to take it anymore, my cock throbbing, reminding me it was its turn. I placed the head of
              my cock against her hole and pushed. Like some magic, my cock disappeared in her asshole, and I knew I was
              a convert. I loved the feeling of anal sex. It was like pussy but different. I knew then my life was
              changed, and I started to ride Sam again. Apparently, I wasn’t the only one who could appreciate the
              assfuck. Sam went nuts, screaming and moaning into the pillow, panting like a dog. It took only five
              minutes for Sam to cum for the first time. She rubbed her clit as I pumped her hard.
            </p>

            <p>
              “Fuck me, daddy, fuck me like a slut. I am your slut, tell me, daddy, tell me I am your whore, fuck me
              daddy please”. It looked like I wasn’t the only one to get turned on by dirty talk. Shyly at first, then
              after seeing her get turned on by that, I let it rip, adding to her fantasy, quickly becoming mine. “Yes
              slut, cum for daddy. You are daddy’s slut. Soon you will cum on daddy’s cock, and daddy will fill your
              asshole with his cum. Yes slut, that’s it, cum for daddy, yes, now again. You are my little whore. This is
              your life now, cum baby, cum”.
            </p>

            <p>
              Sam went like crazy. Cumming over and again. Her hand on her clit was a blur, the other pulling on the
              nipple so hard I thought she’d rip it off. I was nowhere near cumming. My balls stopped cooperating, but
              somehow unbelievably, I was still hard and fucking. I found a regular tempo that would allow me to
              breathe, so I pumped and fucked in regular strokes, bringing her from one orgasm to another. At one
              moment, something strange happened. She began to tremble and shake. With an incredible muted scream into
              the pillow, she released a massive orgasm. Her whole body tensed, her pussy popped, she squirted all over
              the bed, bathing me all over with her piss. It would be disgusting if it wasn’t the most amazing thing
              that ever happened to me. At that very moment, I realised what I was born to do. This, making women cum
              like this, became my new purpose in life.
            </p>

            <p>
              The whole experience was so intense, I felt my balls tighten one more time, and I blasted again, filling
              her guts with my sperm. For the first time in my life, I came in a girl’s asshole, and I knew I was home.
              This instantly became my favourite sport, hobby and my pastime. I came so hard that I felt dizzy. The room
              spun in my head. I gently lay on the side, still attached, with my cock in Sam’s ass. She just snuggled
              closer, let me spoon her, squeezing her massive perfect tits. Gently pulling on her nipples, rolling them
              between my fingers.
            </p>

            <p>
              She almost purred, and I loved feeling her in my arms. She was so warm, soft and feminine, such a sexy
              amazing woman. Sleeping with my cock inside a girl was another new experience in my life. I knew that
              moment that this was the best way to sleep; so many bests in such a short time. Slowly I dozed off to
              sleep with a gorgeous girl in my arms, and for the first time in forever, I was truly happy and satisfied.
              Who said that life ends at fifty. For me, it just began.
            </p>

            <p>
              I woke up in the morning with the most wonderful feeling of blasting sperm into Sam’s mouth. She woke up
              before me, moved down and sucked my cock while I slept. I’ve never had a waking orgasm, and yes, that was
              the best thing too. Our eyes connected, and she gave me a sexy smile as her throat contracted, swallowing
              the stream of my morning cum. After my cock softened in her mouth, she came up to my embrace, kissing my
              lips, saying, “good morning, daddy, thanks for fucking me last night”.
            </p>

            <p>
              I wanted to tell her how great I felt, how amazing she was, how I was in love. If she turned to me and
              said, “let’s get married”, I’d do it right now. Instead, she lay silent, snuggling against my body,
              enjoying my squeezing hands. I thought of something and quickly got up, lifting her into my arms, then
              naked. I ran with her, giggling through the house, getting out into the yard, jumping into the pool. She
              yelped and squeaked, chasing me in cold water, swimming after me to the other side. I let her catch me,
              leaning her against the side of the pool, kissing her like the world was ending after breakfast.
            </p>

            <p>
              “Could get used to this”, I said with a smile. Sam smiled back, cautiously testing the water by saying,
              “well, it is up to you”. I saw her sales pitch coming a mile away. I’ve been pitched by the best of the
              best. Being a manager in a large, well-funded government department is like being a target for pitchers.
              They tried all the tactics on me. I knew them all from the direct to subtle and bribery even. Everyone
              wanted to sell me something, and I hated that. In Sam’s case, I really wanted it. I wanted to hear her
              sales pitch. “Oh god, please offer me something I am desperate to buy”.
            </p>

            <p>
              “Well, you know how I am a last year student. And I don’t have money. That’s why I’m doing porn in the
              first place. If you maybe get me a few more jobs and help me out on the side, we could keep this going”. I
              was expecting something like that, but I’ve been in too many vendor negotiations to just let it pass. Sam
              was a smart girl. She wouldn’t start with her best offer, so I talked to her some more.
            </p>

            <p>
              “I am not sure about more filming, but I can put you on top of my list. What did you have in mind for
              others? How much would you need?”
            </p>

            <p>
              “Well, if you gave me a grand a month, we could meet up every weekend and spend time together like we did
              last night. I loved it, by the way, and it isn’t about money. It’s just that I have to drop some paid work
              to free up some time”. If I wasn’t in love with her already, I would be now. Sam was so beautiful and
              smart, but now she demonstrated that she had feeling and tact. I thought about her offer, thinking to
              myself, what do I need. How do I turn it into something beneficial, not just great sex for me?
            </p>

            <p>
              “I have an Idea Sam, listen. You can obviously tell that I’m not very experienced with sex. I can
              hands-down say that you are the best sex I’ve ever had in my whole life. I have a proposal for you.
              Instead of weekends, I’ll pay you two grand to be with me every day, be my teacher, teach me to fuck like
              a porn star. I want to be the best lover, a sex god, and who better to teach me than a goddess herself.”
            </p>

            <p>
              She giggled and kissed me for a long time, asking me how that would work. I told her that she could move
              into my place, go to university from there, and teach me her mad sex skills in the evenings. She kissed me
              once more, rubbing my cock, then swam away fast from me. I knew she needed a moment alone to think about
              what I’d just offered. It wasn’t just two grand, but also moving to my central London apartment, which was
              in a spitting distance from the university, and she could move out of her Ealing room that cost her a
              grand with the bills, plus savings on time and transport since I lived in Westminster, the first zone.
            </p>

            <p>
              I turned my back to her, resting my elbows on the edge of the pool, patiently waiting for her to work it
              all out and tell me if we had a deal. Some ten minutes later, I felt her body wrapping against my back.
              She kissed me then looked into my eyes as if trying to read my soul, asking, “you’re not going to fuck me
              over?”. I turned her around, leaning her against the side again, never breaking my gaze. “Sweetie, I just
              want to fuck you, not fuck you over. Come on, do we have a deal?”. She hugged me tight, biting my neck and
              through my skin mumbled, “yes”.
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/gp/product/B09LRKRP5L'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3OvczQr'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>
            </div>

            <br />
    
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
