---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title="Jack's island | Chapter 1 - Jack's Island"
  description="Jack's Island novel by Rumpel Stiltskin"
  image='/images/jacks-island.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <!-- <img src='/images/covers/montana3.jpg' /> -->
          <p class='emp grey'>JACK'S ISLAND</p>
          <h1>Chapter 1 - Jack's Island</h1>
          <div class='biggest'>
            <p>
              Everyone was glued to the window as the plane made its descent. The runway has never been used before, and
              we intended to use it only in emergencies. Still, someone had to deliver the plane, which was to be kept
              in a specially constructed concrete hangar. A thick layer of dirt and grass was planted on top of it with
              well-hidden vents to dampen the effect of a potential explosion. The plane had flammable liquids inside,
              so the hangar was constructed in such a way that even if the whole plane exploded, it would all be
              contained with no danger to the environment. This was one of the very few exceptions to the law against
              keeping flammable or hazardous materials on the island. The girls worked hard to ensure all such
              exceptions were very safe and posed no threat.
            </p>

            <p>
              The pilots were careful not to scare too many birds during the landing. They made their descent far out
              and glided low above the water as quiet as possible before touching down on the runway. It was not an easy
              task, with large flocks of macaws and other birds circling their breeding grounds. A small group of
              zoologists went hugely overboard, making it a home to thousands. Their population was kept high by an
              abundance of food through hundreds of feeders installed all over the island.
            </p>

            <p>
              The runway was short and narrow, just enough for a plane to land and take off safely. There was no space
              for turning it, which had to be done manually using a special electric truck and rolled in backwards into
              the hangar. Heavy electric doors made of reinforced steel sheets would be closed and hangar sealed for
              emergency use.
            </p>

            <p>
              As with everything on the island, the girls went way too far, fanatically protecting their new home. It
              crossed my mind what the journalist said on the plane about us being a cult. In some way, she was right.
              All girls became the island worshipers, with every square foot being sacred to them. It was a large island
              but a small country, our new home. If we had a sports team, they would be called “patriots”.
            </p>

            <p>
              As the plane came to the full stop, metal stairs were rolled in, and we disembarked. Five open electric
              vehicles waited for us, taking ten people each. They were designed like little adventure trains with no
              doors and sides. People could just jump in or out as they liked, as they moved pretty slow. I went into
              the first one with my girlfriends. My servants went in another, then one was taken by journalists, and the
              last two were filled with more of my breeders.
            </p>

            <p>
              The other fifty were told to wait an hour for the busses to come back. The town was only thirty minutes
              ride from the airport. Those that remained were brought to a bar inside the newly built immigration lounge
              while they waited and hat their refreshments.
            </p>

            <p>
              The bus transported servants directly to the mansion on the far edge of the island. At the same time, the
              rest of us were taken to the town centre where all the restaurants, offices and shopping were located. The
              news crew excitedly recorded all of it, taking notes. I led them to a restaurant, where we sat down while
              the girls working there brought us the menus. This is where the siege started, the news crew bombarded me
              with questions, and I answered as many as possible.
            </p>

            <p>
              Many questions about the island&#39;s history were repeated, journalists asking them in a different way.
              How about this, and that; how did it all start until someone managed to pull out the data from the UN
              website, confirming Jack’s island being officially registered as an independent country with me as the
              king. Immediately they asked if anyone could come and live here, and a whole new line of questioning
              started.
            </p>

            <p>
              The girls explained that our immigration policy was simple. We didn’t have diplomatic arrangements with
              any country, and no foreigners were allowed except by invitation. We had some strict laws about ecology.
              Apart from that, we were liberal and highly scientifically minded. We repeated everything that was said on
              the plane, elaborating with more details. All people on the island were currently or would be pursuing
              their degrees and had jobs. I told them that money doesn’t exist, all transactions were made using our own
              cryptocurrency, and there was no tax.
            </p>

            <p>
              Jack’s island had no arrangements or treaties with any other country apart from Venezuela, protecting us
              with their military. We were an apolitical nation, not interested in other country’s politics, and we
              didn’t intend to participate in a political scene. We had no intentions to establish embassies or accept
              any from other countries.
            </p>

            <p>
              On Jack’s island, you could only be a citizen or a guest. There were no complex arrangements, diplomatic
              statuses and other nonsense. Those that didn’t like it were not invited. Our law applied equally to
              everyone, and those that broke it were kicked out for life. No courts, appeals or bargains. We had no
              jails or death penalties, just permanent banishment for any crime.
            </p>

            <p>
              Any citizen could open a business, but all the businesses were owned by the state and bank accounts were
              available only to citizens and local companies. The education was free and available to anyone, so was the
              medical care housing and pretty much everything else.
            </p>

            <p>
              You could decide to stop working, live out your life sunbathing on the beach or just be a mother, and it
              would be fine. You wouldn’t be homeless poor or treated as lower-class citizens. Most people, though,
              wanted to work and create something except that they had the freedom to choose what they did. No worrying
              about the money, which was a virtual concept anyway, effectively meaningless on Jack’s island. We used it
              mainly for internal accounting rather than wealth building. Everyone was given a happy life and security,
              whether a beach bum, a poet or engineer.
            </p>

            <p>
              The journalists were shocked. One of them commented that we created a super high-tech futuristic island
              perfectly blending with nature and wanted the whole world to leave us alone and forget we existed. Don’t
              call us, we won’t call you, kind of thing. If you think you should call, don’t. I chuckled, saying,
              “that’s exactly correct”. Everyone laughed. They kept grilling me for another two hours then the girls led
              them to the hotel, promising to show them the rest of the island the following day. Our guests will be
              here for a week. That’s how long it would take them to digest everything we built here.
            </p>

            <p>
              When we finally made it home, Charles met me at the door and took us around to show us where’s what. He
              told me the staff was very impressed by the house, a lot of it was incomplete, but the interior designer
              had a good look at my mansion back home and took ideas from there, applying it here except making it
              space-age modern instead.
            </p>

            <p>
              The servants quickly found their rhythm and continued working as if nothing had happened, smiling all the
              way. It helped that the layout of servants quarters was an exact replica of the one in the United States.
              If they didn’t walk outside, it would be impossible to tell. In a sense, they saw it as their last grand
              adventure, building something new, incredible, leaving their mark.
            </p>

            <p>
              They were all at least in their late forties, without any real families. All of them preferred staying
              together till the bitter end. I joined the girls on the terrace, and we looked at the ocean, all of us
              falling in love with a view of azure waters and white waves crashing against the cliff, caressing the
              sand.
            </p>

            <p>
              It took us a weekend to adjust to our new home. All my women brought children to the house to visit me. I
              was ecstatic with my identical nine daughters from the triplets who burst into tears, happy to see me. All
              three of them were pregnant again. There was a good chance of having one more set of triplets, which
              meant, soon enough, there would be eighteen of them.
            </p>

            <p>
              The girls cried for an hour in my arms, thanking me for everything I’ve done for them, praising our social
              order. They kept telling me stories about other girls jumping in to help. There was no way three pregnant
              teenagers could take care of nine crying babies without other women&#39;s love, help, and support. In
              fact, there were too many people willing to help, asking to cradle their little nieces.
            </p>

            <p>
              There was a healthy mixture of boys and girls. The girls outnumbered boys five to one, but I saw no
              problem. I expected that someday boys would follow my example and have big families.
            </p>

            <p>
              On Monday, I joined the journalists on a little trek through the island. The guides led us all over,
              showing us everything from the beaches to houses and bird sanctuaries. It was fun when peacocks came up to
              us and ate from our hands, posing their plumes like show-offs they were. The camera guys recorded all of
              that with smiles.
            </p>

            <p>
              During the breaks, the journalists kept talking with me, asking me about my philosophies. Some were out
              there, the others sensible. The week passed too quickly. I was beyond impressed by what the girls have
              done and the journalists even more so. In the end, one of them told me that we have effectively created a
              garden of Eden, admitting that she dug hard to find flaws that would make this just another utopia and
              failed.
            </p>

            <p>
              Everything just worked like it was the most usual thing. She said that the whole island looked very
              natural but was extremely high tech, finding wifi routers discretely placed all over the forest, the
              mobile signal was full strength everywhere she went although she couldn’t make calls, and she told me
              someone explained that the bracelets they were given on arrival helped pinpoint everyone on the island
              with incredible accuracy.
            </p>

            <p>
              It was impossible to get lost. I chuckled, saying that the bands were for guests only. The people here
              used smartwatches, phones or were directly chipped for that function. It was used to gain access to houses
              pay for what you needed, all with a touch of a hand, and nobody monitored anyone’s movements or actions.
              There was no big brother, but we could easily locate the person and help in case of trouble.
            </p>

            <p>
              Finally, on Friday evening, the news crews had to go. They left with tears in their eyes, begging us to
              call them again. Some of them jokingly asked for asylum, claiming that back home, they felt oppressed in
              comparison. A boat picked them up, taking them to Barbados, from where we got them tickets home.
            </p>

            <p>
              On Monday, the world watched as the ten largest news organisations in the world played their materials.
              They sliced and diced it in many ways, finally releasing ten different yet similar documentaries.
            </p>

            <p>
              At the same time, we released a full social media presence. The girls made their own documentaries about
              beaches and life on Jack’s island. The forums went online, the official island website and the girls
              spread the word on my personal social media pages.
            </p>

            <p>
              It was like a digital nuclear explosion. People from all over the world bombarded us with questions,
              asking us to visit or immigrate. A few governments contacted us to say hi, we said hi back some asked us
              if they could come for a state visit we told them that we’d love it, but at this time, the country was
              closed for foreigners until we finished the construction. They understood. Few governments asked about
              embassies, the girls politely declined. “Let’s be friends and keep it platonic. You have your country; we
              have ours. Let’s be pen pals”.
            </p>

            <p>
              The US government tried to establish an embassy as well, and we declined. Then they asked for military
              port presence. We refused, noting that we do not want any military presence near our territorial waters.
              They got slightly upset when we informed them we were allied with Venezuela. Suggesting that we choose
              friends with bigger guns, not in those exact words. We thanked them for the advice and hung up.
            </p>

            <p>
              A few other countries tried hardball tactics when the soft approach didn’t work. We hung up on them, too
              and ignored their future attempts at communication. They huffed and puffed for a while before realising
              that they didn’t really give a shit about some small island in the middle of nowhere and forgot we ever
              existed.
            </p>

            <p>
              This didn’t get unnoticed. Seeing our flat refusal to pander to big players, many smaller countries were
              happy to just be our friends. They offered nothing but their friendship, and we accepted offering the same
              back. A bunch of organisations like WTO and IMF, a whole alphabet soup, wanted us to join up. We politely
              declined, only accepting the United Nations membership and refusing to have a delegate in person. If
              anyone wanted to talk with us, they could skype.
            </p>

            <p>
              Big boys with bruised egos huffed and puffed some more, calling us a rogue state, danger to this and that.
              We ignored them, as did most of the other countries. Soon we became the most closed-off nation in the
              world, even more so than North Korea. Nobody knew anything more about us than we weren’t prepared to say.
              When they asked us, we told them it was none of their business if we didn’t want to tell them.
            </p>

            <p>
              Eventually, the novelty wore off, and they let us be. We were too small a fish to fry, causing too much
              headache with our petulance, not wishing to play by their rules, denying membership in all the clubs. As
              expected, all that were just words. Nobody did anything more than that. We were insignificant, a gnat on a
              dog’s ass.
            </p>

            <p>
              Immediately after the news broke, the models we worked with back home to produce marketing materials
              figured out why we were so secretive and why we wouldn’t tell them before we left. They were amazed at
              what we cooked up, all desperately wanting to join us, so we started bringing them in batches of hundred
              girls at a time, just as they started to ovulate.
            </p>

            <p>
              The girls came from all over the world. We would buy them tickets, and as they arrived, the girls would go
              through the immigration process getting microchipped, the DNA sample was taken, and they were given a card
              with a number which they were encouraged to remember. That was their identification code, and just like
              that, the girls became citizens of Jack&#39;s Island. We had no passports or driving licenses, or any
              other document. Everything was digital. Lola started bringing in bitches in batches of twenty, presenting
              them to me as they arrived.
            </p>

            <p>
              After a couple of months, our population was at five thousand girls and over three hundred kids. The game
              plan finally started to come out. In eighteen years, those kids would become adults and begin to multiply.
            </p>

            <p>
              Many girls studied genetics, hoping to eliminate potential deformations due to recessive genes since the
              kids would marry their half brothers and sisters. Even if we don’t find scientific ways, we could always
              import a fresh stock of breeders. It was, however, one of our highest priorities, getting the genetics
              licked. The generation following them, my grandchildren, would all be directly related to each other, all
              of them carrying my genes.
            </p>

            <p>
              It is at that point that our master plan will come to fruition. Some thirty-six years from now, we would
              have a large genetically advanced population. It would all lead to me, a single source of superior genes
              which I inherited from my biological father.
            </p>

            <p>
              We kept that secret carefully hidden. Most outsiders wouldn’t understand, and some overzealous ones might
              cause more problems than we could handle because, at the moment, we were still small and exposed. The
              whole genetic purity sounded like bullshit, leaving a nasty aftertaste in most people’s minds, bringing
              memories of terrible times of human history, but it wasn’t about that. The breeders came from all over the
              world. They came from all colours, cultures and backgrounds. In fact, the girls went through great lengths
              to ensure we had a wide genetic sample from as many races and backgrounds as they could find.
            </p>

            <p>
              It wasn’t about them but about me. My genes were special. A long time ago, there was an experiment with a
              scientist attempting to create a superhuman. He failed and disappeared. His plan and his dream vanished,
              but I remained, one of his children. I carried those same genes inside me. I could produce sperm in almost
              endless quantities, at last measurement about a gallon per orgasm. This in itself would be impressive, but
              that was the smallest change in the grand scheme of things. My sperm acted like a powerful
              neurotransmitter. In contact with women, it gave them the most intense terrible orgasms that lasted hours
              at a time.
            </p>

            <p>
              This sperm, in fact, was the key to my cottage empire. I was able to bottle it, sell it with high profits
              and finance the creation of the island. Even now, there was a fully automated factory on the industrial
              estate at the other end of the island. It made millions of gel capsules, each containing a single drop of
              my sperm. That one drop, once ingested, would set a woman into a terribly violent, screaming orgasm
              lasting for twenty minutes. Those pills sold at thousand dollars each, and we sold them faster than we
              could make them. The super-rich women or those with rich husbands bought whole bottles for hundred grand,
              lasting them three months, then they would come back for a refill.
            </p>

            <p>
              Those were some of the most directly visible traits of my unique DNA. The sperm and orgasms were, in fact,
              undesired side effects of the superhuman project. The real stuff was a little more subtle; I was born with
              significantly increased intelligence. I was extremely fast, and my body would heal incredibly quick.
            </p>

            <p>
              In my whole life, I was never sick. A cold or flu couldn’t touch me, and I suspected that I was immune to
              most other diseases by having a supercharged system. Those were the genes worth keeping, which brings us
              back to building a genetically pure society. All my kids will be super smart, healthy and capable, and
              their children would be exactly like me as long as they marry and reproduce with each other. They would
              eventually give birth to a new superhuman race.
            </p>

            <p>
              We would be just like most people, only a little better, a little smarter, a little ahead. At that point,
              we could begin to spread and, in three-generation cycles, pass on better genes to the rest of the people,
              teaching them all along about our ways. That was the plan and why it was essential to deal with genetic
              issues early. We had eighteen years to sort it out, and the clock was ticking.
            </p>

            <p>
              I would often sit down and talk about the morality of what I was doing with my girls, and it was a moot
              point. I learned that sometimes the end justifies the means. Certainly, many have done much worse things.
              From early ages, conquerors through inquisition and theocracy used violence to subdue people in relentless
              conflict. Daily propaganda and endless wars kept the world in constant fear.
            </p>

            <p>
              This was, in fact, the crux of the problem that the mad scientist tried to fix. In capitalism, countries
              are ruled by one thing; capital. The supermassive corporation conglomerates with invisible tentacles
              exploited nature and whole countries to rule them. Any attempt to move forward was stifled by corporate
              power.
            </p>

            <p>
              One can’t fix the planet or affect change by fighting such an uphill battle. They sponsored the
              destruction of forests, climate, famine, stole people’s food and water, they constantly financed wars
              because it was good for their profits. The corporations had a chokehold on banking, housing, media and
              medicine. You can’t fight them on equal footing, so the scientist came up with a different strategy, which
              laughed him out of academia, sponsored by the companies.
            </p>

            <p>
              We bombed half the middle east, killing hundreds of thousands, displaced millions, affected lives of
              billions, all in pursuit of spreading our ideology, the corporatocracy. We masked it as the will of the
              people, calling it progress and democracy.
            </p>

            <p>
              Humanity went from slavery to feudalism, through industrial revolution into a plutocracy, finally into
              consumerism and corporatocracy where the world was ruled by companies supported by indentured servants
              enslaved by financial system threatening them death by homelessness if they raised their heads.
            </p>

            <p>
              The daily propaganda kept drumming the word “democracy” into everyone’s head until everyone believed they
              had a voice. People voted for one causing less damage because everyone knew there was no choice. The plebs
              voted, but those in power counted. Ruled by the ruling class born into power, bred by those who ruled
              before them specifically to rule us again. A small club of enslavers sat on their high horses wielding a
              proverbial whip in their hands. They called it a &quot;project fear&quot; because people are obedient when
              afraid. All of them comfortably sat in the pockets of corporations owned by a handful of individuals
              nobody ever heard about.
            </p>

            <p>
              Us, the plebs, we empowered them with our sweat, blood and tears, but hungry mouths always want that
              little more till teat dries out and they get rid of the corpse. They called it globalisation; one people,
              one nation, one leader. It was the ideology copied straight from Mein Kampf. The words change, but the
              music stays the same.
            </p>

            <p>
              Having a united world without borders allowed its true owners to operate their multinational conglomerates
              unchecked. It is them who actively hindered progress. They were the ones dragging the people down in the
              name of commerce. There was no profit in closing factories, moving off fossil fuel and solving the
              problems that endangered millions of people. They stood in the way of human progress, and they had to be
              removed, but how does one remove a hydra’s head? Where you cut one, seven emerge.
            </p>

            <p>
              I thought that in the grand scheme of things, the questions about the morality of my actions were just a
              pile of bullshit. Tens of thousands of women begging me to come live on my island agreed and believed in
              what we did and wanted it. The only people who vehemently disagreed were the ones threatened by us, and
              they would do anything to stop us, so we guarded all of our secrets.
            </p>

            <p>
              The island was big enough to cater for a population of some three hundred thousand people, so we weren’t
              all that worried about overpopulation just yet. Three major grasslands were left untouched to build large
              housing estates if we needed to grow to those numbers.
            </p>

            <p>
              Lola got us a few more doctors and nurses. The hospital could now easily handle all the births without
              stress. All the immigrants sent us their complete medical records to be granted citizenship, so we knew
              not to import some infectious diseases. The girls made money; they spent money. It all went in circles,
              but those were just numbers being shifted around. Very little money actually left the island, mostly for
              food that we imported and, of course, the island development fund.
            </p>

            <p>
              Three months after we moved, the orgasm pills business made us half a billion in sales every month. That
              was more than we could spend, including all the construction going on. The projections showed that all the
              planned work was to be finished in the next three months. When the construction companies leave, it will
              be just us.
            </p>

            <p>
              Back at our old home, we retained the stockbroker and obviously Mr Quince, my trusted lawyer, one of the
              best friends of my late grandfather. Both were on the lookout for promising tech companies.
            </p>

            <p>
              Our IT team by now was experienced enough to recognise a dud, so we picked and chose the companies we
              liked, investing in them or buying them outright and bringing the tech and intellectual property to the
              island. The girls grew the teams, and with more women joining us, we steered them to sciences.
            </p>

            <p>
              Lola took another clearing and constructed another large, oval glass building which became our education
              centre. She looked far and wide and found a bunch of bitches with advanced degrees in just about every
              subject. She specifically targeted the beautiful geniuses that nobody took seriously because they were
              pretty, and she told me there were plenty of those.
            </p>

            <p>
              Being sexually attractive doesn’t make you stupid, but it makes the people assume you are, marginalising
              the pretty girls into sexualised roles no matter what they had in their brains. Lola poached them from the
              world’s best institutions with a promise of a better life, and they all fell in line, submitting fully
              after a few months of training.
            </p>

            <p>
              It all started back home with Lola calling herself a bitch, begging me to take her into my service after
              experiencing an orgasm induced by my sperm. She said that she would do anything, serve me completely.
              She’d still be a bitch, but she’ll be mine, calling me master. I thought it was kinky and exciting at the
              time.
            </p>

            <p>
              The next day she came back with the words “Jack’s Bitch” tattooed just above her shaved pussy, telling me
              she belonged to me. I kissed her tat and loved her for it. She had some really hardcore bizarre fantasies
              that kind of turned me on. As the time passed, she proved herself as one of the most capable impressive
              and loyal women I’ve ever met, and all she wanted was to serve me, be mine.
            </p>

            <p>
              She must have heard me well when I praised her, telling her she was the most amazing girl, one of a kind,
              and I wished there were more of her. The world would be a better place. In her kinky perverted mind,
              playing right into her fantasies, she seduced a whole bunch of other girls, presenting Vanessa and a few
              models as my new bitches for my last birthday. All the girls wanted a simpler life, dedicated to me and my
              goals, serving me in anything I wanted. What healthy teenager could refuse a gift like that?
            </p>

            <p>
              This stopped being funny a long time ago, and the whole bitch-thing disappeared, yet the name and the
              process remained the same. Hundreds of women wanted to dedicate themselves to me, follow me, serve me and
              do anything I said. They wanted to be my bitches.
            </p>

            <p>
              Many times I spoke about it with Lola and the rest of them. They told me it feels kinky, allowing their
              repressed selves to come out, releasing the worries of the world. All they cared about was serving my
              will, the rest didn’t matter, and they slept well. Slowly our relationship changed, and although the girls
              still called themselves bitches, they were, in fact, my faithful soldiers, the hands that did my bidding.
            </p>

            <p>
              Lola used the learnings and created a process for scooping up all those disenfranchised ladies with a deep
              inner world struggling with an oppressive society and trained them to let go, becoming my bitches. This
              morphed now into a recruitment process whereby Lola could target specific women bringing them into our
              society with a defined purpose.
            </p>

            <p>
              Unlike the breeders who came in search of a better life and being mothers, the bitches came pursuing
              meaning and happiness, focusing on a singular mission of serving, dedicating themselves to whatever I
              said. The latest batch Lola brought were the scientists, and I ordered them to become researchers and
              teachers. I wanted the best of the world in any subject to teach my people and me. I didn’t want just
              career teachers. I wanted the incredible, beautiful-mind people focused on their research, taking some
              time in between to share their knowledge and experience.
            </p>

            <p>
              By next summer break, I switched from my university to the one on the island. All that we did was
              published on social media, and a bunch of people wanted to come study with us after seeing the academics
              and experts we gathered. We told everyone, “maybe next year”.
            </p>

            <p>
              Sitting with over a hundred scientists bitches we talked and reformed the whole education system. The one
              in America was badly broken and failing. It was a bad example to copy. None of us intended to go back,
              which meant the whole degree system was pointless for us.
            </p>

            <p>
              Immediately we dispensed with the old archaic learning model, kindergarten, school, high school,
              bachelors, masters and doctorate into a unified system, calling it school. The children would start at the
              ages of three. That’s when I learned how to read. Based on their level of progress, the kids would climb
              the floors of the school building. The more they would learn, the higher they would climb, with the
              hardest subjects being on top. We used the level rather than the degree of education to measure progress.
            </p>

            <p>
              Each floor of the school would be split into two parts, theoretical and practical. The students would be
              given real tasks to complete on the level of their learning, be it a finger painting or working on a cold
              fusion project. There were no degrees, no accolades and no online learning. We wanted to encourage the
              children to mingle and motivate them to distinguish themselves with their projects. No goals, no pressure,
              no threats of being poor with bad grades. The only person they would compete was with themselves, and if
              they wanted to spend more time with their friends, they’d put on pressure to catch up to the others when
              they went upstairs to the floor above.
            </p>

            <p>
              As the summer breaks began, strangers started appearing in their yachts and boats, wanting to check out
              the island. By now, we have trained our own security teams, all-girls organised by my dad, the island’s
              sheriff.
            </p>

            <p>
              Every time someone would come close to our territorial waters, they were intercepted by our electric
              speedboats and warned that if they proceeded, their yacht would be sunk, and they would be left to drown.
              No attempts would be made to save them.
            </p>

            <p>
              As the summer went on, the breaches increased. They were, however, clever enough to not test our resolve.
              One day some sort of armoured military vessel with no flag started to approach. The girls intercepted it
              and kept sending them warnings. They would not stop and would not change course.
            </p>

            <p>
              Angie, whom I appointed the governor of the island, called our military contacts in Venezuela, asking them
              if it was one of theirs. They declined, having no idea of who might it be either.
            </p>

            <p>
              The girls stopped the interceptor boat right on the edge of our territorial waters, signalling on all
              frequencies and shouting with a bullhorn in English and Spanish for them to stop. They had to move out at
              the last minute, or the ship would ram and sink them.
            </p>

            <p>
              As the boat crossed into our territorial water, out of the forest, a single rocket was fired from our S400
              system and a few seconds later detonated against the boat, which took a few minutes to sink. All of that
              was captured by our six drones flying at various altitudes, streaming all of it on social media.
            </p>

            <p>
              Twenty minutes later, some military planes were noticed on our radar, and girls broadcasted on all
              frequencies for them to not enter our airspace or they would be shot down. They didn’t respond but didn’t
              come any closer either, just circled a few times and left.
            </p>

            <p>
              We doubted it was one of the local islands as we’ve developed a good trading relationship with all of
              them, especially Barbados. All that we bought had to be imported. Sure we could import directly from
              manufacturers at lower rates. Still, we chose to use our neighbours’ exports and infrastructure as a token
              of respect and friendly relations, and they understood that.
            </p>

            <p>
              We spent millions each month, and those millions ended up in their accounts. The incident, however,
              stopped the tourists from trying to get to the island, realising that we actually had the means to sink
              them and enough resolve to do it.
            </p>

            <p>
              I celebrated my twentieth birthday outside my villa with fifteen thousand girls. We would have a barbecue,
              but open fires were forbidden on the island. Only a few buildings had kitchens, and those were all
              exclusively electric, with no gas or coal on the island. Not even a single match or a lighter.
            </p>

            <p>
              Nobody cooked in their homes. If people wanted to eat something, they would just order it, and a central
              restaurant group would prepare it. If you lived in a hotel, the hotel kitchen would do it. Mostly the
              girls just went out to eat. It was the opportunity to enjoy the island and mingle build relationships with
              the rest of the family, and everyone used it.
            </p>

            <p>
              Sometimes I liked to sit in a cafe watching the girls meet for the first time, knowing that they were
              related by the children they carried inside them. The best were the newcomers’ faces. My favourite moments
              were when it just clicked for the new girl that had just arrived. The expression of shock on her face when
              it truly sank in that she was home and all the people there were not strangers. They were her family and
              her sisters, and she truly belonged.
            </p>

            <p>
              Usually, a girl would cry while the others would hug her with smiles, all of them ending up giggling
              together having a family dinner. Black, white, Asian, purple with polka dots or fluorescent stripes; the
              race didn’t matter or previous life. They all left from somewhere to become islanders. Whatever happened
              before, whoever they were, didn’t apply anymore. They made a conscious choice and changed their life. They
              kept in touch with their old families, burning up ether, often convincing their cousins and sisters to
              apply for immigration to the island.
            </p>

            <p>
              All the restaurants pitched in for my birthday party. Making food for a group this large at the same time
              was a challenge. As we ate, I looked at all of them; most were visibly pregnant. It was hard to believe
              that I managed to breed thousands of women in such a short time, and in less than a year, our population
              would double.
            </p>

            <p>
              I created my own tiny nation. The girls saw the vision clearly now, even without explanation. We were a
              nation of people related to each other through blood. This was one reason why it was impossible to just
              immigrate to the island and become one of us. The only way was to have my child, who would have the same
              father related to all other children. All children will be exceptionally beautiful after their mothers,
              and they will carry my dominant genes.
            </p>

            <p>
              Every day I would go to work. My job now was to evaluate investment opportunities. Anything high tech we
              could get into our hands, we just bought, no matter how crazy it seemed. We looked at it, and if it made
              any sense, we’d just snatch it. We had half a billion to burn every month on any kind of promising
              research.
            </p>

            <p>
              Lola had a whole team of bitches turning every stone looking for beautiful geniuses. She contacted all the
              universities looked into large corporations and research centres. Wherever she found a girl like that, she
              would research her, find her buttons, push them, and slowly bring her into the fold. Lola turned it into
              an art. Every week she would import at least ten new scientists that finished training and gifted them to
              me. All the girls were fanatical about me and spent days focusing on whatever research they were
              interested in.
            </p>

            <p>
              At one point, I got inquisitive and asked Lola how she managed to do that. With a wicked smile, she said,
              “I cheat”.
            </p>

            <p>“What do you mean? Cheat how?”</p>

            <p>
              “I tell them about how wonderful life here is, then I tell them how amazing you are, feeding their sexual
              fantasies with explicit stories. Invariably they always asked me how it is to be with you, and I send them
              one weaker pill with your sperm that doesn’t make them cum but makes them insanely horny. I send them your
              videos and of your cock plus videos of girls orgasming when you fuck them, and they masturbate. After
              their first incredible orgasm, I feed their fantasies, creating obsession until they are ready to do
              anything just to be with you. That’s when I promise to make it happen if they follow strict training that
              includes all sorts of psychological exercises from affirmation to sleep deprivation supported with more of
              those pills. After three months of relentless brainwashing, they’ll all jump in front of an oncoming train
              to be your bitches. As a final test, I ask them to tattoo their pussies, and as soon as they do that, I
              buy them plane tickets.”
            </p>

            <p>
              I looked at her agape. I didn’t know if I was surprised, shocked, appalled or impressed. This girl didn’t
              do anything half measure. Lola was always full-on, guns blazing no matter what happened. In the end, I
              burst into laughter, shaking my head, blaming myself. I enabled that craziness. I gave her the means and
              opportunity to do what she liked, and she went nuts. Again thoughts of morality flashed through my mind,
              but seeing all those happy faces, I shook my head, thinking, “whatever”, kissed Lola for all she’s done
              and went about my business.
            </p>

            <p>
              We had a breeding stock of fifteen thousand super beautiful women. I handpicked them as the most beautiful
              of the gorgeous, most of them fashion models with amazing bodies and perfect curves.
            </p>

            <p>
              Now I wanted five thousand beautiful, brilliant geniuses in whatever subject, especially sciences. After
              the critical mass was achieved, Lola didn’t have to look for the girls. They started looking for us. It
              didn’t take too long for super clever girls to figure out what we were doing, sucking up all the beautiful
              talent in the world.
            </p>

            <p>
              They wanted to be a part of it and started sending us essays about how they could benefit us and the
              island, in which way they could make it a better place. I had to make a few notable exceptions to the
              beauty rule a few times because the women were beyond geniuses. Their mind knew no bounds. They might not
              have been gorgeous, but boy, were they smart. Lola just trained them and sucked them in from the far
              reaches of the planet. Companies worldwide were losing the best people, not knowing where they went. They
              just dropped off the face of the planet.
            </p>

            <p>
              My girlfriend Ivy, who was now pregnant, got in touch with her hacker buddies and sent a hundred girls to
              Lola for training in one month. She was one of my most dedicated girlfriends. I remembered with fondness
              the first day we met. When she appeared at my office, asking to be my sex slave, she looked plain. We made
              the deal that I’d take her and give her huge silicone tits if she became the head of my IT, and we had a
              deal.
            </p>

            <p>
              Since she got her tits, she changed a lot, and now that she was pregnant, she changed even more. Just like
              her best friend Amy, my raven-haired sex slave goddess, Ivy came up to me one day, telling me she wanted
              to be my girlfriend and not a sex slave anymore.
            </p>

            <p>
              I hugged her tight, telling her, “I love you so much”. I knew she would grow out of the whole fantasy
              lifestyle. She still liked pain and heavy rough sex, but she stopped wearing a collar and sleeping in a
              doggie bed. She slept on a bed now, wrapped tightly around me, whispering every night how she loved me
              until she fell asleep.
            </p>

            <p>
              A few months later, the hacker girls arrived, begging to be my bitches, and I accepted them all, handing
              them off to Ivy. She led them to her lair, and girls nested around computers day and night.
            </p>

            <p>
              Every day someone would get a new idea. Some were reasonable, and others out there, the teams talked about
              all of them and worked out the feasibilities. If it was doable, they’d test it. By now, the hacker girls
              had a massive library of intellectual property we acquired from all the firms we invested in or bought
              outright. All that fuelled their imagination. Ivy told me she was living a dream, a sentiment shared by
              all other hacker friends.
            </p>

            <p>
              We promised our members that we wouldn’t forget them at our last party and stayed true to our promise. We
              were in touch with them, and they wanted to visit us.
            </p>

            <p>
              When the summer holidays finished, all four hotels were fully completed. There was a large construction
              crew left finishing out a few other buildings like the research centre and a bunch of smaller projects,
              but they took the roundabout routes, so workers were seldom seen. Their bosses made it painfully clear to
              avoid everyone and never come to town.
            </p>

            <p>
              We started bringing the members to the island in hundred people batches, and they stayed with us for a
              week for free. They joined the tours but really loved to hang out on beaches and public places. In the
              first month, we had three thousand of them visit, none of them wanted to go back home. They all said we
              created a perfect synergy between nature and technology.
            </p>

            <p>
              The air was super clean, there were no pollutants, and everything was accessible. The science centres
              filled up quickly with beautiful geniuses, most of them pregnant. I debated for the longest time with my
              girls about letting more foreigners in. Finally, we decided on the protocol and opened the country to
              outsiders.
            </p>

            <p>
              We charged a hundred grand a week for a unit, be it a single person or a family attached to that person.
              Immediately the super-wealthy lined up to visit. At the time of the booking, the girls made them
              understand, sign and agree to the island&#39;s rules like no littering, no fire, no cigarettes and
              similar. They all understood why we asked them that and readily accepted the terms.
            </p>

            <p>
              The girls bought ten large sailboats and brought them over, learning to sail in the process. They extended
              the tour with a little excursion, a trip around the island. Single tourists and couples we placed in
              hotels and families in bungalows.
            </p>

            <p>
              My first girlfriend and island’s governor Angie and I talked for a long time, deciding to begin inviting
              dignitaries. We started with Venezuela as our most important friend and partner. The rules applied to them
              too, no guns, no protection details, just them. It was highly unusual, but they knew all they needed to
              know about us, so they weren’t scared. The president joined us for a week with his family. He could
              efficiently run his country through our advanced communication facilities in an emergency. None of that
              turned out necessary.
            </p>

            <p>
              They arrived with a private yacht and parked in our marina, then we took them to their villa. Nobody else
              from the ship was allowed onshore. They spent a week with us, enjoying our hospitality before heading
              back. We recorded a lot of that with drones and pushed on social media, sharing plenty with news agencies.
            </p>

            <p>
              We extended the invitation to all our neighbouring countries they all accepted. The big powerful countries
              like the US declined due to security concerns. We understood that, but we didn’t allow any weapons on the
              island. The majority of small countries didn’t mind. Younger members of the UK royal family accepted our
              invitation and visited us as well.
            </p>

            <p>
              In three months we were visited by pretty much all smaller countries in the world and some bigger ones.
              Japan had no problems with the rules. Neither did Koreas or Iran, even India and Australia, and all the
              European countries.
            </p>

            <p>
              The only superpower that accepted our invitation was the Russians. I met everyone who decided to come,
              inviting them for dinner at my house at least once during their weeklong stay. After all, I was officially
              the king. We didn’t talk politics or trade, just a friendly chit chat to get to know each other as people.
            </p>

            <p>
              Our tiny nation had zero interest in any sort of politics. If you want to talk with us, come as a friend.
              That attitude worked, and we made some fantastic friends in the process. Most importantly, they saw we
              were no threat, an island without even fire populated by a bunch of pregnant women and little children.
            </p>

            <p>
              The stories that came out percolated the world for a month. One of the news companies called us The Island
              of Peace, which took a life of its own. For a brief moment, we were a shining beacon of hope. We had no
              military, no police, no homeless, drugs, taxes or crime.
            </p>

            <p>
              All that people could see on the TV was a bunch of happy faces and giggling kids, not to mention a whole
              lot of sexy bodies wearing mini skirts or walking around in bright bikinis. The beaches were beautiful,
              endless with white coral sands and barely any waves. A changing room, shower and little footpaths could be
              found every hundred yards leading to hotels. It was a common sight to see a large macaw land on someone’s
              arm and have a bite of fruit or a nut. The peacocks walked around the place like they owned it, boasting
              their gorgeous plumage.
            </p>

            <p>
              I hadn’t seen my dad in a while, so I invited myself to his place. His wife Nancy was heavily pregnant,
              barely moving, about to drop. Her daughter Susie moved back in with them to help her mother, impatient to
              meet her little brother. She squealed in happiness, almost breaking half the plates at the dining table,
              seeing me enter their house.
            </p>

            <p>
              Knocking wasn’t really a big thing on the island and nobody ever minded. Nobody ever locked the doors
              anyway. Susie hung herself around my neck, kissing me like insane. “So, I gather you missed me a bit?” She
              punched my shoulder, trying to tackle me with a squeeze so tight anaconda would be proud of the technique.
            </p>

            <p>
              As soon as she let me get my breath, I greeted everyone waving from the doors, pointing at the constrictor
              monster attached to me like a limpet, squealing like a piglet before being fed. My dad got up and shook my
              hand. Nancy tried to lift herself from a chair a couple of times and gave up, just telling me how glad she
              was to see me. She looked ten years younger. Moving to the island removed all her stress. Dad looked
              younger as well, wearing a big smile. I wanted to ask them what those two were up to, but that would be
              redundant. It wasn’t all that hard to imagine.
            </p>

            <p>“How is it to be island’s sheriff, dad?”</p>

            <p>
              “Perfect, son. Very boring, and in my business, boring is good. I want to be the most bored man alive”, he
              said, chuckling, winking at his wife. I had a pretty good idea of what he did with all his extra time. He
              told me about some changes to the police procedures. “I spoke with the highest levels of government”, he
              said with a smile, which only meant he had a cup of coffee with Angie. “We decided to get rid of all the
              firearms”. He showed me his holster, containing a taser gun. The problems with guns were the bullets,
              storage, security and so on. Since there was no crime and technically firing a gun made a fire, it was
              breaking the law, so he got rid of all of it and felt good about it.
            </p>

            <p>
              The plane and the S400 batteries dotted around the island were the only flammable things covered by a
              forest. The ten girls that worked in island security regularly visited them. There were no footpaths
              there, and the girls moved them on a regular basis to avoid someone stumbling on trucks full of missiles.
            </p>

            <p>
              “When are you due?” I asked Nancy. She sighed deeply, rolling her eyes, exasperated, saying, “last week”.
              The baby was late, but the doctors said everything was okay. The little one just liked mooching of his mom
              for a little longer. Susie came from the side room, bringing me a little wrapped bundle of joy, my
              daughter Susie-Two. “Stop calling her that. She has a name”. Susie said with mock anger, punching my
              shoulder hard. “Okay, okay, give me Nina-One”. Susie lifted her fist, threatening to punch my face, but I
              lost interest. All my attention was on Nina, my beautiful daughter. She looked so cute and innocent. “When
              she grows up and marry your new brother Ethan, and they have a son, would he be your nephew or grandson?”
              Everyone exploded, especially Nancy, threatening to beat me up. “I’m sorry, son, but if you don’t stop
              joking like that, I’ll have to shoot you, or I’m never going to get laid again”, dad said with a chuckle,
              causing Nancy to finally get up and start screaming at him, punching his shoulder until at one moment she
              squealed, grabbing her belly, yelling “my water broke, quick, quick, help”.
            </p>

            <p>
              I texted on my phone, and within ten minutes, an electric medical van was outside with two nurses helping
              Nancy inside. Our eyes met, and I shrugged. “See, it’s good when I come. I am glad to help”. Nancy gave me
              a dirty look, calling me a bastard, then smiled, mouthing “thank you”.
            </p>

            <p>
              Lola grew up on stories of Atlantis, the lost city. When I gave her the island, it sparked her
              imagination. Sitting down with the architects to design the town, all the buildings, houses and
              restaurants, she bombarded them with the ideas, giving them hundreds of drawings depicting how the ancient
              city might have looked. As a result, starting from zero, the architect organised the town in a hub and
              spoke pattern with circular streets going between sections counted from the centre with all the facilities
              intersected by small streets going across.
            </p>

            <p>
              The cleverness of that design was that it was almost impossible to get lost in town, and everything was
              near. The ambulance brought Nancy to the central building in minutes. They could have as well carried her
              there, thanks to the simple, accessible street structure. Constructing all those streets was a senseless
              expense, but it made Lola happy and everything extremely accessible. For some reason, she disliked a grid
              style of urban planning. I had to admit after moving to the island that I agreed. This felt much more
              friendly and intimate.
            </p>

            <p>
              She did a million areal photos of the town, sharing them online with millions of fans of the Atlantis
              myth, and they thanked her profusely, giving thousands of suggestions on how to improve things and put
              what where. Some of them contributed a whole lot of artwork inspired by the island, from traditional
              stone-looking places to super modern space-age buildings inspired by science fiction. Lola told me once
              that there is a mile-long queue of people begging her to help them visit or immigrate. All of them wished
              to see a town designed like Atlantis, and the fact it was on an island just made it juicier.
            </p>

            <p>
              Dad went with Nancy into the hospital, leaving me with Susie and baby Nina alone. “We miss you, Susie. You
              know that you are one of my girlfriends. It’s not the same without you.”
            </p>

            <p>“I miss you too. I just wanted to help mom with the baby.”</p>

            <p>“We know that, but it doesn’t make us miss you less.”</p>

            <p>
              “Jack, I want to have another baby”. I hugged Susie, kissing her. Her body has changed so much since I met
              her. The pregnancy grew her breasts, and she was nineteen, so with rigorous training after giving birth,
              she looked hotter than ever.
            </p>

            <p>
              Susie was a bit self-conscious about a few stretch marks on her belly, so she trained like a demon,
              resulting in a five-foot-eight, slim, busty, blonde sex kitten with blue eyes and kissable lips. When I
              first bred her, she was a bit plain, still growing a late bloomer, but now that flower has blossomed. She
              was easily as beautiful as any of my girlfriends, except June, who was in a league of her own, looking
              like the goddess of fertility sex and stone-hard erections.
            </p>

            <p>
              “I’d love to have another child with your Susie. Why do you even ask? Look at this little angel we made
              together. I can’t wait till she grows up so I can tell her how much I love her. Tell me next time you’re
              ovulating. I’ll drop what I’m doing, and we’ll make another one just like this cutie”. Susie hugged me
              tight, playfully biting my shoulder, looking at me with a mischievous grin and winked.
            </p>

            <p>
              “What? No! Don’t tell me. Did I step in it again? You are ovulating now?” Susie’s smile got bigger. With
              eyes open like saucers, she frantically nodded her head, finally opening her mouth, showing her cute pink
              tongue, panting like a dog waiting for a cookie with a squeal.
            </p>

            <p>
              I burst into laughter before slapping her sexy bubble butt, “you little minx. Come on, I have an idea”.
              Getting out of the house, I stopped the first girl I saw, handing little Nina to her, “please take care of
              her while we’re away”. The girl smiled, cradling the baby, cooing at her. Within seconds a small group of
              pregnant girls surrounded them, all wanting to have a go at holding their niece.
            </p>

            <p>
              Susie and I detached a couple of electric scooters and raced to the docks like crazy, taking shortcuts. It
              took us only thirty minutes to get there. Attaching the scooters to charging stations, we went to the
              first available yacht with two bitches manning it, sunbathing on the deck completely naked. “Anyone up for
              a little excursion?”. Both of them jumped up, quickly saying, “me, me”. By the time Susie and I boarded
              and undressed, the bitches had already pulled out using electric engines, turned around and set sail.
            </p>

            <p>
              We had a fleet of dozen sailboats, four catamarans and six electric racing speedboats used by the border
              patrol. All sailboats were fifty-one feet luxury yachts made in Germany. We had a good relationship with
              the country’s chancellor, who visited us and helped negotiate a great price. Since the island was so much
              in the news, they gave us the yachts at costs if we committed to only carrying their brand. It was an easy
              deal to make. The sailboats were superb.
            </p>

            <p>
              This was only the fourth time I was on a sailboat, but the first time I was there without a tour guide or
              guests. “Where should we go, captain” one of the girls asked. “Surprise me, somewhere nice”.
            </p>

            <p>
              The girls giggled, plotting the course. I sat on a nice wooden deck, enjoying the sunshine and light
              summer breeze, watching the beautiful white sailboat cutting water. I never fully relaxed on a boat like
              this, and the feeling was incredible. I knew at the moment that I had found my bliss. I always loved the
              water and had a thing for boats but never even imagined it could be like this. Some twenty minutes later,
              I stirred from my daydreaming interrupted by splashes of water, noticing a school of dolphins racing next
              to the ship. Some of them jumped and dived along the way.
            </p>

            <p>
              I never saw a dolphin in real life, only in a zoo, and they looked sad. These fantastic creatures looked
              happy and free. I immediately fell in love with them. Soon I noticed where the girls were going, finally
              understanding about the windmill beauty. The boat zigzagged between the poles supporting tall white wind
              power generators. The sight from below was amazing. I couldn’t believe how gorgeous it was.
            </p>

            <p>
              “I made this”, I muttered, awed by the magnificence of what we created. This wasn’t some island on a
              computer screen or a piece of paper. It was real and tangible, so beautiful. It was only at that moment
              that I experienced what all those thousands of girls felt. The reason why they wanted to come to Jack’s
              island.
            </p>

            <p>
              Until now, for me, this was like a game, a stepping stone in a big plan, but for them, it was magic,
              creation, hope. They all wanted to be a part of this incredible thing. I wasn’t just building a country
              and breeding a nation. I was creating hope, a beacon of a brighter future.
            </p>

            <p>
              Turning around, I saw the two girl’s awed faces. They’ve been this way countless times, yet they saw what
              I saw and felt content. This was a dream come true, and they were a part of history now. The first people
              to walk the island when it all began.
            </p>

            <p>
              Taking a bottle of sun lotion, I approached Susie and gently rubbed it into her supple body, massaging it
              into her heavy tits. As I squeezed harder, pulling on her nips, I saw a few drops of milk dripping out.
              Unable to resist, I placed my lips around her nipple and had a taste of human milk. It was sweet and
              different but nice and hands down the most erotic milk I ever tried. If milk could even be considered
              erotic in the first place.
            </p>

            <p>
              There were so many things I found erotic all of a sudden. The sun, the sea, the boat and especially the
              gorgeous, curvy lactating teenage blonde sprawled naked on brown wood, her browning skin glistening with
              oily sun lotion.
            </p>

            <p>
              My cock got hard like a titanium rod, my nostrils snorting like a bull. I fucked thousands of women in
              daily breeding sessions, and that was fun, but this was great. I don’t remember when was the last time I
              was alone with a single woman. Now, in this beautiful spot, here she was, and she was perfect.
            </p>

            <p>
              Susie opened her eyes to meet mine. With a big smile, she told me, “I love you, Jack, with all my heart”.
              I kissed her passionately, feeling her milk run between my fingers as I squeezed her tit. Her muffled
              moans came through her nose. She lifted and spread her legs, wanting for cock. As much as I wanted to fuck
              her more than I wanted air. There was something else I wanted to do first.
            </p>

            <p>
              Sliding down her body, I buried my face into her pussy. Usually, I didn’t have time for this, but this was
              my day. I licked and slurped her magical pink softness, enjoying every bit of her taste, savouring her
              smell. This woman was mine; I took her virginity. She never had any other man but me, and she smelled like
              it. With my tongue, I attacked her clit and somewhere in the distance, I heard her scream. I didn’t pay
              attention or even care. This was for me, all for me, and I intended to enjoy every second of it.
            </p>

            <p>
              I lost track of time; was it minutes or hours? I didn’t care; I was having so much fun. I ate my woman’s
              pussy, feeling her shudders, feeling her pussy muscles contract around my tongue. I never fucked Susie so
              much or for so long. She took her own virginity, impaling herself on my cock. I never had a chance to give
              her a first time, and now she was alone with me, and she was mine.
            </p>

            <p>
              I loved her guttural growls and pants, her little squeal and yelps. Most of all, I loved to watch her legs
              shake in muscle exhaustion from orgasmic pleasure. I kept sucking and licking her until I couldn’t take
              anymore. Climbing on top of her, I gave Susie another kiss. Her eyes were glazed and defocused, she was
              almost gone, but I was just starting and wanted much more.
            </p>

            <p>
              Rubbing my cock against her tight pink slit, I pushed my cock in bit after bit. All Susie could do was to
              moan back, her muscles already exhausted from orgasm attack. Slowly at first but picking up speed, I
              pumped her tiny pussy with my fat eleven-inch dick. In and out, I pistoned without mercy until her body
              convulsed, and she let out a scream. One time, two times, three and four. I kept fucking her from one
              orgasm to another.
            </p>

            <p>
              All that fucking and breeding I did every day made me into a bit of a master of controlling myself. I
              ploughed Susie’s delirious body without mercy or pause, mauling her milky tits gnawing on her nipples,
              drinking her motherly essence. Her chest was covered with milk rolling away from powerful thrusts I made.
              For over two hours, I pumped her semiconscious moaning body on the verge of fainting.
            </p>

            <p>
              I didn’t have enough; I could never have enough of Susie, her sweet baby face and gorgeous curves. Her
              deep eyes looked at me with so much love and lust. I wanted to continue forever and die with my cock
              inside her perfect pink cave. Alas, nothing lasts forever. I finally felt a surge coming that I couldn’t
              control. No manner of any self-control would stop what was to happen.
            </p>

            <p>
              Susie’s eyes opened wide as saucers, feeling my cock get harder, bigger, thicker, starting to twitch. She
              was about to say something, but that’s when it hit. With all my force, I shoved my cock deep, stretching
              her cervix, lining up her external os with the hole of my cock. The massive surge erupted at high pressure
              right into her womb. I saw Susie&#39;s pupils expand, and suddenly her whole body reacted to a massive
              amount of heavily charged neurotransmitters lacing my sperm.
            </p>

            <p>
              Her whole body contracted, her every muscle collapsing into a cramped state. Her breathing stopped, unable
              to unlock her muscles for air. One-Mississippi, two-Mississippi, for the whole ten seconds she remained
              like this, then one big gasp she inhaled a lung full of air, releasing it the very next moment in an
              earth-shattering scream.
            </p>

            <p>
              One after another, screams spread over the water, scaring a small flock of seagulls following us for a
              while. Her whole body convulsed, shook and contracted, every muscle trembling like electrified. Susie
              looked like someone connected to the electric chair only untied. Her limbs flapped convulsing,
              contracting, her fingers moved like playing the clarinet. Her howls, moans, screams and cries seemed
              endless.
            </p>

            <p>
              Out of her eyes, tears rolled down in little streams, joining the drool and leaking milk, mixing together
              into one big mess. Her pussy contracted so hard it almost prolapsed when I pulled my cock out. Finally
              relieved of massive pressure of my cock inside, her pussy exploded all over the front of the boat,
              expelling all the piss she had inside. I still had sperm coming out, so I shoved it back into her pussy
              and kept pumping and pumping. On each downstroke, the extra would squirt out and spread on the boat. I
              didn’t care. I kept fucking Susie while she screamed, gurgled and coughed, drowning in her own spit.
            </p>

            <p>
              Every neurone of her body firing, and firing and firing again in massive waves of overstimulated insanely
              powerful pleasure. For twenty more minutes, I kept fucking Susie, careless that she was half dead. When I
              finally finished, I stood, bathing her body and face with the last of my cum, glazing her all over. She
              looked like someone poured a carton of milk all over her before I moved away, stood and watched her writhe
              and flap like some crazy bug on a hot plate.
            </p>

            <p>
              I looked at the bitches, and both stared with big eyes and jaws opened wide. I fucked them before and bred
              them once but what they got was just a fraction of that. They never saw a single girl being properly bred
              and the most insane torture they couldn’t even imagine. One of them had a phone in her hands recording the
              whole breeding process from start to end. The other one ran up to me, dropped to her knees and kissed my
              feet. “Please master, I beg you, please, I will do anything you want, just please do me like this just one
              time in my life”. I took her hands, pulling her up. The girl was gorgeous.
            </p>

            <p>
              “Are you sure you want that?” I pointed at insane squirming Susie. The girl nodded like mad, saying, “yes,
              yes, please, master, yes yes”.
            </p>

            <p>
              “I’ll tell you a secret. I just discovered two things today. I absolutely adore these little boat trips,
              and I need to take more holidays. Why don’t you set up a date with me, and take me for a nice island trip,
              and I’ll give you exactly the same thank you like this, just make sure you are ovulating.”
            </p>

            <p>
              “I can’t do that, master. I am pregnant”. I hugged her tight, kissing her hard, “well shit then, you’ll
              just have to fuck me for fun”. Her eyes opened wide, she squealed and jumped, hugging me hard, squealing,
              “thank you, oh, thank you, master”. With screaming, squirming, bouncing and shaking Susie, looking like
              some bizarre ornament, we continued our sailing trip. It was late in the evening before we docked. After
              many hugs and kisses from the two cute bitches, I threw shaking Susie over my shoulder. Getting on an
              electric scooter, I carefully rode back home, handing Susie over to Angie and the rest of my girlfriends,
              all of them jumping in joy from seeing she had returned.
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/gp/product/B09T3TZPR4'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3tRvHR1'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details?id=DzRxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />
 
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
