---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title="Jack's island | Prologue"
  description="Jack's Island novel by Rumpel Stiltskin"
  image='/images/jacks-island.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <img src='/images/covers/jacks-island.jpg' />
          <p class='emp grey'>JACK'S ISLAND</p>
          <h1>Prologue</h1>
          <div class='biggest'>
            <p>
              I looked through the plane window, leaning over my girlfriends Angie and Lucy, saying goodbye to
              everything I knew, embarking on a wild adventure. Looking around, I saw my five other girlfriends deep in
              thought, undoubtedly preoccupied with the same types of feelings. A group of journalists and cameramen sat
              relaxed settled nicely in my hundred-seater executive jet plane. They just learned that I owned it, adding
              to my mystique and the clandestine way we were taking off in a direction unknown.
            </p>

            <p>
              “I own a plane”, I thought to myself, chuckling, “who would have guessed”. If someone told me that I would
              set up a successful business and sell it for ninety-three billion a year later while still a teenager, I
              would tell them to get off drugs. My majordomo Charles told me that I had the same business sense as my
              grandfather, a man I never met. I lived all my life as a simple boy, single child of a county sheriff. I
              don’t know how I could possibly develop those skills. I was, of course, smart enough to know that it
              wasn’t all me, but the tireless work and dedication of hundreds of women who decided to join me. All of
              them contributed something to make it work.
            </p>

            <p>
              “Attention, please”, Lola interrupted everyone, referring to journalists on board the plane. “Dear
              friends, we have chosen you for your excellent reputation and quality work to spend a week with us on
              Jack’s Island”.
            </p>

            <p>
              “What’s Jack’s island?” one eager journalist asked immediately. Lola smiled at her, not minding the
              interruption. “It used to be an island in the Caribbean owned by Jack, which we bought out completely from
              Venezuela and registered it as an independent country, ruled by one king, Jack the first”. Everyone
              gasped, shifting their looks from Lola to me and back. It took them a while to process what she just said.
              Immediately Lola was bombarded by questions, some of them redundant. Patiently with an amused smile, she
              answered. Thirty minutes later, they exhausted themselves, and Lola continued with her planned
              presentation, telling them about the island’s history and her involvement with it.
            </p>

            <p>
              “So, help me understand. Jack gave you millions to play with, and you made a country”, asked one
              bewildered journalist. Lola said, “not just a country, a whole nation. All the people that you see here
              are its citizens”, and giggled. “Who are you” another journalist responded in shock. “My name is Lola. I
              work for Jack”.
            </p>

            <p>
              The journalists didn’t know what to make of it all. “So Jack gave you the money, and you just built a
              whole new country? How on earth do you even get such an idea? Is it even possible?”
            </p>

            <p>
              “Oh, it is very much possible. If you check with the United Nations, you will find Jack’s island there.
              Many of us came from poor backgrounds, some of us had terrible prospects in life. Jack asked me to use my
              imagination when he gave me an island and money to build a place where all of us were happy and welcome.
              Our own paradise. Unfortunately, we couldn’t just buy a large farm and do it there because it would still
              be subject to the laws of the country, so I decided to cut out the middleman, and we made a country of our
              own with Jack as the king.”
            </p>

            <p>
              “But he is just a kid. How’s that even possible? How old is Jack?” Lola told them I was almost twenty now.
              Everyone just shook their heads, trying to process all she told them. I saw them look my way, sizing me
              up. I was five-eleven, good looking and muscular with chestnut hair and blue eyes, fit and sporty from all
              the martial arts and well dressed, attractive but nothing incredibly different from most other guys my
              age.
            </p>

            <p>
              “The island is currently home to over three thousand people. Many new immigrants are coming each day from
              all over the world, looking for a better life and better future.”
            </p>

            <p>
              “So you are actively trying to build it into a real country, and people around the world want to join?”
            </p>

            <p>
              “Yes, that is correct. We have a backlog of over ten thousand applicants. The only reason we don’t bring
              them in yet is logistical.”
            </p>

            <p>“And all those people decide to join you because they share your beliefs?”</p>

            <p>“Absolutely! They all believe the same, want a better life and be a part of our family.”</p>

            <p>“So, in essence, you are something like a religious cult on steroids?”</p>

            <p>
              “Not really a perfect analogy. We have our own robust belief system, but most of us aren’t particularly
              religious. If anything, we believe in science and demonstrable facts, but we do have people who pray to
              God as well”, Lola said with a giggle. “On Jack’s island, everything is permitted that doesn’t hurt others
              or the island.”
            </p>

            <p>“Everything? Even drugs?”</p>

            <p>“Drugs are illegal because they harm you, so there aren’t any.”</p>

            <p>
              The journalists frantically wrote down all that. Some have pulled out their laptops, typing it all in. It
              was a lot to digest. Lola went through the island’s early history, how it was just a large tropical island
              that, with a lot of help from a few dozen girls, she managed to urbanize, build a whole town, bungalows
              and four massive hotels. The entire island was made eco-friendly, water reclaimed from the sea, energy
              from wind farms and renewable sources with a heavy focus on sustainability. She told them how we spent
              millions pulling irrigation through the jungle, made little wooden paths around the islands, stone
              footpaths for electric scooters and people walking around. There were no pollutants, and all waste was
              either composted or recycled. She went on into the smallest details of how we created our own gold-backed
              cryptocurrency, made deals with offshore banks for clearing and trading with gold, a military alliance
              with Venezuela. There was a huge amount of information to process in a short span of time.
            </p>

            <p>
              The journalists kept bombarding Lola with questions, and she kept answering them, painstakingly avoiding
              our biggest secret that everyone on the island was related. Those three thousand some inhabitants were all
              women, my girlfriends, my lovers, my friends, my bitches and my breeders. All the women on the island had
              one thing in common, my genes. They all were pregnant, carrying my children, which made them connected to
              me closer than anyone imagined.
            </p>

            <p>
              It was the truth. I was building a nation, a genetically pure nation where every single person carried my
              genes. Moving to the island was easy. All you had to do was pass the screening and commit to having
              children with me, becoming a part of my family. The world outside was falling apart from all the political
              misadventures, wars, poverty and armed conflict. There was no way to fix this. As they say, the only way
              to win that game was not to play, and Jack’s island was the answer. We decided to build our own society
              where all the people are connected genetically, one huge family. None of us had the will or energy to try
              fixing the broken world. Instead, we decided to start anew, build our own world on Jack’s island,
              separate, isolated from most of the others.
            </p>

            <p>
              Sitting on our sofas, we’ll watch the world burn, playing by our own rules, letting the others either tire
              out or destroy themselves while we mind our own business. We brought the journalists with us to show them
              our island to spread our message worldwide and tell millions of young women that there was another way. We
              didn’t want to hide, living in a jungle. We wanted the people to look up to us and see hope. It was a
              conscious effort to build a society based on a completely different set of beliefs we piloted inside my
              company.
            </p>

            <p>
              I had no illusions and knew that for now, everyone would just laugh at the bunch of teenagers running
              around naked on a tropical island. Soon enough, though, as we develop, the conflict would find us, leaving
              us with the question, “what happens then?” The only way to create a stable society was to engineer it, and
              that’s what I set out to do by breeding thousands of my children. All previous efforts to achieve
              something similar have failed because they didn’t incorporate the most critical component; nurture.
            </p>

            <p>
              I’ll watch my kids grow inside the framework I created, believing things I taught them. They will give
              birth to a new civilization, unlike the one drowning today. This was the whole nature versus nurture
              debate. You can’t just make kids and hope for a good outcome. You have to nurture the final result, lead
              the flock to the water and show them the way. My girls knew this from day one. They saw the light even
              before it became my plan. They sacrificed everything to help me reach this goal, and now with every
              breeder, we were a step closer.
            </p>

            <p>
              Thousands of women worldwide wanted to join as breeders. It wasn’t the money or charmed life. They saw
              what we were doing and believed it with all their hearts. None more than those who called themselves
              bitches. My dedicated, fanatic loyal servants and believers were willing to sacrifice their lives for a
              better future, not for themselves but for everyone.
            </p>

            <p>
              Lola kept answering questions one after another. The tireless journalists wanted to know everything. She
              told them about flocks of macaws flying around and friendly peacocks walking about. I got a little bored,
              so I snuggled against Lucy, closed my eyes and fell asleep. After we land, there will be little rest. I
              had a country to build and a nation to breed.
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/gp/product/B09T3TZPR4'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Apple -->
              <a href='https://apple.co/3tRvHR1'
                ><img src='/images/apple-books-badge.png' class='retailer' style='height: 35px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details?id=DzRxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>

              <a href='/books/jacks-island/preview/chapter-1-jacks-island' class='retailer preview-button' style='margin-top: 10px'
                >Chapter 1 - Jack's island >></a
              >

              <!-- <a href="chapter-1-champagne-and-roses" class="retailer preview-button" style="margin-top: 10px">Next chapter</a> -->
              <!-- <a href="https://www.smashwords.com/books/view/1070773"><img src="/images/smashwords.png" /></a> -->
            </div>

            <br />

            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
