---
import Layout from '../../../../layouts/Layout.astro';
import Navbar from '../../../../components/Navbar.astro';
import Footer from '../../../../components/Footer.astro';
---

<Layout
  title='Woman Scorned - Chapter 1 - A woman scorned'
  description='Woman Scorned novel by Rumpel Stiltskin'
  image='/images/woman-scorned.jpg'
>
  <Navbar />
  <main>
    <div class='monster'>
      <!-- <img src="/images/biglogo.png" class="biglogo biglogo-spaced" /> -->
      <div>
        <br />
        <br />
        <br />
      </div>

      <div class='grid'>
        <!-- <div class='big-cover'>
          <img src='/images/covers/montana3.jpg' />
        </div> -->
        <div class='book-reader'>
          <img src='/images/covers/woman-scorned.jpg' />
          <p class='emp grey'>WOMAN SCORNED</p>
          <h1>Chapter 1 - A Woman Scorned</h1>
          <div class='biggest'>
            <p>
              “Fuck you, Tom! I never want to see you again. Now sod off! I have a customer coming in” Avery slammed the
              door in Tom’s face, stomping off to her bedroom. Already dozens of desperate unread messages filled her
              inbox. Tom kept texting her with pleas for forgiveness and apologies, begging her to stop what she was
              doing and reconsider. Avery never blocked him or avoided him. She wanted him to know, to suffer and reap
              the storm of his own doing.
            </p>

            <p>
              Avery knew Tom would keep trying, doing anything to win her back. Ever since she returned from America,
              Tom was like a dog with a bone, appearing everywhere, stalking her, begging her for forgiveness, pleading
              to take him back. He was one persistent bastard, which was always his one defining trait. Avery’s constant
              rejections had a similar effect on Tom as toreador’s red cape would have on a bull. He kept charging,
              becoming more desperate, more aggressive, headless, and enraged each passing day.
            </p>

            <p>
              Tom almost broke down Avery’s door when he found out that she became a call girl, a prostitute, a hooker,
              a whore. All the colourful names he called her in one furious breath, screaming at her to let him in,
              banging at the unyielding wooden entrance to her apartment. The innocent little angel that he loved so
              much becoming another man’s plaything for money wasn’t something his brain could process or stomach
              digest. Tom actually vomited, watching from across the street a middle-aged guy enter Avery&#39;s home,
              imagining him naked in bed with the love of his life.
            </p>

            <p>
              It used to be their home, and he was the one who paid for it, the home they shared for two years. It was
              the home where he made sweet love to Avery, the pure and innocent angel who gave him her virginity, to
              whom he gave his heart. In his head, he saw that stranger defile his loved one, fuck her hard on their own
              bed, soil the sheets he used to sleep on with his bodily fluids. All the sick, perverted things that Tom
              did to other women now came back to haunt him wearing the face of his sweet angel Avery used by some fat
              old man who paid her for sex.
            </p>

            <p>
              It all started in kindergarten. Tom and Avery were the same age, and that’s where they met. She used to
              run around screaming, and he used to pull her pigtails. Avery was always beautiful from the moment she was
              born. She radiated that naive innocence and poise which made everyone around her smile. All boys saw it
              but would keep away because Tom threatened them with endless pain. He knew that Avery was his one true
              love in his heart of hearts.
            </p>

            <p>
              The two never really made friends, mixing in separate circles well into the school days. Everyone knew the
              score, though, and it was that obvious. Avery was a beautiful princess, and Tom was her watchful guard
              dog. He would make sure to let everyone know to keep away from her, or they’ll have a problem, and he
              meant it.
            </p>

            <p>
              It was a meeting of two worlds like some Shakespearian tragedy. Avery was a gorgeous girl from a
              working-class family, and Tom was a boy born with a silver spoon. His father was a top manager in a large
              company with a stay at home wife. Together with Tom’s sister, they were one close-knit family from old
              Irish stock, well-bred, well connected, smart, educated and affluent.
            </p>

            <p>
              As kids grew, their bodies changed. Tom turned tall, sporty and muscular from all the football games.
              Already six feet tall at the age of sixteen, Tom was a catch, drawing attention from many young women. He
              was an honour student, captain of the school football team. It looked like he had it all, looks, fame and
              money, but he only had eyes for Avery.
            </p>

            <p>
              If Avery was pretty as a child, by the age of sixteen, she was positively stunning, gorgeous, irresistible
              and charming. She moved with graceful elegance and unconscious poise. Her straight, rich brown hair hung
              down her developing body, clearly showing a sinuous feminine figure. Her eyes were blue, and her smile
              enchanting. One could imagine Avery was an angel if her long slender legs weren’t firmly attached to the
              ground.
            </p>

            <p>
              Just seeing her smile or hearing her crystal laughter, people were immediately bewitched, drawn to her
              like moths to a flame. None, of course, dared come close for fear of facing Tom’s wrath. There was always
              something dark and menacing inside Tom. It was in his eyes. It was the way he looked at people or through
              them like they weren’t there or none of them mattered. For him, they were all just tapestry of life, pawns
              in a great game. What Tom wanted Tom got. It was just a matter of persistence and time, and Avery was the
              one he wanted more than anything or anyone.
            </p>

            <p>
              Tom was like his dad in many ways, the only man Tom looked up to and admired. If one met Diarmaid, he
              would think, “what a nice guy”. He was well mannered, articulate, tall, impeccably dressed and attractive
              for a middle-aged man, looking a lot like Tom with his brown hair and blue eyes. This, of course, was just
              a facade, a charade to seduce and mesmerise everyone who met him for the first time. Only a few people
              knew Diarmaid well, the ruthless businessman and authoritarian who didn’t skimp of dishing out lessons
              with his thick cow-skin belt, regardless of whether it was his wife or his two children.
            </p>

            <p>
              Tom loved and feared his dad, the man who didn’t respect anyone but himself. The only weakness the man
              ever had was for Tom’s younger sister Susie, his little angel. She was the only girl apart from Avery that
              Tom acknowledged, an apple of her father’s eyes. The old man loved her, treated her like a princess,
              something she returned with all her adoration and respect. Susie always looked up to the two men in her
              family, her father and brother.
            </p>

            <p>
              “All women are whores son”, Diarmaid would say since Tom could remember. “You have to keep it in your mind
              forever. You have to find a pure one, like your sister. The one who never knew a man’s touch, the one who
              will give you her love and children. You can love such a woman. The rest are just whores to use and throw
              away”.
            </p>

            <p>
              If Freud was alive, he’d have a field day just digging inside Diarmaid’s head. It wouldn’t take a
              psychologist to know the man had a rampant madonna-whore complex, and he was teaching it to his children.
              Unknown to all, Diarmaid was terribly damaged, but he hid it perfectly well. He never spoke about his
              past, his parents or siblings, and nobody in the family knew if they even existed. One time Tom tried
              asking about them earning himself fifty lashes with a belt.
            </p>

            <p>
              There were just some topics that were forbidden, and Tom stumbled on one of them, quickly learning the
              lesson to never broach the subject again. The only thing he knew about his dad was that Diarmaid came from
              a small town outside Belfast. He only found that by accident, digging through some old papers when looking
              for his school transcripts.
            </p>

            <p>
              One could say the old man was a tyrant, a misogynist of the worst kind, perhaps even a sociopath if you
              knew him enough. Fortunately for Diarmaid, people preferred to close their eyes, focusing on how much
              money he made. Diarmaid was highly effective in his job, ruthlessly managing employees, firing them for
              any reason and rewarding the quiet, obedient ones. He was the man senior execs used when downsizing and
              getting rid of people. For some reason, Diarmaid revelled in this job, justifying it with the phrase, “the
              easiest way to make money is to fire someone&quot;. A penny saved is a penny earned. The rest of them will
              just have to work harder. They should be thankful they didn’t get fired. That was Diarmaid philosophy, and
              he wasn&#39;t shy of sharing it.
            </p>

            <p>
              Diarmaid was a sadist with contempt for everyone apart from his own family, and he was imparting his
              knowledge to Tom, teaching him to follow in his footsteps. As they say, the apple doesn’t fall far from
              the tree, making one think how much of it is nature or nurture. One thing is sure, boys often inherit the
              sins of their fathers, perpetuating the misery to themselves and others. In Tom’s case, he never had a
              choice or a chance. One might say the events of his life were predetermined since his youngest age.
            </p>

            <p>
              In contrast to Tom, Avery had a completely different life. She was the kindest person in the world,
              trusting and naive. Avery was showered with attention from day one. Her family was poor but gave her all
              they had. What child needs more than love? Avery was awash with it from the moment she opened her eyes,
              held by her crying mother in a hospital. First came her brother, Lucas then she was born. Her dad was a
              train ticket inspector, and her mother a nurse in old people’s home.
            </p>

            <p>
              Her family wasn’t particularly religious, but they thanked God for everything they had. Avery never knew a
              sad day. Her parents taught her well to wish for others what she wanted for herself, always be happy with
              what she’s got and never covet anything that others had. She was a shy child but not an introvert. Her
              heart was kind and full of love. Avery dreamed of becoming a veterinary nurse and helping sick and
              homeless animals. If there was a living angel, she was the one. She often dreamed of living on a small
              tropical island full of magical extinct creatures like the dodo. It all started after reading books by
              Hugh Lofting as a child about Dr Doolitle, a man who could speak to animals.
            </p>

            <p>
              Since early childhood, Avery would find lost puppies and cats, bring them home and nurse them to health,
              then knock on doors, finding them a permanent place to live. Avery knew that she was beautiful, but she
              never felt like a princess. She never looked down on others, always helping and giving her spare cash to
              the homeless. Her parents met in high school, married and never stopped loving each other. The couple
              wanted kids as an extension of that love. Avery dreamed of finding a boy like her dad someday, who will
              give her a home and life full of love. She never cared for money but wasn’t stupid. She was willing to
              work hard and contribute to the family. Avery never had a lot but always enough and never complained or
              envied anyone.
            </p>

            <p>
              When she first met Tom in kindergarten, she thought he was a cad, and he would pursue her everywhere she
              went without giving her rest. As she grew and hormones changed, she started to see him differently.
            </p>

            <p>
              It wasn’t a secret that Tom desired Avery, and he made sure that everyone knew it. If you’re a guy, you
              better stay away was the message, and as much as Avery loathed him, she admired his commitment. She never
              saw Tom go after another girl, and he acted like an asshole, but at least he was consistent. Tom wanted
              only Avery, and she felt flattered. Not by the man but by his relentless persistence. It was clear to her
              that the boy wanted her more than anyone else. If he was committed enough to chase her for almost a
              decade, perhaps he could change for her and learn to be a better man. Maybe she could change him and save
              him from himself.
            </p>

            <p>
              Avery finally broke down when she lost her mom. After a brief and terrible fight with cancer, her mom
              died. It crushed the man who used to be Avery’s dad remaining but a shadow living in the past left to live
              out his life with a broken heart. Her brother had to drop out of university and find a hard job to support
              the family. Avery just slipped through the cracks, not getting any emotional support, let alone love. She
              was addicted to loving and being loved, and all that abruptly stopped when her mom died.
            </p>

            <p>
              It was then that Tom saw his chance. Promising the world to her, promising he would change, asking her for
              help to show him how to become a better man. Avery believed him. She silenced the warnings and wanted to
              trust him. She needed someone to be hers, to love her, to hold her in his arms and keep her firm and
              steady. Tom swore to God and all that was holy that he would be the man she deserved. He wanted her more
              than anything in the world, and there was nothing he wouldn’t do for her. He begged her with tears in his
              eyes to give him a chance, to save him from himself, so show him the way and make him into a man. Moved by
              his sincerity, Avery took his hands into hers and said, “yes”. This was her first mistake.
            </p>

            <p>
              Tom slapped himself, screaming hysterically for being such an idiot, dropping his guard, allowing Avery to
              discover his secrets. He never thought she would snoop through his stuff, but someone tipped her off. Tom
              swore to murder the culprit when he found out who it was. His blood boiled in a terrible rage. Tom had an
              extremely short fuse, another trait he inherited from his dad.
            </p>

            <p>
              At first, Tom thought the situation was hopeless. He got depressed, walking around town like a rabid dog,
              snapping at people. This reflected in all aspects of his life and every moment, affecting everything he
              touched, including his game, the thing he cared about the most. “You gotta wake up, man, snap out of it.”
              His best friend Steve said, offering him a hand to help him up from the grass after running into him on a
              football pitch, making him fall after losing the ball.
            </p>

            <p>
              Steve and Tom were best friends for donkey’s years since they started school. It all started as a
              competition with Steve expressing an interest in Avery back when they were kids. Finding out, Tom ran into
              Steve, tackling him to the ground, which quickly escalated to a fistfight, with all other kids surrounding
              them in a hallway, shouting, “fight, fight”. The boys were quickly separated and taken to the principal’s
              office to be reprimanded, but not before they managed to break each other’s nose. They stopped on the way
              to the nurse’s office to get them stuffed with gauze.
            </p>

            <p>
              Of all the guys in the school, Steve was the only one who posed a credible threat to Tom. He was a tall,
              dark and handsome boy with piercing blue eyes and a confident demeanour. Steve came from a wealthy family
              and had this aura of superiority about him. In some way, Steve was Tom’s nemesis. Both guys ran their
              cliques, except that Steve did it with eloquence, while Tom used aggression and threats. It was inevitable
              for the two of them to clash. Avery just provided the spark.
            </p>

            <p>
              The boys were made to shake hands and apologise, both of them suspended for a couple of days to think
              about the wrongs they’ve done. This naturally escalated to boys’ families meeting. While two fathers
              exchanged threats and apologies, Steve and Tom sat down and talked, finding out they had a lot in common.
              Steve wasn’t really interested in Avery. He preferred the girls with more availability. Avery was too
              goody-two-shoes to keep Steve’s interest. He didn’t like the chase, preferring to be chased himself. Steve
              just messed with Avery to provoke Tom. It bothered him that he was the most popular guy in the school
            </p>

            <p>
              After that incident, the boys became friends, figuring out that the school was big enough for both of
              them. Later, when they were both chosen for the football team, the two became besties. It always bothered
              Steve that Tom was made a captain over him, but he wouldn’t do anything to directly challenge him, and any
              such action would get him kicked out. As the coach always said, “there is no I in team”.
            </p>

            <p>
              “I said, snap out of it, Tom. We’ve got a game to win. Focus and concentrate. Stop being so much in your
              head”.
            </p>

            <p>
              “You’re right, mate. Sorry for that”, said Tom, pulling on Steve’s hand, getting himself up, shaking off.
              Avery never ghosted him, which meant she was still listening, and he could get her back. All he had to do
              was to keep pressing on relentlessly. Sooner or later, the opportunity would present itself, just like it
              did, back then when they started.
            </p>

            <p>
              The word on the street was that she was doing poorly, crying, not eating, and he smiled viciously, getting
              back into the game. Tom knew Avery couldn’t live without him. Over the years they were together, he
              systematically infiltrated her circle of friends just for such eventuality, followed by her family, slowly
              taking control of her whole life, detaching her from everyone but him. Tom promised her that he would
              change and become what Avery needed, but he couldn’t help himself any more than she could become someone
              else.
            </p>

            <p>
              Eventually, Tom became Avery’s king. He dominated her life completely, and she was his unwitting
              marionette in a gilded cage, tied to his fingers by invisible golden threads. Once she opened her heart to
              him, loving him unconditionally, nothing ever mattered. Tom was her man, and she was in love. That’s what
              she learned from her mother in the same way Tom learned how to be a ruthless manipulating, misogynist and
              a control freak from his dad.
            </p>

            <p>
              Over the years, Tom wore Avery down, moulded her relentlessly into what he wanted her to be, leaving her
              helpless, utterly dependent on him. Now Tom had trouble coming to terms with everything collapsing so
              spectacularly like it did. He thought that his grip on Avery was complete, yet somehow she found the
              strength to resist him. “What the hell happened when you went away, Avery?” Tom mumbled in shocked
              disbelief, running to another side of the pitch while Steve passed him the football. Tom scored, and the
              crowd cheered. Another win for the team. The guys ran to him, lifting him up and celebrating. They were
              through to quarter finals, which meant another trip, except he wasn’t happy. His mind was far away, deep
              in his thoughts about the girl he loved.
            </p>

            <p>
              Everything changed when Avery went to America, and she just disappeared. It took Tom days to find out
              where she went, far beyond his reach. Tom’s family had money and connections, but they didn’t extend that
              far, so all he could do was wait for her to come back. He texted Avery daily, seeing that she read the
              messages, but she never replied.
            </p>

            <p>
              Tom had the whole plan worked out for when Avery returned. He was going to woo her and win her over, no
              matter at what cost. He felt confident about it until about two weeks after she got back in secret, giving
              him the shock of his life.
            </p>

            <p>
              Out of nowhere, Tom received an email from an unknown sender with attached pictures of Avery offering sex
              services to anyone who paid. He refused to believe it, eating himself up from the inside for hours. He
              called the posted number from a payphone across the street, finding Avery’s ad glued to the window for the
              whole world to see. Alongside were ads of a dozen other call girls offering sexual services. Any stranger
              could get in, see Avery&#39;s picture wearing a sexy black micro bikini, call the number on the card and
              arrange to fuck her. Tom knew the process well, having done the same a hundred times before.
            </p>

            <p>
              He waited, standing like frozen inside a red telephone box, listening to the dial tone, holding the
              headset tight to his ear. His lips were dry, his hands trembled from stress and suppressed rage. Quickly
              he hung up as soon as Avery answered, immediately recognising the sound of her voice. He felt dizzy, tried
              to get out, but it was all too much. The world was spinning. It was suffocating; there was no air, his
              heart wanted to jump out of his chest. Tom puked, collapsing on the floor of the phone booth
              hyperventilating, struggling for breath; he was drowning. The passers-by seeing his distress, called an
              ambulance, who quickly came, taking him to a nearby hospital where he was given a sedative. “Don’t worry,
              Tom. It was just a panic attack. You’re healthy as a horse. Just calm down. I’m going to give you some
              pills and a referral to a psychologist”, said the doctor before showing him the door.
            </p>

            <p>
              The following day another email came with a photo of Avery sucking cock of one of Tom’s teammates and the
              day after a picture of another guy on the football team sticking his bareback cock into Avery’s pussy. Tom
              ran to the football club, confronting his buddies. They all confirmed that they had had sex with his
              girlfriend. “Wake up, forget the little whore and stop mopping about, move on and find yourself a more
              accommodating girlfriend”, Steve said. In the state he was in, Tom was hurting the team. They wanted him
              to stop, get over Avery and get back to the game.
            </p>

            <p>
              The world turned dark. Tom felt like watching it through a tunnel. In a sudden uncontrollable explosion of
              rage, he lost it and came after the guys, swinging. The team beat him up, calling him pussywhipped cunt,
              before leaving him a bleeding mess, crying on freshly cut grass. For the rest of the week, pictures kept
              arriving with just about every teammate having a turn with Avery before the final video, showing the whole
              team gang banging her, laughing, drinking beer, spilling it on her as they fucked her.
            </p>

            <p>
              Tom broke down crying, feeling miserable and helpless. He tried to confront the guys once more, but they
              just kicked him out. The coach pulled Tom to the side and had a quiet chat, explaining that he was off the
              team. Nobody wanted to play with him anymore. Tom was a nervous wreck and liability, so the rest of the
              guys gave an ultimatum. Either Tom’s out, or they all be leaving.
            </p>

            <p>
              Without his boys, miserable and alone, he returned to Avery, knocking on her door. Begging her in tears to
              forgive him, promising that he was willing to do anything, take any punishment if she just took him back.
              In the depths of desperation, he clung to the deep love he felt for her and couldn’t let go. It was all he
              had, and he would die before he let it disappear.
            </p>

            <p>
              Avery mercilessly sent him away like any other day, telling him to get lost before her next customer came,
              and she forfeited the sale. Tom was already arrested a couple of times and knew she would call the police
              again. He crossed the road and sat at the bus station, watching a man park his car and enter. An hour
              later, he saw him leave with a smile, a little sweaty, slightly dishevelled, fixing his zipper as he
              walked. Tom vomited again into a nearby bin, watching the man sit in his car and drive off. Thirty minutes
              later, he saw another car park, another man knocking on Avery’s door.
            </p>

            <p>
              Avery felt crushed and humiliated, finding out that Tom’s been cheating on her for years. He was screwing
              around with his football buddies, hiring prostitutes, going to swinger clubs, gang bang and bukkake
              parties while she sat at home trusting her boyfriend’s lies, patiently waiting for him like a good wife.
              When Tom told her that he had a game, she believed him, never even considering that he would be unfaithful
              to her. She learned much later that half of those games were just excuses. The lads would fly off to
              Frankfurt or Prague, going straight to the brothels, throwing money at loose women in one colossal party
              lasting the whole weekend. When Tom said that the team played San Diego, she never thought anything about
              it. After the game, the guys crossed into Tijuana, binging on street girls, drinking and screwing from
              club to club, pulling the best lookers into hotels for around the clock group sex.
            </p>

            <p>
              Their whole relationship turned out to be a big fat lie. The worst part of it was that everyone knew about
              it. Tom and Avery have been a couple since they were sixteen. They went to the same school, the same
              classes. He was the captain of a football team, and she was the prettiest girl in the school, the
              untouchable virgin.
            </p>

            <p>
              Tom chased her since kindergarten, swearing love and devotion until she finally relented. They dated for a
              year, just kissing and holding hands before she let him take her virginity. Tom was thoughtful, kind,
              patient, generous and understanding. He was her one true love, a life partner, all that she ever dreamed
              of. They talked about getting married and having kids, and she dreamed of giving him a son and calling him
              Tom. Suddenly at the age of twenty, she found out it was all a big fat con. Tom broke her heart, made her
              look like a fool, a laughing stock. He took everything from her and destroyed her soul.
            </p>

            <p>
              For years Tom groomed her, f her an impossible dream. One compromise after another, she turned herself
              into a perfect little housewife for him. She dropped out of school, lost friends and interests, became
              whatever Tom wanted. When he cheated on her, Tom didn’t just ruin their relationship. He crushed all her
              dreams, destroyed the identity that he helped her build.
            </p>

            <p>
              Avery became nobody, Tom’s play toy, the uneducated, hopeless shadow of a broken dream. Then, he took even
              that away. Over the years of their relationship, Tom slowly encouraged, coerced and manipulated Avery into
              becoming his perfect woman. Each day, year on year, chipping away a little of her until there was no Avery
              left, just a carefully crafted creation of Tom’s imagination.
            </p>

            <p>
              When it all came crashing down, Avery was stuck, lost, disoriented. She couldn’t go forward because there
              was no Tom to tell her where, and she couldn’t go back because she couldn’t even remember who she used to
              be before him or what made her happy. Over the years they spent together, assisted by her blind faith, Tom
              erased Avery, leaving just a mindless doll that loved him, unable to think for herself anymore. She didn’t
              even know where to begin.
            </p>

            <p>
              “Forget that asshole. You’ve got so much promise. You are a strong independent woman with a bright future
              ahead. You’ll find a better man on your terms someday”, people would tell her, offering advice she didn’t
              want. Sometimes people, in their desire to help, don’t think, acting blind. We all project our own
              thoughts and values on others, then when it doesn’t compute, we criticise the result.
            </p>

            <p>
              Avery was always profoundly emotional and sensitive. Perhaps that was silly and naive, maybe even stupid,
              but that’s what she was deep down in her core. She never identified as a feminist. All she wanted to do
              was to live life on her own terms with one man, a partner for life. For Avery, it was enough. It was her
              dream, and nothing else mattered. She needed someone to love unconditionally and feel that love returned.
            </p>

            <p>
              Avery was deeply emphatic and emotional kind. All that ever mattered to her was love. She wasn’t dumb, but
              sometimes she wouldn’t think ahead. Her gentle nature abhorred suspicion and deceit. How does one prepare
              for something you can’t imagine? If people asked Avery, she couldn’t remember if she ever said a lie.
              Perhaps in this day and age, it is incredibly naive. Some would call it sweet, honest and decent, and
              that’s all she ever wanted to be. One man to love, a child and a home full of love. That’s all that
              mattered to Avery and all she ever wanted.
            </p>

            <p>
              The terrible way it all ended crushed her whole world. It destroyed her heart and squashed her soul. Avery
              was never prepared for something like that or even capable of imagining it. Everyone is different, unique
              in their own way. Avery was an angel that hit the ground, her wings still smouldering from the fall. There
              was no way for her to fly back to heaven again as Tom took her wings and burned them.
            </p>

            <p>
              Seeing her in such a terrible state, people felt sorry for her and wanted to help. They gave her advice,
              tried to show her a way to recover, but she was her, and they were they. Sometimes the things people
              believe are too incompatible. Avery was just different enough that there was no help. She dreamt big,
              sitting perched on a high wall until a storm blew her down and she had a great fall. All the king’s horses
              and all the king’s men couldn’t put Avery back together again.
            </p>

            <p>
              It is funny sometimes how life works. They call it Karma. Some say that the law of nature is that whatever
              you send into the world comes back threefold. The same was with Tom. When Avery found out and had a mental
              breakdown. She threw Tom’s computer containing all the proof of his infidelity at his head, breaking up
              with him viciously, crying and screaming. Only then did he realise how much he was in love.
            </p>

            <p>
              Tom begged Avery on his knees for forgiveness, promising everything, anything, to get her back. With tears
              in his eyes, he asked her to marry him. He was going to fix everything, do whatever she told him and
              suffer any and all punishments and degradation just to get her back.
            </p>

            <p>
              All the sex and the parties, the call girls and prostitutes meant nothing to Tom. All he wanted was a love
              of the woman scorned. Falling back to his old routine, he pursued her relentlessly, hoping to wear her
              down like in the beginning. She wasn’t returning his calls or answering messages, but she didn’t block him
              either, which meant that she listened. As long as she heard him, there was still a chance.
            </p>

            <p>
              Having lost Avery, Tom lost his mind. He never fully considered the consequences of his idiotic actions,
              playing fast and loose with the fire of his own making. Tom was too self-absorbed to entertain others. It
              was another lesson he learned from his father. Tom often bragged to his friends, telling them how eating
              hamburgers was fun when he’s got a steak waiting for him at home. All of his friends were jealous of Tom.
              He’s got a perfect girl, so sweet, loving and innocent, a great catch for any man.
            </p>

            <p>
              None of his friends understood why Tom fucked around so much. All of them partied with girls, but it was
              like a mission for Tom. None of the other women came even close to Avery in looks, let alone other
              qualities. Tom told them that he likes to experiment, have sex with the girls rough and hard, stick his
              cock in their arses, spit and piss on them, humiliate them and do all sorts of other depraved stuff that
              he couldn’t even suggest to his sweet, innocent angel, the love of his life. “All women are whores except
              Avery. She is different”, he would say, parroting the mantra he learned from his dad.
            </p>

            <p>
              Some guys teased him about it. He shrugged it off, not really caring about anything. He had plenty of cash
              to throw around, and he’s been cheating on his woman for years, feeling cocky about her never finding out.
              He was careful, and Avery trusted him, respected his privacy. It was all a perfect setup that allowed him
              to have his cake and eat it.
            </p>

            <p>
              The truth was that Tom wasn’t a sadist like his dad, but he was conflicted and deeply ashamed. He always
              had the most extreme sexual fantasies, repressed under a threat of his father’s belt. Tom always felt
              sick, like some sort of pervert listening to the judgmental comments of his father. Tom hid his true
              nature, repressed it and overcompensated, taking it all out on prostitutes as an outlet.
            </p>

            <p>
              All the pain, hate and humiliation from feeling like a monster he took on those women, wanting to punish
              them, projecting all that he was told was terrible and bad onto them. All the deep conflict and shame that
              he felt materialised in the form of a whip with which he punished crying women, not so much to hurt them
              but to hurt himself.
            </p>

            <p>
              His dad taught Tom to hate himself and project all the blame on women. This was why he was so terribly
              aggressive. He wanted to lash out and scream, but he was trapped. The man he looked up to more than
              anyone, his own father, would think Tom was a monster if he knew his son. Diarmaid hated everyone who felt
              different, especially those he called sexual deviants. He couldn’t digest them, stomach them at all. There
              wasn’t a single gay person or feminist working for his company. Diarmaid found a way to get them all fired
              without looking suspicious. Departments he ran were constantly rightsized, and people would end up
              redundant and kicked out. What he did was illegal, but Diarmaid was smart. He did it all in white gloves,
              protecting the company and covering his ass. The senior directors, of course, knew and unofficially
              approved. Diarmaid was a bin man, quietly cleaning the company of trash they didn’t want. If anyone
              complained to human resources, they were shown a door within a couple of months and found themselves
              unemployed. “I’m sorry, but due to restructuring, your role disappeared. Here is your severance. We wish
              you all the best”, he would say before security escorted them to their desk, and out the door, they went.
            </p>

            <p>
              Tom could only speculate how his dad would feel if he told him about his innermost thoughts. He imagined
              Diarmaid would go mad, take off his belt and beat him to death. The old man raised a scared boy who
              loathed himself, taking it all out on women he paid. Tom would get the money and hire prostitutes to take
              the vilest, incredible abuse. He did it in a way to punish himself for being a monster in the eyes of his
              dad.
            </p>

            <p>
              All Tom ever wanted to do was to make his father proud. For the old man to hug him and say, “I love you,
              son, the way that you are”. That was the one thing he got only from Avery. She was the one person apart
              from his sister, Susie that really loved him and always supported him. Avery always had Tom’s back, no
              matter what. She was his rock, the lighthouse in a storm of his life. As much as he made her a creature of
              his own design. Avery was the light of Tom’s life. She was the only person in the world to give him
              something he had never experienced. A true love.
            </p>

            <p>
              It all came to an abrupt end when someone anonymously sent Avery Tom’s picture from a strip club with a
              skanky naked, bleached blonde with huge fake tits and whore-lips sitting in his lap. Avery could still
              feel the moment she saw it. The sudden surge of emotions she had never experienced before. She didn’t know
              what to do with it, to scream or cry. The feeling was ugly, and it hurt from inside. Her heart ached, her
              stomach churned, and she found it difficult to breathe.
            </p>

            <p>
              Avery stared at the photo, her mind a whirlwind, trying to find a rational explanation, an excuse for it.
              “Maybe it’s photoshopped, maybe they set him up”, she mumbled, “it must be fake”. Her mind continued to
              make up far-fetched, elaborate excuses trying to avoid the pain and jealous rage, but as the Occam’s razor
              would suggest, the simplest explanation is usually correct.
            </p>

            <p>
              Tom and Avery decided to live together when they turned eighteen, but somehow it just wasn’t happening.
              They rented a lovely converted council apartment in Hallfield estate, short walking distance between three
              tube stations, Paddington, Bayswater and Royal oak, right there in Westminster, one of the most sought
              after locations in central London.
            </p>

            <p>
              The place was perfect with easy access to everything, be it shopping for groceries in Waitrose across the
              street or walking in Hyde Park, just around the corner. The place was easily connected to all major
              arteries, including train and airport, which mattered to Tom. You got to give it to the government when
              they build council estates as they often pick out the best locations for them in terms of access. Twenty
              minutes of slow walk to Marble Arch and Oxford street and forty minutes to Leicester Square and Trafalgar.
              Westfield was just a short tube ride, and Victoria was not too far to travel south. Little Venice was
              nearby for an occasional romantic stroll and a good meal in a local pub or a boat ride down London canals.
            </p>

            <p>
              One hears people talk about Kensington, Mayfair, or Notting hill. They are all overrated, full of
              foreigners, just like Ealing that reshapes itself with every immigrant wave or Knightsbridge, full of
              wealthy Russians, jokingly called Londongrad. London is a world city, a multicultural metropolis unlike
              any, home to every colour, shape, language and belief, living together in chaotic harmony. You hear people
              talking about Paris or New York, but none of them comes even close to the likes of London. Paris is gauche
              and pretentious, New York is crass and tasteless, both of them lack that quirkiness and verve one sees,
              sitting down in Soho for a meal. The only thing rare in London are native Londoners like Avery and Tom.
              Perhaps that’s why London is the first city to become a national park, to support the rare endangered
              species called the Englishman in their natural habitat. People of the world came to London to build their
              lives, shape the city, and create something remarkable in a world metropolis. No wonder that London is the
              wealthiest city in the world by the number of multi-millionaires calling it home.
            </p>

            <p>
              Westminster was far too expensive for Avery’s budget, but Tom had plenty of money. The young couple had
              the apartment for two years, it was their home, but Tom always found an excuse for not living there. He
              blamed his parents, sports, everything he could think of, and Avery believed him. Why would he pay so much
              money for a nice place like this if he wasn&#39;t planning to live there with her? Of course, Tom spent
              many nights with Avery at their home. They’d have a nice dinner and have sex till late, but in the
              morning, he always had something else to do.
            </p>

            <p>
              Avery never really thought about it until that terrible day when she received the photo. Her mind made all
              sorts of scenarios, questioning every minute detail of their relationship, realising that she made it easy
              for Tom to cheat. Avery was a perfect trusting girlfriend who loved him immeasurably. Tom was her first
              man, and she was resolved to make him her last. She gave him her heart, soul and body. He was her
              sunshine, her rays of dawn.
            </p>

            <p>
              After initial terror, shock and emotional upheaval, Avery forced herself to calm down, firmly deciding to
              give Tom the benefit of the doubt but fully intent on finding out the truth. As they say, “trust but
              verify”. She decided to trust him, but she would get to the bottom of this before blowing her gasket and
              letting loose her wrath. Going with another woman was so much out of Tom’s character. She never saw him
              even look at other girls, so why that? Maybe it was all a tasteless prank to shake things up. Avery busied
              herself the following day, cleaning the apartment, shopping and cooking. Late in the evening, Tom came
              home from his game, and Avery welcomed him with his favourite food, wine and candles.
            </p>

            <p>
              “What’s the occasion?” Tom asked Avery. “Ah, I just missed you so much and wanted to do something special
              for you, love”. They ate, drank and talked. Avery asked him about his game, secretly observing his
              reactions. They didn’t inspire confidence. Tom wasn’t lying, but he wasn’t telling her everything either.
              Finally, she said, “Come on, babe, have a nice relaxing bath while I get myself ready for you”, setting up
              the hot tub for him.
            </p>

            <p>
              Tom quickly undressed and got in, letting the jets of hot water massage him. Avery peeled open an
              aromatherapy towel, putting it over his eyes, lighting a few scented candles, playing soft music, creating
              a soothing ambience. Tom sighed, relaxing, savouring the feel and the scent, drifting in his thoughts far
              away. Life couldn’t get better than that. He had a great game, his team won again. Later he had a few
              drinks and a quickie with one of the female fans the boys were passing around.
            </p>

            <p>
              Avery tiptoed away quickly into her study, taking Tom’s laptop out of his backpack, placing it on her
              desk. You can’t live with someone without learning their habits. Tom was a lazy, privileged kind of guy
              who carelessly went through his life. This trait dominated all aspects of his existence, including his
              careless attitude to personal security. He used the same password for everything; his email, Facebook and
              of course, his own computer; it was “Avery” and her date of birth.
            </p>

            <p>
              She didn’t know how much time she’s got, so the first thing Avery did was to copy all Tom’s documents on
              her USB stick. She pocketed the device for later, intent on returning the computer into his bag, but her
              curiosity got better of her. “Let’s have a quick peek”, she mumbled, looking through his files.
            </p>

            <p>
              “What are you doing?” Tom asked, standing at the study door, wrapped in a white towel, watching Avery
              stare at his computer, tears rolling down her cheeks. She was watching a video of Tom urinating in the
              mouth of some blonde skank verbally abusing her with a slew of profanities, laughing at her as she
              swallowed his piss. It didn’t take Avery long to find the hidden folder. There were thousands of photos
              and videos of Tom with hundreds of different girls over the years. Most of them were blonde with big lips
              and massive fake tits, looking like sluts, and the sex scenes were grotesque and extreme. She couldn’t
              even imagine a person could get aroused by unnatural stuff like this.
            </p>

            <p>
              Tom’s voice broke Avery’s trance. She watched him with tears in her eyes, then something just snapped
              inside. An immense sense of anger washed over Avery, all the repressed doubt and fear releasing, turning
              into mindless fury. Her eyes burned, her face smouldering, her guts twisting and turning. “You cheating
              bastard, I will kill you motherfucker”. Avery screamed, losing it in a terrible explosion of wrath going
              nuclear, throwing the laptop, narrowly missing Tom’s head. She was like a hurricane, unstoppable force of
              nature, throwing anything she could reach at Tom, forcing him to pull back naked into the street, followed
              by flying objects, angry screams and violent curses.
            </p>
          </div>
          <div>
            <br />
            <div class='center retailers'>
              <!-- Amazon -->
              <a href='https://www.amazon.com/gp/product/B095SYLND9'
                ><img src='/images/amaz1.png' class='retailer' style='width: 100px; margin-top: 10px' />
              </a>

              <!-- Google -->
              <a href='https://play.google.com/store/books/details?id=CzRxEAAAQBAJ'
                ><img src='/images/google-play-badge.png' class='retailer' style='height: 60px' />
              </a>
            </div>

            <br />
   
            <div id='disqus_thread' class='disqus'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style lang='scss'></style>
